[2022-09-08 23:28] #1647 closed

[2022-09-09 03:38] bmfire1 opened #1648 "Runtime error: Failed to initialize platform (azure-c-shared). Error: 2153"
erro info as:

Unhandled exception. System.AggregateException: One or more errors occurred. (Runtime error: Failed to initialize platform (azure-c-shared). Error: 2153)
 ---> System.ApplicationException: Runtime error: Failed to initialize platform (azure-c-shared). Error: 2153
   at Microsoft.CognitiveServices.Speech.Internal.SpxExceptionThrower.ThrowIfFail(IntPtr hr)
   at Microsoft.CognitiveSer

[2022-09-09 06:52] pankopon commented on #1648
Hi, you need Ubuntu 18.04 or newer. Please see the platform requirements:
https://docs.microsoft.com/azure/cognitive-services/speech-service/quickstarts/setup-platform?tabs=linux

[2022-09-09 06:52] #1648 closed

[2022-09-09 13:13] jhakulin commented on #1635
@lenqing6 Databuffer_TimeStamp property is not supported by ConversationTranslatior, it is only supported in certain ConversationTranscriber scenarios.

Could you please provide more information what is the functionality you are trying to achieve?

[2022-09-09 13:16] jhakulin commented on #1641
@lenqing6 Thanks for the report. Currently offsets or audio durations are not supported for transcriptions of other participants in the conversation. I will create internal workitem for this as the support requires changes.

[2022-09-09 13:19] jhakulin commented on #1641
Internal work item ref. 4505060

[2022-09-09 13:21] jhakulin commented on #1646
@yulin-li Could you please comment on this issue?

[2022-09-09 16:14] glharper commented on #1644
@Aethey Is this code being run in a browser environment? (Node does not have support for direct microphone input).

[2022-09-10 13:47] yulin-li commented on #1646
`0x8 (SPXERR_FILE_OPEN_FAILED)` means the audio file you are trying to write to is not available, the possible reasons are folder not existing, wrong permission, or this file is opened by another program.

Please note `aspeak` is a project that abuses azure TTS service by hacking the endpoint only for demo.  Speech SDK is not designed to work with this demo endpoint. You need to get your own subsc

[2022-09-10 13:52] yulin-li commented on #1642
I think we have two potential ways for this. First is try to split your text into short sentences and synthesize them one by one. So you will know which sentence failed and retry that one instead of retrying the whole input.

The another way is to use [`word boundary` event](https://docs.microsoft.com/en-us/dotnet/api/microsoft.cognitiveservices.speech.speechsynthesizer.wordboundary?view=azure-dot

[2022-09-10 13:56] yulin-li commented on #1638
@iajzhan could you help on this?

[2022-09-11 06:05] singhwong opened #1649 "Are there plans to support maui?"
The sdk doesn't work properly in maui anymore, it fails when instantiating ‘SpeechConfig’ (I remember it was working fine in maui at the beginning of this year.)
`var config = SpeechConfig.FromSubscription(YourSubscriptionKey, YourServiceRegion);`
Tested Platforms: ios, android, maccatalyst

[2022-09-11 07:24] #1646 closed

[2022-09-12 01:41] Aethey commented on #1644
run in a browser environment,and the SpeakerRecognizer is work well

[2022-09-12 10:33] apobekiaris commented on #1642
thanks for the suggestions but really do not address my problem. None of these event provide actual audio bytes to save. My goal is :

I only see creating a parallel synthesizer to recognize the playing audio, but really does not look efficient

[2022-09-12 17:21] dargilco commented on #1649
Thank you @singhwong for opening this issue. I'm Darren from the Speech SDK team. By "maui" I'm assuming you are referring to the [.NET MAUI framework](https://docs.microsoft.com/en-us/dotnet/maui/what-is-maui). Which SDK version are you using now (which does not work) and which older SDK version worked? When you say "failed when instantiating" what exception is thrown and what is the exception me

[2022-09-12 19:13] JayR7 opened #1651 "ApiException: (404) Reason: Resource Not Found"
Greetings,

I'm trying to run a batch transcription for the first time, i have all the required parameters for transcription class except one is still missing, i can't find it and i don't know to what it refers, which is the ID of the transcription, could someone please tell me what exactly is it? how can i get it?

'def transcribe_from_container(uri, properties):
 """
    Transcribe all files in

[2022-09-12 19:21] chlandsi commented on #1651
Hi @JayR7 , you don't need to pass an id when creating a transcription; the id is generated by the service. Please have a look at the [sample code](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/batch/python/python-client/main.py#L34) for Python. Thanks!

[2022-09-12 19:25] JayR7 commented on #1651
Hi @chlandsi,
Thanks for your prompt response!
Actually, i tried at the beginning not passing an id, but it was showing me the error below:
![image](https://user-images.githubusercontent.com/52196205/189738465-555afd09-5c30-4e90-b998-f168dfcaf699.png)

so that's why i thought i have to pass an id.

[2022-09-12 19:34] chlandsi commented on #1651
Hi @JayR7 , it looks like you are using the sample against an outdated version of the swagger client (for the version 2.0 of the API, the sample is for the v3.0 version). Please remove the client package (something like `pip uninstall swagger_client`) and then follow the full [installation instructions](https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/batch/python

[2022-09-12 20:47] glharper commented on #1644
@Aethey I've tested the sample [here](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/js/browser/index.html) and gotten recognized callbacks using Intent Recognition. Would you mind downloading that sample, running it locally, and seeing if you see (recognized) lines in the bottom text area when you perform intent recognition?

[2022-09-13 02:46] Aethey commented on #1644
thanks for your demo,and i have running it locally,but the result like this :
<img width="691" alt="reco_err02" src="https://user-images.githubusercontent.com/17793203/189796194-8f3dd783-d237-43f9-afb8-fbdff4dd99c4.png">

no callback in recognized

about the LUIS part:
`    var intentModel = speechsdk.LanguageUnderstandingModel.fromSubscription(
      APPKEY,
      APPID,
      "westus"
    );

[2022-09-13 06:05] singhwong commented on #1649
Hello,
I caught the exception, the exception is as follows:
`System.DllNotFoundException: libMicrosoft.CognitiveServices.Speech.core.so
   at Microsoft.CognitiveServices.Speech.SpeechConfig.FromSubscription(String subscriptionKey, String region)
   at MauiSpeechServiceTest.MainPage.OnCounterClicked(Object sender, EventArgs e) in /Volumes/Documents/MauiSpeechServiceTest/MainPage.xaml.cs:line 29`
Th

[2022-09-13 07:03] jiajzhan commented on #1638
@Lucien20000118 Zh-TW does not support pinyin, should use 'Bopomofo' phones, pls refer to this page: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-ssml-phonetic-sets#zh-tw

[2022-09-13 11:22] JayR7 commented on #1651
Oh yeah, you're right!
Thanks a lot, truly appreciate the support!

[2022-09-13 11:22] #1651 closed

[2022-09-13 14:32] yulin-li commented on #1557
@newhillchan could take a look?

[2022-09-13 14:33] #1625 closed

[2022-09-13 14:49] itaych opened #1653 "TTS generating garbled result when requesting Opus encoding"
Hi, when performing TTS with `SpeechSynthesisOutputFormat::Audio24Khz16Bit48KbpsMonoOpus` I'm having difficulty converting the received data to PCM using the functions provided in `<opus.h>` such as opus_decode, opus_packet_get_nb_frames etc. I've posted more details along with a full example program at the MS Q&A forum [here](https://docs.microsoft.com/en-us/answers/questions/1005079/azure-tts-ge

[2022-09-13 15:17] yulin-li commented on #1653
I am looking this and will check your codes later. As a quick response, I want to say that the opus format is a raw opus stream without any header. Maybe you can try the webm format we provide?

[2022-09-13 15:21] yulin-li commented on #1642
hmm, yes, the real time has a limitation of 10-min for a single turn. You need to split the text to multi turns, (see our [sample code](https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/python/console/long-form-text-synthesis).

Meanwhile, you can also use our long audio api for long-form text synthesizing. https://docs.microsoft.com/en-us/azure/cognitive-services/

[2022-09-13 15:39] itaych commented on #1653
I'm not familiar with the webm format and wanted to keep both my learning curve and the audio decoding pipeline as simple as possible. Webm and ogg containers seem like a bit of an overkill since I'm already receiving the audio as packets. I will switch to one of them if you tell me that decoding a raw opus stream is not possible, but if that's the case, why do you offer it as an option? Thanks.

[2022-09-13 18:52] JayR7 opened #1654 "Speaker Diarization without including Words Level in transcription file"
Hi,

Since enabling Speaker Diarization requires enabling wordLevelTimestampsEnabled as showing below
![image](https://user-images.githubusercontent.com/52196205/189985052-501746bc-0af6-44dc-ac27-6868f050659c.png)

I was wondering if there's a way to enable wordLevelTimestampsEnabled without including the words in the transcription result file?
![image](https://user-images.githubusercontent.com/52

[2022-09-13 19:52] glharper commented on #1644
@Aethey Is the region for your app westus or East Asia? Are you seeing any errors in the JS console?

[2022-09-14 02:03] Aethey commented on #1644
the speech sdk region is "japaneast". its not in  select bar and i edit it in code.
the LUIS region is "westus",

all the log like this:
<img width="1280" alt="new" src="https://user-images.githubusercontent.com/17793203/190041261-43c2ac04-cff0-4db8-9a00-5c9d78809da7.png">

there is no response  and no error and no message about LUIS, i have no way to find the reason

[2022-09-14 02:50] aidenkoh801 opened #1655 "ConversationTranscriber session immediately closes and cancels itself upon opening"
Hi!

I am implementing [Azure transcription module ](https://docs.microsoft.com/en-us/python/api/azure-cognitiveservices-speech/azure.cognitiveservices.speech.transcription?view=azure-python) in a project developed in python.

A session can be created successfully, but is cancelled and closes itself immediately after.

Here is how i implemented it:

[code]

And here is the output when a connection

[2022-09-14 07:01] andy380743909 opened #1656 "Can SpeechRecognizer output viseme info?"
Most SpeechToText services only output the final text as result, Azure's speech synthesizer can output viseme info, whether the speech recognizer can also output the viseme info?

[2022-09-14 07:07] muyu0526 opened #1657 "TTS JavaScript - play the same text will count the characters repeatedly"
I have tried JavaScript sample for Speech Synthesis and it seems to work as expected.But when I play the same text,it will count the characters repeatedly.I found the characters not counted repeated when I use Speech Studio.How can I solve this problem?

[2022-09-14 08:06] chlandsi commented on #1654
Hi @JayR7 , the information that `wordLevelTimestampsEnabled` is required to enable diarization is outdated, diarization can be enabled on its own. We'll remove statements to that effect from the docs.

[2022-09-14 15:55] #1654 closed

[2022-09-14 17:03] dargilco commented on #1655
Hi Aiden, thank you for posting this question. I'm from the Speech SDK team. I see at the bottom of your code the comment "Encoding=Signed 16-Bit PCM, Byte order = Little Endian, Channels= 1". At the moment conversation transcription only supports multi-channel audio input from circular multi-microphone array that meets [our specification](https://docs.microsoft.com/azure/cognitive-services/speech

[2022-09-14 17:17] dargilco commented on #1656
Hello and thank you for posting this question. I'm from the Speech SDK team. The speech recognizer cannot output Viseme info. You will need to send the text from the speech recognizer to the text-to-speech service to get Viseme info.

@yulin-li  as FYI

[2022-09-14 17:17] #1656 closed

[2022-09-14 17:25] dargilco commented on #1657
Hello and thank you for posting this question. I'm from the Speech SDK team. I don't understand what you mean by "it will count the characters repeatedly". Please give more details. What is the text you are trying to synthesize? Please point to SDK samples in this repo that worked for you for this text and did not work for you for this text. Or provide example code of your own.
Thanks,
Darren

@yu

[2022-09-15 00:41] glharper commented on #1644
@Aethey I've reproduced this, and have an understanding of the root cause. There should be a PR for this within the next few days. Thanks again for letting us know!

[2022-09-15 07:27] andy380743909 commented on #1656
thanks for your reply.
But I am still wondering why all of the speech recognizer system do not output the phoneme script but only the final words？

[2022-09-15 07:32] muyu0526 commented on #1657
Hi,dargilco,
Thank you for your reply.Following the code in the example,https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/js/browser/synthesis.html
I was able to use Text-to-Speech successfully, but when I clicked the start synthesis button in succession, the number of characters was consumed several times, and the contents of the text box did not change at all. Is

[2022-09-15 08:34] Aethey commented on #1644
thanks for your reply.

[2022-09-15 08:59] itaych commented on #1653
Hi @yulin-li, did you have a chance to take a look? Really it shouldn't take more than 5 minutes of your time to reproduce the issue.

[2022-09-15 09:50] marosoaie opened #1659 "Ssml should only contain one language."
I'm trying to use the text to speech API in iOS and I'm getting the following error:
`Connection was closed by the remote host. Error code: 1007. Error details: Ssml should only contain one language. USP state: 3. Received audio size: 0 bytes. `

I used the helloworld sample project in this repo to try the api:  (`cognitive-services-speech-sdk-master/quickstart/swift/ios/text-to-speech/helloworld`

[2022-09-15 19:50] dargilco commented on #1659
@marosoaie [Per our documentation](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-synthesis-markup?tabs=csharp), you are missing mandatory elements in the SSML string. This is an example of a valid SSML string:

[code]

[2022-09-15 19:50] #1659 closed

[2022-09-15 20:14] dargilco commented on #1657
@muyu0526 thank you for the details. @glharper @yulin-li can either one of you take a look at this? Thanks!

[2022-09-15 20:16] adammpolak opened #1660 "Javascript SDK Not Able To Include Filler Words and Profanities In Response"
I am not able to set up azure speech to text to include filler words and profanities.

How can I include these in the transcriptions?

[2022-09-15 20:19] adammpolak commented on #1506
Was this ever solved?

[2022-09-15 22:14] marosoaie commented on #1659
@dargilco
I’m using the native iOS SDK. It exposes properties like `speechSynthesisLanguage` and `speechSynthesisVoiceName`. What is the point of these properties if I need to set the lang and voice name manually in the xml?

[2022-09-16 02:39] yulin-li commented on #1659
The `speechSynthesisLanguage` and `speechSynthesisVoiceName` only take effect for plain text.

[2022-09-16 02:41] yulin-li commented on #1657
@muyu0526 I didn't quite get your point? Could you share a screen video of this issue?

[2022-09-16 07:38] muyu0526 commented on #1657
when I click the start synthesis button twice,the number of characters was consumed twice,Is there any way to set it to the number of characters that will be consumed only once when the user auditions the same content?

[2022-09-16 07:49] muyu0526 commented on #1657
Sorry,My English is a little rusty.I will repeat the question in Chinese.

我已经成功做出文字转语音的功能，按照这个示例，https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/js/browser/synthesis.html

当我连续点击两次试听按钮时，会出现重复计算字符数的情况。如图1所示，文本框中原本有28个字符数，在未修改内容的情况下，连续两次点击试听按钮，最终的计费字符数是56个。请问有什么办法可以让用户在未修改文本的情况下，只消耗一次字符数，也就是28个字符数？

[2022-09-16 08:33] yulin-li commented on #1657
Chinese characters are counted as two characters for billing, including Kanji used in Japanese, Hanja used in Korean, or Hanzi used in other languages. For more information, see [Pricing](https://azure.microsoft.com/pricing/details/cognitive-services/speech-services/).

[2022-09-16 08:35] yulin-li commented on #1657
See also in this [price note](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/text-to-speech#pricing-note)

[2022-09-16 08:35] #1657 closed

[2022-09-16 12:06] muyu0526 commented on #1657
Please see this English example
![11](https://user-images.githubusercontent.com/95582075/190635098-d36e3d63-02a4-4a0e-9f4b-4176e7f90c93.jpg)
![22](https://user-images.githubusercontent.com/95582075/190635163-6b475f25-9d40-46e8-97ee-75edd20e23ab.jpg)

[2022-09-16 12:10] muyu0526 commented on #1657
Is there any way to set it to the number of characters that will be consumed only once when the user auditions the same content?

[2022-09-16 20:30] pasha-o opened #1661 "Xamarin forms - upgrade iphone device to ios 16 - there is no sound any more from the previously running working app"
**Describe the bug**
Upgraded the iPhone to the latest ios 16 and suddenly there is no speech.

**To Reproduce**
Steps to reproduce the behavior:
1.  I can't debug the issue yet as the macOS team has difficulty running [xamarin forms for Xcode 14](https://github.com/xamarin/xamarin-macios/issues/15954) - @dalexsoto
2. You can recreate the issue by upgrading the ios to 16 and running a version of t

[2022-09-16 20:41] dargilco commented on #1649
Hi @singhwong I verified .NET MAUI applications work with Speech SDK on Windows. I'm using Visual Studio's .NET MAUI application template app, with a few lines of code to call Speech SDK APIs. I'm having trouble running Android emulator using Visual Studio, as I wanted to see if the same MAUI app works there.
Meanwhile, in your development environment, can you recursively list all the files named

[2022-09-16 22:21] dargilco commented on #1649
@singhwong It does not look like we support C# Speech SDK on iOS & Android. MacBook should work however, after you do the binary placement suggested above (copy native binaries from the NuGet package folder \runtimes\osx-x64 (or \runtimes\osx-arm64). Please let me know if it works for you on MacBook after copying these binaries. I will open work items to investigate why native binaries are not bei

[2022-09-17 01:20] dargilco commented on #1649
@singhwong Regarding mobile support, please have a look at this issue from April: https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1457 . It's about Xamarin but I believe the workaround discussed there is similar for MAUI. For Android, you can grab native SDK binaries for from the AAR package: https://csspeechstorage.blob.core.windows.net/maven/com/microsoft/cognitiveservices/

[2022-09-17 01:32] dargilco commented on #1660
See here for an example on how to set the profanity option:
https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/2cc99fc90f77930e458623cae43bf28022029ea5/scenarios/javascript/node/captioning/captioning.js#L260

Regarding Disfluency options (e.g. keeping/removing filler words), I'll have to get back to you on this.

[2022-09-17 18:23] cihanunlu opened #1662 "No Continuous Speech Recognition Quickstart Sample Code?"
Hello guys,

As you know the repository includes a STT quick sample code (JS Browser) : [here](https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/javascript/browser/translate-speech-to-text)

However, I am specifically looking for continous speech translation quickstart sample code. I could not find it anywhere else.
Normally, I am supposed to bind "recognizing,

[2022-09-18 08:35] singhwong commented on #1649
Hi@dargilco, when my maui project is compiled or run, my project folder only contains files related to speech sdk as follows:

bin/Debug/net6.0-ios/iossimulator-x64/libMicrosoft.CognitiveServices.Speech.core.dylib (Originally this file didn't exist, it was added later based on your suggestion)
bin/Debug/net6.0-ios/iossimulator-x64/Demo.app/Microsoft.CognitiveServices.Speech.csharp.dll

I moved the

[2022-09-19 07:30] #1655 closed

[2022-09-19 12:21] adammpolak commented on #1660
thank you @dargilco , please let me know about keeping filler words. Our use case wants to count and list the number of filler words.

[2022-09-19 12:42] glharper commented on #1662
@cihanunlu Thanks for using Speech SDK, and writing this issue up. Please see [this multi-scenario sample](https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/js/browser) which encompasses continuous speech recognition and continuous translation scenarios, among others (callbacks set [here](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/24ee1373f

[2022-09-19 14:26] DeshengLii opened #1663 "SSL routines:ssl3_get_server_certificate:certificate verify failed"
**Describe the bug**

GetStringValue: this=0x0x007f18a4085f00; name='CancellationDetails_ReasonDetailedText'; value='Connection failed (no connection to the remote host). Internal error: 1. Error details: Failed with error: WS_OPEN_ERROR_UNDERLYING_IO_OPEN_FAILED [0x80000001 | 2550]

project: springboot
sdk:1.22.0
java:1.8.0

local development everything is ok!
deploy to centos7.9, error occurred

[2022-09-19 20:09] cihanunlu commented on #1662
I have tried to extract to code there and implement it into the sample (once-shot) speech trans. code  but it did not work. I did not actually understand to which the"applyCommonConfigurationTo" is bound with. Second of all, I could not implement the text area html (phrasediv) to the recognized callback to show the result on the page. :(

[2022-09-19 21:01] glharper commented on #1662
@cihanunlu First please, take the raw sample ([here](https://raw.githubusercontent.com/Azure-Samples/cognitive-services-speech-sdk/master/samples/js/browser/index.html)), and save it locally. Open the local file in your browser of choice, input your subscription key and region in the top fields, and then select the scenario you'd like to try. In your browser's dev tools, you can set breakpoints in

[2022-09-19 23:39] Moang commented on #1663
by the way, the code doesn't work either
[code]

[2022-09-20 03:17] Moang commented on #1016
I also had the same problem. Local development is ok, but it will cause problems when deployed to the centos7 server.

[2022-09-20 07:17] Gaurabawal opened #1664 "Azure cognitive-services-speech-SDK in Java for continuous speech recognition is not stopped"
What I am trying to do?
I am trying to use cognitive-services-speech-SDK with Java language. The speech-to-text conversion function inside java code will be called from a flutter code when a mic is pressed.  The recording and speech-to-text conversion function should be stopped when I click the mic button. I have used a mic button as a toggle button where for the first button press the recording w

[2022-09-20 09:46] LAnp03 opened #1665 "Error decoding audio stream, error code: -50"
In the iOS16 system, after the speech is synthesized by speakSsml, an error occurs and cannot be decoded.

Configuration: SPXAudioConfiguration.init(wavFileInput: toPath)

Error message：
cancelled, detail: Error decoding audio stream, error code: -50
[AudioConverter] CompositeAudioConverter.cpp:1073 kAudio_ParamError: packet description 1 of 2: range 4446112768-4446112770, 576 data bytes

[2022-09-20 13:20] Moang commented on #1663
the sdk does not support springboot？does anyone look at this?

[2022-09-20 14:09] adammpolak commented on #1660
@dargilco any luck?

[2022-09-20 16:15] glharper commented on #1664
@Gaurabawal Thanks for using Speech SDK, and writing this issue up. In the Java code [here](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/24ee1373f8ce5996d1ed3f1e36a60d4028537054/samples/java/jre/console/src/com/microsoft/cognitiveservices/speech/samples/console/SpeechRecognitionSamples.java#L305), I'm seeing the code:
[code]
But in your attached java file, I'm just seeing yo

[2022-09-20 16:38] dargilco commented on #1660
Tagging @glharper to assist.

Unfortunately we don't yet have a way to separately control filler words. This is in discussion now with the speech recognition post-processing team. You may want to see what the detailed recognition results give you (there are several formats of the results). You will need to set the SpeechResultFormat to "Detailed" on the SpeechConfig, and then get the detailed reco

[2022-09-20 17:02] adammpolak commented on #1660
@glharper  @dargilco

Would these "Detailed" results provide the un-redacted text?

We want to provide the transcript and say "you used 3 'ums'", will that be possible?

[2022-09-20 17:09] glharper commented on #1660
@adammpolak See attached screenshot, using [this sample code](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/js/browser/index.html). The text with the ums is in the list, but it's not the highest confidence result.

<img width="670" alt="Screen Shot 2022-09-20 at 1 06 05 PM" src="https://user-images.githubusercontent.com/64209257/191321242-528688e5-d649-4eba-88d

[2022-09-20 17:45] dargilco commented on #1660
@adammpolak you should see Lexical, ITN (Inverse Text Normalization), Masked ITN and Display formats for the recognition result. Not sure if the Lexical format will help you. The alternative results (the array of additional results that follow) are of no use to you.

[2022-09-20 19:44] adammpolak commented on #1660
This is very helpful thank you! I see that it IS possible to see "ummmms"

How would I go about combining using the "lexical" + what is returned as the final answer to get a "full transcript"?

I understand this is an implementation question, but because you are close to understanding how the processing is returned and some hidden "gotchas" how would you go about trying to implement?

[2022-09-20 20:02] adammpolak commented on #1660
@glharper @dargilco

If the post-processing team could explain the steps they perform on the lexical result to get to the "final" result we see, I can try and "undo" those steps and get to the "pre-processed" output (that has filler words and double words).

[2022-09-21 03:06] Gaurabawal commented on #1664
@glharper Thank you for your reply. I have checked with the command that you send me. But still, speech SDK is transcribing speech into text even if I stopped.
[javafile.txt](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/9612620/javafile.txt)

If I use future with recognizer.stopContinuousRecognitionAsync().get() give following error. So that I have removed the future for th

[2022-09-21 05:13] singhwong commented on #1649
@dargilco After adding "speech" nuget reference, VS automatically creates a libs directory in the maui project as shown below.
<img width="286" alt="截屏2022-09-21 13 09 49" src="https://user-images.githubusercontent.com/39898152/191419180-5e75fb91-fa03-4e34-b939-8545cd632b2a.png">

But running maui project on an android emulator with x86_64 architecture will throw a "dll not found" exception, as if

[2022-09-21 13:02] DeshengLii commented on #1663
this has been bothering me for two days，can someone help me?
i noticed the logs
[code]
does it mean that centos7 is not supported?

[2022-09-21 15:35] dargilco commented on #1660
@adammpolak post-processing is a complicated step, not a simple recipe. I will bring this thread to their attention, just in case they have some tips, but it may be that we can't help you further now beyond what is mentioned above. I'm hoping we can release this new setting in the next few months (separately controlling turning on/off filler words). I opened an internal work item to discuss and tr

[2022-09-21 23:49] pankopon commented on #1663
Hi,
I've attached a text-to-speech example for Spring Boot using Speech SDK **1.23.0** and Spring Boot **2.7.4-SNAPSHOT**:
[quickstart.zip](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/9620990/quickstart.zip)

It was verified to work on CentOS 7 with the following configuration, please ensure that your target environment has the same.
[code]
Latest Maven and Gradle were ins

[2022-09-22 00:14] pankopon commented on #1341
The Speech SDK 1.24.0 release, which is expected before the end of this year, will add Python packages for Linux ARM64 (on [supported Linux distributions](https://learn.microsoft.com/azure/cognitive-services/speech-service/quickstarts/setup-platform?tabs=linux&pivots=programming-language-python)).

Internal work item ref. 2105397.

[2022-09-22 00:14] pankopon commented on #1423
The Speech SDK 1.24.0 release, which is expected before the end of this year, will add Python packages for Linux ARM64 (on [supported Linux distributions](https://learn.microsoft.com/azure/cognitive-services/speech-service/quickstarts/setup-platform?tabs=linux&pivots=programming-language-python)).

Internal work item ref. 2105397.

[2022-09-22 06:09] tomthecarrot commented on #1613
We are also encountering this issue on iOS 16 devices - it results in a consistently-reproducible crash. iOS 15 devices work fine. Additionally, using an 8KHz output format (`SpeechSynthesisOutputFormat.Raw8Khz16BitMonoPcm`) does work.

[2022-09-22 07:48] DeshengLii commented on #1663
thanks , i will try this demo.

[2022-09-22 08:27] json0755 commented on #453
CANCELED: Reason=Error
CANCELED: ErrorCode=ServiceTimeout
CANCELED: ErrorDetails=Timeout while synthesizing. USP state: 4. Received audio size: 36870 bytes.
CANCELED: Did you set the speech resource key and region values?

Who can help me?

[2022-09-22 08:30] json0755 commented on #453
com.microsoft.cognitiveservices.speech.SpeechSynthesizer speechSynthesizer = new com.microsoft.cognitiveservices.speech.SpeechSynthesizer(speechConfig,null);

SpeechSynthesisResult result = speechSynthesizer.SpeakTextAsync("Dear babies, store membership can be 0.01 yuan for the first time to take a cheese article squid? The host told everyone at the same time, we shop member first order is a new m

[2022-09-22 08:55] DeshengLii commented on #1663
i have run the quickstart demo, and it run successfully.
i will create a new project from the idea and try again.

[2022-09-22 18:32] #1663 closed

[2022-09-23 19:05] cihanunlu commented on #1662
Thanks. After a long dedication, I managed to extract unnecessary scenarios out of the sample code.
But now there is another problem. I have customized and implemented the 'index.html' into a https server. It works fine but I want to use this in my web app. Therefore, I embedded this html using iframe tag.

The html frame appears normally but the functions (speech recognition) does not work when t

[2022-09-26 08:32] #1665 closed

[2022-09-26 15:15] bhigy opened #1667 "Python sample for `speech_recognition_with_push_stream` giving weird results."
**Describe the bug**
I am trying the python console app (`speech_sample` > `speech_recognition_with_push_stream`) with the default audio file and don't get any transcription. The connection is canceled right after the sessions starts (see log below).

**To Reproduce**
* From `cognitive-services-speech-sdk/samples/python/console`, run:
[code]

**Expected behavior**
Speech is transcribed and some re

[2022-09-26 17:02] glharper commented on #1662
@cihanunlu I'm not super well-versed on expected iframe behavior, but I wonder if the the speech sdk import is binding correctly to the global "window" instance in an iframe. You can find out by putting "console.log(window); console.log(SpeechSDK);" where you'd expect the functions to work, and making sure the SpeechSDK instance and window instance have the expected structure.

More generally, tho

[2022-09-26 17:02] #1662 closed

[2022-09-26 18:14] glharper commented on #1664
@Gaurabawal
So, to clarify, you are not calling
recognizer.stopContinuousRecognitionAsync().get()?

I'm confused why you need assign the result of recognizer.stopContinuousRecognitionAsync().get() to the "final Future task" variable. Is there any way you could rewrite your code to *just* call recognizer.stopContinuousRecognitionAsync().get() without assigning the result to a variable?

[2022-09-27 14:07] ivanicin commented on #1661
While I don't know if this is iOS 16 specific I can confirm that this sample doesn't produce any output:

[code]

Also this has nothing to do with Xamarin.Forms as they are UI framework and as such has literary nothing with sound output, the proper title should refer to Xamarin.iOS.

[2022-09-27 14:24] yulin-li commented on #1661
Looks like this is a duplicated issue of #1613 . We have fixed this issue internally, which will be released with next version 1.24 around mid Oct.

[2022-09-27 14:25] jhakulin commented on #1661
Closing this as duplicate.

[2022-09-27 14:25] #1661 closed

[2022-09-28 04:46] yulin-li commented on #1613
The ETA is mid-Oct.

[2022-09-28 09:09] Gaurabawal commented on #1664
@glharper
I have applied recognizer.stopContinuousRecognitionAsync().get()  method and now it is working.

Previously, when I used .get() method I got some kind of errors.
We have to use recognizer.stopContinuousRecognitionAsync().get() inside try...catch exception handling. And then it worked.

Thank you for your help.

[2022-09-28 11:15] ivanicin opened #1668 "SpeechSynthesizer.GetVoicesAsync("en") returns no voices"
**Describe the bug**
If you do some simple code like:
[code]
You will get voiceResult containing 0 voices with explanation

**To Reproduce**
Steps to reproduce the behavior:
1. Run the code above

**Expected behavior**
A clear and concise description of what you expected to happen.

This should pull all the English voices (US, UK, Australia etc).

**Version of the Cognitive Services Speech SDK**
W

[2022-09-28 14:43] adammpolak commented on #1660
@dargilco  unfortunately we are looking for filler word count (as a way to help users notice their use)

We also do not have a specific transcript that the user reads from so the Pronunciation assessment won't fit the needs.

Is there any way to know the prioritization of this feature?

We need to make a call on a speech-to-text provider and we are willing to wait because we like ASTT SDK (easy to

[2022-09-28 16:16] #1664 closed

[2022-09-29 07:24] litao09h commented on #1409
@yulin-li  Is there a websocket example for getting TTS ?

[2022-09-29 07:26] yulin-li commented on #1668
Could you please share an SDK log, as per the instructions [here](https://docs.microsoft.com/azure/cognitive-services/speech-service/how-to-use-logging)?

[2022-09-29 07:31] yulin-li commented on #1409
You can use SDK which uses websocket

[2022-09-29 07:44] litao09h commented on #1409
we used golang sdk,  and get cgo error. Speech SDK depends  on too many c/c++ packages,  install those packages in docker is a hard work and not graceful, and cgo error is  hard to debugging . so, we perform to  rest api or websocket api.

[2022-09-29 07:44] litao09h commented on #1409
thanks for replay!

we used golang sdk,  and get cgo error. Speech SDK depends  on too many c/c++ packages,  install those packages in docker is a hard work and not graceful, and cgo error is  hard to debugging . so, we refer to  rest api or websocket api.

[2022-09-29 07:52] yulin-li commented on #1409
Yes, I knew it's pain... But currently we don't have a public doc for the websocket protocol. Maybe you can try to follow the instruction to set up environment for go

[2022-09-29 13:54] dmytrohladyshev commented on #1628
any updates? )

[2022-09-29 18:27] brandom-msft commented on #1667
Hi @bhigy, thanks for using the SDK!

In your log I see an error loading libssl. What version of OpenSSL do you have installed? (You mentioned running Ubuntu 22.04, did you see the notes [here for prerequisite setup](https://learn.microsoft.com/azure/cognitive-services/speech-service/quickstarts/setup-platform?tabs=linux%2Cubuntu%2Cdotnet%2Cjre%2Cmaven%2Cnodejs%2Cmac%2Cpypi&pivots=programming-lang

[2022-09-29 21:03] brknbyt opened #1669 "Inconsistent pronunciation of EUR currency in German"
**Describe the bug**
There is an inconsistency when having sentences with the EUR currency abbreviation in them. Normally an input text like `39.99 EUR` synthesises as _Neununddreizig Euro und neunundneunzig Cent_, which translates to _thirty-nine euros and ninety-nine cents_.
But if an `.` is added to the end of the input text the pronunciation changes. `39.99 EUR.` synthesises to _Neununddreizig

[2022-09-30 16:47] vcombey opened #1677 "No punctuation"
I don't find any way to activate the punctuation on the continuous speech service. I don't see any punctuation on words nor on Display or DisplayText fields in the results.
I don't understand if this feature is activated by default or must be activated, I try setting different SpeechConfig fields to activate it.
Here is what I tried:
setting
`        speechConfig.setServiceProperty('punctuation',

[2022-10-01 19:20] brandom-msft commented on #1677
Hi @vcombey - [punctuation is automatically generated](https://learn.microsoft.com/azure/cognitive-services/speech-service/display-text-format?pivots=programming-language-csharp#punctuation) for speech-to-text. You can override the default behavior for punctuation with other settings, as you have done with
        `speechConfig.setServiceProperty('punctuation', 'explicit', SpeechSDK.ServicePropert

[2022-10-01 23:35] vcombey commented on #1677
Thank you for your answer,
I found the issue. It is related to https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1054.
I was expected to get the punctuation on the word level.

I managed to hack a script matching the "Display" field with the words. But it doesn't work in certain cases like "100%" and "one hundred percent"

On this issue, it says
"With the [3.1 version of the AP

[2022-10-03 14:21] fabswt commented on #1669
I'll jump on this thread to ask a more general question: **what are our options, as developers, when the TTS output is wrong?**

The following sentences are all wrong.

*Generated today, 2022-10-03, via the Azure API, using en-US-ChristopherNeural).*
*Reproducible with the [official TTS demo](https://azure.microsoft.com/en-us/products/cognitive-services/text-to-speech/#features) (e.g. using US Jen

[2022-10-03 16:58] jhakulin commented on #1649
@singhwong We are working on adding the support for MAUI in Speech SDK NuGet package, Support for Android is targeted in the next 1.24.0 Speech SDK release

[2022-10-03 21:34] brandom-msft commented on #1677
That link to the 3.1 preview is for the REST API, for scenarios using Custom Speech or Batch Transcription. The Speech SDK likely wouldn't update to use that API until it becomes generally available.

I'm not sure what your scenario is, could you share more about that? If you are wanting to use Batch Transcription, [this sample using Batch Transcription from Node.js](https://github.com/Azure-Sampl

[2022-10-04 14:18] jnbh48 opened #1681 "Azure Speech SDK performance issues while processing audio in “mu law” format."
**Describe the bug**
We observe performance issues with Azure Speech SDK during processing audio in “mu law” format in our ASP.NET Core application running in the Kubernetes environment.
We use Azure Speech SDK Client - Microsoft.CognitiveServices.Speech , version 1.23.0, and gstreamer component:
libgstreamer1.0-0 gstreamer1.0-plugins-base gstreamer1.0-plugins-good installed on pod.
Pod resources:

[2022-10-04 14:34] jhakulin commented on #1681
@jnbh48 Thanks for the report, in the coming v1.24.0 Speech SDK release (ETA mid Oct 2022), a-law & mu-law formats can be sent directly to the speech service without Gstreamer involvement. This should help with the performance as no decoding to PCM is needed for alaw/mulaw formats.

[2022-10-04 19:35] dargilco commented on #1681
@jnbh48 are these live audio streams that you are recognizing?

[2022-10-05 07:34] jnbh48 commented on #1681
@dargilco yes, we are recognizing live (real-time) audio streams.

[2022-10-05 08:56] jnbh48 commented on #1681
@jhakulin What is reason for the CPU load issue, decoding mu-law formats to PCM using Gstreamer, is it visible in sdk logs? Can we change something in the SDK configuration?

[2022-10-06 07:17] davehorton opened #1683 "Using custom speech model using C++ (How-to question)"
I have deployed a custom speech model and am accessing it via C++, but it does not seem to be working.

I have the endpoint id from when I deployed the model, and in my C++ code I am referencing it like this:

[code]

Is this correct, or is there something more or different I need to do?

[2022-10-06 14:02] ati-ince commented on #1618
Dear development team,

The problem still continues in python3.6-azure 1.19.0 and python 3.8 - azure 1.23.0

Here is my test result, the problem behaves the same in both env and in different usage profiles.

Below you will see although the test profile differences the results are similar, the test continues for 15 min successfully then the failure starts, and it continues like that.

<html xmlns:v

[2022-10-06 18:30] BrianMouncer commented on #1683
That seems correct to me, but I have not used custom models much.
The public sample for this topic can be found at https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/19fe4407c427b161ec628eae5f4c6540f8a7982d/samples/cpp/windows/console/samples/speech_recognition_samples.cpp#L216-L228

I suspect the model just isn't doing what you expect it to.
I will ask about the best ways to test

[2022-10-06 20:50] davehorton commented on #1683
great thanks!

[2022-10-06 20:50] #1683 closed

[2022-10-07 07:27] BrianMouncer commented on #1683
@davehorton

What is your end goal with the custom speech model?
Do you only need to recognize a half dozen product and company names more accurately, or do you need to do something more complex like a large set of terms like medical terms and phrases?

Here is some information that might help.

If you just need to improve recognition of a few product names, you might be able to keep using the gen

[2022-10-07 15:21] flt6 opened #1684 "Support python SDK in ARM/Android platform"
**Is your feature request related to a problem? Please describe.**
I have written a programe, which I want it available in all platforms. However, I found in Android platform(with termux) installing `azure-cognitiveservices-speech` is impossible due to only windows, mac, limux is provided on pypi.

**Describe the solution you'd like**
A `azure-cognitiveservices-speech` version built for Android(AR

[2022-10-07 18:14] BrianMouncer commented on #1684
The speech SDK have native library dependencies (libMicrosoft.CognitiveServices.Speech.core.so), so it is not enough to just compile the python bindings for ARM. We refactored our Wheel files, and plan to add ARM support in our upcoming 1.24 release, but this ARM support is for Linux and does not enable Android support for our python wheels.

We can look and see what it would cost us to add Androi

[2022-10-07 18:34] jhakulin commented on #1681
@jnbh48 I am not sure if the CPU load issue you have is due to Gstreamer, do you see the issue if you make similar test using PCM streams instead of mu-law?

If the CPU load issue is primarily caused by Gstreamer, in 1.24.0 Speech SDK release which has ETA mid Oct 2022, you can configure Speech SDK to stream mu-law directly to the speech service. This should help to reduce the CPU load because the

[2022-10-08 03:13] lenqing6 opened #1685 "The multi device conversation demo returns a problem"
![BZKmPy3wQ4](https://user-images.githubusercontent.com/96234501/194685070-2dd65a3b-a25e-4fb2-ab00-355e5e8df5f7.jpg)
Multi-device Conversation resultId every sentence is different
![image](https://user-images.githubusercontent.com/96234501/194685256-231c4b89-3dcf-4d6a-8de5-5276de30fc2d.png)
![image](https://user-images.githubusercontent.com/96234501/194685273-517fafe6-ea0f-4ad3-b333-e51fc23e4912.p

[2022-10-08 09:38] jeasonxiexie commented on #1685
The TranslatingParticipantSpeech and TranslatedParticipantSpeech results of the same sentence have different resultIds

[2022-10-08 09:44] jeasonxiexie commented on #1685
can be reproduced in javascript sdk

[2022-10-08 11:35] yulin-li opened #1686 "stop_speaking_async does not work on Linux"
Move from https://github.com/Azure/azure-sdk-for-python/issues/19757, the original issue was reported by @oliverguhr.

* **Package Name**: azure-cognitiveservices-speech
* **Package Version**: 1.17.0
* **Operating System**: Linux
* **Python Version**:  Python 3.8.10

**Describe the bug** The `stop_speaking_async` (and `stop_speaking`) do not stop the audio output as described in the documentation

[2022-10-08 11:36] yulin-li commented on #1686
I can repro this bug and will give a fix.

[2022-10-09 00:43] ForrestGumb commented on #1669
Thank you for you feedback.
For the currency reading inconsistency issue, Microsoft will fix that. You can also unblock yourself by adding say-as tag like below.
<say-as interpret-as="currency">39.99 EUR</say-as>.

For the break issue, you can fix it by SSML break tag.
For pronunciation issue, you can fix it will SSML phoneme tag or custom lexicon. Also, Microsoft will investigate the “Shh” and “®

[2022-10-10 13:35] WGK864 commented on #1681
Hey, I am a developer who works alongside @jnbh48. We are seeing very worrying results for both mulaw and pcm format.
One of the issues as described above is that one instance uses a lot of cpu when mulaw is used due to what we think is gstreamer. The PCM tests are clearly using a lot less of the cpu resources which we allocate.
Another issue that we are seeing is that no matter how much we spread

[2022-10-11 01:38] jeasonxiexie commented on #1685
but callback events for the same sentence should have a same unique resultId, right?  in java SDK translating/translated events for the same sentence use the same resultId, so i can update the translation text by this resultId.

[2022-10-11 02:12] lenqing6 commented on #1685
@glharper This is a problem with your demo.
（https://translator.microsoft.com/）

[2022-10-11 07:25] lst94 commented on #1292
这个centos7还是不能用，我后面改用了JavaScript版本的

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年6月7日(星期二) 上午10:36
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [Azure-Samples/cognitive-services-speech-sdk] java.lang.UnsatisfiedLinkError: com.microsoft.cognitiveservices.speech.SpeechConfig.setTempDirectory(Ljava/lang/String;)V on CentOS 7 server (Issu

[2022-10-11 07:50] tylerweitzman commented on #1495
Hi Yulin,
How do I use word boundary?

On Thu, May 12, 2022 at 12:34 PM Yulin Li ***@***.***> wrote:

--
*---*
*Tyler Weitzman*
*LinkedIn <http://linkedin.com/in/tylerweitzman>*
*BlackSMS <http://blacksms.info/>*

[2022-10-11 09:31] Aethey opened #1687 "[JS] can I get the audio file in Real-time Speech-to-Text?"
i am looking for a way to get the audio file when i use
`SpeechSDK.AudioConfig.fromDefaultMicrophoneInput()`
,but all most answers said it should be
`SpeechSDK.AudioConfig.fromStreamInput(pushStream)`

so the `fromStreamInput` is only way in JS?
and in this official page.the **Realtime Speech-to-Text** use it too?
<img width="1362" alt="demo1" src="https://user-images.githubusercontent.com/1779320

[2022-10-11 18:34] ati-ince commented on #1618
Hello,
I am closing this issue. The cause of the problem -finally- was discovered.
We are working under VPN/Proxy so when I canceled these settings there was no problem.

I am writing here for future help.

[2022-10-11 18:34] #1618 closed

[2022-10-11 19:14] glharper commented on #1685
@jeasonxiexie I asked my team, and they don't believe this is the case. Using the [Speech CLI tool](https://learn.microsoft.com/en-us/azure/cognitive-services/speech-service/spx-overview), and running the tool using the command line input: `spx recognize --output each resultid --output each file -`, we got:
<img width="512" alt="Screen Shot 2022-10-11 at 2 57 54 PM" src="https://user-images.github

[2022-10-12 02:43] jeasonxiexie commented on #1685
in my java sdk, i update my AudioConfig property according to this [https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1566](url)
this is my demonstration， when i say  “hello，this is a speech test” ， results for this sentence share a same resultId，
 D  speech paticipantid:e508600e-dd1d-4c03-9017-5408453bc24d reason: TranslatingSpeech,speech text: Hello ResultId：64f75ff9-b9cf-4cd

[2022-10-12 02:46] lenqing6 commented on #1685
@glharper It was still running normally before September 30, but the problem occurred on October 8.

[2022-10-12 04:03] sacha-6over6 opened #1688 "iphone 14 doest work with fromDefaultMicrophoneInput"
**Describe the bug**
Speech to text does not open on all iphone 14's (Other models work).   Get the following error in the console.  This is also the case on your live demo.   At least you see the same issue.  For the record createMediaStreamSource works

Steps to reproduce the behavior:
1. Go to https://azure.microsoft.com/en-us/products/cognitive-services/speech-to-text/#features
2. scroll down

[2022-10-12 10:16] wangzhiming1999 commented on #1685
So you think it's normal for a sentence to be recognized as 4 IDs? Aren't you an ID corresponding to a sentence?

[2022-10-12 10:17] wangzhiming1999 commented on #1685
Why is the JavaSDK one sentence corresponding to one ID, rather than multiple different IDs you said

[2022-10-12 12:28] ivanicin opened #1689 "Xamarin.Mac doesn't see the dll when running the app"
**Describe the bug**
The package can be added to Xamarin.Mac from nuget and it installs properly. Intelisense works and Visual Studio is aware of all APIs. However when the app gets compiled in runtime any attempt to access the API will result in the exception.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Xamarin.Mac project
2. Install the package via nuget
3. Put somewhere this co

[2022-10-12 12:40] glharper commented on #1685
@ralph-msft Is this a difference between Conversation Translator implementation and the rest of Speech SDK?

[2022-10-13 06:56] Tenzer opened #1691 "Release notes for v1.24.0"
I can see a new version of the speech SDK is available: https://pypi.org/project/azure-cognitiveservices-speech/1.24.0/. There's, however, no mention of the new version in the release notes at https://learn.microsoft.com/en-us/azure/cognitive-services/speech-service/releasenotes?tabs=speech-sdk.

Could they please be updated, so we can know what to expect when updating the library?

[2022-10-13 17:55] sibbl opened #1692 "Text to speech timeouts with error: WS_OPEN_ERROR_UNDERLYING_IO_OPEN_FAILED / USP error: timeout waiting for the first audio chunk"
**Describe the bug**
Since 2022-10-12T17:38:57Z we found our working production speech to text component not working anymore.
We convert SSML via the Speech SDK to WAV audio and receive a "SynthesisStarted" event.
After like 30s we receive "SynthesizeCanceled" with "ServiceTimeout" and "USP error: timeout waiting for the first audio chunk".

**To Reproduce**
Steps to reproduce the behavior:
1. Sta

[2022-10-13 19:03] ckl881003 commented on #1692
the same problem:USP error: timeout waiting for the first audio chunk

[2022-10-13 23:28] trrwilson commented on #1692
@yulin-li could you please advise?

From the log, it's clear that the connection is failing:
[code]

...But it's not clear to me if this is a topology issue or an active rejection.

Thank you!

[2022-10-14 06:55] sibbl commented on #1691
Seems like they've been published meanwhile.

[2022-10-14 10:07] EgilSandfeld commented on #1692
Experiencing the same issue here:

**USP error: timeout waiting for the first audio chunk**
**WS_OPEN_ERROR_UNDERLYING_IO_OPEN_FAILED**

This worked fine before updating Windows 10 to KB5018410, which afaik bumps up the TLS minimum from 1.0 to 1.2? Is this a clue?

[code]

[2022-10-14 10:18] sibbl commented on #1692
We also feel like it could be related to the machines it runs on. We have a dev deployment of the exactly the same binaries from the same CI pipeline and configs deployed to a Windows Azure App Service instead of the Windows Server Azure VM. There, it's still working.

However, as far as our app insights logs tell us, the Azure VM wasn't updated between the point where it still was working and the

[2022-10-14 12:26] bobandrew commented on #1692
I'm having same error. My solution has been working good a several days and yesterday I stumbled onto the same error 'USP error: timeout waiting for the first audio chunk'. If will be usefull I attach my logs below. Be glad any help.
Here is log:
[207990]: 40303ms SPX_TRACE_VERBOSE interop_factory.cs:83 Dispose(True) called for 057d59b0
[207990]: 40303ms SPX_DBG_TRACE_VERBOSE:  handle_table.h:175

[2022-10-14 13:08] francescoStrada commented on #1692
I am facing exctley the same problem,

Same for us, the PCs having installed Windows 10 to KB5018410 stopped working. Is it possible to manually force TLS to 1.0??

[2022-10-14 13:45] sibbl commented on #1692
I just took another look at the system events directly on our VM and can confirm that the update KB5018419 was installed at Oct 12th there, also including the [TLS changes](https://support.microsoft.com/en-us/topic/kb5017811-manage-transport-layer-security-tls-1-0-and-1-1-after-default-behavior-change-on-september-20-2022-e95b1b47-9c7c-4d64-9baf-610604a64c3e). I missed this in our logs outside the

[2022-10-14 14:34] daimig commented on #1692
this may help the problem https://www.youtube.com/watch?v=d-UBWHT_eUg

[2022-10-14 15:23] yulin-li commented on #1692
Hi, we acknowledged this issue that the TTS service in unavailable from Speech SDK on Windows platform after installing the updates (KB5018427 for Windows 11 22H2, and KB5018418 for 21H2). We are investigating this issue.

The TTS service supports both TLS v1.2 and v1.3, which could be verified using https://www.ssllabs.com/ssltest/analyze.html?d=westus2.tts.speech.microsoft.com

[2022-10-14 16:51] Sezar commented on #1692
20% chance it works, 80% error, what's the source of the error?

[2022-10-14 18:55] Tukurai opened #1693 "Voice listing stopped working today."
Today the synthesizer.GetVoicesAsync() stopped working for an application I've been running unchanged for half a year now. I'm still able to get a list of voices using curl.

Has something changed?

[2022-10-14 20:13] trrwilson commented on #1693
If you happen to be running on Windows 10 or Windows 11, this may be another manifestation of an active issue: #1692

Long story short, a security patch for Windows on Tuesday changed the way that network security behaves and it's caused failures across a range of Microsoft and non-Microsoft services -- the text-to-speech service is impacted. Workarounds exist (including rolling back the hotfix or

[2022-10-14 21:21] pankopon commented on #1691
Release notes are now available: https://learn.microsoft.com/azure/cognitive-services/Speech-Service/releasenotes?tabs=speech-sdk#speech-sdk-1240-october-2022-release

[2022-10-14 21:21] #1691 closed

[2022-10-14 21:47] trrwilson commented on #1689
Thanks for reporting this. If there's a package targeting issue we'd like to narrow down and resolve it!

Three avenues:

1. Can you share the full OS and platform details of the development environment, deployment target, and any intervening hardware? As an example: in our recent release testing for 1.24, we verified our Xamarin quickstart as compiled from Windows 10/11 x64, paired with an x64 Ma

[2022-10-14 22:04] ivanicin commented on #1689
@trrwilson I think that there is some confusion, though my description is correct.

I can’t run that sample as you don’t have Xamarin.Mac there. You have only Xamarin.iOS.

Making Xamarin.iOS packages run on Xamarin.Mac doesn’t require almost anything if you don’t touch UI and I guess you don’t.

Other Azure packages do work, I have used some of them. Also popular 3rd party packages like HTMLAgili

[2022-10-15 04:45] amiddles commented on #780
I'd like to indicate that I've seen both issues now.
The dll files are in the published solution and still it does not seem to recognize them.
I'm building my project with Microsoft Visual Studio Professional 2022 (64-bit) - Current Version 17.2.5

[2022-10-16 01:37] #1684 closed

[2022-10-16 07:15] Tukurai commented on #1693
Its is actually the problem you described. Rolling back the patch solved the issues for the user of the application.

[2022-10-16 07:15] #1693 closed

[2022-10-17 01:27] lenqing6 commented on #1685
Please give an accurate answer

[2022-10-17 05:35] litaof opened #1694 "can't synthesis speech"
**Describe the bug**
using cogsdk to generate samples error:  Speech synthesis canceled; error details: Error in sending a http request.0

**To Reproduce**
Steps to reproduce the behavior:
1. using cogsdk to generate production samples.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Version of the Cognitive Services Speech SDK**
Which version of the SDK a

[2022-10-17 05:46] yulin-li commented on #1694
Hi, could you please provide full Speech SDK Log, as per the instructions [here](https://docs.microsoft.com/azure/cognitive-services/speech-service/how-to-use-logging)?

[2022-10-17 06:09] litaof commented on #1694
add log file: [Logfile.txt](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/9797340/Logfile.txt)

[2022-10-17 06:13] yulin-li commented on #1694
Are you running this on Windows? If yes, could you try to check if the latest patch is installed as described in #1692? The latest Windows patch has a regression that blocks the TLS connection

[2022-10-17 14:50] glharper commented on #1644
@Aethey [JS Speech SDK v1.24](https://github.com/microsoft/cognitive-services-speech-sdk-js/releases/tag/v1.24.0) has been released, with this fix included. Thanks again for submitting this issue!

[2022-10-17 14:50] #1644 closed

[2022-10-18 08:45] PhoenixNil opened #1696 "文本转语音用不了了啊"
Win10 上文本转语音用不了了 ,语音转文本和翻译都能用，什么情况啊

[2022-10-18 12:11] KevinBarbier2 opened #1697 "Howto limit length of sentences return in recognized events for JS SDK?"
Is there a way were an option can be set to limit the length of the text  returned by recognized event for continuous recognition in JS SDK?

for example:

[code]
Where PrivText should be shortened and split up to smaller sentences each in it's own recognized event with seperate duration+offsets given.
I tried to have a look at your captioning.js example but there it just turns very long sentences

[2022-10-18 12:47] ravi-aii opened #1698 "AddEventListener method is not passing the recognized text through the attachEvent.success()"
In the flutter, I am trying to use Microsoft continuous speech to text transcription for my app. In the android java code, I tried the api calling, I got the recognizing and recognized text in the console. But on passing that text to the client side I am not getting any success. Please help me on this, I am sharing the code of my app as follows.

Main Java file code:
[code]
Dart file code:

[code]

[2022-10-18 16:15] rhurey commented on #1688
Thanks for getting in touch. I'm looking for someone on our team with a 14 to investigate...

[2022-10-18 17:05] sacha-6over6 commented on #1688
Thanks waiting on your findings

On Tue, 18 Oct 2022 at 19:15, Ryan Hurey ***@***.***> wrote:

[2022-10-18 17:14] rhurey commented on #1697
Thanks for looking at the SDK's. Today there isn't a way to specify the maximum phrase length, or to have the SDK split a single phrase into multiple phrases. Phrases are segmented by the silence gap between them up to a time based maximum that the SDK doesn't control.

[2022-10-18 19:26] rhurey commented on #1692
The Windows fix has been released, information can be found here: https://learn.microsoft.com/windows/release-health/resolved-issues-windows-server-2022#2924msgdesc

[2022-10-18 21:34] rhurey commented on #1687
Speech Studio should let you record from the microphone and download the wav file.

If you're using the SDK directly you could enable audio logging (off by default) on the SpeechConfig object and then use this REST API to retrieve the audio:
https://{region}.dev.cognitive.microsoft.com/docs/services/speech-to-text-api-v3-0/operations/GetBaseModelLogs

[2022-10-18 21:48] rhurey commented on #1698
Thanks for trying out the Speech SDK!

I'm not a flutter expert by any means, and I'll ask around to see if anyone on the team is more knowledgeable, but reading the code one thing stood out..

In protected void onCreate(Bundle savedInstanceState) {

What keeps the _new EventChannel_ referenced? I wonder if it's not being collected as nothing has a reference to it.

[2022-10-18 23:06] jhakulin commented on #1628
@dmytrohladyshev Related to your issue, default microphone configuration for ConversationTranscriber is currently under private preview in Speech SDK 1.24.0 release, please contact diarizationrequest@microsoft.com in case you are interested in more details.

[2022-10-18 23:06] #1628 closed

[2022-10-18 23:26] glecaros commented on #1228
closing this as the update to the python bindings is live in the latest release

[2022-10-18 23:26] #1228 closed

[2022-10-18 23:51] rhurey commented on #1692
A full set of the release links for various operating systems.

This update will not immediately be made available through Windows Update, but will be in the next rollup that is.

[Windows 11 22H2	KB 5019509 ](https://support.microsoft.com/topic/october-18-2022-kb5019509-os-build-22621-675-out-of-band-4fdf3458-148a-46bd-b163-ecb93c282726)
[Windows SV 21H2	KB 5020387 ](https://support.microsoft.com

[2022-10-19 00:49] ckl881003 commented on #1692
I tried installing _**Windows 11 22H2 KB 5019509**_  on Windows 11 22H2 which didn't fix the issue, but installing KB5020435 on Windows 10 22H2 fixed the issue.

[2022-10-19 01:50] bahaa-mp commented on #292
My issue was resolved by waiting a second between requests 🤔

[2022-10-19 02:17] jeasonxiexie commented on #1685
inform us if any conclusion

[2022-10-19 07:17] toddtian opened #1701 "Memory leak - text to speech on iOS"
**Describe the bug**
Memory leak detected in your example project by Instruments.

**To Reproduce**
SDK version: 1.21
Project: samples/objective-c/ios/synthesis-samples

Run demo app and tap 'Start synth to file with audio data stream', watch it on Instruments->Leaks.

Memory leak point:
#402 line in ViewController::synthesisToAudioDataStream()

while ([stream readData:data length:1024] > 0) {

Me

[2022-10-19 08:29] sibbl commented on #1692
I can confirm that it's working again with the updates. Thanks for the quick investigation and quick fix! 👍

If there's one thing I'd like to suggest, then it's a communication of the issue's progress at a single place.

I've posted [a question at MS Learn](https://learn.microsoft.com/en-us/answers/questions/1046264/speech-to-text-failed-with-error-ws-open-error-und.html) 6 days ago, where I was t

[2022-10-19 09:02] xyi919 opened #1702 "Error details: Failed with error: WS_OPEN_ERROR_UNDERLYING_IO_OPEN_FAILED"
Describe the bug
connectionFailure

CANCELED: ErrorDetails=Connection failed (no connection to the remote host). Internal error: 1. Error details: Failed with error: WS_OPEN_ERROR_UNDERLYING_IO_OPEN_FAILED [0x80000001 | 2]
wss://chinaeast2.stt.speech.azure.cn/speech/recognition/conversation/cognitiveservices/v1?format=detailed&language=zh-CN&wordLevelConfidence=true&wordLevelTimestamps=true
X-Conn

[2022-10-19 10:54] dmytrohladyshev commented on #1628
sounds great ) going to contact
thanks

[2022-10-19 14:43] rhurey commented on #1692
Looking into the 22H2 patch with the Windows team….

[2022-10-19 15:05] TonyHenrique commented on #1692
Is there a patch for Windows 11 - 21H2 - version 10.0.22000.1098 ?

I am getting an error while trying to use Microsoft.CognitiveServices.Speech (version 1.24.0) Text-to-Speech NuGet package with `hr-HR-GabrijelaNeural` and `hr-HR-SreckoNeural`
`CANCELED: Reason=Error CANCELED: ErrorCode=ServiceTimeout CANCELED: ErrorDetails=[USP error: timeout waiting for the first audio chunk]`

I also tried to

[2022-10-19 16:41] alexanikiev commented on #1692
For clarity: On Windows 11 TTS works from time to time very occasionally (it worked for me once this morning) and significantly slower, but almost always still throws the timeout error even with the referenced KB installed. Appreciate your help @rhurey to solve this issue for us!

[2022-10-19 18:15] rhurey commented on #1692
There are some non-deterministic factors that could allow the connection to work occasionally in 22H2.

@TonyHenrique [2004 \ 20H1, 20H2, 21H1, 21H2 KB 5020435] (https://support.microsoft.com/topic/october-17-2022-kb5020435-os-builds-19042-2132-19043-2132-and-19044-2132-out-of-band-243f34de-2f44-4015-a224-1b68a4132ca5) should cover 21H2

[2022-10-19 20:56] TonyHenrique commented on #1692
@rhurey  I tried, but all those are for Windows 10, could not find one that installs on Microsoft Windows [versão 10.0.22000.1098]

https://www.catalog.update.microsoft.com/Search.aspx?q=KB5020435
![image](https://user-images.githubusercontent.com/6307623/196802441-2d2bb818-d3c5-4b56-8ca1-8c29d6c207db.png)

Can you tell me a link for Microsoft Windows [versão 10.0.22000.1098]  x64  ?

[2022-10-19 20:57] rhurey commented on #1702
Typically to diagnose connection problems the simplest thing is to try and access the supported languages REST API from a machine having trouble.

Can you access https://chinaeast2.stt.speech.azure.cn/api/v1.0/languages/recognition? There's no auth required.
Curl, browser, either should work.

[2022-10-19 21:21] rhurey commented on #1692
Whoops... Sorry, decoding Windows Servicing builds...

https://support.microsoft.com/topic/october-17-2022-kb5020387-os-build-22000-1100-out-of-band-5e723873-2769-4e3d-8882-5cb044455a92 That should bump to 10.22000.1100

[2022-10-19 21:28] TonyHenrique commented on #1692
@rhurey I downloaded 2022-10 Atualização Cumulativa do Windows 11 para sistemas operacionais baseados em x64 (KB5020387)
but still not able to install.
This update is not applicable to your computer

[2022-10-19 22:56] TonyHenrique commented on #1692
Thank you, @rhurey !
I Installed KB5020387 ; now Microsoft Windows shows version 10.0.22000.1100 and Microsoft.CognitiveServices.Speech is working!

[2022-10-20 00:42] xyi919 commented on #1702
this is ok.

[2022-10-20 00:48] rhurey commented on #1702
Is it possible to send a log file? Instructions are at: https://learn.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-use-logging

[2022-10-20 05:49] yulin-li commented on #1696
close as duplicated

[2022-10-20 05:49] #1696 closed

[2022-10-20 05:52] yulin-li commented on #1613
Closing this issue as 1.24 is released.

[2022-10-20 05:52] #1613 closed

[2022-10-20 07:27] BenjayLin commented on #1702
@rhurey  Hi,I also have this problem. The attachment is my log.

Session stopped.
Encountered error.
Error code: 5
Error details: Connection failed (no connection to the remote host). Internal error: 1. Error details: Failed with error: WS_OPEN_ERROR_UNDERLYING_IO_OPEN_FAILED
wss://chinaeast2.stt.speech.azure.cn/speech/recognition/conversation/cognitiveservices/v1?language=zh-CN&postprocessing=Tru

[2022-10-20 08:46] msehnout opened #1704 "Python function speak_ssml has lost return value"
**Describe the bug**
Hi,

I could not find an upstream repo of the azure-cognitiveservices-speech Python package, so I'm reporting it here as it seems to be the closest repository available.

In the version 1.23.0, the function speak_ssml had a return value:
[code]
In the latest version, 1.24.0, it has lost the return statement (same applies to the speak_text function):
[code]

**To Reproduce**
In

[2022-10-20 13:50] #1697 closed

[2022-10-20 15:03] rhurey commented on #1702
Ok, this may be another manifestation of #1692's root cause.

Can you try either uninstalling the latest Windows Update that was applied recently, or if applicable one of the updates listed in issue #1692?

[2022-10-20 18:10] rhurey commented on #1692
The only mitigation for 22H2 is to uninstall KB5018427. We don't yet have a published fix for that version.

[2022-10-20 18:12] eppstephan commented on #1692
How to uninstall KB5018427 when it is not listed under the updates that can be uninstalled?

[2022-10-20 18:20] rhurey commented on #1692
You'd need to uninstall KB5019509 first. The rollups are cumulative.

[2022-10-20 19:04] eppstephan commented on #1692
I cannot uninstall all required updates until 22H2. After uninstalling KB 5017321, KB 5017321 is again the only update I can uninstall and the subsequent updates which should be uninstalled, too, are not listed under the updates to be uninstalled.

![image](https://user-images.githubusercontent.com/113251093/197035573-ca7fb1d1-9978-4013-973e-6da22b8ccff1.png)
![image](https://user-images.githubuse

[2022-10-21 01:51] BenjayLin commented on #1702
It is normal after installing this update, thank you!
[https://learn.microsoft.com/zh-cn/windows/release-health/resolved-issues-windows-11-21h2#2924msgdesc](url)

[2022-10-21 09:01] GoncaloBastos opened #1705 "TTS word boundary inconsistencies"
Depending on whether you apply pronunciation changes through the lexicon or using the tag, the returned word boundary will differ.

When using the lexicon, the original text is returned in word boundary, while using the tag, the value inside the alias attribute is what is returned in word boundary.

Based on the example usage for WordBoundary (closed captions/subtitles), I believe the expected beh

[2022-10-21 21:55] pankopon commented on #1045
Closed as the Speech SDK 1.24.0 has been released.

[2022-10-21 21:55] #1045 closed

[2022-10-21 21:57] pankopon commented on #1610
Closed as the Speech SDK 1.24.0 has been released and samples are available (https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/kotlin/android/tts-pause-example).

[2022-10-21 21:57] #1610 closed

[2022-10-21 23:24] rhurey commented on #1701
Thanks for finding this.

I think I have the leak identified and it assigned to a dev to fix.

[2022-10-21 23:25] rhurey commented on #1702
I'll close this then. Thanks.

[2022-10-21 23:25] #1702 closed

[2022-10-24 18:22] rhurey commented on #1704
Thanks for pointing this out, it's being fixed and will be in the next release.

[2022-10-25 07:06] lenqing6 commented on #1685
@ralph-msft Can you help with this problem？

[2022-10-25 16:21] msehnout commented on #1704
By the way is there a plan to publish the Python library as open source here on Github? Given that it is Python source code, I can see it anyway after downloading it. The only difference is that I cannot easily fork it and patch it for myself. I'm testing Python 3.11 right now and I got stuck on this bug. It's a pity given that I could just easily fork it, fix it, and redirect pip to my git fork u

[2022-10-25 17:00] alexnesh opened #1709 "TypeInitializationException when used in Blazor WASM"
Hi,

I'm trying to use the C# Speech SDK within a Blazor WASM application, but I get errors when trying to initialize an `AudioConfig` entity. I've been using the C# sample code for joining a conversation, but can repro this by just trying to initialize an `AudioConfig` entity in my main a la:

[code]

The error details that I get are:

Which leads me to believe that the assembly is missing or isn

[2022-10-25 21:03] pankopon commented on #1709
Hi, unfortunately WASM is not supported - see #930 and #1349. We have a work item on the backlog to add support, but no ETA.

[2022-10-25 21:04] pankopon commented on #1709
Internal work item ref. 3218205.

[2022-10-25 21:08] pankopon commented on #1709
Closing the item as the feature request will be tracked with an internal work item. Please open a new issue if more support is needed.

[2022-10-25 21:08] #1709 closed

[2022-10-25 23:24] rhurey commented on #1692
An update: For OS's before Win11 22H2 there should now be an optional _2022-10 Cumulative Update Preview_ that you can get from Windows update by clicking "Check for updates" that has the fix.

For 22H2 a manually installable KB5018496 was published: [Microsoft Update Catalog](https://www.catalog.update.microsoft.com/Search.aspx?q=KB5018496)

These should all rollup into November's automatic updat

[2022-10-26 11:15] sibbl opened #1711 "SpeechSynthesizer: include ResultId in SpeechSynthesisBookmarkEventArgs"
The `SpeechSynthesisEventArgs` for `SynthesisStarted`, `Synthesizing`, `SynthesisCompleted` and `SynthesisCanceled` all contain a `SpeechSynthesisResult` with a unique ID of speech synthesis result.

However, `SpeechSynthesisBookmarkEventArgs` does not include this result Id.

When reusing the same `SpeechSynthesizer`, there's no possibility to map bookmarks to the synthesize results by using this

[2022-10-27 01:12] ralph-msft commented on #1711
Thank you for your input. It is possible to add the ID to the bookmark events as well. This is a feature request/bug. I've added it to our backlog. We will address this in a future release. Once the work is done, we will update this issue to let you know what release the feature/fix will be in.

[2022-10-27 10:49] tango4567 opened #1712 "Always getting Reason [ResultReason]: Cancel"
While I'm truing to convert text to speech in C# I'm always getting **cancelled** response. Why I'm getting **Reason [ResultReason]: Cancel** even after providing correct details. We are using **Standard Tire plan**  also.  So I would like to request you please guide me.  I tried multiple time but always getting same response.

<details>
    <summary>Code</summary>

[code]

</details>

[2022-10-27 19:06] SeriousOldMan commented on #1692
Hmm, after the preview update it worked once, but now the same problem again. What is surprising, is, that the connection against the voice recognition service works without a problem, the connection issue is only related to the voice synthetization.

[2022-10-27 22:52] ralph-msft commented on #1712
To be able to better assist you, could you please:
* Share the [SDK logs](https://learn.microsoft.com/azure/cognitive-services/speech-service/how-to-use-logging)?
* Include the details of which OS you are using, and the SDK version?

[2022-10-28 07:31] 1893945 opened #1713 "UnsatisfiedLinkError com.microsoft.cognitiveservices.speech.SpeechConfig.setTempDirectory"
**Describe the bug**
java.lang.UnsatisfiedLinkError: com.microsoft.cognitiveservices.speech.SpeechConfig.setTempDirectory(Ljava/lang/String;)V

**To Reproduce**
Steps to reproduce the behavior:
1. use IDEA run java samples code
2. ...

**Expected behavior**
A clear and concise description of what you expected to happen.

**Version of the Cognitive Services Speech SDK**
Which version of the SDK are

[2022-10-28 08:59] 1893945 commented on #1713
jdk1.8.0_121

[2022-10-28 13:25] pierat commented on #1557
Hi, any ideas on the status of this issue ?

Thanks, Pierre

[2022-10-28 14:30] yulin-li commented on #1711
As @ralph-msft said, we will add this in future release. And meanwhile, it's guaranteed that all bookmark events are before the `SynthesisStarted` and `SynthesisCompleted` events of the same request.

[2022-10-28 14:31] yulin-li commented on #1705
Thanks for reporting this and it's known issue. @jiajzhan , could you help on this?

[2022-10-28 14:34] yulin-li commented on #1704
We fixed this issue internally and will be in the next release. As a work around, you can use `speak_ssml_async(ssml).get()` instead of `speak_ssml(ssml)`.

For the open source, thank you for your suggestion and we will discuss the proposal internally

[2022-10-28 22:40] ralph-msft commented on #1713
Unfortunately, the SDK does not support Windows 7. You'll need to be using Windows 10 (64 bit) or newer.

Please refer to the documentation provided here for additional information on other pre-requisites:
https://learn.microsoft.com/azure/cognitive-services/speech-service/quickstarts/setup-platform?pivots=programming-language-java

[2022-10-29 03:42] yulin-li commented on #1701
We have fixed this bug internally, and it will be in next release.

[2022-10-29 03:44] yulin-li commented on #1686
This bug has been fixed internally and will be in next release.

[2022-10-29 03:48] toddtian commented on #1701
Thank you for the update.

[2022-10-29 03:53] toddtian commented on #1701
Hello, do you mean the next release is MicrosoftCognitiveServicesSpeech SDK?

[2022-10-31 05:53] ravi-aii commented on #1698
@rhurey Is there any update regarding this issue. We are still unable to fix this issue ourself. Please help us. Thank you!

[2022-10-31 06:57] msehnout commented on #1704
Oops, I've completely missed this :facepalm: . Thanks!

[2022-10-31 11:47] k10876 opened #1714 "Can't initiate captioning in other languages using the python captioning quickstart"
Hi,

I'm using the captioning scenario quickstart at `cognitive-services-speech-sdk/scenarios/python/console/captioning/captioning.py`, and I cannot change the transcription language using the `--language` command. Can the language selection feature be available soon?

Thanks,
k10876

[2022-10-31 15:17] TheXRMonk opened #1715 "Missing x86_64 libs for Android in Unity SDK."
There's no native libraries for android on x86_64 in the unity SDK package;
https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/quickstart/csharp/unity/text-to-speech/README.md

This is especially needed after the release of MagicLeap 2 which runs on android x86_64.

[2022-10-31 18:29] chschrae commented on #1714
Hi there,

Thanks for reaching out to us. The language feature should be supported today, can you specify the command you are using that is not working?

I noticed that in the sample the _recognition_ language is not set by that command line option.
Documentation for doing that is here:  https://learn.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-recognize-speech?pivots=progra

[2022-10-31 18:37] chschrae commented on #1715
Hi there,

Thanks for reaching out and letting us know! You are absolutely right and we should include those binaries. As a workaround for this, right now you can import the 1.24 version of the unity package without the binaries

then take the x86_64 libraries from Speech SDK NuGet: https://www.nuget.org/packages/Microsoft.CognitiveServices.Speech

Microsoft.CognitiveServices.Speech.1.24.0\runtime

[2022-10-31 19:02] jhakulin commented on #1715
internal workitem reference: 4624651

[2022-11-01 10:12] SGNjogu opened #1717 "Audio Processing options for Translation Recognizers"
The Audio Processing options on here work pretty well with the Speech Recognizer. I do, however, have need for similar processing options, using a Translation Recognizer.

I have attempted to use it, but when compiling using .NET Native tool chain, I get a SPXERR_RUNTIME_ERROR error. I am using the latest version, Microsoft.CognitiveServices.Speech 1.24.1, on a UWP application.

[2022-11-01 10:47] k10876 commented on #1714
Hi,

Thanks for this follow-up, and I'm sure that this is definitely what I'm looking for. I was trying to add the `--language` flag and the transcription language remains to be in English.

However, I noticed that the description of  `--language` flag in the `USAGE` says that this flag is only used to break captions into lines. I don't know what this actually means (breaking a English caption usi

[2022-11-01 11:33] k10876 commented on #1714
Hi,

I found a error when I'm running the modified code.

The error it raised is `Exception in recognized_handler: 'charmap' codec can't encode characters in position 34-43: character maps to <undefined>`

I'm using command `python captioning.py --input source.wav --language zh-cn --format any --output caption.output.txt --srt --realTime --threshold 5 --delay 0 --profanity raw`

The source.wav is

[2022-11-01 17:00] chschrae commented on #1714
yup I am working on updating the samples to honor the recognition language.

For the new error I found this SO https://stackoverflow.com/questions/44391671/python3-unicodeencodeerror-charmap-codec-cant-encode-characters-in-position

can you try adding this parameter ``` encoding='utf-8'``` to the open line on 81 of helper.py and see if that solves your issue?

[2022-11-01 17:27] chschrae commented on #1717
Hi there,

Thanks for reaching out to us. Can you provide some code snippets of exactly what you are attempting to do? Both what is working with the SpeechRecognizer and what is not working with the TranslationRecognizer would be helpful.

[2022-11-01 22:32] pankopon commented on #1647
To update, public documentation and samples are now available for embedded speech, see https://aka.ms/embedded-speech. Access to the feature remains limited, however.

[2022-11-01 23:19] BrianMouncer commented on #1704
I had to do a 1.24.1 patch, and this was included.
Please verify with https://pypi.org/project/azure-cognitiveservices-speech/1.24.1/

[2022-11-02 00:14] jhakulin commented on #1681
@WGK864 @jnbh48 1.24 speech sdk is now available which supports direct streaming of mulaw (no need for gstreamer). Would you give us update on this issue?

[2022-11-02 00:31] jhakulin commented on #1689
@ivanicin Speech SDK NuGet do not currently have Xamarin.Mac target, however for Mac there are native libraries under `runtimes/osx-x64/ and runtimes/arm64` folders, which can be used e.g., by .netcore applications. As you have also verified, Xamarin.Mac do not know how to look the native libraries under the NuGet's runtimes folder and sample will not work.

For the next release, we will be adding

[2022-11-02 08:22] WGK864 commented on #1681
Hey, version 1.24 seemed to have fixed the CPU issue. The other issue (scaling) is tracked in an Azure Enterprise Support ticket.

[2022-11-02 08:45] ycycp opened #1718 "Custom Keyword only restarts to the global dialog"
I want to use the custom keyword as a wakeword, not to go back to the global dialog. The keyword should bring me back to a specific step of the waterfall that I want.

[2022-11-02 10:44] k10876 commented on #1714
Thanks for your instructions and I'm sure that this is currently working on my side.

I'll leave this ticket open as there might be something left behind, and you can surely close it if you want.

[2022-11-02 12:13] alfogo opened #1720 "Error deploying ArmTemplateBatch.json template with SQL parameters for the Ingestion Client project"
**Describe the bug**
Error deploying template "ArmTemplateBatch.json" when setting values for Sql Administrator Login and Password to have further analytics for the Ingestion Client project

**To Reproduce**
Steps to reproduce the behavior:
1. Copy json file https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/ingestion/ingestion-client/Setup/ArmTemplateBatch.json
2.

[2022-11-02 12:50] msehnout commented on #1704
It works! Thanks :-)

[2022-11-02 12:50] #1704 closed

[2022-11-02 14:03] jhakulin commented on #1681
thanks for the feedback, closing the issue.

[2022-11-02 14:03] #1681 closed

[2022-11-02 16:33] HenryvanderVegte commented on #1720
Hey @alfogo,

thanks for bringing this up. I'll have a look at it!

Best,
Henry

[2022-11-02 17:05] SShah30-hue opened #1721 "Issue with batch processing python main.py"
I have been using this code for a while now and it never throwed any errors until now. I am getting the below error when attempting to transcribe more than 99 audio files stored in a blob folder. Before I used to transcribe more than 99 files easily. Any help would be massively appreciated.

![error](https://user-images.githubusercontent.com/61804269/199805715-19dc444a-c961-4ed8-a93b-d8c936632132.

[2022-11-02 17:17] chschrae commented on #1714
Thanks again for finding this! I'll close this ticket when I merge the changes to the repo.

[2022-11-02 17:22] chschrae commented on #1718
Hi there,

The keyword currently activates speech recognition which, depending on what object you are using (SpeechRecognizer, IntentRecognizer, or DialogServiceConnector) would trigger either the recognized event and/or send an activity to your bot. Conversation or dialog state is not handled by the SDK. It needs to be handled by the application or bot that is connected.

Can you give more detail

[2022-11-02 17:31] chschrae commented on #1721
Hello and thanks for reaching out to us,

Based on your snippit I cannot tell if you are using the SDK or the rest API. Based on the quota documentation here: https://learn.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-services-quotas-and-limits

it appears there is a limit of 100 concurrent requests when using the SDK but a larger limit on the Batch REST API. Are you hitting

[2022-11-02 17:42] SShah30-hue commented on #1721
Hi @chschrae - many thanks for your quick take on this.

I am using REST API - using this script [https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/batch/python/python-client/main.py](url)

No, I don't believe I am hitting the max limits since batch trancription on Standard (S0) allows 1000 max number of files per transcription request and I have used the same scri

[2022-11-03 04:27] kxxt opened #1722 "Request for a subscription to continue my development on `aspeak`"
Hi,

I'm the creator and maintainer of [`aspeak`](https://github.com/kxxt/aspeak).

`aspeak` is a simple text-to-speech client which enables you to try out Azure's speech synthesis API directly in your terminal.

It acts as a good frontend for azure tts services.

Recently, it seems that Microsoft has deliberately done some changes to prevent 3rd party tools(such as aspeak) using their trial servi

[2022-11-03 11:34] laultman opened #1723 "SpeechServices - Error: ConnectionFailure"
**Describe the bug**
**Fixed** - see comments below...
Trying to run the get started text to speech sample code. I have an established connection to Azure Government and have an active F0 account setup for testing. I have the service key for the SpeechServices, the region ID from the portal, and verified these in my local machine environment variables. I get the following error:
Type some text tha

[2022-11-03 11:49] laultman commented on #1723
Troubleshooting using PowerShell: The following command with my valid key, successfully returned the connection token.
Note: speechtest is the generated custom domain for the service. I am using the All connections however to avoid any firewall issues.

$FetchTokenHeader = @{
  'Content-type'='application/x-www-form-urlencoded'
  'Content-Length'= '0'
  'Ocp-Apim-Subscription-Key' = 'my key here'

[2022-11-03 12:00] laultman commented on #1723
Tried again using a different config for the SpeechConfig class.
            var config = SpeechConfig.FromEndpoint(new Uri("https://speechtest.cognitiveservices.azure.us/sts/v1.0/issuetoken"), speechKey);

Same problem different error:
CANCELED: Reason=Error
CANCELED: ErrorCode=RuntimeError
CANCELED: ErrorDetails=[Internal error: HttpAPI failed - Failed with error: HTTPAPI_OPEN_REQUEST_FAILED [0x

[2022-11-03 12:56] laultman commented on #1723
Following this, [documentation ](https://learn.microsoft.com/en-us/azure/cognitive-services/speech-service/sovereign-clouds?tabs=c-sharp)I got it to work.
The code for the SpeechConfig class:
`var config = SpeechConfig.FromHost(new Uri(speechRegionGov), speechKey);`

The uri for the speechRegionGov is found in a table on the linked document. I added this to my environment variables along with my s

[2022-11-03 16:18] chschrae commented on #1721
It must be the concurrent request limit since that is near 100. Can you go through the steps to increase your quota or introduce a sleep between requests to see if that solves the problem?

[2022-11-03 16:38] chschrae commented on #1722
Hi there,

Someone from Microsoft will reach out to you directly. I will close this issue since it isn't really an SDK issue, but I have forwarded your request.

[2022-11-03 16:38] #1722 closed

[2022-11-03 16:48] chschrae commented on #1723
Hi there,
Thanks for reaching out and you are absolutely correct in your solution. Feel free to open another issue if you run into any other SDK issues.

[2022-11-03 16:48] #1723 closed

[2022-11-03 17:15] chschrae commented on #1701
yes that is correct

[2022-11-03 17:17] #1638 closed

[2022-11-03 17:17] #1619 closed

[2022-11-03 17:40] SShah30-hue commented on #1721
There already is sleep introduced in the code if you take a look. The concurrent request limt 100 is for online transcription and not for batch transcription. I tried raising a support request to increase the quota but turns out you need admin priviliges for that which I don't have.

[2022-11-03 18:00] chschrae commented on #1721
The sleep that is in the sample code is checking the transcription status not in between requests. I'm also not sure if you are making many requests or one large request from a single blob. If you would like to share your altered sample code, I could look at that. (remember not to share your subscription key)

It does seem clear though that some limit is being hit at your 99 mark. It could be the

[2022-11-03 18:22] SShah30-hue commented on #1721
I am generating a SAS URI of a container which is used to send requests to transcribe all files within that blob container. In that container, there are only 100 audio files, totalling 78.67 MiB and each ranging from 39.32 KiB to 4.78 MiB. Don't think this is a problem since I have transcribed them before as well and ran the sample code successfully.

I found the issue - it is to do with the recen

[2022-11-03 18:28] chschrae commented on #1721
@chlandsi It seems you made the change referred to here. Is there a chance this change was in error?

[2022-11-03 21:13] e-driver1 opened #1726 "Exception with an error code: 0x38 (SPXERR_AUDIO_SYS_LIBRARY_NOT_FOUND)"
**Describe the bug**
I have described the issue I am running into in great detail [here](https://stackoverflow.com/questions/74307007/switching-python-interpreters-for-heroku-web-app)

In short, I can get the voice recognition working on an app I've got running in my local virtual environment.

However, when deployed and running on Chrome, as soon as I press the button I have created to start the

[2022-11-03 21:14] #1714 closed

[2022-11-04 19:35] chschrae commented on #1726
@e-driver1 Hi there,

Thanks for reaching out. There have been issues around this in the past.
https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1215
https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1582

The issue you are seeing is likely a missing dependency of the SDK on your Heroku deployment. I am not that familiar with Heroku but it seems like you lis

[2022-11-06 06:44] SGNjogu commented on #1717
From the documentation [here](https://learn.microsoft.com/en-us/azure/cognitive-services/speech-service/audio-processing-speech-sdk?tabs=csharp), using the default options with the SpeechRecognizer like this works:

`var speechConfig = SpeechConfig.FromSubscription("YourSubscriptionKey", "YourServiceRegion");

var audioProcessingOptions = AudioProcessingOptions.Create(AudioProcessingConstants.AUDI

[2022-11-07 06:58] e-driver1 commented on #1726
Hi @chschrae thanks for the prompt response. Apologies, just returned to my desk.

Wasn't aware of 1215 and 1582 - thanks for bringing to my attention as well as giving your explanations - super useful. Will try and implement their recommendations and will let you know how I get on here in the next day/so...

FYI - here's the contents of the requirements.txt file...
`azure-cognitiveservices-speech

[2022-11-07 16:22] e-driver1 opened #1729 "Pull stream wave_format invalid syntax issue"
Hi there,
**Background:**
I'm running the code available [here](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/fc581947e3d13cecabf6e365f6c441a690d36a25/samples/python/console/speech_sample.py#L346)

**Issue:**
The only differences I have made is using `import os` and using os to initialise the speech key and region, as well as add _speech_recognition_with_pull_stream()_ to the

[2022-11-07 18:27] chschrae commented on #1726
Glad I could help! I'll close this issue for now, but if you run into trouble feel free to open it again or create a new one.

[2022-11-07 18:27] #1726 closed

[2022-11-07 18:50] glecaros commented on #1717
Hey @SGNjogu, can you please share logs of a failed run ([enabling logs](https://learn.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-use-logging))

[2022-11-07 19:02] pankopon commented on #1729
Hi, I tried your code with [WinPython](https://winpython.github.io/) 3.11.0.1 and the only issue was missing `)` at the end of the line where `speech_config` is created:
[code]
After fixing it the code works:
[code]

[2022-11-07 23:12] #1713 closed

[2022-11-08 07:02] harsha-osi commented on #1605
Thanks for the support!
As of now play and pause are working as expected.
But while testing we faced one more scenario i.e
Once the given string is completely played, we would like to know
how to reset and play the same text again. Please help us.

[2022-11-08 10:33] HenryvanderVegte commented on #1720
Hey @alfogo ,

can you try to deploy the Ingestion Client again? The database deployment should be fixed now.

Best,
Henry

[2022-11-08 12:12] HenryvanderVegte commented on #1720
Closing now. Please reopen if you still experience issues.

[2022-11-08 12:12] #1720 closed

[2022-11-08 17:01] glecaros commented on #1635
Closing as there hasn't been any movement in a while. If the issue is still a concern, please create a new issue.

[2022-11-08 17:20] #1669 closed

[2022-11-09 01:13] pankopon commented on #1686
Fixed in the Speech SDK 1.24.1 release.

[2022-11-09 01:13] #1686 closed

[2022-11-09 09:34] e-driver1 commented on #1729
Hi @pankopon. Thanks for updating the comment. Yes, I found the same issue eventually. I should've closed the issue sooner. Thanks again...

[2022-11-09 09:34] #1729 closed

[2022-11-09 11:24] e-driver1 opened #1733 "How to use microphone instead of wavfile for push stream or pull stream"
Hi there,
I am trying to convert real-time speech into text from a microphone. and need this to work in the cloud.

**The issue**
My current solution works locally, but is not suited for a web app, as it will try and use the server's microphone (to which it has been deployed). The answer to this was given [here](https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1726#issuecommen

[2022-11-09 19:49] adpinola opened #1735 "ParticipantChangedReason.LeftConversation event reason is not triggered when a participant leaves the conversation"
**Describe the bug**
Using the Java SDK for Android and Objective-C SDK for iOS
Up to version 1.20.0 when a participant leaves the conversation calling `leaveConversationAsync()` a `ParticipantsChanged` event with reason `ParticipantChangedReason.LeftConversation` is triggered.

After 1.20.0, using 1.21.0, 1.22.0, 1.23.0, and 1.24.0 this event is not being dispatched anymore.

**To Reproduce**
We

[2022-11-09 23:24] chschrae commented on #1561
Updated the sample

[2022-11-09 23:24] #1561 closed

[2022-11-10 07:44] Aethey commented on #1687
Thank you for your reply,and i got the log.but it is a list,and in this doc
[https://eastus.dev.cognitive.microsoft.com/docs/services/speech-to-text-api-v3-0/operations/GetEndpointLog](url)
i should give the **logId** but i can't find a way to get it...
[code]

[2022-11-10 13:00] alfogo commented on #1720
Thanks! @HenryvanderVegte. We'll test it and let you know in case any problem.

[2022-11-10 20:10] zhouwangzw commented on #1721
I do not think the change in swagger_client itself causes any issues. It is generated code from Swagger specification. The change is to use the official location of Azure REST API specification to generate code instead of hosting it by ourselves.

From the error shown above (error 401) it looks that the client either uses a wrong api key of speech resource or a wrong region. As described in [main.

[2022-11-10 22:38] eldakms commented on #1721
@SShah30-hue , this is indeed bug in the sample, the transcription has actually succeeded, but the call the fetch the next result after 100 fails. I will provide the fix in the next days. The problem is the pagination uses a wrong set of auth parameters, in particular this line:
    auth_settings = ["apiKeyHeader", "apiKeyQuery"]

Should be instead
    auth_settings = ["api_key"]

Because this is

[2022-11-10 23:37] glecaros commented on #1733
Hi @e-driver1,

Just to understand your architecture, you have a backend that is now running the SDK, and a web-based front that is opening the microphone and streaming the audio to your service?

If that is the case, I would recommend using a `PushAudioInputStream` as it is shown [here](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/python/console/speech_sample

[2022-11-10 23:39] glecaros commented on #1636
These samples have been removed (and a workaround was provided) so I'm closing this item.

[2022-11-10 23:39] #1636 closed

[2022-11-11 00:36] glecaros commented on #1735
Hi, thank you for reaching out. I created an internal item for the team to take a look (4652640)

[2022-11-11 09:52] eldakms commented on #1721
PR with the fix is here: https://github.com/Azure-Samples/cognitive-services-speech-sdk/pull/1739, thanks!

[2022-11-11 10:58] SShah30-hue commented on #1721
@eldakms Thanks so much for your quick resolve! I have tested it and all seems to be working fine with the change you have made to the pagination function.

[2022-11-11 19:26] tripfish commented on #1070
Is there any news?

[2022-11-11 20:01] pankopon commented on #1070
Unfortunately no news, sorry. It is actually possible to control the timeout with [Embedded Speech](https://aka.ms/embedded-speech) but not when using cloud speech services as here.

[2022-11-11 20:02] pankopon commented on #1070
Internal work item ref. 3521402.

[2022-11-13 05:11] elrhomariyounes opened #1740 "Always not match reason when using CreatePushStream"
**Describe the bug**
Hello, when I'm using the speech sdk to extract a text from a wav file I get a NoMatch reason with the CreatePushStream but when using AudioFromWavFile("Path") I get the expected result. Is it
**To Reproduce**
Steps to reproduce the behavior:
1. Create a web api in .NET 7
2. Create a post method with an IFormFile (to send the wave file)
3. The method body as follow:
[code]

**

[2022-11-13 18:00] TobiasG95 opened #1741 "Audio Output on iOS Safari not working"
**Describe the bug**
The Text to Speech Output is not working on iOS Safari, but the same code works on Chrome, MacOS Safari and Edge.

**To Reproduce**
I used the following simplified code to output the same text as in the demo-page (https://azure.microsoft.com/en-us/products/cognitive-services/text-to-speech/#features):
[code]
The element with the id "test" ist just a simple button

**Expected b

[2022-11-14 08:39] Darinzhao opened #1742 "Question for Speech to Text API v3.0"
Hi there,

I want to ues "Get Custom Model Endpoint Log" in "Speech to Text API v3.0" to get my specific audio log. But I could not get the logid as the request parameters from my source. Could you tell how can I get the specific audio 's logid that I want .

Thank you.

[2022-11-14 10:28] SGNjogu commented on #1717
Hi @glecaros , for some reason, I can't get the class to log the errors in the file. Below is a snippet of what I have on my end:

[code]

The exception is thrown when creating the TranslationRecognizer with the AudioOptions as above.
[code]

All the examples in the documentation are using the SpeechRecognizer, as below:
[code]

[2022-11-14 13:47] e-driver1 commented on #1733
Hi @glecaros,
Your synopsis of my architecture is correct. My issue is, I can never get the microphone working in the web app, as it's trying to use the server's microphone.

Thanks for the pointer. I got the code `PushAudioInsputStream` working (as per the example), with a couple of changes (see below), but it requires the `push_stream_writer` function.

That function requires that you are openin

[2022-11-14 16:55] lucoiso commented on #817
@smartcharith

I created a plugin that I've been working on that integrates the Azure Speech SDK into the unreal engine: https://github.com/lucoiso/UEAzSpeech

[2022-11-14 19:15] glecaros commented on #1733
Hi!
The PushAudioInputStream reads from a wav file just to ilustrate how to use it. In your case you would probably need to:

a) Open the microphone in your browser,
b) Stream the bytes read from it to your back end.
c) In your back end call write in the stream.

I wonder if your scenario would be easier to implement using the JS SDK.

[2022-11-14 19:16] glecaros commented on #1721
Closing the issue based on the latest communication.

[2022-11-14 19:16] #1721 closed

[2022-11-14 19:46] glharper commented on #1742
@mahilleb-msft Can you help out with this issue?

[2022-11-14 22:14] nicholasgcotton opened #1743 "AttributeError: module 'swagger_client' has no attribute 'CustomSpeechTranscriptionsApi'"
**Describe the bug**
API Error when using/adapting Error from https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/batch/python/python-client/main.py

I get the following error

    File "AzureTest20221114.py", line 141, in transcribe
    api = cris_client.CustomSpeechTranscriptionsApi(api_client=client)
    AttributeError: module 'swagger_client' has no attribute 'Cu

[2022-11-15 06:10] sacha-6over6 commented on #1688
Any updates or an eta on this ?

[2022-11-15 06:28] zhouwangzw commented on #1743
@nicholasgcotton  The problem looks like that the client library generated by Swagger is not available. How did you generate the client library from Swagger specification? The information on [this page](https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/batch/python) https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/batch/python migh

[2022-11-15 13:27] glharper commented on #1741
@TobiasG95 Thanks for using Speech SDK, and writing this issue up. I was actually not able to get audio output on any iOS browser using your code sample. Using [this code sample](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/js/browser/synthesis.html), however, I can get audio output on iOS browsers.

I will test again today and see if the difference is using s

[2022-11-15 13:54] nicholasgcotton commented on #1743
Hmmm. I followed all the swagger steps but I could have missed something, I will re-do that install and try again, thank you.

[2022-11-15 15:01] stefan-parloa commented on #1421
When the punctuation like commas are filtered afterwards, it is not possible for the user to share numbers which include a comma. So this solution does not work for our use case.

The lexical form does not convert spoken numbers into digits, so the processing afterwards does not work in our use case.

This issue is posing more and more issues with our clients.

@trrwilson @pankopon Can you give an

[2022-11-15 15:18] nicholasgcotton commented on #1743
I installed Swagger using the instructions here: [Generate a REST API client library for the Speech-to-text REST API](https://learn.microsoft.com/en-us/azure/cognitive-services/speech-service/swagger-documentation), which uses a different URL for the Speech Services API.

The page you linked to says to use: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/cognitivese

[2022-11-15 15:18] #1743 closed

[2022-11-16 14:40] aberthout opened #1747 "[LINUX SDK Java] Openssl 3 compatibility"
Hello,

Is there soon to be an integration of version 3 of OpenSSL ? We use the ASR with the Java SDK inside a Docker container with OS Ubuntu 22.04 and the library libssl1.1_1.1.1f-1ubuntu2.16_amd64.deb. But as you know new vulnerabilities about OpenSSL arrived since the end of October. Unless building yourself the latest version from sources (https://github.com/openssl/openssl/releases/tag/OpenS

[2022-11-16 17:02] glharper commented on #1741
@TobiasG95 I was able to get audio output by modifying the speakSsmlAsync call like this:
[code]
Let me know if that works for you.

[2022-11-16 17:12] glharper commented on #1735
@adpinola Which feature are you using here, ConversationTranslator or ConversationTranscriber?

[2022-11-16 17:24] adpinola commented on #1735
I'm using ConversationTranslator

[2022-11-16 18:10] wbennison opened #1748 "Returning the channel for each utterance. Python SDK"
Hi.

We are currently using the batch transcription API endpoint but in order to use phrase boosting, we are experimenting with continuous_recognition in the Python SDK.

We require channel labels for multi-channel audio or the ability to diarize and return speaker labels for mono audio

In the detailed JSON output from the Python SDK, I can see

[code]

This leads me to believe a channel can be r

[2022-11-17 10:27] laultman commented on #1557
I appear to have the same issue. The **bookmark does not trigger the event** while synthesizing the SSML. I am using SSML and the SDK sample HelloWorld as my base project to test. I added an event and a method to process the event as follows:
[code]
The SSML string is as follows:
[code]

[2022-11-17 10:44] laultman commented on #1557
UPDATE:
I added an event and event handler for the Synthesizer completed to test that events were working at all in the SDK.
[code]
I next added a simple handler for it.
[code]

[2022-11-17 15:12] kleindev opened #1750 "SouthCentralUs - Batch - Unable to get PaginatedFiles"
Starting this week, we are having challenges getting PaginatedFiles from the REST api.  Is there a possibility something changed on the REST API?

Example:  https://southcentralus.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions/dba7389b-207b-4c0f-ab5a-710f0861a57e/files

[2022-11-17 16:22] laultman commented on #1557
Additional Update: This same issue is found in the Windows version of System.Speech. The difference is Azure Cognitive services ignores the bookmark tags while the Windows System.Speech throws a hard error: Invalid format (XML).

I was able to get the Windows System.Speech to work by looking up the [W3C specification:](https://www.w3.org/TR/speech-synthesis/) in section 3.3.2 _**mark**_ Element. U

[2022-11-17 19:18] dargilco commented on #1152
There are no plans to support LUIS based IntentRecognzier in China regions. There is a way to make IntentRecognizer with [simple pattern matching](https://learn.microsoft.com/azure/cognitive-services/speech-service/how-to-use-simple-language-pattern-matching?tabs=jre%2Cwindows%2Cubuntu%2Cmaven&pivots=programming-language-csharp) work in China regions. Please open a new issue if you would like to u

[2022-11-17 19:18] #1152 closed

[2022-11-17 20:24] glharper commented on #1717
I've repro-ed this issue in SpeechRecognizer, and here's the log.
[logfile_CARBONGLHARPER.txt](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/10035309/logfile_CARBONGLHARPER.txt)

[2022-11-17 20:54] jychoudh commented on #1717
I will take a look at this.

[2022-11-18 00:35] ralph-msft commented on #1712
Closing due to inactivity

[2022-11-18 00:35] #1712 closed

[2022-11-18 06:29] tianshuang opened #1751 "Fatal Error caused by SDK 1.19.0"
**Describe the bug**
JVM suddenly Fatal Error, unable to reproduce.

**To Reproduce**
Can not reproduce.

**Expected behavior**
Fatal Error does not appear.

**Version of the Cognitive Services Speech SDK**
1.19.0

**Platform, Operating System, and Programming Language**
 - OS: Ubuntu 18.04.5 LTS, LSB Version: core-9.20170808ubuntu1-noarch:security-9.20170808ubuntu1-noarch
 - Hardware: x64
 - Prog

[2022-11-18 10:50] mahilleb-msft commented on #1742
@Darinzhao you can enumerate custom models endpoints logs through [Get Custom Model Endpoint Logs](https://westus.dev.cognitive.microsoft.com/docs/services/speech-to-text-api-v3-0/operations/GetEndpointLogs), check `.values[].self` on the result.

[2022-11-18 11:01] andreasjl commented on #1750
@kleindev There should be no change on existing API versions. In our logs I see some requests for that URL that look successful. What is exactly the problem that you have? Can you also share the "apim-request-id" header that you get in the response?

[2022-11-18 11:30] rahulshivajipawar opened #1752 "Word Timing Offset is incorrect for direct speech to text translation call."
**Describe the bug**
When I use _speechsdk.translation.TranslationRecognizer_ to get direct speech to text translations, the word offset information for words in the transcribed text is incorrect (compared to directly using the _speechsdk.SpeechRecognizer_).

Example:

Response using _speechsdk.translation.TranslationRecognizer_ (a subset of the overall response is shown)

{'Duration': 141100000,

[2022-11-18 14:12] glharper commented on #1751
@tianshuang Thanks for writing this issue up, and using Speech SDK. As a first step, we strongly recommend upgrading to Speech SDK v.1.24.2 and testing with that version. Please let us know your results with that version.

@jhakulin FYI

[2022-11-18 14:20] tianshuang commented on #1751
OK, I will upgrade to Speech SDK v.1.24.2.

[2022-11-18 17:16] jhakulin commented on #1748
@wbennison In Speech SDK 1.24.0 we have released preview of speaker diarization functionality which allows you to separate the speakers using mono audio. See below example about the transcription of the preview feature (Guest_0, Guest_1 are the separated speakers in the conversation). If you are interested to try this preview functionality out with mono audio, please send the request to diarizatio

[2022-11-18 20:33] pasha-o opened #1753 "SDK 1.24.2 on Xamarin Forms android is breaking"
**Describe the bug**
 @jhakulin: updating to the latest SDK version from **1.24.1** to  **1.24.2** in visual studio 2022 version 17.4.1 and running it on a xamarin form android emulator is resulting in the following error, whenever you call SpeakTextAsync function. calling the function will result in getting the following result set:

**error code: Microsoft.CognitiveServices.Speech.CancellationEr

[2022-11-20 15:28] TobiasG95 commented on #1741
@glharper Thanks for your quick response.

I just tried your proposed fix and it worked! It seems that not calling `azureSynth.close();` was my mistake, correct? Weird that it is working on Android and Desktop, but not on mobile iOS.

When not using a button and click() event, I still have some problems on iOS but that is almost certainly because on the restrictions on autoplaying media that you m

[2022-11-20 15:28] #1741 closed

[2022-11-20 22:09] eduardoagr opened #1754 "Trying to return the sting from the Spech recognizer"
I made a code,  that should  return the string

[code]

[2022-11-21 10:24] fantinuoli opened #1755 "Text-to-Speech Audio Duration (privAudioDuration)"
How is the value `privAudioDuration` returned by a call of the text-to-speech API computed? Is it a calculation based on number of characters and voice features, or it is measured by the API for any emission? We find inconsistencies in the emitted value, and are trying to figure out the mechanisms behind it.

[2022-11-21 18:32] chschrae commented on #1718
closing due to inactivity

[2022-11-21 18:32] #1718 closed

[2022-11-22 00:21] pasha-o commented on #1753
hi @jhakulin , @pankopon , @dragav , @trrwilson is anyone looking at this?

[2022-11-22 00:48] jhakulin commented on #1753
@pasha-o Thanks for checking, are you still seeing the failure with connection? There has been recently problems with the Azure service and not related to 1.24.2. In case you see the problem still, could you please confirm you do not have any problems with 1.24.1 release? I am asking because in 1.24.2, there should not be any changes impacting to connection problem you reported.

[2022-11-22 02:06] pankopon commented on #1747
Hi, we have a work item on the backlog to support OpenSSL 3.x but no ETA yet. We should have a plan for it before OpenSSL 1.x is discontinued. (@jhakulin)

[2022-11-22 02:07] pankopon commented on #1747
Internal work item ref. 4254856.

[2022-11-22 02:54] pankopon commented on #1748
Closed as answered, please open a new issue if more support is needed.

[2022-11-22 02:54] #1748 closed

[2022-11-22 02:56] pankopon commented on #1742
Closed as answered, please open a new issue if more support is needed.

[2022-11-22 02:56] #1742 closed

[2022-11-22 02:57] pankopon commented on #1740
Closed as answered and no further updates, please open a new issue if more support is needed.

[2022-11-22 02:57] #1740 closed

[2022-11-22 03:04] pankopon commented on #1715
This will be fixed in the Speech SDK 1.25.0 release next year.

[2022-11-22 03:05] pankopon commented on #1711
Internal work item ref. 4615651.

[2022-11-22 03:06] pankopon commented on #1711
This will be supported in the Speech SDK 1.25.0 release (early 2023).

[2022-11-22 03:09] pankopon commented on #1705
@yulin-li Please assign to the correct person (or yourself), seems I cannot add @jiajzhan.

[2022-11-22 03:13] pankopon commented on #1694
Closed since no further update, please refer to the mentioned main issue for the latest status on fixes, or create a new item if other kind of support is needed.

[2022-11-22 03:13] #1694 closed

[2022-11-22 03:16] pankopon commented on #1689
Closed as answered, please create a new issue if more support is needed.

[2022-11-22 03:16] #1689 closed

[2022-11-22 03:17] pankopon commented on #1688
Internal work item ref. 4601341.

[2022-11-22 03:20] pankopon commented on #1687
@Aethey See https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1742.

[2022-11-22 03:23] pankopon commented on #1677
Closed as answered and no further updates, please open a new issue if more support is needed.

[2022-11-22 03:25] pankopon commented on #1668
Closed as by design, to be considered for enhancements in the future. (No ETA.)

[2022-11-22 03:25] #1668 closed

[2022-11-22 03:30] pankopon commented on #1557
@newhillchan @yulin-li Please update status.

[2022-11-22 04:29] Aethey commented on #1687
Thank you，
but this answer is about **Get Custom Model Endpoint Logs**,not **Get Custom Model Endpoint Log**,if i want to get a file not a list, i need a **logId**,but how to get the **logId**。

[2022-11-22 07:08] yulin-li commented on #1755
The value is calculated by service. It should be accurate for raw/riff formats. For compressed audio formats, extra silence might be added for frame padding.

[2022-11-22 19:55] pankopon commented on #1687
@Aethey In 1742 it was asked

but if this indeed does not match your question then @mahilleb-msft to the rescue.

[2022-11-23 00:39] pankopon commented on #1649
Internal work items ref. 4592236, 4592237, 4592239.

MAUI support for Android was released in 1.24.0, support for iOS and Android will be in 1.25.0.

[2022-11-23 01:25] pankopon commented on #1754
Hi, not sure why you should gather the results character by character, but the following works:
[code]
Another way is simply to collect the original result strings:
[code]
In either case the returned string(s) can be also empty if nothing was recognized from the input file.

[2022-11-23 02:30] pankopon commented on #1645
@DejanCotra The larger a phrase list is, the more it affects real-time processing and latency. Documentation
https://learn.microsoft.com/azure/cognitive-services/speech-service/improve-accuracy-phrase-list says:

If I calculated correctly, your `azu_st2.py` adds a list of **1435** phrases, of which **1057** are unique (so there is a lot of duplication). Please use a lower number, or consider using

[2022-11-23 02:37] pankopon commented on #1660
Internal work item ref. 4530260.

[2022-11-23 02:49] pankopon commented on #1660
Closing the issue as a corresponding feature request has been added to our backlog and we continue internal tracking there.

[2022-11-23 02:49] #1660 closed

[2022-11-23 02:51] #1747 closed

[2022-11-23 02:53] #1711 closed

[2022-11-23 02:53] pankopon commented on #1649
Closing the issue as we have corresponding feature request work items on our backlog and continue tracking the status there.

[2022-11-23 02:53] #1649 closed

[2022-11-23 02:54] pankopon commented on #1641
Closing the issue as we have a corresponding feature request on our backlog and continue tracking the status there.

[2022-11-23 03:57] pankopon commented on #1698
Closed since no further update on a Flutter specific issue.

[2022-11-23 03:57] #1698 closed

[2022-11-23 04:06] pankopon commented on #1506
Closing the item since no update from @ralph-msft in 6 months. Please re-test with the latest Speech SDK and open a new issue if still necessary.

[2022-11-23 04:06] #1506 closed

[2022-11-23 04:34] pankopon commented on #1754
Closed as answered, please open a new issue if more support is needed.

[2022-11-23 04:34] #1754 closed

[2022-11-23 07:38] jiajzhan commented on #1705
@pankopon, I will follow up, open a task 4681637 to track.

[2022-11-23 09:22] eduardoagr commented on #1754
It doesn't work, what I am trying to do, is recognize an audio file (is an mp3, but I convert it with NAudio). I worked on this with a friend last week,  and the above and my initial code were working fine. When I recognize I am trying to send that back to my ViewModel (AudioPageViewMode)

[code]

https://github.com/eduardoagr/TranscribeMe/tree/NewUI

This is the file I am using to test

https://1

[2022-11-23 09:23] eduardoagr opened #1757 "recognize and return string"
It doesn't work, what I am trying to do, is recognize an audio file (is an mp3, but I convert it with NAudio). I worked on this with a friend last week,  and the above and my initial code were working fine. When I recognize I am trying to send that back to my ViewModel (AudioPageViewMode)

[code]

https://github.com/eduardoagr/TranscribeMe/tree/NewUI

This is the file I am using to test

https://1

[2022-11-23 11:00] GoncaloBastos opened #1758 "TTS Discrepancies with heteronyms and ssml"
**Describe the bug**
Adding alias tag to a word, causes a separate word's pronunciation to change (heteronyms).

**To Reproduce**
Steps to reproduce the behavior: (surrounding xml tags removed for clarity)
1. Use 'Injuries such as sprains, strains, tears, and contusions of the large lumbar paraspinal muscles can result in significant low back pain.'
2. see pronunciation of 'tears'
3. Use 'Injuries

[2022-11-23 14:54] danhalliday opened #1759 "iOS Sample Code Bug"
There’s a pretty serious bug in one of the iOS speech samples, at the following line:

[code]

- https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/swift/ios/from-external-microphone/helloworld/helloworld/ViewController.swift#L84

What’s happening here is you’re creating a new `AVAudioPCMBuffer` to hold audio in the converted format, but initialising it with a `fram

[2022-11-23 15:54] yulin-li commented on #1758
Thanks for using Azure TTS and reporting this bug. We will review it.

[2022-11-23 21:21] pankopon commented on #1757
Here's a full working example of the Speech SDK related part in plain C#, not specific to UI or other frameworks:

* Get a copy of https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/csharp/dotnetcore/from-microphone (this is just used as a project template).

* Replace `helloworld\Program.cs` with the file from the attached zip.
  [helloworld.zip](https://github.

[2022-11-23 21:21] #1757 closed

[2022-11-23 22:00] Darinzhao opened #1760 "@Darinzhao you can enumerate custom models endpoints logs through [Get Custom Model Endpoint Logs](https://westus.dev.cognitive.microsoft.com/docs/services/speech-to-text-api-v3-0/operations/GetEndpointLogs), check `.values[].self` on the result."
@Darinzhao you can enumerate custom models endpoints logs through [Get Custom Model Endpoint Logs](https://westus.dev.cognitive.microsoft.com/docs/services/speech-to-text-api-v3-0/operations/GetEndpointLogs), check `.values[].self` on the result.

_Originally posted by @mahilleb-msft in https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1742#issuecomment-1319835713_

[2022-11-23 22:05] Darinzhao commented on #1760
Hi there,
I want get specific log that I need. But with the method you mentioned I can not get the specific log.As the API document said, if  I need to get the specific log I can use  [Get Custom Model Endpoint Log]. To use this method , it is be required a logid, I have no idea to get this logid. So could help tell how can I get this logid.
Thank you

[2022-11-23 23:16] pankopon commented on #1760
Duplicate of [#1687](https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1687)

[2022-11-23 23:16] #1760 closed

[2022-11-23 23:17] pankopon commented on #1687
@andreasjl @mahilleb-msft Please advise.

[2022-11-24 03:19] pankopon commented on #1752
It seems there is at least some discrepancy between regions. I attached a Python test script and a wav file for comparison.
[test_offsets.zip](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/10080478/test_offsets.zip)

Using Speech SDK 1.24.2, with **northeurope** and **westus** regions the output is
[code]
So it seems that in translation the base offset of recognized words is

[2022-11-24 03:34] yulin-li commented on #1758
Hi @GoncaloBastos, may I ask that which voice were you using?

[2022-11-24 08:44] GoncaloBastos commented on #1758
Hi @yulin-li

This was using the following voice: `en-US-AshleyNeural`

[2022-11-24 15:29] eduardoagr opened #1761 "Progress bar"
I wanted to know if there is a way to track the percentage of the SpeexhRecognition from a wav.

For example, I am using WPF and would like to put a progress bar, but I know internet speed would be an issue. Is there a way a accomplish this? also, it will  depend of the length of the wav

[2022-11-24 15:57] wbennison commented on #1748
Thanks, @pankopon, Am I right that we can't get channel labels for stereo audio?.

I'll check back in with a new issue when I come back to working with the SDK.

Thanks again

[2022-11-24 18:45] pasha-o commented on #1753
hi @pankopon I checked and the issue is resolved - so this was the azure service issue? how do we escalate that to them to ensure it doesn't happen?

[2022-11-25 09:14] jaysoncho92 opened #1762 "Is there an option to set the speech rate and volume?"

[2022-11-26 10:46] AdityaYadavalli1 opened #1763 "Pronunciation Assessment using Python Speech SDK"
**Describe the bug**
KeyError when using Pronunciation Assessment feature in Python Speech SDK

**To Reproduce**
[code]

**Expected behavior**
code runs without error and the variable `pron_assessment` has the json containing the pronunciation assessment scores for the corresponding reference text and wav file.

**Version of the Cognitive Services Speech SDK**
1.24.2

**Platform, Operating System,

[2022-11-27 23:57] pankopon commented on #1762
Hi, this is possible by using input in SSML format with `prosody`tags. Please see https://learn.microsoft.com/azure/cognitive-services/speech-service/speech-synthesis-markup#adjust-prosody

Code example (C++):
[code]

[2022-11-27 23:57] #1762 closed

[2022-11-28 01:18] pankopon commented on #1761
Hi, you can do this by tracking `OffsetInTicks` and `Duration` properties of `RecognitionResult` (see https://learn.microsoft.com/dotnet/api/microsoft.cognitiveservices.speech.recognitionresult?view=azure-dotnet).

`OffsetInTicks` tells the offset of recognized speech, measured from the beginning of audio input (when you started recognition), and `Duration` is the duration of the recognized speech

[2022-11-28 01:18] #1761 closed

[2022-11-28 01:58] pankopon commented on #1763
@yulin-li Please check.

[2022-11-28 02:01] pankopon commented on #1755
Closed as answered, please open a new issue if more support is needed.

[2022-11-28 02:01] #1755 closed

[2022-11-28 02:07] pankopon commented on #1753
Hi, there was an Azure service outage which is now resolved. You can get regular updates on the service status through Azure Service Health, please see https://azure.microsoft.com/get-started/azure-portal/service-health/

[2022-11-28 02:07] pankopon commented on #1753
Closed as resolved, please open a new issue if more support is needed.

[2022-11-28 02:07] #1753 closed

[2022-11-28 02:08] pankopon commented on #1751
Closed as resolved since no further updates received, please open a new issue if more support is needed.

[2022-11-28 02:10] #1733 closed

[2022-11-28 16:11] jhakulin commented on #1715
Closing this issue as the fix has been made (will be in 1.25.0) and workaround provided

[2022-11-28 17:47] fantinuoli opened #1764 "Get Word Confidence in streaming ASR also for temporary results"
Is it possible to get word confidence in streaming ASR also for partial transcriptions, as it is possible for finalized transcription? If not, this would be a useful new feature.

[2022-11-29 02:01] jhakulin commented on #1759
@danhalliday Thanks a lot for letting us know. I will check the changes needed for the sample.

[2022-11-29 11:53] ShrivastavaAkash opened #1765 "Echo cancellation to block out `SpeechSynthesizer` audio from `SpeechRecognizer` input"
I have a use case where I need to perform following tasks at the same time -
1. record audio from microphone and use it as input to `SpeechRecognizer`
2. playback audio (text-to-speech) using `SpeechSynthesizer`

When the user is not using headsets, the playback audio (text-to-speech) is picked up by the microphone and is transcribed by the `SpeechRecognizer`. This is not desirable, the applicatio

[2022-11-29 14:14] yulin-li commented on #1763
@AdityaYadavalli1 thanks for using Azure pronunciation assessment and reporting this issue, I will check.

[2022-11-29 19:53] jhakulin commented on #1764
@fantinuoli Currently we do not support word confidence for intermediate results. I will create work item for that for planning.

[2022-11-29 19:58] jychoudh commented on #1765
Which operating system are you using?

[2022-11-29 20:03] jhakulin commented on #1764
workitem ref: 4693329

[2022-11-30 03:25] ForrestGumb commented on #1758
The pronunciation change on "tears" is by design.
Microsoft TTS will readout word based on context. <sub alias="parah-spinal"> is also considered as a part of context. So, the pronunciation changed.

[2022-11-30 05:43] ShrivastavaAkash commented on #1765
Right now I'm trying this on a dev machine. Windows 10 (OS Build 19044.2251)

[2022-11-30 07:22] madeInLagny opened #1766 "onCanceled event missing"
[In js browser code sample](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/48447ecc0643f4e04a9287456d29a1306a79f21b/samples/js/browser/public/index.html#L695), e.reason is used in the onCanceled method.

The issue is that e is not defined in the method args and raises an error.

Should 'e' be 'cancellationEventArgs'?

[2022-11-30 13:12] GoncaloBastos commented on #1758
I would expect the readout word context to use the original pronunciation of the other word, rather than its pronunciation override. Although I can see how that might make sense when replacing acronyms with their spelled out meaning for example. Is that the reasoning behind the design decision?

Perhaps we can add an optional flag to let the user making the request decide which to use for context?

[2022-11-30 14:16] dhavalsoni2001 opened #1767 "Continuous recognition not re-starting after stopping programatically"
**Describe the bug**

When first time using startContinuousRecognitionAsync Safari prompts correctly for microphone access, I have a 'microphone active' display next to the url, and speech gets recognized.

As I am integrated GPT3 I am using stopContinuousRecognitionAsync to stop it until GPT 3 respond and after that I start again using startContinuousRecognitionAsync to listen the user but at tha

[2022-11-30 17:05] jychoudh commented on #1765
You can use echo cancellation from MAS. I can provide you some sample code, but before that I want to know how are you feeding the audio to `SpeechRecognizer`? Are you capturing the audio from microphone yourself and then feeding the audio via `PushAudioInputStream`?