[2020-08-03 16:03] jhakulin commented on #754
@aidenkoh801 Did you check our sample for using Unity microphone with push mode?
https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/unity/from-unitymicrophone/Assets/Scripts/HelloWorld.cs

[2020-08-04 00:30] jamescarpinter opened #755 "Unable to run intent recognizer sample in australiaeast region"
**Describe the bug**
The .NET Core console intent recognizer sample ($/samples/csharp/dotnetcore/console/samples) fails when using a LUIS model provisioned in the Australia region (with an australiaeast prediction key). The error message returned is:

CANCELED: Reason=Error
CANCELED: ErrorCode=ConnectionFailure
CANCELED: ErrorDetails=Connection failed (no connection to the remote host). Internal e

[2020-08-04 00:52] GeisaFaustino opened #756 "Minimum/Maximum values for InitialSilence and EndSilence timeouts for Speech SDK for Python"
Hello, I am using Speech SDK for Python version 1.13.0 and I am getting the error: `No speech could be recognized: NoMatchDetails(reason=NoMatchReason.InitialSilenceTimeout)`.

Is there a way of setting silence timeout via Python SDK API?

I only found this availability regarding C# and Java SDKs as mentioned in https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/131 and https://

[2020-08-04 05:32] aidenkoh801 commented on #754
@jhakulin Thanks for sharing! I tried it and Unity microphone with push mode works. Thanks so much!

[2020-08-04 05:32] #754 closed

[2020-08-04 05:51] jzhw0130 commented on #752
@glharper
Thanks for your quick response.

Since there's a long delay between stopContinuousRecognitionAsync() and SessionStoppedHandler triggered.
If I call startContinuousRecognitionAsync()  before SessionStoppedHandler triggered, it will reproduce the original issue (sessionStarted not called)

[2020-08-04 07:01] jhakulin commented on #749
@noxord The problem could be related to your kws model, as I tried with kws.table model from our sample https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/java/android/keyword-recognizer-stream/app/src/main/assets, and your code works with the wav file which use "Computer" keyword ok. Please check the model has been done correctly. I'll also check the model you p

[2020-08-04 10:10] noxord commented on #749
@jhakulin Thanks for looking into it. I'm pretty sure that model and pronunciation in wav file are fine. That's because at the time I was recording the sample I was running same code with microphone input and it was recognized by keyword model just fine.
Besides I just run the test - playing wav file from the speaker and running the code above with microphone input. It was recognized, that means t

[2020-08-04 11:00] jhakulin commented on #749
@noxord hmm, thanks for information, we will check the model and wav file also to see if our solution should be optimized. Your audio input sounds ok to me, audio level looks to be good etc., however I now recorded own wave file using Audacity and said "Hi Jimmy, start recording" and that works ok with your code and model. We will check why with your wave file, keyword does not get detected. You c

[2020-08-04 11:09] jhakulin commented on #748
@bedro96 Did using arm64 help to your issue?

[2020-08-04 11:41] noxord commented on #749
@jhakulin That's interesting. I too was using audacity for the record. I tried handful of times, thinking that maybe some format not supported (btw I didn't find info on what sample rates are supported by KeywordRecognizer), tried to increase volume levels, strip header from wav file and so on. I'll try to make new samples. Thank you!

[2020-08-04 12:14] jhakulin commented on #749
@noxord Format in your file, 16kHz, mono PCM is supported, Our docs mention that as default format
https://docs.microsoft.com/en-us/dotnet/api/microsoft.cognitiveservices.speech.audio.pushaudioinputstream.-ctor?view=azure-dotnet#Microsoft_CognitiveServices_Speech_Audio_PushAudioInputStream__ctor
But I agree we could describe the support clearer for all supported formats and features.

For your tes

[2020-08-04 14:58] nansravn commented on #756
I'm facing the same issue here. Do we have a roadmap for supporting this feature in the Python SDK?

[2020-08-04 18:49] rhurey commented on #741
That's fair feedback. We're going to undertake a review of all the string based properties to determine which ones need more exposure and discoverability.

I'm going to close this for now, and will get back once the review is over.

[2020-08-04 18:49] #741 closed

[2020-08-04 20:44] lisaweixu commented on #755
This will be fixed in the next release of the SDK. Thanks for reporting this. Good catch. You have found a workaround, fromhost.

[2020-08-04 20:44] #755 closed

[2020-08-05 05:18] yulin-li commented on #753
Hi @sakethpo

Thanks for reaching out. Unfortunately, the python SDK doesn't support setting opus format for now. We will support it in version 1.14, which is supposed to be released late this month. I was trying to find a workaround but I failed. You can use the sample python codes to call rest api for now.

[2020-08-05 09:47] TamaraShlomovMoveo commented on #412
Hi, I can't find the documentation to "wake word"  for ios (swift), can you please send me a link?

[2020-08-05 11:04] noxord commented on #749
@jhakulin I've been able to record a sample what is working alright with the code above. I had to be very loud and clear, I guess it's volume level in wav file after all, though increasing volume with audacity for the previous sample did not yield results. Thank you for the help, I'm closing the issue.

[2020-08-05 11:04] #749 closed

[2020-08-05 11:45] jhakulin commented on #412
@TamaraShlomovMoveo iOS for objective-C/Swift bindings do not support yet keyword recognition, we are working on it to get it supported on future releases. Xamarin iOS using C# bindings supports  keyword recognition currently.

[2020-08-05 16:45] glharper commented on #752
@jhakulin I've added a bug with a quickly started session triggering recognized events from a previous session. Is there also a perfomance issue here with sessionStopped not being sent for a minute after stopContinuousRecognition has been called?

[2020-08-05 17:45] lisaweixu commented on #756
You could set the two parameters via an endpoint as below for SpeechRecognizer:
https://**region**.stt.speech.microsoft.com/speech/recognition/conversation/cognitiveservices/v1? format=simple&initialSilenceTimeoutMs=**60000**&endSilenceTimeoutMs=**60000**

Replace region with your own region, and the 60000 with your own value.

Please note that these two parameters change how the speech recognizer

[2020-08-05 17:45] #756 closed

[2020-08-05 18:40] jhakulin commented on #749
@noxord  We analyzed the clip more and we have identified an issue there if keyword is early in the wav file, it will not be detected. We plan to fix on the next Speech SDK release. Thanks for reporting the issue!

[2020-08-05 21:04] rhurey commented on #752
So internally what's happening is that StopContinuousRecognitionAsync is that the SDK will tell the Speech Service that its done sending audio, and it will wait for the Speech Service to return the results for all the audio that's been sent, or 10 seconds to happen.

Normally this delay is small as the Speech Service isn't more than a few hundred ms behind the SDK in audio recognition, especially

[2020-08-06 01:21] jzhw0130 commented on #752
@rhurey
Thanks for your help.
Yep, I create the AudioRecord instance, and set it as the stream input of speechRecognizer.

Refer to code:

public class MicrophoneStream extends PullAudioInputStreamCallback  {
     ...
    public MicrophoneStream() {
        this.recorder = new AudioRecord.Builder()
                .setAudioSource(MediaRecorder.AudioSource.VOICE_RECOGNITION)
                .setAud

[2020-08-06 09:14] sakethpo opened #758 "speech recognition through rest api or sdk?"
Hi!

I'm trying to use python sdk from my application for speech recognition (stt). My app sends opus encoded audio thru the sdk.

I read that the sdk internally decodes the OPUS audio using gstreamer and sends the raw pcm data to the azure service. Is this true? If so:
1. will using rest api give me better results when sending opus audio? (because i'm pushing opus audio to the service)
2. if i de

[2020-08-06 11:03] Charming-Cactus commented on #654
Hi, thank you for your code. I created a speech to text app (something like your "ContinuousRecognitionWithFileAsync") and it works fine with wave files. In the view of storage space I want to use mp3's instead of wav. While I was searching for a solution I found your code. Can you please explain what the class "BinaryAudioStreamReader" does? How can I use it? Do I need to import anything to use i

[2020-08-06 16:53] jhakulin commented on #748
@bedro96 One more follow-up before closing the ticket, please let us know if using arm64 fixed the problem ?

[2020-08-06 17:48] lisaweixu commented on #758
You are right about the SDK internally decodes the OPUS data to PCM and send the PCM to the Speech Service. REST API won't give you better accuracy since REST API and the SDK in the end call the same backend. The SDK offers better accuracy since SDK has retry logic to make sure all bytes are sent to the service. With REST API, you would need to implement the retry logic yourself. In term of latenc

[2020-08-06 19:04] jhakulin commented on #712
@aceecoder Could you try with latest 1.13.0 release and let us know do you see the issue anymore?

[2020-08-07 06:59] jhakulin commented on #719
Closing the issue as original problem answered

[2020-08-07 06:59] #719 closed

[2020-08-07 12:58] bedro96 commented on #748
Sorry for late response. Checking with Cx and will update the feedback soon. Thank you.

[2020-08-08 08:43] jzhw0130 opened #759 "Response ErrorCode 5 on Android SDK"
**Describe the bug**
Sometimes `recognizing` and `recognized` is not triggered after call `startContinuousRecognitionAsync`.
BTW, `sessionStarted` is triggered correctly.

In this case, I checked the azure audio log, it says:
[code]
or
[code]
BTW, I enable the audio log by setting : ` config.setProperty(PropertyId.Speech_LogFilename, logFile);  `

Please check the attached azure logs, thx
I tested

[2020-08-08 14:26] jzhw0130 commented on #759
Moreover, seems the key word is :
[code]

[2020-08-08 18:22] hankhester opened #760 "SPX_ERR_INVALID_ARG when trying to do Speech to Text with a custom keyword"
**Describe the bug**
When trying to recognize a custom keyword from a .table file exported from speech studio I get an error: 0x5 (SPXERR_INVALID_ARG)

**To Reproduce**
Steps to reproduce the behavior:

Program.cs:
[code]
Output:
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.
The program runs without erroring and recognizes the custom keyword

**Versi

[2020-08-10 02:07] jzhw0130 commented on #752
@rhurey
BTW, I replicated the issue and caught the `azure audio log`, help check, thx
I tested 2 times, it works well for 1st time, but did not work for 2nd time.

[2020-08-10 09_57_36 -azure-speech-audio.txt](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/5048789/2020-08-10.09_57_36.-azure-speech-audio.txt)

[2020-08-10 06:00] jhakulin commented on #760
@hankhester Thanks for the feedback, KeywordRecognizer is not currently supported on Mac, we are working to support it in the future releases, apologies for the inconvenience.

[2020-08-10 14:06] i524304 commented on #122
Hey @fmegen,

While using cognitive servcices speech options for web chat using this sample (https://github.com/microsoft/BotFramework-Samples/blob/master/docs-samples/web-chat-speech/index.html) i am getting this web sockect connection error

Error : WebSocket connection to 'wss://speech.platform.bing.com/speech/recognition/interactive/cognitiveservices/v1?format=simple&language=en-US&Ocp-Apim-Su

[2020-08-10 15:12] sakethpo commented on #758
@lisaweixu since rest api can send direct opus audio to the backend, would it be possible do the same inside sdk too? probably an enhancement, but it may help in reducing the network traffic imo.

[2020-08-10 15:13] sakethpo commented on #753
@yulin-li thanks! will use rest api for now. waiting for 1.14 sdk

[2020-08-10 15:21] yulin-li commented on #753
@sakethpo Thanks! Just FYI, the code for this feature is finished now, so it will be certainly release with version 1.14 😄

[2020-08-10 15:21] #753 closed

[2020-08-10 16:08] assitive opened #761 "KeywordRecognizer prevents system from sleeping automatically"
**Describe the bug**
Using C# KeywordRecognizer class prevents Windows 10 from going to sleep automatically.

**To Reproduce**
Steps to reproduce the behavior:
1. In System's Power & Sleep dialog, change screen off time to Never and Sleep time to 1 minute.
2. Create a keyword model file from MS keyword portal
3. Create a C# problem with the following line of code:
new KeywordRecognizer(AudioConfig

[2020-08-10 21:49] glecaros commented on #759
Hi, can you share the a snippet of code with a bit more details on what you are doing?

[2020-08-10 21:51] glecaros commented on #758
Hi @sakethpo, we have put this on our backlog, and will consider this for one of our next releases. We try to release every month.

[2020-08-10 21:51] #758 closed

[2020-08-10 22:04] glecaros commented on #706
Closing as there hasn't been any activity for a while. Please reopen if you need to follow up.

[2020-08-10 22:04] #706 closed

[2020-08-10 23:01] glecaros commented on #733
Hi, we have an item in our backlog to fix this in an upcoming release. Please reopen this issue if there is anything else that needs follow-up.

[2020-08-10 23:01] #733 closed

[2020-08-10 23:14] #726 closed

[2020-08-11 00:00] glecaros commented on #730
Hi @aprilspeight, we created an internal item on our backlog tracking the work of improving these samples to make them easier to consume and navigate.

[2020-08-11 00:00] #730 closed

[2020-08-11 01:16] trrwilson commented on #761
Hello! Thanks for getting in touch.

There are two important elements to this:
* It's *by design* that active audio capture stops the OS from going to sleep. You can imagine how frustrating it would be if you were on an involved call for a few minutes and then you were suddenly cut off because you passed the sleep threshold; to avoid that, ongoing audio capture is treated as an activity signal jus

[2020-08-11 02:13] jzhw0130 commented on #759
@glecaros

sure, refer to the following code:

[code]

[2020-08-11 10:02] ductranit opened #762 "Invalid configuration mapping when import Microsoft.CognitiveServices.Speech nuget"
I try to import speech sdk into my azure function in visual studio for mac.
I don't see any error in the nuget package console. But it has an `Invalid configuration mapping` error in the project tree.
Here is my csproj:
[code]
I searched around and tried [this solution](https://developercommunity.visualstudio.com/content/problem/443746/new-project-configuration-added-on-vs2017-on-windo.html) to ad

[2020-08-11 12:43] assitive commented on #761
Thanks for the response. We are developing a classic Win32 desktop application with C#. We are expecting this to work similarly to Cortana which doesn't prevent system from going to sleep. And we do NOT intend to give our customers the ability to wake up system or our program in sleeping mode. The second point sounds interesting. How can we get the process lifetime signal in our program? If we do

[2020-08-11 14:08] vishnureddy45 opened #763 "How to print detailed output of azure speech SDK using python"
filename="sample.wav"
    speech_key, service_region = "a34634565t3", "eastus"
    speech_config = speechsdk.SpeechConfig(subscription=speech_key, region=service_region)
    audio_input = speechsdk.audio.AudioConfig(filename=filename)
    print(audio_input)
    speech_config.speech_recognition_language="en-US"
    speech_config.request_word_level_timestamps()
    speech_config.enable_dictation()

[2020-08-11 17:14] glecaros commented on #763
Hi @vishnureddy45,

You should be able to access durations and offsets directly from the result (see [here](https://docs.microsoft.com/en-us/python/api/azure-cognitiveservices-speech/azure.cognitiveservices.speech.recognitionresult?view=azure-python)).

As for speaker identification, you may want to look at [Conversation Transcription](https://docs.microsoft.com/en-us/azure/cognitive-services/spee

[2020-08-11 23:09] glecaros commented on #762
Hi @ductranit, can you please share a min repro project we can use to investigate this?

[2020-08-11 23:15] trrwilson commented on #761
Thank you for the additional detail.

One point to clarify is that Cortana has the same limitations unless the device supports a hardware keyword spotter (low-power and independent of the OS audio stack for its activation): having keyword activation on will prevent the computer from going completely to sleep with the same driver output in `powercfg -requests`.

The good news is that you have a lot

[2020-08-12 00:25] sakethpo commented on #758
@glecaros thanks!

[2020-08-12 02:56] ductranit commented on #762
@glecaros  Here is it
[TestAzureSpeech.zip](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/5060351/TestAzureSpeech.zip)
I just create a new function project from the template and add package `Microsoft.CognitiveServices.Speech`

[2020-08-12 07:52] jhakulin commented on #748
@bedro96 any updates?

[2020-08-12 07:53] jhakulin commented on #712
Closing as no customer updates, please let us know if you have more issues.

[2020-08-12 07:53] #712 closed

[2020-08-12 12:38] Ray12345678910 commented on #694
Hi Chlandsi,

Hope you are doing well. A while ago, you commented the above.

Do you know if there is a Python example already (of the multiple request at the same time)?

Many thanks

[2020-08-12 13:11] assitive commented on #761
The suggestion does not work for us. It's not acceptable user experience the feature would stop working for the extra 40 minutes after receiving the event. I understand the argument that system should not go to sleep when one is on a call. But using mic for wake word listening is another thing. People doesn't get frustrated if system goes to sleep while the system is listening for wake word. There

[2020-08-12 13:48] assitive commented on #761
By the way Travis, it sounded to me this is limited by hardware's power management capability. Can you suggest a few microphones with a keyword spotter? If we use one of those mic's, is there any code change needed in order to support keyword listening and auto sleeping?

[2020-08-12 17:41] trrwilson commented on #662
This took a while to get off the backlog and apologies for that.

Searching around, this is a common issue with the external fasterxml dependency related to the JRE version used. My best guess is that the code in the quickstart was verified in a more recent JRE before being pasted into the 1.8 template (it works, as a data point, with zulu14).

A suggested workaround (beyond using --add-opens to w

[2020-08-12 18:14] glecaros commented on #763
Additionally you can use [request_word_level_timestamps](https://docs.microsoft.com/en-us/python/api/azure-cognitiveservices-speech/azure.cognitiveservices.speech.speechconfig?view=azure-python#request-word-level-timestamps--) to get more detailed duration/offset results. You can access these results through properties ([SpeechServiceResponse_JsonResult](https://docs.microsoft.com/en-us/python/api

[2020-08-12 19:02] trrwilson commented on #761
I certainly understand the frustration and we share it when we're creating power-conscious keyword spotting solutions, too. The trouble is that the distinction between "things it'd be OK to cut off" (like passive keyword spotting with no recent activity) and "things it wouldn't be OK to cut off" (like a conference call) doesn't exist at the level of the driver that has to inform power management d

[2020-08-12 21:37] kedzior-io opened #764 "SPXERR_GSTREAMER_NOT_FOUND_ERROR when using mp3 file with Microsoft.CognitiveServices.Speech"
I have this piece of code throwing the error in the title:

[code]
audioFile is the path to mp3 file with audio to transcribe.

I have installed the latest GStreamer gstreamer-1.0-msvc-x86_64-1.17.2.msi for Windows and added it to the User's PATH and set GSTREAMER_ROOT_X86. That did not work.

In the docs here https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-use-code

[2020-08-12 22:47] glecaros commented on #762
I see, I'll try to dig on what's happening. Thanks for the details!

[2020-08-12 23:21] amitkumarshukla commented on #764
You need to set GSTREAMER_ROOT_X86_64 not GSTREAMER_ROOT_X86.

Could you try opening a new command prompt and run the following and see if you are getting a correct version. Which will help you to find if your installation path is there in the system path.
gst-inspect-1.0.exe --version

Also when you are building the solution from visual studio make sure instead of anyCpu choose x64 configuration.

[2020-08-13 02:00] rhurey commented on #752
Log was useful...

So in the log we have 2 phrases and a lot of silence.

The first phrase everything looks ok, the duration of transmitted audio was ~5 seconds, and when stop was called the service had recognized ~3.1s of speech and acknowledged the full 5s of audio. (Mostly, about 640b (20ms) remained in the transmit buffer.)

When the 2nd session started up, that remaining 640b was sent and aud

[2020-08-13 03:18] jzhw0130 commented on #752
@rhurey
Thank you for your detailed explanation.
Let's wait for the investigation from your service team.

[2020-08-13 04:21] ductranit commented on #762
Updated: If I run the project in visual studio code on mac, then I can see the azure function is loaded, but it has this exception when access the speech service:

[code]

[2020-08-13 05:53] jhakulin commented on #762
@ductranit Thanks for details, this is issue in our SDK for Mac, we are working on to fix this.

[2020-08-13 07:48] bedro96 commented on #748
No update from customer. Thank you.

[2020-08-13 10:19] kedzior-io commented on #764
Thanks!

Did fresh install of **gstreamer-1.0-msvc-x86_64-1.17.2.msi**

![image](https://user-images.githubusercontent.com/40808369/90123332-ecef6e00-dd5e-11ea-8d12-e56b2807e1cf.png)

Still the same.

Checking **gstreamer-1.0-x86-1.14.1**

[2020-08-13 10:30] kedzior-io commented on #764
**That did it:**

[gstreamer-1.0-x86_64-1.14.5.msi
](https://gstreamer.freedesktop.org/pkg/windows/1.14.5/gstreamer-1.0-x86_64-1.14.5.msi)

![image](https://user-images.githubusercontent.com/40808369/90124351-89fed680-dd60-11ea-8c9f-d8151b8395e5.png)

So seems like an issue with the latest version of GStreamer. You guys should maybe mention it in the docs here: [https://docs.microsoft.com/en-us/az

[2020-08-13 10:33] kedzior-io commented on #764
Another quick question:
How do I make ti work in Azure Function? 😃

[2020-08-13 12:32] Ananya-96 opened #765 "Swift iOS from Microphone Sample app doesn't work"
**Description**
Sample app for Swift IOS from Microphone doesn't display the recognized text. Throws error

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repo
2. pod install and opened it in Xcode

**Expected behavior**
Recognized text should be shown

**Version of the Cognitive Services Speech SDK**
SDK version : 1.7
MacOS: 10
XCode version: 11
iPhone 11 simulator: iOS 13

[2020-08-13 14:02] noxord opened #766 "KeywordRecognitionResult has incorrect Offset and Duration values."
**Describe the bug**
KeywordRecognitionResult has incorrect Offset and Duration values.

**To Reproduce**
Steps to reproduce the behavior:
1. Execute the code with provided wav file and keyword model. Check returned values for Offset and Duration of KeywordRecognitionResult.
2. Inspect wav file in Audacity and check real offset and duration of keyword.

**Expected behavior**
KeywordRecognitionResu

[2020-08-13 17:17] glecaros commented on #759
Hi, it seems your closeSpeechRecognizerIfNeed is not really closing the recognizer. You should .get() on the operation and also call .close() on the recognizer (since you won't reuse it)

[2020-08-13 17:44] glecaros commented on #765
Hi, can you try uploading to the latest version of the SDK?

[2020-08-13 18:58] rhurey commented on #752
Got some information to add.

There's a ~23 second gap in audio arrival at the service that isn't accounted for in the logs where the platform under the SDK was given audio packets at a consistent rate. This gap accounts for the large fall behind real-time transcription.

Is there any connectivity tracing available from the device? I noticed you have another issue with problems connecting...

[2020-08-14 02:57] bedro96 commented on #748
Cx is caught up with other task at this moment and promised to come back next week. Thank you for your patience.

[2020-08-14 04:47] Ananya-96 commented on #765
Hi,

Tried SpeechSDK version 1.13.0

Still the recognised text is not getting printed

Getting this error
![Screenshot 2020-08-14 at 10 12 53 AM](https://user-images.githubusercontent.com/24409739/90214791-3f8c6100-de17-11ea-8961-88deb6739ecf.png)

[2020-08-14 05:39] jhakulin commented on #765
@Ananya-96 Thanks for report, the problem seems to be in you Mac microphone settings as I tested the sample with the latest 1.13.0 release and sample was working OK, Please check your microphone is configured correctly on Mac. Please also check if you need to add microphone access in your Mac's privacy settings for Xcode similarly as described in this issue
https://github.com/Azure-Samples/cogniti

[2020-08-14 06:38] choudhary-dinesh commented on #368
Hi @chlands,
I am also facing same issues in batch transcription as mentioned above, And I tried the solution you suggested here but its not helping. In my case i am not even able to get the transcription identified by the transcription ID.  Earlier all this was working fine.
Can you help me here.
Thanks
Dinesh.

[2020-08-14 06:49] Ananya-96 commented on #765
@jhakulin Thank you for the feedback. I have tested it again in a different phone. Think its an issue with Mac microphone. Thanks.

[2020-08-14 06:49] #765 closed

[2020-08-14 07:11] jzhw0130 commented on #759
@glecaros

That's not the case.
Even though I did  as you said before, the issue still occured.
The reason I didn't call `.close()` is the api is buggy.
Refer to :
https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/696

[2020-08-14 07:22] jzhw0130 commented on #752
@rhurey

They are the same issue on different level.
The current issue is on APPLICATION level, the other is on SDK level.

When the issue occured, I tried to play youtube videos, it worked, seems the network is ok

[2020-08-14 07:28] chlandsi commented on #368
Hi @choudhary-dinesh, we'll need some more information to diagnose this. Please describe the error you are seeing in more detail - what is the exact error message? Can you also post a transcription id, the region of the speech service you are using, and the approximate time when you created that transcription? Thanks!

[2020-08-14 13:49] jonasmiehe opened #768 "Python batch sample Transcription status "NotStarted""
**Overview of the Issue**
Python batch transcription gets stuck with status "NotStarted".

**Version of the Cognitive Services Speech SDK**
1.13.0

**Platform, Operating System, and Programming Language**
- OS: Ubuntu 18.04.5 LTS
- Hardware: x64
- Programming language: Python

**To reproduce**
Create an Azure storage container containing two audio files and use the Python batch sample [https://git

[2020-08-14 17:26] Ziugy opened #769 "Improve Saving APIs"
**Is your feature request related to a problem? Please describe.**
Yes, my feature request is related to an issue I ran into while trying to cache audio coming back to disk.

I followed other recommendations in closed issues for saving an audio file, like so:
[code]

Now, the code above does save an audio file. The issue is that the audio file isn't a wave file, but a raw audio file because of the

[2020-08-14 18:27] chlandsi commented on #768
Hi @jonasmiehe, can you post the transcription id and the region, as well as the approximate time of the transcription to help diagnose this? This information should be logged with the sample code. Thanks!

[2020-08-16 18:25] chintansoni22 opened #770 "not able to login with speech studio in windows"
**Describe the bug**
I have created free account and azure and speech studio is not opening in my windows

**To Reproduce**
not able to login
![speech](https://user-images.githubusercontent.com/50165497/90341286-f3f6d480-e01b-11ea-84d8-cbe1b325895b.png)

[2020-08-16 23:16] manideeppabba1991 opened #771 "Android/Java : Unable to pause or stop Text To Speech sound playing"
In Android app, Whenever there is a long text that is being spoken by SpeechSynthesizer using "SpeakTextAsync" method, There is no way to pause or stop the audio.

"SpeechSynthesizer.close()" or any other close() methods do not work. If you try to call close() method while SpeechSynthesizer is speaking, it will crash the app and error out saying "All resources are not disposable as some of them ar

[2020-08-17 04:31] twilio-jyoung commented on #596
I too ran into this problem and only found this thread after working all weekend trying to get it to work.

@amitkumarshukla, I work for Twilio.  Let me know if there is anything I can do to provide more details about how our streams work, or help you get setup with an account and unblock your testing.  We have many customers who would like for this integration to work (hence my PoC efforts over t

[2020-08-17 06:15] jonasmiehe commented on #768
**Transcription ID**
7572013f-9059-4e77-a60d-e48dd6f8e449

**region**
westeurope

**Time of transcription**
~15.30 (CEST)

[2020-08-17 07:26] choudhary-dinesh commented on #368
hi @chlandsi
When I checked today,  i am not getting error(mentioned above) . I am able to use batch transcription service.
Also able to get transcription by ID.
Regards
Dinesh

[2020-08-17 16:06] manideeppabba1991 commented on #579
@yulin-li is there any update on this issue? I am facing same issue. If not can your provide an example how to control the playback using Android.Media media player ?

[2020-08-17 16:20] yulin-li commented on #579
@manideeppabba1991 we will support stop() method in release 1.14, which will be released before the end of this month.

[2020-08-17 16:23] yulin-li commented on #771
Hi @manideeppabba1991 , thanks for reaching out.

We will support stopping the synthesis in version 1.14, which will be released around the end of this month.

[2020-08-17 16:30] manideeppabba1991 commented on #771
@yulin-li Thanks for the update. I will be waiting for the release.

[2020-08-17 17:09] fe77 commented on #768
Hi
Just to share with you that I am experiencing the same problem for a few days now, using UK DC.
Repro is simple just use the sample code to submit a request, and you stay at NotStarted stage.
Regards
fred

[2020-08-17 22:08] amitkumarshukla commented on #596
@twilio-jyoung As I have told that currently we do not support Twilio, but we would be really happy to provide a support for Twilio.  Could you provide me a sample  code (C#/C++) to convert from Twilio stream to a wave file using gstreamer? Also if possible could you attach some sample Twilio stream for our testing ?

[2020-08-17 22:11] amitkumarshukla commented on #770
@chintansoni22 Sorry for the inconvenience caused. Could you please try today as see if it works for you. If not, could you please send us your location and we will see what is going wrong on your site.

[2020-08-18 02:51] twilio-jyoung commented on #596
I'm hoping that you can help me understand how to do that.  I can provide where I'm at but I am stuck in a non-working state.

Steps to reproduce:

- [ ] create a [twilio account](https://www.twilio.com/try-twilio) if you don't already have one.  we'll give you $15 in credit, which should be more than enough to run this simple test.
- [ ] once you are logged in, [buy a phone number](https://www.tw

[2020-08-18 03:05] rhurey commented on #752
They all feel slightly related based on SDK behaviors.

Looking at things, the log / session ID we have in this issue is likely caused by two factors:
1) The service got behind due to a 20 second audio arrival gap.
2) The SDK when stopping waits 10 seconds for the service and then returns, but can still receive events.

Looking at issue #696, calling Close() will internally call Stop() to put an i

[2020-08-18 03:18] ductranit opened #773 "Exception with an error code: 0x8 (SPXERR_FILE_OPEN_FAILED) in azure function (windows)"
My project can work well when I run on windows local in visual studio. But when I deploy into azure function (windows), I got this exception:
[code]
I wonder whether the machine host doesn't have microphone (I use text to speech api but only generate audio file) or it can't load the certificate file (relate to [this issue](https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/442)

[2020-08-18 05:19] jzhw0130 commented on #752
@rhurey
Thanks for your help.

BTW, We still need to keep `stream audio` feature.
Since our TV application support two audio input, one from remote control (mic), another one from mobile application which is installed on the phone (audio input stream).

[2020-08-18 08:53] garethkelly commented on #596
Hi @twilio-jyoung

I was able to get it working (credit to Joris Kalz from Microsoft who gave me the solution)
Using the following two files:

https://www.codeproject.com/Articles/14237/Using-the-G711-standard
MuLawDecoder.cs
MuLawEncoder.cs

Let me know if you need me to upload my feature branch with full example.

Its a lot of code - and not even sure what it does :) so it would really be better

[2020-08-18 09:56] chlandsi commented on #768
Hi @jonasmiehe, our logs show that the transcription was submitted on 08-14-2020 15:07:09 and finished successfully around 11 minutes later. Could you please check the result again?

[2020-08-18 10:24] fe77 commented on #768
Hi
Can you check the request I sent this morning since it was still pending 45 mn ago.
Will be back home soon... we can even have a RA session I am msft
Thanks !

Téléchargez Outlook pour iOS<https://aka.ms/o0ukef>
________________________________
De : Christian Landsiedel <notifications@github.com>
Envoyé : Tuesday, August 18, 2020 11:57:08 AM
À : Azure-Samples/cognitive-services-speech-sdk <cogn

[2020-08-18 12:37] roperjonathan opened #774 "Firefox on Android Keeps Asking For Permission When Calling GetUserMedia"
I'm having an issue where when using Firefox on Android, every time I want to open the microphone I have to give permission.

Is this expected behaviour within Firefox on Android? If so, then is there a way I can get around it? For example, could I "mute" the microphone rather than turning it off?

[2020-08-18 16:14] twilio-jyoung commented on #596
hey @garethkelly, thanks for this!  I'll start trying to plug this in now, but it you wouldn't mind passing your sample as well I would really appreciate it.

[2020-08-18 17:25] amitkumarshukla commented on #773
@ductranit Could you please provide your sample to repro the issue.

[2020-08-18 17:30] glharper commented on #774
From [https://support.mozilla.org/en-US/kb/how-firefox-android-use-permissions-it-requests](https://support.mozilla.org/en-US/kb/how-firefox-android-use-permissions-it-requests): Firefox will always display a message asking for permission each time a site asks to add a photo or record audio. It never records audio, takes pictures or records video unless you opt-in each time it asks.

[2020-08-18 17:43] garethkelly commented on #596
@twilio-jyoung - no problem Ive updated repo [here](https://github.com/chambersandpartners/twilio-transcription-poc)

[2020-08-18 20:02] twilio-jyoung commented on #596
@garethkelly, I cannot tell you how much I appreciate you sharing this with me.  drop me an email and I'll ship you some twilio swag!

jyoung@twilio.com

[2020-08-19 02:39] assitive commented on #761
Thanks for the detailed suggestion. We found that if we set screen off time to "Never" in the power setting, then it fails to sleep automatically. We are still hoping to have a solution working for all the cases. But this might be good for now.

[2020-08-19 06:56] blee300 opened #775 "ApiException: (401) Reason: Unauthorized"
Hi community,

I am following the tutorial "How to use the Speech Services Batch Transcription API from Python" (see: https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/batch/python).

After following all the steps (downloading the "cognitive-services-speech-sdk', moving the 'python-client-generated' -from swagger- file in that folder) and changing my Subscription k

[2020-08-19 07:22] chlandsi commented on #775
Hi @blee300, are you using a free (F0 tier) subscription key? The batch functionality is only available with a paid (S0 tier) subscription key.

[2020-08-19 13:19] Selvaraj314 opened #776 "Text to Speech Audio volume getting decreased after config the Speech to text"
**Describe the bug**
Text to Speech Audio volume getting decreased after config the Speech to text

**To Reproduce**
Steps to reproduce the behavior:
1. Text to speech config.
SPXSpeechConfiguration
SPXSpeechSynthesizer
SPXSpeechSynthesisResult
2. Speech to Text(From microphone) config.
SPXSpeechConfiguration
SPXSpeechRecognizer
SPXSpeechRecognitionResult
First, I called **Text to Speech** config

[2020-08-19 18:39] blee300 commented on #775
Oh, yes I was using the free (F0 tier) subscription key. I did switch to S0 tier and still it's not transcribing. I am not sure what I am doing wrong... could you please help?

I get result of this:

[2020-08-19 20:24] chlandsi commented on #775
Hi @blee300, can you share the link that you were using? Please also post the transcription id, region and time of request (all should be contained in the output of the sample code).

[2020-08-19 23:14] amitkumarshukla commented on #773
This is a known issue, but you can follow this to work around your problem https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/437#issuecomment-622592123.

[2020-08-20 02:43] yulin-li commented on #771
@manideeppabba1991 we are closing this issue now. Feel free to re-open it if you have any questions.

[2020-08-20 02:43] #771 closed

[2020-08-20 02:54] yulin-li commented on #769
@Ziugy Thank you very much for this proposal. The current `SaveToWaveFileAsync()` acutually saves the audio file using the `SpeechSynthesisOutputFormat` in speech config, instead of a `wav` format. We plan to update `SaveToWaveFileAsync()` with a format parameter, just like your proposal.

For you scenario, I suggest you using a Riff format, you can cut the header (46 Bytes) to get the raw audio,

[2020-08-20 02:57] yulin-li commented on #776
@Selvaraj314 Thanks for reaching out. We will investigate this issue. As a workaround, you can control the playback by your self now.

[2020-08-20 03:51] jhakulin commented on #776
@Selvaraj314 Which platform you are using, Windows, Linux, Android, iOS, Mac ?

[2020-08-20 04:40] Selvaraj314 commented on #776
iOS(Swift) @jhakulin

[2020-08-20 07:36] JacoLin commented on #684
// Creates an instance of a speech config with specified subscription key and service region.
    // Replace with your own subscription key and service region (e.g., "westus").
    auto speechConfig = SpeechConfig::FromSubscription("XXXXXXXXXXXXXXXXXXXXXXX", "eastasia");

    auto sourceLanguageConfig = SourceLanguageConfig::FromLanguage("zh-TW");
    auto audioConfig = AudioConfig::FromDefaultMic

[2020-08-20 09:52] witling opened #777 "GPF when using custom PullAudioInputStream in Docker"
**Describe the bug**

I am implementing a STT-Service running inside a Docker container. I installed the Python package according to documentation. As I want to forward incoming streaming data to the Microsoft service, I am implementing a custom `PullAudioInputStream`:

[code]

Running this code causes the following error in `/var/log/messages` on the Docker host:

[code]

Passing in a standard `P

[2020-08-20 11:48] jonasmiehe commented on #768
I checked the transcription ID again; indeed, the transcriptions finished after ~11 minutes. I guess I wasn't expecting two ~40 second audio files to take that long. However, I still don't know why logging.info kept telling me that the transcription status was "NotStarted".

[2020-08-20 11:57] JohnStraumann66 opened #778 "IOS From Microphone example"
Hello:

Thanks for the great example: https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/swift/macos

What is the best practice for determine when someone is done speaking? Should I listen for a pause, or use a trigger word like stop? So for example:
Unlock front door <2 secondpause> so we know input is done
or
Unlock front door STOP

and so we know the speaker i

[2020-08-20 14:26] fe77 commented on #768
Hi Guys,
We discussed with the product group and they have fixed the problem. For me  you can close the case, and maybe inform other users that it should work fine now.
Thanks a lot.
fred

De : jonasmiehe <notifications@github.com>
Envoyé : jeudi 20 août 2020 13:48
À : Azure-Samples/cognitive-services-speech-sdk <cognitive-services-speech-sdk@noreply.github.com>
Cc : Frederic Esnouf <fesnouf@micro

[2020-08-20 17:35] amitkumarshukla commented on #764
Currently we have known issue running speech SDK inside azure functions. For a workaround please follow the thread https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/437#issuecomment-622592123

[2020-08-20 18:08] amitkumarshukla commented on #778
@JohnStraumann66 looks like your scenario is very small sentences. If that is the scenario please use recognizeonce. recognizeonce automatically determines when you have stopped speaking and will produce the result. Here is the example for it
https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/219a394d37289edae79e6850e27dc660ed657eba/quickstart/swift/macos/from-microphone/helloworl

[2020-08-20 18:17] #773 closed

[2020-08-20 18:18] amitkumarshukla commented on #770
I am closing this, please feel free to reopen if you still see the issue.

[2020-08-20 18:18] #770 closed

[2020-08-20 18:20] amitkumarshukla commented on #769
Please follow the workaround and keep checking our future release notes.

[2020-08-20 18:20] #769 closed

[2020-08-20 18:22] JohnStraumann66 commented on #778
Hello:

Thanks for the reply. That's the example I am using, but when I stop speaking, the label I use for the result gets cleared, it sets the label text to the words spoken, but then when I stop speaking I think it is still listening, and since I didn't say anything sets the label to blank.

[2020-08-20 18:23] #763 closed

[2020-08-20 18:24] amitkumarshukla commented on #766
@glecaros Could you please look into it.

[2020-08-20 18:28] amitkumarshukla commented on #596
@twilio-jyoung and @garethkelly Thanks a lot guys for doing the work around. Looks like we have more customer who needs mulaw decoding in twilio stream. We have created a workitem in our database and will try to ship this in our next release. closing it now.

[2020-08-20 18:28] #596 closed

[2020-08-20 18:31] amitkumarshukla commented on #778
@jhakulin could you please look into it.

[2020-08-20 22:48] LucasRotsen commented on #485
Hello everyone! I'm still experiencing the same problem in SDK version 1.13.0 (same error code and error details). I've already tried to configure openssl as described in [How to configure OpenSSL Linux] (https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-configure-openssl -linux), but no success. How should I proceed?

Application details:
`CancellationDetails(reason=

[2020-08-24 05:01] hercule24 commented on #756
Hi @lisaweixu, What should I do in this case?
My endpoint on the portal is very different from the one you mentioned above.
https://westus.api.cognitive.microsoft.com/sts/v1.0/issuetoken

[2020-08-24 22:30] pankopon commented on #703
@glharper Can you please check this?

[2020-08-24 22:34] pankopon commented on #713
@in2dair Is this still a valid issue? Please give a status update and/or logs as requested, otherwise we'll close the item.

[2020-08-24 23:03] glharper commented on #703
First, a minor point. For using async methods, ordering is important. You should define your canceled, recognized, and recognizing callbacks before calling StartContinuousRecogntionAsync.

So for converting in binary, how do you know the data you're passing into the push stream is the same as for base64, given that the push stream parameters ( "samplesPerSecond": 44100,"bitsPerSample": 16000,"chan

[2020-08-24 23:48] pankopon commented on #748
@bedro96 Can you please provide a status update this week? Otherwise we'll close the item as resolved.

[2020-08-25 00:16] pankopon commented on #760
To update the status, support for KeywordRecognizer on macOS is now implemented and will be available in the next Speech SDK release (1.14.0). Therefore I'm closing this issue.

[2020-08-25 00:16] #760 closed

[2020-08-25 00:20] pankopon commented on #774
Closed the item as resolved.

[2020-08-25 00:20] #774 closed

[2020-08-25 00:41] pankopon commented on #684
@JacoLin Please open a new issue on any new questions, I only happened to check this closed item by accident... However, if you are going to use the default microphone then you don't need AudioConfig. Can you please try the basic quickstart (C++/Windows) below, does it not work for you?
https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/cpp/windows/from-microphon

[2020-08-25 00:47] pankopon commented on #715
Closed since no updates + general macOS permission issue. Please open a new item if you need more support.

[2020-08-25 00:47] #715 closed

[2020-08-25 01:15] pankopon commented on #762
Closing this, as we have added a work item to our backlog and will address it in the next or later release. Once the work is done, we will update this issue to let you know what release the fix will be in.

[2020-08-25 01:15] #762 closed

[2020-08-25 10:23] JacoLin commented on #684
@pankopon  thanks for your reply,
 I marked the default microphone setting, it doesn't work and get the exception code  SPXERR_MIC_NOT_AVAILABLE.  I guess it is related to antivirus software, but I can't make sure now.   I will get a pure window10 environment without any antivirus software to test this.

[2020-08-25 18:56] pankopon commented on #743
To update, work is now ongoing to add an API that enables creating a VoiceProfile from an ID alone. This is planned for the next Speech SDK release (1.14.0).

Closing this item, please open a new issue if you need further support.

[2020-08-25 23:08] pankopon commented on #778
@JohnStraumann66 Could you just check whether result.text is empty (which can genuinely happen) and if it is, not update the label if you don't want to clear it? For example
[code]
and then call updateLabel only if isResultOk is true. Or put the condition inside the updateLabel func.

[2020-08-26 12:30] JohnStraumann66 commented on #778
Hello:

Thanks for the response. I pasted below what I tried, still see the same behavior, as soon as I stop speaking the label text is cleared.

func recognizeFromMic() {
        var speechConfig: SPXSpeechConfiguration?
        do {
            try speechConfig = SPXSpeechConfiguration(subscription: sub, region: region)
        } catch {
            print("error \(error) happened")
            s

[2020-08-26 15:58] jhakulin commented on #778
@JohnStraumann66

When using either of following samples
https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/swift/ios/from-microphone
https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/swift/macos/from-microphone

If the text box, which collects the recognition results (first intermediate results and at the end the final result)

[2020-08-27 14:11] karthikreddy408 opened #780 "Unable to load DLL 'Microsoft.CognitiveServices.Speech.core.dll"
When i try to implement the same sdk in my solution, I'm getting Unable to load DLL 'Microsoft.CognitiveServices.Speech.core.dll error. I have installed latest nuget version i.e. 1.13
If I Manually add this to my solution, It is throwing exception that i cannot add this.

Below are my solution Details.
Framework version: 4.6.2
Type: Windows desktop application
Nuget pkg version:1.13

[2020-08-27 14:55] roperjonathan opened #781 "Is there a Maximum Time Limit For Speech Synthesis To Detect An Input Before It Turns The Mic Off?"
Hi there,

When using the Azure STT on a web page, I'm noticing that if a speech recognition session doesn't detect an input after 15 seconds or so, it will then trigger the call to stop the session and turn the microphone off?

Is this the expected behaviour or should it be that I can keep the microphone on for as long as I need to? If this is the expected behaviour, is there a way to be able to

[2020-08-27 17:50] jhakulin commented on #762
@ductranit There is possible issue with Visual Studio for Mac related to speech SDK nuget. I will continue to follow-up issue with them.

I tested with Visual Studio Code for Mac and with basic HttpTrigger Azure function template and added Microsoft.CognitiveServices.Speech 1.13.0 nuget and code which uses speech SDK to Azure function. Then I run the test using localhost and tested inside Azure po

[2020-08-27 18:01] pankopon commented on #781
Hi, so this is about recognition not synthesis (text-to-speech), right? The Speech Service stops recognizing if there is no speech within a certain timeout period. Please see issue #502 for more information about the timeout parameters.

With a single-shot recognition (RecognizeOnceAsync or similar, depending on the programming language you are using), you will need to call the method again to do

[2020-08-27 18:01] #781 closed

[2020-08-27 18:06] pankopon commented on #748
Closing the issue since no update from the customer, presumed resolved. If further support is needed, please open a new issue with details.

[2020-08-27 18:06] #748 closed

[2020-08-27 22:29] pankopon commented on #780
Hi,

First ensure that you have the latest "Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017 and 2019" as the Speech SDK versions 1.13 and later depend on VS2019 runtimes. Download and install it from https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads.

Another thing is that depending on the Visual Studio version, there are apparently problems

[2020-08-27 23:20] pankopon commented on #716
To update on the original topic, I've added a work item to the SDK backlog for study and planning of support for the mentioned features. This will be considered for future releases and we'll update this issue when the timeline is known.

[2020-08-27 23:20] #716 closed

[2020-08-27 23:26] pankopon commented on #761
Closing the issue as the questions have been very thoroughly answered.

[2020-08-27 23:26] #761 closed

[2020-08-28 09:01] karthikreddy408 commented on #780
I tried with the above suggestions but still the issues is reoccurring.

[2020-08-28 10:40] karthikreddy408 commented on #780
Also other observation what i have found is, in my solution when active solution configuration is set to "Any CPU", it is throwing exception that i need to use X64 or X86 but in the sample application when the active solution configuration is set to Any CPU it is working fine.

[2020-08-28 17:57] pankopon commented on #780
That sounds very odd. What version of Visual Studio are you using? We definitely recommend setting the active solution platform to a specific value in any case.

So if you still get the same error,
- Can you build and run SDK examples like https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/csharp/dotnet/from-file successfully?
  - If yes, can you recreate your so

[2020-08-28 18:01] pankopon commented on #703
@ArsalanNgi Is this still a valid issue for you? Please update.

[2020-08-28 18:05] pankopon commented on #775
@blee300 Is this still a valid issue for you? Please update with the requested information.

[2020-08-28 23:04] pankopon commented on #777
Hi, I made an example (attached) that uses a pull stream and prints memoryview nbytes.

[pull_stream_example.zip](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/5144403/pull_stream_example.zip)

This is not 1:1 with your current implementation as the example uses a wav file as a source whereas in your case the data may come from elsewhere, but in general the logic is the same

[2020-08-28 23:21] pankopon commented on #700
Assigned to @rhurey as based on discussion in #752 these seem related issues.

[2020-08-29 12:09] JohnStraumann66 commented on #778
I'll try the logs, in the meantime I attached my Project to see if you can spot anything. I am testing Apple speech recognition against Azure...
https://1drv.ms/u/s!Au3qGElrrIbJkawQnAuVWYwkQVJFXA?e=bK9zfV

[ViewController.txt](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/5145183/ViewController.txt)

[2020-08-30 10:48] binarythinktank opened #782 "NodeJS speechSynthesizer "window is not defined""
**Describe the bug**
trying to synthesize speech but its giving me a window not defined error.
i was following the quickstart and the example for nodejs here on git (synthesize.js)

**To Reproduce**
const azuretts = require('microsoft-cognitiveservices-speech-sdk');
const speechConfig = azuretts.SpeechConfig.fromSubscription(azureKey, azureRegion);
speechConfig.speechSynthesisLanguage = azureLangu

[2020-08-30 10:51] emelyanovkirill opened #783 "Sometimes speechRecognizer kill the app"
This error is occurred.
Thread 90
#0	0x0000000104e3f4e4 in ___lldb_unnamed_symbol2713$$MicrosoftCognitiveServicesSpeech ()

[2020-08-30 22:10] jhakulin commented on #778
@JohnStraumann66 I tested your app and that works also as expected (results are captured correctly, I tested in westus endpoint), could be that problem is related to your service region/endpoint.  Instead of full speech SDK logs, could you register to SessionStarted event and provide the session id from that event ? Also let us know in which region you are testing ?

[2020-08-31 08:30] Trupti-nayak opened #784 "iOS-Swift 5 After creating bridging header "MicrosoftCognitiveServicesSpeech-iOS/SPXSpeechApi.h" none of the classes are accessible"
So I downloaded the MicrosoftCognitiveServicesSpeech-iOS SDK. i created bridging header for my Swift project. Everything works fine. But i try using the classes like SPXSpeechConfiguration, SPXAudioConfiguration. Complier unable to find these classes

I was able to use the Quickstart sample swift code.

**Expected behaviour**
After creating the bridging header , using the classes should not be an

[2020-08-31 16:23] #784 closed

[2020-08-31 16:24] jhakulin commented on #783
@emelyanovkirill Thanks for the report, we would need some more information. Could you provide steps how to reproduce this error?

[2020-08-31 18:09] pankopon commented on #782
@yulin-li Can you please check?

[2020-09-01 00:30] upsilondynamics commented on #363
We are having this issue as well, on 1.13.0 latest:

Exception thrown when calling:
 SpeechConfig.FromSubscription

**libMicrosoft.CognitiveServices.Speech.core.so assembly:<unknown assembly> type:<unknown type> member:(null)'**

[2020-09-01 00:33] jhakulin commented on #363
@upsilondynamics Thanks for report, I have seen occasionally this problem, but that has disappeared after clean-up/restoring nuget packages. Could you try removing bin and obj directories from the projects of your Xamarin app and also restore nuget packages for solution ?

[2020-09-01 00:46] upsilondynamics commented on #363
@jhakulin Tried that and still not working:

`System.DllNotFoundException: 'libMicrosoft.CognitiveServices.Speech.core.so assembly:<unknown assembly> type:<unknown type> member:(null)`

[2020-09-01 01:01] upsilondynamics commented on #363
I should ask, does this happen only in the simulator? @jhakulin

[2020-09-01 02:01] jhakulin commented on #363
@upsilondynamics Speech SDK supports x86 version of simulator with Xamarin, you should not see problems to load speech sdk core library with that either.

Is this first project where you have integrated speech SDK with Xamarin and the issue happened or has the problem happened first time now with 1.13.0 release and worked with previous versions of Speech SDK? I would need to be able to reproduce t

[2020-09-01 04:43] jhakulin commented on #363
@upsilondynamics Also please let me know which version Visual Studio and Xamarin.Android SDK you have?

[2020-09-01 09:00] witling commented on #777
Hi @pankopon, Thanks for your feedback on this issue. Your example works indeed. My guess would be that the usage of `gunicorn` leads to some error here - maybe even related to `multiprocessing`.

I personally stopped using the official microsoft api as it requires installation of OS packages and feels more restricted. Chunked HTTP transport onto the rest api seems to work quite well though. Feel

[2020-09-01 14:19] GithubUsernameRuchi opened #786 "Speaker Identification not working in javascript"
The browser is throwing error everytime the function is invoked.
The data is not getting passed from the mic.
Am I missing something? Please suggest.

[2020-09-01 15:50] yulin-li commented on #782
@binarythinktank This is a bug of SDK, you can use `const synthesizer = new azuretts.SpeechSynthesizer(speechConfig, null);` as a workaround. see https://github.com/microsoft/cognitive-services-speech-sdk-js/issues/227

[2020-09-01 15:50] #782 closed

[2020-09-01 16:49] upsilondynamics commented on #363
@jhakulin

Pasted my info here:

Microsoft Visual Studio Professional 2019
Version 16.7.2
VisualStudio.16.Release/16.7.2+30413.136
Microsoft .NET Framework
Version 4.8.03752

Installed Version: Professional

ADL Tools Service Provider   1.0
This package contains services used by Data Lake tools

ASA Service Provider   1.0

ASP.NET and Web Tools 2019   16.7.532.28833
ASP.NET and Web Tools 2019

ASP

[2020-09-01 17:38] pankopon commented on #777
Closing the issue as resolved.

[2020-09-01 17:38] #777 closed

[2020-09-01 18:29] upsilondynamics commented on #363
Also noticing that,

.Recognized result returns with an empty string of text, is the emulator expected to retrieve microphone input via the computer?

Thanks

[2020-09-02 00:46] jhakulin commented on #363
@upsilondynamics Are you saying the original problem got resolved and now you see issue with microphone?

[2020-09-02 00:50] upsilondynamics commented on #363
@jhakulin  Oddly enough, the problem is now resolved.  The only issue I am seeing is, in the emulator it returns an empty string; but works when deployed to an Android device.  Have yet to confirm with iOS yet, but that;s next.  Will report back if I have any other issues.

[2020-09-02 01:30] jhakulin commented on #363
@upsilondynamics Thanks for information,, what might resolve the original issue ? As mentioned before I have seen that also but after a while (clean-up or nuget restore or VS project relaunch) have solve the issue. There could be a configuration issue with microphone and Xamarin Android emulator,

[2020-09-02 04:33] prascomesin opened #787 "Integrate microsoft-cognitiveservices-speech-sdk”: “^1.13.1” with React JS application"
**Describe the bug**
Receiving loader errors when trying to import microsoft sdk into React project

**To Reproduce**
Steps to reproduce the behavior:
1. Performed npm install microsoft-cognitiveservices-speech-sdk
2. In the react src , created a file with sdk = require("microsoft-cognitiveservices-speech-sdk")

**Expected behavior**
Need to be able to use sdk for setting up the speech recognizer

[2020-09-02 11:47] MalateshPatil opened #788 "Speech to text not working in iPhone safari browser"
**Describe the bug**
We have an angular app and integrated azure cognitive speech to text service into it. Most of the samples on speech to text available on the internet, have a button and on that button click speech to text, continuous recognition will start.  But in our application we have started the speech to text service on one of the tokbox events. Speech to text working fine with Windows a

[2020-09-02 15:34] prascomesin commented on #787
Error
./node_modules/microsoft-cognitiveservices-speech-sdk/node_modules/ws/lib/websocket.js
Module parse failed: Unexpected token (345:6)
You may need an appropriate loader to handle this file type.
|       compress: true,
|       fin: true,
|       ...options
|     };
|
 @ ./node_modules/microsoft-cognitiveservices-speech-sdk/node_modules/ws/index.js 3:18-44
 @ ./node_modules/microsoft-cognitive

[2020-09-02 19:31] dargilco opened #789 "C++ Text-to-Speech quickstart page needs to update the libssl version. The package mentioned there does not exist"
In this page
https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/cpp/linux/text-to-speech

It says:
"On Ubuntu, install these packages to build and run this sample:
sudo apt-get update
sudo apt-get install build-essential libssl1.0.0 libasound2 wget"

Installing libssl1.0.0 fails on Ubuntu because it does not exist. I changed it to libssl1.1 and that worked. I'm a

[2020-09-02 21:29] jhakulin commented on #778
@JohnStraumann66 Let me know if you have the issue and provide session ID? Issue will be closed soon if no updates.

[2020-09-02 21:30] jhakulin commented on #783
@emelyanovkirill Let me know more information, issue will be closed soon if no update,

[2020-09-02 21:46] pankopon commented on #789
That's because these instructions are specific to Ubuntu 16.04 and 18.04 that are listed in prerequisites on that same page. Newer versions with Ubuntu 20.04 and Debian 10 information exist in the Speech SDK repository and will be published when the SDK 1.14.0 release is out.

[2020-09-02 21:46] #789 closed

[2020-09-02 23:00] AlbertDavletov commented on #743
Hi Azure Speaker Recognition team, when are you planning to release the next version (1.14.0) with this fixes?

[2020-09-02 23:48] upsilondynamics commented on #363
@jhakulin  I have resolved the above issues, but with iOS I am getting this error after requesting microphone access:

`System.Exception
  Message=Could not initialize an instance of the type 'AVFoundation.AVAudioPlayer': the native 'initWithContentsOfURL:error:' method returned nil.
It is possible to ignore this condition by setting ObjCRuntime.Class.ThrowOnInitFailure to false.
`

[2020-09-03 00:11] jhakulin commented on #363
@upsilondynamics Are you using iOS simulator or device ? Does this problem happen with Speech SDK Xamarin sample ?

[2020-09-03 01:10] upsilondynamics commented on #363
@jhakulin This is on the simulator itself, I haven't tried the Xamarin Sample in it's purest form yet.

Heres the status:

Android
1 - On hardware device dictates 100% and works beauttifully
2- In simulator, won't dictate; but app doesn't crash - could be due to simulator settings?

iOS
1 - On hardware device - have not yet tested but will
2 - On simulator just crashes with above exception given.

[2020-09-03 01:55] jhakulin commented on #363
@upsilondynamics Do you make request for mic permission similarly is Xamarin sample ?
https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/84c6ddbcd340c2c87b68e20581c606a1c34758f0/quickstart/csharp/xamarin/helloworld/helloworld.iOS/Services/MicrophoneService.cs#L22

Xamarin sample works well for iOS device and simulator with microphone

[2020-09-03 03:54] upsilondynamics commented on #363
I did yes, it seems doing this fixed the issue:

iOSMicrophoneService.cs

`        void RequestMicPermission()
        {
            ObjCRuntime.Class.ThrowOnInitFailure = false;

            var session = AVAudioSession.SharedInstance();
            session.RequestRecordPermission((granted) =>
            {
                if(tcsPermissions != null)
                    tcsPermissions.TrySetResult

[2020-09-03 17:40] mikenewman1 opened #790 "Hitting error `SPXERR_UNEXPECTED_EOF`"
I'm running a big ASR job from tens of thousands of audio files (yes, I know I can use Batch ASR for this...). Occasionally, I am hitting the error below.
I have often run data through this script, and I have never seen this particular error before (but this is an updated version of the SDK). It's possible that there is a very short (or empty) file, but I have not yet been able to track it down, a

[2020-09-03 18:33] jhakulin commented on #778
@JohnStraumann66
To check what happens on service side, we would need sessionId value from
https://docs.microsoft.com/en-us/objectivec/cognitive-services/speech/spxsessioneventargs
You can get this event by subsribing using addSessionStartedEventHandler, see https://docs.microsoft.com/en-us/objectivec/cognitive-services/speech/spxrecognizer

[2020-09-03 18:38] jhakulin commented on #363
@upsilondynamics That is interesting, thanks for information, great there is a workaround.

[2020-09-03 19:23] manideeppabba1991 commented on #771
@yulin-li I still do not see version 1.14 available on [Release Notes](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/releasenotes)

[2020-09-04 06:35] shreeraj04 opened #791 "How to get the text from the audio wav bytes ?"
I wanted to know if we can get the STT result from the audio bytes or base64 embedded instead of a file. I wanted this for the real time STT.
Client will be sending the bytes or base64 embedded string using which I want to send request to Azure Speech Services to get the text out of it.

Please guide if there is a way for this. I checked the Python samples, but everywhere it is getting read from t

[2020-09-04 08:40] arvind2k opened #792 "No module named '_speech_py_impl in azure.cognitiveservices.speech"
I am trying to upload azure funtion in Python on windows 10. In the first lines of code, it returns an error because of the following line:
import azure.cognitiveservices.speech as speechsdk
  File "...importlib\__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level) ModuleNotFoundError: No module named '_speech_py_impl'
I have installed sdk by:  pi

[2020-09-04 14:34] jhakulin commented on #791
@shreeraj04 Thanks for question. You can use following method to convert base64 string to bytes and then feed it to Speech SDK using push stream or create customized pullstream reader for your project.
https://docs.microsoft.com/en-us/dotnet/api/system.convert.frombase64string?view=netcore-3.1

Let us know if this helps

[2020-09-04 14:36] jhakulin commented on #792
@arvind2k Thanks for feedback, could it be possible to share your project or minimal sample for it?

[2020-09-04 15:43] arvind2k commented on #792
Hi Jarno,

We are using sample code mentioned in help file. If we add a simple one liner

import azure.cognitiveservices.speech as speechsdk

and try to execute the code it throws error.

Traceback (most recent call last):

  File "C:\Users\Arvind\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.7_qbz5n2kfra8p0\LocalCache\local-packages\Python37\site-packages\azure\cognitiveservices\speech

[2020-09-04 18:29] brandom-msft commented on #788
Hi @MalateshPatil - the releases since 1.8 have had fixes applied related to iOS issues reported in the past. Are you able to update to the current available version (1.13) and retry this?

[2020-09-04 18:33] brandom-msft commented on #786
hi @GithubUsernameRuchi - can you share some more information about your setup?

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. ...
2. ...

**Expected behavior**
A clear and concise description of what you expected to happen.

**Version of the Cognitive Services Speech SDK**
Which version of the SDK are you using.

**P

[2020-09-05 10:15] prabhatsubedi commented on #667
I am having same issue in javascript sdk and I am using **startContinuousRecognitionAsync** function. I have added `speechConfig.setProperty("SpeechServiceResponse_OutputFormatOption", "detailed")` before creating the recognizer object but it's not returning `Lexical` field in :
[code]
Am I missing something ? Thank You.

[2020-09-06 08:46] tree1370 opened #793 "azure speech recognition crash the console-app on linux IOT with KeywordRecognizer"
hi

i use KeywordRecognizer for recognize word .

i have a console app that uses azure for speech recognition offline from microphone (by KeywordRecognitionModel table) on linux IOT(raspberry pi).

when i run it, at first time it works correctly and can recognize my word, but after 3 or more recognition , it crashes the app, even try-catch cant handle it.

Note : the following code works good on w

[2020-09-07 08:14] KirbyMcKenzie commented on #760
Hey @pankopon when is 1.14.0 scheduled to be released?

[2020-09-08 04:30] nathanaelk opened #794 "Cpp AudioConfig::FromStreamInput(shared_ptr<PullAudioInputStream>) does not copy the shared ptr"
**Describe the bug**
AudioConfig::FromStreamInput does not make a copy of the PullAudioInputStream shared ptr so the ref count is never increased and the caller has to make sure the pointer is always valid. This is a rather unusual way to use shared_ptr because by passing a shared_ptr the expectation is that it will be copied (increase in ref count) so the caller does not have to worry about it.
I

[2020-09-08 11:48] daigongzheng opened #795 "use restapi in translate-speech-to-text Can not be play voice"
I use chinaeast2  restapi  subscription key  in   translate-speech-to-text   cannot play sound
![1](https://user-images.githubusercontent.com/70951112/92472311-df1cf380-f20b-11ea-8efc-08588c4c920e.png)
![2](https://user-images.githubusercontent.com/70951112/92472364-efcd6980-f20b-11ea-92e2-c6c2771e3627.png)

[2020-09-08 16:56] jhakulin commented on #792
@arvind2k Are you using VSCode for Azure functions development?
I followed instructions below to create Azure function project on VSCode and Speech SDK v1.13.0 on Python Azure function was working OK locally and when executed in the Azure cloud.
https://docs.microsoft.com/en-us/azure/developer/python/tutorial-vs-code-serverless-python-01
Could you please share the output of your project when you d

[2020-09-08 17:07] #783 closed

[2020-09-08 18:15] rhurey commented on #667
To set the output format use:
speechConfig.outputFormat = sdk.OutputFormat.Detailed;

The property you found about it is an internal one that isn't used by all recognizer types, the config option should work for all types.

[2020-09-08 19:01] trrwilson commented on #795
Hello! Thanks for getting in touch. Could you please share more about what you're seeing when the playback fails? Specifically:

* Do you receive synthesizing events (e.g. does that last Console.WriteLine in the second picture emit output) or, conversely, do you see any Canceled events with errors that might have more information?
* If you receive synthesizing events, is audio.Length reported as a

[2020-09-08 19:14] trrwilson commented on #794
Nathan, thanks for the great report. This provides all the detail we need to investigate and I've filed an issue for us to look into it. I know I've seen something like this myself in the C# projection (letting the stream go out of scope ends up with a nigh-impossible-to-diagnose ExecutionEngineException at some unpredictable point, whenever the GC decides to take action) and so I agree that impro

[2020-09-08 19:14] #794 closed

[2020-09-08 19:24] trrwilson commented on #793
Thank you for filing this issue! That certainly doesn't look expected and I'd like us to take a deeper look into it. We could use your help with some additional information to diagnose the problem:

* What version of the Speech SDK is in use? 1.12.0, 1.12.1, and 1.13.0 have the KeywordRecognizer available but only 1.13.0 has a bug fix related to audio advancement that *could* result in a crash dep

[2020-09-08 19:41] trrwilson commented on #790
Thanks for contacting us.

Looking through the source code for this error, the behavior is true to its name: `SPXERR_UNEXPECTED_EOF` pops up (and only pops up) when the reader for file-based .wav input encounters an EOF marker when it's expecting to get some data. This can be a completely empty file (EOF immediately upon opening the stream), a file cut off as it starts its header (e.g. EOF found w

[2020-09-08 19:57] mikenewman1 commented on #790
Thanks. I am still trying to narrow down when this happens. So far I have not been able to reproduce it deterministically (race condition, anyone?). Nor have I found any bad wave files (you would think that would be easy to check, so I am reasonably sure that is not the issue).

[2020-09-08 20:06] trrwilson commented on #790
Thanks -- please let us know what you find. Races are such a "joy" to diagnose!

[2020-09-08 20:11] mikenewman1 commented on #790
I am using `pool` to hit my ASR endpoint with 15 simultaneous requests, plus I have `word_level_timestamps` enabled. I think the combination is causing bad things to happen.

[2020-09-08 21:05] trrwilson commented on #703
Standard text: to keep our active issues list fresh, we'll consider an issue resolved after 14 days of inactivity [here, already elapsed]. If this was premature, please open another issue (and feel free to reference this one) and we'll investigate. Thank you!

[2020-09-08 21:05] #703 closed

[2020-09-08 21:06] trrwilson commented on #775
Standard text: to keep our active issues list fresh, we'll consider an issue resolved after 14 days of inactivity [here, already elapsed]. If this was premature, please open another issue (feel free to reference this one) and we'll investigate. Thank you!

[2020-09-08 21:06] #775 closed

[2020-09-09 00:10] chrisbasoglu commented on #743
in approximately 3-4 weeks.

[2020-09-09 01:38] daigongzheng commented on #795
I tested it, but can not receive synthesizing events so  this event should not have been executed
![3](https://user-images.githubusercontent.com/70951112/92544271-12996580-f280-11ea-88bb-8ac55e90c7ab.png)

[2020-09-09 03:36] daigongzheng commented on #795
this is device logs, SessionStarted event(SessionId): e9c444b1cf4b4876bc37668f289b3ab7
![4](https://user-images.githubusercontent.com/70951112/92551464-9ce9c580-f290-11ea-8d33-44ea723eda6d.png)
[Log.txt](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/5192455/Log.txt)

[2020-09-09 05:01] arvind2k commented on #792
Hi Hakulinen,

Thanks for your reply.

No I am not using VSCode for Azure functions development. I am using notepad + and  VS code as a only editor. I have followed steps from

 <https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/get-started-speech-to-text?tabs=script%2Cwindowsinstall&pivots=programming-language-python> https://docs.microsoft.com/en-us/azure/cognitive-service

[2020-09-09 05:07] prabhatsubedi commented on #667
@rhurey Thanks it helped. But we need to enable` speechConfig.enableDictation();` so, this `Lexical` field is not useful. Is there any way to stop auto punctuation please ? Thank You.

[2020-09-09 20:05] jhakulin commented on #792
@arvind2k  The quickstarts you shared are not describing all the steps to create Azure functions (we will add separate docs for that in the future). I understood you see this problem when uploading the script to Azure function. Do you see the issue also with normal python quickstart when running the python script locally as described in the quickstart below ?
https://docs.microsoft.com/en-us/azure

[2020-09-09 20:49] mikenewman1 commented on #790
I enabled logging, but now I am seeing occasional hangs (not the earlier behavior).
Note that when I compare with other jobs that completed successfully, I definitely see that the log is incomplete. I am posting one of each type. In `sw04114-A.logging.txt` it hangs, but `sw03450-A.logging.txt` is successful. I can kill it and restart but I thought I should check in first.

[sw03450-A.logging.txt](

[2020-09-09 21:02] trrwilson commented on #795
Thank you for the additional detail! The log and session information was very helpful in reproducing this. I can confirm that I see the same behavior and we're investigating now. It appears that this behavior is unique to ChinaEast2 (it, at least, doesn't reproduce on several other regions tested).

That leads to a question: is there a strong reason that chinaeast2 needs to be used? Although the b

[2020-09-10 01:18] rhurey commented on #667
Just to make sure I get the right information...

Do you want automatic punctuation turned off, and explicit punctuation to still be on and rendered?

i.e. if the user spoke the words: "Call my wife period" you'd get "Call my wife."
but if the user spoke "Call my wife" you'd get "Call my wife"
?

[2020-09-10 01:24] sunt89 commented on #795
@trrwilson
 Thank you for your reply.

Our customers use Azure China, but they do not have Azure Global subscription, so we need to use the region of Chinaeast2, because the speech service only supports this region in  Azure China

![image](https://user-images.githubusercontent.com/20986998/92670617-fb717b00-f346-11ea-92a5-502b0cd47b79.png)

![image](https://user-images.githubusercontent.com/20986

[2020-09-10 03:04] prabhatsubedi commented on #667
@rhurey yes. That's exactly we want. Thanks

[2020-09-10 13:51] TamarZanzouri commented on #414
Is there an update on this?

[2020-09-10 13:52] TamarZanzouri commented on #414
Is there an update on this?
I am trying to StopContinuousRecognitionAsync but I want to cancel it so that the buffer audio will be cleared.
I am using the c# SDK

[2020-09-10 15:57] trrwilson commented on #787
Thanks for filing this and apologies on the slower turnaround on replying to this issue -- I've been trying to track down a team member with experience integrating with React but want to at least provide an acknowledgement in the interim.

As you've seen, part of the trouble is that we don't have a sample or any specific instructions for React as part of our documentation (on the main docs at http

[2020-09-10 17:49] trrwilson commented on #787
I got in touch with someone with far more React knowledge than I have and there are a few follow-up points/questions for us to get to the bottom of this:

- What build tools are being used (webpack, babel, is CRA being used, etc.) and what version?
- What version of React is this being built against?
- Can you build other es2015, es2016 apps/modules?

It sounds like this sort of error ("can't pars

[2020-09-10 21:43] mikenewman1 commented on #790
Here is another log file for an example where it hangs. In this one I see error messages, eg
```(190): 8946835ms SPX_TRACE_ERROR:  usp_reco_engine_adapter.cpp:1839 Response: On Error: Code:5, Message: Connection was closed by the remote host. Error code: 1000. Error details: Exceeded maximum websocket connection idle duration(> 300000ms).```
[sw03537-A.logging.failed.txt](https://github.com/Azure-

[2020-09-11 02:30] prabhatsubedi commented on #667
@rhurey Is there any way to fix my issue please ?

[2020-09-11 02:48] rhurey commented on #667
Add this:

speechConfig.setServiceProperty('punctuation', 'explicit', SpeechSDK.ServicePropertyChannel.UriQueryParameter);

To where you initialize your config object.

[2020-09-11 14:03] mikenewman1 commented on #790
Here is another log file, with a different error message.

[code]

[2020-09-11 14:05] mikenewman1 commented on #790
Note that I am very consistently getting some kind of failure that causes my job to hang, even if maybe the actual error message is not the same every time.

[2020-09-11 14:20] mikenewman1 commented on #790
I see this bug with a similar report
https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/352

[2020-09-14 13:40] SOliasS opened #796 "How to use ContinuousRecognition"
Hey, i have some issues with ContinuousRecognition.
I start the recognition with intentRecognizer.StartContinuousRecognitionAsync.
Then i use the intentRecognizer.Recognized to track the recognized intents and write them to a collection.
But sometimes there are intents missing...

@jhakulin Do i have to use another event or am i doing something else wrong?

[2020-09-14 13:56] SOliasS opened #797 "Implement new DateTime fix"
Hey,
the Recognizers-Text team implemented a fix for worng interpeted Datetimes in May,
but the Bug is still present in LUIS.
Could you please implement it?

https://github.com/microsoft/Recognizers-Text/issues/2123

[2020-09-14 18:10] manideeppabba1991 commented on #771
@yulin-li I still do not see version 1.14 available on https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/releasenotes

[2020-09-14 18:23] jhakulin commented on #792
@arvind2k The Speech SDK on Windows depends on the shared Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017 and 2019. Could you make sure you have installed it from https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads

And let us know if this helps.

[2020-09-14 23:02] pankopon commented on #766
To update: Based on our initial investigation the current behavior is due to limitations of the keyword recognition engine that cannot accurately estimate the start time of the keyword, instead it returns the end time minus a constant 1.5 seconds. We have added a work item about it to the backlog so I'm closing this issue now, we'll provide an update once we know which Speech SDK release will cont

[2020-09-14 23:02] #766 closed

[2020-09-14 23:04] pankopon commented on #776
@yulin-li Is there a work item about this on the backlog? Please update.

[2020-09-14 23:20] pankopon commented on #778
@JohnStraumann66 If this is still a valid issue for you, can you please provide the session id info as requested?

[2020-09-14 23:31] pankopon commented on #780
Closing the issue since no further updates, please open a new issue with details if more support is needed.

[2020-09-14 23:31] #780 closed

[2020-09-14 23:54] pankopon commented on #788
Closed as fixed in current SDK releases.

[2020-09-14 23:54] #788 closed

[2020-09-14 23:56] pankopon commented on #791
Closed the item since no further update and the question was answered.

[2020-09-14 23:56] #791 closed

[2020-09-15 00:08] pankopon commented on #793
@tree1370 Which Linux distribution are you using? The Speech SDK does not support Raspberry Pi OS (Raspbian) at the moment, with known issues exactly like those seen in your screenshot.

(The list of supported Linux distributions can be found at https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-sdk?tabs=linux%2Cubuntu%2Cios-xcode%2Cmac-xcode%2Candroid-studio.)

[2020-09-15 02:33] yulin-li commented on #776
@pankopon this work item is in my backlog

[2020-09-15 02:35] yulin-li commented on #771
@manideeppabba1991 sorry, the release was delayed.

[2020-09-15 06:37] mrscience21 opened #799 "Implementation of c# PullAudioInputStreamCallback Abstract Class missing ref keyword"
From reviewing the[ Azure Cognitive Services Documentation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.cognitiveservices.speech.audio.pullaudioinputstreamcallback?view=azure-dotnet) for this class and looking as code samples from other languages, it seems to me the abstract class intends for implementations to pass binary data by saving it into dataBuffer and size - here passes as param

[2020-09-15 16:45] rhurey commented on #797
I'm following up with the internal teams about what the deployment timeline is...

[2020-09-15 17:04] rhurey commented on #799
Arrays are inherently reference types in C#.

https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/arrays/passing-arrays-as-arguments.

The intent is that Read() will be called with a already allocated byte[] that Read() will write data into, not that Read() will allocate new memory to write into. The uint size is the length of that array.  In this case the size parameter isn't strictl

[2020-09-15 17:57] pankopon commented on #786
@GithubUsernameRuchi Is this still a valid issue for you? Please update with more details as requested.

[2020-09-15 18:07] pankopon commented on #776
Closing this item as there's now a task on the team's backlog. We will update the issue when a Speech SDK release with a fix is available.

[2020-09-15 18:07] #776 closed

[2020-09-15 19:10] jhakulin commented on #437
@javierrodenas @siwon @TKlerx @giucas79 @brechtPhilips @Jamesits @richardcerny Speech SDK Azure functions for Python (which always uses Linux OS in Azure) has been verified working with the latest 1.13.0 version. Azure functions for Python were verified working in Azure portal (with http and blob triggers) using steps documented here https://docs.microsoft.com/en-us/azure/developer/python/tutorial

[2020-09-16 17:41] benlifson opened #800 "Major delays on speech recognition updates as captions get long enough."
**Describe the bug**
In AltSpace, you can enable Speech Recognition and Captions in order to see captions based on what you, or another player in the scene, is saying. We have found that when Altspace speech captions get long enough, there are progressively longer delays between updates to the text. In some cases, this can be nearly 5 or more seconds. This causes snowballing delays, as the caption

[2020-09-16 23:38] pabloandrei opened #801 "ErrorCode: ConnectionFailure. ErrorDetails:Connection failed (no connection to the remote host)."
Hello.

I created an application that consumes the Microsoft.CognitiveServices service on Azure.
Locally I use Linux Ubuntu-20 with VSCODE for the application with dotneCore 3.1, **and locally everything works perfectly**.

I created a container, **when I access the microk8s resource of the POD, I have the following error message:**
_ErrorCode: ConnectionFailure.
ErrorDetails:Connection failed (no

[2020-09-17 14:51] yashugupta786 commented on #169
I have created  a program in python for continuous  speech to text from microphone for real time . The problem is when there are multiple speaker (foreg   skype ,Zoom conference meeting ).The program only taking audio from my microphone .I want to capture audio of all users in the meeting and want to perform speech to text translation  .how to achieve that in python

[2020-09-17 14:59] yashugupta786 opened #802 "Multiple speakers(skype, teams meeting or any audio source like youtube) audio input in continuous speech recognition python"
I have a created a small application for continuous speech to text  Transcription and translation .For a single user getting input from microphone is working fine . But when we have multiple speaker's(skype meeting ,teams conference call, zoom meeting or any audio source ) how to fetch audio for all speakers and pass to azure speech to text service . As of now only options are microphone, Audio Fi

[2020-09-17 16:53] BrianMouncer commented on #796
@SOliasS

I would subscribe for both Recognized and Recognizing events, but Recognized should be enough assuming the speech is good enough to fire the Intent rules. I would also listen for the Canceled event so you know if the service timed out or got disconnected from some reason.

Did you look at the sample for intent recognition with continuous recognition?

https://github.com/Azure-Samples/cog

[2020-09-17 17:01] BrianMouncer commented on #797
@SOliasS

The service engineering team got back to us, and the current plan is to deploy this fix in about 3 weeks.

[2020-09-17 18:29] BrianMouncer commented on #800
@benlifson

I do not seem to have access to

https://github.com/AltspaceVR/UnityClient/blob/dev/Assets/Altspace/Scripts/Captions/SpeechThread.cs

Or even see the UnityClient project repo to be able to request access.

How many languages are you translating into at a time, and what languages are you using?
I've seen final recognition results take some time if translating into may languages at one t

[2020-09-17 23:22] benlifson commented on #800
@BrianMouncer
Sorry for the delay. I will add you to the teams chat we are having regarding this bug.

[2020-09-18 04:58] BrianMouncer commented on #801
My first guess would be a network issues on the host or container.  Docker desktop was easy to setup, but when the first setup docker on an ubuntu host, I had the follow a few extra steps to get the default dns servers to work correctly.  e.g. I had a working network, but no name resolution inside the containers, and a few other issues. If you think that might has the same network issues I did, tr

[2020-09-18 13:39] pabloandrei commented on #801
Hello.
I read your post, e change the DNS resolution. After I tried connetion to services (Azure), the same error ocorrered.

**Below follow result of the command curl to endpoint of azure  service:**
![image](https://user-images.githubusercontent.com/16004192/93603511-79aecc80-f99a-11ea-8f1e-a2997af7c29d.png)

**Test of AVX2 Supported:**
root@speechapi-deployment-54dfc5d9b8-f6nhz:/app# grep -q av

[2020-09-18 16:35] pabloandrei commented on #801
@BrianMouncer msftspeech didn't work!

Do you have any ideas or suggestions?
![image](https://user-images.githubusercontent.com/16004192/93622531-b1763e00-f9b3-11ea-9715-826770338bab.png)

[2020-09-18 17:45] BrianMouncer commented on #801
I deleted your post because you missed redacting your speech key in the console output from SPX recognize command.
Please take measures to expire and regenerate your speech key, just to be safe...

For getting SPX to work for you, I notice you had some paths wrong,  e.g. the path to the mp3 file was a path on the host file system. it should have been rooted in the container with "/data/".  Also th

[2020-09-18 18:17] BrianMouncer commented on #802
If you haven't noticed, Teams Client has the transcription feature built in now. :-)

We do not have a Python API surface for our Conversational Transcription Service yet, or the Speaker ID API (but we are working on them). You could do your experiments in C# though.

Keep in mind that the conversation transcription API are in preview, and will undergo some refactoring as we take customer feedback

[2020-09-21 07:58] yashugupta786 commented on #802
Thanks for the response Brian .Teams have the Transcription functionality . I am looking for Translation Functionality so that we can Transcribe and translate the conference meetings into different language .However on Teams only Transcription is available and its for only English language (Speech to text in English only).
so according to you like we cannot fetch the audio of multiple speakers (in

[2020-09-21 08:09] yashugupta786 opened #803 "Auto Language Detection/ Speaker out /wav file synthesis not working when using speech Translation in python"
Hi Team
When using the speech Translation in python .
1. Auto Language Detection option is not there when performing SST. However this exist in normal Speech to Text module .
How to do Auto Language Detection with in speech Translation using python SDK

2. When using the Speech Translation Python SDK .After the Translation there is no option for Synthesis speaker out (TTS ) in python speech sdk  f

[2020-09-21 09:24] nuenook opened #804 "IPhone IOS not sending audio when use video chat with Speech to Text Conversation Translator"
**Describe the bug**
My website is Video Chat, so I want to use Speech to text translation on my website
but when I turn on Speech to text, Safari cannot send audio, in the other hand when try to restart audio it can send audio but no translation text, it seems safari only reserve one Microphone?

**To Reproduce**
Steps to reproduce the behavior:
1. goto my example web https://nuenook.github.io/ t

[2020-09-21 17:56] jhakulin commented on #796
@SOliasS That is correct way, could you provide session id from the recognized event when the intent is missing ?
We need to look on speech service side if we see why intent is not returned.

[2020-09-21 18:09] pankopon commented on #793
Closed since no further update and the problem seems to be due to unsupported Raspberry Pi OS.

[2020-09-21 18:09] #793 closed

[2020-09-21 18:11] brandom-msft commented on #804
Hi @nuenook - thanks for raising this issue. Since it pertains to the JS SDK, I'm going to open it as an issue in that repo and will reply there. https://github.com/microsoft/cognitive-services-speech-sdk-js/issues/243

I'll be closing this issue but please reactivate and let me know if I've misunderstood anything here.

[2020-09-21 18:11] #804 closed

[2020-09-21 18:12] pankopon commented on #792
Closed since no further update, presumed resolved by installing the latest Visual C++ runtimes. Please open a new issue if you need more support.

[2020-09-21 18:12] #792 closed

[2020-09-21 18:13] pankopon commented on #778
Closed since no update, please open a new issue if you need more support.

[2020-09-21 18:13] #778 closed

[2020-09-21 18:20] pankopon commented on #799
Closed as answered.

[2020-09-21 18:20] #799 closed

[2020-09-21 18:24] pankopon commented on #797
Closing the item as the deployment of a service fix has been scheduled.

[2020-09-21 18:24] #797 closed

[2020-09-21 18:25] pankopon commented on #786
Closed since no update from the customer, please open a new issue if you need further support.

[2020-09-21 18:25] #786 closed

[2020-09-21 22:00] SOliasS commented on #796
Hey,
sry haven't had any time to investigate it further...
Maybe i'll get around on friday

[2020-09-22 12:11] pabloandrei commented on #801
Hello @BrianMouncer .

In the commented item on the command line: "docker run -it -vc: \ temp \ data: / data --rm msftspeech / spx recognize --files /data/whatstheweatherlike.wav", this folder belongs to the physical machine "c : \ temp \ data "and is it docker / pod" /data/whatstheweatherlike.wav "?

I execute, no error and no results are returned.

[2020-09-22 17:23] pabloandrei opened #806 "What is best practices to performance to use Microsoft.CognitiveServices.Speech with file?"
I have a doubt.
I am using Microsoft.CognitiveServices.Speech on Azure, the requests use WAV file type that has 1 hour audio media.

Before sending to Azure, I set the file format to "ffmpeg -acodec pcm_s16le -ac 1 -ar 16000"

My perception that the delay in voice recognition is 1 to 1, that is, if the audio file has 1 hour, the processing takes 1 hour as well.

Is there any way to get more perfor

[2020-09-23 09:02] Selvaraj314 opened #807 "Text to speech stop or pause option"
**Describe the bug**

After start speech, is that any option is there to stop/pause/cancel the audio session?

I am using following code for speak the text.

`var speechSynthesizerResult: SPXSpeechSynthesisResult?
        do {
            try speechSynthesizerResult = speechSynthesizerVal.startSpeakingText(inputTextVal)
        } catch  {
            print("SPEECH SYNTHESIZER RESULT: \(error)")

[2020-09-23 13:19] roninstar opened #808 "Retrieve VoiceProfile from Server for later identification/verification"
I have tried everything I could think of to perform identification or verification on our saved users after their voices have been trained without training on start of the app every time. Even if I save the GUID's of the voiceprofiles once they are created I can not get the voiceprofiles from the Azure service in order to perform verification on the users identity on a later date. The examples pro

[2020-09-24 07:18] aidenkoh801 opened #809 "Lagging issue when running speech to text recognition via AudioInputStream in Oculus Quest"
Hi! I am currently using Speech SDK for Unity for a project on the Oculus Quest. Currently I'm using the sample for using Unity microphone with push mode. [https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/unity/from-unitymicrophone/Assets/Scripts/HelloWorld.cs](url)

However, severe lagging happens whenever the audio packet is converted into a byte array, and push

[2020-09-24 13:14] gabser10 opened #810 "System.DllNotFoundException in Microsoft.CognitiveServices.Speech.Internal.Speech Config.speech config_from e"
Running a WPF application in a clean Windows 10 1909 version generate an exception of missing dll.

[2020-09-24 16:20] sprgchma opened #811 "Azure text-to-speech is not accessable in Windows 2012 r2"
**Describe the bug**

1. https://azure.microsoft.com/en-us/updates/azuretls12/ - here MS says that they are going to switch to tls12, it is okey. Win2012r2 support this version of TLS.

2. Here the list of cipher that win10 supports: https://docs.microsoft.com/en-us/windows/win32/secauthn/tls-cipher-suites-in-windows-10--version-1507

    It contains following ciphers suites

[code]
3. Here the li

[2020-09-24 21:03] brandom-msft commented on #803
Hi @yashugupta786, I'm looking into the issues you called out, thanks for posting them. I need to enlist the python experts on our team for assistance getting you some answers to these, I'll update you then!

[2020-09-24 23:12] brandom-msft commented on #807
Hi @Selvaraj314 - as you've found, there is functionality provided for starting playback of a text string. Beyond that, additional media controls (like pause/stop) would need to be implemented per your app/program's needs.

I'm resolving this issue as "closed" but please don't hesitate to reach out with any other questions or feedback!

[2020-09-24 23:12] #807 closed

[2020-09-24 23:22] brandom-msft commented on #806
Hi @pabloandrei - there isn't a specified or guaranteed speed declared for long-form audio, but generally I've found the completion time to be shorter than the file duration. (I want to stress this is generalization based on my own anecdotal usage, your turnaround time will vary but I would expect it to be some amount shorter than your audio file)

Closing this issue but feel free to comment-back

[2020-09-24 23:22] #806 closed

[2020-09-24 23:32] brandom-msft commented on #810
Hi @gabser10 -

Can you share more about your WPF project setup?
Also, how are you including the SDK in your project?
And which version of the SDK are you using?

[2020-09-24 23:36] brandom-msft commented on #811
Hi @sprgchma - I'm raising this with the team to find the best person suited to get support, I'll update you when I have more. Thanks!

[2020-09-24 23:41] brandom-msft commented on #808
Hi @roninstar, thanks for the question - I've reached out to our team expert about this and will reply back with my findings.

[2020-09-25 06:16] gabser10 commented on #810
Hi @brandom-msft, thank you for your response. I've solved the error by installing Microsoft Visual C++ Redistributable for Visual Studio 2019 in the system implementing the application and now works.
I use NuGet Package Manager to include the SDK in version 1.12,

[2020-09-25 06:16] #810 closed

[2020-09-25 06:39] 3Park opened #812 "Cognitive does not exsist error."
Hello. I am using Unity to make an app for iOS, Android and StandAlone PC.
I made an Unity project and imported Microsoft.CognitiveServices.Speech.1.13.0.unitypackage to use STT and TTS.

There is no problem for building Android and StandAlone PC by setting on Unity but,
for building iOS, it makes some errors even though I set the build setting to ARM64.

The most represent error is that Cognitive

[2020-09-25 12:37] cgreening opened #813 "AudioConfig.fromWavFileInput fails under node due to use of FileReader"
**Describe the bug**
Running under node and trying to use `AudioConfig.fromWavFileInput` fails due to it trying to use `FileReader` which is not available in node.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the SDK using `npm install microsoft-cognitiveservices-speech-sdk`
2. Try to use the following code:

[code]

This will fail with:

[code]

**Expected behavior**
It should lo

[2020-09-25 12:59] pabloandrei opened #814 "Issue with local image: mcr.microsoft.com/azure-cognitive-services/speechservices/speech-to-text:latest"
I recently signed up at https://customervoice.microsoft.com/, to be able to run container or docker from the mcr.microsoft.com/azure-cognitive-services/speechservices/speech-to-text:latest image locally.
After a long wait, I received an email with the release to use the image.

After downloading the image, I tried to run the docker as instructed at: https://docs.microsoft.com/en-us/azure/cognitive

[2020-09-25 15:06] jhakulin commented on #812
@3Park Thanks for question, did you check the instructions here: https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/csharp/unity/from-microphone#build-and-run-the-sample-for-ios-platform ? Specifically Under Project > Assets > SpeechSDK > Plugins > iOS, check that Microsoft.CognitiveServices.Speech.csharp.dll target is enabled for Editor and iOS platforms.

[2020-09-25 15:37] jhakulin commented on #809
@aidenkoh801 Thanks for the feedback, I agree the sample may not be optimal from the performance point of view. Based on your description, I am not sure where the severe lagging is seen in your app, could you provide more clarity how the app experience the lagging, is it delayed recognition results or something else? Have you measured the time took by ConvertAudioClipDataToInt16ByteArray for each

[2020-09-25 15:52] 3Park commented on #812
oh, I will check it. thanks

[2020-09-25 19:18] srinivasdr opened #815 "addConversationParticipantsChangedEventHandler not getting called in iOS after joining conversation with conversation id or on starting the conversation"
**Describe the bug**
ConversationTranslator addConversationParticipantsChangedEventHandler not getting called in iOS Swift code base after joining conversation with conversation code

**To Reproduce**
Steps to reproduce the behavior:
1. Create a conversation in https://translator.microsoft.com/ in desktop browser
2. Join the same conversation from iOS swift using conversation code create through a

[2020-09-25 20:59] lisaweixu commented on #808
There's a known bug in the the Speech SDK that requires the profile type be specified when constructing a profile from an ID. This will be addressed in a near future release of the Speech SDK. The workaround is using the RESTful API at [here](https://docs.microsoft.com/en-us/rest/api/speakerrecognition/verification/textdependent/verifyprofile).

[2020-09-25 20:59] #808 closed

[2020-09-26 19:55] paras55 commented on #310
The SDK also doesn't support http connection . I have been running a flask server and getting  a http link and trying to hit api . But it doesn't respond ,
Is there a fix ?

[2020-09-27 08:51] Cppowboy commented on #809
Same problem when using java speech sdk to write bytes data through a push stream.

[2020-09-27 09:37] aidenkoh801 commented on #809
Hi! Thanks for the reply @jhakulin
The recognition results is snappy and good, its just that the script is using up all of the CPU resources.
I profiled my app and it seems to show that majority of the lag was caused when creating a float array from the AudioClip.
The second main cause seems to be the pushing of byte array through the stream.
![image](https://user-images.githubusercontent.com/5458

[2020-09-27 17:04] jhakulin commented on #809
@aidenkoh801 thanks for the information, could you use microphone from speech sdk as in the following sample ?https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/quickstart/csharp/unity/from-microphone/Assets/Scripts/HelloWorld.cs

[2020-09-28 05:58] smartcharith opened #817 "Unreal engine Cognitive services integration"
How can I integrate C++ Sdk into UE4?
Please help!

[2020-09-28 08:36] aidenkoh801 commented on #809
Ok, it is much better, thanks @jhakulin! Just another question, is there any way the outgoing audio can be recorded and saved as an audioclip with this method? The reason why I resorted to push audio stream is because I could save the outgoing audio.

[2020-09-28 14:32] roninstar commented on #808
Hi Lisa, the issue we are having is there is no way to get the user profile.  There isn't any method to get the voice profile from he server using the SDK.  Is this going to be addressed in the future?

[2020-09-28 14:34] roninstar commented on #808
so basically if you do voice training with Speaker Recognition and you create the profile and set the type as text-independent you still have no way to perform speaker identification later on.  Even if you save the guid their is no way to get and use it without having to do voice training on start of the app each time.

[2020-09-28 15:17] jhakulin commented on #809
@aidenkoh801 Capturing audio from the mic owned by speech sdk is not supported currently, we will add the feature in the near future.

[2020-09-28 20:26] mkral commented on #813
+1

[2020-09-28 20:27] mkral commented on #813
I'm also experiencing this issue, any help would be appreciated.

[2020-09-29 00:29] jhakulin commented on #817
@smartcharith Currently speech SDK does not have Unreal engine support in released packages. Without knowing much details about Unreal engine requirements, I would assume it is possible to create native C++ plugins there which would utilize speech SDK native libraries. Which platform you are using, Android, iOS, Windows or something else?

[2020-09-29 00:31] jhakulin commented on #815
@srinivasdr Thanks for the report, we will check this and let you know.

[2020-09-29 00:34] jhakulin commented on #812
@3Park Let us know if you still see the issue, if not the issue closes soon

[2020-09-29 00:38] jhakulin commented on #800
@benlifson Based on the log you provided, there is translations to en, de, es, fr, it, ja, ko, pt languages at the same time? Could you check if using one translation e.g. from en to de, would impact to delays you are seeing?

[2020-09-29 01:49] glharper commented on #813
@cgreening, @mkral AudioConfig.fromWavFileInput is currently not supported for node. We do have an open item to support that method in a future release. I looked at the Speech-to-Text quickstart in Azure Docs, and was surprised to find bad information there about fromWavFileInput. To create an inputStream for audioConfig, please use the following:
[code]

I apologize for the incorrect info in the

[2020-09-29 02:07] yshahin commented on #814
The command shows you are using cutom-speect-to-text not speech-to-text. This container requires a custom model id to be supplied. Please update the command and it should work.
If you are looking to create a custom speech to text model you can check the portal https://speech.microsoft.com/

[2020-09-29 04:32] srinivasdr commented on #815
Same issue is observed even when we try to start conversation too from iPad  swift code

[2020-09-29 16:33] donniekerr opened #818 "iOS Browser Support"
Does the browser version of the javascript SDK, SpeechSDK.SpeechRecognizer, work on latest iPad? I have a React PWA running it, but it won't record on the iPad.

[2020-09-29 19:13] efraimnewman opened #819 "Text to speech fails after a few calls to synthesizer.SpeakTextAsync"
**Describe the bug**
After calling `synthesizer.SpeakTextAsync` a few times I get an unmanaged exception `Exception with an error code: 0x1b (SPXERR_RUNTIME_ERROR)`

**To Reproduce**
I don't know exactly why this happens. it seems to be sort of random. I wrote a smart room using Speech Recognition and I am using TTS for the responses. After a few times, it crashes.

the program is running on a ras

[2020-09-29 19:33] jhakulin commented on #819
@yulin-li  Could take a look ?

[2020-09-29 19:35] jhakulin commented on #809
Closing the issue.

[2020-09-29 19:35] #809 closed

[2020-09-29 19:39] jhakulin commented on #814
Closing the issue, let us know if there is more information needed.

[2020-09-29 19:39] #814 closed

[2020-09-29 19:39] jhakulin commented on #818
@glharper  Would you comment on this?

[2020-09-29 19:41] jhakulin commented on #812
Closing the issue, let us know if more info is needed.

[2020-09-29 19:41] #812 closed

[2020-09-29 19:54] benlifson commented on #800
Thank you. Unfortunately, my apartment has lost internet. I am responding on my laptop, but my git work is on my desktop, and laptop has trouble with ALtSPace. I will not be able to run any tests until my internet returns.

From: Jarno Hakulinen <notifications@github.com>
Sent: Monday, September 28, 2020 5:39 PM
To: Azure-Samples/cognitive-services-speech-sdk <cognitive-services-speech-sdk@noreply

[2020-09-29 20:22] glharper commented on #818
@donniekerr For iOS (and iPadOS), microphone input only works on Safari. Chrome and Firefox on iOS do not have support for getting microphone input. There's an open issue with Apple [here](http://www.openradar.me/33571214) concerning mic input.

[2020-09-30 00:54] jhakulin commented on #811
@wolfma61 Would you comment on this, using rest API should work on Windows Server 2012 R2 which is based on Windows 8.1?

[2020-09-30 07:11] yulin-li commented on #819
Hi @efraimnewman , sorry for the inconvenience. Could you try to upgrade to the latest version (1.13.0) of SDK to see if the issue is still there. If so, could you pls [enable logging](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-use-logging) and paste the log here for our investigation?

[2020-09-30 08:24] mathyouf commented on #214
Shouldn't I be able to build my project to Android using my Mac as my development machine as long as I don't try to run it in the editor?

[2020-09-30 11:28] efraimnewman commented on #819
Here is the complete log file for **1.11**. I will now try it on 1.13
[speechLog.log](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/5305085/speechLog.log)

[2020-09-30 12:00] efraimnewman commented on #819
After updating, I tried for a while and this error did not come up. but I am not sure it won't happen soon

[2020-09-30 15:58] jhakulin commented on #214
@mathyouf Yes Mac can be used as development environment, however currently Speech SDK does not support MacOS in native plugins which means you cannot run it directly using editor

[2020-10-01 01:50] mathyouf commented on #214
@jhakulin I keep getting an error when trying to build to Android because there are errors in the editor. Should I do conditional compiling or is there a way to have my Android build ignore build errors that are only error specific on a mac?

<img width="1162" alt="Screen Shot 2020-10-01 at 10 50 03" src="https://user-images.githubusercontent.com/19615875/94756929-de731980-03d3-11eb-97be-0d12b208d

[2020-10-01 02:33] jhakulin commented on #214
@mathyouf One more check before I will look more detailed, does it help if you tag iOS csharp dll to Editor as instructed here ?

https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/csharp/unity/from-microphone#build-and-run-the-sample-for-ios-platform

Under Project > Assets > SpeechSDK > Plugins > iOS, check that Microsoft.CognitiveServices.Speech.csharp.dll tar

[2020-10-01 05:58] terencebeh opened #821 "Error Encountered When Trying To Import azure.cognitiveservices.speech"
I am going through this exercise on Microsoft site (https://docs.microsoft.com/en-gb/learn/modules/transcribe-speech-input-text/5-exercise-convert-speech-from-audio-file?pivots=python)

Using:
1. Visual Studio Code
2. Python version - Python 3.7.4 (also have Python 3.8.5 installed)
3. MacOS

Error Encountered:
Run Python in the terminal

/usr/local/bin/python3 /Users/comp/Python/SpeechToTextPython

[2020-10-01 13:05] pabloandrei commented on #814
In fact, I forgot about the model. Thank you!

[2020-10-01 17:02] jhakulin commented on #815
@srinivasdr We have a fix which will be released on the next 1.14.0 release.
As a workaround please make sure that your app is registered to canceled event using addCanceledEventHandler, did you have that in your app ?

[2020-10-01 21:34] qstearns opened #822 "spx client fails when run inside default docker image"
**Describe the bug**

Running the `spx` CLI via Docker fails by default when run with:

[code]

It yields the error message:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. From a fresh directory, run:
[code]
2. ...

**Expected behavior**
This should execute the recognize request.

**Version of the Cognitive Services Speech SDK**
Which version of the SDK are you using.

**Platform, Op

[2020-10-02 08:17] srinivasdr commented on #815
Thank you @jhakulin
But The work around here you suggested won’t give all participants info  in a room I believe.
is there any work around where we can get info of all participants inside ios SDK who joins and leaves room like how we can query like e.participnats inside addconversationparticipantschanged event handler

[2020-10-02 21:22] celinef opened #823 "combine 2 channels' output into 1 single conversation in proper time order"
Awesome samples! Thank you. I'm using cognitive-services-speech-sdk/samples/batch/transcription-enabled-storage/  AS IS.

The json output has this bit shown below, and I will only need to use the display property (bolded).

"combinedRecognizedPhrases": [
    {
      "channel": 0,
      **"display": "Thank you for calling XYZ. How may I help you? Till five o'click. Thank you bye bye."**
    },

[2020-10-03 05:48] ramesh123456 opened #824 "E/AudioRecord: start() status -38"
**E/AudioRecord: start() status -38**
i get this error how can i solve this error

[2020-10-03 06:18] zhouwangzw commented on #823
Yes, you can based on timing info (offset and duration) in recognizedPhrases to combine results of each channel to single output with proper time order.
CombinedResult and SegmentResults are fields in the result files for V2 API. And for the new V3 API, please use combinedRecognizedPhrases and recognizedPhrases.
Thanks,

[2020-10-03 16:03] jhakulin commented on #824
@ramesh123456 Could be that your app tries to open microphone while it is already reserved by some other process/object.
Could you please share information how your app uses Speech SDK?

[2020-10-04 10:04] sprgchma commented on #811
As for 2020-10-04 the scanning gives five cipher suites:

[code]

Last two ones are supported by win2012r2 (and by win2008r2). So for now problem is resolved by Azure team.

[2020-10-04 10:04] #811 closed

[2020-10-04 17:01] chlandsi commented on #821
Hi @terencebeh, it looks like the Python interpreter you are using (/usr/local/bin/python3, which may be from Homebrew) is not the one where the speech sdk is installed (judging from this path /Users/userid/opt/anaconda3/lib/python3.7/site-packages).  Please try to either explicitly use the anaconda interpreter for the sample, or install the Speech SDK package with the pip in `/usr/local/bin/pip3`

[2020-10-05 10:15] smartcharith commented on #817
platform Windows

[2020-10-05 10:17] Lay3r8 commented on #442
Same error here when trying to complete [this ](https://docs.microsoft.com/en-us/learn/modules/transcribe-speech-input-text) learning resource:

Here's the code I've used:

[code]

My host machine is running Ubuntu 20.04.1 LTS

[2020-10-05 11:59] stefaner1 opened #826 "Getting error: 'swagger_client' has no attribute 'DefaultApi'"
**Describe the bug**
When running Runing cognitive-services-speech-sdk batch python module:
https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/batch/python/python-client/main.py
I get:
`module 'swagger_client' has no attribute 'DefaultApi'
`

**To Reproduce**
Steps to reproduce the behavior:
1. using instruction on website: https://docs.microsoft.com/pl-pl/azure/cog

[2020-10-05 12:25] chlandsi commented on #826
Please use [this sample](https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/batch/python), and make sure you are using the corresponding version of the swagger client. To be sure, run `pip uninstall swagger_client` before installing the new version.

[2020-10-05 13:06] #826 closed

[2020-10-05 13:13] rathdebi opened #827 "Time out error while using azure cognitive api services"
Hi Team,

Trust you are doing well.

This is Debi Prasad from Xebia. We are the gold partner for Microsoft .

 I am using azure cognitive services api for ocr-text extraction . While doing so many documents are not being picked up due to time out exception.  It seems that api is not working as expected with post and get request there by having a significant delay in write operation . Adding on, we

[2020-10-05 13:20] Lay3r8 commented on #442
Actually, that also happens on Windows:

OS is Windows 10

[2020-10-05 14:11] chlandsi commented on #827
This repository handles samples and issues for the Cognitive Services *Speech* SDK. Please engage with customer support or use one of the methods listed [here](https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/) to get support for your issue.

[2020-10-05 14:11] #827 closed

[2020-10-05 16:19] jhakulin commented on #442
Reopening the issue to clarify problems seen in the learning resource https://docs.microsoft.com/en-us/learn/modules/transcribe-speech-input-text/

[2020-10-05 17:09] #813 closed

[2020-10-05 21:36] ralph-msft commented on #815
@srinivasdr please make sure that you are calling addCanceledEventHandler first, then calling addConversationParticipantsChangedEventHandler afterwards. You need to call those two methods ___before___ you call joinConversationAsync.

The first conversation participants changed event raised will always contain all the participants in the conversation. The events after that will reflect the deltas (

[2020-10-07 03:35] mathyouf commented on #214
When I download the link from below
<img width="936" alt="Screen Shot 2020-10-07 at 12 34 17" src="https://user-images.githubusercontent.com/19615875/95284562-6c01ae00-0899-11eb-8ddb-c5085a282a9e.png">

the iOS folder in the path isn't included
<img width="366" alt="Screen Shot 2020-10-07 at 12 26 34" src="https://user-images.githubusercontent.com/19615875/95284587-7d4aba80-0899-11eb-93f6-bc1cc154

[2020-10-07 03:38] mathyouf commented on #214
Found it here, but the error `The type or namespace name 'CognitiveServices' does not exist in the namespace 'Microsoft' (are you missing an assembly reference?)` remains.
<img width="1112" alt="Screen Shot 2020-10-07 at 12 37 22" src="https://user-images.githubusercontent.com/19615875/95284736-e6323280-0899-11eb-851d-d4bb412486b5.png">

[2020-10-07 03:49] mathyouf commented on #214
Adding Editor and Android solved my problem, as you said.
<img width="1119" alt="Screen Shot 2020-10-07 at 12 47 31" src="https://user-images.githubusercontent.com/19615875/95285233-4675a400-089b-11eb-8ee0-41d7179d85a5.png">

When I imported the link from the project though only under the `Third Party` path was the iOS folder included, not under the path in the first one.
![image](https://user-ima

[2020-10-07 10:00] Ad1tyaV opened #828 "Can't install this package in raspOS"
When I try to install **azure-cognitiveservices-speech** on Rasp OS, I get error:
_No matching distribution found for azure-cognitiveservices-speech_
[code]

Is there support for rasp OS for this package ?

[2020-10-07 10:27] chlandsi commented on #828
As a first step, please make sure you are using Python 3 (>= 3.5). Python 2 is not supported by this package.

[2020-10-07 11:14] Ad1tyaV commented on #828
[code]

[2020-10-07 11:49] chlandsi commented on #828
Right, Rasp OS is actually not supported; sorry for the misleading first guess. The supported distributions are listed [here](https://docs.microsoft.com/en-gb/azure/cognitive-services/speech-service/speech-sdk?tabs=linux%2Cubuntu%2Cios-xcode%2Cmac-xcode%2Candroid-studio#get-the-speech-sdk).

[2020-10-07 14:36] srinivasdr commented on #815
Thank you @ralph-msft. Will check that and let you know

[2020-10-07 17:41] wimvanhouts commented on #77
Please update the docu with this solution since it will save a lot of people a lot of time...

[2020-10-07 23:15] celinef commented on #823
Thank you Zhou Wang!

[2020-10-08 02:32] saikiahemant opened #829 "speechConfig.setProperty does not accept enum as first argument. Throws type error in TypeScript. Is there any other way to set InitialSilenceTimeout?"
**Describe the bug**
I am trying to set InitialSilenceTimeout and EndSilenceTimeout, in a nodeJS project. I am using typescript to code this.

```speechConfig.setProperty(sdk.PropertyId.SpeechServiceConnection_InitialSilenceTimeoutMs, "10000");```

I get the following error.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a typescript project
2. Initialize recognizer using the

[2020-10-08 02:33] saikiahemant opened #830 "speechConfig.setProperty does not accept enum as first argument. Throws type error in TypeScript. Is there any other way to set InitialSilenceTimeout?"
**Describe the bug**
I am trying to set InitialSilenceTimeout and EndSilenceTimeout, in a nodeJS project. I am using typescript to code this.

```speechConfig.setProperty(sdk.PropertyId.SpeechServiceConnection_InitialSilenceTimeoutMs, "10000");```

I get the following error.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a typescript project
2. Initialize recognizer using the

[2020-10-08 02:34] #830 closed

[2020-10-08 02:56] muhmuhcow opened #831 "speaker recognition - verification - quickstart for javascript node and browser not working"
**Describe the bug**
After following instructions for the quickstart and running the script the following error is received after around 5 seconds
CREATE PROFILE ERROR:
'Unhandled callback error: SyntaxError: Unexpected token R in JSON at position 0'

**To Reproduce**
Steps to reproduce the behavior:
Follow instructions for voice verification quickstart for javascript node and/or browser

**Expect

[2020-10-08 03:05] saikiahemant commented on #829
The current implementation if the ```fromSubscription``` method returns a SpeechConfig object.
[https://github.com/microsoft/cognitive-services-speech-sdk-js/blob/master/src/sdk/SpeechConfig.ts#L41](https://github.com/microsoft/cognitive-services-speech-sdk-js/blob/master/src/sdk/SpeechConfig.ts#L41)

I am re-implementing the method, and keeping the return type as SpeechConfigImpl, which let' me s

[2020-10-08 03:10] #831 closed

[2020-10-08 03:15] muhmuhcow commented on #831
forgot to set location as westus and used westus2 instead

[2020-10-08 08:10] kubazjawin commented on #442
Hello,
I had this error in Speech converting excercise.
I have changed:
`using (var audioInput = AudioConfig.FromWavFileInput("../narration.wav"))`
into (removed one dot):
`using (var audioInput = AudioConfig.FromWavFileInput("./narration.wav"))`

and now recognition works:

Recognizing first result...
We recognized: The speech translation API transcribes audio streams into text. Your application

[2020-10-08 19:00] glharper commented on #829
@saikiahemant Please use
`
  speechConfig.setProperty(sdk.PropertyId[sdk.PropertyId.SpeechServiceConnection_InitialSilenceTimeoutMs], "10000");`

Several usage examples are available [here](https://github.com/microsoft/cognitive-services-speech-sdk-js/blob/master/tests/SpeechConfigTests.ts)

[2020-10-09 01:00] saikiahemant commented on #829
Awesome. That is definitely the right way to do it. Thank you.

I am still not getting the desired timeouts though. I am still recognising audios with 10s initial silence, when the setting is clearly for 2 s.

[2020-10-09 09:00] Lay3r8 commented on #442
Does the "narration.wav" file needs to be in the same directory than the script? This line of code returns an absolute path so it shouldn't be a problem for the library to retrieve it:

[code]

[2020-10-09 09:30] kubazjawin commented on #442
I have a file in the same directory as the script.

[2020-10-09 09:47] Lay3r8 commented on #442
Ok it works if the file is in the same directory. Still it's a weird behavior that the library doesn't works with files from other locations than the script's directory.

[2020-10-09 19:02] glharper commented on #829
My guess would be the service does not allow lower than 5s. SDK passes the 2s value on, but the end service silently says and processes with a default 10s timeout. I'd try higher values like 4, 5, and 8 seconds.

[Here](https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/502#issuecomment-585987283) is an good explanation of the recognition parameters, if this is something you'd c

[2020-10-09 19:02] #829 closed

[2020-10-09 19:32] BrianMouncer commented on #822
@qstearns thanks for contacting us,

Yes, by default docker is only configured to support wave file input.
To use MP3 files, you need to add the GStreamer and codecs so SPX can transcode MP3 to an input the service supports.

I'll ask and see if GStreamer was left out accidentally, or intentionally due to "redistribution" licensing restrictions.
If we are allowed to, I will create a work item requ

[2020-10-10 07:13] saikiahemant commented on #829
Thanks

[2020-10-10 13:40] marcominerva opened #832 "Keyword Recognition with DialogServiceConnector"
I'm trying Custom Commands with Keyword Recognition feature. I have a code like the following (the computer.table file is taken from https://github.com/Azure-Samples/Cognitive-Services-Voice-Assistant/blob/master/keyword-models/computer.table.):

[code]

I have noticed that, after the Recognized event of **DialogServiceConnector** with _RecognizedKeyword_ reason, the next Recognized event with _Re

[2020-10-11 21:23] stepkillah commented on #828
Any suggestions where `raspOS` will be supported?

[2020-10-12 16:00] dargilco commented on #832
@marcominerva There is a setting in Custom Command authoring portal to specify the keyword the client used for activation. I believe once you enter the keyword there, Custom Command will strip away that keyword if it appears at the beginning of the sentence, so you do not need to train with the keyword.

[2020-10-12 16:07] marcominerva commented on #832
Oh... You're right, I totally missed the Custom Keyword Settings page on Custom Commands. Thank you for pointed me to it!

[2020-10-12 16:14] Ad1tyaV opened #833 "ReferenceError: FileReader is not defined for AudioConfig.fromWavFileInput(filename) NodeJS"
[code]
This is supposed to work according to the docs, anything I'm missing, below line seems to be initiating the above error

`const audioConfig = speechsdk.AudioConfig.fromWavFileInput(filename="katiesteve.wav")`

[2020-10-12 16:46] dargilco commented on #832
@marcominerva if this feature is missing from the [Custom Commands documentation](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/custom-commands), can you please enter a feedback at the bottom of a relevant document page? I will follow up with the Custom Command team to make sure it's documented. Thanks!

[2020-10-12 17:17] marcominerva commented on #832
Done: https://github.com/MicrosoftDocs/azure-docs/issues/64238. Thank you for your support!

[2020-10-12 17:45] rhurey commented on #833
The FileReader class is a browser construct, and not in NodeJs.

Only having a single overload of fromWaveFileInput has to do with the path the SDK took being browser only first and later supporting node. When node support was introduced, an overload for fromWaveFileInput that took a file path wasn't added, and is in our backlog.

[2020-10-13 14:30] #819 closed

[2020-10-13 14:30] efraimnewman commented on #819
Seems like problem is solved

[2020-10-13 20:34] #833 closed

[2020-10-14 18:30] pankopon commented on #828
There are no plans for it at the moment. Please use one of the supported distributions for now. In addition to those currently listed in [system requirements](https://docs.microsoft.com/azure/cognitive-services/speech-service/speech-sdk?tabs=linux%2Cubuntu%2Cios-xcode%2Cmac-xcode%2Candroid-studio#get-the-speech-sdk), Debian 10 and Ubuntu 20.04 LTS will be officially supported in the Speech SDK 1.1

[2020-10-14 18:30] #828 closed

[2020-10-15 05:01] yulin-li commented on #819
Thanks @efraimnewman for updating.

[2020-10-15 13:41] rfurmaniak opened #835 "Speech is not recognized on HoloLens at random times (SPXERR_START_RECOGNIZING_INVALID_STATE_TRANSITION)"
**Describe the bug**
We are using Speech Recognition in several projects, and starting sometime around August/September (maybe new update of OS, maybe update of library) it started to fail randomly. When calling StartRecognition, following error is given:
"0x13 (SPXERR_START_RECOGNIZING_INVALID_STATE_TRANSITION)"

Reinstalling the application always helps. Restarting the device - not so often. Err

[2020-10-15 17:26] BrianMouncer commented on #835
Could you [collect detailed logs](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-use-logging) while preproducing this error condition on a device?

Note: I would expect a different error if it was a cert issue, but since you are hitting this is on HL2, I know there is an current issue where some HL2 devices do not trust the new Digicert Baltimore G2 CA out of the b

[2020-10-16 04:06] jhakulin commented on #835
@rfurmaniak could you share your Unity script or sample which reproduces the issue ? Are you using streams input with push/pull stream API and Unity's microphone or do you create audio config via default microphone using Speech SDK?

[2020-10-16 06:40] rfurmaniak commented on #835
@jhakulin Yes, here is the script that we are using for capturing speech:
`public class AzureSpeechToText : Singleton<AzureSpeechToText>
    {
        [SerializeField] [Tooltip("Sets language to match system language. Default language is english")]
        private bool autoSetLanguage = true;

        public SpeechRecognizer Recognizer { get; private set; }
        private SpeechConfig _currentCon

[2020-10-16 06:58] rfurmaniak commented on #835
Additional context: capturing speech always works in Unity Editor.

[2020-10-16 15:48] marcominerva opened #837 "Custom Commands Web Endpoint called twice"
I'm trying to use a Web Endpoint with my Custom Commands. The guide available at https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-custom-commands-setup-web-endpoints says that I can retrieve HTTP Response by using a particular syntax:

![image](https://user-images.githubusercontent.com/3522534/96279842-82b1ae80-0fd7-11eb-9317-14dd22979822.png)

However, I have notice

[2020-10-16 16:03] #832 closed

[2020-10-16 16:28] dargilco commented on #837
Hi @marcominerva, thank you for reporting this! I'll let the Custom Command service team know about it right away. They or I will reply here. Darren.

[2020-10-19 13:37] assitive opened #838 "Set the recognition timeout to 5 seconds."
I am developing an application using C# SDK. Currently the maximum length of any utterance is around 15 seconds. I need to change it to 5 seconds for my application. Basically, I want to limit the utterances to 5 seconds maximum, how can this be achieved?

[2020-10-19 15:45] TANMAY007100 commented on #803
I am facing the same issue. I receive the audio output from `evt.result.audio` in synthesis_callback but the audio is sounding very funny when I am trying to write it to a wav file using writeframes. The audio is bytes which I checked and confirmed. I am setting channel as 1 format to pyaudio.paInt16 and sample rate to 44100. Below is gist of what I am trying in the synthesis_callback event.

[cod

[2020-10-19 18:43] rhurey commented on #838
Sorry, but the maximum phrase length isn't currently controllable from the SDK.

[2020-10-19 19:02] assitive commented on #838
Or force it to end recognition in code and return the recognized text before the stop call?

[2020-10-19 23:33] rhurey commented on #838
Calling StopContinuousRecongitionAsync() will stop audio capture and return results for the audio that's been captured.

[2020-10-20 03:36] mailong25 opened #840 "Maximum number for transcripted text alternatives (NBest result)"
I'm using the recognize_once() function with detailed output format. I was able to get 5 different versions of recognized speech, denoted as NBest, where N = 5.
However, I want to retrieve more than 5 partial results. How can I set the number N using python SDK ?

Thanks

[2020-10-20 12:46] assitive commented on #838
My program calls RecognizeOnce, does StopContinuousRecongitionAsync stop recognize once?

[2020-10-20 13:47] rhurey commented on #838
StopContinuousRecongitionAsync will stop either recognition mode.

[2020-10-20 13:54] assitive commented on #838
The name of the function doesn't suggest it would stop recognize once. No way I would know this without actually trying it. Can you rename the function, and update the intellisense and documentation to make it more clear?

[2020-10-20 19:49] pankopon commented on #840
Hi, NBest is the list of N best possible choices (so they are not exactly "partial"). They are ordered by most likely correct to least likely correct, and the number of them can vary based on the service internal thresholds. Unfortunately, this is not configurable on the SDK side.

[2020-10-20 19:49] #840 closed

[2020-10-20 22:25] dargilco commented on #837
@marcominerva, the Custom Command service team will take a look at this bug this week.

[2020-10-20 22:55] marcominerva commented on #837
Thank you for your support!

[2020-10-21 15:49] donniekerr commented on #818
On iPad, Safari is not prompting me to allow microphone so the record isn't working.

I have this config
 const audioConfig = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();

Is there something special I need to do in code to get it to record in Safari on iPad?

[2020-10-21 15:52] donniekerr commented on #818
my app is just a browser web app/PWA, not cordova or native

[2020-10-21 16:25] glharper commented on #818
@donniekerr Could you elaborate on your use case here? What exactly would you like to record? If you're wanting to recognize speech and record the incoming audio from the microphone, [this Stack Overflow question](https://stackoverflow.com/questions/64294986/azure-speech-sdk-createpushstream-from-getusermedia-in-javascript) may help.

[2020-10-21 19:31] donniekerr commented on #818
My use case is the user clicks record to start SpeechSDK.SpeechRecognizer on iPad Safari. I expect the browser to prompt. me to allow access to mic, but it does not.  It works on Mac/Windows as expected, but not iPad.

`const startRecognize = () => {
    const speechConfig = SpeechSDK.SpeechConfig.fromSubscription(
      "xxxxxxxx",
      "eastus"
    );
    const audioConfig = SpeechSDK.AudioConf

[2020-10-21 19:36] glharper commented on #818
@donniekerr A more complete code sample would help me reproduce this issue. I'm not seeing where startContinuousRecognition() or recognizeOnceAsync() is being called, for example.

[2020-10-21 19:47] donniekerr commented on #818
Here is the code you requested.  But the issue is that iPad is not prompting for mic access. That is all I'm trying to solve here.  The code works fine on Mac/Windows and it prompts for permission as expected.

`reco.recognizeOnceAsync(
        function (result) {
          console.log(
            "(continuation) Reason: " + SpeechSDK.ResultReason[result.reason]
          );
          switch (res

[2020-10-21 20:13] donniekerr commented on #818
I added an alert for errors and this is what I get on IPad Safari when I start Recognizer

Browser does not support Web Audio API (AudioContext is not available)

So, I guess that answers my question.

[2020-10-21 20:43] glharper commented on #818
I'm guessing you're using an older SDK version. There was a fix for this checked in 3 months ago, and if it's not in 1.13.1, it will be in 1.14, which should be available by the end of next week.

[2020-10-21 20:52] donniekerr commented on #818
I'm using  "microsoft-cognitiveservices-speech-sdk": "^1.13.1",
Glad you are adding support for it. Thanks!   Will it also work in Chrome on iOS?

[2020-10-21 21:05] glharper commented on #818
Unfortunately, from my testing it looks like the above issue quoted below still prevents mic input from working with Chrome/FF on iOS 14.

[2020-10-21 21:22] donniekerr commented on #818
will it be fixed in SpeechSDK 1.14?  Or will the mic still not work?

[2020-10-21 21:24] donniekerr commented on #818
Saw this on web audio API site https://github.com/cwilso/AudioContext-MonkeyPatch/ . looks like a workaround. maybe?

[2020-10-21 23:45] glharper commented on #818
The Chrome/FF for iOS bug is actually not something we can do anything about, Apple has to allow Chrome/FF the same access to audioContext that Safari has. No idea about the monkey patch, but when 1.14 is released, please let us know if it corrects this issue. :-)

Thanks,
Glenn

[2020-10-22 06:17] rahul-ravindra opened #841 "RuntimeException while trying to release SpeechRecognizer"
**Describe the bug**
Trying to release the SpeechRecognizer on Activity destroy lifecycle while the recognition is happening is causing runtime exceptions. This throws IllegalStateException from activity during destroy.
We are using ``` speechRecognizer.recognizeOnceAsync() ```  for recognition.

**To Reproduce**
Steps to reproduce the behavior:
1. On button click we call ``` speechRecognizer.reco

[2020-10-22 13:23] donniekerr commented on #818
This is where I saw the Mozilla reference to Monkey patch https://developer.mozilla.org/en-US/docs/Web/Guide/Audio_and_video_delivery/Web_Audio_API_cross_browser
to make the audioContext code work in all browsers now.  Sounds like if you add this to the SDK, it could be an easy workaround.

[2020-10-22 15:28] jhakulin commented on #824
Closing as missing information from customer

[2020-10-22 15:28] #824 closed

[2020-10-22 15:31] jhakulin commented on #815
Fix will be included in 1.14.0, closing the issue.

[2020-10-22 15:31] #815 closed

[2020-10-22 16:40] glharper commented on #818
@donniekerr Thanks, I'll take a look. :-)

[2020-10-22 16:40] #818 closed

[2020-10-22 17:01] glharper commented on #841
@rahul-ravindra As an asynchronous method, you should probably wait for the completed task of recognizeOnceAsync() before performing other operations on the speechRecognizer object. If you absolutely must destroy everything, call stopContinuousRecognitionAsync(), but that is asynchronous and the completed task for that call also must be awaited. So I'd recommend:```

                final Future<V

[2020-10-22 17:09] johnpaulu commented on #490
Hi, the issue started to appear again today. Was there any change in UKSouth?

[2020-10-22 17:22] johnpaulu opened #842 "ServiceTimeout, Due to service inactivity the client buffer size exceeded. Resetting the buffer"
**Describe the bug**
The issue reappears again, that I have reported here

https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/490

**To Reproduce**
Steps to reproduce the behavior:
1. ...
2. ...

**Expected behavior**
Speech to text is terminated

**Version of the Cognitive Services Speech SDK**
Which version of the SDK are you using.
1.7

**Platform, Operating System, and Progr

[2020-10-22 18:29] dargilco commented on #837
@marcominerva The Custom Command service team identified the regression that caused this bug, and a fix is in code review right now. The fix is expected to be deployed in a few days.

[2020-10-22 19:44] johnpaulu commented on #842
this may be also find useful Due to service inactivity the client buffer size exceeded.
 Resetting the buffer. SessionId: f0f1fb871706494eacbc3b6d3e95ecf8

[2020-10-22 19:45] johnpaulu commented on #842
and for the second case today

Due to service inactivity the client buffer size exceeded.
Resetting the buffer. SessionId: eb888724d634489db9ceb15e71fafe7b

[2020-10-22 19:48] johnpaulu commented on #842
and the associated error code: ServiceTimeout

[2020-10-22 19:56] jhakulin commented on #842
@johnpaulu We will investigate, in the meantime, could you update to latest Speech SDK 1.13.0 ? Is there a reason you use 1.7 version which is quite old ?

[2020-10-26 14:36] lkbansal1993 opened #844 "Unable to contact server. StatusCode: 1006 && failed: HTTP Authentication failed; no valid credentials available"
when we are used intend with luis but alway generate error with those code.
![Screenshot from 2020-10-26 19-58-46](https://user-images.githubusercontent.com/6930147/97185844-94106d00-17c6-11eb-8d6f-d618d1f758e3.png)

I used java-script code ()
can you help me for this issue?

please share usable solution for this issue.

[2020-10-26 17:15] lisaweixu commented on #844
I will forward this question to our javascript dev to take a look.

[2020-10-26 23:01] inglesuniversal opened #845 "Speech recognition requires constant and repetitive permission after a few minutes on being idle"
I have noticed this issue on iPhone so far.

Is there a way that even though I use a remote LAMP server to generate a safe token, there is no need to authorize it so often?

I am using the javascript browser SDK (latest version) and an iPhone running iOS 14.

Hope I can get some ideas how to improve the UX.

STAY SAFE

[2020-10-27 06:37] lkbansal1993 commented on #844
thanks for given quickly response :+1:
actually this issue is every sample of Luis intend used

[2020-10-27 07:37] rfurmaniak commented on #835
[speech_logs.txt](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/5443629/speech_logs.txt)

Here is a detailed speech log

[2020-10-27 11:23] homerokzam opened #847 "Identify the evolution (percentage) of a transcription"
How can I identify the percentage of a transcription using SpeechRecognizer with an input wav file?

Thanks

[2020-10-27 11:24] homerokzam opened #848 "Find a phrase in the audio file"
After a transcription, how do I find the exact time of a certain text in the audio file?

Thanks

[2020-10-27 16:29] glharper commented on #844
@lkbansal1993 Could you ping me on teams and forward me the subscription key you're using for this? I'm glharper on teams.

[2020-10-27 17:10] homerokzam commented on #847
I have the following code:

      using (StreamWriter outputFromLanguageFile = new StreamWriter(fileTo))
      using (var audioInput = AudioConfig.FromWavFileInput(fileInput))
      using (var recognizer = new SpeechRecognizer(config, audioInput))
      {
        recognizer.Recognized += async (s, e) =>
        {
          if (e.Result.Reason == ResultReason.RecognizedSpeech)
          {

[2020-10-27 17:18] 123rui opened #849 "in windows 7 ModuleNotFoundError: No module named '_speech_py_impl'"
I wrote software in Python on windows 10, It works.but on some windows 7 systems will report this error ModuleNotFoundError: No module named '_speech_py_impl'.Then I follow the introductory tutorial in the windows 7 run demo, found also reported this error.The software on another windows7 worked fine again.
So is there any special dependent file for this? If there is any solution, please tell me.

[2020-10-27 17:22] 123rui commented on #849
I've already installed VC_redist.x64

[2020-10-27 17:55] lisaweixu commented on #848
You can find the word level time information after you turn on word level timestamps. The following is how to do it in C++.

[code]

The work level time information is in the  detailedResult->NBest->Words. Here is an example of a detailedResult:

`{"DisplayText":"What's the weather like?","Duration":13200000,"Id":"4f9204eaa8064cb1a79884ee96260d54","NBest":[{"Confidence":0.90865743,"Display":"What'

[2020-10-27 18:09] lisaweixu commented on #849
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-sdk?tabs=windows%2Cubuntu%2Cios-xcode%2Cmac-xcode%2Candroid-studio#get-the-speech-sdk

Sorry, Win7 is not supported. I can't find a win7 box near me since I am WFH.
However, you need to install the vs2019 runtimes, following [here](https://docs.microsoft.com/en-us/azure/cognitive-services/Speech-Service/releasenotes#sp

[2020-10-27 18:19] #849 closed

[2020-10-27 21:35] lisaweixu commented on #847
You can call e.Result.Duration and e.Result.OffsetInTicks to get the timing information. Duration means the total audio length in one hundred nanoseconds(HNS). OffsetInTicks for the phrase means the beginning of a phrase as detected by the Speech Recognition engine. Offset normally contains silence. OffsetInTicks is also in HNS.

[2020-10-27 21:35] #847 closed

[2020-10-27 22:15] glharper commented on #845
@inglesuniversal I believe there is, first generate a token using the steps outlined [here](https://docs.microsoft.com/en-us/azure/cognitive-services/authentication?tabs=powershell#authenticate-with-an-authentication-token), then, on your server, make that token accessible under a name like "token.php" and in the client browser code, use [this sample](https://github.com/Azure-Samples/cognitive-ser

[2020-10-28 00:13] homerokzam commented on #847
Sorry but I don't understand how I can use these attributes.

I need to inform the user that the audio being transcribed has already processed 10%, 25%, 90%, 100%. With these attributes can I get that information?

[2020-10-28 13:24] lkbansal1993 commented on #844
can you send email id which is on teams then we will discuss.

[2020-10-28 15:58] glharper commented on #844
my id on teams is glharper, email is glharper@microsoft.com

[2020-10-29 20:28] marlon-br commented on #842
I also met this issue today. It was OK earlier and now I constantly receive this error after 10 minutes of speech recognized. Looks like a critical degradation.

And I see the issue on 1.13.0

[2020-10-29 20:29] marlon-br commented on #490
I also met this issue today. It was OK earlier and now I constantly receive this error after 10 minutes of speech recognized. Looks like a critical degradation.

I see the issue on 1.13.0

[2020-10-29 20:32] eldakms commented on #490
@marlon-br  what region? could you please share some session ids? thanks!

[2020-10-29 20:36] marlon-br commented on #490
@eldakms region is "eastus" and i use paid subscription.
I have no idea how to get session id

[2020-10-29 20:49] marlon-br commented on #490
@eldakms Here we go: SessionId:fa3e3c02857de0c48816debe94ce0785 ResultId:a121c870d0f1aa5499edb8cdfafe34ed CancellationReason:Error CancellationErrorCode:ServiceTimeout Error details:Due to service inactivity the client buffer size exceeded. Resetting the buffer. SessionId: fa3e3c02857de0c48816debe94ce0785

[2020-10-29 21:12] eldakms commented on #490
Are you sending the audio from a file? I see 1.7x speed of natural speech on the server side.

[2020-10-29 21:22] marlon-br commented on #490
@eldakms yes, it comes from file and earlier everything was fine

[2020-10-29 21:42] eldakms commented on #490
The problem is that the service side only guarantees recognition with the speed on natural speech, for other scenarios there is batch API. Usually the service does ~2x depending on the content of the audio (i.e. if there is music it is usually slower). In your case i see 1.7x. Now, SDK pushes with 2x speed, if no connection is broken/no much silence in audio, my understanding is that SDK does not

[2020-10-30 16:29] #848 closed

[2020-11-01 16:48] marcominerva opened #851 "What are "Remote updates" in the Web endpoints section of Custom Commands?"
Hi all!

I have noticed that a new toggle `Remote updates` has appeared in the Web endpoints section of Custom Commands, but I haven't found any reference to it in the documentation available at https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-custom-commands-setup-web-endpoints.

![image](https://user-images.githubusercontent.com/3522534/97808866-a9274900-1c69-11eb-

[2020-11-01 16:55] marcominerva opened #852 "Remote skills not available on Custom Commands"
Hi!

According to https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-custom-commands-integrate-remote-skills, in the `Settings` section of Custom Commands I should find a `Remote skills` options. However, I dont' have such option (and `Key vault` and `JSON definition` neither) in my projects.

I have also tried creating a new project, but with no success. I'm working w

[2020-11-01 17:05] backnext321 opened #853 "Is it possible to add a function to pause the voice each time a period occurs in the text."
For Speech Synthesis. I want to add a function to pause the voice each time a period occurs in the text. Resume can then be done manually. I try it this way:

edit: look at the code below

This works in a desktop Chrome browser. In Webview and chrome on Android text stops after 1 or 2 extra characters after the period.

[2020-11-02 06:20] Hariomagr commented on #218
I am facing a similar issue. In my case the success or error method of `recognizeOnceAsync` is never called in javascript.
I also tried to do similar in java sdk (android), and there I get the result reason as `RecognizedSpeech`  but I'm expecting result reason to be `RecognizedIntent`.

[2020-11-02 16:58] jhakulin commented on #835
@rfurmaniak The problem based on your log is related to certificate verification. SSL routines:ssl3_get_server_certificate:certificate verify failed

There is quite recent change in Speech SDK certificates used by service and that has caused issues with HL2 devices.
Microsoft is working on updating the required certificate to HL2 OS images. For next steps, could you try following:
1. Make sure you

[2020-11-02 18:15] splusq commented on #795
we are looking into this.

[2020-11-02 20:02] hmmbob opened #854 "Can't install this package in HomeAssistant Docker container"
**Describe the bug**
I am trying to run [a new Home Assistant integration](https://github.com/home-assistant/core/pull/42463) that requires the [azure-cognitiveservices-speech package](https://pypi.org/project/azure-cognitiveservices-speech/1.14.0). The package fails to install inside my docker container, with:
[code]
(More verbose output below)

Q: ~~Could it possibly be that I might need a `cp38

[2020-11-02 20:05] marlon-br commented on #490
@eldakms thank you for your investigations, but what is the solution?

I don't do anything special - android application, audio data and push stream to send data to the service. I do not manage connection, it is on sdk side and do not control buffer, its also on sdk or service side. Could you please advise how to fix the issue?

[2020-11-02 20:54] adamMaceikaBrightline opened #855 "using a SpeechRecognizer and getting 0x0 errors and 0x13 errors occasionally"
Hi we are using Speech Recog on a button press and hold in a Unity 3D application we utilize the await speechRecognizer.StartContinuousRecognitionAsync().ConfigureAwait(false); functionality to do this. Occasionally we have a fatal error on the recog side that inhibits the user from using the service any more. This is the error we see in unity
10/12/2020 3:14:20 PM]: ApplicationException: Exceptio

[2020-11-02 20:59] jhakulin commented on #855
@adamMaceikaBrightline Thanks for report, provide information which platform you are using Windows, Android or iOS.
Also if Windows, do you use Hololens2?

[2020-11-02 21:03] adamMaceikaBrightline commented on #855
Yes sorry forgot about that part. It is a Windows application and nope we are not using a Hololens 2 currently.

[2020-11-02 21:05] jhakulin commented on #855
@adamMaceikaBrightline Ok, thanks, would it be possible for you to share a sample code which reproduces the issue? Are you using Unity's microphone and stream or directly microphone from the Speech SDK ?

[2020-11-02 21:17] adamMaceikaBrightline commented on #855
This is the method we use when we press the button on the key board or in our specific case a large button mimicking a key press on the keyboard. We use the microphone directly with the SpeechSDK.
`private async void StartContinuousSpeechRecog()
    {
#if UNITY_STANDALONE_WIN || UNITY_EDITOR_WIN
        if(speechRecognizer != null&& !recogStarted )
        {
            Debug.Log($"StartContinuous

[2020-11-02 21:24] jhakulin commented on #855
@adamMaceikaBrightline Could you also share how do you do stop and do clean-up ? The problem 0x13 probably happen in the previous stop and when you start again

[2020-11-02 21:32] adamMaceikaBrightline commented on #855
So here is the method we use to do the stop. We also have this start coroutine on the button up to alleviate moments where we
felt the release was bit faster on the custom button compared to a regular keyboard.
`if (Input.GetKeyUp(SpeechData.MicHotKey))
            {
                if(HoldKey)
                {
                    Debug.Log($"Button UP and Stopping this Continuous Recognizer.");

[2020-11-02 21:33] adamMaceikaBrightline commented on #855
0x13 we are pretty sure how to deal with it is the 0x0 that seems to be the biggest culprit to being unrecoverable.

[2020-11-02 21:34] jhakulin commented on #855
@adamMaceikaBrightline I went through the logs, but could not see error captured there, thus best would be to have a test which we can use to reproduce.

[2020-11-03 01:04] encorona-ms commented on #851
Hi Marco, doc will be available soon, I'll update this thread with the link.

[2020-11-03 04:53] MarcoAndrade26 opened #856 "Could not find a version that satisfies the requirement azure-cognitiveservices-speech (from versions: none) - Raspberry Pi4"
**Describe the bug**
I am trying to install Azure Cognitive Services Speech on Raspberry Pi4, but I am getting "Could not find a version that satisfies the requirement azure-cognitiveservices-speech (from versions: none)

**To Reproduce**
Steps to reproduce the behavior:
1. pip3 install azure-cognitiveservices-speech
2. Error occurs
3. Tried with: pip install azure-cognitiveservices-speech
4. Erro

[2020-11-03 05:19] MarcoAndrade26 commented on #587
How did you installed speech services on Raspberry pi?

[2020-11-03 06:28] hmmbob commented on #856
Possibly similar issue as #854

[2020-11-03 08:09] chlandsi commented on #854
Unfortunately you are right, Alpine Linux is currently not supported. You can find the supported distributions/platforms [here](https://docs.microsoft.com/en-gb/azure/cognitive-services/speech-service/speech-sdk?tabs=linux%2Cubuntu%2Cios-xcode%2Cmac-xcode%2Candroid-studio#get-the-speech-sdk).
I'm sorry for the inconvenience.

[2020-11-03 08:12] chlandsi commented on #856
Unfortunately, Python is not yet supported on ARM. You can find the supported distributions/platforms [here](https://docs.microsoft.com/en-gb/azure/cognitive-services/speech-service/speech-sdk?tabs=linux%2Cubuntu%2Cios-xcode%2Cmac-xcode%2Candroid-studio#get-the-speech-sdk).
I'm sorry for the inconvenience.

[2020-11-03 08:17] hmmbob commented on #854
Would it be possible to get the source in PyPi? We can build it locally then.

[2020-11-03 11:48] chlandsi commented on #854
Currently, this is unfortunately not possible, since the Speech SDK is not open source. If you want to go there, you could try to build a home-assistant docker image based on another, supported, Linux distribution...

[2020-11-03 12:04] hmmbob commented on #854
Too bad. Thanks for the feedback.

[2020-11-04 01:41] chrisbasoglu commented on #854
We will add this request to our backlog.

From: Hmmbob <notifications@github.com>
Sent: Tuesday, November 3, 2020 4:05 AM
To: Azure-Samples/cognitive-services-speech-sdk <cognitive-services-speech-sdk@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Azure-Samples/cognitive-services-speech-sdk] Can't install this package in HomeAssistant Docker container (#854)

That

[2020-11-04 05:20] harshitazilen commented on #596
Hi, I am unable to install and setup Gsteamer on linux machine. I always face error of Gstreamer-1.0 not found. Kindly guide me.

[2020-11-04 08:54] DevSecNinja commented on #854
Thanks Chris! Will supporting Alpine Linux be added to the backlog or open-sourcing the SDK? Thanks!

[2020-11-04 16:21] jhakulin commented on #855
@adamMaceikaBrightline I tried to repro with the basic continuous recognition sample from this comment: https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/215#issuecomment-487321937

However could not reproduce any issues with that after lots of starting and stopping (done in quickly manner etc.). I did not modify it using coroutines as I do not fully know how your app behaves,

[2020-11-04 17:29] glecaros commented on #856
@MarcoAndrade26 I've added an item to our backlog to add ARM64 support to our python bindings. Please let us know if there is anything else you need help with.

[2020-11-04 17:51] glharper commented on #853
@backnext321 Some actual classes for these objects would be helpful...what class is the "player" object you're using? Does it come from SpeechSDK?

[2020-11-04 19:34] adamMaceikaBrightline commented on #855
We are looking in to getting you a test setup using the same code base we are using with out the whole project.

[2020-11-04 19:58] singhsaumya commented on #852
Hi @marcominerva
Thanks for reporting the issue. This was a miss on our side, where the documentation went ahead of the feature launch :)
Really sorry about that.

We just launched and verified the 'Remote Skills' feature. You don't need to create a new project to consume it, just use your existing application. Let us know if face any issues!

Regarding the other options which you see in the scree

[2020-11-04 20:14] backnext321 commented on #853
This is based on the sample SpeechSdkMaster (Microsoft Cognitive Services Speech SDK) (.../js/browser).
I want to make a little system to read text just by clicking on the text first and then resume with resumebutton "verder".
Reading should stop each time a period occurs in the text.
This works now with this code but it doesn't feel stable. I had to insert a "setTimeout(function..." on 2 places w

[2020-11-05 08:00] marcominerva commented on #852
Hi!

Thank you very much for the update!

[2020-11-05 08:27] mohit1993 opened #857 "getting error"
Code snipet(Type Script):

import * as speechSdk from 'microsoft-cognitiveservices-speech-sdk';

const audioConfig = speechSdk.AudioConfig.fromAudioFileOutput(filename);
const speechConfig = speechSdk.SpeechConfig.fromSubscription(subscriptionKey, serviceRegion);

i received error while trying to fetch audio config.
Error:
"TypeError", errorType: "error"} additionalData: "TypeError" errorLocation:

[2020-11-06 17:44] glharper commented on #853
@backnext321 player.resume() is actually an async function with callbacks, so I'd suggest changing those lines to:
`
                player.resume( function () {
                 pauseButton.disabled = false;
                 resumeButton.disabled = true;
               },
               function (err) {
                  //window.console.log(err);
              });
`
Other than that, code looks f

[2020-11-06 18:35] glharper commented on #857
@mohit1993
Looks like a weird dependency issue. In an empty folder, from the command line, type `npm install microsoft-cognitiveservices-speech-sdk`.
Then copy the following code into a new js file in that folder and run "node <filename>.js".
The code:
[code]

[2020-11-06 19:11] backnext321 commented on #853
Thanks. This is doing the same but with better code for player.resume(). Am I right to say that player.pause() is sync and doesn't need these callbacks?
I still need those setTimeouts
There is no problem anymore with different platforms after using those setTimeouts.
Don't get me wrong, this works fine with this code. But I think there must be a better way...
One problem is - I think - the setInte

[2020-11-06 19:25] glecaros commented on #852
Closing this as the concern seems to have been addressed. @marcominerva please reopen if you need more help.

[2020-11-06 19:25] #852 closed

[2020-11-06 19:26] glecaros commented on #841
Closing this as there hasn't been any activity in a while. @rahul-ravindra feel free to reopen if you need more help.

[2020-11-06 19:26] #841 closed

[2020-11-06 19:34] #837 closed

[2020-11-07 02:07] chrisbasoglu commented on #854
We have added this work item for the 1.16 SDK release.  We just released the 1.14 version last week.  The 1.15 release is likely to be released in sometime January, and 1.16 is likely to be released in March.

[2020-11-07 02:12] chrisbasoglu commented on #856
We have added this work item to our future 1.16 release.

[2020-11-08 18:38] MarcoAndrade26 commented on #856
@chrisbasoglu Is there any timeline for 1.16 release? Thanks!

[2020-11-09 13:27] yoshigev commented on #831
If anyone else is getting this issue, note that currently only `westus` region is supported (see https://azure.microsoft.com/en-us/global-infrastructure/services/?products=cognitive-services).

Also, the `SyntaxError: Unexpected token R in JSON at position 0` error is actually hiding the error `Request took longer than expected` (which is not handled correctly by the SDK).

[2020-11-09 13:54] hemantgore opened #860 "iOS Speech SDK: 'SPXDialogServiceConnector' class is missing"
Thank you  MS Team for the great SDK!!

**Missing Wrapper Class:**
Connection to Bot service using 'SPXDialogServiceConnector' class is unavailable in iOS Speech SDK.
Note: It is available for Windows SDK and Android SDK.

**Alternative:** Developers need to write their own Objective-C++ wrapper to utilize the core C++ SDK class.

If it will be available natively from iOS Speech SDK, everyone won'

[2020-11-09 16:45] ranjanraviraj opened #861 "SpeechActivityTemplate method is missing in DialogServiceConnector class for Android"
**Describe the bug**
SpeechActivityTemplate method is missing in DialogServiceConnector class for Android which can be used to pass channel data using Speech SDK to the bot.

**Expected behavior**
SpeechActivityTemplate should be there as it is present in .Net platform.

**Version of the Cognitive Services Speech SDK**
1.14.0

**Platform, Operating System, and Programming Language**
 - OS: Android

[2020-11-09 17:22] amitkumarshukla commented on #861
@glecaros Could you please take a look at this one

[2020-11-09 17:23] amitkumarshukla commented on #860
@glecaros Could you please take a look at this one

[2020-11-09 17:48] jhakulin commented on #860
@hemantgore Thanks for question,
We will include SPXDialogServiceConnector for Objective-C for iOS in future releases, probably during spring 2021.
Currently you can do Xamarin/Unity app using DialogServiceConnector for iOS (using C#).
Let us know your feedback.

[2020-11-09 19:23] hemantgore commented on #860
@jhakulin, We already have a native iOS app in swift serving client and also need to meet the requirement in next couple of months, so C# won't be the option.

The immediate solution is to continue writing our own Objective-C++ wrapper for missing classes.

Current progress:
- DialogServiceConnector initialization - Done
- Custom 'keyword' recognition to start the Bot service - Done
- GetActivity

[2020-11-10 14:41] Terenfear opened #862 "Pronunciation assessment: recoginzeOnceAsync can't detect an utterance's end."
**Describe the bug**
`SpeechRecognizer.recognizeOnceAsync()`, while used with an applied `pronunciationAssessmentConfig`, can't detect that an utterance has already ended. Because of that the recognizer just goes on and listens for sounds for about 30 seconds.

**To Reproduce**
Steps to reproduce the behavior:
1. Run any pronunciation assessment sample which uses `recognizeOnceAsync()`.
2. Say a s

[2020-11-10 17:46] amitkumarshukla commented on #862
@Terenfear Thanks a lot for raising the issue. I verified at my end also and your observation is right. Please give us sometime and we will get back to you.

[2020-11-10 19:30] rhurey commented on #838
When the API was originally designed, we'd not thought a single recognition needed a stop function. That was clearly an oversight.

We'll get the documentation updated. Re-naming the function would be a breaking change and is in plan for the next time we do a major release.

[2020-11-11 02:13] yinhew commented on #862
Hi, @Terenfear

Thanks for your feedback!
This is a known behavior which is specific for pronunciation assessment on RecognizeOnce.
This is on purpose of taking care of language learners (most are kids), who sometimes give a long pause in the utterance.
We therefore set the silence timeout to unlimited for pronunciation assessment on RecognizeOnce.
But definitely this has impact on the microphone

[2020-11-11 09:18] Terenfear commented on #862
@yinhew Thanks for the details. I wonder, maybe it is viable to have this behavior configurable by a boolean parameter, kind of like EnableMiscue?

[2020-11-11 11:26] yinhew commented on #862
@Terenfear this is good suggestion. We will consider it. Thanks a lot!

[2020-11-11 14:08] sebzimmermann opened #863 "java.lang.UnsatisfiedLinkError: com.microsoft.cognitiveservices.speech.AutoDetectSourceLanguageConfig.fromLanguages"
**Describe the bug**
I'm trying to use the STT functionality in an external jar on a linux server (ubuntu 16.04). The jar is running as a daemon (jsvc).
When the code runs, an unsatisfiedlinkerror exception occurs.
[code]
I'm loading the .so files with System.load:
[code]
The files are loaded properly.

**The code runs fine within the IDE, but not on the server. Any files I'm missing which should

[2020-11-11 17:56] amitkumarshukla commented on #863
@sebzimmermann Thanks a lot for raising this issue. I am looking at this and will get back to you very soon.

[2020-11-12 10:09] Ray12345678910 opened #864 "Mask specific information"
Hi all,

We are using the Azure Cognitive Services (Speech to Text) in a large company (if we go live, we estimate to transcribe >500 files a day). However, we are facing some issues with the first batch. And I am actually looking for best practices. The issue:

**Dealing with Numbers**
After transcribing audio into text, we have a Python script were we are trying to deal with privacy. Therefore,

[2020-11-12 16:34] backnext321 opened #865 "Is it possible to identify the number of characters that has been consumed by the Azure Cognitive Services Speech Synthesis (TTS) at a point of time. A kind of metric to track that from the Azure Portal."
Hi, I am testing this service. I want to know the number of characters that has been consumed on my website with TTS. This way I can calculate the costs.

[2020-11-12 18:37] jhakulin commented on #855
@adamMaceikaBrightline any update on test app for repro?

[2020-11-12 19:06] amitkumarshukla commented on #865
@backnext321 Thanks a lot for raising the query. We will get back to you very soon.

[2020-11-12 19:15] adamMaceikaBrightline commented on #855
I do not at this moment. We have switched the mic to using the standard stereo jack and the problem so far has not popped back up. I would like to keep this ticket open until we can confirm. I think my coworker is working on getting a demo project setup. I will confirm with them though.

[2020-11-12 19:19] amitkumarshukla commented on #864
@Ray12345678910 Thanks a lot for raising the issue. We currently do not have this feature implemented in our service. But please raise your request at https://cognitive.uservoice.com/forums/912208-speech-service and we will prioritize it further. I am closing this issue for the time being. Please stay tuned for our further releases and features.

[2020-11-12 19:19] #864 closed

[2020-11-12 19:46] jhakulin commented on #863
@sebzimmermann When you say "I'm loading the .so files with System.load()", so you are explicitly loading those in your app code?
Does also libMicrosoft.CognitiveServices.Speech.java.bindings.so get loaded?

[2020-11-13 00:56] oscholz commented on #860
@hemantgore
Hi Hemant! Could you put this feature request in our Feedback portal, please?
https://feedback.azure.com/forums/932041-cognitive-services

Also feel free to open a support request in the Azure portal (log in to portal.azure.com, open your Speech or Cognitive Services resource, then click on New support request in the lower left). This way we can have a more direct/non-public conversati

[2020-11-13 04:43] Michael-Jing opened #866 "Is using codec compressed audio like ogg or mp3 better than wav regarding network latency?"
As in the title.

[2020-11-13 05:48] namrathanithya opened #867 "Text to Speech: Not able to find any option to pause or stop audio"
I have implemented text to speech, but requirement is: When the user interrupts the ongoing voice response and attempt another question over the mic, previous response doesn't not stop. I didn't see any stop() in the sdk.

[2020-11-13 08:14] Ray12345678910 commented on #864
Thank you Amit. I raised the request.

Does Microsoft has any ETA, when they are prioritizing an idea?

Many thanks again!

[2020-11-13 12:48] sebzimmermann commented on #863
Yes @jhakulin. I can't find a file called _libMicrosoft.CognitiveServices.Speech.java.bindings.so_ in the sdsdk-jre.zip - so it not loaded. Is this file not a part of the SDK? Where can I find this file?

[2020-11-13 16:24] jhakulin commented on #863
@sebzimmermann You seems to use Speech Devices SDK, where the .jar delivery is in separate package (sdsdk-jre.zip) and there seems to be an issue. I'll make sure that package will be fixed.

To get all files, please download your jre package from the maven repository described in the link below and use the latest version 1.14.0 of Speech SDK.
https://docs.microsoft.com/en-us/azure/cognitive-servic

[2020-11-13 17:37] MiroFurtado commented on #442
Also encountering this issue. It is, at the least, problematic that this library does not work with absolute paths.

[2020-11-13 18:59] amitkumarshukla commented on #864
Hi Ray,
We cannot make any forecast about the ETA at this point of time. But it will be useful to explore the text analytics from https://azure.microsoft.com/en-us/services/cognitive-services/text-analytics/

This will help you to do the broad entity extraction to achieve your requirement in a better and correct way.
Thanks

[2020-11-13 19:06] amitkumarshukla commented on #866
@Michael-Jing Not at this moment. In Speech SDK we currently decompress any compressed stream like MP3 or Ogg/Opus to PCM sample (which is raw) and send it over the network. So network usage is going to be same. The only benefit you get at this point of time is to transcribe a compressed stream.

I hope that helps. I am closing this request here. Feel free to give any input or feedback you have in

[2020-11-13 19:06] #866 closed

[2020-11-13 19:49] amitkumarshukla commented on #867
@namrathanithya Could you please share a sample code that you are using. We will be able to help you better with that.

[2020-11-13 20:22] amitkumarshukla commented on #867
We do have stop in the recognizer. Please look at the use of recognizer stop here https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/995d20d9d49b8a054c8141030ad647b5bf5fefd6/samples/csharp/sharedcontent/console/speech_recognition_samples.cs#L241

Do let us know if this helps

[2020-11-13 20:23] namrathanithya commented on #867
@amitkumarshukla I am looking for a method which stops the audio if user clicks on a button and I didn't find any stop method in the text to speech sdk.
I referred to this code:[ https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/quickstart/java/android/text-to-speech/app/src/main/java/com/microsoft/cognitiveservices/speech/samples/quickstart/MainActivity.java](url)

`
pack

[2020-11-13 20:41] amitkumarshukla commented on #867
I am sorry as I understood that you are looking for Speech to Text. Actually you are mentioning Text to Speech. We have added the stop in our latest 1.14.0 release. Please look at the following and let me know if that helps

https://docs.microsoft.com/en-us/java/api/com.microsoft.cognitiveservices.speech.speechsynthesizer.stopspeakingasync?view=azure-java-stable

[2020-11-14 00:32] jhakulin commented on #817
We have made a backlog item for this issue, however there is no ETA for the support for Unreal at the moment. Closing the case.

[2020-11-14 00:32] #817 closed

[2020-11-16 05:13] namrathanithya commented on #867
@amitkumarshukla I am looking for stop in text to speech.

[https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/quickstart/java/android/text-to-speech/app/src/main/java/com/microsoft/cognitiveservices/speech/samples/quickstart/MainActivity.java](url)

[2020-11-16 08:48] sebzimmermann commented on #863
The code works after adding _libMicrosoft.CognitiveServices.Speech.java.bindings.so_ to the System.load.

[2020-11-16 08:48] #863 closed

[2020-11-16 18:28] amitkumarshukla commented on #867
@namrathanithya Please look at my previous reply and let me know if that helped.

[2020-11-17 03:23] pankopon commented on #442
I tried this with WinPython 3.8.3, Speech SDK 1.14.0 (Python module `azure-cognitiveservices-speech`), the completed code from https://docs.microsoft.com/en-us/learn/modules/transcribe-speech-input-text/5-exercise-convert-speech-from-audio-file?pivots=python, and the following folder/file structure:

[code]

When running `python main.py` while in `E:\test` folder, all the following work:
[code]

T

[2020-11-17 03:28] pankopon commented on #787
@prascomesin Is this still a valid issue for you? Please update with the requested information, othewise we'll have to close it.

[2020-11-17 03:30] pankopon commented on #795
@splusq Is this under active investigation on your side? Please provide an update.

[2020-11-17 03:33] pankopon commented on #796
@SOliasS Is this still a valid issue for you? Please update with the requested information, otherwise we'll have to close.

[2020-11-17 04:01] pankopon commented on #856
There is no exact date, but at the moment Speech SDK 1.15 is scheduled for the beginning of 2021 and 1.16 should follow a couple of months or so after that.

[2020-11-17 04:01] #856 closed

[2020-11-17 04:05] pankopon commented on #857
@mohit1993 Were you able to resolve the issue, using the provided info? Please update.

[2020-11-17 04:18] pankopon commented on #862
Closed since clarified, there is now a work item on our backlog about this (not planned yet).

[2020-11-17 04:18] #862 closed

[2020-11-17 04:19] mohit1993 commented on #857
@pankopon Thanks for your help, issue has been resolved it looks like issue was there due to local file path

[2020-11-17 04:24] pankopon commented on #800
@benlifson Is this still a valid issue, can you please test the suggested setup (i.e. translation only from en to de, for example) for comparison?

[2020-11-17 04:27] pankopon commented on #821
@terencebeh Was your issue resolved by the suggestions? Please update.

[2020-11-17 04:28] pankopon commented on #822
Closed as resolved.

[2020-11-17 04:28] #822 closed

[2020-11-17 04:29] #823 closed

[2020-11-17 04:30] pankopon commented on #835
@rfurmaniak Is this issue still valid for you or was it resolved by the suggested steps? Please update.

[2020-11-17 04:36] pankopon commented on #838
Closed since answered, there is now a work item on our backlog to update documentation on this.

[2020-11-17 04:36] #838 closed

[2020-11-17 04:41] pankopon commented on #845
@inglesuniversal Were you able to resolve the issue with the suggested steps? Please update.

[2020-11-17 04:43] pankopon commented on #851
@encorona-ms Is documentation still in the works? Please update.

[2020-11-17 04:47] pankopon commented on #854
Closing the issue as a work item on the backlog has been created.

[2020-11-17 04:47] #854 closed

[2020-11-17 04:53] pankopon commented on #865
@yulin-li or @yinhew, do you happen to know?

[2020-11-17 05:15] pankopon commented on #801
@pabloandrei Were you able to resolve the issue by now? To clarify, in the command
[code]
the part `c:\temp\data` indeed refers to a folder on you physical machine (choose whichever folder you want to use) and `/data` (a "mount point") is how it will be seen inside the docker container. So a file `c:\temp\data\whatstheweatherlike.wav` is then visible to apps inside the container as `/data/whatsthe

[2020-11-17 05:19] pankopon commented on #857
Closed as resolved.

[2020-11-17 05:19] #857 closed

[2020-11-17 06:33] yulin-li commented on #867
@namrathanithya Pls use [`StopSpeakingAsync` method](https://docs.microsoft.com/en-us/java/api/com.microsoft.cognitiveservices.speech.speechsynthesizer.stopspeakingasync?view=azure-java-stable) The method is not in the quickstart yet.

[2020-11-17 09:32] backnext321 commented on #867
I understand that the StopSpeakingAsync method exists in C++/C#/Java/Python/Objective-C/Swift. Is it possible in Javascript?

[2020-11-17 10:48] rfurmaniak commented on #835
@pankopon It seems that the issue has been resolved. We could not reproduce it for two weeks now. However, I cannot say if it was due to the steps you suggested or not. There have been OS updates on HL2 during this period, which may have also fixed this issue.
Thanks for the help :)

[2020-11-17 11:19] backnext321 opened #868 "Is there a timeline for new voices?"
The Dutch voice ColetteNeural is a typical voice for the Netherlands. In Flanders / Belgium we have the same language but very different pronunciation. A 'nl-BE' voice would be very welcome.

[2020-11-17 15:32] MiroFurtado commented on #442
I can't verify if this occurs on Windows, but I am encountering it on a Ubuntu system.

[2020-11-17 17:11] pabloandrei commented on #801
@pankopon hello!
In the past, with help this group, Im resolved this problem.
Very tks for your attention.

[2020-11-17 17:11] #801 closed

[2020-11-17 19:19] amitkumarshukla commented on #867
@glharper Could you please answer the question for Javascript

[2020-11-17 19:54] glharper commented on #867
@backnext321 StopSpeakingAsync is not currently implemented in JavaScript, no.

[2020-11-17 20:05] pankopon commented on #442
I tried the same on Ubuntu 16.04 LTS, Python 3.7.9, and the following structure:
[code]
Running `python3 main.py` in `$HOME/test`, any of the following works (when "myusername" is replaced with the actual one):
[code]
Likewise, running `python3 test/main.py` in `$HOME` requires an updated relative path like
[code]
or an absolute path (in this case starting with `/home`). The installed Speech SDK m

[2020-11-18 01:26] pankopon commented on #865
@backnext321 Update:
The billing report for text-to-speech is based on billable characters and it is available on the Azure portal dashboard. Please see the following pages for more details + instructions for cost analysis.
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/text-to-speech#pricing-note
https://docs.microsoft.com/en-us/azure/cost-management-billing/costs/quick-

[2020-11-18 04:01] pankopon commented on #700
Closing this as we now have a work item for this issue on the backlog to be prioritized and planned. We'll update with information about the release schedule when known. Currently there is a tentative target for some improvement on this and related issues in the Speech SDK 1.16 release next year.

[2020-11-18 04:01] #700 closed

[2020-11-18 04:01] pankopon commented on #752
Closing this as we now have a work item for this issue on the backlog to be prioritized and planned. We'll update with information about the release schedule when known. Currently there is a tentative target for some improvement on this and related issues in the Speech SDK 1.16 release next year.

[2020-11-18 04:01] #752 closed

[2020-11-18 04:01] pankopon commented on #759
Closing this as we now have a work item for this issue on the backlog to be prioritized and planned. We'll update with information about the release schedule when known.

[2020-11-18 04:01] #759 closed

[2020-11-18 04:55] pankopon commented on #802
@yashugupta786 Sorry about the lack of response - is this issue still valid for you? Unfortunately there is probably not much to add to what has been written so far.

In general, if you have a direct access to an audio stream from a source other than the microphone or a file, the recommended approach currently is to use a push audio stream to feed audio data from the source stream to the Speech SD

[2020-11-18 05:09] pankopon commented on #835
Closed as resolved.

[2020-11-18 05:09] #835 closed

[2020-11-18 05:15] #844 closed

[2020-11-18 05:23] pankopon commented on #861
Closing this issue as there is now a work item on our backlog to be prioritized and planned. We'll update this with release schedule information when available.

[2020-11-18 05:23] #861 closed

[2020-11-18 05:40] pankopon commented on #868
@yulin-li & @yinhew Could you comment on the timeline for new voices, if any?

[2020-11-18 05:50] namrathanithya commented on #867
I used StopSpeakingAsync method but I am getting  "Cannot resolve method 'StopSpeakingAsync' in 'SpeechSynthesizer'. Also, after using StartSpeakingTextAsync method app is crashing.

[2020-11-18 06:02] pankopon commented on #860
Closing this issue as there is now a work item on our backlog, to be prioritized for future releases. We will provide an update here when information about the release schedule is available. Please see above about additional support requests as necessary.

[2020-11-18 06:02] #860 closed

[2020-11-18 06:22] yulin-li commented on #868
+@QinyingLiao

[2020-11-18 06:24] yulin-li commented on #867
@namrathanithya could you share some repro codes?

[2020-11-18 10:22] backnext321 commented on #867
ok. Would be nice to have it in Javascript too...

[2020-11-18 15:08] maczikasz commented on #420
I want to reopen this issue

Our setup have changed significantly and we are back to trying to use the speech sdk from on premise, but with a private endpoint peering setup.

Basically I have the problem that we have the private endpoint "wss://test.cognitiveservices.azure.com" which is available from our on-prem setup without proxy, but for every other kind of outgoing connections we need to use

[2020-11-18 15:51] glharper commented on #853
Player.pause is indeed synchronous and does not need callbacks.

[2020-11-18 15:51] #853 closed

[2020-11-18 16:25] namrathanithya commented on #867
I've created a capacitor plugin from the below sdk.
[https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/995d20d9d49b8a054c8141030ad647b5bf5fefd6/quickstart/java/android/text-to-speech](url)

This is how I used stopspeakingAsync. Let me know if you want more details?
`
public class SpeechToText extends Plugin {

    // Replace below with your own subscription key
    private String

[2020-11-18 18:47] rhurey commented on #420
The client SDK will need access to the Azure CRL / OCSP distribution points.

The location of these is listed here: https://docs.microsoft.com/en-us/azure/security/fundamentals/tls-certificate-changes#next-steps

[2020-11-18 18:53] pankopon commented on #868
We received an update from the person who is working on locale/voice expansion for TTS: "The nl-BE neural voice is in evaluation stage." The current release ETA is in mid-December. So please expect to see support in the near future.

[2020-11-18 18:53] pankopon commented on #868
Closed as answered.

[2020-11-18 18:53] #868 closed

[2020-11-18 19:51] maczikasz commented on #420
The SDK in fact has access to that IF i set the proxy. If i dont it wont. But if i set the proxy then all the calls to our private endpoint for the speech service will go through the proxy, and this is not correct, this is where having NO_PROXY would normally come in

[2020-11-18 20:08] backnext321 commented on #868
Nice. Thanks

[2020-11-19 10:01] Nolent opened #870 "Deprecation warning in import"
**Describe the bug**
Importing speech to text raise a DeprecationWarning

**To Reproduce**
[code]

**Expected behavior**
Should not launch DeprecationWarning

**Version of the Cognitive Services Speech SDK**
The problem is here since 1.14.0 . It works perfectly in 1.13.0

**Platform, Operating System, and Programming Language**
 - OS: Debian buster
 - Hardware: x64
 - Programming language: Python

[2020-11-19 19:19] pankopon commented on #865
Closed as answered.

[2020-11-19 19:19] #865 closed

[2020-11-19 19:20] pankopon commented on #442
Closed as not repro with the steps above.

[2020-11-19 19:20] #442 closed

[2020-11-19 20:48] hre88 opened #871 "Speech To Text Callback IP Address"
Hello,
Im using speech to text batch processing behind a firewall. What are the ip addresses of speech to text that needs to be whitelisted in order for the speech to text webhook callback request to get through?
Region: uksouth

[2020-11-20 00:12] pankopon commented on #870
Thanks for reporting this. It seems Python wheels for Linux in the 1.14.0 release were accidentally built using SWIG 3.0.8 which generates deprecated code, instead of SWIG 3.0.12 that was used previously. (The used SWIG version can be seen in the header comments of speech_py_impl.py. The code block that triggers the warning, `from sys import version_info` ... `del version_info` right in the beginn

[2020-11-20 00:12] #870 closed

[2020-11-20 00:19] pankopon commented on #787
Closing the item since no update from the customer in a couple of months. Please create a new issue if you still need support on any specific topics.

[2020-11-20 00:19] #787 closed

[2020-11-20 00:20] pankopon commented on #796
Closing the item since no update from the customer in a couple of months. Please create a new issue if you still need support on any specific topics.

[2020-11-20 00:20] #796 closed

[2020-11-20 00:21] pankopon commented on #802
Closed as answered. Please create a new issue if you need further support on any specific topic.

[2020-11-20 00:21] #802 closed

[2020-11-20 00:22] pankopon commented on #821
Closed as answered. Please create a new issue if you need further support on any specific topics.

[2020-11-20 00:22] #821 closed

[2020-11-20 00:24] pankopon commented on #845
Closed as answered. Please create a new issue if you need further support on any specific topics.

[2020-11-20 00:24] #845 closed

[2020-11-20 00:26] pankopon commented on #855
@adamMaceikaBrightline Please update with your demo results if available.

[2020-11-20 02:01] pankopon commented on #420
As the situation with NO_PROXY support is unchanged from what it was a year ago, I've created a backlog item about bypassing the configured proxy for select addresses - to be considered and prioritized. Since this seems to be the only such request so far, I'll quote @oscholz from another issue:

https://feedback.azure.com/forums/932041-cognitive-services
Also feel free to open a support request in

[2020-11-20 02:01] #420 closed

[2020-11-20 05:45] pankopon commented on #871
@zhouwangzw @wolfma61 Can you please comment?

[2020-11-20 07:06] zhouwangzw commented on #871
@bexxx  Could you please help on this Webhook callback related question?

[2020-11-20 07:23] bexxx commented on #871
We're working on using IPs from a predefined IP pool to start supporting service tags which will make your scenario easy to configure. Now the IPs are not fixed, and the firewall config cannot be done.

[2020-11-20 10:50] hre88 commented on #871
Thanks @bexx! Any idea when it will be ready? Are there service tags already available for other regions beside uksouth?

[2020-11-20 19:26] pankopon commented on #800
@BrianMouncer Please follow up on this with @in2dair and update as necessary.

[2020-11-20 19:32] pankopon commented on #867
@yulin-li Please follow up on this and update as necessary.

[2020-11-20 20:39] pankopon commented on #842
@johnpaulu @marlon-br We have a bug about this on our backlog that was created for https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/490, but unfortunately no ETA for a possible solution yet. We will update here when there is information about the release schedule available. @oscholz FYI.

In the meantime,
- in case using the [batch transcription API](https://docs.microsoft.com

[2020-11-20 23:18] maczikasz commented on #420
Ok thanks, i opened an azure issue, since this is actively blocking our progress

[2020-11-21 03:04] pankopon commented on #803
Sorry for the delay in response. In the future, please create separate items for individual topics to help processing.

Answers:
1. This is not supported at the moment, no ETA.
2. The same. You can play the result audio by using e.g. simpleaudio as below:
[code]
  - For reference on how it's done in our samples for other languages at the moment:
    - C# - https://github.com/Azure-Samples/cognitiv

[2020-11-21 03:08] pankopon commented on #803
Closed as answered, please create a new issue if you need more support on specific topics.

[2020-11-21 03:08] #803 closed

[2020-11-23 03:08] ZDerain opened #872 "SPXERR_GSTREAMER_NOT_FOUND_ERROR in iOS"
**Describe the bug**
Following the steps in your documentation(cognitive-services-speech-sdk-master/samples/objective-c/ios/compressed-streams/README.m), I created the GStreamerWrapper.framework, and put it into the project;
I have replaced the speechKey and serviceRegion, and it compiles fine, but it gives me an error when I run it;

**To Reproduce**
CompressedStreamsSample[4000:776977] Exception

[2020-11-24 04:09] Michael-Jing opened #873 "PushAudioInputStream demo on Android"
When I use PushAudioInputStream in a python script running on MacOS 11.0.1, everything works fine. But after I changed the sdkdemo on Android to use PushAudioInputStream instead of PullAudioInputStreamCallback, the demo barely works, the recognition accuracy is very low. So could the team provide a demo using PushAudioInputStream on Android?

[2020-11-24 15:27] f-paulus opened #874 "Wrong usage of InputStream in the sample code"
**Describe the bug**
There is a bug in the examples of how to use the continuous recognition, for example here:
https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/java/jre/console/src/com/microsoft/cognitiveservices/speech/samples/console/SpeechRecognitionSamples.java#L359
The linked implementation is based on the assumption that the `InputStream#read(byte[])` is al

[2020-11-24 15:57] IllidanS4 commented on #233
Any progress?

[2020-11-24 16:40] jhakulin commented on #873
@Michael-Jing Thanks for feedback, which Android PushAudioInputStream demo you are referring to that produced low recognition accuracy?

[2020-11-25 00:49] Michael-Jing commented on #873
I'm doing some tweak based on the sdkdemo located at samples/java/android/sdkdemo. The demo uses PullAudioInputStreamCallback as input and works well. However, after I changed the input to PushAudioInputStream, the accuracy became low.

[2020-11-25 05:32] jhakulin commented on #873
@Michael-Jing Attached initial sample which use pushstream with continuous recognition on Android and reads data from microphone using Android AudioRecorder. Alternatively you can create stream which reads data from wave files from your app asset. We will improve our official samples in the next Speech SDK release.
[PushStreamSampleAndroid.zip](https://github.com/Azure-Samples/cognitive-services-s

[2020-11-25 05:42] jhakulin commented on #874
@f-paulus Thanks for the feedback, I think you are correct and this sample has limitations you mentioned. Did you improve/fix the code which was based on the sample for your app ? If so, would you like to contribute on improving the sample for our samples GitHub repository?

[2020-11-25 08:03] webfolderio opened #875 "Custom Keyword Feature Offline Usage"
Hi,

KWS feature does not require back-end services. Is it enough to have "Speech subscription" to use this feature. Is there any additional license/service fee?

https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/custom-keyword-basics?pivots=programming-language-csharp#prerequisites

**Prerequisites**:
[code]

https://docs.microsoft.com/en-us/azure/cognitive-services/speech-

[2020-11-25 08:43] f-paulus commented on #874
@jhakulin Thanks for the fast reply. I won't create a PR for now, but I can add my code here:
[code]
I hope this already helps!

[2020-11-25 17:38] jhakulin commented on #875
@webfolderio You need a subscription to create keyword model (.table file). Once you have the keyword model, using Speech SDK's KeywordRecognizer alone does not require subscription/connection to the online service.

[2020-11-25 17:41] jhakulin commented on #874
@f-paulus Thanks, I have created item for our backlog for the next release. Thanks for the feedback!

[2020-11-25 17:41] #874 closed

[2020-11-25 18:09] trevorphillips opened #876 "How to use with Django?"
Some overview...

I use django-storages, specifically the amazon storage part of that module, to save audio files for my CarTrip objects. How would I pass in that audio file into cognitive services for it to work?

Here is an example of what it kind of looks like.
trip: <Trip: [1.5] Transcription Pending> (Actual trip object)
trip.audio: <FieldFile: audio-trips/161/20201123122006.wav> (The audio f

[2020-11-25 18:32] Bmelob423 opened #877 "Error 400 -> cognitive-services-speech-sdk/quickstart/javascript/node/from-blob/"
Hy.
I'm using the from-blob.js code in cognitive-services-speech-sdk/quickstart/javascript/node/from-blob/ and it returns me a error 400.
What's is a error 400 in this case? Can help me please??

[2020-11-25 18:37] #875 closed

[2020-11-25 19:22] jhakulin commented on #872
@ZDerain Thanks for feedback, which SDK release version you are using ? We disabled support for Gstreamer on iOS on 1.13.0 release as there was customer reports indicating they had problems with Apple store verification and that Gstreamer part lacked some verification on our side. However we have verified now with our internal iOS apps using Speech SDK that Gstreamer extension as a weak framework

[2020-11-25 23:46] jhakulin commented on #876
@trevorphillips Thanks for the question, I assume you are planning to process your audio files offline? And you prefer to directly use django-storages to get the audio files from? I am thinking if you create Azure function which integrated Speech SDK functionalities you want and triggers to HTTP request which your app does (containing the audio binary inside a body) and that would produce transcri

[2020-11-26 02:43] Michael-Jing commented on #873
Yes, it helps, thank you very much!

[2020-11-26 02:43] #873 closed

[2020-11-26 04:36] ZDerain commented on #872
@jhakulin Now I'm using sdk version 1.12.1. that work fine; Thanks.

[2020-11-26 04:36] #872 closed

[2020-11-26 06:34] anuragseven opened #878 "cant install azure-cognitiveservices-speech"
**Bug**

I am unable to install  **azure-cognitiveservices-speech** on my 64 bit windows machine.
The error I am getting :
[code]
Information about my python interpreter:
[code]
I also tried to install it using .whl files I found [here](https://pypi.org/project/azure-cognitiveservices-speech/#files)
I tried to install 8 .whl files that are intended for windows  , but all failed .
I also tried to i

[2020-11-26 06:38] anuragseven commented on #878
It was a duplicates issue  ,  my apologies

[2020-11-26 06:38] #878 closed

[2020-11-26 08:42] chlandsi commented on #876
This sounds like a good use case for the [batch transcription API](https://docs.microsoft.com/en-gb/azure/cognitive-services/speech-service/batch-transcription). It allows to send the URLs to the audio files in a REST request, and collect the transcription results later.

[2020-11-26 10:39] rubendsm commented on #877
I have the same question!

[2020-11-26 12:10] jogugil commented on #439
Hello, I am compiling an old code that I had to make a speech recognizer with Microsoft.CognitiveServices.Speech; and xamarin.Fomrs.
But when I run it it doesn't work with the updated versions.
In fact the function
KeywordRecognitionModel.FromFile (kwsModelDir);

It gives me an assembly error when before it worked without problem and it recognized the keyword to activate the recognizer.
The error

[2020-11-26 12:10] jogugil commented on #439
Hello, I am compiling an old code that I had to make a speech recognizer with Microsoft.CognitiveServices.Speech; and xamarin.Fomrs.
But when I run it it doesn't work with the updated versions.
In fact the function
KeywordRecognitionModel.FromFile (kwsModelDir);

It gives me an assembly error when before it worked without problem and it recognized the keyword to activate the recognizer.
The error

[2020-11-27 11:30] chlandsi commented on #877
There is an error in the sample. Please remove the backtick (`` ` ``) in [this line](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/995d20d9d49b8a054c8141030ad647b5bf5fefd6/quickstart/javascript/node/from-blob/from-blob.js#L15) of the sample. The sample will be updated shortly.

[2020-11-30 05:46] mbuotidem opened #879 "Pronunciation assessment: recoginzeOnceAsync returning incorrect recognition result text"
**Describe the bug**
The speech recognition result text is always the reference text when SpeechRecognizer.recognizeOnceAsync() is used with an applied pronunciationAssessmentConfig. It doesn't matter what the user says, the returned recognition result text is always the reference text.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a pronunciation assessment sample which uses recognize

[2020-11-30 10:34] hre88 commented on #871
Does anyone else know when the service tags will be ready?

[2020-11-30 16:44] jhakulin commented on #876
closing as answered, let us know if more information is needed

[2020-11-30 16:44] #876 closed

[2020-11-30 16:44] jhakulin commented on #877
closing as issue identified and we are updating the sample

[2020-11-30 16:44] #877 closed

[2020-11-30 17:20] jhakulin commented on #800
@benlifson We have been able to reproduce the issue and created internal ticket to find resolution. Closing this item.

[2020-11-30 17:20] #800 closed

[2020-11-30 19:52] pankopon commented on #871
@bexx Can you please comment on the schedule?

[2020-11-30 19:56] pankopon commented on #842
Closing this since we have a work item as noted, we'll update when a release with a fix is available. Please create a new issue if you need support on any other topics.

[2020-11-30 19:56] #842 closed

[2020-11-30 20:01] pankopon commented on #879
@yulin-li Can you please check.

[2020-12-01 06:28] bexxx commented on #871
We do not have a fixed ETA for this feature.

[2020-12-01 18:03] jamescarpinter opened #880 "Improved intent recognizer responses"
**Is your feature request related to a problem? Please describe.**
We've been using the Intent Recognizer capability that's part of the Speech SDK to perform both speech-to-text and LUIS-based intent recognition in a single call. However, we've been missing some of the capabilities that are available when using these services separately. Specifically, the ability to get prediction scores for all i

[2020-12-02 02:29] yulin-li commented on #879
@mbuotidem Thanks for using the pronunciation assessment and reaching out. We have a parameter `EnableMiscue`, with which enabled, the pronounced words will be compared to the reference text, and will be marked with omission/insertion based on the comparison. Accepted values are False and True. Default: False. If this parameter is set to false, the recognized text is always the reference text. See

[2020-12-02 03:13] yulin-li commented on #867
@namrathanithya sorry for the delay response due to holiday. Did the "cannot resolve method 'StopSpeakingAsync'" error occur during making? Could you just try our [quickstart](https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/java/android/text-to-speech) by adding `synthesizer.StopSpeakingAsync();` like this

[code]