[2021-06-19 09:54] rupeshtech commented on #95
Hi @DennisLJ ,
I am also facing same issue..
Are you able to solve the problem?

[2021-06-19 19:27] Lykos94 opened #1148 "Failed tlsio_options_set - iOS"
**Describe the bug**

Trying to compile a Unity app that contains Cognitive Services Speech SDK version 1.17 on iOS results in the following error when trying to invoke the service within the app. On Android and the Standalone Player it works perfectly, the issue only occurs on iOS.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start project Build from Unity
2. Build application fr

[2021-06-21 02:20] yanhuibin315 commented on #1140
I know what happened. That my permission issue. I used free account. And when I changed standard, It worked !

[2021-06-21 02:20] #1140 closed

[2021-06-21 04:58] mbreen703 opened #1149 "WebGL build"
Is it possible to use the Unity speech SDK in a WebGL build?

[2021-06-21 06:01] yanhuibin315 opened #1150 "Speaker separation not work in Batch Transcription API"
**Describe the bug**
I want to use speaker separation in batch transcription api. But it maybe not work. I use "katiesteve.wav" to speech-to-text and set diarizationEnabled to TRUE. But I just get speaker 1 in the result.json. Can anyone tell me why not speaker 2?

**To Reproduce**
Steps to reproduce the behavior:
1. clone the ```cognitive-services-speech-sdk``` code and I found a wav file named "

[2021-06-21 09:04] incomingflyingbrick commented on #1112
I see, I upgraded to 1.17.0 the issure is gone now

[2021-06-21 09:05] #1112 closed

[2021-06-21 12:05] zhouwangzw commented on #1150
Thanks for reporting. We are checking.

[2021-06-21 15:47] #1149 closed

[2021-06-21 17:47] jhakulin commented on #1148
@Lykos94 Thanks for the report. I am investigating the issue, I could not see any problems with https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/csharp/unity/from-microphone quickstart with Speech SDK release 1.17.0 and iOS 13.3. I will update my device to iOS14 and see if that makes a difference.

[2021-06-21 22:55] ralph-msft commented on #1144
Thank you for your input. This is a feature request and I've added it to our backlog. We may address this in a future release. Once the work is done, we will update this issue to let you know what release the feature will be in.

[2021-06-21 22:55] #1144 closed

[2021-06-21 23:23] jhakulin commented on #1141
@duydtdev Thanks for the report. Which architectures you are targeting in your app ? Speech SDK supports arm64, so in case you have armv7 in the list of supported architectures, please remove it.

[2021-06-22 01:55] jhakulin commented on #1148
@Lykos94 I updated to latest iOS 14 version and Xcode as well and tested https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/csharp/unity/from-microphone sample using 1.17.0 release which worked ok on my iPhone.
Can you reproduce the problem with that sample?

[2021-06-22 02:11] Lykos94 commented on #1148
@jhakulin Thank you for your follow up. I’ll make some more tests as soon as possibile and I’ll come back to you with more information.

[2021-06-22 05:27] yulin-li commented on #1145
Hi @antistic , I saw the region and key were configured correctly from your log. My guess is the certifacates are not configured. Could you follow [this doc](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-configure-openssl-linux?pivots=programming-language-python) to configure it?

[2021-06-22 08:43] jahnviss commented on #1120
Any feedback on my last comment? Its not about mute and unmute, whenever stopContinuous and startContinuous called on Live Caption feature off/on , that time also bug exist.

[2021-06-22 14:08] DanielcomerNHS commented on #764
the way i fixed this...

use version 1.14.5 of Gstreamer https://gstreamer.freedesktop.org/pkg/windows/1.14.5/gstreamer-1.0-x86_64-1.14.5.msi - complete setup

use version 1.13 of Microsoft.CognitiveServices.Speech (Nuget package)

Go to environment variables on your pc and add to the User variable called path the following C:\gstreamer\1.0\x86_64\bin

then add a system variable called "GSTREAMER_

[2021-06-22 14:52] antistic commented on #1145
Hi! Thanks for your help.

I followed the guide and found my directory was `/etc/ssl`. Setting `SSL_CERT_DIR ` did not work, but setting `SSL_CERT_FILE` to the only crt I found did.

However, the sound didn't work and I was getting the following problem:

[code]

<details>
<summary>Log output</summary>

[code]
</details>

In particular, this line:

[code]

needs to have the gstreamer plugin instal

[2021-06-22 14:52] #1145 closed

[2021-06-22 15:14] jhakulin commented on #764
Thanks for comments, I reopen the issue as we need to improve the documentation here

[2021-06-22 18:24] ralph-msft commented on #1138
Thanks for trying the Cognitive Services Speech SDK, and sorry to see that you are running into issues.

For Windows 10 using version 1.17 of the SDK, you'll need to follow these steps:
1. Download and install version the version 1.19.1 MSVC x86_x64  of the GStreamer DLLs. You can find the download links [here](https://gstreamer.freedesktop.org/documentation/installing/on-windows.html?gi-language=

[2021-06-22 21:57] rhurey commented on #1143
Something (unknown) is likely going wrong with the recognizeOnceAsync() call if you're getting an empty text back.

To check, the result object returned from recognizeOnceAsync will have a reason field and possibly an errorDetails populated.
`
console.log(`RECOGNIZED:AZURE  Reason=${sdk.ResultReason[result.reason]}`);
console.log(`RECOGNIZED:AZURE  ErrorDetails=${result.errorDetails}`);
`

[2021-06-23 03:10] yunpzha commented on #1107
customer feedback from internal ticket communication. I am updating here as well for awareness:
1.	Would it be possible to get a minimal project that demonstrates the issue with the ObjC/C++ calling pattern being used?
[AC] Amit and I discussed internally with others and we felt that it will be difficult and high effort to create a separate project and send it to the dev team. We request to have a

[2021-06-23 12:04] zhouwangzw commented on #1150
@yanhuibin315 Thanks for reporting issue. Our scientist team is looking into it and trying to improve diarization model to reduce error rate. However, this might take some time until the new model is published, and at this moment we do not have ETA for that yet. Sorry for the inconvience!

[2021-06-23 14:10] glharper commented on #1120
@jahnviss I'm attaching a sample test page using two recognizers and start/stopContinuousRecognition calls for both on a microphone input. It seems to work for me, can you confirm it works for you?
[from-mic-1120-June-2021.html.txt](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/6702440/from-mic-1120-June-2021.html.txt)

[2021-06-23 14:12] #1136 closed

[2021-06-23 15:47] MBelkhechine commented on #1138
Hi Ralph,

thank you. It worked :)

[2021-06-23 15:47] #1138 closed

[2021-06-23 21:43] Lykos94 commented on #1148
@jhakulin Hello again, I indeed managed to reproduce the same error on the quickstart repository. This is what I did:
+ Clone the repository (i used [https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/csharp/unity/text-to-speech](https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/csharp/unity/text-to-speech) which should be the

[2021-06-24 05:35] priyankblitzz opened #1151 "Multi-device Conversation: Allow conversation to be continued even if Host leaves the conversation"
**Describe the bug**
Hello,
In our application there are chances of more than  2 participants can join the call at the same time. Now during the call if Host
leaves the call in between(which is a very general scenario) the Multi-device Conversation is stopped and now no one can see the Captions as the Host is left. Is there any workaround for this as we want to integrate Live captions feature in o

[2021-06-24 06:03] huy-ffd opened #1152 "chinaeast2 server for Android LUIS SDK fails because of malformed URL connection"
**Describe the bug**

- **chinaeast2** server supports LUIS Azure intent recognition and operates on a separate portal than the Western Azure.
- When using the chinaeast2 _LanguageUnderstandingSubscriptionKey_, _LanguageUnderstandingServiceRegion_, and _LanguageUnderstandingAppId_, the Intent Recognition fails with a **Canceled error** because the URL in the Java Android SDK is incorrect when tryi

[2021-06-24 07:46] yulin-li commented on #1145
Thanks @antistic for updating!

[2021-06-24 12:46] yveskaufmann opened #1154 "Dynamically change InitialSilenceTimeoutMs of a started SpeechRecognizer"
Hi everyone,

I have the requirement, to change dynamically the _InitialSilenceTimeoutMs_ of a SpeechRecognizer which
was started via _startContinuousRecognitionAsync_.

[code]

I have the impression that, the change of the SpeechConfig will only be effective after creating a new SpeechRecognizer from the changed speechConfig.

Is there a way to achieve this, without creating a new SpeechRecognize

[2021-06-24 14:27] zhouwangzw commented on #1051
@rseghier We did investigation, and it was due to issue in the diarization model that is currently being used. We have provided feedback to our science team and they are working on improvement to provide better accuracy in the upcoming release of the model. Unfortunately at this moment we do not have ETA for the new release yet.

Thanks for your feedback and sorry for the inconvenience!

[2021-06-24 14:51] ouweiya opened #1155 "How to adjust the speed and volume of the sound?"
How to adjust the speed and volume of the sound?

I know it can be done through SSML, but I prefer to do it through configuration? I checked the documentation but didn't find what I needed.

[2021-06-24 15:40] rhurey commented on #1154
Yes, you're correct in that the SpeechConfig's settings are copied into the recognizer object on create. For properties that are updatable on a created recognizer, the recognizer has its own properties collection that can be used.

In this case, the simplest way to change the initial silence setting is likely to create a new instance of the SpeechRecognizer.

As an implementation detail (subject t

[2021-06-25 05:22] amitguptampct12 commented on #1107
Hi @brandom-msft @jhakulin
Have you got the chance to look into above code snippets.

[2021-06-25 06:35] anushaa01 opened #1157 "Pronunciation assessment - word level result"
I am facing issue with word level result, as per the docs in error type we should get the parameters as inserted, ommited, missspelled. but we are only getting missspelled if the word is missspelled.

[2021-06-25 07:34] vinay047 commented on #1143
Thanks for your response  @rhurey,

I will try to populate the error details by using your suggestion and will notify you on this.

[2021-06-25 07:52] has-n opened #1158 "SR on two streams using Nodejs"
Closed - can be deleted

[2021-06-25 18:31] rhurey commented on #1155
I believe that SSML is the only way to adjust those properties.

@yinhew?

[2021-06-26 00:57] duydtdev commented on #1141
@jhakulin Thanks for your reply. I turn off Bitcode when deploy, then it works fine. I will try your way once. Thank you

[2021-06-26 00:57] #1141 closed

[2021-06-26 02:59] yinhew commented on #1155
We currently only support rate(speech)/volume control through SSML.
@ouweiya what's the pain to use SSML?

[2021-06-26 06:56] #1155 closed

[2021-06-27 00:58] shoutbomb opened #1161 "Support for PHP in the new SDK"
**Is your feature request related to a problem? Please describe.**
My rest based integration using PHP is no longer supported.

**Describe the solution you'd like**
Can you provide an SDK supporting PHP, since there was support for PHP in the REST version.

**Describe alternatives you've considered**
Rewriting my programs in Python, but this is an expense I am not ready for.

**Additional context*

[2021-06-28 15:49] #1125 closed

[2021-06-28 19:05] YounKimAtAri opened #1164 "JavaScript SDK does not work: The ScriptProcessorNode is deprecated. Use AudioWorkletNode instead."
The JS SDK does not work as the ScriptProcessorNode is deprecated on the `[https://aka.ms/csspeech/jsbrowserpackageraw](https://aka.ms/csspeech/jsbrowserpackageraw)` when it calls **_return context.createScriptProcessor(bufferSize, 1, 1);_**

[2021-06-28 21:44] glharper commented on #1164
@YounKimAtAri What code are you using to produce this issue? Could you describe "does not work" in more detail? Are you not receiving results when called JS SDK APIs?

[2021-06-29 16:40] jhakulin commented on #1107
@amitguptampct12 Could you provide Xcode sample which can be used directly to reproduce the issue? As currently Speech SDK do not support dialog service connector on Objective-C binding and customer has already made integration with C++ on iOS using Cocoapod, providing sample for that should be straightforward.

[2021-06-29 17:28] rhurey commented on #1152
Thanks for pointing this out. There's a couple of different problems.

First, the SDK is incorrectly building the URL's for the IntentRecognizer for China* regions. I've got a bug tracking this in our internal database.

Second, even if the URL was built correctly, not all the components for the Speech->LUIS integration are deployed in China East2. So you'd get back recognized speech, but not reco

[2021-06-29 17:35] roninstar opened #1165 "StartKeywordRecognitionAsync StopsSession immediately after wake word without waiting 5 seconds for the user to speak"
**Describe the bug**
We are using exactly the example provided for Keyword Recognition.  Once the wake word/ Key word is processed in the Recognized event it goes to SpeechEndDetected then SessionStopped.  This does not give our users the ability to say the wake word pause to see the device is listening then speak the phrase or question they want to ask our device.

**To Reproduce**
Steps to repro

[2021-06-29 18:20] YounKimAtAri commented on #1164
@glharper

I found out why it happened. There is a still JS error message, but not it's working.

Thank you.

[2021-06-29 18:20] #1164 closed

[2021-06-29 20:16] huy-ffd commented on #1152
Thanks Ryan!

I could be talking about something completely different for the 2nd thing you mentioned, but for the Speech->LUIS Integration Intent Recognition,

the China East 2 REST API seems to recognize speech and intents like for example:

Saying Open Main Menu returns a few predicted intents:

![image](https://user-images.githubusercontent.com/50151722/123861148-ae619400-d8db-11eb-8b64-8ea366

[2021-06-29 20:56] rhurey commented on #1152
The Speech SDK doesn't use the REST API, but talks to a different stream based endpoint.

That stream based endpoint doesn't have the LUIS integration deployed.

You can try overriding the SDK's host generation by using code like:
[code]
(My test app is in C#, not Java...)

(Or I mis-configured my LUIS test app in azure.cn)

[2021-06-29 21:28] huy-ffd commented on #1152
I see what you mean, Ryan. I have tried your suggestion in Java, and the WebSocket failed with the following:

[code]

[2021-06-29 22:05] rhurey commented on #1152
That error means you have the wrong key.

I'd have expected RecognizedSpeech for the reason instead of RecognizedIntent. Make sure to use the prediction resource's endpoint key and not the LUIS app's authoring key.

[2021-06-29 23:25] huy-ffd commented on #1152
You are right. ResultReason was `ResultReason.RecognizedSpeech` and not `ResultReason.RecongizedIntent`. I was using a US LUIS Prediction Key instead of the China East 2.

[2021-06-30 08:43] amitguptampct12 commented on #1107
@jhakulin I shared Xcode sample project offline. Can you please confirm if it is accessible to you.

[2021-06-30 12:38] rupeshtech opened #1166 "Speech to text from Output audio"
**Desired Situation**

I want to listen to sound coming out of device (laptop) and convert into text real time (without saving to wav file).

**Current Situation**

I am able to capture and save Output audio to wav file using **NAudio**.

**Following is the sample code to save output to wavfile. this code works fine**

    string outputFileName = @"xxxxxx\recievers.wav";
                var captur

[2021-06-30 15:09] jhakulin commented on #1166
@rupeshtech I believe the problem is that NAudio WasapiLoopbackCapture provides audio in 44.1kHz stereo format and using that with AudioInputStream.CreatePushStream() (which expects 16kHz, mono stream by default, see https://docs.microsoft.com/en-us/dotnet/api/microsoft.cognitiveservices.speech.audio.pushaudioinputstream?view=azure-dotnet).
Could you please check the format NAudio provides and con

[2021-06-30 18:25] #1165 closed

[2021-06-30 19:06] roninstar commented on #1165
Thanks for following up with me.  We look forward to your work around! best regards,
Mark

[2021-07-01 15:06] jhakulin commented on #1107
Looking at log it seems that recognition result handle gets destroyed while it is populating the result information inside the connector event handler.

In your sample there is call for ListenOnceAsync() which do not use the result and result will be destroyed right after the async operation completes.

-(void)startListenOnceSync {
     auto result = connector->ListenOnceAsync().get();
}

Then in

[2021-07-01 17:27] glharper commented on #1151
@priyankblitzz Thanks for using Speech SDK, and writing this issue up. I understand your frustration with the current workflow, and we are working on allowing [Conversation Transcription](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-use-conversation-transcription?pivots=programming-language-javascript) to better accommodate this scenario. For now, you may have to

[2021-07-02 01:39] QC-Technology commented on #764
hi guys, while we are looknig at improving documentation, i'm trying to use this for a .net core C# console project which i want to host as a continious webjob at some point in the near future.
the .WAV conversion is working perfectly, however the mp3 is not for the same above reason.

can i ask to have clear simple steps for .net core implementation of GStreamer which i can package publish and us

[2021-07-02 08:46] priyankblitzz commented on #1151
Hi @glharper ,

Can you provide me some more ideas for this statement " make all call users participants (with a "Host user" that's not the true conversation host)"? Maybe a small code snippet?

[2021-07-02 08:56] kedzior-io commented on #764
@QC-Technology
The example above works perfectly passing mp3 files and using Gstreamer: https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/764#issuecomment-813906143

[2021-07-02 18:54] glharper commented on #1161
@shoutbomb Thanks for using Speech SDK, and for writing this up. We prioritize enhancement requets like this one according to community input/feedback, and will do so accordingly here. Thanks again.

[2021-07-02 18:54] #1161 closed

[2021-07-04 11:51] rupeshtech commented on #1166
@jhakulin Thanks for your response.
As per you suggestion I am creating pushstream with following code
` using (var pushStream = AudioInputStream.CreatePushStream(AudioStreamFormat.GetWaveFormatPCM(44100,16,1)))`
but still getting **Not getting any speech recognized from Cognitive service.**

[2021-07-04 21:40] TakamotoAI opened #1167 "Different punctuation in Continuous ASR and Continuous Translation"
In your complete Demo for JavaScript I noticed a different behaviour for automatic punctuation:

In Continuous ASR, the punctuation is set only after onRecognized, i.e. when a segment is finalized.
In Continuous Translation, the punctuation of the ASR is set in real-time while onRecognizing, i.e. while hypotheses are sent back.

It is possible to have real-time punctuation also in Continuous ASR w

[2021-07-05 06:20] huiweyl opened #1168 "app crash at library loading phase"
**Describe the bug**
on iOS 13.1, app will crash when launch.

**To Reproduce**
Steps to reproduce the behavior:
1. on an iOS 13.1 device, install the app with SDK integrated (the app should be exported using adhoc or archive method)
2. launch the app, it crashes

in console, we can see following log:
**********
Error loading /var/containers/Bundle/Application/6A54D177-A088-4680-A59F-4397210DBE4E/

[2021-07-05 07:53] jhakulin commented on #1166
@rupeshtech I looked this more and find out that format is 48kHz, stereo, IEEE FLOAT encoded that comes out from WasapiLoopbackCapture object. Speech SDK expects PCM encoded format, so data needs to be converted from float to pcm.
I modified your code to do that and this example transcribed the loopback audios correctly. Please note the example here may not be the most optimal solution what comes

[2021-07-06 04:17] amitguptampct12 commented on #1107
@jhakulin Thanks for your suggestions.
In method startListenOnceSync() I can check different states of result object.

Below method is not in use-
(void)initWithSubscription:(nonnull NSString *)subscriptionKey region:(nonnull NSString *)region welcomeActivity:(nonnull NSString *)welcomeActivity channelData:(nonnull NSString *)channelData result:(ActivityResultBlock _Nonnull)block

by doing above c

[2021-07-06 04:31] jhakulin commented on #1107
@amitguptampct12 Could you clarify more the change made? Please share the sample.

[2021-07-06 05:11] amitguptampct12 commented on #1107
Hi @jhakulin I just getting different states.

-(void)startListenOnceSync {
     auto result = connector->ListenOnceAsync().get();
    // Checks result
      if (result->Reason == ResultReason::RecognizedSpeech) {
         printf("We recognized %s \n", result->Text.c_str());
      }
        if (result->Reason == ResultReason::RecognizingSpeech) {
            printf("Recognizing %s \n", result->Tex

[2021-07-06 15:57] glharper commented on #1168
@huiweyl Thanks for using Speech SDK, and including log info with this issue. Are you able to reproduce this using version 1.17.0 of Speech SDK?

[2021-07-06 15:57] #1158 closed

[2021-07-06 16:15] glharper commented on #1151
@priyankblitzz
OnCallStart:
- create Conversation
- start conversation
- join as host (which is not assigned to any call user)
- add call participants to Conversation using joinConversationAsync
- give first user "designated participant" privileges, which means wiring all host privileges (muting, ejecting, locking) to the "designated participant" (in the normal workflow, you have to do this wiring

[2021-07-07 02:54] yinhew commented on #1157
@anushaa01 inserted, ommit can only show up when miscue is enabled, did you enable miscue?

https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-pronunciation-assessment?pivots=programming-language-python#pronunciation-assessment-configuration-parameters

[2021-07-07 12:26] anushaa01 commented on #1157
Hi Yunhew,

Let me check and get back to you.

Thanks,
Anusha Agarwal

On Wed, Jul 7, 2021 at 8:24 AM yinhew ***@***.***> wrote:

[2021-07-08 15:40] lrodorigo opened #1170 "Keyword Recognition - Silence duration after keyword detection"
**Describe the bug**
After the keyword is detected, the user has no time to give commands. In detail the speech to text operation is terminated in a very short time after the keyword detection. Is there a way to set the duration of the silence between the keyword and the following commands?
The current maximum delay is really short and is difficult fot the user to understand a "keyword spotted fee

[2021-07-08 16:29] chschrae commented on #1170
Hi,

Thanks for reaching out to us. There are currently two workarounds depending on your needs and the scenario.

You can use a separate KeywordRecognizer object that will only be used for keyword recognition. When the keyword is recognized, you then call your SpeechRecognizer to RecognizeOnce. This should give you the functionality you want.

If you have a dialog bot or a custom commands scenari

[2021-07-09 06:32] huiweyl commented on #1168
there's not a 1.17.0 version on Pod:

[!] CocoaPods could not find compatible versions for pod "MicrosoftCognitiveServicesSpeech-iOS":
  In snapshot (Podfile.lock):
    MicrosoftCognitiveServicesSpeech-iOS (= 1.16.0, ~> 1.9)

  In Podfile:
    ******************, which depends on
      MicrosoftCognitiveServicesSpeech-iOS (= 1.17.0)

[2021-07-09 07:14] lrodorigo commented on #1170
It is really a pity that a so simple parameter is not exposed directly in the `SpeechRecognizer->recognizeWithKeyword`, it would perform really better in many use cases. I will try using the KeywordRecognizer+SpeechRecognizer approach.

[2021-07-09 07:50] huiweyl commented on #1168
1.17.0 sdk still repros this issue

[2021-07-09 09:26] hsncr opened #1171 "Catalyst support"
Hi everyone,

My problem is that I can't use the framework in my framework that has catalyst support.

My questions are;

1. What are the reasons that make you disable catalyst support?
2. If it is not related with core functionality, Do you plan to add support for mac catalyst in the near future?
3. Most importantly; Is there a solution to workaround this issue?

Thanks in advance.

[2021-07-09 16:35] chschrae commented on #1170
I agree and we are working on an easier solution that works within the speech recognizer. Thanks again for your input!

[2021-07-09 16:35] #1170 closed

[2021-07-09 18:55] glharper commented on #1171
@hsncr Thanks for using Speech SDK, and writing this issue up. I was unaware Speech SDK explicitly supported catalyst. Was there a previous SDK version where catalyst was supported?

Which errors are you seeing, that you can't use Speech SDK with catalyst?

[2021-07-09 21:19] hsncr commented on #1171
@glharper If I choose mac as a target device, I get following error on catalyst supported app;

Building for Mac Catalyst, but linking in dylib built for iOS, file '{POD_NAME}/Example/Pods/MicrosoftCognitiveServicesSpeech-iOS/MicrosoftCognitiveServicesSpeech.framework/MicrosoftCognitiveServicesSpeech' for architecture arm64

[2021-07-10 07:19] jhakulin commented on #1166
Closing the issue as solution has been provided. Let us know if there is more to help with.

[2021-07-10 07:19] #1166 closed

[2021-07-11 14:12] ghpfxf opened #1173 "sdk内部报错引起服务异常重启"
#
# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0x00007ff50b218d11, pid=1, tid=0x00007ff4d7c87700
#
# JRE version: OpenJDK Runtime Environment (8.0_292-b10) (build 1.8.0_292-b10)
# Java VM: OpenJDK 64-Bit Server VM (25.292-b10 mixed mode linux-amd64 compressed oops)
# Problematic frame:
# C  [libc.so.6+0x21d11]  abort+0x203
#
# Core dump written. Defau

[2021-07-12 22:53] chschrae commented on #1173
Hi there,

Thanks for reaching out. Can you give me some more detail on what your code looks like that causes this error? Is there a particular scenario that causes it or is it every time? What OS and architecture are you running?

[2021-07-13 14:40] novosartovt opened #1175 "Deployment issues No matching distribution found for swagger_client . Please help. Runs locally fine on laptop."
When deploy app to azure functions it failes to locate swagger_client. If i do PIP list i do see the package there.

**To Reproduce**
Steps to reproduce the behavior:
1. Import swagger based on steps provided
2. Deploy function from VS Code to Azure function it failes
3. Added import to requirements.txt

**Expected behavior**
It should deploy

**Version of the Cognitive Services Speech SDK**
azure

[2021-07-13 15:19] novosartovt commented on #1175
Also, i tried to do pip install -r requirements.txt     and seems fine saying its already installed on my local .
Requirement already satisfied: swagger-client in c:\users\t6175122\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from -r requirements.txt (line 12)) (1.0.0)

[2021-07-13 16:23] chlandsi commented on #1175
Hi @novosartovt , can you post the exact contents of your requirements.txt file? You would have to make sure that the package you downloaded from the swagger autogeneration is packaged and uploaded with your Azure function, and then put the path to that location into your requirements.txt file, since pip needs to install the package from that local file, rather than from a published package in the

[2021-07-13 16:34] novosartovt commented on #1175
Thank you for reply . I'm very new to this any help would greatly assist me. Here is what inside the req file . Please let me know if anything else  i need to add. How do i specify local path in requirement doc?
# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azur

[2021-07-13 17:46] novosartovt commented on #1175
I was able to deploy .Thank you i put "./python-client" in requirments.txt

[2021-07-13 19:11] chlandsi commented on #1175
Great to hear that!

[2021-07-13 19:11] #1175 closed

[2021-07-13 19:12] novosartovt commented on #1175
Thanks again !

[2021-07-13 22:25] chschrae commented on #1134
Thanks for reaching out. I know the service team is constantly working on making sure their "up" time is as high as possible. Do you have any other information on this? Does it happen every time or just some times? Does it always occur at the same period of time?

Without more concrete information this doesn't really sound like something that the SDK team can help with. It may be the service or re

[2021-07-13 22:31] chschrae commented on #1124
@brandom-msft  If there is an internal work item for this can you make sure this issue is linked there and close this issue. We can update the issue when the bug is resolved.

[2021-07-14 12:44] ccoreilly opened #1176 "Decreased speech recognition accuracy with the de-DE model: Fä- words"
**Describe the bug**
Using the latest de-DE speech recognition model currently we are experiencing more and more false positives. Words that begin with Fä- are recognized instead of what is being said.
Unfortunately this is hard to reproduce but looking at our logs this phenomena started appearing about 2,5 weeks ago and more and more utterances are being recognized falsely since then. For example

[2021-07-14 12:49] xavcastle opened #1177 "Connection error on SpeechSDKDemo java from AWS EC2"
Hi all,

I am developing a Java application that uses speech SDK.

We use the SpeechSDKDemo (client-sdk 1.17.0) code for testing the basic configuration. Azure Speech api is configured in: northeurope region.

- SpeechSDKDemo runs correct on Azure VM (northeurope region) running with Linux (ubuntu 20.04) + openjdk version "11.0.11" 64 Bit
- SpeechSDKDemo fails on AWS EC2 (eu-west-1a region) runnin

[2021-07-14 16:03] glharper commented on #1167
@TakamotoAI Would `config.SetProperty(PropertyId.SpeechServiceResponse_PostProcessingOption, "TrueText");` be what you're looking for? Thanks for using Speech SDK, and writing this issue up.

[2021-07-14 17:55] chschrae commented on #1177
Hi there,

Thanks for reaching out. Based on the error message, my first question would be "does the EC2 instance have connectivity to other things?"

Assuming the connection isn't the problem, I would try reaching other regional endpoints for the Azure cognitive services subscription key.

I will attempt to set up a similar test myself as well.

[2021-07-14 22:41] chschrae commented on #1177
@xavcastle Have you run the instructions on this page to setup your RHEL environment? https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-configure-rhel-centos-7

[2021-07-15 02:57] chschrae commented on #1139
Hi @manju605,

I'm sorry to say, currently there is no container image for the Speaker Recognition Service.

Thank you for your question and for reaching out. I have made your request known to the Speaker Recognition team and they have the task on their backlog.

[2021-07-15 02:57] #1139 closed

[2021-07-15 16:16] xavcastle commented on #1177
Hi @chschrae, thank you for your quick help!

- EC2 instance has connectivity to other things? -> **YES, it has conectivity!**

I launched two new blank EC2 instances to avoid conflicts with previously installed software.
- First EC2 with ubuntu 20.04
- Second EC2 with AWS Linux2.

On the ubuntu instance after installing openjdk version "11.0.11", SpeechSDKDemo **worked correctly** without any pro

[2021-07-15 16:30] chschrae commented on #1176
@ccoreilly Hi there,

Thanks for reaching out and pointing out this issue. I've contacted the Speech Recognition team and they are looking into it. I will let you know when I have more information.

[2021-07-15 16:33] chschrae commented on #1177
@xavcastle
Wow nice work in digging into the details.

I know for now the AWS linux2 is not officially supported. I agree it would be a good thing to support in the future, but I can't promise anything around that.

For RHEL it is indeed supported and should work. Were you able to get that to work with the instructions?

[2021-07-15 17:03] xavcastle commented on #1177
@chschrae
We can't wait until then.
We will have to think what to do. Maybe migrating the Linux2 to a new Ubuntu instance (more work before summer hollidays!).
Thank you for your help!

[2021-07-16 01:25] chschrae commented on #1177
@xavcastle So I finally got my RHEL instance set up and I was getting a connection refused error until I followed the line to export the certificate environment variable
export SSL_CERT_FILE=/etc/pki/tls/certs/ca-bundle.crt

Maybe this is the same issue you were having. Hope this helps.

[2021-07-16 04:14] #1177 closed

[2021-07-16 08:23] xavcastle commented on #1177
@chschrae
I did it also in AWS Linux2, but keeps getting a connection error.
I'll change to ubuntu distro.
Best!

[2021-07-16 08:34] oskoller commented on #1176
To Answer the questions:

- yes, the generic baseline model is currently the same as 20201127, this has not changed recently
- So far I am not aware of any changes in the past 2.5 weeks that could have caused this issue. To further investigate I would need a way to reproduce the issue.

[2021-07-16 16:05] calbertts commented on #1168
I'm having the same issue.
I have a durable function app and one of the activity just requires the library:

[code]

And it crashes even if the function doesn't do anything, once I remove the `require` statement, it works.

This started on Wednesday, these are my 7 days logs:
![image](https://user-images.githubusercontent.com/1326651/125976576-9850566d-b950-44a6-a9e2-35781b2b4532.png)

And it hasn

[2021-07-16 16:05] #1176 closed

[2021-07-16 20:35] roninstar commented on #1094
I am also having the same error that seems unrecoverable even if I recreate the stream and speech recognizer.  We are using a PushAudioStream in eastus and it runs fine for quite some time then it starts getting in bad shape after maybe an hour or more.
07-16 16:30:02.995:  Reason=Error ErrorDetails=Due to service inactivity, the client buffer exceeded maximum size. Resetting the buffer. SessionId

[2021-07-19 03:13] incomingflyingbrick commented on #1134
Hi, this problem occurs randomly.
Is there a limit on how many socket connections we can have with one
subscription key?
If there is a limit , what should I do to make every user can connect to
server when needed.

On Wed, Jul 14, 2021 at 6:25 AM Christopher Schraer <
***@***.***> wrote:

[2021-07-19 13:38] StefanOstwald opened #1182 "Some numbers are not converted to digits when spoken in colloquial german"
**Describe the bug**
This bugs refers to German (Germany).

When a number is expressed in colloquial German, the STT transcribes the input only to words and does not convert it to digits.

**Issue "40"**
The "g" at the end of the word can be pronounced soft and sound like a "ch"
Colloquial STT Transcript: "Vierzi**ch**", which is not converted to "40"
Proper spelling: "Vierzi**g**", which is corre

[2021-07-19 16:56] chschrae commented on #1134
Hi @incomingflyingbrick there is no limit.

One thing might be to check that all the recognizer objects are closed and properly cleaned up.

Otherwise without more information it would be hard to look into.
You could set the log file property and generate some logs, though with your large testing it may get too large.
speechConfig.setProperty(PropertyId.Speech_LogFilename, "./sdk.log");
Are you ab

[2021-07-19 17:11] glecaros commented on #1108
Closing this issue as it hasn't seen movement in quite some time. @amitguptampct12, please feel free to reopen if you need further help.

[2021-07-19 17:11] #1108 closed

[2021-07-19 17:12] #1113 closed

[2021-07-19 19:52] glecaros commented on #1131
Hi @manju605, were you able to resolve this issue by adding the volume mapping that @trrwilson suggested? (from a quick read this does seem related to `/etc/passwd` not being accessible from the image so `-v /etc/passwd:/etc/passwd` could help fix this)

[2021-07-20 04:33] amitguptampct12 commented on #1107
@jhakulin I puted  auto result = connector->ListenOnceAsync().get();  in try catch block as below-
I enclosed the -(void)startListenOnceSync {
    try {
        if (connector != nil) {
            printf("Connector is not nil########");
            auto result = connector->ListenOnceAsync().get();
        }
    } catch (...) {
        printf("There a catch ... Exception");
    }

}

Here At least

[2021-07-20 08:15] oskoller commented on #1182
Thanks for reaching out and reporting the bug.

I tried speaking numbers 'colloquially' against the current default de-de base model, but I could not reproduce the transcription into the lexical form of 'vierzich' or 'sechsundreißig'.

Could you share audio files reproducing this behavior and specify against which endpoint / model you are experiencing the issue?

[2021-07-20 12:25] StefanOstwald commented on #1182
Hi Oscar,
sorry, I don't have audio recordings. I have only seen it in the logs.
We use the default de-de model as SAAS in West Europe.

[2021-07-20 17:52] glecaros commented on #1119
Hi @ajay960singh, I'll close this item. If you need further help please feel free to reopen or create a new issue.
Thanks!

[2021-07-20 17:52] #1119 closed

[2021-07-20 18:09] glharper commented on #1116
@Ananya-96 @adriensas Deployment IDs are tied to a specific key and region pair. Using the latest JS SDK version, I received the same "connection failed" (with a 404) error when using a valid deployment ID not paired to an otherwise valid key.

When retesting with a valid deployment ID and the key to which that ID is paired, however, there was no connection error, so I'm wondering if that's the is

[2021-07-20 23:35] glecaros commented on #1157
Hi @anushaa01 ,

Were you able to try what @yinhew suggested?

[2021-07-21 07:14] oskoller commented on #1182
Hi Stefan, I understand. In that case, we will just incorporate changes into the model to make such recognitions less likely.
Thanks for your help!

[2021-07-21 09:42] #1182 closed

[2021-07-21 23:50] glharper commented on #1120
@jahnviss The latest version of SpeechSDK for JavaScript, which includes a fix for this issue, is now live, available for Node via npm install ([npm page here](https://www.npmjs.com/package/microsoft-cognitiveservices-speech-sdk)) and browser via include (https://cdn.jsdelivr.net/npm/microsoft-cognitiveservices-speech-sdk@latest/distrib/browser/microsoft.cognitiveservices.speech.sdk.bundle-min.js

[2021-07-21 23:50] #1120 closed

[2021-07-21 23:51] #1151 closed

[2021-07-22 16:18] matej-svejda opened #1183 "Sample for async conversation transcription without voice samples"
Hi,

I'm trying to use Azure Speech to transcribe conversations (in my case it's mostly recorded interviews) that have:

* Multiple participants (anywhere between 1 and 10)
* No voice samples of the participants

I implemented the first prototype using the batch transcription REST API 3.0, but there only two speakers are support.
My second approach was to use async conversation transcription, sinc

[2021-07-22 16:27] mikekistler commented on #684
I hit this problem in devdivcodingdays

[2021-07-22 18:41] glharper commented on #1183
@matej-svejda Are your recorded interviews in 8-channel audio? If so, could you share one so that I can see what happening and give a code sample that works for me?

[2021-07-22 20:13] matej-svejda commented on #1183
@glharper Ah, so you having an 8-channel audio is hard requirement for using the conversation transcription service? What I need transcriptions for are mostly recordings of online meetings (Zoom, Teams etc.). So if the conversation transcription service isn't the way to go, is there any other way to transcribe those with speaker diarisation? It would really help a lot, because accuracy wise your t

[2021-07-22 20:29] glecaros commented on #1117
Hi @aalonso-solusoft, were you able to make your scenario work using those two timeouts? Please let us know if you need any further assistance

[2021-07-22 20:44] glecaros commented on #1152
Hi @huy-ffd, I understand from the thread that you were able to solve your issue. Will close this item but please feel free to create a new one if you need further assistance.

[2021-07-22 20:52] huy-ffd commented on #1152
I did not solve the issue, @glecaros

1. The Cognitive Services SDK is still incorrectly building its URL for the IntentRecognizer for China* regions.
2.  Speech->LUIS integration are deployed in China East2 does not have all the components like a websocket on the Cognitive Services End.

Ryan was just showing me how he knew that all the components on the Cognitive Service was not setup on the Chi

[2021-07-22 20:58] glecaros commented on #1152
Got it, reopened the issue. Sorry for the confusion.

[2021-07-22 21:04] aargreen opened #1184 "Question: startContinuousRecognitionAsync (and stop) Future thread cleanup in java?"
We are noticing a build-up of CPU and memory over time when using the MS Speech SDK in java.   The issue might be unrelated to the Speech SDK itself, but in wrapper code around it and we are still debugging, however I was wondering if it was also possible that we were not cleaning up some of the speech threads properly.

we call startContinuousRecognitionAsync.get() right now WITH NO Timeout param

[2021-07-23 09:00] aalonso-solusoft commented on #1117
Hi @glecaros . No, I only have timeouts of 5 seconds, even if I configure the "PropertyId.SpeechServiceConnection_InitialSilenceTimeoutMs" with bigger times.

[2021-07-23 15:39] mikekistler opened #1185 "Include devcontainer configuration in repo to simply use in codespaces"
**Is your feature request related to a problem? Please describe.**

I would like to use this repo in a GitHub Codespace -- specifically to run the Jupyter notebook samples.  But because there is no devcontainer configuration in the repo, GitHub uses a generic container that is missing many of the elements that are needed to run the notebook.  After the notebook starts, I am prompted to:
1. Install

[2021-07-23 17:57] HeidiHanZhang commented on #1183
@matej-svejda could you send this question to CTSFeatureCrew@microsoft.com that I will be happy to facilitate you further.

[2021-07-25 10:21] BlackstarprojectFX commented on #1117
Reducing the volume level on the mic between 20-30, will greatly reduce background interference. Most people have theirs set between 70-100, which (as you can guess) can cause a lot of unwanted performance with speech recognition.

[2021-07-26 04:57] kgmat opened #1186 "Is there a way to convert 'AudioDataStream' object to 'bytes' ?"
Hello,

   I was wondering if there is a way to convert the 'AudioDataStream' object to 'bytes'? Or extract 'bytes' from an 'AudioDataStream' object?

   Thanks

[2021-07-26 08:48] jhakulin commented on #1124
@alondorn There has been done improvements/fixes in the service side, could you please comment if you still see the problem?

[2021-07-26 16:09] jhakulin commented on #1168
@huiweyl Based on your report, the problem occurs only with iOS 13.1 version, is that right?

[2021-07-26 16:21] glharper commented on #1186
@kgmat Thanks for using SpeechSDK! For C#, you can see sample code for getting a bytes[] buffer [here](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/31abed131e21c2a577e670f84ab1aadee2fb5b46/samples/csharp/sharedcontent/console/speech_synthesis_samples.cs#L503).
[code]

[2021-07-26 16:21] #1186 closed

[2021-07-26 21:06] glecaros commented on #1117
Hi @aalonso-solusoft, I talked with the service team and there seems to be an issue on how the property is being populated by the SDK (we opened a bug internally to fix this) In the meantime, you can try the following workaround:

[code]

Please let me know if that helps.

[2021-07-27 11:19] has-n opened #1189 "Timeout behaves differently for different streams"
**Describe the bug**
I'm capturing mic data (using fromDefaultMicrophone and from createPushStream). I set the `SpeechServiceConnection_EndSilenceTimeoutMs` value for both streams but they behave differently. The fromDefaultMicrophone stream does not honor it but createPushStream does.

**To Reproduce**
Steps to reproduce the behavior:
1. create two streams using fromDefaultMicrophone and createPu

[2021-07-27 17:43] amitkumarshukla commented on #1184
@aargreen Could you please send your sample so that we can look at it and give you the right solution.

[2021-07-27 22:21] glharper commented on #1189
@has-n Thanks for using Speech SDK, and writing this issue up. In my testing on Edge with 1.18, I'm seeing the timeout being honored when set to 1000ms, using SpeechRecognizer.startContinuousRecognitionAsync(). The speech service sends EndOfDictation, and the SDK stops listening to the microphone.

In 1.17, in the same scenario (1s end timeout), the recognizer keeps recognizing after the 1s timeou

[2021-07-28 02:48] huiweyl commented on #1168
We ONLY tested SDK on 13.1  / 13.5 / 14.1
I'm not sure if this will happen on other iOS version.

[2021-07-28 06:24] aalonso-solusoft commented on #1117
Thanks @glecaros, it works perfectly. I close the issue.

[2021-07-28 06:24] #1117 closed

[2021-07-28 09:55] vinay047 commented on #1143
Hey @rhurey ,

I tried your suggestion and I am getting the following error :-

**RECOGNIZED:AZURE Reason=Canceled
RECOGNIZED:AZURE ErrorDetails=Unable to contact server. StatusCode: 500, undefined Reason: TypeError [ERR_INVALID_URL]: Invalid URL: wss://EastUS.stt.speech.microsoft.com/speech/recognition/interactive/cognitiveservices/v1?language=en-US&format=simple&Ocp-Apim-Subscription-Key=XXXXXXX

[2021-07-29 17:13] amitkumarshukla commented on #1185
Thanks a lot for your feedback. We will keep this as feature request. We will prioritize it based and work on it. Please look at the future releases. I am closing this issue for the time being. Thanks a lot.

[2021-07-29 17:13] #1185 closed

[2021-07-29 20:43] has-n opened #1190 "stopContinuousRecognitionAsync callback does not fire when OutputFormat.Detailed is set"
**Describe the bug**
If a callback is passed to stopContinuousRecognitionAsync, it does not fire if output format is set to detailed

**To Reproduce**
Steps to reproduce the behavior:
1. in the browser sample, set the Result Format to Detailed
2. add a callback to the stopContinuousRecognitionAsync function
3. START continuous recognition then click the STOP button

**Expected behavior**
When Resu

[2021-07-30 09:06] BeauDobbetransport opened #1191 "Azure cognitive service Speech to text"
Hello,

At the moment i am working on a project where i have to use the Azure speech to text function, i got it all working but i have one more question to finish it up. I used a issue from 27 Feb 2019 on this topic called: Continuous speech #169. it helped me to make it from a word per word result o a full string result, but is there also a way to only make it full sentences instead of the pictur

[2021-07-30 09:59] hiddow opened #1192 "Long response time when using Speech To Text with PhraseListGrammar in Java"
**Describe the bug**
We use com.microsoft.cognitiveservices.speech:client-sdk:1.18.0 in our project for test now, when we add PhraseListGrammar to Improve recognition accuracy , the response become longer > 7s; if we remove PhraseListGrammar the response become normal about 3s.

**To Reproduce**
Steps to reproduce the behavior:
1. Recognize from file
2. add PhraseListGrammar to Improve recognition

[2021-07-30 10:49] #1191 closed

[2021-07-30 19:09] has-n commented on #1190
@glharper , if it helps, I am not able to replicate this with 1.17.

[2021-07-30 19:35] glharper commented on #1190
@has-n Thank you for finding this and writing it up, this is indeed a regression from 1.17. Expect a 1.18.1 release for JS Speech SDK within the next couple of weeks with this fix included. Thanks again!

[2021-07-30 20:32] has-n commented on #1189
I'm unable to repro this. Might have been an issue with my code. Closing for now. Thanks for the help anyways @glharper!

[2021-07-30 20:32] #1189 closed

[2021-08-02 07:21] 448147876 opened #1193 "report an error at the beginning"
Describe the bug
We use com.microsoft.cognitiveservices.speech:client-sdk:1.18.0 ,report an error at the beginning.

To Reproduce
1. fill in speech-key and speech-location
2. run

Expected behavior
**

Version of the Cognitive Services Speech SDK
1.18.0

Platform, Operating System, and Programming Language
 - OS: MacOS big sur
 - Hardware - M1
 - Programming language: Java

**Additional context**

[2021-08-02 07:24] yulin-li commented on #1193
relate #1025

[2021-08-02 07:26] yulin-li commented on #1193
Hi @448147876 thanks for reaching out. The SDK version 1.18 doesn't support apple silicon for now. You can try to use it with an Intel chip machine, or use Linux/Windows.

[2021-08-02 07:35] abhishekk673 opened #1194 "How to use start_continuous_recognition_async() function"
I'm trying to build streamlit webapp in python for Speech To Text.In the demo there are two buttons start button for start recognizing and stop button for stopping the recognizing.But i'm trying to work on recognising the speech for more than 15 seconds so i opted for start_continuous_recognition_async() instead of recognize_once_async().But the code given in https://github.com/Azure-Samples/cogni

[2021-08-02 07:40] abhishekk673 commented on #1194
@joshholmes @paulbatum @Porges @berberich @dargilco

[2021-08-02 07:50] yulin-li commented on #1118
Update: this error is fixed in 1.18, and released.

[2021-08-02 09:42] hiddow commented on #1063
APK size increase about 8MB @jhakulin  ，any idea to reduse the SDK size?

[2021-08-02 10:18] amitguptampct12 commented on #1107
@jhakulin

I tried multiple things to minimize the idle time when app fall in catch block but nothing seems to be works.
If I  disconnect and re-start recognizing it in catch block app is again crashing.

-(void)startListenOnceSync {
    try {
        if (connector != nil) {
            printf("Connector is not nil########");
            auto result = connector->ListenOnceAsync().get();
        }

[2021-08-02 15:17] glharper commented on #1194
@abhishekk673 Thanks for using Speech SDK, and writing this issue up. In the code above:
- Where are you setting up the AudioConfig?
- Why are you calling start_continuous_recognition_async() twice? I'm not seeing that in the sample.
- The stop_continuous_recognition_async() call needs to be the last line of from_mic11, not in the stop_cb()

Hopefully fixing those items will get you started.

[2021-08-02 18:54] aargreen commented on #1184
@amitkumarshukla
Pseudocode below. In general want to make sure I am cleaning up everything properly including resources and anything related to threads.

//Declare 5 resources
SpeechConfig speechConfig = null;
AutoDetectSourceLanguageConfig autoDetectSourceLanguageConfig = null;
AudioConfig audioConfig = null;
SpeechRecognizer recognizer = null;
PushAudioInputStream pushStream = null;

try {

[2021-08-03 05:58] abhishekk673 commented on #1194
import azure.cognitiveservices.speech as speechsdk

def mic11():
    speech_config = speechsdk.SpeechConfig(subscription="", region="")
    speech_recognizer = speechsdk.SpeechRecognizer(speech_config=speech_config)
    speech_recognizer.start_continuous_recognition_async()

    done = False

    def stop_cb(evt):
        print('CLOSING on {}'.format(evt))
        nonlocal done
        done = True

[2021-08-03 05:59] abhishekk673 commented on #1194
@glharper @dargilco @oskoller

[2021-08-03 06:08] abhishekk673 opened #1195 "How to stop_continuous_recognition_async()"
def speech_recognize_continuous_from_microphone():
    """performs continuous speech recognition with input from an audio file"""
    # <SpeechContinuousRecognitionWithFile>
    speech_config = speechsdk.SpeechConfig(subscription=speech_key, region=service_region)

    speech_recognizer = speechsdk.SpeechRecognizer(speech_config=speech_config)

    done = False

    def stop_cb(evt):
        """ca

[2021-08-03 06:13] abhishekk673 opened #1196 "Stop_pronunciation_assesment and how to display what is spoken by user?"
def pronunciation_assessment_from_microphone():
    """"performs one-shot pronunciation assessment asynchronously with input from microphone."""

    # Creates an instance of a speech config with specified subscription key and service region.
    # Replace with your own subscription key and service region (e.g., "westus").
    # Note: The pronunciation assessment feature is currently only availabl

[2021-08-03 13:12] lrodorigo opened #1197 "[Keyword Recognition] Support to the Italian language"
Hi, I would to know if there is any plan to release the Keyword recognition service for the italian language.

[2021-08-03 14:25] glharper commented on #1194
@abhishekk673 It appears your event connection code (including and after speech_recognizer.recognizing.connect) is now part of the stop_cb() method because of the indentation. Please don't indent the event connection code. Try something like:
[code]

[2021-08-03 15:23] abhishekk673 commented on #1194
Thanks @glharper Its working now.I'm trying to add a start and stop button to this.How to split them into start and stop functions and how to stop this functionality.

[2021-08-03 15:37] abhishekk673 commented on #1194
@glharper I'm trying to build like this one.In order to start the conversation hit the start button.To stop the coversation hit stop.
<img width="880" alt="start-recognising" src="https://user-images.githubusercontent.com/84219490/128044223-8a1ac9af-50cd-4e82-a52e-7c842d7dc8bc.PNG">
<img width="835" alt="stop-recognising" src="https://user-images.githubusercontent.com/84219490/128044233-006210db-f

[2021-08-03 15:50] Markyboy944 opened #1198 "[Ingestion Client] Is there an easy way to get the template to run on a cheaper app service plan"
I deployed the template . All 900+ lines of it. It's costing me £125 per month. I wondered if there was any advice on how to run it more cheaply , as this is just a POC. Azure wont let me downgrade the app service plan to "dev/test" so is there something in the template which causes things to go in the production "tier"? thanks in advance for any info

[2021-08-03 20:21] pankopon commented on #1198
Hi, is this a Speech SDK question? What is the template you mention and what is your use case? Please describe the issue in more detail, currently there is not enough information.

[2021-08-03 20:27] #1193 closed

[2021-08-03 20:33] pankopon commented on #1183
Closed as further support is handled by CTSFeatureCrew.

[2021-08-03 20:33] #1183 closed

[2021-08-03 20:35] #1190 closed

[2021-08-03 20:37] pankopon commented on #1173
Closed since no update received in 3 weeks. Please open a new issue if more support is needed.

[2021-08-03 20:37] #1173 closed

[2021-08-03 20:45] pankopon commented on #1167
Closed since no further comments in 20 days. Please open a new issue if more support is needed.

[2021-08-03 20:45] #1167 closed

[2021-08-03 20:47] pankopon commented on #1157
Closed since no further comments from the customer in 27 days. Please open a new issue if more support is needed.

[2021-08-03 20:47] #1157 closed

[2021-08-03 20:48] #1154 closed

[2021-08-03 20:54] #1150 closed

[2021-08-03 20:58] pankopon commented on #1146
Closed as there has been no further update since June. Please open a new issue if more support is needed.

[2021-08-03 20:58] #1146 closed

[2021-08-03 22:10] pankopon commented on #1060
Closing this item because it is a feature request for which we have no ETA at the moment, therefore it doesn't seem reasonable to keep the issue open indefinitely. Please keep an eye on Speech SDK release notes for updates on this topic.

[2021-08-03 22:10] #1060 closed

[2021-08-03 22:13] pankopon commented on #1071
Closed as fixed in the Speech SDK 1.18.0 release.

[2021-08-03 22:13] #1071 closed

[2021-08-03 22:18] pankopon commented on #1091
Closed since no further updates since May. Please open a new issue if more support is needed.

[2021-08-03 22:18] #1091 closed

[2021-08-03 22:25] pankopon commented on #1134
@incomingflyingbrick Can you please provide more information as requested? Also be sure to update your SDK to the latest 1.18.0 release, just in case.

[2021-08-03 22:42] pankopon commented on #1131
Closed since no further update in two weeks. It would seem the described file access is not supported in a sandbox on Azure.

[2021-08-03 22:42] #1131 closed

[2021-08-03 23:01] #1121 closed

[2021-08-03 23:07] pankopon commented on #1116
@Ananya-96 @adriensas Please confirm if the information provided in https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1116#issuecomment-883592428 does help in your case or if you need more support.

[2021-08-03 23:12] pankopon commented on #1101
Closed as there has been no further information since May. Please open a new issue if you need more support.

[2021-08-03 23:12] #1101 closed

[2021-08-03 23:56] pankopon commented on #1192
Hi, this is a known issue https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1124 and should have improved by now but apparently it's still observed, we'll check with the service team.

[2021-08-03 23:56] #1192 closed

[2021-08-04 00:50] pankopon commented on #1196
Hi, the code has a loop
[code]
so if you don't want the assessment to repeat, either enter an empty line when asked for reference text, or remove the loop in code. Please see pronunciation_assessment_continuous_from_file() for comparison and spend some time familiarizing yourself with the code and syntax.

The sample does display what is spoken - in your example, apparently "Hi." (display format w

[2021-08-04 00:50] #1196 closed

[2021-08-04 00:58] abhishekk673 commented on #1195
@glharper

[2021-08-04 01:18] abhishekk673 commented on #1196
@pankopon thanks issue resolved

[2021-08-04 01:59] pankopon commented on #1195
This is apparently modified from speech_recognize_continuous_from_file(). In the original it would stop based on the session_stopped event which would always follow the canceled event which would automatically occur when the file ends. Because now the input is microphone, there is no end of stream and `done` is never set True. You need a separate input event like a key press to stop it.

The simpl

[2021-08-04 02:12] abhishekk673 commented on #1195
@pankopon where to add this Input("press a key to stop ..\n")?Is there any way to separate both these functionalities and call them separately?

import azure.cognitiveservices.speech as speechsdk
import time
def from_mic11():
    speech_config = speechsdk.SpeechConfig(subscription="628b2561066c49b5a91eaf369c8a81de", region="eastus")
    speech_recognizer = speechsdk.SpeechRecognizer(speech_config=

[2021-08-04 02:20] pankopon commented on #1195
Like said, replace
[code]
in code with
[code]

For separate start/stop functions/control, try something like below: create a new thread for recognition, then use Python threading events to notify the recognition thread when to start/stop. In this case, start and stop are triggered by a key press in the main thread.

[code]

Alternatively you could call `start_recognition.set()` and `stop_recogniti

[2021-08-04 02:20] #1195 closed

[2021-08-04 02:28] pankopon commented on #1194
I believe the code I posted in https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1195 can be used as a working example of separating start/stop controls from the recognition thread. In your code where the Start (Speak) button press is handled, call `start_recognition.set()`, and in the handler of Stop button, call `stop_recognition.set()`. Hope this helps, please create a new i

[2021-08-04 02:28] #1194 closed

[2021-08-04 02:49] pankopon commented on #1074
Closing this as it seems the remaining main topic is about PhraseList latency that's been specifically reported and followed up in https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1124. If there are other issues still, please create a new item either here or https://github.com/microsoft/cognitive-services-speech-sdk-js/issues (if JS specific).

[2021-08-04 02:49] #1074 closed

[2021-08-04 12:07] Markyboy944 commented on #1198
Apologies for lack of clarity. Yes - the Batch ARM template here:

https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/ingestion/ingestion-client/Setup/ArmTemplateBatch.json

This is the one I've deployed. It works great, but it is costing about £125 per month to run. I am currently only wanting to use it as a poc, so I woder whether there are any thoughts on how to

[2021-08-04 13:11] PatrikValo opened #1199 "Python sample speech_recognition_with_push_stream blocks long time"
**Describe the bug**
Python speech sample function `speech_recognition_with_push_stream` contains line `speech_recognizer.stop_continuous_recognition()`, which blocks for 10s. I guess that 10s (10 000ms) period could be a timeout, which probably expires because speech recognizer doesn't detect, that stream has been already closed in previous step and method is blocking and waiting until stream is

[2021-08-04 16:24] gsgou commented on #925
@yashugupta786 , @pankopon this is  happening more often also between english and german and various languages. Is there any way to send reports with recorded audio to improve the service. I have a mobile App and would like to allow the user send reports.

[2021-08-04 16:31] yashugupta786 commented on #925
@gsgou  we have raise this thing with microsoft cloud architects .this is found as a bug .from last 7-8 mnths this functionality not working properly ..

[2021-08-04 17:15] gsgou commented on #925
@yashugupta786 do you mind if you reopen the issue so we can close it when you have some Feedback from the cloud architects. In case it helps to provide audio that has erroneous detection can you ask for the possibility to provide a  report API. Its a cool feature and if help is needed maybe more developers can provide feedback for this one.

[2021-08-04 18:30] pankopon commented on #1199
Hi, `stop_continuous_recognition` synchronously terminates recognition, which may block depending on when the call is made and the state of operations at the moment, while `stop_continuous_recognition_async` does it asynchronously. We can improve the sample to demonstrate the use of `stop_continuous_recognition_async` as well.

[2021-08-04 18:56] pankopon commented on #1198
@PanosPeriorellis @HenryvanderVegte Please advise. Also, if the sample is mainly C# and uses the Speech SDK API, it needs to be moved under a bindings specific folder `samples/csharp` (REST API samples would go under `samples/batch`).

[2021-08-04 20:20] PatrikValo commented on #1199
Hi, thank you very much for fast answer.
Yes, I understand but what I would like to say is, that blocking time in your example (10 000 ms) is too big and probably it can indicates some problem.

I enabled the logging in your sample `speech_recognition_with_push_stream` (without any additional modification of your code). In the log I found this lines:
[code]
I think that the most interesting part i

[2021-08-04 23:42] pankopon commented on #1197
Hi, thank you for the query. The latest status is:

- At the moment there is no concrete date for official it-IT support.
- However, it is worth trying to leverage the en-US on-device model from Custom Keyword for the Italian keyword, if the keyword pronunciations map relatively well to the English language. The keyword verification model in the service is en-*, so it will likely perform well if t

[2021-08-05 01:37] pankopon commented on #1197
Closed as answered, please open a new issue of more support is needed.

[2021-08-05 01:37] #1197 closed

[2021-08-06 01:48] abhishekk673 opened #1200 "Azure start_continuous_recognition"
Hello @glharper,
While running this piece of code.

    speech_recognizer.recognizing.connect(lambda evt: print('RECOGNIZING: {}'.format(evt)))
    speech_recognizer.recognized.connect(lambda evt: print('RECOGNIZED: {}'.format(evt)))

    speech_recognizer.session_started.connect(lambda evt: print('SESSION STARTED: {}'.format(evt)))
    speech_recognizer.session_stopped.connect(lambda evt: print('

[2021-08-06 02:10] bhargav27k opened #1201 "Pronunciation-Assesment"
Hello @glharper,
def pronunciation_assessment_from_microphone():
    """"performs one-shot pronunciation assessment asynchronously with input from microphone."""

    # Creates an instance of a speech config with specified subscription key and service region.
    # Replace with your own subscription key and service region (e.g., "westus").
    # Note: The pronunciation assessment feature is curren

[2021-08-06 03:13] pankopon commented on #1200
Please see below for some examples. `recognize_speech()` now writes into a queue and `consume_results()` reads from it, `result` contains the latest text (recognizing or recognized). Remove any prints you don't need. Call `start_recognition()` and `stop_recognition()` from where you want to start and stop. If only final recognized text is needed, remove or comment out `speech_recognizer.recognizin

[2021-08-06 03:13] #1200 closed

[2021-08-06 03:34] pankopon commented on #1201
By default you can use st.write() in Streamlit apps to display any data you would print to terminal with print(). Like `result.text`, `word.word` or others in this case. Please see Streamlit examples and documentation, this is not Speech SDK specific. For multi-threaded operation and passing data via queues, see https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1200#issuecommen

[2021-08-06 03:34] #1201 closed

[2021-08-06 03:51] abhishekk673 commented on #1200
Thanks @glharper Your code is working.I'm getting output like this.

<img width="847" alt="strat-stop-continuous" src="https://user-images.githubusercontent.com/84219490/128453400-85a8baa8-6cd8-4900-8a3e-5ab59c542696.PNG">

But I only require last  line as output.

Hello, can you start recognizing something?

[2021-08-06 13:16] gauravG2021 opened #1202 "usage of StopSpeakingAsync()"
Once we call synthesizer->SpeakTextAsync(), then how do i free the resources?
is it complsory to call StopSpeakingAsync(), or calling reset() on synthesizer is sufficient.

In case calling reset() on synthesizer is sufficient, then what is the need of StopSpeakingAsync()

[2021-08-06 23:56] pankopon commented on #1116
Closing the item since no further updates received & issues presumed resolved based on https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1116#issuecomment-883592428. Please open a new issue if more support is needed.

[2021-08-06 23:56] #1116 closed

[2021-08-06 23:58] pankopon commented on #1134
Closing the item since no further updates received, please open a new issue if more support is needed.

[2021-08-06 23:58] #1134 closed

[2021-08-07 00:30] pankopon commented on #1202
Resources are freed when the synthesizer object is destroyed (manually or when it goes out of scope).
StopSpeakingAsync() does not free resources, it was introduced so that synthesis can be stopped/cancelled before it would naturally end. See https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/354 for background.

[2021-08-07 00:30] #1202 closed

[2021-08-07 01:11] pankopon commented on #1199
Thanks for the feedback and improvement suggestions. The 10 sec wait is indeed due the recognizer/service not returning to an idle state before an SDK internal timeout, this is controlled in native C++ implementation. Sometimes it may or may not trigger in the same use case depending on just small timing differences in the order of internal operations, though in this case it is admittedly consiste

[2021-08-07 02:29] pankopon commented on #1114
Based on the log, connection to the service is not confirmed before 4427ms. The service indicates the start of processing (turn.start) shortly after. From that point onwards the time of received events w.r.t. offset and duration of speech (e.g. "6500000 (100ns)" = 650ms) seems normal. So the perceived delay before the first speech event is due to the time taken to establish an actual connection to

[2021-08-07 02:29] #1114 closed

[2021-08-07 04:02] abhishekk673 commented on #1200
hello @pankopon @glharper

while Calling  start_recognition() and stop_recognition()  to start and stop.Its not working in the code.Can you please check once

[2021-08-08 04:05] Captain-Oppai opened #1203 "Build your app in LUIS portal tutorial only returning RecognizedSpeech"
**Describe the bug**
After finishing the tutorial [here](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-get-started-create-app), the finished project never returns anything other than "Intent not recognized" regardless of the intent I'm trying to test.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the tutorial from the link above
2. Fill in the subscription key,

[2021-08-09 04:46] lqkun commented on #1016
你好 我在lunix上使用语音sdk也遇见了同样的问题 请问是如何解决的？ 谢谢

java.lang.UnsatisfiedLinkError: 'void com.microsoft.cognitiveservices.speech.SpeechConfig.setTempDirectory(java.lang.String)'
	at com.microsoft.cognitiveservices.speech.SpeechConfig.setTempDirectory(Native Method) ~[client-sdk-1.18.0.jar!/:?]
	at com.microsoft.cognitiveservices.speech.SpeechConfig.<clinit>(SpeechConfig.java:77) ~[client-sdk-1.18.0.jar!/:?]

[2021-08-09 14:59] jhakulin commented on #1203
@Captain-Oppai Thanks for the report. we will check.

[2021-08-09 16:00] jhakulin commented on #1124
Closing the issue, let us know if you see problems still.

[2021-08-09 16:00] #1124 closed

[2021-08-09 18:59] glharper commented on #1190
@has-n [Version 1.18.1](https://github.com/microsoft/cognitive-services-speech-sdk-js/releases/tag/v1.18.1) of the JS Speech SDK has been released with a fix for this issue. Thanks again for reporting it, and using Speech SDK.

[2021-08-09 23:35] jhakulin commented on #1203
@Captain-Oppai We have checked that in your session and seems that used key is not authorized to do the required intent operation.

Could you please get the prediction resource and use that key? See link below.
https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-how-to-azure-subscription?tabs=portal

In addition, we are making change to service to show an error in case of invalid k

[2021-08-09 23:56] Captain-Oppai commented on #1203
That was it, thanks! I think an error like that would really help (especially for people who are not well versed in using Azure).

[2021-08-09 23:56] #1203 closed

[2021-08-10 08:24] alondorn commented on #1124
@jhakulin
As I understand from the QA team, the problem seems to be solved now.
Thank you.

[2021-08-10 12:27] ShrivastavaAkash opened #1205 "Should KeywordRecognitionModel be singleton or transient"
Hi,

I'm trying to run this SDK on a server app where different audio streaming sessions may have the `Keywords` that the app needs to recognize.

I have created a model for Keyword Recognition from speech studio and I'm seeing huge performance problems when I run close to ~10 concurrent sessions.

Right now I'm using the model as a singleton, so all sessions share the same model instance (which w

[2021-08-10 15:04] yveskaufmann commented on #1154
Thank you,

for this information.

[2021-08-10 18:35] roninstar opened #1207 "404 Resource Not Found when trying to get the Speaker Enrollment Phrases"
**Describe the bug**
I have a speech resource in westus.  I upgraded to 1.18 CognitiveServices. I am trying to update my Speaker Identification VoiceProfiles to use the new approved Phrases list to perform TextIndependentSpeakerIdentification.  When I run this call it fails with a 404 error.
[code]
**To Reproduce**
Steps to reproduce the behavior:
Run the above code it will fail.

**Expected behav

[2021-08-11 05:50] Markyboy944 opened #1208 "Using batch Speech Ingestion. Fails on every OTHER file, (with a 401)"
**Describe the bug**
I have set up my Azure batch ingestion environment using the Batch ARM template. I am carefully dragging and dropping WAV files into the "audio-input" folder (using azure storage explorer). (Note -I am not changing anything about my speech service endpoint/keys, or indeed anything else). [Note wav files are just a few seconds in length. Longest is less than 10 seconds]

This i

[2021-08-11 06:47] zhouwangzw commented on #1208
@HenryvanderVegte Could you please help? Thanks!

[2021-08-11 07:54] HenryvanderVegte commented on #1198
Hi,

sorry for the late response!
Yes, in the ARM deployment we set the App Service Plan to "Elastic Premium" here
`        {
            "apiVersion": "2018-02-01",
            "type": "Microsoft.Web/serverfarms",
            "kind": "app",
            "name": "[variables('AppServicePlanName')]",
            "location": "[resourceGroup().location]",
            "properties": {},
            "depe

[2021-08-11 08:25] tomasgreen opened #1209 "version 1.18.0 - iOS - Incompatible with bitcode"
**Describe the bug**
The framework is no longer bitcode-compatible.

**To Reproduce**
Upload an app to App Store Connect using the 1.18.0 version of the framework. Make sure to include bitcode.

**Expected behavior**
Rejected as invalid binary by Apple

**Version of the Cognitive Services Speech SDK**
1.18.0

**Platform, Operating System, and Programming Language**
 - OS: iOS 13.0
 - Hardware: ARM

[2021-08-11 08:28] HenryvanderVegte commented on #1208
Hi,

sadly I can't reproduce the error on my side..
We are always getting the subscription key from the same environment variable inside of the function (https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/ingestion/ingestion-client/FetchTranscription/TranscriptionProcessor.cs, l.38) - did you by any chance update the subscription key inside of the key vault that was

[2021-08-11 12:39] olaviinha opened #1210 "Speech SDK for Python crashes on text-to-speech synthesis"
**Describe the bug**
Text-to-speech crashes in Google Colab (one of the most popular Jupyter Notebook environments). It's the only Python environment I have at my disposal, so I simply don't know the real extent of this bug.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the provided quickstart notebook [in Colab](https://colab.research.google.com/github/Azure-Samples/cognitive-service

[2021-08-11 13:51] jhakulin commented on #1209
@tomasgreen I will look into this, could you confirm your app is deploying arm64 flavor only? Your report sounds like a regression in 1.18.0, could you confirm bitcode is ok with the earlier SDK version?

[2021-08-11 13:52] jhakulin commented on #919
Reopening the issue and setting this issue accepted as we are updating ios packages to xcframeworks in near future.

[2021-08-11 14:57] yulin-li commented on #1210
Hi @olaviinha , thx for using azure speech and reporting this is issue. This is weird but I can repro it. We will take a look.

[2021-08-11 15:04] olaviinha commented on #1210
Thanks! I further found that this way it works just fine and dandy:
[code]

So it must be something in the `.get()` part:
[code]

[2021-08-11 15:10] jhakulin commented on #1210
@olaviinha Thanks for the report and log. The problem happens probably because playback device is not found.

[850514]: 23169ms SPX_DBG_TRACE_VERBOSE:  default_speaker.cpp:219 The device name of speaker as a property is ''
[850514]: 23174ms SPX_TRACE_ERROR:  audio_sys.cpp:555 No playback device was found.
[850514]: 23174ms SPX_TRACE_ERROR:  audio_sys.cpp:682 Error opening audio playback device 0
[

[2021-08-11 16:21] madCodes opened #1212 "Speaker Diarization doesnt not work for async conversation transcription ."
I have downloaded the "conversation transcription " quickstart and ran in "async" transcription mode for the sample audio file "katiesteve.wav" without registering the voice samples. I get the transcriptions as expected, but the userId I get in the result is unidentified for both the speakers. But as per the note in the link [here ](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-

[2021-08-11 16:49] tomasgreen commented on #1209
Yes, I’m targeting arm64 only.

One of our projects has been a little out of date with it’s pod-dependencies. Today we upgraded from 1.14.0  to 1.18.0. This led to the conclusion that it was the most recent version that had the problem. After trying a number of different versions it turns out that the framework hasn’t been compatible with bitcode since 1.14.0.

P.S
The problem might shed some ligh

[2021-08-11 20:23] jhakulin commented on #1205
@ShrivastavaAkash Thanks for the report. We are checking what is the main reason for the performance issue and let you know what could be best approach here. I believe it is just due to several instances of KeywordRecognizer running at the same time. I would believe also that using singleton model or several model (e.g. separate KWS model per instance) does not make a difference to performance.

[2021-08-11 22:22] sarahlume commented on #1212
Speaker diarization for guest which doesn't have profile is disabled per our legal advice.
If you would like to turn on this feature, Add the following code
config.SetProperty("DifferentiateGuestSpeakers", "True");

[2021-08-12 09:20] madCodes commented on #1212
@sarahlume  Thank you, I have tried the "DifferentiateGuestSpeakers" setting as suggested and now, I see one user is getting UserId as "Guest_0" and the other as "Unidentified".  Is this expected? This may be enough to get around diarization for just 2 users though :)

[2021-08-12 12:00] olaviinha commented on #1210
You're the experts, but just pointing out that it should actually probably be a warning rather than an error, as this should work without an output device as per documentation:
[code]
This is also how I've used it in Colab in the past and it has worked.

[2021-08-12 18:58] sarahlume commented on #1212
Yes, It's expected. And if the second guest continue talking, he/she will also get recognized. With the current audio, the service didn't get enough audio to get the second guest identified

[2021-08-13 23:03] hachandw opened #1214 "Is it ok to use locale instead of language code in the translate request?"
Hi,

We want to use Azure Cognitive service's Translator service. However, the requests that we would get will contain the source and target locale instead of language code.
We tried a few locales and noticed that Translation service correctly identifies the language code from it. For e.g., Chinese (Cantonese,Traditional) which is locale "zh-HK" is identified as "yue" language code, Chinese(Mandar

[2021-08-14 09:25] githluo commented on #1016
你好，在CentOS Linux release 7.8.2003 (Core)遇到了同样的问题，client-sdk.1.18.0

org.springframework.web.util.NestedServletException: Handler dispatch failed; nested exception is java.lang.UnsatisfiedLinkError: com.microsoft.cognitiveservices.speech.SpeechConfig.setTempDirectory(Ljava/lang/String;)V
        at org.springframework.web.servlet.DispatcherServlet.doDispatch(DispatcherServlet.java:1053)
        at

[2021-08-14 15:23] yulin-li commented on #1016
Hi @lqkun and @githluo. could you try to follow [Configure RHEL/CentOS 7 for Speech SDK](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-configure-rhel-centos-7) to install a newer C++ runtime and set the environment variables?

[2021-08-15 02:11] Slinjez commented on #292
I have the same error, however, I'm suspecting that my company firewall or Antivirus could be blocking the request. I will update once I get it resolved.

![image](https://user-images.githubusercontent.com/8165854/129464742-34e06c1d-8263-4431-b257-011936878ae7.png)

[2021-08-16 00:22] aditya17082010 opened #1215 "Exception with an error code: 0x38 (SPXERR_AUDIO_SYS_LIBRARY_NOT_FOUND) when using Heroku cloud"
bk

[2021-08-16 01:44] lqkun commented on #1016
现在初始化可以了 但是会报连不到主机异常，是什么原因引起的呢？

CANCELED: Reason=Error:Connection failed (no connection to the remote host). Internal error: 1. Error details: Code: 2543. SessionId: 0bdecca7b50f4b3683579aa78db2118d

[2021-08-16 08:35] githluo commented on #1016
你好！GCC 版本已升级到8.1.0，并支撑CXXABI_1.3.9和GLIBCXX_3.4.21，sdk合成无异常，但合成后的问题大小为0，请帮忙看下！谢谢！
![image](https://user-images.githubusercontent.com/54386017/129535125-1ab3f4f6-57cb-4421-b746-a5acb12432f0.png)
![image](https://user-images.githubusercontent.com/54386017/129535357-38b3f0de-ecbf-4cc4-9356-614a575a37a0.png)

[2021-08-16 08:40] yulin-li commented on #1016
@lqkun and @githluo , firstly, it will nice if you use English to discuss issues here. You will get better and quicker support as most of  colleagues here are not speaking Chinese.

Secondly, was the `SSL_CERT_FILE` environment environment variable correctly set? If the issue still happen after setting certs, could you [enable SDK logging](https://docs.microsoft.com/azure/cognitive-services/speech

[2021-08-16 09:34] githluo commented on #1016
The setting of SSL_CERT_FILE environment variable has been checked. After synthesis, the file size is still 0KB. Please help to check, thank you!

[mtts.log](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/6991234/mtts.log)

[2021-08-16 14:25] jhakulin commented on #1212
Closed as answered, let us know if there is still an issue.

[2021-08-17 02:19] jhakulin commented on #1205
After checking this, it is known that current KWS model is CPU expensive and that is the reason for the CPU load issue you have with several instances (over 5). We have work ongoing to improve the model in future to consume less CPU and memory. Closing the item.

[2021-08-17 02:19] #1205 closed

[2021-08-17 09:54] madCodes commented on #1212
Thanks. FYI, I have observed that for longer audios, initial few transcriptions has one user as unidentified and later transcriptions for the same user as Guest_02 even for the "async" only mode. with RemoteConversationTranscriptionClient . Also, Is there a way we can hint the system that there are only two people in the conversation?

[2021-08-17 10:30] madCodes opened #1216 "Async Conversation Transcription with RemoteConversationTranscriptionClient completes after first few seconds"
I have around 10 min audio recoding of a conversation. I have followed the "RemoteConversationWithFileAsync" sample and I only get first few seconds of transcriptions ( 7 transcription results ) and RemoteConversationTranscriptionOperation is complete. Is some kind of quota kicking in here? I have Standard pricing Tier and I didn't come across any kind of limitation in the documentation.

[2021-08-17 11:31] adriensas commented on #1116
@pankopon I'm very sorry for the late reply I didn't have the time to come back to that matter before.
If tried many things meanwhile.
It seems that the custom endpoint works in JS when using a predefined language but when I use the `AutoDetectSourceLanguageConfig` and I instantiate the recognizer with `sdk.SpeechRecognizer.FromConfig(speechConfig, autoDetectConfig, audioConfig)`, it cease working

[2021-08-17 11:57] ductranit commented on #762
@jhakulin I come back to here after a year, it's so amazing that I still see the same issue on latest vs for mac.
I also tried with vscode and got the same.
[code]
I'm using the latest package `Microsoft.CognitiveServices.Speech` `1.18.0`

[2021-08-17 16:32] jhakulin commented on #762
@ductranit I just tried these samples with Visual Studio for Mac version 8.10.7 (build 17)
https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/csharp/dotnetcore/from-microphone
https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/csharp/dotnetcore/text-to-speech

And I feel your pain with first experience of running those samples,

[2021-08-17 16:55] ductranit commented on #762
@jhakulin yes, I can run the github sample on my mac and I confirm that `invalid configuration mapping` issue is fixed
Seem this issue only happen on azure function when run on macos (it's fine when I debug on windows)
From above comment I gave you the `TestAzureSpeech.zip`  azure function sample  but you may not notice it.
I update the reproduce code with latest sdk version here:
[TestAzureSpeech

[2021-08-17 19:07] msjunzh commented on #1212
@madCodes It's expected as the algorithm will sometimes output "Unidentified" speaker when it's not sure about the guest tagging. The algorithm/model are trained targeting multiple dataset and optimized for overall experiences.
It will be great if you can grant & share the "longer audio" with us(great if there're transcriptions) to further investigation.

[2021-08-17 19:19] sarahlume commented on #1212
We do have some unofficial API to hint the system the count of people in the conversation.
Here is the C# example
var connection = Connection.FromRecognizer(recognizer);
connection.SetMessageProperty("speech.config", "userSpecifiedMinAttendeeCount", $"\"{minSpeakerNumber}\"");
connection.SetMessageProperty("speech.config", "userSpecifiedMaxAttendeeCount", $"\"{maxSpeakerNumber}\"");

[2021-08-17 19:56] amitkumarshukla commented on #1215
@bhargav27k Could you please provide the sample code and repro steps ? Please provide the platform info too.

[2021-08-17 21:16] aargreen commented on #1184
One follow-up question based on some heap dumps I am doing.  Can SpeechRecognizer.close() fail or throw any exceptions?

[2021-08-17 22:06] pankopon commented on #1016
I tested the current [voice assistant quickstart](https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/java/jre/virtual-assistant) that uses BotFrameworkConfig with Speech SDK 1.18.0 and the following setup, with no errors.

CentOS 7, with all the latest updates and configured like in https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-c

[2021-08-17 22:09] pankopon commented on #1016
Closing this since the linking issue is not reproducible with the described setup. @lqkun and @githluo please create a new issue on problems with other areas like connection.

[2021-08-17 22:09] #1016 closed

[2021-08-17 22:18] jhakulin commented on #762
@ductranit You are correct that with AzureFunction there is still some problems. When I created simple http trigger and added Speech SDK to that, I get the following error:

[8/17/2021 10:06:14 PM] System.Private.CoreLib: Exception while executing function: JarnosTrigger. Microsoft.CognitiveServices.Speech.csharp:
Unable to load shared library 'Microsoft.CognitiveServices.Speech.core.dll' or one o

[2021-08-17 22:21] krishna-doss-mohan commented on #1214
Hi Harsha,
Though the API expects only language code, providing locale works.
If you find specific locale isn’t working as expected; please revert back to us.
Thanks,

[2021-08-18 01:06] cl-6666 opened #1219 "Cannot access speech recognition, translation, synthesis"
Hello, I have encountered a strange problem. To access your speech recognition, synthesis, and translation, you must change the device dns to access, otherwise an error will be reported，Synthetic error message CancellationReason:Error ErrorCode: RuntimeError ErrorDetails:USP error: timeout waiting for the first

[2021-08-18 01:12] cl-6666 commented on #1219
The current test dns is changed to: 223.5.5.5 can be accessed normally, the tested dns is 114.114.114.114, or use the default dns of the device, the picture below can not be accessed normally
![image](https://user-images.githubusercontent.com/51937265/129820702-b6377614-22f3-4b8f-8d76-6e433e773c00.png)

[2021-08-18 02:20] ductranit commented on #762
@jhakulin I had the same error with vscode + azure function extension on macos

[2021-08-18 03:54] jhakulin commented on #1184
@aargreen Some comments here. SpeechRecognizer.close() can throw IllegalStateException if you try to dispose a recognizer while async recognition is running. From 1.18.0 and onwards for closeable objects, you can use try-with-resources pattern like in quickstart sample here: https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/quickstart/java/jre/from-microphone/src/speechsdk

[2021-08-18 04:11] bhargav27k commented on #1215
hello @amitkumarshukla @glharper @pankopon

import azure.cognitiveservices.speech as speechsdk
import sys
import streamlit as st

st.set_page_config(page_title="Reading Fluency Web App",page_icon="",layout="centered",initial_sidebar_state="expanded",)
st.title('Reading Fluency Assesment')
st.sidebar.subheader("About App")

def asses_from_microphone():
    """"performs one-shot pronunciation assess

[2021-08-18 04:17] bhargav27k commented on #1215
hello @amitkumarshukla

heroku requirements.

================================================================

streamlit==0.86.0
numpy==1.18.1
pandas==0.25.3
azure-cognitiveservices-speech==1.18.0

================================================================

mkdir -p ~/.streamlit/

echo "\
[server]\n\
port = $PORT\n\
enableCORS = false\n\
headless = true\n\
\n\
" > ~/.streamlit/config.toml

[2021-08-18 04:21] lqkun commented on #1016
Our idea can also be used normally, but it will cause problems when deployed to the lunix server The sdk log is as follows, please help look at the problem
[LogfilePathAndName.txt](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/7004469/LogfilePathAndName.txt)

[2021-08-18 05:57] msjunzh commented on #1216
@madCodes what's the format of the audio?

[2021-08-18 07:03] madCodes commented on #1216
I converted an mp3 file to .wav file using audacity and added 7 more silent channels to make it 8. So the final file is wav file with 16000Hz , 16 bit PCM  and 8 channels.

[2021-08-18 07:11] msjunzh commented on #1216
Thanks. The 8 channel input should be the DDK microphone array format.
In your case, need to the mp3 file to a 16KHZ mono audio and use the single channel.
And add those 2 lines to make it working.
var connection = Connection.FromRecognizer(conversationTranscriber);
connection.SetMessageProperty("speech.config", MicSpec", "\"1_0_0\"");

[2021-08-18 08:05] madCodes commented on #1216
@msjunzh I have exported the mp3 file to 16KHZ mono single channel and added the lines you suggested, but I see the following error.
": Exception with an error code: 0x14 (SPXERR_UNEXPECTED_CREATE_OBJECT_FAILURE)"

Btw  I'm using this sample code from [here ](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/31abbe1e4b6e3a0bc7d60a72fd3802cb928654dc/samples/csharp/sharedcontent/co

[2021-08-18 11:22] gsgou opened #1220 "feature to set a custom HttpClient or HttpClientHandler"
**Is your feature request related to a problem?
Intercepting the http traffic of mobile apps could reveal application secrets.
Additional security is possible with a custom HttpClient to ignore proxies for example.

**Describe the solution you'd like**
Set a custom default HttpClient or HttpClientHandler.

[2021-08-18 13:48] aargreen commented on #1184
Thanks @jhakulin.  I seem to be making a little progress diagnosing the issue, but still running testing.

Two follow up questions on SpeechRecognizer.close() exceptions.
1) Would the try-with-resources pattern still throw an exception (and fail to cleanup) if async recognition is running?
2) Is it acceptable to call cancel on any async futures that may be running to try to prevent closure excepti

[2021-08-18 15:45] msjunzh commented on #1216
I see, try to add those 2 lines after this?
                    await conversationTranscriber.JoinConversationAsync(conversation);

[2021-08-18 16:30] amitkumarshukla commented on #1220
@gsgou  Your feature request is not very clear to us. Could you please explain in detail what exactly you want to be added inside Microsoft Speech SDK.

[2021-08-18 16:36] amitkumarshukla commented on #1214
@krishna-doss-mohan Thanks a lot @krishna-doss-mohan.
@hachandw I am closing this issue now. If you happen to find any problem please revert back to us.

[2021-08-18 16:36] #1214 closed

[2021-08-18 16:41] amitkumarshukla commented on #1219
@cl-6666 Thanks a lot for your question. Could you please describe the scenario in details. Please provide the platform detail also.

[2021-08-18 19:05] madCodes commented on #1216
@msjunzh  Thanks. After moving those 2 lines as suggested error seems to have gone. But it stills stops after 7 transcription results.
I have tried with different audios, all seem to stop after 7 transcription results.

[2021-08-18 19:46] madCodes commented on #1212
@msjunzh Unfortunately I cannot share those audios. But I downloaded a sample conversation from the public domain and as mentioned in [#1216 ](https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1216), it stops after few transcriptions.
[Long_Weekends_Memberax2wk.zip](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/7009809/Long_Weekends_Memberax2wk.zip)

[2021-08-18 20:02] gsgou commented on #1220
@amitkumarshukla In Microsoft.CognitiveServices.Speech and in Azure.AI.TextAnalytics packages i would like to use an overload of SpeechRecognizer and TextAnalyticsClient that takes as parameters an HttpClient or HttpClientHandler as well beside a key and url. Is this possible in a preview package or as feature request in the pipeline already?

[2021-08-18 22:03] amitkumarshukla commented on #1220
@gsgou Microsoft.CognitiveServices.Speech does not talk to the speech service using REST API. It uses websocket to stream audio to the service and get the transcription back to the client.

What will be the purpose of providing HttpClient or HttpClientHandler as input to the SpeechRecognizer. We are still not clear.

We do have proxysetup. Could that help ?

[2021-08-18 22:18] amitkumarshukla commented on #1215
@aditya17082010 Could you please explain your scenario ? From where the audio is coming ? Why do you need Microphone inside Cloud ? Could you read audio packet from network and use PullStream or PushStream to stream it to speech SDK ?

[2021-08-18 23:28] gsgou commented on #1220
@amitkumarshukla thank you for your Feedback. Thanks for the hint. A proxysetup would be indeed helpful to ensure that the client isn't respecting the mobile's proxy setting.

In case you can point me to the source of Microsoft.CognitiveServices.Speech and Azure.AI.TextAnalytics would be a time savor else i ll do the searching with the next opportunity. Thanks again for the quick reponse :)

[2021-08-18 23:51] amitkumarshukla commented on #1220
For Microsoft speech SDK please follow https://docs.microsoft.com/en-us/dotnet/api/microsoft.cognitiveservices.speech.speechconfig.setproxy?view=azure-dotnet

The same API is there for other languages also.

We do not own the TextAnalytics, but https://docs.microsoft.com/en-us/javascript/api/@azure/ai-text-analytics/textanalyticsclientoptions?view=azure-node-latest#proxyOptions might help you.

Th

[2021-08-18 23:52] aditya17082010 commented on #1215
Hello @amitkumarshukla
I'm trying to build a speech recognition app where user can check their pronunciation assessment capabilities.so i'm using azure cognitive services and streamlit and publish as a webapp.But it working fine in local and unable to work while deployed on heroku cloud.So I require microphone in cloud to record audio from speaker and assess it.

Could you read audio packet from n

[2021-08-19 00:03] amitkumarshukla commented on #1215
Pull Stream sample
https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/fc581947e3d13cecabf6e365f6c441a690d36a25/samples/python/console/speech_sample.py#L346

Push Stream sample
https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/fc581947e3d13cecabf6e365f6c441a690d36a25/samples/python/console/speech_sample.py#L417

Also if you are building webjob consider using Micro

[2021-08-19 08:42] windspeedjeep29 opened #1221 "zh-Hans should be modified to zh-CN in quickstart javascript sample"
https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/quickstart/javascript/browser/translate-speech-to-text-multiple-languages/index.html is using zh-Hans as Chinese-simplified, this will result in connection failure. The correct one is zh-CN.

[2021-08-19 16:39] amitkumarshukla commented on #1221
@glharper Could you please look at this sample.

[2021-08-19 17:06] msjunzh commented on #1216
@madCodes I see. should be some bug for there, I will take a look and update back here.

[2021-08-19 18:20] davidjrh opened #1224 "Speech SDK and Directline Speech with Bot Framework and Unity"
Hello folks,

We’re trying to implement a virtual assistant using the Directline Speech channel, and we need to join different clients using the same conversation (currently using Unity clients). We’ve tried different approaches by setting the following properties with no success:
[code]

On the properties documentation available at [PropertyId Enum (Microsoft.CognitiveServices.Speech) - Azure for

[2021-08-19 18:29] amitkumarshukla commented on #1220
I am closing this issue. Please feel free to open a new one if you need more anything else. Thank you

[2021-08-19 18:29] #1220 closed

[2021-08-19 18:34] amitkumarshukla commented on #1224
@davidjrh Thanks a lot for question. We will get back to you very soon.

[2021-08-19 18:36] amitkumarshukla commented on #1221
Thanks @windspeedjeep29 for notifying the issue.

Thanks a lot @glharper for fixing the issue. I am closing this.

[2021-08-19 18:36] #1221 closed

[2021-08-19 21:50] carlossapnucivicom commented on #426
Hi!,

Is the class [WavStream.java](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/java/jre/console/src/com/microsoft/cognitiveservices/speech/samples/console/WavStream.java) updated for 8kHz WAV support? seems like it fails if it detects a sample rate not equal to 16kHz.

Thanks-

[2021-08-19 22:00] amitkumarshukla commented on #426
@carlossapnucivicom Thanks a lot for pointing this out to us. We should change this. Right now Speech sdk support all the wav formats.

[2021-08-19 23:08] msjunzh commented on #1216
@madCodes Need to remove the timer in [L194](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/31abbe1e4b6e3a0bc7d60a72fd3802cb928654dc/samples/csharp/sharedcontent/console/remote_conversation_samples.cs#L194) for longer audio.
Change it to
            await m_taskCompletionSource.Task;

[2021-08-20 03:54] cl-6666 commented on #1219
Hello, I am directly calling this interface: https://api.translator.azure.cn/translate, the problem I described above will appear. Only by changing the dns can the translation be performed normally. The synthesis is directly used by the SDK. , We found this problem on an Android device

[2021-08-20 05:17] samkuls opened #1225 "Getting exception when deploy Speech SDK on Azure webapp SPXERR_MIC_NOT_AVAILABLE"
**Describe the bug**
When I am trying to deplpy my Speech SDK (from Microphone To Speech)on Azure webapp getting SPXERR_MIC_NOT_AVAILABLE though it is working locally and over local iis deployed also.

**To Reproduce**
Steps to reproduce the behavior:
Write below method on .net core api and deploy on Azure

        public async Task<IActionResult> MicrophoneToSpeechAsync(string languageIso6391Code

[2021-08-20 17:06] amitkumarshukla commented on #1225
@samkuls when you deploy the speech sdk on webapp it tries to use the microphone of the hosted vm. Since the hosted vm do not have a microphone and so you get the above error. Please consider using PullStream or PushStream.

[2021-08-23 07:58] gsgou opened #1227 "add retry for connection failures that will make speech applications more robust"
**Is your feature request related to a problem? Please describe.**
Lately i am receiving from the SDK sporadically but more often following:
ErrorCode: ConnectionFailure
ErrorDetails: Connection failed (no connection to the remote host). Internal error: 1. Error details: Code: 101.

**Describe the solution you'd like**
I would like a retry policy from the SDK so i won't implement it on top.

[2021-08-23 09:49] Abdull commented on #1227
I have noticed this as well. I'd say it's great if the SDK would take care of these errors and abstract them away from us API users.

[2021-08-23 12:57] HenryvanderVegte commented on #1208
No response from user, closing issue for now.

[2021-08-23 12:57] #1208 closed

[2021-08-23 12:58] HenryvanderVegte commented on #1198
No response from user, closing issue for now.

[2021-08-23 12:58] #1198 closed

[2021-08-24 13:44] mlnewbie987 commented on #1225
hello @amitkumarshukla
How to include push stream or pull stream in this code.

import azure.cognitiveservices.speech as speechsdk
import sys

def pronunciation_assessment_from_microphone():
    """"performs one-shot pronunciation assessment asynchronously with input from microphone."""

    # Creates an instance of a speech config with specified subscription key and service region.
    # Replace

[2021-08-24 13:45] mlnewbie987 commented on #1225
@glharper

[2021-08-24 19:03] samkuls commented on #1225
@amitkumarshukla : Can you please help me with some example of PullStream or PushStream ??

[2021-08-25 03:49] sehungen opened #1228 "SpeechRecognizer raise memory leak"
**Describe the bug**
Opened audio file is never released.

**To Reproduce**
Steps to reproduce the behavior:
1. Whenever I create instance of SpeechRecognizer, it opens audio file but never close.
``` speech_recognizer = speechsdk.SpeechRecognizer(speech_config=speech_config, audio_config=audio_input) ```
2. More it is created, more memory is run out.

**Expected behavior**
Add close method or clo

[2021-08-25 10:01] #764 closed

[2021-08-26 11:41] wukun2015 opened #1230 "Azure Speech-To-Text: Chinese accuracy gap between Rest API vs. Java SDK for short audio"
Hello,

i have lot of short Chinese audio wave files of 5 seconds or so in hand. When i transcribe them with Azure Speech-To-Text REST API and Java SDK respectively, i found REST API recognition accuracy seems consistently a little bit worse than that of Java SDK, though the gap is less than 1% CER (Character Error Rate).

My comparison is based on the same regions and the gap is consistent. The r

[2021-08-26 22:01] carlossapnucivicom opened #1231 "WavStream.java class does not support 8kHz WAV recognition"
**Describe the bug**
The Helper class [WavStream.java](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/java/jre/console/src/com/microsoft/cognitiveservices/speech/samples/console/WavStream.java) only supports 16kHz sample rate for WAV format and throws exception for 8kHz.

**To Reproduce**
Steps to reproduce the behavior:
1. Tried to do a speech recognition in a

[2021-08-27 13:48] gsgou opened #1232 "[android] cannot open websocket when using mobile data"
**Describe the bug**
Can connect using wifi data but not using mobile data (API: StartContinuousRecognitionAsync()).
Checked that the app has permission to use mobile data.
android.permission.INTERNET is granted.
This bug was introduced a couple days ago (7-14 days) though the package and the logic was not updated.
Perhaps something broke it in the backend or maybe my phone operator..

**Expected

[2021-08-28 00:11] BrianMouncer commented on #1228
I should have kept this open, for tracking.
If you have more feedback, let us know.
If not, you can use this to track when we add Close() or __Exit__ in a future release.

Thanks again for reporting this issue.

[2021-08-29 14:02] georgearun commented on #477
I'm not able to get eastus region python client from the swagger. I have used the following in import url swagger for version 2
https://eastus.cris.ai/docs/v2.0/swagger.

Can someone help me out in this

[2021-08-29 14:12] georgearun opened #1233 "Not able to get the eastus region for python client from swagger v2"
I am using Azure Batch transcription services for Speech to Text. Previously was using Rest API v2 for Batch transcription. Currently, they have migrated to v3.

I am using -> "https://editor.swagger.io/" to generate client from File -> import url -> "https://eastus.cris.ai/docs/v2.0/swagger" but not able to generate client client.

Has anyone worked on this or migrated their code to v3

[2021-08-30 06:56] chlandsi commented on #1233
Hi, the swagger definition for the v3 API is at https://eastus.dev.cognitive.microsoft.com/docs/services/speech-to-text-api-v3-0/export?DocumentFormat=Swagger&ApiName=Speech%20to%20Text%20API%20v3.0. A sample for how to get the Python client is [here](https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/batch/python).

[2021-08-30 11:00] gsgou commented on #1232
setting Proxy had the same behaviour:
`speechConfig.SetProxy("178.63.17.151", 3128);`

ErrorCode: ConnectionFailure
ErrorDetails: Connection failed (no connection to the remote host). Internal error: 1. Error details: Code: 101. SessionId: de5c2295e7917744be272fa336e72d9d

[2021-08-30 12:01] gsgou commented on #1232
@rhurey any idea how can i debug this?
Also do you know if its implemented a ping keep-alive: Sending periodic "ping" messages from client to server every X seconds, and waiting for a "pong" to return from server. If server doesn't give "pong" back within Y seconds, restart the connection on client. Websocket clients in mobile maybe do not handle idle connection drops in poor coverage very well.
T

[2021-08-30 13:21] gsgou commented on #1232
@rhurey i was able to  set PropertyId.Speech_LogFilename and get some log data for review.
[speechsdklog.txt](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/7076949/speechsdklog.txt)

I appreciate any helpful Feedback. I can't publish a mobile app with this issue open.

[2021-08-30 13:48] madCodes commented on #1216
I missed spotting that line. Thanks, that is the culprit.

[2021-08-30 13:58] georgearun commented on #1233
Can you provide a link to the sample code with Python where they have used SAS URI.
Thanks

[2021-08-30 14:06] Abdull commented on #1232
I can reproduce this bug with my Android device.

[2021-08-30 15:30] chlandsi commented on #1233
You can pass a SAS Uri in the sample [here](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/b251c80e3bed61b247519601a3db8cb147e97278/samples/batch/python/python-client/main.py#L155). If you are looking to generate a SAS Uri from Python, please refer to the [docs of the Azure Storage SDK](https://docs.microsoft.com/en-us/python/api/azure-storage-blob/azure.storage.blob?view=azur

[2021-08-30 18:45] rhurey commented on #1227
Right now the cadence is every 2 months(ish) so the first half of October is the best resolution estimate I have.

[2021-08-30 18:54] gsgou commented on #1227
@rhurey  tks a lot for the estimation. Appreciate it!
Can some of the team have a look as well on this one?
https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1232

[2021-08-30 19:44] #1207 closed

[2021-08-30 20:09] BrianMouncer commented on #1230
@wukun2015

Thanks for sending me the audio data and your test results.
I suspected that maybe the audio bit rate or number of channels was different, as the Speech SDK does a better job of automatically reading the RIFF format and sending it along to the service, so it is easy mistake to overlook with the REST api.
However, the files are all the same, and are 16b 16khz mono that we work with best

[2021-08-31 06:34] samkuls opened #1234 "System.DllNotFoundException: Unable to load DLL 'Microsoft.CognitiveServices.Speech.core.dll' or one of its dependencies: The specified module could not be found. (0x8007007E)"
**Describe the bug**
System.DllNotFoundException: Unable to load DLL 'Microsoft.CognitiveServices.Speech.core.dll' or one of its dependencies: The specified module could not be found. (0x8007007E)

**To Reproduce**
Steps to reproduce the behavior:
1. Created STT from wave file

**Expected behavior**
It should convert the uploaded wave file to text

**Version of the Cognitive Services Speech SDK**

[2021-08-31 08:21] wolfma61 commented on #1230
unfortunately the service internal pipelines between the REST api and the SDK (websocket connection) are not identical. There are slight differences between both pipelines in processing and audio conversion. This might result in slightly different results (unfortunately).

The REST pipeline is the 'older' pipeline, there is an internal work item to unify the pipelines to reduce code duplication an

[2021-08-31 09:27] yavin87 commented on #365
I had the same issue but on a clean Debian Bullseye Docker container and your suggestion of installing the _ca-certificates_ package fixed it. Thanks Mark!

[2021-08-31 12:56] samkuls commented on #1225
@amitkumarshukla : can you please help on this please?

[2021-08-31 13:06] samkuls commented on #436
Getting exception when deploy Speech SDK on Azure webapp SPXERR_MIC_NOT_AVAILABLE

Describe the bug
When I am trying to deplpy my Speech SDK (from Microphone To Speech)on Azure webapp getting SPXERR_MIC_NOT_AVAILABLE though it is working locally and over local iis deployed also.

To Reproduce
Steps to reproduce the behavior:
Write below method on .net core api and deploy on Azure

    public async

[2021-08-31 14:33] jhakulin commented on #1216
Closing the issue as looks like this has been answered

[2021-08-31 14:33] #1216 closed

[2021-08-31 14:54] rhurey commented on #436
It may be better to open this as a new issue.

Can you help clarify your intentions? When running in a webapp, the code will be executed in the cloud, where there isn't a microphone. If you want to recognize speech from a web page, the [JavaScript version](https://www.npmjs.com/package/microsoft-cognitiveservices-speech-sdk) of the Speech SDK can do that.

[2021-08-31 16:11] amitkumarshukla commented on #1225
@samkuls I am sorry as I thought I replied to you but looks like I replied to some other thread having almost the similar problem. Please look at https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1215.  Please follow the examples https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1215#issuecomment-901507916

[2021-08-31 17:11] brandom-msft commented on #1234
@samkuls
The error you're getting indicates an issue resolving dependencies, can you share more about the project setup?

In the references list of your project, what is the status of the SDK? E.g. does it have a ⚠warning symbol on it? Does the path to the package location seem correct?

[2021-08-31 17:16] brandom-msft commented on #1232
@gsgou Thanks for raising the issue and also for including the log. I'll raise this with the team and reply back when I have more.

[2021-08-31 17:24] gsgou commented on #1232
Thank you @brandom-msft for your Feedback. I am gonna have soon some Android beta users.
Writing code now to collect the extensive logs from users with this issue and will provide
additional info here when i have more data available.

[2021-08-31 18:43] samkuls commented on #1215
Hi Amit, I have developed api in .net core and want to exposing to our organization . there are two apis. first one is working where i am uploading wave file and performing STT. second is not working when using microphone and deployed on Azure webapp. please let me know solution considering developed in c#

[2021-08-31 18:59] brandom-msft commented on #1232
@gsgou Please do send any additional logging when you have it.

It's puzzling that this does work on wifi but then fails on mobile. Have you verified the internet connection is working on mobile for the customers that see this?

Alternatively wondering if it is due to a permissions issue. Some mobile settings have permissions similar to "allow connection over wifi but not cellular", curious if the

[2021-08-31 19:47] gsgou commented on #1232
@brandom-msft  i went through every single option because i can reproduce it in my phone every single time.  Its even more puzzling that the same code used to Work before 14 days and i Had No OS Updates.
Only could have changed is the Server or adjustnents from my phone operator.

[2021-08-31 19:58] jhakulin commented on #1234
@samkuls Could you confirm you have installed Microsoft Visual C++ Redistributable for Visual Studio 2019 ?

See prerequisites here:
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/quickstarts/setup-platform?tabs=dotnet%2Cwindows%2Cjre%2Cbrowser&pivots=programming-language-csharp

[2021-09-01 00:39] #1231 closed

[2021-09-01 05:12] samkuls commented on #1234
@jhakulin Thank you

[2021-09-01 06:32] gauravG2021 opened #1238 "How to get session id for synthesizer"
Hi,
we can get sessiond for stt using below code

// register the callbacks
 recognizer->Recognizing.Connect([recog_channel](const SpeechRecognitionEventArgs& e) noexcept
                                {
                                });
resource->recognizer->SessionStarted.Connect([recog_channel](const SessionEventArgs& e) noexcept
                                {

[2021-09-01 09:21] balarajupetta opened #1239 "issue is not found"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. ...
2. ...

**Expected behavior**
A clear and concise description of what you expected to happen.

**Version of the Cognitive Services Speech SDK**
Which version of the SDK are you using.

**Platform, Operating System, and Programming Language**
 - OS: [e.g. Windows, Linux

[2021-09-02 01:23] rhurey commented on #1232
The error code 101 maps to "Network not reachable" from the underlying platform.

Shot in the dark: The cell network has IPV4 support right? The Speech SDK is IPV4 only.

[2021-09-02 04:09] #1234 closed

[2021-09-02 13:16] #1233 closed

[2021-09-02 17:27] deeplearning987 opened #1241 "Pronunciation Assesment"
Hello @glharper @amitkumarshukla

**Describe the bug**
A clear and concise description of what the bug is.

In Pronunciation Assessment. If any single letter or key word in the displayed  text that doesn't match with the spoken output then it is not displaying the result.

**To Reproduce**
Steps to reproduce the behavior:
1. It should try to give word mismatch issue.

**Expected behavior**
A clear

[2021-09-02 18:15] Eceder opened #1242 "Deployment US GOV Virginia"
**Describe the bug**
Deployed solution following Getting started guide. Per the guide all of the pieces are there no errors during deployment.
Being deployed to USGOV Virginia

https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/ingestion/ingestion-client/Setup/guide.md

**To Reproduce**
Upload files to audio-input but don't get any results back. Files just stay in a

[2021-09-02 18:26] brandom-msft commented on #1239
This looks to be an empty template, closing issue.

[2021-09-02 18:26] #1239 closed

[2021-09-03 05:45] gauravG2021 opened #1243 "Crash in sdk 1.17.0"
**Describe the bug**
the crash does not reproduce every time

**To Reproduce**
Steps to reproduce the behavior:
1. It is reporduced when we do load test our servers, does not reproduce every time

**Expected behavior**
Should not crash

Which version of the SDK are you using.
1.17.0

**Platform, Operating System, and Programming Language**
 - OS: NAME="Ubuntu" VERSION="18.04.5 LTS (Bionic Beaver)"

[2021-09-03 06:50] yulin-li commented on #1238
@gauravG2021, thx for reaching out. You can use [result id](https://docs.microsoft.com/en-us/cpp/cognitive-services/speech/speechsynthesisresult#resultid) of `SpeechSynthesisResult` for this purpose.

[2021-09-03 13:10] fantinuoli opened #1244 "Installing Python install azure-cognitiveservices-speech on macOS M1"
**Describe the bug**
Impossible to install the python azure-cognitiveservices-speech on a macOS M1 machine

**To Reproduce**
pip install install azure-cognitiveservices-speech

**Expected behavior**
Module gets installed

**Version of the Cognitive Services Speech SDK**
1.18.0

**Platform, Operating System, and Programming Language**
 - OS: macOS Big Sur
 - Hardware ARM (M1)
 - Programming languag

[2021-09-03 14:46] HenryvanderVegte commented on #1242
Hi @Eceder,

deploying the Ingestion Client to Azure Gov should be possible, but is not supported by the ARM template right now.
There are 2 more things you need to do to make it work. You need to go to your StartTranscriptionFunction and change the following application settings (under Settings->Configuration->Application Settings):

1.) Change the variable "AzureSpeechServicesRegion" to "usgovvi

[2021-09-03 22:22] jhakulin commented on #1244
@fantinuoli Thanks for reporting the issue, we are working on Mac M1 support and targeting to release the support (including Python wheels) on 1.19.0 Speech SDK release.

[2021-09-05 08:15] pierat opened #1245 "Sample bookmark listener from tts Azure documentation not working"
Hi,

In a java application, I try to use bookmarks for evaluating audio offsets in a text-to-speech conversion and even the sample code from the tts documentation is giving false results.

Any idea on what is the problem in my coding or a limitation that applies ?

Here is the code :

[code]

And here is the result :

[code]

Which is not the expected result.

My configuration for this test : Wind

[2021-09-06 06:01] aparnaji commented on #1051
Pls let know if any new model is published, I am having similar issue, the recognition of speaker 1 and speaker 2 separation is very minimal, most of  it gets attributed to first speaker 1 and very minimal on speaker 2. I cannot share my files here

[2021-09-06 08:48] samkuls opened #1246 "SPXERR_MIC_NOT_AVAILABLE"
**Issue Details**
Created one api for speech to text using microphone. locally working but how to make this work on azure webapp.
i know azure webapp deploy code into vm and there microphone is not enabled . but i need some workaround.
Note: I have developed these api in .Net Core

**How To Reproduce**
Just make an API from below code in .Net core

        [HttpGet]
        [Route("MicrophoneToSpe

[2021-09-06 09:05] samkuls commented on #436
@rhurey : my intention is to create one api which can be consumed by my organization to perform STT through microphone. i need solution in .Net. Thanks in advance.

[2021-09-06 11:01] pierat commented on #1245
Seems to be a bug because the code is really simple and exactly conforming to all samples found in the documentation. Is this feature really implemented in Java ?

[2021-09-07 05:28] samkuls commented on #1215
@amitkumarms : please provide me any example of pullstream/pushstream in c#

[2021-09-07 06:21] samkuls commented on #436
@gghizila : I am using Speech SDK in Service API. How to use stream based APIs instead of microphone in c#??
Thanks.

[2021-09-07 07:24] hiddow commented on #1124
@jhakulin Hi，The problem seems to have reappeared again!

[2021-09-07 14:01] marki555 opened #1247 "Different/wrong results when using Speech-to-text container"
**Describe the bug**
When using Python SDK for Speech-to-text with endpoint pointing to Container, we see 2 issues:
1) numbers in the result are not converted to digits, but are output as text
2) Punctuation and capitalization is wrong in DisplayText output - almost all words start with capital letter and it merges words, while it is OK when using cloud endpoint.

**To Reproduce**
Steps to reprodu

[2021-09-07 14:14] Eceder commented on #1242
I made changes but still getting same failures
Should I also be making these changes to the FetchTranscriptionFunction?

[2021-09-07 14:17] rhurey commented on #1246
Ok, I think I have a clear picture now.

This code will run the recognition code on the server that's hosting the web app. In Azure, there isn't a microphone attached to the server. When it's run locally, there is a microphone so the method works as expected. (Presumably because you're sitting in front of the machine hosting the web app)

The key concept is some code running locally where the user

[2021-09-07 16:23] linaelf commented on #1051
@aparnaji We are working on improving the diarization right now, hopefully to release new version in a few weeks. Will keep you posted. Thanks!

[2021-09-07 17:26] trrwilson commented on #1243
Thank you, Gaurav! We're taking a look at this on our end. In the meantime, if you could get either of the following, it'd be a huge help:

- A minimal snippet of repro code (with no subscription details, of course!) that hits the crash (even occasionally)
- A log file for the SDK when the crash happens, per the details at https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/ho

[2021-09-08 11:25] HenryvanderVegte commented on #1242
Hi,

the reason why you were seeing this issue was that the storage endpoint was formatted incorrectly for Azure Gov (core.windows.net vs. core.usgovcloudapi.net).
I have updated the ARM template now to include Azure Gov regions (https://github.com/Azure-Samples/cognitive-services-speech-sdk/pull/1248) , please redeploy the Ingestion Client with the updated template and let me know if it worked!

[2021-09-08 23:13] gsgou commented on #1232
@rhurey tks for the Feedback, the cell network supports IPv4.

I had a flight to Spain today and since a different network is used I tested again on my device and the service works fine here.

So If there hasnt been Backend Updates then indeed could be related to my cell network as the connection stopped working at some point of time without recovering since then. Telekom network in Germany is ver

[2021-09-09 01:19] Eceder commented on #1242
Redeployed and is working as expected. Thank you for your time and effort’s

[2021-09-09 08:06] HenryvanderVegte commented on #1242
Perfect, thanks!

[2021-09-09 08:06] #1242 closed

[2021-09-09 11:05] komjii2 opened #1251 "Azure TTS Viseme Audio Offset"
I'm using Azure TTS Viseme events.
- https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-speech-synthesis-viseme?pivots=programming-language-csharp

When using Azure tts viseme SDK, the audio offset of viseme seems to be wrong.
Some viseme comes before the real audio and some viseme comes after the real audio.
In start part of every sentence is more critical to use.

ht

[2021-09-09 16:10] noahsw opened #1252 "Add GovCloud regions to Sample SDK"
https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/e1ccf3156c94f0b1a668946fc7dd41a64af1230e/samples/js/browser/index.html#L30

Thanks!

[2021-09-09 17:47] gsgou commented on #1232
@rhurey, @brandom-msft since the same configuration works in Spain, when i am in Germany i ll test with http://websocketstest.com

Might be related to carriers setting up broken transparent proxies according to these posts:
https://stackoverflow.com/questions/5557776
https://stackoverflow.com/questions/53219350

[2021-09-09 21:01] rhurey commented on #1232
Thanks for the info. I've also reached out to one of our teams in Germany to see if anyone from there has the same provider and can try to see what results they get.

Also, can you try to see if the JavaScript based demo [here](https://azure.microsoft.com/en-us/services/cognitive-services/speech-to-text/#features) works since it will use a different websocket layer to connect (Namely the one the b

[2021-09-10 08:43] gsgou commented on #1232
I ll test the Javascript when i am back in Germany first week of October.

For completness my mobile network carrier is from Telekom on 4G while the operator is named Congstar.

[2021-09-10 09:26] FrogView opened #1253 "The Confidence field is missing in WordLevelTimingResult class."
![image](https://user-images.githubusercontent.com/23505231/132830967-f1da740f-8edc-4cb9-8652-7e24f23ccf96.png)

I want to get the results of word level. When I call the C# SDK API directly, **the returned word results does not contains the Confidence field**.
![image](https://user-images.githubusercontent.com/23505231/132831480-f2146bb6-0c44-4a21-b3f0-09217fed28ba.png)

**But the JSON results fro

[2021-09-13 16:29] glharper commented on #1252
@noahsw Please see the linked JS PR. Adding those regions to the sample won't, by itself, enable access via JS SDK. The linked PR, which should be in version 1.19 (due by mid-October), will help. I will add these regions to the sample to coincide with the 1.19 release.

[2021-09-13 21:31] #1238 closed

[2021-09-14 02:53] sosilent opened #1254 "failed to connect host"
**Describe the bug**
cognitive-services-speech-sdk/samples jdk demo failed to create tts mp3 file.

**To Reproduce**
Steps to reproduce the behavior:
1. clone cognitive-services-speech-sdk
2. .mvn package
3. run
4. input some words, and the output is:

Enter some text that you want to synthesize, or enter empty text to exit.

CANCELED: Reason=Error
CANCELED: ErrorCode=ConnectionFailure
CANCELED: E

[2021-09-14 18:35] glharper commented on #1254
@sosilent Thanks for using SpeechSDK, and writing this issue up. Please make sure your certificates are correctly configured by working through [this guide.](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-configure-openssl-linux?pivots=programming-language-java)

Let us know if you have issues after doing that.

[2021-09-15 00:27] azdragon2 opened #1255 "Unity VirtualAssistantPreview - Websocket upgrade failed"
**Describe the bug**
Running in Editor, the following error occurs on Run (and also when "Start Listening" button is pressed):

[code]

**To Reproduce**

1. Download project, open in Unity 2020.3.16f1 as Target 'PC, Mac & Linux Standalone'
2. Import the Microsoft.CongnitiveServices.Speech.1.18.0.unitypackage
3. Open SampleDialogServiceConnector scene
3. Delete Missing Script on 'Canvas' gameobject

[2021-09-15 04:22] yshahin commented on #1247
This is a know issue, there are differences between cloud and container because not all components are shipped into the container. One of these components is the full Post Processing components, what is shipped is a lite version. We are working on a new capability that will allow our containers to download the full post processing models and bring them closer to parity with the cloud version.

[2021-09-15 05:43] gauravG2021 commented on #1243
struct MyResource{

        std::shared_ptr<SpeechSynthesizer> synthesizer;
        std::shared_ptr<AudioDataStream> audio_stream;
        std::string result_id;

        MyResource(){
                cout<< "#### Creating new Resource ####");
                synthesizer=nullptr;
                audio_stream=nullptr;

                result_id="";

                static auto subscriptionKey ="key

[2021-09-15 18:45] glharper commented on #1255
@azdragon2 Which SDK repo/sample did you pull from to repro this?

[2021-09-16 00:32] trrwilson commented on #1255
I think we cleared up which one it was: https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/csharp/unity/VirtualAssistantPreview

@azdragon2 if it's possible, could you please collect SDK logs via the instructions described at https://docs.microsoft.com/azure/cognitive-services/speech-service/how-to-use-logging ? There's a bit of extra setup to get file output workin

[2021-09-16 18:23] azdragon2 commented on #1255
For resource type, here's my Speech service info: https://imgur.com/a/ZfQ9fyE
For Key and Region, I regenerated a new key and tried it, same results. Region is listed in the pictures above as well.

Here's the log file of a failed attempt. I'm reading it right now to see if I can get any hints to the issue.

[code]

[2021-09-17 08:10] yulin-li commented on #1251
Hi @komjii2 , thanks for using viseme feature and reporting this bug. I have forwarded this bug to our model engineer and he will investigate. cc @Yueying-Liu

[2021-09-17 08:13] yulin-li commented on #1241
Hi @deeplearning987 , thx for reaching out. Could you paste the repro codes and sample audio so we can investigate?

[2021-09-17 23:35] brianarch82 commented on #1245
I am also experiencing this bug from .NET.

[2021-09-21 05:38] gauravG2021 opened #1259 "Usage of DisconnectAll()"
Hi,
We call below apis to unregister the call backs
                     synthesizer->SynthesisStarted.DisconnectAll();
                     synthesizer->Synthesizing.DisconnectAll();
                      synthesizer->SynthesisCanceled.DisconnectAll();
                      synthesizer->SynthesisCompleted.DisconnectAll();

However we have found that some times the call backs of SynthesisStarted a

[2021-09-21 18:38] #1246 closed

[2021-09-21 18:38] rhurey commented on #1246
I'm closing this issue, but please let us know if there's any more information we can provide.

[2021-09-22 21:47] rhurey commented on #1259
Thanks for getting in touch with us.

I took the code above and filled in a couple of blanks and ran it. I got back the results I expected, so wanted to check back on where I'd filled in blanks and see if I was on track to what you had.

Namely, I added main and it's contents, defined a small my_channel_t, and remove the lambda capture by reference in create_synthsizer

Here's what I have in all:

[2021-09-23 07:54] fengmao31 opened #1261 "python voice awake"
it is look like that no python voice awake api for python.
I want to use the voice awake in Nao Robot.

[2021-09-23 10:31] hemnaathR opened #1262 "API + Model release notes / change documentation"
Hello,
Is there a place where the changes to the cognitive services api and new models are documented?

Our application broke recently because the POSTing of transcription using the batch client started failing with

`BatchClient.FailedHttpClientRequestException: Given timeToLive value is too long.`

so then we had to go and update the timeToLive value.

Then we noticed that the transcription resu

[2021-09-24 10:24] zhouwangzw commented on #1262
What do you mean by "a lot more recognized phrases"? Are you referring to the multiple NBest results for the same recognized phrase. Do you see any change in accuracy?

[2021-09-24 11:10] hemnaathR commented on #1262
no just a lot more "recognizedPhrases": [...] in the json result. For example, this used to be one recognizedPhrase:

"I'm going to avoid diving straight into questions"

now its like

"I'm."
"Going to avoid diving."
"Straight into questions."

we are using DictatedAndAutomatic punctuation mode.

[2021-09-24 11:30] zhouwangzw commented on #1262
Would it be possible to share the audio and the result you get?

[2021-09-24 13:36] hemnaathR commented on #1262
yeah ill try to get permission. is there a way i can send it to you directly and not attach it here?

[2021-09-24 13:58] gauravG2021 commented on #1243
Hi
Crash reproduced today
 Synthesis logs.    https://www.jiocloud.com/s/?t=RbpfeOuveJlTNNKZ&s=a5
recog logs            https://www.jiocloud.com/s/?t=RQtlkjiXVaNGKOMX&s=a5

[2021-09-24 14:06] hemnaathR commented on #1262
there are a few examples here regarding over segmentation of phrases

[sky_boris.zip](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/7226175/sky_boris.zip)

Well.
Looking at what we can.
Do to sort that out.
...
A first of all, we've got the.
Fastest growing economy.
In the GC.
...
I think.
The.
British.

[2021-09-24 20:32] rhurey commented on #1261
Do you mean KeywordRecognition where the SDK will wait to hear a keyword before beginning recognition?

There's a python sample of that [here](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/1d2ea6302a8ec8768b611b0d4272f18e099856b5/samples/python/console/speech_sample.py#L291)

[2021-09-27 08:43] ersaurabh101 opened #1264 "Error in speech recognition verification in js on a web browser"
**Describe the bug**
I downloaded all the files and placed in xampp. I am able to run dependent-verification.html. I added

I got the message:
Profile created ProfileId: 6b76d604-9f85-4273-bf72-483546ef34ed
(Enrollment result) Reason: EnrollingVoiceProfile

But when I upload the same wav file on **Test Identification File** and press verify, I get this error
(Verification result) Reason: Canceled

[2021-09-27 15:38] glharper commented on #1264
@ersaurabh101 (I updated your comment to remove the image with credentials displayed). Just checked using the sample and the credentials, I was able to verify the file correctly (see image below). That 400 return means a bad request, and since the underlying operations are REST, if you could try again and show me the network inspector in Chrome for those 400 requests, that could help.

![2021_09_2

[2021-09-27 15:58] ersaurabh101 commented on #1264
This is the network screenshot for you. I also have a question why verify button is disabled. I mean if I have created a profile, next time I only need to verify. Why everytime it asks to create and then verify. If you need anydesk of my system, you can get in touch at ersaurabh101@gmail.com

![image](https://user-images.githubusercontent.com/50316624/134943330-e2c638b5-6649-4c46-a6c1-2dc83863c54b

[2021-09-27 16:20] glharper commented on #1264
@ersaurabh101 I see the issue. You received the result "Enrolli**ng** Voice Profile", and verification won't work until you receive a "Enroll**ed** Voice Profile" result. Try selecting all the "myVoiceIsMyPassport..." files for the enrollment files, then click "Create Voice Profile". The sample will submit each file for enrollment, and after the third or fourth enrollment, you should see "Enrolled

[2021-09-27 16:27] ersaurabh101 commented on #1264
Yes it worked as you guided,
![image](https://user-images.githubusercontent.com/50316624/134948059-c306a85a-55d1-4c11-b9f6-b286bae9af82.png)

but now if i refresh the page and submit another audio to verify, why verify button is disabled ?
![image](https://user-images.githubusercontent.com/50316624/134948225-73190d97-e329-4e50-89a0-6317094de89a.png)

[2021-09-27 16:36] glharper commented on #1264
@ersaurabh101 If you refresh the page, everything in the page will be reset. The SDK cannot hold variable values between page refreshes. To verify another file, click "Choose File" for Test Identification File, select a different file, and click Verify Speaker, without refreshing the page.

[2021-09-27 16:48] ersaurabh101 commented on #1264
Makes sense, 1 last thing.
Image there is a audio button on this html page, user clicks it and speaks, then this audio directly goes to verification, how can this be achieved ? Audio button on html page is simple but how do we pass it for verification ? If you can help in someway, it will be a great headstart.

[2021-09-27 18:03] glharper commented on #1264
@ersaurabh101 Unfortunately, direct microphone input for speaker verification in JS is not supported at the moment.

[2021-09-27 22:36] #1264 closed

[2021-09-27 23:04] origfla opened #1266 "await SpeechSynthesizer Async methods crash without throwing an error"
I'm working in Visual Studio 2019 on a .Net Core 3.1 library and using `Microsoft.CognitiveServices.Speech` ver 1.18.0 and even with the simplest program imaginable:

    using Microsoft.CognitiveServices.Speech;
    using System;
    using System.Net.Http;
    using System.Threading.Tasks;

    namespace TextToSpeech
    {
        public class SimpleAzureTest
        {
            public static a

[2021-09-27 23:57] azdragon2 commented on #1255
Hey @trrwilson, Just wondering if there's any update to this? We have a product launch next month and I was hoping to integrate this if possible, as well as for future projects. Thanks for your help!

[2021-09-28 03:26] yulin-li commented on #1266
I think the code should exit after you hearing the synthesized audio played. And the exit code `0` indicates a normal exit.

What behavior do you expect?

[2021-09-28 04:52] origfla commented on #1266
Yes, that is exactly what I would expect - Unfortunately, what I'm saying happens is that once it reaches the `await` line, it does not execute that line (nothing is played) and the code stops executing, even if there were to be lines of code afterwards.

In other words, the `await` line stops the debugger and it never runs that line of code.

[2021-09-28 05:58] yulin-li commented on #1266
hmm... I cannot repro. I run your codes and heard the audio played. Could you share me the SDK log? https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-use-logging

[2021-09-28 06:01] yulin-li commented on #1266
I was using the following code to repro...

[code]

[2021-09-28 11:03] Demi871023 commented on #578
@nbrindic Sorry, can you share sample project again? This is download link is missing.

[2021-09-28 15:49] ersaurabh101 commented on #1264
Do i get this option in NodeJs ?

[2021-09-28 15:52] glharper commented on #1264
@ersaurabh101 Microphone access from Speech SDK in Node is not possible for any scenario, speaker verification included.

[2021-09-28 19:18] origfla commented on #1266
Yulin, thank you so much for your help with this - I ended up re-writing the class library and it ended up working. The more I think about it, the more I think it may have just been a corrupt file in my csproj or something because nothing else really made much sense.

The point is it is working now and I'm chalking this up to a VS issue rather than a library one. Thank you SO much for oyur time, h

[2021-09-28 19:18] #1266 closed

[2021-09-29 05:16] DaddyWesker opened #1267 "Exception with an error code: 0x27 in python sample"
**Describe the bug**
I've registered in Azure, got myself a key and a region, git cloned this repo and tried to launch simple python sample (https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/python/console/main.py). I've downloaded an mp3 file and placed it's path in the weatherfilenamemp3 variable in speech_sample.py, and filled speech_key and service_region varia

[2021-09-29 13:48] Thomas-mu commented on #502
I am using microsoft cognitive v1.18.0. I need a longer pause before the speech to text ends after the user has entered the activation word. The user must enter separate numbers such as bit 1 2 3 and the user needs a pause for this.

[2021-09-29 17:46] amitkumarshukla commented on #1267
@DaddyWesker Thanks a lot for raising the issue. We are looking into the issue and we will get back to you very soon.

[2021-09-30 07:46] david-95 opened #1268 "Error code: 1007. Error details: Starting September 1st, 2021 standard voices will no longer be supported for new users. Please use n USP state"
I use ssml to generate voice file, to change voice speed.  but I get below error.
I am using nerual voice :
     lang="en-US",voice_name="en-US-AriaNeural"
what can I do if I want to use ssml to change voice speed ?

Speech synthesis canceled: CancellationReason.Error
Error details: Connection was closed by the remote host. Error code: 1007. Error details: Starting September 1st, 2021 standard voi

[2021-09-30 11:57] adthorn opened #1269 "Batch ARM Template and Private Endpoints"
We're having issues with Private Endpoints for the services. Is there a way to use a custom DNS with the speech service? We created everything with Private Endpoints and the Azure DNS is all correct.  It cannot connect to the speech service endpoint. I created a new public speech service , updated the key in the Key vault and then tried it again and no dice. It won't process the files with the sta

[2021-09-30 16:24] amitkumarshukla commented on #1267
@DaddyWesker I verified the mp3 using our c++ API on Linux Mint 20.1 and it works absolutely fine. What is the python version you are using. I can see Linux Mint only have python 3.5 and Speech SDK is not supported on python 3.5. So I was wondering if you are using python 3.5.

For my experiment with C++, I used the following Dockerfile to build the image

FROM vcatechnology/linux-mint

RUN apt-ge

[2021-09-30 16:34] amitkumarshukla commented on #1267
@DaddyWesker I just installed python 3.9 on Linux mint and verified the sample and it works absolutely fine. Please try with the above Dockerfile and install python 3.9 from source and let us know your findings.

[2021-09-30 19:51] NickLocke opened #1270 "say-as question"
This snippet:

`<say-as interpret-as='characters'>3A</say-as>
`

- When called using en-GB says "Three Ay" as expected.
- When called using cy-GB says nothing and just leaves a gap where the audio should be.

I may be missing something, but would like to understand what is happening.

Thanks,

Nick

[2021-10-01 00:34] ralph-msft commented on #1268
Thanks for trying the Cognitive Speech SDK!

Could you please include the SSML that you are running into issues with?

As a side note, please note that the voice name in the SSML will override the one you set on the SpeechConfig so please double check that you are using a supported voice:
https://docs.microsoft.com/azure/cognitive-services/speech-service/language-support#text-to-speech

[2021-10-01 06:24] DaddyWesker commented on #1267
Hello, @amitkumarshukla . I'm using python conda environment not docker container (actually don't like docker too much). Current environment runs on python 3.7. Moreover, i've tested sample with wav file (so, i've chose 0 then 1) and it worked (though it hasn't recognized speech correctly, though i haven't expected it to). But it still doesn't work with mp3 file (contains the same as wav).

I've t

[2021-10-01 19:18] ralph-msft commented on #1269
Thanks for the trying the Microsoft Cognitive Services Speech SDK!

To better assist you:
- What version of the Microsoft Cognitive Services Speech SDK are you using?
- What environment are you using the SDK in?
  - Which operating system and version?
  - What programming language?
  - Are you using the SDK from a container?
- Which Cognitive Speech Service are you using? Speech to text, text to s

[2021-10-01 19:23] adthorn commented on #1269
I'm currently using the ARM Template for the Batch Ingestion Client. The stock Ingestion Client Sample that's provided from Microsoft (https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/ingestion/ingestion-client)

[2021-10-01 20:09] adthorn commented on #1269
The current client doesn't support a private speech service (custom domain with private endpoint) that I can see. However even if I allow the Speech Service via the Storage Account, I get no where.

Basically, I'm doing vNET integration and private endpoints with the 2 function apps in the App Service. I'm doing private endpoints with the storage account (datalake gen2). I'm doing a private endpoi

[2021-10-01 22:58] szhaomsft commented on #1270
thx for reporting

we are aware of this issue and will work on it.

[2021-10-02 00:45] david-95 commented on #1268
Thanks for your response!
I really made a stupid thing, my ssml have an issue. I tried to replace lang with customized string, but the replacement didn't take effect, so the lang in ssml didn't have value. after I fixed it, the 1007 issue disappeared.

[2021-10-02 00:45] #1268 closed

[2021-10-04 03:52] DaddyWesker opened #1271 "Got "cancelled" when is trying to Identify speaker"
**Describe the bug**
Hello, i'm trying to test C++ speaker identify on my own data and i'm receiving sometimes following: The most similar voice profile is:  with similarity score: 0. When i'm trying to see into what is SpeakerRecognitionResult looks like i'm seeing
ResultID "5033b74998db4184b4dd6918ab702790"
Reason "Canceled"
So, what it could be related to? I'm attaching header and source with w

[2021-10-04 06:53] DaddyWesker commented on #1271
Also, i've noticed another strange result. Let's say, i've added two profiles (as in the code above) and i've got profile a762f465-8b6c-418d-a9de-7cf1e196c05f and profile f9bcb09f-1a2b-4d72-9dc1-81e22e0df428 nothing more. After invoking identify method i'm getting result with following ID - 00000000-0000-0000-0000-000000000000 and similarity score 0.379906. WHat it could be?

[2021-10-04 14:40] kleindev opened #1272 "How to "connect" API created models / dataset to Speech Studio UI?"
Previously, after creating a speech model (or dataset) with the API, I could refresh the Speech Studio and get an option to connect it to the UI - thus being able to create tests, etc

What are the steps to create items in the API and have them visible in the Speech Studio portal?

[2021-10-04 18:07] chschrae commented on #1272
Hi @kleindev ,

Thanks for reaching out. Can you be a little more specific about what you are doing? Are you using the API from the SDK or a separate REST API? What language are you running from and when did this stop working as expected?

[2021-10-04 18:48] kleindev commented on #1272
@chschrae we are using this CLI -> https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/spx-basics?tabs=linuxinstall

./spx csr model create --name MODEL-$(Build.BuildNumber) --base "$(basemodel)" --datasets $datasets_string  --output url $HOME/build-speech-output/model-created.json --wait

We can't say when it exactly stopped working, but it last worked on 8/24/2021 (this is a

[2021-10-04 18:54] glharper commented on #1271
@DaddyWesker Thanks for not including your subscription key and for uploading your code. Could you add the wav files you're using as well?

@yshahin Who should we ping about ID: 00000000-0000-0000-0000-000000000000, score 0.379906 result?

[2021-10-04 21:17] chschrae commented on #1272
@kleindev I have contacted the Speech portal team and will let you know when I receive more information.

[2021-10-04 22:17] yshahin commented on #1271
empty GUID is the same as nothing matched. The audio passed in did not match either profiles.
Matching happens with a confidence score and if that is low enough we return empty GUID as a match meaning there was none from the list provided matched the audio.

[2021-10-05 05:57] DaddyWesker commented on #1271
@glharper
Here is the two train files
https://drive.google.com/file/d/10d7vD280ss_YzOYWtKHiuTs9aGIFePCu/view?usp=sharing
https://drive.google.com/file/d/16zti-7HsuUuTB9JvacGtNarSazcbEeOl/view?usp=sharing

And here is the test files i've got "canceled" with
https://drive.google.com/file/d/1WcXnX2xZMx1ielT5OPOJbnEkYTA6CQ4m/view?usp=sharing

@yshahin
THanks for your explanation. I guess question with

[2021-10-05 12:20] adthorn commented on #1269
If we had the ability to change the Speech Service Endpoint, that would **probably** resolve all these issues I'm having with Private Endpoints and the DNS.

[2021-10-05 14:28] gsgou commented on #1232
@rhurey  the same error is still occuring on my operator and location.

We have very few test-users sofar. We could reproduce that on another Android device with congstar the error did not occure. Maybe a different network configuration as the tester was in another remote German City located.

I tested over the Javascript on my device and everything works fine.

[2021-10-05 18:06] chschrae commented on #1272
Hi @kleindev  are you able to specify the "project" via creating a project with "spx csr project create" and then passing that project when creating a model with the --project option?

We have had issues with other features not showing if there is no project assigned. There should be a warning in the portal when there are items without a project.

Let me know if that helps.

[2021-10-06 11:43] Markyboy944 opened #1275 "How to change function timeout for FetchTranscrriptionFunction"
Not as issue as such, but not sure how else to post this.

I deployed the batch ARM template, but I now get the function runtime error depicted in the screenshot below
![TranscriptionTimeoutSettingError](https://user-images.githubusercontent.com/5471850/136195975-73839e9a-f0c8-480b-a458-bfef2f27cfe6.jpg)

I searched google, an it talked about updating the "host.json" file, however, I'm not sure wh

[2021-10-06 12:31] kleindev commented on #1272
@chschrae   So we need to create a new project each time?

On this "There should be a warning in the portal when there are items without a project." - where is this location?  This sounds similar to the warning we use to get

[2021-10-07 03:25] Fosol opened #1277 "Java SDK - startContinuousRecognitionAsync never stops"
I am using the Java SDK and have been attempting to find out why the `speechEndDetected` never occurs.  I've used an `PushAudioInputStream` to send a WAV file.  It transcribes the whole thing but never sends the stop event, which means I can't get the response back reliably.

If I don't wait for some kind of stop event, then it returns a partial result instead of the whole thing.

**To Reproduce**

[2021-10-07 07:51] Markyboy944 commented on #1275
Hi @HenryvanderVegte many thanks for your response. How/where do I actually implement this ?

- Do I need to (somehow) deploy this host.json onto my Azure ? (within that Azure Function ?) or

- Is this host.json prt of the ARM template, and I need to re-deploy ?

Apologies - I am not knowledgebale about the use of host.json. I basically just deployed the ARM template, and used it.
Any help appreci

[2021-10-07 12:04] #1277 closed, assigned to nobody

[2021-10-07 13:35] adthorn commented on #1269
I am able to get a token if I remove the firewall off of the cognitive speech service.

[2021-10-07 13:48] Fosol opened #1278 "What Audio/Video File Formats are Supported?"
I've been trying to find documentation on supported file formats.  So far I've only been able to get WAV files working.

Is there documentation on this somewhere with examples?

I'd love to be able to upload video files as well if possible.

Thanks!

[2021-10-07 18:09] #1278 closed, assigned to chschrae

[2021-10-08 22:35] omidb commented on #676
@pankopon Hi ... the stack overflow link is internal. We also want to configure the VAD to be a little more patient. We have played around different variables but it doesn't work properly for the end of speech. Here are a couple:

[code]

we tried them all but no luck.

[2021-10-11 07:35] HenryvanderVegte commented on #1269
Closing this as the issue was that a premium service bus with private endpoint was used, which resulted in EventGrid not being able to send service bus messages anymore.

[2021-10-11 07:35] #1269 closed

[2021-10-11 20:47] chschrae commented on #1272
Hi @kleindev,

It turns out there is a bug in the portal and an update for this will be live in a week or two. Thanks for reporting it!

[2021-10-11 20:47] #1272 closed

[2021-10-12 07:44] LAYLAYLAYLA opened #1280 "Recognition Canceled (no connection to remote host)"
Recognition canceled. Reason: Error; ErrorDetails: Connection failed (no connection to the remote host). Internal error: 1. Error details: Code: 11001. SessionId: 40f5ac188d6c4ca6b9f0e16820ad7d95

Session stopped event.

I keep getting this error in all of the sample can someone please inform me on what I can do to solve this issue

[2021-10-13 11:02] hemnaathR commented on #1262
bump

[2021-10-14 18:39] mromeolisten opened #1281 "SynthesisCanceled Error"
Hello,
We're getting the error:

[code]
When attempting text-to-speech with our custom neural voice

We've verified we're hitting the correct **_Voice Model Name_** , **_Endpoint_** , as well as the region, which is supported _**https://eastus.voice.speech.microsoft.com/cognitiveservices/v1?
deploymentId**_

[2021-10-15 10:07] MagTun opened #1282 "Using Speech studio UI forward to a package that isn't the same"
I tried speech studiopronunciation assessment via https://speech.microsoft.com/portal. I guess it's supposed to be a demo but it doesn't seems to work as I am not getting a feedback on my recorded audio (but on the ones recorded by other peoples).
As the demo  is not working, I downloaded the [code](https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/js/browser) that

[2021-10-16 15:52] yulin-li commented on #1281
Thanks @mromeolisten, which SDK version are you using? Could you share the code snippet?

[2021-10-16 19:48] MagTun commented on #1282
Thanks for this, I understand better now. I had a look at the json form speech studio and understand now how I can retrieve all the data. I just wonder if there if a way to get the `Phoneme` as IPA instead of the current system (ex:  /haʊs/ instead of  haws). Any idea?

[2021-10-18 23:01] #1282 closed, assigned to nobody

[2021-10-19 04:38] Ramanareddy7 opened #1283 "System.ApplicationException: 'Exception with an error code: 0x15 (SPXERR_MIC_ERROR)'"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. ...
2. ...

**Expected behavior**
A clear and concise description of what you expected to happen.

**Version of the Cognitive Services Speech SDK**
Which version of the SDK are you using.

**Platform, Operating System, and Programming Language**
 - OS: [e.g. Windows, Linux

[2021-10-19 07:08] yulin-li commented on #1281
Synced with @mromeolisten via email. There was a typo in his codes. Closing this issue.

[2021-10-19 07:08] #1281 closed, assigned to yulin-li

[2021-10-19 16:03] #1283 closed, assigned to nobody

[2021-10-19 16:05] dargilco commented on #1283
@Ramanareddy7 Don't forget to attach Speech SDK log per the instructions when you reactivate the issue.

[2021-10-19 19:15] MagTun opened #1284 "Using IPA for the phoneme (instead of the current system )"
Is it currently possible to get the Phoneme as IPA instead of the current system (ex: /haʊs/ instead of haws)?

If yes, how ? (I can't see it in the docs or the json retrieved via speech studio)

If no, would it be possible that you implement the IPA phonemes as the current system is not very useful (the users of pronunciation assessment are probably not native English speakers and thus your phone

[2021-10-20 01:23] yanshanshu opened #1285 "synthesizer.SpeakTextAsync(v)语音合成内容为空。"
经过测试发现，Android端马拉地语、波斯语、古吉拉特语语音合成的时候合成返回成功，但是合成长度都是0.
 public void onSpeechMicrosoftClicked(String v, String language) {
//        TextView outputMessage = this.findViewById(R.id.outputMessage);
//        EditText speakText = this.findViewById(R.id.speakText);
        try {
//            String language = "de-DE";

            speechConfig.setSpeechSynthesisLanguage(language);

            synthes

[2021-10-20 02:52] yanshanshu commented on #1285
resultId：5c095623e7d44f19b192503ce31f3c2b

[2021-10-20 08:45] shr1k opened #1287 "Switch between digit and word output for numbers"
Hello,

I'd like to know if there's a way to "ask" the STT service to switch between numeric and word output for speech-to-text scenarios where we want to clearly distinguish between, say, "40" and "forty"?

The speech detection itself is working fine but there are situations where we would prefer one form of output over the other, and I wanted to know if there's a way to hint at that to the recog

[2021-10-20 12:26] yulin-li commented on #1285
It will be better if you could write your question in English

[2021-10-20 12:31] hramoser opened #1288 "Segmentation fault when aborting ContinuousRecognitionAsync"
**Describe the bug**
We have an application where async speech recognition must be aborted if there is no result within a given time-span. This application handles many parallel recognizers.
Occasionally the application crashes within libMicrosoft.CognitiveServices.Speech.core.so.

**To Reproduce**
See attached source code.

**Expected behavior**
It must be possible to stop the recognition without

[2021-10-21 04:28] yinhew commented on #1284
@MagTun we also have a feature which can output the phoneme which the user is most likely speaking.
This can be triggered by {"ReferenceText":"%s","GradingSystem":"HundredMark","Dimension":"Comprehensive","EnableMiscue":"True","PhonemeAlphabet":"IPA","NBestPhonemeCount":"5"}
This will output 5 best phonemes for each phoneme of the reference word, ranking by the probability.

e.g. when the referenc

[2021-10-21 19:24] MagTun commented on #1284
This is amazing! Thanks for sharing it!

[2021-10-22 02:41] yanshanshu commented on #1285
good Is this a BUG problem? When can I expect a reply?

[2021-10-25 19:27] dbrownems opened #1289 "Batch Ingestion Clent deployment fails when creating database"
This step

`                        {
                            "name": "Import",
                            "condition": "[variables('UseSqlDatabase')]",
                            "type": "extensions",
                            "apiVersion": "2014-04-01",
                            "dependsOn": [
                                "[resourceId('Microsoft.Sql/servers/databases', variables('Sq

[2021-10-25 19:32] dbrownems opened #1290 "Ingestion client uses timestamp to uniqe-ify resource names, preventing redeploymnet"
Each time you deploy the template into an RG it generates a new set of resources with different names.

If there's some reason why the template can't be idempotent, at least it should be documented.

[2021-10-26 07:55] Cris21395 opened #1291 "Custom commands are never recognized"
Hello everyone,

I have developed an app for Unity that allows to use voice commands. The user can interact with the app using a keyword to recognize the speech and say a voice command to run an action. The keyword is perfectly recognized. However, once the voice command is said, a default response is sent, which is defined as a fallback when a voice command is not recognized.

The app does not th

[2021-10-26 09:55] #1290 closed, assigned to HenryvanderVegte

[2021-10-26 20:10] carlossapnucivicom opened #1292 "java.lang.UnsatisfiedLinkError: com.microsoft.cognitiveservices.speech.SpeechConfig.setTempDirectory(Ljava/lang/String;)V on CentOS 7 server"
**Describe the bug**
Encountering an error when java codebase is deployed on a linux server but works well when deployed using `codeready` in a windows PC.

Please see following stacktrace:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Deployed the codebase in an ec2 instance with the following specifications:

[code]

**Expected behavior**
Based on documentation. codebase should be

[2021-10-26 20:21] has-n opened #1293 "Random drops when using STT (JavaScript)"
**Describe the bug**
For my use case, I need to convert both sides of a video call to text. For the mic, I am using the SDK's mic recognition. For the speaker, I am using the MediaStream API.

I use continuous async recognition on both sides.

Completely randomly, I see drops in the STT (on both mic & speaker streams). The error message is

[code]
Please note that the error details field is undefi

[2021-10-26 21:43] #1292 closed, assigned to nobody

[2021-10-26 22:00] #1230 closed, assigned to wukun2015, wolfma61

[2021-10-27 03:27] AlexRen01 opened #1294 "CreateProfileAsync Whether this parameter is supported zh-CN"
**Describe the bug**

I follow this quick start to register my voice and then check for errors in my voice in another audio stream: HTTPS://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/get-started-speaker - recognition? Tabs = script&pivots = programming language -- csharp.
but  CreateProfileAsync  like not supported  zh-CN

`using (var profile = await client.CreateProfileAsync

[2021-10-27 13:24] #1289 closed, assigned to HenryvanderVegte

[2021-10-30 00:23] pankopon commented on #1291
Closed as resolved.

[2021-10-30 00:23] #1291 closed

[2021-10-30 00:28] pankopon commented on #1280
Closed since no customer update in two weeks, please open a new issue if support is still needed.

[2021-10-30 00:28] #1280 closed

[2021-10-30 00:34] pankopon commented on #1045
Internal work item ref. 3475645.

[2021-10-30 00:47] pankopon commented on #1215
@samkuls See
https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/cca81f48c54bccd5fb6d4e6227c2605edcd0b885/samples/csharp/sharedcontent/console/speech_recognition_samples.cs#L416
and
https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/cca81f48c54bccd5fb6d4e6227c2605edcd0b885/samples/csharp/sharedcontent/console/speech_recognition_samples.cs#L488
for general examples.

[2021-10-30 00:47] #1215 closed

[2021-10-30 00:53] cankatti commented on #1215
[e]()

[2021-10-30 01:01] pankopon commented on #1219
@cl-6666 Apparently the domain name server in question cannot resolve the translator service address, main or related, or some connections are blocked. This would require analysis of the DNS server configuration. See https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1105 for how to get a list of all Microsoft service addresses that need to be allowed.

[2021-10-30 01:01] #1219 closed

[2021-10-30 01:07] pankopon commented on #1241
Closed since no customer update in more than a month. Please open a new issue if support is still needed.

[2021-10-30 01:07] #1241 closed

[2021-10-30 01:10] pankopon commented on #1228
Internal work item ref. 3753799.

[2021-10-30 01:11] pankopon commented on #1259
Closed as answered.

[2021-10-30 01:11] #1259 closed

[2021-10-30 01:13] pankopon commented on #1254
Closed since no customer update in a month. Please open a new issue if support is still needed.

[2021-10-30 01:13] #1254 closed

[2021-10-30 01:22] pankopon commented on #1227
Internal work item ref. 3705147. This will be included in the Speech SDK 1.19.0 release which is expected by mid-November.

[2021-10-30 01:51] pankopon commented on #1267
@DaddyWesker Install whatever libssl 1.x version your Linux distribution has available, it doesn't need to be 1.0.0 exactly. For example, on Debian 11:
[code]
Or just install libssl-dev which pulls the base libraries as well regardless of the version. But libssl probably should be already installed by default anyway, check with
[code]
Please try running the Linux C++ sample for compressed audio in

[2021-10-30 01:58] pankopon commented on #1224
@trrwilson Please check or reassign.

[2021-10-30 02:04] pankopon commented on #1255
@trrwilson Please update or reassign.

[2021-10-30 03:49] cankatti commented on #1255
** **

[2021-10-31 09:16] MohdAwamleh opened #1295 "Microsoft bot framework support voice assistant in python language ? and can i use a library from python speech-to-text and text-to-speech ?"
Microsoft bot framework support voice assistant in python language ?
and can i use a library from python speech-to-text and text-to-speech without objection from azure?
and please i need an example if Microsoft support voice assistant

[2021-10-31 10:26] gsgou commented on #1232
@rhurey was the team able to reproduce it? We are growing slow in the stores but as soon as more logs are there or users that denied send them i ll share more info here. The project can be found as Scribbn and uses the SpeechSDK.
Android: https://play.google.com/store/apps/details?id=com.technidoo.scribbn
iOS: https://apps.apple.com/us/app/scribbn/id1585425122

[2021-10-31 10:27] gsgou commented on #1227
Thanks for the update @pankopon, allows us prioritize features accordingly.

[2021-11-01 06:55] DaddyWesker commented on #1267
Hello, @pankopon . I've already have `libssl-dev is already the newest version (1.1.1f-1ubuntu2.8).` So, I'm not sure that problem in this particular lib.

For some reason, i can't right now check if your sample is working since my Azure subscription is disabled... I was using free one, is it somehow time-limited?

[2021-11-01 11:42] JPM87 commented on #1255
Same issue here... tried all three suggestions but still no luck.

My endpoint looks a little bit different: https://xxx.cognitiveservices.azure.com/sts/v1.0/issuetoken (westeurope)

Error: Cancellation details: WebSocket upgrade failed: Bad request (400). Please verify the provided subscription details and language information.

Log:

[568707]: 73ms SPX_DBG_TRACE_VERBOSE:  named_properties.h:311

[2021-11-01 18:01] amitkumarshukla commented on #1295
@MohdAwamleh Could you please provide more details about what are you planning to do ?

[2021-11-02 22:21] pankopon commented on #1267
@DaddyWesker How long have you had the free subscription? https://azure.microsoft.com/free/ says "Popular services free for 12 months" and "25+ other services free always" (but I don't see Speech included there). So if your free use of Speech services has expired, you could either upgrade your subscription to "Pay as you go" (see the previous link for info) or maybe create a new free subscription

[2021-11-03 00:12] rhurey commented on #1232
No, we haven't been. I've asked for some more clarity on what's been tried.

Did you have any luck with the http://websocketstest.com site?

[2021-11-03 05:36] DaddyWesker commented on #1267
@pankopon less than year for sure.

[2021-11-03 06:28] hramoser commented on #1288
Hi @Darren!

We still have this issue with v1.19. Sadly the call stack is not very helpful (to me). One explanation could be that data is sent when the underlying object has already been deleted.

libpthread.so.0!__libc_send(int fd, const void * buf, size_t len, int flags) (/build/glibc-S9d2JN/glibc-2.27/sysdeps/unix/sysv/linux/send.c:28)
libMicrosoft.CognitiveServices.Speech.core.so![Unknown/Just

[2021-11-03 14:47] dargilco commented on #1288
@hramoser  Thank you for checking, I will continue to investigate. Which Linux device are you using?
Darren

[2021-11-03 15:39] glharper commented on #1293
@has-n To see how many connections are active, you can use the sessionStarted and sessionStopped callbacks on each recognizer to increment and decrement a connection counter:
[code]
...and so on.

Also, [JS Speech SDK version 1.19.0](https://github.com/microsoft/cognitive-services-speech-sdk-js/releases/tag/v1.19.0) has been released, so the error surfacing should be a bit clearer if you upgrade.

[2021-11-03 15:41] glharper commented on #1252
@noahsw [JS Speech SDK version 1.19.0](https://github.com/microsoft/cognitive-services-speech-sdk-js/releases/tag/v1.19.0) has been released, with support for usgov regions. Thanks again for writing this issue up!

[2021-11-03 15:41] #1252 closed

[2021-11-03 15:51] has-n commented on #1293
Thanks @glharper . The app is deployed across many users so will have to centralize the counting.

Will test with 1.19.0 and raise an issue if it comes up.

Closing the issue for now. Thanks for all the help!

[2021-11-03 15:51] #1293 closed

[2021-11-03 15:53] jhakulin commented on #1244
Speech SDK 1.19.0 has been released with Mac M1 ARM based silicon support, let us know if there is any problems.

[2021-11-03 15:53] #1244 closed

[2021-11-03 15:56] jhakulin commented on #1209
@tomasgreen Speech SDK 1.19.0 has been released which do not have weak link dependency anymore to Gstreamer which was causing the bitcode failures. Let us know if there are any problems.

[2021-11-03 15:57] jhakulin commented on #1171
@hsncr Speech SDK 1.19.0 has been released which includes support for Mac Catalyst, let us know if there are any problems.

[2021-11-03 15:57] #1171 closed

[2021-11-03 15:59] jhakulin commented on #1168
@huiweyl Speech SDK 1.19.0 has been released which contains a fix, let us know if there are any problems.

[2021-11-03 15:59] #1168 closed

[2021-11-03 16:27] jhakulin commented on #919
@j-h-a Speech SDK 1.19.0 is packaged into xcframework, let us know if there are any problems.

[2021-11-03 16:27] #919 closed

[2021-11-03 21:04] gsgou commented on #1232
@rhurey websocketstest.com and the azure java script demo website work well with the browser version shared above.
On the same network in my region the SDK errors with 110. In roaming in different cities in Spain the SDK succeeds.

[2021-11-03 21:08] noahsw commented on #1252
Thx @glharper but I'm not seeing any changes to https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/e1ccf3156c94f0b1a668946fc7dd41a64af1230e/samples/js/browser/index.html#L30. I was hoping to see the GovCloud regions in the dropdown.

[2021-11-03 22:57] dargilco commented on #1288
@hramoser is this run on VMs? can you share the specification of the VM hardware you are running on (number of vCPUs, Memory, etc.). If run on Azure VM, can you point to the exact VM type (series) from https://docs.microsoft.com/en-us/azure/virtual-machines/sizes ?

[2021-11-03 23:00] dargilco commented on #1288
@hramoser also, What is your Speech key's Azure region? And what Azure region is the VM deployed to? Thanks!

[2021-11-04 01:34] rhurey commented on #1232
Let me just re-cap this all to try and make sure I've got everything.

Works:
Connections to the Speech Service from the Azure demo in a browser on Telekom mobile.
Connections from the app on a different operators network.
Connections from the app on Telekom mobile if we could time travel backwards a few months.

Doesn't work:
Connections from the app on Telekom mobile today.

Does the app make an

[2021-11-04 07:07] hramoser commented on #1288
PC with Ubuntu 18.04 within VirtualBox (Host Windows 10).

-Herbert

Von: Darren ***@***.***>
Gesendet: Mittwoch, 3. November 2021 15:48
An: Azure-Samples/cognitive-services-speech-sdk ***@***.***>
Cc: Ramoser Herbert ***@***.***>; Mention ***@***.***>
Betreff: [External] Re: [Azure-Samples/cognitive-services-speech-sdk] Segmentation fault when aborting ContinuousRecognitionAsync (Issue #1288)

CA

[2021-11-04 08:33] hramoser commented on #1288
@Darren
We observed this problem at our Azure VM (the application is running in a Docker container):
Region VM: westeurope
VM size: Standard_B2ms
Region Speech key: westeurope

For convenience we reproduce and debug this on a development PC (Host Windows 10, Ubuntu 18.04 running in VirtualBox). The VM has 24 MB RAM and 4 CPUs. On the PC the application is running without Docker.

Von: Darren ***@*

[2021-11-04 16:01] gsgou commented on #1227
@pankopon v1.19.0 is out with "Automatically reconnect when a connection attempt fails."
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/releasenotes#bug-fixes

Is there an API available like the number of retries etc.. or comes out of the box as implemented?

[2021-11-04 16:07] dargilco commented on #1288
Thank you @hramoser this information helps.

[2021-11-04 17:29] glharper commented on #1252
@noahsw I have a [PR](https://github.com/Azure-Samples/cognitive-services-speech-sdk/pull/1297) now for [this file](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/js/browser/public/index.html). The structure of the sample has changed, so the file path you linked to will be deleted at some point.

[2021-11-05 06:59] Minxiangliu commented on #684
I can use it normally after I turn off the antivirus software.

[2021-11-05 08:18] JacoLin commented on #684
Yes, you are right. I have determined and must turn off the anti-virus software to be able to use.
turn off antivirus software to use this function , I think that's not a good idea.

[2021-11-05 12:27] trydis opened #1298 "High CPU usage with compressed audio"
**Describe the bug**
High CPU usage when using compressed audio.

- Processing 1 stream resulted in ~60% CPU usage
- When the client was done sending the audio data it spiked to ~100%
- When the client disconnected it took around 10-15 seconds for it to settle down
- When repeating the same with uncompressed audio the CPU usage was insignificant, even when processing multiple audio streams
- Profi

[2021-11-05 14:31] 4voiceAG commented on #667
@rhurey Thanks, this does the trick. But your solution is incredibly hard to find.
For SpeechConfig.SetProperty() there's a PropertyId enumeration, at least, where you can browse the possible values in the online documentation.
But I failed to find any documentation on the different property names and values for SpeechConfig.SetServiceProperty.
Do you have any idea where to look?

TIA

[2021-11-05 16:03] gsgou commented on #1232
@rhurey correct all your points.
The Mobile Virtual Network Operator is Congstar and the carrier Telekom.
The issue persists also with v1.19.0 and was introduced without app related
changes in the middle of August.

It is explicitly a websocket issue. At the same time the audio is transcribed
the app is uploading succesfully the audio file over https to our servers for
further AI operations. Andro

[2021-11-05 21:54] jhakulin commented on #1243
Closing this as fix is included in 1.19.0 release, let us know if there are more problems.

[2021-11-05 21:54] #1243 closed

[2021-11-05 22:05] jhakulin commented on #1227
Closing as fix is included in the 1.19.0.

@gsgou We do not currently have public API for configuring the retry mechanism, we will consider adding one in the future. Let us know what kind of information you would like to see and if you get any problems with the latest release.

[2021-11-05 22:05] #1227 closed

[2021-11-05 22:07] jhakulin commented on #1107
We will close the item as Speech SDK 1.20.0 version (current ETA end of January 2022) will include a support for DialogServiceConnector on iOS Objective-C/Swift APIs.

[2021-11-05 22:07] #1107 closed

[2021-11-05 22:30] dargilco commented on #1253
Closing since there is no reply.

[2021-11-05 22:30] #1253 closed

[2021-11-05 22:32] dargilco commented on #1094
Closing since there was no activity here.

[2021-11-05 22:32] #1094 closed

[2021-11-08 17:01] amitkumarshukla commented on #1298
@trydis Thanks a lot for reporting the issue. I am looking at this right now and will get back to you.

[2021-11-08 18:48] glharper commented on #1294
@AlexRen01 Thanks for using Speech SDK. There's a new release, 1.19, with updated support for voice profiles, could you check using that version? My tests using 1.19 and zh-CN created a new voice profile correctly.

[2021-11-08 21:58] chschrae commented on #1295
@MohdAwamleh  I can take a guess at what you are asking, but please let me know if this helps.

It sounds like you are saying you have your own preference of speech-to-text and text-to-speech that is NOT from Microsoft and you want to connect to your own bot-framework bot for the dialog portion.

Currently the Dialog Service Connector is not available in Python, but if you only need the bot-framew

[2021-11-08 22:31] rhurey commented on #1232
I'm not sure it's websocket as much as the way the Speech SDK has implemented networking.  At it's base the SDK uses a C layer to handle network connections, and that layer is failing to open a socket to the remote hose with an error of "The network is unreachable" (Errno=101). This is before attempting a websocket upgrade.

Since the same app is making other http calls successfully (from the same

[2021-11-09 01:09] Benno007 commented on #1054
Hi @zhouwangzw , just wondering how you are going with adding display content to word level timing? We currently do string splitting/matching of the display output with the lexical per word timings, but it is not optimal for every case. Especially when the display concatenates/merges multiple words such as years to a single number.

Is there a way we can monitor for this release e.g. subscribe to

[2021-11-09 11:48] harounshehata opened #1299 "Language Identification from Blob Triggered Azure Function"
**Describe the bug**
Goal is to identify the language from a Blob Stream inside of an Azure Function using the SourceLanguageRecognizer.
I have tried two approaches which did **not** work.
1. Using recognize_one() with a SAS URI to the blob
2. Using start_continuous_recognition() with a PushAudioInputStream

**To Reproduce**
Steps to reproduce the behavior:
1. Recognizing with Blob Sas URI
[code]

[2021-11-09 14:02] fengmao31 opened #1300 "import azure.cognitiveservices.speech as speechsdk cannot say chinese language"
![image](https://user-images.githubusercontent.com/19343842/140937585-b10a2f68-fb97-44a3-920a-b308667f8466.png)
the
The microphone cannot say Chinese
what is ok
你好啊 have no voice
[code]

[2021-11-09 16:04] glharper commented on #1143
@vinay047 Are you still able to reproduce this with version 1.19? Does this happen with a different key/region?

[2021-11-09 17:44] jhakulin commented on #1299
@harounshehata Thanks for report. Based on the log, result is NoMatch, which probably means the data fed into push stream is silence (or not fully correct). Are you pushing stream from Blob storage containing wave files ? Could you provide one example wave file for us (You can attach it to this issue.) ? Does the sample work if you run it locally without Azure function?

[2021-11-09 18:18] dargilco commented on #1288
@hramoser for the last 3 days I've been running the sample you provided on Ubunty 18.04 x64 Azure VMs (size "Standard B2 ms). I'm running under gdb debugger. I'm not seeing a segmentation fault. Are you running under a debugger in order to get the calls stack when you hit segmentation fault? (i.e. "gdb ./sample.out" and then "run"). Or do you have a different way to get the crash call stack?
I wil

[2021-11-10 02:30] jhakulin commented on #1294
Closing the issue as not repro with 1.19.0 version of SDK. Please let us know if there is more issues.

[2021-11-10 02:30] #1294 closed

[2021-11-10 07:55] harounshehata commented on #1299
@jhakulin the file works when using the transcription service directly with the source language specified explicitly, additionally the language recognition also works if the application (using recognize_once() and local filepath) is run locally without Azure function.

[2021-11-10 08:51] yulin-li commented on #1300
@fengmao31 you need to set the language or voice to use and Chinese voice. The default voice is an en-US one, cannot speak Chinese

refer  https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/get-started-text-to-speech?tabs=script%2Cwindowsinstall&pivots=programming-language-python#select-synthesis-language-and-voice

[2021-11-10 08:54] FanChen2016 commented on #919
build on Any iOS Device(arm 64),
Showing All Messages
xxx/one-app/NativePluginProjects/iOS/NativeAudioPlugin/AudioPlugin/AudioPlugin/AudioRecorder.h:7:9: 'MicrosoftCognitiveServicesSpeech/SPXSpeechApi.h' file not found
build on simulator is OK
@jhakulin

How to fix it?

[2021-11-10 10:11] qiaolei747 opened #1303 "使用微软语音Java SDK 1.18.0 在centos8.2下使用异常"
**Describe the bug**
一、使用微软语音Java SDK 1.18.0 在centos8.2下使用异常
1、在centos8.2，使用语音Java SDK 1.18.0+.so文件，程序调用两组voice（SDK限制，单组voice个数不超过50），生成音频文件有杂音，音频文件内容缺失。
在Windows、MacOS环境，使用语音Java SDK 1.18.0，生成正确音频文件，两组voice拼接成一个音频文件。
2、在centos8.2，使用语音Java SDK 1.18.0+.so文件，程序调用一组voice，生成正确音频文件。
二、centos8.2系统，音频文件合成时间太长
1、在centos8.2，使用语音Java SDK 1.18.0+.so文件，10分钟的音频文件，合成时间10分钟左右。
2、在Windows、MacOS环境，使用语音Java SDK 1.1

[2021-11-10 10:48] yulin-li commented on #1303
Hi, could you [enable SDK logging](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-use-logging) and share the log to us?

[2021-11-10 10:57] yulin-li commented on #1303
Also, version 1.19 released, could you try to upgrade the SDK and see if it's resolved?

[2021-11-10 11:58] nosalan opened #1304 "REST API for Language Identification and support for links to audio files"
Is it possible to perform Language Identification without using SDK but directly through HTTP for batch mode and WS API for continuous mode? If yes a link to documentation or example is welcome.

My use case would that I hit HTTP Endpoint to which I send send link to the audio file and get detected languages in the response. STT service has such capability.

[2021-11-10 17:43] jhakulin commented on #1300
Closing as answered

[2021-11-10 17:43] #1300 closed

[2021-11-10 18:00] derevell opened #1305 "Speech To Text StartContinuousRecognition Realtime Performance"
We are using the basicRecognizer.StartContinuousRecognitionAsync() and a PushAudioInputStream to push an audio input stream from a mic and then output the results to a text editor. I am looking to see if there is a setting to break the results into 2-4 words chunks on the basicRecognizer.Recognized event vs the entire phrase (example 15 word sentence) to give a more real-time experience. to the en

[2021-11-10 23:08] jhakulin commented on #1224
@davidjrh Thanks for the report. I checked with the team and using the same conversation id between different clients should work and if that does not work for you we would like to get more traces of the failure. Related to PropertyId.Conversation_Connection_Id, you do not need to set that at all and will be deprecated in future.

Could you please provide a trace for unsuccessful operation as inst

[2021-11-10 23:34] jhakulin commented on #1299
@harounshehata If the Azure function project runs locally ok, the problem might be due to connections are not set correctly inside Azure portal, so check that information about connection bindings you have set in local.settings.Json file in your project are set also in the Azure portal also, (e.g. input and output connections to Azure blob storage(s))

[2021-11-11 03:39] qiaolei747 commented on #1303
Logo Info
没有按下面链接要求调整centos服务器时的日志
https://docs.microsoft.com/zh-cn/azure/cognitive-services/speech-service/how-to-configure-rhel-centos-7
SpeechSynthesisResult.getAudioLength=0
SpeechSynthesisResult.getReason=Canceled
SpeechSynthesisResult.getResultId=9b8d6382f8884c729ec8c702fe937283
-------------------------------------------------------------------
SpeechSynthesisResult.getAudioLength=0
SpeechS

[2021-11-11 03:40] qiaolei747 commented on #1303
一会试试

[2021-11-11 05:13] jhakulin commented on #1305
@derevell Thanks for the report. By using Recognizing event, you will get the intermediate results almost in real-time. The Recognized event will provide you the final result of the last spoken phrase, that happens e,g, if you have a pause in the speech input during continuous recognition. You will see this well when you register to both Recognizing and Recognized events and display their output i

[2021-11-11 05:47] qiaolei747 commented on #1303
一组voice也会有内容丢失的问题
MP3_第一段执行开始: http-nio-8080-exec-12021-11-11T13:27:12.978
第一段SpeechSynthesisResult.AudioLength4718400
第一段SpeechSynthesisResult.ReasonCanceled
第一段SpeechSynthesisResult.ResultId682a94cf8c1e411bb777d90cb0018995
MP3_第一段执行结束: http-nio-8080-exec-12021-11-11T13:32:15.056
MP3_第二段执行开始: http-nio-8080-exec-12021-11-11T13:32:15.057
SSML_old生成任务时间: 2021-11-11T13:32:20.012    -------
SSML_old生成

[2021-11-11 05:49] qiaolei747 commented on #1303
SDK1.19 也有问题，一组Voice也会内容丢失。

[2021-11-11 06:01] yulin-li commented on #1303
hmm... We need speech SDK log, not your application log

[2021-11-11 08:27] harounshehata commented on #1299
@jhakulin no you miss understood me. The Azure Function does not run successfully neither in the Portal nor locally. This is language identification part is just a small section we were trying to add to an already  running Azure Function that uses the .wav files from the Blob Storage to Transcribe and Translate them successfully. Connections, files, deployment and everything else works, we have al

[2021-11-11 10:09] 4voiceAG opened #1306 "Documentation of service properties"
```SpeechConfig``` contains 2 methods to control how exactly how you want STT to work: ```SetProperty()``` and ```SetServiceProperty()```.
While SetProperty accepts a PropertyId enum value which you can look up in the corresponding documentation (https://docs.microsoft.com/en-us/dotnet/api/microsoft.cognitiveservices.speech.propertyid?view=azure-dotnet), SetServiceProperty() only accepts string-va

[2021-11-11 10:10] georgearun opened #1307 "swagger_client.rest.ApiException: (400)"
I have downloaded python-client for 'eastus'  and installed successfully pip by following these steps - [https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/batch/python](url)

**While running the code for Batch transcription I'm getting the following error:**
"""
swagger_client.rest.ApiException: (400)
Reason: Bad Request
HTTP response headers: HTTPHeaderDict({'Cach

[2021-11-11 11:05] chlandsi commented on #1307
It looks like you are using a free subscription. Batch transcription is only available with a standard (paid) subscription.

[2021-11-11 16:10] mtaulty opened #1308 "SPXERR_MIC_ERROR Calling SpeechRecognizer.StartContinuousRecognitionAsync() on iOS 14.8.1?"
**Describe the bug**

I have a Xamarin application running on iOS where I am using SpeechRecognizer.StartContinuousRecognitionAsync() and finding that it is throwing an exception "Exception with an error code: 0x15 (SPXERR_MIC_ERROR)" when running on a device.

I find that it runs in the iOS simulator ok and speech is recognized there and the same code runs on Android device/emulator ok.

It is no

[2021-11-11 19:36] jhakulin commented on #1306
@4voiceAG Thanks for the report. We have a workitem internally to make the documentation clearer on this area. Setting issue accepted.

[2021-11-11 21:59] jhakulin commented on #1305
Closing, let us know if more information is needed.

[2021-11-11 21:59] #1305 closed

[2021-11-11 22:02] jhakulin commented on #1308
@mtaulty  As discussed offline, could you check if you can reproduce the problem with the quickstart sample
https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/csharp/xamarin
This is to narrow down if the problem is in the app side or not.

[2021-11-12 06:26] 4voiceAG commented on #1306
Great, thanks!

[2021-11-12 15:38] zpemberton opened #1310 "Error code: 0x38 (SPXERR_AUDIO_SYS_LIBRARY_NOT_FOUND)"
**Describe the bug**
I am running the quickstart.py code sample for Text-To-Speech.  I have attempted to run it without any changes, or with the key and region entered and still receive the same errors below.

 _impl = synth_type._from_config(speech_config._impl)
RuntimeError: Exception with an error code: 0x38 (SPXERR_AUDIO_SYS_LIBRARY_NOT_FOUND)
[CALL STACK BEGIN]

    - synthesizer_create_speec

[2021-11-12 20:47] jhakulin commented on #1310
@zpemberton Thanks for the report. I checked 1.19.0 and steps based on the quickstart for text to speech on Windows and could not reproduce the issue. I installed Python from https://www.python.org/downloads/release/python-398/. What is the exact version of Python you are using ?

[2021-11-12 20:53] zpemberton commented on #1310
@jhakulin
python --version
Python 3.9.8

Code being used

# Copyright (c) Microsoft. All rights reserved.
# Licensed under the MIT license. See LICENSE.md file in the project root for full license information.

# <code>
import azure.cognitiveservices.speech as speechsdk

# Creates an instance of a speech config with specified subscription key and service region.
# Replace with your own subscriptio

[2021-11-12 21:08] jhakulin commented on #1310
@zpemberton Could you try to reinstall azure-cognitiveservices-speech using pip and provide pip.log ?
pip --log pip.log install azure-cognitiveservices-speech

After installation Speech SDK libraries should be installed probably to
C:\Users\<user>\AppData\Local\Programs\Python\Python39\Lib\site-packages\azure\cognitiveservices\speech

Could you check that contains Microsoft.CognitiveServices.Speec

[2021-11-13 00:07] ajosic commented on #1310
I'm running into the same exception on Windows, trying out the Unity quick start example code with 1.19.0.
Unable to new up a SpeechRecognizer:

`using (var recognizer = new SpeechRecognizer(config))`

`ApplicationException: Exception with an error code: 0x38 (SPXERR_AUDIO_SYS_LIBRARY_NOT_FOUND)
Microsoft.CognitiveServices.Speech.Internal.SpxExceptionThrower.ThrowIfFail (System.IntPtr hr) (at <5ad

[2021-11-13 13:19] gsgou commented on #1232
Thanks @rhurey for your effort. If you need me to run some beta nuget for additional diagnostics or provide remote access for debugging purposes to your team simply ping me. In the meantime i ll try to contact the operator in case they provide some feedback.

[2021-11-15 01:26] eric-urban opened #1312 "Python batch transcription quick start sample needs V3 upgrade"
The Python batch transcription [quickstart sample](https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/python/from-blob) and it's README need to be updated for v3 as shown in [this PR](https://github.com/Azure-Samples/cognitive-services-speech-sdk/pull/736/files) for a similar sample.

[2021-11-15 03:27] jhakulin commented on #1299
@harounshehata Thanks for the details and we can reproduce the issue. There is some issue with the stream input when using SourceLanguageRecognizer. We will let you know once we have a fix for that.

[2021-11-15 04:04] jhakulin commented on #1299
@harounshehata Actually I backup a little as source_language_recognizer.recognize_once() works with the blob trigger, however I had problems with continuous version and callbacks but that might be separate problem.
Also I changed the wav file to 16kHz mono and shortened it to 5sec (attached the file)

Please try the function below with the attached wave file

[code]
[harounitalien_mono_5sec.zip](h

[2021-11-15 08:30] harounshehata commented on #1299
@jhakulin It works when using the 'Latency' model and you're attached 16kHz mono file.
With my original file and the 'Latency' model he recognizes czech (cs-CZ) and using the 'Accuracy' model he is not able to detect any language.

[2021-11-15 08:32] harounshehata commented on #1299
Is there a way to apply to audio transformation (16kHz mono and shortened) to the stream I receive in the Azure Function?
and should the same preprocessing be applied to the Transcribe model of the speech sdk (so far the transcriptions with the original audio files looked good)?

[2021-11-15 12:13] mxmore opened #1313 "Is there any plan for azure-Recognize speech in C++ support on macOS M1"
Describe the issue:
We hit the symbol(s) Not found for architechture arm64 issue on Mac M1 device by using macbinary offered by https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/cpp/macos/from-microphone . (See attached screenshot)

Quastion:

can macbinary in https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/cpp/macos/from-mi

[2021-11-15 13:08] zpemberton commented on #1310
@jhakulin I have uninstalled and reinstalled the package and yes, it does contain the .dll file you mentioned.  I'm at a loss to get this working right now.

[2021-11-15 17:03] jhakulin commented on #1310
@zpemberton If Microsoft.CognitiveServices.Speech.extension.audio.sys.dll is found then one possible reason is missing Windows audio/media libraries as they are the dependencies for audio.sys library. Does the speaker output work normally in your Windows 10 Enterprise ?

[2021-11-15 17:10] jhakulin commented on #1148
@Lykos94 I made some recent testing on 1.19.0 Speech SDK release, Mac M1, using the Unity 2020.3.22f1 with iPhone 8 and I could not reproduce the problem, so probably the reason is somehow specific to your environment.
Do you see any problems if you use WLAN connectivity on your iPhone ?

Also If you still have possibility, could you please try to provide a trace from your Unity app ?
[code]

[2021-11-15 17:48] jhakulin commented on #1313
@mxmore Thanks for the report. 1.19.0 version of Speech SDK has support for Mac M1 arm64.

I verified the instructions on https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/cpp/macos/from-microphone and everything was working ok on my Mac M1 arm64 version,
so we need to look at more detailed the steps and did you miss something?

Below are the steps I followed (t

[2021-11-15 18:53] jhakulin commented on #1308
Closing the issue as not reproduced. Please let me know if you have still problems.

[2021-11-15 18:53] #1308 closed

[2021-11-15 18:55] jhakulin commented on #1304
@nosalan Checked with the team and REST API for LID is not publicly available yet, however that will be released in the near future releases.

[2021-11-15 18:55] #1304 closed

[2021-11-15 20:28] jhakulin commented on #1299
@harounshehata Problem seems to be more related to LID service not working optimally with the stereo (2 channel) streams. With mono stream (and even when using the original samplerate 22.050kHz you had), the accuracy model works ok.

[2021-11-15 21:44] alexsprings commented on #1245
Experiencing the same bug with NodeJS SDK. Will the fix also affect NodeJS SDK or do I need to create the issue in https://github.com/microsoft/cognitive-services-speech-sdk-js ?

[2021-11-15 22:09] jhakulin commented on #1299
@harounshehata In the meantime when we are checking the service side support for stereo, using numpy library you should be able to convert the stereo data to mono. For example. using following works with your original wav file:

[code]
You need to add `import numpy as np` and numpy in the requirements.txt

[2021-11-16 01:09] jhakulin commented on #1310
@zpemberton Could you please check if anti virus software could be blocking the extension to load?  See the issue below:
https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/684

If this is the case, we need to find out why that happens.

[2021-11-16 02:47] jhakulin commented on #1299
@harounshehata You can use numpy library to do basic data manipulation, the following code I tested converts the original audio data (22.050kHz stereo PCM) to 22.050kHz mono. With that modification I get correct results with Accuracy model when using your original wav file

[code]
In order to use numpy, you need to `import numpy as np` and add `numpy` in requirements.txt

We are checking the servi

[2021-11-16 07:02] hys618 opened #1314 "Is it possible to get "libMicrosoft.CognitiveServices.Speech.core.so" file which supports platform that uses "softfp" as floating point ABI?"
Hello, I'm trying to use speech SDK in my embedded linux environment.
I've downloaded SDK file, followed the instructions in quickstart guide, and modified Makefile so that I can build the quickstart sample source in arm32 environment for my hardware device.
I failed to build the sample source because my working environment only supports "softfp" as floating point ABI whereas the .so file("libMicr

[2021-11-16 14:44] zpemberton commented on #1310
@jhakulin I have solved this issue.  I had two python interpreters (one from windows store and one from python.org).  I switched the interpreter to the python.org and copied over the azure site packages to that install location. Works perfectly now.

[2021-11-16 16:30] martindevans opened #1315 "Basic Transcription Failure"
**Describe the bug**
Transcribing an audio file using the example code from [this page](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-use-conversation-transcription?pivots=programming-language-csharp) produces no results.

I'm totally new to the SDK, so it's very likely I've made a mistake somewhere!

**To Reproduce**
Steps to reproduce the behavior:
1. Here's my

[2021-11-16 16:54] glharper commented on #1315
@martindevans Is the audio file you're transcribing a 7-channel .wav? If so, please attach the file and I'll see if it works for me. (I'm not seeing any significant deviations in your code compared to the sample.)

[2021-11-16 17:05] jhakulin commented on #1310
@zpemberton That is great and thank you for sharing. We have had similar issues (not finding the dlls with Python) in a past and it is very helpful to get details why problems happened, this will help us in the future. Closing the case. @ajosic In case you still have problems with Unity, please create a new issue for that.

[2021-11-16 17:05] #1310 closed

[2021-11-16 17:06] martindevans commented on #1315
It's a simple 2 channel wav file (this one: [https://github.com/martindevans/AzureTranscriptionTest/blob/master/Audio/test-audio.wav](https://github.com/martindevans/AzureTranscriptionTest/blob/master/Audio/test-audio.wav))

[2021-11-16 17:52] harounshehata commented on #1299
@jhakulin thank you it works when converting it to a mono stream, I have some general questions before we close this issue:

1. Why do I have to iterate through the stream an read 16000 bytes in each iteration, I know that the amount of bytes are dictated by the sample rate, but we are using the recognize_once() method, can't I just read all the content of the stream in one go and write it to the

[2021-11-16 18:03] jhakulin commented on #1299
@harounshehata Glad to know it helps,
1) You do not need to do that as we get here the whole blob at once, please see the modified examples in the previous comments.
2) Were you using Accuracy or Latency mode ? Could you please share some of the files, which does not work?
3) Will check

[2021-11-16 18:31] harounshehata commented on #1299
I was using the Accuracy model, here are the files
[audioSamples.zip](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/7548928/audioSamples.zip)
Thank you for checking 👍

[2021-11-16 22:21] pankopon commented on #1314
Hi, can you describe your environment in more detail? What is the device and OS (if details can be enclosed) and why is 'hard' not supported (as based on 'softfp' the device should still have FPU)? - This may be the first time anyone has asked for a different floating-point ABI to use, so currently there are no plans.

[2021-11-17 00:37] MooonSwitch opened #1316 "RaspberryPi SDK Translator"
My current project is to use the Azure azure-cognitiveservices-speech on a raspberry pi to translate a conversation between two people using bluetooth headphones. I'm not sure what to do anymore, as the Raspbian OS doesn't work with SDK, nor did it work when I downloaded windows onto my Raspberry Pi either. I've seen lots of mentions about Ubuntu being a solution, but I'm not sure which version to

[2021-11-17 00:58] jhakulin commented on #1298
@trydis We have identified one possible reason for the CPU issue and working on improvement for the near future release.

[2021-11-17 01:28] pankopon commented on #1316
Hi, the officially supported Linux distributions are listed at https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-sdk?tabs=linux%2Cubuntu%2Cios-xcode%2Cmac-xcode%2Candroid-studio#get-the-speech-sdk and Ubuntu is among them. We test on RPi 4 using Ubuntu.

The following has been verified to work with RPi 4:
1. Install **Ubuntu Server 20.04.3 LTS** (64 or 32-bit), see in

[2021-11-17 02:09] MooonSwitch commented on #1316
What if I wanted to take the pi outside of the range of my personal computer, would I still follow all these steps?

[2021-11-17 09:14] ykying opened #1317 "No such module 'MicrosoftCognitiveServicesSpeech'"
**Describe the bug**
iOS -> Archive -> 1.19 version will show No such module 'MicrosoftCognitiveServicesSpeech'

After rollback to 1.18.0, everything is fine

[2021-11-17 14:39] trydis commented on #1298
@jhakulin Great, thanks for the update.

[2021-11-17 18:02] jhakulin commented on #1317
@ykying Thanks for the report, we need more information in order to proceed. Could you please provide more information on what is the iOS-> Archive ? And how you reproduce this ?
iOS -> Archive -> 1.19 version will show No such module 'MicrosoftCognitiveServicesSpeech'

[2021-11-17 18:16] pankopon commented on #1316
@MooonSwitch Not sure what you mean - the setup needs to be done just once; install OS, configure, verify it works (incl. BT in your case). Compare it to setting up any portable device, like even a laptop, that you can then take with you and use anywhere.