[2021-04-07 00:15] jhakulin commented on #229
@Hisaack @Dalibur Yes, Speech SDK has been verified on Oculus Quest and that has been used by our customers. As this GitHub issue is already closed, could you please create a new issue which describes in detail, what is the environment you are using, Oculus Quest or Go and which Speech SDK version you are using and which shows the problem ?

[2021-04-07 02:13] pasha-o commented on #1024
@jhakulin I will try your suggestion and report back here, but by doing that, we are excluding **[many devices](https://dorianroy.com/blog/wp-content/uploads/2016/09/iOS_Support_Matrix_v4.2.pdf)** that support ARMv7.
Shouldn't the SDK support the iOS architectures and compile the libs against ARMv7 and v7s?

[2021-04-07 02:59] jhakulin commented on #964
@alaskanrogue libMicrosoft.CognitiveServices.Speech.core.a is used on iOS build. There is no dependency to Microsoft.CognitiveServices.Speech.core.dll, which is used in Windows UWP builds. The problem seems to be in your \Sentry.iOS\Sentry.iOS.csproj file. After modifying it to the attached version, Sentry builds ok, with your original project file, I can reproduce the same problem you are seeing.

[2021-04-07 03:12] pasha-o commented on #1024
@jhakulin I tested your suggestion and it **compiles now and generates the IPA** file for the ARM64. However, to deploy the app we need it work for both ARMv7 and v7s with many **[devices](https://dorianroy.com/blog/wp-content/uploads/2016/09/iOS_Support_Matrix_v4.2.pdf)** support those architectures.

[2021-04-07 03:30] jhakulin commented on #1024
@pasha-o Currently we do not have plans to support 32-bit, that is also direction Apple has had for several years by deprecating the 32-bit support. Following link summarizes devices supporting ARMv7(s) and ARM64, https://docs.microsoft.com/en-us/xamarin/cross-platform/macios/32-and-64/?tabs=windows. iPhone5s and later versions support ARM64 architecture, iPhone5s was launched year 2013. Apple has

[2021-04-07 03:31] #1024 closed

[2021-04-07 06:27] maheshcheetirala opened #1032 "MetaData Capture during translation"
Hello Team ,
We are trying to build this solution to a customer on their call center.  one challenge we observed is metadata is missing and we are getting all files as same date after transcribing by running this solution. Just wanted your help and tips on how we can hold metadata and get that metadata in SQL tables so we can build dash boards based on dates or weeks to understand the sentiment an

[2021-04-07 07:41] yashugupta786 commented on #1030
Hi @ralph-msft  I am using unmixed audio buffer from MS TEAMS directly and i am getting audio bytes from there  . When we do the  transcription/ translation with recognize  method . It is very slow and the results also come very late from the recognized methods instead of recognizing

[2021-04-07 07:59] TwinMist commented on #1028
Hi
within
https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/js/browser/synthesis.html
there is the option to download the synthesis file.
a.download = 'synth.mp3';
this is hardcoded to .mp3
so when you change the output format some files wont play

[2021-04-07 14:00] kleindev commented on #906
Do there happen to be any queue or web hook issues in south central ?

[2021-04-07 14:06] chlandsi commented on #1020
We have adapted the schema in #1033. Thank you for raising the issue!

[2021-04-07 14:06] #1020 closed

[2021-04-07 14:53] hakansoncu commented on #906
Web hooks function as expected in south central. The last request to your web hook (80f96f25-3087-469d-990a-b18e268ea895) was on 04-07-2021 at 05:21 UTC. Do you trigger any job after that time?

[2021-04-07 15:09] yulin-li commented on #1022
Hi @ccoreilly, thanks for reaching out. Seems this is a service issue instead of SDK. Adding @Yueying-Liu for checking

[2021-04-07 15:09] lvkun opened #1034 "How can I diagnose the issue when no response from the SDK."
I integrated the speech sdk (com.microsoft.cognitiveservices.speech:client-sdk:1.15.0) to our Android client. We add event listeners for recognizing/recognized/canceled/speechStartDetected/speechEndDetected .
When I tested it. sometimes (1 in 20 I think, especially for the first time) I found no response from the SDK,  I mean none of event listeners has been called.

How can I the root cause in su

[2021-04-07 16:36] kleindev commented on #906
Perfect - that helps me troubleshoot the issue - thank you

[2021-04-07 16:51] ralph-msft commented on #1028
You can simply rename the downloaded file to have the right file extension. The code in question above is intended for simplicity and is hardcoded for mp3 files. You can also modify the ```a.download = 'synth.mp3'``` part to have the correct extension as well in your case.

[2021-04-07 17:09] TwinMist commented on #1028
Is it possible to have this automatic depending on which format  you select.
I tried. Wav but when i opened the file it thinks its text.

Thanks for your help

On Wed, 7 Apr 2021, 17:51 Ralph, ***@***.***> wrote:

[2021-04-07 20:25] ralph-msft commented on #1031
Thanks for this feature request.

We have filed this internally as feature request for triage. At this time we don't have any updates if and/or when this would be available.

[2021-04-07 20:25] #1031 closed

[2021-04-07 20:35] ralph-msft commented on #1034
Thanks for using the Cognitive Speech SDK!

To be able to better assist you, could you please:
- Also add event handlers for the sessionStarted, and sessionStopped events
- Double check that you are calling ```.get()``` on the asynchronous start continuous recognition function: ```recognizer.startContinuousRecognitionAsync().get();```
- Double check that you are adding your event handlers before y

[2021-04-07 20:45] ralph-msft commented on #1030
If you are trying to add captions live, the recognizing event is the one you'd want to use. In this case you'd need to add your own logic to create the subtitle/caption behaviour you are expecting.

At this point, this does not appear to be a bug report, but rather a feature request for the Cognitive Speech recognition service.

[2021-04-07 22:44] ralph-msft commented on #1028
Since you've selected the **Raw**8Khz8BitMonoMULaw format, the audio returned does not include the WAVE header. That header is needed to tell the media player what the sampling rate, bits per channel, and how many channels there are in the audio data amongst other things. Without this information, you won't be able to play back the audio if it is saved as a wave file.

If you'd like a format that

[2021-04-07 23:02] ralph-msft commented on #1032
Unfortunately you have not provided enough information for us to be able help you.

- What Cognitive Speech services are you using?
- What metadata are you looking for?
- What is the minimum code that reproduces the issue you are seeing?

[2021-04-07 23:13] ralph-msft commented on #1026
I noticed that you filed a separate issue where you were able to get recognitions back from the audio:
https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1030

Based on that I'm closing this issue out. Please feel free to re-open if you have any additional information, or are still having issues.

[2021-04-07 23:13] #1026 closed

[2021-04-08 02:06] maheshcheetirala commented on #1032
Hello Team,
I am using the batch ingestion client ARM template given in the repository.
After getting the results in SQL database I don't see any column called
date or last modified date for the files. It's generating hash Id which
becomes difficult in building a dashboard based on daily call data or
weekly data to analyse sentiment.
Please let me know what to do.

Thanks
Mahesh

On Thu, 8 Apr, 20

[2021-04-08 05:06] zhouwangzw commented on #1032
@HenryvanderVegte Could you please help Mahesh?

[2021-04-08 09:02] TwinMist commented on #1028
Thanks
for my project i need the file to be

WAV file:
8.000 or 16.000 kHz
8 or 16 bit mono
µ-law, A-law, or PCM

Do you know the best way to achieve this? Can i some how convert the mp3
before i save it?

many thanks

On Wed, 7 Apr 2021 at 23:44, Ralph ***@***.***> wrote:

[2021-04-08 09:47] j-h-a commented on #919
Is there any way to track/monitor this? I don't really understand the way GH Issues are being used here, i.e. closing a ticket once a separate work item is raised somewhere else (presumably private?). It'd be nice to know when it's ready/available, is there a separate public tracker I can watch?

[2021-04-08 10:00] lvkun commented on #1034
Thanks a lot @ralph-msft .

I didn't add `get()` before. But it still works for most time.

This is really helpful. I will try to reproduce this error and check the logs.

[2021-04-08 10:22] SOliasS opened #1036 "Europe Api service down/slow"
The Api in Europe seems to be struggling at the moment.
I ether have to wait 10 seconds for an response or i get an cancel event with:

Microsoft.CognitiveServices.Speech.CancellationErrorCode.ServiceTimeout
 or
Microsoft.CognitiveServices.Speech.CancellationErrorCode.ServiceUnavailable
with the following example error
Timeout: no recognition result received SessionId: 4f39613743a785149cef3e531e45

[2021-04-08 10:25] AdamGustavsson commented on #1036
I'm also experiencing issues. I use Text-to-speech in the westeurope region

[2021-04-08 10:57] HenryvanderVegte commented on #1032
Hi Mahesh,

in the Table called "Transcriptions" you will find the info you are looking for. It contains Name (which is the name of the audio file on storage) as well as SourceUri and Timestamp. I think the timestamp is what you are looking for.

Regarding the metadata: Our solution only works with the audio file, so we don't process custom metadata at all. If you'd like to ingest metadata into th

[2021-04-08 11:00] maheshcheetirala commented on #1032
Hello Henry,
Thank you for the information. In the transcription table time stamp is the
time at which the transcription occurred. Even we have 30 files all files
are getting same time stamp.
I was looking for a solution that can capture metadata from azure blob and
preserve it in SQL database, please let me know what code changes do I
need to make.

Thanks
Mahesh

On Thu, 8 Apr, 2021, 4:27 pm Hen

[2021-04-08 11:26] HenryvanderVegte commented on #1032
Hi Mahesh,

yes, that is the timestamp when the ingestion client is submitting the job - and this is happening every 2 minutes. So if you're uploading files over weeks you can create your sentiment dashboard with a granularity of 2 mins.

Capturing metadata from blob is definitely possible, but requires a bit of work. In theory, you could use an Azure Function to how we process audio data.
I'd hav

[2021-04-08 11:34] maheshcheetirala commented on #1032
Thanks, I'll check it out.

On Thu, 8 Apr, 2021, 4:57 pm Henry van der Vegte, ***@***.***>
wrote:

[2021-04-08 14:18] backnext321 commented on #1036
same problem here: westeurope microsoft.cognitiveservices.speech.sdk.... Waiting seconds for speech and hiccups. Sometimes no problem and then again...

[2021-04-08 15:07] backnext321 opened #1037 "DevTools failed to load SourceMap"
cognitive-services-speech-sdk for Javascript Browser: TTS
As I use the new way to reach the microsoft.cognitiveservices.speech.sdk.bundle.js (example version 1.16.0) https://aka.ms/csspeech/jsbrowserpackageraw
I get this warning:
DevTools failed to load SourceMap: Could not parse content for https://aka.ms/csspeech/microsoft.cognitiveservices.speech.sdk.bundle.js.map: Unexpected token < in JSON at

[2021-04-08 18:20] ralph-msft commented on #1036
Thanks for reporting these issues. These should all be mitigated as of 2021-04-08 at 13:15 UTC.

[2021-04-08 18:20] #1036 closed

[2021-04-08 18:48] jhakulin commented on #1014
@MrFabouMR I could not reproduce the problem with HL2, some more questions.
Can you reproduce the problem in UWP x64 environment if you deploy the same app there ?
What is the SW version you have in HL2 ?
You have double checked that InternetClient, InternetClientServer capabilities are added ?
Could you try to get Speech SDK logs from Application.persistentDataPath by doing the following?

[2021-04-08 19:31] ralph-msft commented on #1037
Thanks for reporting this issue. This is now resolved.

If you continue to have issues, please re-open this issue as needed.

[2021-04-08 19:31] #1037 closed

[2021-04-08 19:53] ralph-msft commented on #1028
Unfortunately, there are some bugs in the JS sample code you are using. We have filed an internal task to get these fixed but don't have an ETA to share at this time. Please subscribe to the issue to get the latest and please open a new issue if there's new/different information.

In case it helps, here's some alternative HTML code that will correctly save files with the correct extension. Please

[2021-04-08 23:02] vivianliu0 opened #1038 "Handling Session Started Errors"
Hi! I'm currently using the Java Speech SDK (Version 1.16.0) in my project, where we are using SpeechRecognizers that are being subscribed to sessionStarted, sessionStopped, recognized, and canceled events. Currently, we are invoking startContinuousRecognitionAsync() and waiting for the sessionStarted callback before sending audio to our pushStream. On a success the sessionStarted callback is invo

[2021-04-09 07:34] matecode commented on #998
@trrwilson any news on this? would be great to get answers to my questions. Thanks a lot!

[2021-04-09 07:43] matecode commented on #994
Hi @dargilco

Just for the record: I actually don't think it's a good practice to close the issue without having an answer because there is no way for the issue creator to keep track of their own open questions/issues.

Now the subject: any news from internal systems?

Thanks

[2021-04-09 08:13] MrFabouMR commented on #1014
@jhakulin I can't try it with x64 cause HL2 supports only ARM64. My emulator can't recognize the mic.
My Software Version is 10.0.19041.1131
I checked all capabilities
persistentDataPath tries to safe the logfile into the hololens, I can't reach them there.

[2021-04-09 09:31] TwinMist commented on #1028
thanks but
failed to write to file. Error: TypeError: window.showSaveFilePicker is not a function

i am using the sample  cognitive-services-speech-sdk/samples/js/browser/synthesis.html
i have updated the selects but how do i make is change the ext

        pushStreamCallback = {
            write: function (dataBuffer) {
                wavFragments[currentFragment] = dataBuffer;

[2021-04-09 11:30] #1032 closed

[2021-04-09 13:43] tomasgreen opened #1039 "SPXSpeechSynthesizer - iOS - play audio"
Hi!

I've been trying to take control of playing the audio coming from the SPXSpeechSynthesizer but it seems as if the system doesn't recognise the format (tried playing the files on my Mac as well, same result).

It doesn't seem to matter if I store the file using SPXAudioConfiguration(wavFileOutput:) or the resulting audioData property.
I also tried to write the data buffer directly to a AVAudio

[2021-04-09 15:38] jhakulin commented on #1014
@MrFabouMR You can reach to persistentDataPath using Windows Device Portal
https://docs.microsoft.com/en-us/windows/mixed-reality/develop/platform-capabilities-and-apis/using-the-windows-device-portal persistenDataPath is written to %userprofile%\AppData\Local\Packages\<productname>\LocalState.
There is some setup to do, but in order to process your request better, we would need to see the log.

[2021-04-09 17:36] trrwilson commented on #998
@matecode, thanks for pinging me again and apologies for missing the earlier response!

Correlation will generally need to happen with activities *from* the bot *to* the client, as what's tracked is the resolution of the `ITurnContext` on the bot side. What you use to correlate will depend a bit on your dialog system's responses, but here's a common mapping for bots:

| In the activity payload (JS

[2021-04-09 17:53] ralph-msft commented on #1028
window.showSaveFilePicker is only supported in Chrome 86 or newer, Edge 86 or newer, and Opera 72 or newer. I've updated the code to support older browsers:

[code]

[2021-04-09 18:15] ralph-msft commented on #1030
We've file a feature request to add this functionality. At this point we don't have ETA to share on _if_ or when this would get implemented.  Please subscribe to the issue to continue to get the latest updates

[2021-04-09 18:15] #1030 closed

[2021-04-09 18:37] ralph-msft commented on #1038
The canceled event is also raised if the SDK cannot connect to the speech service. For example if you use the ```SpeechConfig.fromEndpoint("wss://not.a.valid.endpoint.goes:1234/here", "subscriptionKey");```, the canceled event will be raised with the error details.

[2021-04-09 19:57] glharper commented on #1039
@tomasgreen Raw PCM formats don't seem to be supported for playback on any platform. Are you experiencing the same issue with RIFF PCM output?

[2021-04-09 21:04] kleindev commented on #906
We are seeing a few items that don't appear to have been called back since ~9 am central.  We are working on changes to poll the service instead, but that is not yet in production -  Curious if there is any queue backlog

[2021-04-10 04:44] StevenJDH opened #1040 "Default output device is not updated at runtime if device changes"
**Describe the bug**
When using  the default output device for audio output, if you change the device because let's say you were using your PC speakers and then changed to headphones, the audio will still continue to use your PC speakers. Likewise, if you started with headphones and then unplugged them, you won't hear anything because it's still trying to use the headphones as opposed to PC speake

[2021-04-10 09:26] TwinMist commented on #1028
many thanks ralph your a star.
is it possible you can update the following code is include your fix, i have added window.saveAudioFilePicker to the end of the file so just need to ext parted added but dont know how.
I am using the synthesis.html demo file as it has the play and download button separate.
THnaks

        pushStreamCallback = {
            write: function (dataBuffer) {

[2021-04-12 06:25] tomasgreen commented on #1039
@glharper Yeah, that did it! I assumed that the raw format would be the most reliable but I should have tried using another format before reaching out... that's what I get for posting an issue on a Friday afternoon 😉

Thanks!

[2021-04-12 10:06] MrFabouMR commented on #1014
@jhakulin  I understand, I hope we can fix it soon.
When I'm pressing on the LocalState nothing happens, after 5min it says "failed to get files for package"

[2021-04-12 13:05] vivianliu0 commented on #1038
Thanks for clarifying! I see now that if the SDK cannot connect to the speech service, the sessionStarted event is raised as well as the canceled event. Is it possible for the sessionStarted event to not be raised when startContinuousRecognitionAsync() is invoked?

[2021-04-12 17:19] #1039 closed

[2021-04-12 18:57] glharper commented on #1040
@StevenJDH Thanks for letting us know about this issue. I've added a item on our team's backlog to track work against this.

[2021-04-12 18:57] #1040 closed

[2021-04-13 13:48] lvkun commented on #1034
We tried, and managed to reproduce it twice. Could you help take a look at the log file? Thanks a lot!

Attached:
[logFile - 1.txt](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/6304190/logFile.-.1.txt)
[logFile - 2.txt](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/6304192/logFile.-.2.txt)

[2021-04-13 16:32] oscholz commented on #1029
@santoojoshi does this happen in the latest 1.16 release as well?

[2021-04-13 16:39] glharper commented on #1029
@santoojoshi Are you able to reproduce this issue with version 1.16? If so, would you be kind enough to attach logs from the 1.16 repro? Thanks.

[2021-04-14 00:05] jhakulin commented on #964
closing as solution provided to customer. Let us know if there is any further issue.

[2021-04-14 00:05] #964 closed

[2021-04-14 19:35] alaskanrogue commented on #964
@jhakulin I have been traveling for the past several weeks. I had the opportunity to remotely re-integrate your .csproj file today, adding the configuration that I had deleted for your testing project. I was able to remotely, successfully build the solution, However I am unable to test until Monday when I am back at my office,

Sorry, but I am unable to advise you to the project template used. It

[2021-04-15 01:37] junaidahmed361 opened #1042 "npm install of nodejs javascript-client - Invalid version"
I have followed the procedure to install the batch transcription REST api from Swagger for nodejs, but I keep getting the error "npm ERR! Invalid version: "v3.0". The npm logs don't give much more info other than this as well. I have created a directory called 'nodejs' and while in the directory, I am attempting to install the packages from the downloaded javascript client directory using `npm ins

[2021-04-15 07:28] chlandsi commented on #1042
I can repro this with newer versions of npm. Please try changing the value for `version` in the package.json of the generated client to `3.0.0` to be a proper semantic version.

[2021-04-15 10:43] NereaCabiedasMoreno commented on #703
hello, I would like to know how I can add the speech to text functionality to a bot that I have created in Node.js

[2021-04-15 13:41] madkote opened #1043 "Speech-To-Text :: Continuous :: Python SDK :: silence"
Hi all,

I am using Python SDK for continuous speech recognition from an audio stream.
Sometimes audio has long silence and I would like to handle it.
is it possible?

[2021-04-15 14:34] IlGalvo opened #1044 "System.DllNotFoundException: libMicrosoft.CognitiveServices.Speech.core.so in XF (Android)"
**Problem Description**
When clicking on the button to start mic recognition, this exception is thrown:

**To Reproduce**
Steps to reproduce the behavior:
1. Download the attached example.
2. Insert key and region
3. Select Android as destination
4. Run and click on the button to start the mic.

**Expected behavior**
It starts to listen from mic and then return a result.

**Version of the Cognitiv

[2021-04-15 16:56] glharper commented on #1043
@madkote Thanks for using Speech SDK. I believe the property SpeechServiceConnection_EndSilenceTimeoutMs, which can be set on a SpeechConfig object, is what you're looking for.

[2021-04-16 18:01] glharper commented on #1044
@IlGalvo Thank you for the detailed writeup, and including your test solution! Running the test solution on an Android Emulator (Pixel 2 Pie 9.0) does not produce the exception you describe. From the debug output, I see:[Mono] DllImport attempting to load: 'libMicrosoft.CognitiveServices.Speech.core.so'.
[Mono] DllImport error loading library '/data/data/com.companyname.test/files/.__override__/li

[2021-04-16 18:32] IlGalvo commented on #1044
If it can help, here they are my VS spec:
[VS Spec.txt](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/6327222/VS.Spec.txt)

As you can see in the picture below, I tried to deploy bot debug and release in these devices:
![Img1](https://user-images.githubusercontent.com/17992288/115068134-27af3480-9ef2-11eb-9001-2a8a14a01d01.jpg)

Lastly, the libraries I was talking about, are

[2021-04-16 19:05] glharper commented on #1044
Try switching the Processor for your emulators to x86 (instead of x86_64). I'm noticing the .zip you provided doesn't have our .so files in the x86_64 folder for some reason.

[2021-04-16 19:57] glharper commented on #1044
I have reproduced this when I switched to a x64 emulator

[2021-04-16 21:17] IlGalvo commented on #1044
Ok, confirmed: on x86 emulator and my actual ARM device, everything works great!

So the problem lies only in the x86 android devices.

[2021-04-19 03:22] CtrlZvi opened #1045 "KeywordRecognizer | Python | macOS: stop_recognition_async() does not work"
**Describe the bug**
Calling `stop_recognition_async()` after `recognize_once_async()` does not appear to work correctly.
1. It takes about 10 seconds to do whatever it is it does.
2. The `canceled` callback do not run as a result of invoking it.
3. `get()` on the `ResultFuture` returned by `recognize_once_async()` blocks forever.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the below

[2021-04-19 18:33] #1044 closed

[2021-04-19 18:50] jhakulin commented on #919
@j-h-a Did you try the solution which is described in the link below ? I think the problem with "-create-xcframework" command is that does not support multi-architecture binaries, like now we have x86_64 and arm64 bundled inside the framework.
https://help.apple.com/xcode/mac/11.4/#/dev544efab96

[2021-04-19 20:46] jhakulin commented on #1014
@MrFabouMR Could you please report back can you reproduce the problem with the official speech synthesis sample for Unity ? https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/csharp/unity/text-to-speech

[2021-04-20 00:55] jhakulin commented on #1014
@MrFabouMR Also please let us know which version of Speech SDK you are using ?

[2021-04-20 02:28] jhwang7628 opened #1046 "recognizedPhrases content missing field 'word'"
**Describe the bug**
We experience a case where a returned s2t response object item `s2t['recognizedPhrases']['nBest'][0]` contains empty phrases. Attached is a sample JSON object extracted from the response:
![image](https://user-images.githubusercontent.com/7445300/115327684-f3719780-a1c1-11eb-906a-275c2d708cad.png)
As shown, the phrase contains empty string with zero confidence. Crucially, this

[2021-04-20 04:36] CtrlZvi commented on #1045
It appears that the call to `recognize_once_async()` did not, in fact cancel anything, despite returning. If I speak the hotword, after cancellation, the program will recognize the hotword and return a successful result. If I speek the hotword before the cancellation finishes (during the 10 second window), then when the cancellation completes, the cancellation callback _is_ invoked, but, again the

[2021-04-20 05:00] CtrlZvi commented on #1045
As an interesting counterpoint, though, if I wrap the keyword recognition into a coroutine and run the recognition on a separate thread, then the cancellation works just fine (see below sample). Seems like there might be a threading issue?

If I use the result the in the original coroutine to convert the result to an `AudioDataStream` and then `detach_input()`. If I do that in the thread that's ge

[2021-04-20 07:49] j-h-a commented on #919
Yes - my comment on 6th Jan describes trying this.

If the current release (which I'm thinking might include SPM support, based on the comment from @pankopon on 17th Feb) is delayed, would it be possible to provide a hotfix release from the previous version that includes SPM support? As far as I know the process is mostly described above, the only thing missing is the compile settings to produce a

[2021-04-20 11:59] accateo opened #1048 "custom wake word model in JS"
Hi,
will cognitive service speech SDK (Node or JavaScript) support custom wake word model in future?

Thanks

[2021-04-20 12:37] MrFabouMR commented on #1014
@jhakulin  Okay, I got it!
Thank you very much. My version was 1.6.0 and I updated it to 1.16. It works now :-)
/close

[2021-04-20 13:52] #1014 closed

[2021-04-20 16:30] chschrae commented on #1045
Thanks for reporting this issue. You've provided everything we need to look into this and we're tracking the investigation on the SDK team's backlog. To keep the open issues list fresh, we'll close this issue while it's prioritized and developed against and report back here once we have an update. Please subscribe to the issue to get the latest and please open a new issue (that can freely referenc

[2021-04-20 17:57] chschrae commented on #1048
Hi there,

Thanks for reaching out.

Currently there are no plans to add this. Could you tell us more about the scenario you are working on? Perhaps there is another way to achieve your goals.

[2021-04-20 18:46] chlandsi commented on #1046
The empty segments are generated after 20s of silence. They are contained in the results for consistency with our online (streaming audio) service. It is by design that the `words` field is empty in this case.

[2021-04-21 11:11] loooog opened #1049 "Get the dll load error in windows server"
Hi,
I am using the java SDK . It works well in local and other windows machine. But when deployed to window server I got this:
(JDK 11, windows server 2019 64-bit)

[2021-04-21 12:54] kleindev commented on #906
Good morning - just wanted to do a quick health check - last call back I see is 4/20/2021, 10:25:16.173 PM (cst) - do thinks look clear on the southcentral side?

[2021-04-21 13:44] madkote commented on #1043
@glharper I will verify and let you know.

[2021-04-21 14:58] rarera commented on #906
Hi kleindev, on our side everything looks fine, queues are emptied ...
it looks like we get ServiceUnavailable when we try to send the webhook requests.

[2021-04-21 16:14] junaidahmed361 commented on #1042
Actually it was a node version issue. After upgrading my node and npm it worked

[2021-04-21 16:14] #1042 closed

[2021-04-21 16:21] junaidahmed361 opened #1050 "nodejs - Transcription status "NotStarted", no transcription id"
When I submit my transcription job from nodejs, I am faced with a couple of issues. First, the api's createTranscription method returns nothing when doing an asynchronous call. Since this isn't working, and since it is a REST api, I tried sending a request from Postman with the appropriate body and headers to the Create Transcription endpoint. My file is in a Azure blob container. I am returned a

[2021-04-21 16:49] h4rr0d opened #1051 "Batch transcription speaker diarization not working (at all)"
**Overview of the Issue**
Speaker diarization feature of Batch Transcription is not working for me at all (trying on eastus). I've tried several files and thought that maybe it had trouble because the voices sounded similar, but it doesn't seem to work even in a sample with female and male speakers. It seems, that the _DiarizationEnabled_ property is simply being ignored, because the resulting tra

[2021-04-21 17:01] Mono33 commented on #437
Try to install speech-interface  with   pip install speech-interface

[2021-04-21 17:10] kleindev commented on #906
@rarera did it say where service unavailable is coming from?  Here is what I show

![image](https://user-images.githubusercontent.com/9289866/115593807-985fa380-a29a-11eb-960a-7a2241dba932.png)

[2021-04-21 17:30] chlandsi commented on #1051
Please post the transcription id and the approximate time of your request so we can correlate with service logs. Thanks!

[2021-04-21 17:33] chlandsi commented on #1050
The transcription id is the id at the end of the `self` field in the response: "self": "https://westus2.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions/**22014645-b005-4acb-9aaf-93e9960f2d38**". To see the current status of your transcription, do a GET request on that route. Please also refer to these [docs](https://docs.microsoft.com/en-gb/azure/cognitive-services/speech-service/batc

[2021-04-21 17:36] h4rr0d commented on #1051
[code]

[2021-04-21 17:41] junaidahmed361 commented on #1050
Thanks

[2021-04-21 17:41] #1050 closed

[2021-04-21 18:05] chschrae commented on #1048
After further investigation, it turns out there ARE plans! However no release has the work item attached to it yet so I do not know when it would be available.

[2021-04-21 18:05] #1048 closed

[2021-04-21 18:08] accateo commented on #1048
@chschrae I would activate the registration only when a specific keyword is "heard"

[2021-04-21 18:17] chlandsi commented on #1051
I noticed that your file is in stereo. For stereo files, diarization is not possible, and the diarization flag is silenty ignored, which clearly is a bug. A fix for the issue is already underway and will be deployed in the next few days - it will not perform any processing and give a clear error message in this case. Until then, a workaround is to downmix all files to mono if diarization is reques

[2021-04-21 18:21] chschrae commented on #1049
Hi @loooog ,

Thanks for posting your issue.

It definitely appears that it cannot find the dlls or native libraries of the SDK.

Can you share more details about how your project is organized?
Are you using maven or gradle to include the SDK?
Have you tried updating to the newest version? (1.16)
What are the details of the other windows environments that it does work on?

[2021-04-21 18:38] h4rr0d commented on #1051
I completely missed that last sentence in the documentation. Sorry about that.

[2021-04-21 18:49] kleindev commented on #906
I'm confused where the service unavailable comes from - Azure functions here have no trace of 503

[2021-04-21 19:18] kleindev commented on #906
I've pinged and tested from and they were both accepted.  Is there something else I need to do to reset this?  Again I don't see any trace of service unavailable

[2021-04-21 22:31] jhakulin commented on #919
@j-h-a It is possible to create xcframework using following steps. Let us know if this helps you further?

1. Step download https://aka.ms/csspeech/iosbinary
$ ls
MicrosoftCognitiveServicesSpeech.framework

2. Extract arm64 from the framework to separate binary because xcframework conversion does not support multiple binaries
jhakulin$ lipo -extract arm64 MicrosoftCognitiveServicesSpeech.framework

[2021-04-21 23:06] kleindev commented on #906
I've deleted the webhooks, re-added, the web hooks now have a status of success.  I submitted a few and it was working - but now I believe it has stopped again (last call back over 1 hour ago).

[2021-04-21 23:15] jhwang7628 commented on #1046
OK. Thanks for the clarification. In some cases, we found the field `words` completely missing (screenshot), others the field is present but it is empty. Which one is the intended behavior? Probably not both.

[2021-04-22 09:02] anushaa01 opened #1052 "Pronunciation Accessment- word level detail"
I am facing issue with the word level result. As per the docs,  in error type, we should get any one of the 3 parameters that is: omitted, inserted and missed spelled. But We are only getting if the word is misspelled.

[2021-04-22 11:26] lvkun commented on #1034
@ralph-msft Could you help take a look at this issue again?

[2021-04-22 12:07] cl-6666 opened #1053 "流式语音识别"
**Is your feature request related to a problem? Please describe.**
I want to record through my own microphone, and go to your Microsoft platform to identify in real time based on the audio stream returned by the microphone. It seems that this is not supported by viewing the document

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe altern

[2021-04-22 12:31] h4rr0d commented on #1051
After downsampling the audio to mono and running it through the transcriber, the speaker separation seems to be fairly random and very incorrect, often putting both the speakers into one phrase (which is strange, considering it's male and female voice). Is there a way to increase the accuracy of the recognition? I also tried another sample without background music, but the diarization wasn't much

[2021-04-22 13:20] ninahaack opened #1054 "No punctuation and capitalisation in nbest (words) results"
Hi, I'm currently using the batch transcription REST API (2.0) and I noticed that inside Words it doesn't have punctuation or capitalisation. Any suggestion on how to receive the NBest results (list of words) with correct capitalisation and punctuation?

Current behaviour:

[code]

What I want:

[code]

These are the properties that I'm using:
[code]

Thank you in advance,

Marina Haack

[2021-04-22 13:33] nk412 commented on #1054
This seems to be the same issue as described here https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/649

Have there been any updates on this, and/or is this available in the 3.0 API? Adding custom code to split up the display text and map it to the list of words and timestamps is possible, but it's not ideal. In particular, the words available in NBest are split on apostrophes

[2021-04-22 14:26] rarera commented on #906
Hi kleindev, our queues are empty in southcentral us, so from that perspective it looks good.
I am now checking if I find again that we received Service Unavailable

[2021-04-22 14:30] zhouwangzw commented on #649
The "Words" contain actually the words in lexical format which does not have any punctuation and capitalization. The "Display" field  contains text with punctuation and capitalization but no at the world level. We are working on feature to provide word level information for display format, which will be probably be available in the next months. But we do not have detailed ETA yet. Stay tuned.

[2021-04-22 14:31] zhouwangzw commented on #1054
The "Words" contain actually the words in lexical format which does not have any punctuation and capitalization. The "Display" field contains text with punctuation and capitalization but no at the world level. We are working on feature to provide word level information for display format, which will be probably be available in the next months. But we do not have detailed ETA yet. Stay tuned.

[2021-04-22 15:03] rarera commented on #906
Hi again, I went again through our logs and dashboards. Our service looks healthy, all errors I find are about timeout (no answer from the remote server). In some cases I see also service availability problems on the remote server. If restart on your side helped, that might be an indicator that you need to look into the health of your side as well. You might want to look into your Azure function,

[2021-04-22 15:33] ninahaack commented on #1054
Thank you, that's really good to know.

[2021-04-22 16:09] mishrapratyush opened #1055 "Include Gender as a property in VoiceInfo class"
**Is your feature request related to a problem? Please describe.**
The response to the RestApi call: https://westus2.tts.speech.microsoft.com/cognitiveservices/voices/list includes properties like Gender, however the same is missing in our SDK.

**Describe the solution you'd like**
The VoiceInfo object returned in the SDK to also include these as top level property and if they are not then, these

[2021-04-22 16:34] madkote commented on #1043
@glharper it helped. thx.

[2021-04-22 16:34] #1043 closed

[2021-04-22 18:12] chschrae commented on #1052
Hi there!

Thank you for your issue.

Can you provide any more details about your use or the SDK?

Do you have a particular code snippet that shows the area you are getting the unexpected value?

[2021-04-22 18:21] chschrae commented on #1053
Hi there,

Thank you for your issue. If I read it correctly, it seems you would like to do Speech Recognition from your microphone or from the audio stream returned from your microphone. This is absolutely possible and one of the main reasons the SDK exists.

There are several quickstarts referenced in the readme of this repository so that may be a good place to start. If you have an audio stream

[2021-04-22 18:21] #1053 closed

[2021-04-23 22:55] jhakulin commented on #919
@j-h-a Are you able to progress further with the instructions above?

[2021-04-24 01:46] jhwang7628 commented on #1046
@chlandsi ?

[2021-04-24 08:07] chlandsi commented on #1046
There is a subtle difference between the two - in one case, there was no speech detected at all, in the other case there was, but the top-rated hypothesis is for silence. Your code should be able to handle both. We may choose to remove empty results in the future on the level of elements in the recognizedPhrases list, but there is no ETA on this decision yet. We apologize for the inconvenience.

[2021-04-24 08:11] chlandsi commented on #1051
We'll be rolling out changes to the diarization service over the next few weeks, please stay tuned.

[2021-04-25 07:40] yulin-li commented on #1055
Hi @mishrapratyush, thx for the feedback and suggestion. We will add this property in `1.17.0`.

[2021-04-25 09:25] cl-6666 commented on #1053
Nín hǎo wǒ kàn nǐ zhè biān fā de shì windows de ànlì, wǒ zhè biān xiǎng yào de shì Android liú shì shìbié, chǎngjǐng shì gēnjù wǒmen nèibù de màikèfēng, ná yīnpín liú shíshí qù nǐmen wēiruǎn píngtái shìbié

volume_up
69 / 5000
翻译结果
Hello, I think what you posted here is a Windows case. What I want here is Android streaming recognition. The scene is based on our internal microphone, and the audio s

[2021-04-26 09:12] cl-6666 opened #1057 "Streaming is not supported for speech-to-text on Android"
The voice-to-text does not support Android streaming, which is not found in your official documents. We are using our own directional microphone. We want to identify it on your platform in real time based on the audio stream we recorded. I asked your customer service to say no before Support, because our current approach is to synthesize our own audio stream into wav and then go to your platform f

[2021-04-26 14:03] yulin-li commented on #1003
@yinhew Could you help to comment this issue?

[2021-04-26 14:57] lnstreit commented on #887
Hello,

As @ChrisProlls, I encounter the same issue on my side. Did you manage to resolve the issue now (if yes how) ?

**Bug:**
I downloaded the solution files found here: https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/csharp/dotnet/speaker-recognition
The only changes I made to the code was to change "YourSubscriptionKey" and "YourServiceRegion" with my cog

[2021-04-26 16:05] glecaros commented on #1057
hi @cl-6666, maybe you can try using something like [this example](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/java/android/sdkdemo/app/src/main/java/com/microsoft/cognitiveservices/speech/samples/sdkdemo/MicrophoneStream.java) to populate it with your stream.

Please let me know if that works.

[2021-04-26 16:26] glecaros commented on #1034
Hi @lvkun, I checked at your logs and it seems that there is a timeout happening but the SDK is not reporting it back. Can you please try updating 1.16 as this bug was fixed for that version.

[2021-04-26 17:24] glecaros commented on #887
Hi @lnstreit,

Can you please capture some logs ([instructions](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-use-logging#sample)) and share them?

[2021-04-26 23:19] BrianMouncer commented on #790
@mikenewman1

I was not able to reproduce this yet.
I had some internal discussion about what could be a cause for this, and of the processes could be getting starved for CPU time.
e.g. running 15+ pool thread on a machine with less than 15 cores?

Could you provide a minimal python app that would reproduce the issue you are hitting?

 Thanks.

[2021-04-27 00:17] glecaros commented on #1016
Can you try just adding
[code]

[2021-04-27 00:28] glecaros commented on #939
Hi @yashugupta786,

Were you able to resolve you problem?

[2021-04-27 03:13] yinhew commented on #1003
@yulin-li I have the same question as what @trrwilson mentioned above.
Waiting for reply from @Dgg1997 .

[2021-04-27 06:17] cl-6666 commented on #1057
我试过了，这种方法不行，我们麦克风现在返回的是byte[] data，不知道您那边是否可以提供一个类似这样的api
   ，mRecognizer.writeAudio(data, 0, data.length);   实时的传输给你们流    然后识别结果回调给我们

[2021-04-27 06:18] cl-6666 commented on #1057
I tried it, but this method doesn’t work. Our microphone now returns byte[] data. I don’t know if you can provide an api like this
，MRecognizer.writeAudio(data, 0, data.length); transmit it to you in real time, and then call back the recognition result to us

[2021-04-27 06:18] cl-6666 commented on #1057
I tried it, but this method doesn’t work. Our microphone now returns byte[] data. I don’t know if you can provide an api like this
，MRecognizer.writeAudio(data, 0, data.length); transmit it to you in real time, and then call back the recognition result to us

[2021-04-27 13:30] mikenewman1 commented on #790
Let me first make sure that it is still happening. And do you have a preferred endpoint I should hit?

[2021-04-27 14:36] LukasEdl opened #1058 "The method recognize_once_async of the intent_recognizer is blocking the thread"
**Describe the bug**
When i try to run method `recognize_once_async` of the IntentRecognizer-classthe the code after that is blocked until the intent is recognized or the recognition is canceled. However, it should not block the thread and run the code afterwards.

**To Reproduce**
Here is code to reproduce the error. I am using Pyhton 3.6 64-Bit and version 1.16.0 of azure-cognitiveservices-speec

[2021-04-27 14:43] lnstreit commented on #887
Hi all,

I resolved the issue in the end. The problem was due to the difference in culture formats between the speech configuration (or cognitive services) and the local machine (mine). As I use a machine which formats strings in the "fr-fr" format, doubles in strings are probably used with "," and not "." as in "en-us". The below line of code resolved the issue (changing the system format to the

[2021-04-27 15:56] glecaros commented on #887
Great, please reopen if you need further help.

[2021-04-27 15:56] #887 closed

[2021-04-27 16:05] glecaros commented on #1057
[This example](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/quickstart/java/android/keyword-recognizer-stream/app/src/main/java/com/microsoft/cognitiveservices/speech/samples/quickstart/MainActivity.java) uses a push audio input stream. Let me know if that is what you need.

[2021-04-27 16:07] glecaros commented on #932
Hi @wall3001 , were you able to resolved this?

[2021-04-27 16:30] glecaros commented on #1058
Hi @LukasEdl, can you try storing the future returned by the async method?
[code]

[2021-04-27 16:32] glecaros commented on #1021
Closing this issue as there hasn't been any movement in some time. Feel free to reopen if needed.

[2021-04-27 16:32] #1021 closed

[2021-04-27 17:42] LukasEdl commented on #1058
Hi @glecaros storing it was the solution. As long as the return value is kept in the current method it works, however if i put it in a variable and the return the function without returnging the variable it starts blocking the thread again.

[2021-04-27 18:05] glecaros commented on #1058
Hi @LukasEdl,

What happens is that when that future goes out of scope (no references are kept) the destructor gets called and that implicitly gets the future.

I'll close the issue, feel free to reopen if you need further help.

[2021-04-27 18:05] #1058 closed

[2021-04-27 19:25] glecaros commented on #1038
Hi @vivianliu0,
Unfortunately changing that behavior would be considered a breaking change. I'll bring this up to the team so it can be considered for when we have our next major version and also to see if we can have more detailed documentation about these events.

I'll close this issue, please feel free to reopen if you need further help.

[2021-04-27 19:25] #1038 closed

[2021-04-27 19:33] glecaros commented on #998
I'm closing this item as there hasn't been activity in a while. @matecode please feel free to reopen if you need further help.

[2021-04-27 19:33] #998 closed

[2021-04-27 20:03] glecaros commented on #1006
Hi @namrathanithya,

In that same page there is a [Java](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/get-started-text-to-speech?tabs=script%2Cwindowsinstall&pivots=programming-language-java#use-ssml-to-customize-speech-characteristics) that demonstrates how to do it in android. The code required for objective-C/swift should be similar (use the speakSsml API passing the

[2021-04-27 22:05] glecaros commented on #948
Hi, I'm closing this issue has there hasn't been any activity in quite some time. @muhmuhcow please feel free to reopen it if you need further help.

[2021-04-27 22:05] #948 closed

[2021-04-28 05:40] cl-6666 commented on #1057
Hello, I saw this case. This is to identify local files. I think I may not express it clearly. The effect we want is like this. Directly take the real-time audio stream returned by our own microphone and give it to you for real-time recognition. , I saw that other platforms do this and I posted the code.

 if (isLast) {
            if (mRecognizer != null) {
                mRecognizer.stopListeni

[2021-04-28 05:50] cl-6666 commented on #1057
Hello, I saw this case. This is to identify local files. I think I may not express it clearly. The effect we want is like this. Directly take the real-time audio stream returned by our own microphone and give it to you for real-time recognition. , I saw that other platforms do this and I posted the code.

if (isLast) {
if (mRecognizer != null) {
mRecognizer.stopListening();
}
} else {
mRecognizer.

[2021-04-28 05:51] cl-6666 commented on #1057
Hello, I saw this case. This is to identify local files. I think I may not express it clearly. The effect we want is like this. Directly take the real-time audio stream returned by our own microphone and give it to you for real-time recognition. , I saw that other platforms do this and I posted the code.

if (isLast) {
if (mRecognizer != null) {
mRecognizer.stopListening();
}
} else {
mRecognizer.

[2021-04-28 06:22] LukasEdl commented on #1058
Hi @glecaros,
thank you for the information. Maybe this information could be added to the documentation. Im sure that would be helpful for others as well.

[2021-04-28 16:38] glecaros commented on #1058
I'll bring it up to the team.

[2021-04-28 16:49] glecaros commented on #1057
What I believe you need to do is to use that same mechanism that sample uses; so you would create your recognizer using a PushAudioInputStream and do something like:

[code]

[2021-04-28 23:25] rhurey commented on #1018
Sorry this took a while to get an answer back.

We don't have a utility to combined multiple phrases, and each phrase, while likely, isn't guaranteed to end in punctuation.

We've had a thought of exposing another method on the API surface to get the entire recognition in one call, but haven't had the right opportunity to take it further.

[2021-04-29 02:10] cl-6666 commented on #1057
Hello, now I have a problem. The reco.recognized.addEventListener method is sometimes executed, sometimes not. I don’t know what caused it. The reco.recognizing.addEventListener method is executed every time, but there is no punctuation in the result. Now The realization is a single recognition, I also posted the code

`  public void streamingRecognition(String language) {
        content.clear();

[2021-04-29 02:15] cl-6666 commented on #1057
Hello, now I have a problem. The reco.recognized.addEventListener method is sometimes executed, sometimes not. At this time, my microphone has ended, and there is no print result in the log. I don’t know what caused it, reco.recognizing. The addEventListener method is executed every time, but there is no punctuation in the result. Now it is a single recognition. I also posted the code.

[code]

[2021-04-29 02:31] lvkun commented on #1034
@glecaros Thanks a lot! Great to know. Do you know how to set the timeout value for the sdk?

[2021-04-29 02:41] yulin-li commented on #1057
Hi @cl-6666 I translated the issue title to English to make it more convenient, fell free to update it.

[2021-04-29 03:42] yulin-li commented on #1013
I got an answer from service team. You can using the following SSML to set the tailing silence of `Hello` to reduce the silence.

[code]

[2021-04-29 09:11] ashwinkfmr opened #1059 "Connection Error when running samples in Python"
Hi
I am using an Azure VM to run the Python3 samples. I created a Speech Service, and verified it works by using the demo in the Web Console. However, when I try to run the sample under python/console, I hit the error below

You selected: <function speech_recognize_once_from_file at 0x7f8a9259b9d8>
Speech Recognition canceled: CancellationReason.Error
Error details: Connection failed (no connectio

[2021-04-29 12:10] alaa-eddine commented on #1013
Awesome !
I was not aware that we can use mstts:silence this way .
This fixes my issue, thank you very much!

[2021-04-29 12:10] #1013 closed

[2021-04-29 16:14] isthistechsupport opened #1060 "Python Speech SDK support for ARM64"
The Speech SDK on ARM64 has gradually added support for more and more languages. Is Python on the roadmap as well? Given how Python is a huge part of programming on a Raspberry Pi, it's inconvenient that we can't use it for Speech on Pi development, and it'd make a great addition

[2021-04-29 16:59] BrianMouncer commented on #790
@mikenewman1

Thanks.  If you can still reproduce the issue, can you try with the latest 1.16 version of the sdk?
I'm unaware of any fixes that would explain what you are seeing, but we have made some miscellaneous fixes around reconnect and error handling logic.

As far as endpoint to choose form, It would be helpful if it was on a public endpoint, so that I can access it to try and troubleshoot

[2021-04-29 17:05] glecaros commented on #1059
Hi @ashwinkfmr, can you please share how are you setting up your speech config and recognizer?

[2021-04-29 17:16] mikenewman1 commented on #790
I just ran (what I think is) the same big job and this time did not see any problems. I am going to have to dig a little deeper to make sure I ran the right thing, etc

[2021-04-29 17:23] glecaros commented on #1057
Hi @cl-6666. from the behavior you are describing I wonder if you are sending enough audio for the service to detect the end of speech. Maybe you can keep your microphone open a bit longer (or try sending a few frames filled with 0's so they are identified as silence)

[2021-04-29 17:42] glecaros commented on #1060
Hi @isthistechsupport,
Thank you for reaching out! We do have a backlog item that covers this. I'll add your request to it as a data point so the team has more information when scheduling it.

[2021-04-30 03:09] yulin-li commented on #1013
That it great!

[2021-04-30 04:10] ashwinkfmr commented on #1059
I am using the samples from the python folder here. I am changing the subscription key and the region.

Both the Azure VM and the Speech Service is created using the same Resource Group.

[2021-04-30 09:19] santoojoshi commented on #1029
@glharper  Sorry for the late response.
Please find the attachments for azure SDK 16.0 logs
azurelogs_sdk16.0_502_high_cpu.txt :  If Speech server is no responding CPU usage is higher than success case. May be because of RETRY of connection establishment. Is there any configuration for limiting the RETRY number or duration, if azure speech server is not responding?

azurelogs_sdk16.0_success.txt

[2021-04-30 09:31] santoojoshi opened #1061 "Segmentation fault if "SPEECH-StopRecognitionTimeoutInSeconds" is set to zero (0)"
Describe the bug
Segmentation fault if SPEECH-StopRecognitionTimeoutInSeconds is set to 0. If set to 1 sec, it works fine.

To Reproduce
Steps to reproduce the behavior:

Run a Speech To Text continuous recognition

Expected behavior
StopContinuousRecognitionAsync() should stop recognition immediately.

Version of the Cognitive Services Speech SDK
1.16.0

Platform, Operating System, and Programmin

[2021-04-30 14:49] mikenewman1 commented on #790
Indeed I had forgotten to set `word_level_timestamps`. Trying again...

[2021-04-30 17:02] glecaros commented on #1034
Hi @lvkun, there isn't a publicly documented way. The value it has matches service characteristics so when the SDK infers there was a service timeout we are confident that that was what happened.

[2021-04-30 18:03] Tiger-Cross opened #1062 "Unity CloudBuild Build fails if using multiple platforms."
**Describe the bug**
When creating a Unity CloudBuild target for a project that uses this SDK, the build fails and produces the message `error CS0234: The type or namespace name 'CognitiveServices' does not exist in the namespace 'Microsoft' (are you missing an assembly reference?)`

This is because the `Microsoft.CognitiveServices.Speech.csharp.dll` file for each platform conflicts.  As a quick w

[2021-04-30 18:11] jhakulin commented on #1062
@Tiger-Cross Thanks for the report and sorry for the problem with Unity Cloud build. I will create workitem to fix this, I believe the issue is with the library metafiles. Could you comment if it helps if you copy Microsoft.CognitiveServices.Speech.csharp.dll under each platform (Android, iOS, WSA, x86, x86_64) and tag the each copy to target the specific platform only?

[2021-04-30 18:18] Tiger-Cross commented on #1062
that's OK! the issue isn't blocking me right now (since I used the workaround suggested) I just wanted to help it get resolved for others. When trying to add tags for a DLL it's not the same process as for a prefab or GameObject in the hierarchy. Do you mean I need to select the icon in the bottom right corner of the screenshot below?

![image](https://user-images.githubusercontent.com/33670466/11

[2021-04-30 19:23] glecaros commented on #1059
Hi, can you please [capture some logs](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-use-logging) so we can better help.

Thanks!

[2021-04-30 21:47] jhakulin commented on #1062
@Tiger-Cross Yes, I did some modifications to meta files. Could you please try with the meta files attached here ?
[Plugins.zip](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/6408219/Plugins.zip)

[2021-05-01 10:21] Tiger-Cross commented on #1062
@jhakulin I'm sorry but I tried doing both of the actions you suggested: 1. Adding tags to the assets, and 2. Using the linked plugin folder with updated meta files (copying the x86_64 dll to the WSA folder).

1. The CloudBuild still resulted in the same error as logged in the initial issue comment.
2. Caused the following error in the editor:
`PrecompiledAssemblyException: Multiple precompiled as

[2021-05-01 15:10] jhakulin commented on #1062
@Tiger-Cross Meta files should prevent collision between WSA and x86_64, did you do following ?

1. Copy Microsoft.CognitiveServices.Speech.csharp.dll from \Plugins\x86_64 folder to \Plugins\WSA folder
2. Replace all meta files under /Plugins from Plugins.zip
3. Make a build again

[2021-05-01 15:24] Tiger-Cross commented on #1062
@jhakulin I can confirm those are the steps that I took. Although I did 1. and 2. the opposite way around to what you suggested because otherwise the copying would have been overwritten.

[2021-05-01 15:41] jhakulin commented on #1062
@Tiger-Cross Could you please send a picture of Unity inspector for both /x86_64/Microsoft.CognitiveServices.Speech.csharp.dll and WSA/Microsoft.CognitiveServices.Speech.csharp.dll ?

[2021-05-02 11:21] Tiger-Cross commented on #1062
@jhakulin of course. Also to make this absolutely clear, I'm not seeing this error on a local unity build. Only when a commit gets pushed to the master branch of my project and a CloudBuild is triggered.

Here's the screenshot for the x86_64 dll:

![image](https://user-images.githubusercontent.com/33670466/116811326-a2a65b00-ab40-11eb-9331-2679afa9776a.png)

And here's the one from the WSA dll:

!

[2021-05-02 11:24] Tiger-Cross commented on #1062
I've also just noticed that when using the META files from the plugins folder you zipped and sent earlier I see this error in the Unity Editor:
`Unable to open Assets/SpeechSDK/Plugins/x86_64/Microsoft.CognitiveServices.Speech.csharp.dll: Check external application preferences.`

[2021-05-03 06:02] ranjanraviraj opened #1063 "Android build size increased three times."
**Describe the bug**
Before integrating speech service my APK build size was around 24 MB in release mode. I have used these properties in release mode.

**release {
    debuggable = false
    minifyEnabled true
    shrinkResources true
    proguardFiles getDefaultProguardFile('proguard-android-optimize.txt'), 'proguard-rules.pro'
    }**

But after integrating Speech service version **com.microso

[2021-05-03 15:41] jhakulin commented on #1062
@Tiger-Cross What is the Unity version you have ? Have you installed iOS and/or UWP support ?
The settings are not correct. What you should have for example for x86_64 is following
![image](https://user-images.githubusercontent.com/16473503/116897699-6cbdb100-abea-11eb-8e73-e1f50c462130.png)

And for WSA (when using the meta files I sent as zip attachment)
![image](https://user-images.githubuserco

[2021-05-03 15:45] Tiger-Cross commented on #1062
@jhakulin I am using Unity 2019.4.19 and on my CloudBuild whatever the lastest 2019.4 subversion is. I should add that my build target is for android so I do not need IOS or UWP support in this case.

[2021-05-03 15:50] jhakulin commented on #1062
@Tiger-Cross Could be that because you have not installed iOS and UWP support, Unity do not know how to map the libraries for iOS and Windows from Speech SDK unity package and thus you need to either remove or rename the libraries. I'll check if there is something we can do to make it easier.

[2021-05-03 15:58] Tiger-Cross commented on #1062
@jhakulin that would be really helpful thanks! It's not possible (to the best of my knowledge) to install those configurations while specifying a different build target. For now I'll continue to use the temporary solution I mentioned which was the deletion of the IOS and UWP libraries.

[2021-05-03 17:47] amitkumarshukla commented on #1063
@ranjanraviraj Please let me know if your scenario is a compressed audio scenario ? Did you build libgstreamer_android.so also and put it with the app ?

[2021-05-03 19:48] Wholebitmedia opened #1064 "Foreign Voicename's Throw Errors in Unity"
**Describe the bug**

I am using the documentation found on this page:
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/language-support

...To substitute the default "enUSJessaRUS" speech synethesis into one of the foreign "Standard Voices"(specifically "ja-JP-Ayumi") in the "Voicename voicename" variable field in the "Speech Recognition" 3 language translation scene insid

[2021-05-03 21:24] amitkumarshukla commented on #1064
@yulin-li Could you please look at this.

[2021-05-04 05:22] santoojoshi commented on #1061
Hi @glecaros
This is a server implementation where we support many calls at the same time with 300 concurrent callers or more.
We are running a multi threaded architecture where in each thread service a caller. After Speech end detected, StopContinuousRecognitionAsync() takes long time for completion. We are suggested from azure team to use SPEECH-StopRecognitionTimeoutInSeconds, which is availabl

[2021-05-04 06:08] ranjanraviraj commented on #1063
The answer is no. We are not using any compressed audio or libstreamer. If you are asking this capability is there in SDK that I need to turn off then I am not aware of how to do that.

[2021-05-04 09:28] tomasgreen commented on #919
Hi!
just like to say that your xcframework tutorial works for building and running the app on local device. It got stuck uploading it to App Store for the following reason:

**ITMS-90562: Invalid Bundle - One or more dynamic libraries that are referenced by your app are not present in the dylib search path.**

I'm sure I've missed something and I'm sticking to the pod for now. But, it might be a g

[2021-05-04 10:25] Tiger-Cross commented on #1062
@jhakulin I should also add that I am not the only one experiencing this issue. I voiced this issue on a slack group with many Unity developers and I heard from others that have also run into it. This is how I heard of the initial workaround.

[2021-05-04 13:59] mikenewman1 commented on #790
No, I can't reproduce this anymore. Feel free to close this. Thanks.

[2021-05-04 15:47] glecaros commented on #790
Thanks for checking @mikenewman1, if you run into more issues please don't hesitate to open a new issue 😊

[2021-05-04 15:47] #790 closed

[2021-05-04 16:06] jhakulin commented on #919
@j-h-a Thanks for feedback, it is good idea to add instructions for manual xcframework creation to the readme documentation. Next release should be out in about 2 weeks.

[2021-05-04 16:10] jhakulin commented on #1062
@Tiger-Cross Since Speech SDK Unity plugin contains libraries for Windows/iOS/Android platforms (and in next release also for Mac) and meta files are used to target the libraries to specific platforms/architectures, if Unity installation does not include the all platforms, meta files do not provide the purpose. We can add note in our documentation for Unity CloudBuild in the coming release.

[2021-05-04 16:36] ericchansen opened #1065 "Example of using speech to text on binary audio data"
**Describe the solution you'd like**

I would like to

1. collect binary audio data on a machine,
2. do various things with the binary audio data (ex. send to Event Hubs),
3. and finally use Azure Speech to Text to convert the binary audio data to text.

I can't find an example that converts binary audio data into text. Please provide a sample in Python.

[2021-05-04 17:20] Tiger-Cross commented on #1062
That's great thanks a lot!

[2021-05-04 17:46] amitkumarshukla commented on #1065
Please follow the following sample for your purpose
https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/e11137cf72d1219f650367da258981e647f4f28a/samples/python/console/speech_sample.py#L346

or

https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/e11137cf72d1219f650367da258981e647f4f28a/samples/python/console/speech_sample.py#L417

I am assuming your binary data is

[2021-05-04 17:52] ericchansen commented on #1065
These examples did not help me.

I have binary data, which is base64 encoded. I am receiving this from a web request. The audio itself was generated by me, ex. recording a microphone, in a different location. The audio format matches the Azure Cognitive Services requirements.

You provided this example in your last comment.

https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/e1113

[2021-05-04 18:10] amitkumarshukla commented on #1063
@ranjanraviraj I tried all your settings and for me the size do not get increased much. Could you please unzip the apk and send me the content and size of lib\* folders
for example for me for arm64-v8a I have the following
![image](https://user-images.githubusercontent.com/36176886/117049694-58041a80-acc9-11eb-88d5-abb7cc4bbc54.png)

[2021-05-04 18:34] amitkumarshukla commented on #1065
@ericchansen Could you please send me your working sample where you read the binary data from the web. Also point to me the binary data object which you want to convert to text. When I see your sample, I should be able to provide you more context. I might complete your sample too.

[2021-05-04 18:56] j-h-a commented on #919
I haven't been able to try this yet because we have other priorities right now - it's great to see that the solution works though, and that this is useful for others :)

[2021-05-04 19:35] ericchansen commented on #1065
Here is a simple, complete example to produce binary audio data.

[code]

Starting with `audio_data_as_base_64_as_string` or `you_could_send_this_over_the_web`, what do you do?

[2021-05-04 19:46] dargilco commented on #994
Hi @matecode, a fix for this issue will be in next release of Speech SDK (version 1.17), likely to be out by the end of next week (mid May). Thank you again for reporting this!
Darren

[2021-05-04 21:34] amitkumarshukla commented on #1065
Right now speech sdk cannot convert speech to text for base64 format and strings. So you will have to decode the base64 string to the binary data using audio_data = base64.b64decode(audio_data_as_base_64) and use audio_data as stream to send it to the speech sdk. Do let me know if that solves your problem ?

[2021-05-04 21:36] amitkumarshukla commented on #1061
@santoojoshi We recommend not using 0 as value for "SPEECH-StopRecognitionTimeoutInSeconds". Please use 1 as value and as you have already confirmed that there is no segmentation fault. Also let us know the source from where you have received the recommendation about using the 0 value. We would like to correct that.

[2021-05-04 21:56] amitkumarshukla commented on #1060
@isthistechsupport We are closing the request at this point of time. Please look at the https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/releasenotes for the latest release notes. Thanks a lot

[2021-05-05 14:02] ericchansen commented on #1065
@amitkumarshukla based on what you're saying, I should be able to use `audio_data` then because it is not base64, correct? How does one take a binary object, like `audio_data` and send this to the speech to text service? This repo doesn't provide examples.

[2021-05-05 17:51] aargreen commented on #1018
Thanks @rhurey.  For my current use case getting the entire recognition would be great (assuming its still low latency).

[2021-05-05 17:57] aargreen opened #1066 "Determine if utterance audio contained only silence or babble"
**Is your feature request related to a problem? Please describe.**
I would like to track the reasons why the microsoft speech sdk gives no results.  I have been able to differentiate some categories of errors (like no Language Identified), but I would like to separate out utterances where the audio sent was all silence or all babble. I have tried using the NoMatchDetails class but that seems to gi

[2021-05-05 18:50] rhurey commented on #1065
So I'm not a python expert, but if you have the data in binary from, you can use either a push or pull input stream to send the data to the Speech SDK.
[Push Sample](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/e11137cf72d1219f650367da258981e647f4f28a/samples/python/console/speech_sample.py#L417)
[Pull Sample](https://github.com/Azure-Samples/cognitive-services-speech-sdk/bl

[2021-05-05 19:15] amitkumarshukla commented on #1065
In the sample https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/e11137cf72d1219f650367da258981e647f4f28a/samples/python/console/speech_sample.py#L346

if you could change the read function like the following where I am just encoding to base64 and decoding back to frames and it works fine.

[code]

So in your sample if you change
audio_data = stream.read(frames_per_buffer)
to
audi

[2021-05-05 19:39] ericchansen commented on #1065
@amitbapat In your example, you have `frames = self._file_h.readframes(size // self.sample_width)`. In this case, there is no file, ex. `self._file_h`. There is simply a binary object or string.

This feature request is for a complete sample where anyone could take a binary object or string and use that alone.

[2021-05-05 20:00] amitbapat commented on #1065
I"m sorry but I think I have been erroneously added to this thread.

[2021-05-05 22:24] amitkumarshukla commented on #1029
@santoojoshi You can configure the retry parameter using the following
recog_channel->azureASRChannelConfig.azureASRSpeechConfig->SetProperty("SPEECH-Error-MaxRetryCount", "1");
right now by default it is set to 4.

You can also set the time interval using the following
recog_channel->azureASRChannelConfig.azureASRSpeechConfig->SetProperty("SPEECH-Error-RetryDurationMS", "50");
Right now it is set

[2021-05-05 23:45] amitkumarshukla commented on #1066
@aargreen Thanks a lot for reporting this issue. I can see the similar behavior with the speech sdk. We will investigate it further and will get back to you as soon as possible.

[2021-05-06 00:08] amitkumarshukla commented on #1063
@ranjanraviraj have you figured out the size issue after unzipping the apk ?

[2021-05-06 00:14] amitkumarshukla commented on #932
@wall3001 Please try with 1.16.0 of speech sdk. I am closing this issue for the time being. Please open it again if you face the problem.

[2021-05-06 00:14] #932 closed

[2021-05-06 00:22] amitkumarshukla commented on #939
@yashugupta786 We are closing the issue right now. Please feel free to create a new issue if you face one.

[2021-05-06 00:22] #939 closed

[2021-05-06 00:46] amitkumarshukla commented on #950
@crazyracer98 are you still facing this issue ?

[2021-05-06 01:01] #1057 closed

[2021-05-06 03:44] lvkun commented on #1034
Thanks a lot! @glecaros

[2021-05-06 06:18] Panepo opened #1067 "Intent recognition text input sample"
Hi there,

Is there an intent recognition sample with text input?
The [sample code](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/csharp/sharedcontent/console/intent_recognition_samples.cs) only contains intent recognizer with microphone or file input.

Thanks

[2021-05-06 14:45] aargreen commented on #1066
Hi @amitkumarshukla ,  Sorry should have specified, this  is in java.
I did attempt to use NoMacthDetails in:
recognizer.recognized.addEventListener((s, e) {}

Within the event lister this is this line of code: if (e.getResult().getReason() == ResultReason.NoMatch)

I got the NoMatchDetails just after that, but even for pure silence the NoMatchDetails reported "NoMatch", not "SilenceTimeout" or "B

[2021-05-06 15:32] ranjanraviraj commented on #1063
These libraries inside the lib folder that you mentioned.

![image](https://user-images.githubusercontent.com/55788218/117325404-50519b00-aeae-11eb-9474-1040bd02a400.png)

Hope this is helpful.

[2021-05-06 16:19] #1067 closed

[2021-05-06 16:25] amitkumarshukla commented on #1063
@ranjanraviraj the first 3 files in your list is it added by you ?

[2021-05-06 16:27] soranaka opened #1068 "Conversation Transcription/Speaker Identification in Python"
The documentation here: https://docs.microsoft.com/en-us/python/api/azure-cognitiveservices-speech/azure.cognitiveservices.speech.speech_py_impl.conversation?view=azure-python#create-conversation-async ,
Does not list enough information for me to understand how to go about creating a Conversation object. By following the general structure found here: https://docs.microsoft.com/en-us/azure/cognitiv

[2021-05-06 16:37] amitkumarshukla commented on #1066
@aargreen In Java you need to do the following
[code]

Doing that I can see the initial silence timeout.
By the way by default the initial silence timeout is 30 seconds. So if your stream is less than 30 seconds you will not see the initial silence timeout.

[2021-05-06 16:54] ranjanraviraj commented on #1063
Yes. It was added long back. That time apk size was around 24 MB. But after adding speech sdk size went till 79 MB. I tried to remove unused resources but it was of no much use.

[2021-05-06 16:58] amitkumarshukla commented on #1063
@ranjanraviraj Could you please check the APK size with different version of speech sdk and let me know your observation. Because my assumption is there is no way the size will be so big. If you add SpeechSDK to any project the max increase in the apk size should be approx 15mb.

[2021-05-06 17:01] ranjanraviraj commented on #1063
Started with version 1.14.0 then 1.15.0 and last 1.16.0. All versions have same results. I will try once more and share results again.

[2021-05-06 17:04] amitkumarshukla commented on #1063
@ranjanraviraj I will suggest, please disable speech functionality and comment the code related to that and check the APK size to see how much is the base size of your APK.

[2021-05-06 17:20] amitkumarshukla commented on #1068
@soranaka Thanks a lot for reporting this issue. Right now conversation transcription is not supported in python language. We support it in C++, C#, Java and Objective C. If you have a choice for using any of the supported language please use that. We will go and remove the documentation for conversation transcription from the official docs. We will re-introduce those documentation once we support

[2021-05-06 17:20] #1068 closed

[2021-05-06 17:40] aargreen commented on #1066
@amitkumarshukla The question is, let's say I have a stream which is 3 seconds long and entirely silence.  Is it possible to get an indication from the SDK that the stream contained only silence?

In general I am attempting to separate out failures to return a response for a "reasonable input" vs. an "unreasonable" input.    So for example I would like to separate the case where the user says "Hel

[2021-05-06 22:03] amitkumarshukla commented on #1066
@aargreen please follow the thread https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/502 and let me know if that helps with your question ?

[2021-05-06 22:37] amitkumarshukla commented on #950
@crazyracer98 I am closing this issue for the time being. Please open a new issue incase you face it.

[2021-05-06 22:37] #950 closed

[2021-05-07 01:22] Panepo commented on #1067
@amitkumarshukla Thanks for the reply. In fact, I am building an app with microphone input not text.
Why I want a text input intent recognizer is because I want the prediction is running in docker container. The docker image of Azure speech to text has 14.13Gb is size, but the LUIS image have only 622mb that I think it only contains LUIS function.
Very thanks that the speech to text part with the

[2021-05-07 07:44] ranjanraviraj commented on #1063
As suggested I disable functionality related to Speech Service and the size reduced to 36 MB.

![image](https://user-images.githubusercontent.com/55788218/117415327-d06f1380-af35-11eb-88c4-1b45c1337ed7.png)
And library information

![image](https://user-images.githubusercontent.com/55788218/117415595-1cba5380-af36-11eb-85c3-f660d993e154.png)

[2021-05-07 11:22] geniusrasaq opened #1069 "RuntimeError: Exception with an error code: 0x8 (SPXERR_FILE_OPEN_FAILED) [CALL STACK BEGIN]"
Hello Everyone,

I have been trying to transcribe an audio file from speech to text for a while using cognitive speech sdk but I am getting the error listed below:

RuntimeError: Exception with an error code: 0x8 (SPXERR_FILE_OPEN_FAILED)
[CALL STACK BEGIN]

    - user_get_id

    - user_get_id

    - user_get_id

    - user_get_id

    - user_get_id

    - user_get_id

    - user_get_id

    - us

[2021-05-07 16:07] amitkumarshukla commented on #1063
@ranjanraviraj I can see the size reduction without speech sdk is 44mb. Could it be possible for you to send us an android studio project with some sample code where I can try to see the issue myself locally. When switching on and off speech SDK does this behavior. Because in my sample app I can see the difference of only 15mb.

[2021-05-07 18:28] amitkumarshukla commented on #1069
@geniusrasaq The problem you described can only happen when the file is not present in your data folder. Please check if all your paths are correct. The path to the file should be relative to the path where you are running your script.

[2021-05-07 18:41] geniusrasaq commented on #1069
@amitkumarshukla , thank you so much for your reply. Actually, the audio file "gen" is inside the folder data.

[2021-05-07 19:31] amitkumarshukla commented on #1065
@ericchansen

Please check if the following sample helps you
[code]

[2021-05-07 19:32] amitkumarshukla commented on #1069
Could you send me the zip of your folder with everything inside. I will try to check this at my end.

[2021-05-07 21:31] amitkumarshukla commented on #1069
@geniusrasaq Could you send me the .py code rather than .ipynb

[2021-05-07 21:37] #1062 closed

[2021-05-07 21:54] geniusrasaq commented on #1069
@amitkumarshukla , here is the updated folder with .py file.
[microsoft_speech_to_text_plus .py file.zip](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/6444479/microsoft_speech_to_text_plus.py.file.zip)

thank you

[2021-05-10 07:53] yulin-li commented on #1064
@Wholebitmedia , thanks for reaching out. Could you point me the sample codes you are using? I didn't find any our codes containing `voiceName = VoiceName.enUSJessaRUS`

[2021-05-10 08:26] crazyracer98 opened #1070 "Silence between keyword recognition and PhraseListGrammar sentence"
**Describe the bug**
The silence time between keyword recognition and sentences from PhraseListGrammar with SpeechRecognizer.startKeywordRecognitionAsync() is too short. (Android, Java)
If the user says the keyword, then waits for showUiAppIsListening() (look code below) and then tries to say the rest of the sentence, the recognition is only active for under one second and no speech gets recognize

[2021-05-10 08:59] alexinuk opened #1071 "Directly using a stream as input to Speech SDK (from NAudio), speaker recognition cancels"
**Describe the bug**

I get cancellation from either Enroll as well as from the RecognizeOnceAsync when using a PushAudioInputStream object to feed data to the sdk (data got from NAudio WasapiLoopbackCapture object).

Cancellation Details are: Bailed out due to wait more than 1 minutes for the result of enrollment or speaker recognition

Same tecnique will work when used for STT service. Saving th

[2021-05-10 14:39] aargreen commented on #1066
@amitkumarshukla I don't think that thread answers my question if I am understanding it correctly.    The main thing I take away from that thread is the audio segmentation is fairly complicated.

In my question I don't really want to affect the audio segmentation.. just want to know if a segment is just silence. (or perhaps just babble).

There may not be a way to receive this information.. but ju

[2021-05-10 16:27] geniusrasaq commented on #1069
@amitkumarshukla , I am still having the same error.

[2021-05-10 17:38] amitkumarshukla commented on #1063
@ranjanraviraj Please share a sample project which can show us the same issue you are facing.

[2021-05-10 17:54] amitkumarshukla commented on #1069
@geniusrasaq I just modified your sample a bit and to me it works absolutely fine. You need to install python wheel for speech sdk on your system.

[code]

Another question what is the python version and platform are you using ?

[2021-05-10 19:33] geniusrasaq commented on #1069
@amitkumarshukla , thank you so much for your prompt response.
The python version on my system is python 3.8.3 and I am also using windows 8 OS.
I am running my code on jupyter notebook

[2021-05-10 19:34] ericchansen commented on #1065
@amitkumarshukla No, this example does not meet the requirements. The example you provided shows how to record a microphone. It does not show how to take **binary data as the only input** and use that with the speech service.

[2021-05-10 19:40] kleindev commented on #1051
@chlandsi just curious if anything changed on batch / diarization recently?  I am seeing an content that I was previously able to workaround by enabling diarization no longer being a viable workaround.  For example,

![image](https://user-images.githubusercontent.com/9289866/117715176-8e480b00-b19d-11eb-8139-9e70e1c0cbdb.png)

For reference on history:

https://github.com/Azure-Samples/cognitive-s

[2021-05-10 20:02] amitkumarshukla commented on #1069
@geniusrasaq Oh. Actually we do not support Speech SDK on windows 8. Please upgrade it to windows 10. Your problem will be solved.

[2021-05-10 20:05] geniusrasaq commented on #1069
@amitkumarshukla , oh my bad. I'm actually using windows 10

[2021-05-10 20:06] amitkumarshukla commented on #1069
@geniusrasaq Did you try the sample which I provided you ?

[2021-05-10 20:07] amitkumarshukla commented on #1069
@geniusrasaq Could you also send me the screen shot of the command prompt where you have the code and where you are running the code.

[2021-05-10 20:15] ericchansen commented on #1065
I was able to re-purpose your example to suit my use case. Thank you.

[2021-05-10 20:19] amitkumarshukla commented on #1065
@ericchansen Thanks a lot. I hope it was useful :)

[2021-05-11 03:37] josephsctan opened #1073 "Speaker Diarization Support in Speech SDK"
**Is your feature request related to a problem? Please describe.**
I'm using [Microsoft.CognitiveServices.SpeechRecognizer](https://docs.microsoft.com/en-us/dotnet/api/microsoft.cognitiveservices.speech.speechrecognizer?view=azure-dotnet) which supports Phrase lists ([PhraseListGrammar](https://docs.microsoft.com/en-us/dotnet/api/microsoft.cognitiveservices.speech.phraselistgrammar?view=azure-dotn

[2021-05-11 04:16] gopik opened #1074 "High variance in latency in speech to text with recognize_once mode"
**Describe the bug**
We use ms speech services sdk (nodejs) to do streaming speech to text in recognize_once mode. For some recordings, we experience a huge latency (multiples of seconds even after the entire audio has been pushed). This is a concern since the audio is being pushed at real time rate, so 10seconds worth of audio is pushed in 10 seconds, and the delay is after the entire audio has b

[2021-05-11 06:48] loopnguyen opened #1075 "Text To Speech (SSML) not working anymore"
Hello,

I was work with the text to speech. And everything perfect.
One day, i can't use ssml text to speech anymore.

Is that my free azure account limited the ssml characters? Or the problem start from the server.

_Python Code:_
[code]
-> The "ok.wav" 0.0 kb
_SSML file_
[code]
Nothing in ok.wav. And if i use default speaker: Nothing happen too.

Link: https://docs.microsoft.com/en-us/azure/cogn

[2021-05-11 10:02] chlandsi commented on #1051
Hi @kleindev, there was indeed a change that temporarily broke custom pronunciation. We have rolled back that change in South Central US. Please let us know if you are using that feature in other regions. We are sorry for the inconvenience.

[2021-05-11 10:09] ShrivastavaAkash commented on #995
Can someone please give any feedback here? I'm curious to know why this discussion hasn't started. Does this need more details?

[2021-05-11 10:09] aerokwok opened #1076 "pronunciationAssessFromMicrophone is time too long"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. ...
2. ...

**Expected behavior**
A clear and concise description of what you expected to happen.

**Version of the Cognitive Services Speech SDK**
Which version of the SDK are you using.

**Platform, Operating System, and Programming Language**
 - OS: [e.g. Windows, Linux

[2021-05-11 14:13] kleindev commented on #1051
We are only using in South Central.  Happy to test out changes if needed as well

[2021-05-11 16:08] davecatt opened #1077 "Broken link"
Link in the description "See the accompanying article on the SDK documentation page which describes how to build this sample from scratch in Visual Studio 2017." results in a 404.

[2021-05-11 18:16] pankopon commented on #1075
@loopnguyen What is the Speech SDK version used? Please attach a full log: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-use-logging.

[2021-05-11 18:33] pankopon commented on #1074
@glharper Can you please comment, is this kind of variance expected with nodejs?

[2021-05-11 21:42] glharper commented on #1074
@gopik What recognizer settings are you using? I'm getting a silence timeout for that file, which starts with 6 seconds of silence. Also, could you upgrade to version 1.16 and try again?

[2021-05-11 23:19] pankopon commented on #1071
Hi, as discussed offline the issue is due to a hardcoded limit in the Speech SDK. We now have an internal work item about it (I posted a link on IM), to be considered for the 1.18.0 release, so I'm closing the issue. We'll update the release schedule here when confirmed.

[2021-05-11 23:42] pankopon commented on #980
Closed since no update in a month, please open a new issue if more support is needed.

[2021-05-11 23:42] #980 closed

[2021-05-12 00:06] pankopon commented on #1006
Closed since answered, please open a new issue if more support is needed.

[2021-05-12 00:06] #1006 closed

[2021-05-12 00:12] pankopon commented on #1016
Closed since a workaround has been provided. We have an internal work item to improve the case and will update this issue when the release schedule of a possible fix is confirmed.

[2021-05-12 00:19] pankopon commented on #1018
Closing this issue as we have an internal work item about the API (but no ETA). Implementation is not likely to happen soon, but we'll try to provide information about the release schedule here when better known.

[2021-05-12 00:19] #1018 closed

[2021-05-12 00:24] pankopon commented on #1034
Closed as answered, please open a new issue if more support is needed.

[2021-05-12 00:31] pankopon commented on #1052
Closed since no update, please open a new issue if support is still needed.

[2021-05-12 00:31] #1052 closed

[2021-05-12 00:33] pankopon commented on #1059
@ashwinkfmr Please provide the requested logs so that the issue can be investigated further.

[2021-05-12 00:35] pankopon commented on #1061
Closed as answered, please open a new issue if more support is needed.

[2021-05-12 00:35] #1061 closed

[2021-05-12 01:00] pankopon commented on #1070
Hi, unfortunately the silence timeout between keyword and speech recognition remains not adjustable. I've created an internal feature work item about this and it will be considered for future releases. Closing the issue, we'll update this when the release schedule is known.

[2021-05-12 01:00] #1070 closed

[2021-05-12 01:07] #1073 closed

[2021-05-12 01:32] pankopon commented on #1077
After searching it looks like at least the following have broken links:
- https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/cpp/windows/translate-speech-to-text
- https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/csharp/dotnet/translate-speech-to-text
- https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master

[2021-05-12 01:32] #1077 closed

[2021-05-12 01:57] josephsctan commented on #1073
Conversation Transcription requires multi channel audio and a specialized mic setup - it is quite unsuitable  for transcribing mono channel audio that we can get from the browser
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-devices-sdk-microphone

[2021-05-12 01:58] pankopon commented on #995
Hi, sorry for no response sooner. This looks like a known performance issue with KeywordRecognizer - I've created an internal work item about it and we'll try to address this in future Speech SDK releases, no ETA at the moment.

[2021-05-12 02:30] Yueying-Liu commented on #1022
@Dapeng ***@***.***> Will you be the owner to debug the background audio tag?
view it on GitHub<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FAzure-Samples%2Fcognitive-services-speech-sdk%2Fissues%2F1022%23issuecomment-839322992&data=04%7C01%7Cyueyingl%40microsoft.com%7C64b9970454e54a8fcf4c08d914dc1bb2%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637563757881943446

[2021-05-12 03:35] loopnguyen commented on #1075
I use this command in terminal: pip install azure-cognitiveservices-speech. And look like i used 1.16.0 version.
And this is log file:

`[701512]: 39ms SPX_DBG_TRACE_VERBOSE:  property_bag_impl.cpp:163 LogPropertyAndValue: this=0x0x7fd1e52b9b10; name='SPEECH-Endpoint'; value=''
[701512]: 39ms SPX_DBG_TRACE_VERBOSE:  property_bag_impl.cpp:163 LogPropertyAndValue: this=0x0x7fd1e52b9b10; name='SPEECH

[2021-05-12 03:53] loopnguyen opened #1078 "Can't change the voice without using SSML: SpeechConfig.speech_synthesis_voice_name = "vi-VN-HoaiMyNeural""
I was follow this page: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/get-started-text-to-speech?tabs=script%2Cwindowsinstall&pivots=programming-language-python#use-ssml-to-customize-speech-characteristics

And set the `SpeechConfig.speech_synthesis_voice_name = "vi-VN-HoaiMyNeural"`

But it didn't work.
I use Python and the SDK version 1.16.0

Update log file: https://d

[2021-05-12 04:28] gopik commented on #1074
We used 72s initial silence timeout for this recording (which looks incorrect and we'll fix this). This was to avoid too many initial silence timeouts occurring in production. The timeout error was inconsistent with the actual silence, say the recording has speech starting from 4th sec and IST was set to 6s, it would still timeout.

We used a phrase_list for this containing following terms - ["com

[2021-05-12 07:54] karthikcs commented on #436
Hi, I am getting this error while I am trying to use Microphone different from default mic. I think I am not providing proper DEVICE_ID. I am writing my client in python on Windows 10 local machine. Here is my code snippet (Modified from Azure Example).  Can you please through light on how to get proper DEVICE_ID of a mic on Windows 10
[code]

[2021-05-12 09:14] karthikcs commented on #436
Friends,
I figured it out..  I was reading Microsoft Docs [here](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-select-audio-input-devices#audio-device-ids-on-windows-for-desktop-applications). I understood the format of the device ID will be as `{0.0.1.00000000}.{5f23ab69-6181-4f4a-81a4-45414013aac8}`

When I was going through all the properties of the device driv

[2021-05-12 11:58] gopik commented on #1074
[speechatbeginning.wav.zip](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/6465920/speechatbeginning.wav.zip)

I've added another instance where speech is at the beginning (first 3 second of a 10 second audio). This was not transcribed until 10 seconds into the audio in our production. But when we try with a test client later, it is transcribed within 3-4 sec from the beginni

[2021-05-12 15:21] glharper commented on #1074
@gopik I've just tested with the latest version, and am seeing recognizing and recognized callbacks almost immediately without a phraselist. With a phraselist, however, results come much slower. I also tested with the C# version of Speech SDK, and adding a phraselist has the same effect, results arrive about 5x slower. This appears to be a service issue with phraselists.

[2021-05-12 16:05] gopik commented on #1074
Thanks @glharper. This sounds great, we'll validate this and update.

[2021-05-12 17:10] marcoferri72 opened #1079 "ErrorDetails=Websocket message size cannot exceed 65536 bytes websocket error code: 1007"
Hello,
I wanted to ask for help on this error that I receive from the service when I submit an audio file lasting about an hour. The error is generated after about 20/30 minutes of processing the material sent. I use a nodejs batch and I tried, as documented examples on the sdk site, to send both the file and the stream without success.
Here is a copy of the code for the two cases:

const fs = req

[2021-05-12 18:24] pankopon commented on #1078
@yulin-li Can you please check.

[2021-05-12 18:56] pankopon commented on #1079
@glharper Can you please check, is there anything nodejs specific to consider?

[2021-05-12 19:23] glharper commented on #1079
@marcoferri72 Thanks for using Speech SDK, and writing this issue up. Could you attach the hour-long audio file you used to reproduce this?

[2021-05-12 23:19] danielquinn commented on #1059
I had the same problem so I did as suggested above and collected some logs.  Here's what I assume to be the relevant fragment:

[code]

I'm going to assume that `certificate verify failed` is not expected?  For what it's worth, I'm running Arch Linux, so maybe it's more bleeding edge and has blocked some weaker certs on Microsoft's end?

[2021-05-13 00:39] pankopon commented on #1059
@danielquinn Have you set SSL_CERT_DIR or SSL_CERT_FILE? See https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/688.

If that doesn't help then post the output of each of the following commands where [REGION] is your service region (like westus) and [KEY] is your subscription key:
[code]
[code]
[code]
[code]
[code]

[2021-05-13 05:46] yulin-li commented on #1078
Hi @loopnguyen , from the log you shared, I found the voice setting is failed. Would you mind paste your code snippet here? (remember to remove your subscription key)

[2021-05-13 05:49] yulin-li commented on #1075
@loopnguyen are you using a free (F0) key? The F0 key has throttling.

[2021-05-13 05:53] yulin-li commented on #1064
@Wholebitmedia , as said [here](https://github.com/Azure-Samples/Cognitive-Speech-TTS/tree/master/Samples-Http), the samples in `Cognitive-Speech-TTS` is not supported. Could you try to use the Unity sample in this repo?

[2021-05-13 05:54] loopnguyen commented on #1078
Here is my code:
[code]

[2021-05-13 05:55] yulin-li commented on #1022
assigned to @Yueying-Liu to follow up

[2021-05-13 05:59] yulin-li commented on #1078
Seems `SpeechConfig.speech_synthesis_voice_name = "vi-VN-HoaiMyNeural"` should be `speech_config.speech_synthesis_voice_name = "vi-VN-HoaiMyNeural"` ?

[2021-05-13 06:00] gopik commented on #1074
This did improve latency in majority of cases (with less accuracy due to missing phrase_list). But there are still instances which take very long time. I'm adding a sample here.

We are using base model with no phrase list and initial silence timeout of 72 sec. It takes 4-7 seconds after the eof for recognize event. In this case, the speech is at the end.

[speechatend.wav.zip](https://github.com/

[2021-05-13 06:02] loopnguyen commented on #1078
I did try that also. It did not work for me (in case i did not use SSML).
And the thing is, this code worked fine for me for 3 days.

[2021-05-13 06:04] yulin-li commented on #1078
could you paste your log using `speech_config.speech_synthesis_voice_name = "vi-VN-HoaiMyNeural`?

[2021-05-13 06:06] loopnguyen commented on #1078
Here it is:
[code]

[2021-05-13 06:10] yulin-li commented on #1078
The SSML sent to service is correct. I can see the error is `Error details: Throttled due to too many requests`. Are you using a S0 or F0 subscription?

[2021-05-13 06:11] yulin-li commented on #1078
I tried it just now using my key. It works well.

[2021-05-13 06:12] loopnguyen commented on #1078
Update: It's not work for me hole time. I was talking about ssml speak (not for the speech_config.speech_synthesis_voice_name = "vi-VN-HoaiMyNeural). Wrong topic.

[2021-05-13 06:14] yulin-li commented on #1078
using `speech_config.speech_synthesis_voice_name = "vi-VN-HoaiMyNeural"` is the right way to set the voice name.

[2021-05-13 06:15] loopnguyen commented on #1078
I am using  1 year Free. I think it's S0. How can i find it?

[2021-05-13 06:15] loopnguyen commented on #1078
but it's still not work for me

[2021-05-13 06:18] yulin-li commented on #1078
you can find the `Pricing tier` in azure portal. Standard or Free

![image](https://user-images.githubusercontent.com/12013783/118086056-f42ecf80-b3f5-11eb-8fab-501c525f7679.png)

[2021-05-13 06:19] loopnguyen commented on #1078
I think i have reach my limited month characters. F0 is the free one right?

[2021-05-13 06:20] yulin-li commented on #1078
Yes, F0 is free one. You can create a standard subscription

[2021-05-13 06:21] yulin-li commented on #1078
duplicated with #1075

[2021-05-13 06:22] loopnguyen commented on #1078
ok, thanks for the anwser. But i tried `speech_config.speech_synthesis_voice_name = "vi-VN-HoaiMyNeural"`  manytime but it's did not work.

[2021-05-13 06:23] yulin-li commented on #1078
The log shows your setting is correct. You can update this issue if you repro with standard key.

[2021-05-13 06:25] loopnguyen commented on #1075
OK. Thanks alot for the anwser. I will close this topic.

[2021-05-13 06:27] loopnguyen commented on #1078
Ok. I will close this topic

[2021-05-13 06:32] yulin-li commented on #1022
@ccoreilly For now, the background audio and word boundary could not work together. The SDK returns error with details except for the browser SDK. This is due to the limitation of w3c websocket interface.

The service team is working on fixing the issue that background audio and word boundary could not work together. But as this is not a blocker to your work. We will close this issue and keep trac

[2021-05-13 06:32] #1022 closed

[2021-05-13 06:33] yulin-li commented on #1075
Thanks!

[2021-05-13 06:33] #1075 closed

[2021-05-13 06:38] #1078 closed

[2021-05-13 07:25] marcoferri72 commented on #1079
hi @glharper, this is the audio file, thanks.

[GoldenClip_20200714_1143_1595427221.16.part01.rar.zip](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/6470823/GoldenClip_20200714_1143_1595427221.16.part01.rar.zip)
[GoldenClip_20200714_1143_1595427221.16.part02.rar.zip](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/6470842/GoldenClip_20200714_1143_1595427

[2021-05-13 07:37] ccoreilly commented on #1022
@yulin-li can you tell me how to disable to word boundary in the Java SDK? I only managed to do it in the JavaScript SDK but not Java and it is thus blocking my usage of the tag.

[2021-05-13 07:40] yulin-li commented on #1022
@ccoreilly The word boundary feature is disabled by default. Make sure the `WordBoundary` event is not subscribed is enough.

[2021-05-13 13:56] JeroenMBooij opened #1085 "C# web api running inside a Linux docker container: Exception with an error code: 0x5"
I am trying to use the speech to text api from the cognitive-services-speech-sdk by uploading an audio .wav file to my C# web api. On my local windows 10 machine with IIS express the api is working as expected, however when I deploy my api inside a Linux Ubuntu 20.04 Docker container the api is throwing the following error: **Exception with an error code: 0x5**

**To Reproduce**
Steps to reproduce

[2021-05-13 18:16] #1085 closed

[2021-05-13 18:40] pankopon commented on #995
Closing this as there is now a work item on the Speech SDK backlog. We'll update this when fixes/improvements have been implemented and the release schedule is known.

[2021-05-13 18:40] #995 closed

[2021-05-13 18:42] pankopon commented on #1003
Closed since no details received. Please open a new issue if more support is needed.

[2021-05-13 18:42] #1003 closed

[2021-05-13 23:29] Wholebitmedia commented on #1064
Both LUIS and REST have been depreciated and there are no updated implementation examples for C# or Unity beyond the link I posted.  The Speech SDK documentation does not specify any updated C# code examples for the voicename field.

[2021-05-14 03:09] pankopon commented on #1076
Closed since no details available. Please open a new issue with more info if support is still needed.

[2021-05-14 03:09] #1076 closed

[2021-05-14 03:12] yulin-li commented on #1064
voice name is actually a string, you can find all voices [here](https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/unity).
And, you can refer to the unity sample codes https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/unity

[2021-05-14 03:15] pankopon commented on #1005
Closed as answered, please open a new issue if more support is needed.

[2021-05-14 03:15] #1005 closed

[2021-05-14 15:48] Wholebitmedia commented on #1064
Entering in the foreign text gives this error in the console.  There is only one voice in this system.

ArgumentException: Length of created clip must be larger than 0
UnityEngine.AudioClip.Create (System.String name, System.Int32 lengthSamples, System.Int32 channels, System.Int32 frequency, System.Boolean stream, UnityEngine.AudioClip+PCMReaderCallback

[2021-05-14 18:15] pankopon commented on #913
Closing this item since the bug has been already reported to openapi-generator (https://github.com/OpenAPITools/openapi-generator/issues/6017) and a workaround exists (change `#/definitions/File` to `#/definitions/ TransactionFile`). Please open a new issue if you need further support on Speech SDK topics.

[2021-05-14 18:15] #913 closed

[2021-05-14 18:17] pankopon commented on #1059
Closed as answered on the latest and no logs for the original. Please open a new issue if more support is needed.

[2021-05-14 18:17] #1059 closed

[2021-05-14 18:34] pankopon commented on #1029
Closed since mitigations have been suggested and there were no further updates. We have work items on the internal backlog to avoid CPU utilization increase when connection fails, and they are tentatively scheduled for the next sprint at the moment. Please open a new issue if you need more support.

[2021-05-14 18:34] #1029 closed

[2021-05-15 03:09] pankopon commented on #1064
If still needed or helpful (.NET Core C# samples):
- Synthesis with a specific voice
  https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/csharp/sharedcontent/console/speech_synthesis_samples.cs#L110
- Get a list of available voices
  https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/csharp/sharedcontent/console/speech_synthesis_samp

[2021-05-16 11:04] danielquinn commented on #1059
Yes, this didn't work for me.  Notably the issue you pointed me to is about a year old and its solution contains the following:

The version of your library that I'm using is much more recent than `1.9.0`:

[code]

Regardless, I followed the instructions at that link, found that Arch Linux stores its certs at `/etc/ssl/certs` and did the following:

[code]

My script barfed with the following:

[c

[2021-05-16 13:07] danielquinn opened #1086 "SSL connection errors prevent basic use"
I'm having difficulty running even the basic code from the samples here and in the official documentation.  The specific error message I get is:

[code]

I found another issue, #1059 where someone else was having the same problem, but it was closed before a resolution was found, the closer pointing me to docs that didn't solve the problem and asking me to provide some basic debugging information b

[2021-05-17 16:35] glharper commented on #1079
@marcoferri72 I've reproduced this and opened a bug against this issue. I'll check back in when the fix is checked in and released. Thanks for using Speech SDK and letting us know about this!

[2021-05-17 16:46] jhakulin commented on #1086
@danielquinn Thanks for the report. Could you please provide Speech SDK logs? I see you already have "speech-sdk.log" in your script.

[2021-05-17 17:56] pankopon commented on #1086
@danielquinn You wrote that

but then ran command

```SSL_CERT_DIR=/etc/ssl python microsoft.py```

Based on the output from `curl`

[code]

it looks like certificates are located in `/etc/ssl/certs`, **not** `/etc/ssl`.

So try the following:

[code]

If that doesn't work then check for a cert bundle file as described in the [how-to](https://docs.microsoft.com/en-us/azure/cognitive-services/speec

[2021-05-17 19:19] jhakulin commented on #1064
@Wholebitmedia Please use ja-JP-Ayumi voice name as follows:

1. Use the Unity sample below
https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/csharp/unity/text-to-speech

2. Add following modification just after speechConfig has been created from subscription
[code]
I verified that works ok. Closing the issue, let us know if there is more problems.

[2021-05-17 19:19] #1064 closed

[2021-05-17 20:45] jhakulin commented on #1069
@geniusrasaq I tested the sample @amitkumarshukla provided works well in Windows with the standard python shell or under Jupyter Notebook terminal. With Jupyter Notebook, please make sure your data/gen.wav file is included in the project. This should be done automatically when you run "jupyter notebook" command on the command prompt (Windows) in the root directory which contains the python script

[2021-05-17 20:45] #1069 closed

[2021-05-17 21:04] geniusrasaq commented on #1069
@amitkumarshukla ,The code is working now. Thanks.

[2021-05-17 21:20] jhakulin commented on #1063
@ranjanraviraj When you unzip and look into your .apk file, which architectures you see there under lib directory ?

If you want that your apk contains only e.g. arm64-v8a architecture, please specify that in your app/build.gradle file,
see example below

[code]

Otherwise, without specifying the above, the .apk file contains all flavors "arm64-v8a", "armeabi-v7a", "x86" and "x86_64" and that incr

[2021-05-17 21:20] danielquinn commented on #1086
That worked!  Apologies, I see now how I read the docs wrong.  It's still strange to me that you need to specify the directory explicitly like that, but this works, so I'm not going to worry about it.

[2021-05-17 21:20] #1086 closed

[2021-05-17 21:27] jhakulin commented on #1051
@kleindev @chlandsi Based on the previous comments, the issue is known and resolved in South Central US. Let us know if there is still any problems.

[2021-05-17 21:34] glharper commented on #1074
@gopik I'm not seeing the latency you describe with an initial silence timeout of 72 seconds. The recognize result is returning within a couple of seconds for me. Here is the code I'm using:
[code]

[2021-05-17 21:47] Wholebitmedia commented on #1064
OK this works, thank you for your help!  :)

[2021-05-18 02:37] gopik commented on #1074
Thanks @glharper. Is there additional instrumentation which could be enabled to collect data about this issue (server side or client side)? Given the default concurrency limit is 100, we believe this is not the issue.

[2021-05-18 02:42] paulchua-pc3 commented on #641
I am having the same problem with auto detection using en-US and ja-JP. I found out that you need to pause for a while about 10 secs, before speaking in another language for it to detect properly. Is there anyway I could perform language auto detection per every line of speech without any pause?

[2021-05-18 02:51] jhakulin commented on #641
@paulchua-pc3 Thanks for the question, reopening the case.

[2021-05-18 03:04] glharper commented on #1074
@gopik The JS SDK does not have a property to get a client-side latency measurement, but the C# SDK does, SpeechServiceResponse_RecognitionLatencyMs. If you are able to reproduce the latency using the [C# from file sample](https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/csharp/dotnet/from-file), you can add
[code]
to that quickstart code to see the latency.

S

[2021-05-18 06:16] lingllting commented on #607
I also encountered issue on Google Pixel but no issue on HUAWEI device, I am sure if it's related to this issue:https://issuetracker.unity3d.com/issues/android-mono-il2cpp-unable-to-find-libc-error-thrown-when-executing-certain-sslstream-constructor. since both Samsung SM and Google Pixel are reported as problematic devices.

[2021-05-18 09:23] ashwinkfmr opened #1090 "Unable to get translation"
**Describe the bug**
I am using the Speech to Text service, and trying to run a sample using the REST API as described in the documentation
[https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-speech-to-text](url)

I am able to get a token from the cognitive service running (via a private endpoint), but when I try to pass a wave file for transcription I get the following

[2021-05-18 12:44] ajay960singh opened #1091 "JS SDK vs REST API for Speaker Verification"
The model scores for JS SDK and REST API in Text-independent Speaker verification are different. Is this the right behaviour? Because we would assume that internally Microsoft would be using the same model for Speaker verification. What is the reason for this discrepancy?

<img width="734" alt="image" src="https://user-images.githubusercontent.com/34549910/118652968-b8847300-b804-11eb-9512-8ec7392

[2021-05-18 15:09] HMZijlstra commented on #1051
Hi, I am using this API in the Netherlands and it seems that this problem is not yet resolved if I want to use it for  Dutch audiofiles.

If I want to use the API with a stereo file and speaker diarization it does not work. However, when I disable the diarization it does work.

This is the time, id and  place: 04:50:47 PM West-Europa (summertime) Created new transcription with id 'c61a48da-e43e-47

[2021-05-18 15:46] ranjanraviraj commented on #1063
Thanks for the update. Please find all folder details in unzip folder of APK. According to your solution, I can avoid other folders being part of the build?

See current folder structure.
![image](https://user-images.githubusercontent.com/55788218/118682685-4caf0400-b81e-11eb-960a-2d72894d083d.png)

[2021-05-18 15:50] jhakulin commented on #1063
@ranjanraviraj Yes, you can target the apk for the architectures which are needed by your customers only.

[2021-05-18 17:14] shiwenmichael commented on #641
The latest Speech SDK @ 1.17.0 (announced today) has support for this. We will be talking about the new features in the SDK at our upcoming //Build conference. Also updated developer documentation will be available mid next week

[2021-05-18 17:47] jhakulin commented on #1063
Closing the issue as answered, let us know if there is more information needed.

[2021-05-18 17:47] #1063 closed

[2021-05-18 19:01] glharper commented on #1091
@ajay960singh From testing this with JS SDK, using the same four files to enroll and then verify, I'm getting different scores each time. Because JS SDK doesn't generate those scores, I can't provide you with the insight you're asking for. I will ping the backend service team and ask them to provide an explanation here.

[2021-05-18 20:35] glharper commented on #1091
@ajay960singh A few follow-up questions, in addition to files vs microphone. Which version of JS speech SDK are you using, and is this a custom version of JS SDK? Also, can you provide the JS code you're using to produce the verification result?

[2021-05-19 03:44] #1079 closed

[2021-05-19 03:50] ashwinkfmr commented on #1090
I had an additional query. When I use the SpeechSDK, via Python/JS/etc, what's the port that the service is running on? Because we have firewall rules that might be blocking traffic on Azure<->Azure systems.
Thanks

[2021-05-19 06:21] shiwenmichael commented on #641
This is the example of how to do continuous language detection and speech recognition with multiple languages in Carbon 1.17.0:

[sample code](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/054b4783de9d52f28109c435bf90e073513fec97/samples/csharp/sharedcontent/console/speech_recognition_with_language_id_samples.cs#L78)

[2021-05-19 06:21] #641 closed

[2021-05-19 16:09] zhouwangzw commented on #1090
Regarding your question about V3.0 REST API for transcription, you do not pass audio directly in request body, but instead the audio should be stored in Azure Blob Storage or a http gettable source You can find details about API here: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/batch-transcription#configuration

Regarding the second question, SpeechSDK uses HTTPS 443 p

[2021-05-19 16:14] zhouwangzw commented on #1051
The speaker diarization feature only works for mono audio, but not for stereo audio, as described here https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/batch-transcription#configuration-properties.
There was a bug in the previous system which ignores the diarization setting but just does transcription for stereo files. This bug has been fixed in most regions and will be dep

[2021-05-19 18:46] tomasgreen commented on #919
@j-h-a I figured it out, apparently you can't use bitcode when uploading to App Store.

I created a small howto (for my own benefit) based on some info I googled at https://github.com/tomasgreen/MSSpeechServiceXCFramework, feel free to take a look, I even added a ready to use zipped version of the xcframework.

P.S
@jhakulin it would be amazing Microsoft could host the .xcframework somewhere, or e

[2021-05-19 18:49] jhakulin commented on #919
@tomasgreen What is the problem you have with the bitcode enabled binary and app store?

[2021-05-19 19:08] Tiger-Cross commented on #639
@pankopon this is not a duplicate issue with #679 as they discuss different error codes.

@jhakulin I am also seeing this specific issue (0x15 SPXERR_MIC_ERROR) with my Unity application for Android on an Oculus Quest. I have used the code from your [Unity FromMicrophone example](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/quickstart/csharp/unity/from-microphone/Asse

[2021-05-19 20:07] BrianMouncer commented on #1023
@inglesuniversal

I picked up this work item from our backlog.
Can you please confirm if these are what you need to find the latest release each milestone?

The link will alway point to the latest java script package,

https://aka.ms/csspeech/jsbrowserpackage

These two links will always point to the uncompressed RAW SDK package.

https://aka.ms/csspeech/jsbrowserpackageraw
https://aka.ms/csspeech

[2021-05-19 22:52] inglesuniversal commented on #1023
That's simply AWESOME... I was looking for that for quite a while!!!

Thanks so much for your continued support.

#STAYSAFE

[2021-05-19 22:55] inglesuniversal opened #1093 "How to disable / enable use of "profanity" on the speech SDK for javascript web?"
It is discussed in your website but not clearly stated how to use it.

Thanks.

[2021-05-20 03:44] ashwinkfmr commented on #1090
Thanks Zhou.

And as for the Python SDK, I am unable to connect/or get any response from my endpoint. I have followed the documentation, but it just returns back nothing (tried using the subscription key+region, endpoint)

Thanks

[2021-05-20 05:09] paulchua-pc3 commented on #641
Thanks for the assistance, I was able to get it working using the V2 endpoint.

[2021-05-20 06:07] zhouwangzw commented on #1090
@jhakulin  Could you please help on this Python SDK related question? Thanks.

[2021-05-20 06:42] tomasgreen commented on #919
@jhakulin I got these errors when uploading the when uploading to App Store.

I just created a local export with bitcode included and had a look at the export log. It may be that the bcsymbolmap for the framework is missing but I'm not sure yet.

[2021-05-20 08:02] tomasgreen commented on #919
@jhakulin I'm pretty sure the symbols are the cause of the problem, but in order to fix it I need to run `xcodebuild -create-xcframework` with the `-debug-symbols` flag. However, that requires the dSYM file, any chance you can supply it?

[2021-05-20 12:46] ccoreilly commented on #1074
@glharper I can confirm we are also experiencing increased latency in continuous recognition with the latest Java Client SDK 1.17.0 when using the PhraseListGrammar (the same issue happened with version 1.16.0).

Here are my findings in a test setup (tested on both versions 1.16.0 and 1.17.0):
Using SttLanguage `de-DE`:
- Using no PhraseListGrammar resulted in an average latency of 1 second
- Crea

[2021-05-20 15:09] Tiger-Cross commented on #639
@jhakulin There is definitely something going wrong with the SDK since it works fine for a few minutes but always returns a cancellation afterwards (meaning the application has to be restarted to get it to work again.) i've tried many ways around this, (making the speechRecognizer a member variable, using Start/StopContinuousRecognitionAsync instead of recognizeOnce) but I keep running into it on

[2021-05-20 16:22] jhakulin commented on #1074
@ccoreilly Thanks for the information. We are currently investigating the issue and will keep you updated.

[2021-05-20 20:44] jhakulin commented on #639
@Tiger-Cross Thanks for the report, could you please provide Speech SDK logs by following instructions below ?

1. Add following code after the SpeechConfig creation which would write the log file into Application.persistentDataPath, see https://docs.unity3d.com/ScriptReference/Application-persistentDataPath.html ?
[code]
2. Enable Write Permission in your Unity Player settings for Android to "Ext

[2021-05-20 20:45] oscholz commented on #1071
marking this as accepted instead, so that @alexinuk will get updated when we resolve this.

[2021-05-20 20:51] oscholz commented on #1060
reopening it and marking it as accepted so that @isthistechsupport will get notified when we address this.

[2021-05-20 20:55] jhakulin commented on #1090
@ashwinkfmr Could you please provide Speech SDK logs by following instructions below?
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-use-logging

[2021-05-20 21:30] oscholz commented on #1045
reopening and labeling it as accepted so @CtrlZvi gets notified when we resolve this after we fix this bug.

[2021-05-21 04:18] ashwinkfmr commented on #1090
Hi

I enabled the logs and I find that I have this same error.
https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/595

It's unable to get the CRL file and hence no IO channel. I am able to get the CRL via the command line using wget.
(I tried passing the ws endpoint of my service, and I get the same error, where it is unable to download the CRL file)

[230301]: 20719ms SPX_TRACE

[2021-05-21 04:33] johnpaulu opened #1094 "ServiceTimeout"
**Describe the bug**
The issue I have reported earlier started to appear frequently again. I am utilizing the Microsoft Service in UK-South.

Please see the link to that case below:
https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/490

**To Reproduce**
SessionId: 5be2ed83c1554f80a906cc4dab152704
SessionId: 7942ec015c8d48d7810fee563850a32e
SessionId: 650e33483de34fd0a8085535628

[2021-05-21 04:36] jhakulin commented on #1094
@johnpaulu Thanks for the report, could you please update to the latest Speech SDK version 1.17.0 ? We have improvements to the problem seen here "Due to service inactivity, the client buffer exceeded". Let us know if that helps.

[2021-05-21 10:06] Tiger-Cross commented on #639
@jhakulin Thanks for the detailed instructions. I have followed the steps and obtained a logfile (attached) in which I was able to reproduce the bug. For the duration of using the application, I issued 4 requests to the SpeechRecognizer (using the RecognizeOnceAsync method) adn the first two were successful (where I said "This is a test" and "This is the second test") and the last two were unsucce

[2021-05-21 12:07] Ablesius commented on #442
Why do you close this ticket when the problem is obviously not resolved?

[2021-05-21 15:23] johnpaulu commented on #1094
Thanks, it helped to significantly reduce those errors, but still we have experienced one today

Fri, 21 May 2021 14:18:09 GMT
Due to service inactivity, the client buffer exceeded maxim
um size. Resetting the buffer. SessionId: c47dfcf437564c9796352a1485636101

[2021-05-21 15:28] johnpaulu commented on #1094
and now also second time today after the upgrade to speech sdk 1.17

[Fri, 21 May 2021 15:26:17 GMT] [Transcription Engine] [Error Cancelled] [ServiceTimeout] [Due to service inactivity, the client buffer exceeded maximum size. Resetting the buffer. SessionId: e1b34d717b8e4fd49e30f7fdfd0085f2]

[2021-05-21 15:31] johnpaulu commented on #1094
and also third one

[Fri, 21 May 2021 15:26:17 GMT] [Transcription Engine] [Error Cancelled] [ServiceTimeout] [Due to service inactivity, the client buffer exceeded maximum size. Resetting the buffer. SessionId: e1b34d717b8e4fd49e30f7fdfd0085f2]

Thanks a lot for looking into that

[2021-05-21 15:38] jhakulin commented on #1094
@johnpaulu Could you please provide SDK log by following these instructions?
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-use-logging

[2021-05-21 15:55] jhakulin commented on #639
@Tiger-Cross Based on the log, there seems to be issue with audio flow. Could be that Speech SDK do not receive audio from the Android audio stack. We have had similar reports before with Oculus which have been pointing to the problem with audio driver level. What is the version of Oculus Quest 2? Do you have the latest software and audio drivers installed on that?

[2021-05-21 16:02] jhakulin commented on #1093
@inglesuniversal Thanks for question, you can use this method to enable/disable profanity using setProfanity method on SpeechConfig object.
https://docs.microsoft.com/en-us/javascript/api/microsoft-cognitiveservices-speech-sdk/speechconfig?view=azure-node-latest#setProfanity_ProfanityOption_

[2021-05-21 16:03] Tiger-Cross commented on #639
@jhakulin Thank you for looking into this. I can confirm that I have the latest version of the oculus software and audio drivers. Although, after reproducing the issue more frequently I have found that it appears to be caused by a different third party asset. I believe that calling Destroy() on [this class](https://developer.vuplex.com/webview/WebViewPrefab) causes the microphone to become unavail

[2021-05-21 16:15] roninstar commented on #563
I am getting this exact same error in version 1.16 using an ARM7 Android 8.1 device with SpeakerRecognition using exactly the example that comes with it.  I can enroll my speaker but whenever I run this with the same VoiceProfile that was just enrolled it fails with this error 0x5 (SPXERR_INVALID_ARG) .  I feel like this was working in older versions 1.12 but now it is not.  It fails on the Recogn

[2021-05-21 16:27] jhakulin commented on #563
@roninstar Could you please create new issue of the problem? Also could you please provide logs as instructed here?
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-use-logging

[2021-05-21 18:04] roninstar commented on #563
yes I will do that, thanks

[2021-05-21 18:25] kokovoj opened #1095 "Change download CRL link to https"
Currently the lib attempts to download the CRL via http (Linux/Amazon-linux) which causes error below to applications that disable outbound port 80 for security reasons
`
[653589]: 129627ms SPX_TRACE_ERROR: AZ_LOG_ERROR:  tlsio_openssl.c:1014 Error loading CRL from http://www.microsoft.com/pkiops/crl/Microsoft%20Azure%20TLS%20Issuing%20CA%2001.crl
`

Same CRL is already available at http**s**://ww

[2021-05-21 18:55] roninstar opened #1096 "SpeakerRecognition fails to RecognizeOnceAsync with Enrolled VoiceProfile 0x5 (SPXERR_INVALID_ARG)"
Could someone please help me? I am getting this exact same error in version 1.16 using an ARM7 Android 8.1 device with SpeakerRecognition using exactly the example that comes with it. I can enroll my speaker but whenever I run this with the same VoiceProfile that was just enrolled it fails with this error 0x5 (SPXERR_INVALID_ARG) . I feel like this was working in older versions 1.12 but now it is

[2021-05-21 21:09] jhakulin commented on #639
Closing the issue as does not look like Speech SDK related problem. Let us know if there is more questions/help needed?

[2021-05-21 21:09] #639 closed

[2021-05-21 21:13] inglesuniversal commented on #1093
Thanks for the info... As a matter of fact, I've seen those notes before... but trying to set it up to RAW before the recognition engine starts has been a little difficult to figure it out...

        speechConfig.speechRecognitionLanguage = langID;

        var profanityConfig = profanityOption('profanity', 2); // 2 = Raw

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInpu

[2021-05-21 21:23] glharper commented on #1096
@roninstar Thanks for including the log! It looks like something about the SpeakerVerificationModel is causing the RecognizeOnceAsync call to throw. Could you include more of your code around how the profile variable gets created and updated?

[2021-05-21 21:28] jhakulin commented on #1093
@inglesuniversal

You need to do something like below:

[code]

[2021-05-21 21:35] inglesuniversal commented on #1093
It magically worked!!!

Thanks...

[2021-05-21 21:44] #1093 closed

[2021-05-21 21:45] jhakulin commented on #1051
closing the issue as the fix is being deployed, let us know if there is still issues.

[2021-05-21 21:45] #1051 closed

[2021-05-21 21:48] jhakulin commented on #1091
@ajay960singh Please provide the information so that we can help you further.

[2021-05-21 22:34] jhakulin commented on #947
@SOliasS We have release new 1.17.0 release now, let us know if you see any problems with that.

[2021-05-21 22:36] jhakulin commented on #1073
@josephsctan Speaker diarization feature is in the Speech SDK plans for future releases during this year.

[2021-05-22 10:37] johnpaulu commented on #1094
Please find the attached SDK logs below for 4 different cases. Thanks.

[2021-05-22 10:38] johnpaulu commented on #1094
[stt_2021-05-22_e7305372-f794-4756-98d3-d48b8881657a.txt](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/6526244/stt_2021-05-22_e7305372-f794-4756-98d3-d48b8881657a.txt)
[stt_2021-05-22_ff9ca2c6-a8c1-43f8-b14b-18b0bdf02213.txt](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/6526245/stt_2021-05-22_ff9ca2c6-a8c1-43f8-b14b-18b0bdf02213.txt)

[2021-05-22 10:40] johnpaulu commented on #1094
[stt_2021-05-22_8a03fd79-59bd-44cd-8296-d1e9af7f4b97.txt.zip](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/6526246/stt_2021-05-22_8a03fd79-59bd-44cd-8296-d1e9af7f4b97.txt.zip)

[2021-05-22 10:40] johnpaulu commented on #1094
and the last one

[stt_2021-05-22_b759373f-9734-4802-b1d5-dc19d1c00196.txt.zip](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/6526248/stt_2021-05-22_b759373f-9734-4802-b1d5-dc19d1c00196.txt.zip)

[2021-05-22 18:03] geniusrasaq opened #1097 "RuntimeError: Exception with an error code: 0x9 (SPXERR_UNEXPECTED_EOF) [CALL STACK BEGIN]"
Hello Everyone,

I have been trying to transcribe 6000 audio files for a while using Microsoft cognitive speech sdk but I am getting the error listed below.

Note: I passed one audio file into the code and it worked. However, when I passed in the 6000 audio files into the code, it throws the error listed below:

RuntimeError: Exception with an error code: 0x9 (SPXERR_UNEXPECTED_EOF)
[CALL STACK BE

[2021-05-22 23:55] jhakulin commented on #1097
@geniusrasaq Thanks for the report, could you please provide Speech SDK traces as instructed here?
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-use-logging

Also looking at your source code, for AudioConfig construction you need to provide filename, not the directory path.
Something like below:
[code]

[2021-05-23 21:41] geniusrasaq commented on #1097
@jhakulin, thank you for your reply. I tried the code you provided above and it worked. However, the code is splitting each audio files in the directory into subsections. I increased the sleeping time to higher number but it still did not work.

[2021-05-23 21:42] geniusrasaq commented on #1097
@jhakulin , what can I do to make the code finished transcribing each audio files before moving to the next one.

[2021-05-23 22:57] MBelkhechine opened #1098 ".Wav File for Asynchronous Conversation Transcription"
Hi,

I am trying out the C# code sample of the[ Asynchronous Conversation Transcription](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-async-conversation-transcription?pivots=programming-language-csharp). To open the .Wav file, I am using [this Helper.cs](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/csharp/sharedcontent/consol

[2021-05-24 00:34] jhakulin commented on #1097
@geniusrasaq The script I provided earlier will transcribe each audio file at the time, so that first file is transcribed before starting the second one and so on. Could you please provide more information what do you mean by "code is splitting each audio files in the directory into subsections" ? Also could you attach your audio files to this case so that I could reproduce the possible issue you

[2021-05-24 01:19] geniusrasaq commented on #1097
@jhakulin, thank you for your prompt response. Attached is the copy of some of the audios that I am transcribing and the output that I got from Microsoft speech sdk and how I want to be. [](url)
[Sample_record (3).zip](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/6529285/Sample_record.3.zip)

[2021-05-24 07:59] ashwinkfmr commented on #1090
Hi

I have tried following the documentation of openssl configuration for Linux, and tried the following steps:
1. setting the SSL_CERT_FILE location
2. enabling the following options in my sample code
   speech_config.set_property_by_name("OPENSSL_DISABLE_CRL_CHECK", "true")
    speech_config.set_property_by_name("OPENSSL_SINGLE_TRUSTED_CERT", "false")

I still get the below error
[774597]: 90ms

[2021-05-24 10:17] comoroberto opened #1099 "Java - source attachment"
Hi.

I'm trying out the Java code sample of speech recognition. The jar included in pom through https://csspeechstorage.blob.core.windows.net/maven/ seems doesn't have any source attachment and it is not possibile to inspect the classes.

Is there any way to add them ?

Thanks

[2021-05-24 12:26] roninstar commented on #1096
sure, so I am capturing all the audio spoken to a PCM 16bit Wav file and playing this audio wav file into this code.  Then I verify the enrolled profile by passing this created profile into the Speaker verification code above.

 _config = SpeechConfig.FromSubscription(CognitiveServicesSettings.AzureSpeechResourceKey, CognitiveServicesSettings.AzureRegionWestUs);
                using (var client =

[2021-05-24 12:56] MBelkhechine commented on #1098
I have regenerated the .WAV file with the "WAV (Microsoft) signed" format using Audacity and it has solved the issue. The assertion in in [Helper.cs](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/csharp/sharedcontent/console/helper.cs) now passes.

In the previous WAV file, the data sub-chunk comes at a different file offset. After having a closer look at both

[2021-05-24 15:05] glharper commented on #1096
@roninstar Thanks for the response. Could you also share the .wav files you're using to enroll and then verify?

[2021-05-24 15:31] roninstar commented on #1096
sure, thanks.
[voicetraining_audio.zip](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/6533422/voicetraining_audio.zip)

[2021-05-24 16:02] glharper commented on #1096
@roninstar For verifying that audio file, I'm getting a Cancelled result "ErrorDetails= Invalid audio length. Maximum allowed length is 10 seconds. Bad request (400). Please verify the provided subscription details and language information." For training and verification files, there is a max time limit of 10 seconds per file. Could you try this with files less than 10 seconds long?

[2021-05-24 17:44] roninstar commented on #1096
Yes I will try that now.

[2021-05-24 18:13] dargilco commented on #1099
Hi @comoroberto, this is Darren from the Speech SDK team. We do not release Speech SDK source code for Java or any of the other programming languages. Is there a particular issue with Speech SDK that we can help you with? If so, feel free to open a new GitHub issue here. Thanks!

[2021-05-24 18:13] #1099 closed

[2021-05-24 18:16] roninstar commented on #1096
I am getting the same error with a file size just under 10 seconds.  It does have some gaps between speaking.  Maybe that is causing a problem.  An odd thing I noticed in the logs is when enrollment starts it says remaining time 14 seconds.  But when I open my file in a wav editor it matches up with 16 bit 16khz mono pcm of 10 seconds.  I set the limit of bytes to capture as 312000.

[2021-05-24 18:21] glharper commented on #1096
@roninstar That remaining time means how much more spoken audio the service requires to completely enroll a voice profile. A 10 second audio file may have 3-4 seconds of spoken audio, which is not enough on it's own. Try using more samples until the remaining time is 0 seconds (or you can re-enroll the same sample file multiple times, but the voice profile recognition may not be as accurate).

[2021-05-24 18:31] dargilco commented on #1098
@MBelkhechine thank you for posting this issue. I'm Darren from the Speech SDK team. If you are using async conversation transcription, it is by design that the service periodically sends empty speech recognition results. This indicates that the service is processing the audio and everything is okay. I will follow up with our technical writers to make sure the public documentation is updated accor

[2021-05-24 18:31] #1098 closed

[2021-05-24 19:00] jhakulin commented on #919
@tomasgreen Could you please send me email to jhakulin@microsoft.com and provide a link where I could drop the dsym file for investigation. Thank you.

[2021-05-24 19:04] dargilco commented on #1098
@MBelkhechine regarding example WAV files, the sample shows katiesteve.wav, which you can find in this repo. The implementation showed in [helper.cs](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/csharp/sharedcontent/console/helper.cs) assumes that there is no data chunks interleaved with the audio chunks. That is, after the WAV header, there is only raw audio

[2021-05-24 19:39] roninstar commented on #1096
I'm struggling to get this just right.  I am still failing with this audio.  So I am prompting users to speak different sentences for voice training.  I am using Speech To Text Speech Recognition to know when to capture the audio and when to stop.  This still leaves little gaps in between.   Its hard to get people to speak one phrase that lasts 10 seconds or for them to remember what they should s

[2021-05-24 19:55] roninstar commented on #1096
to give you a use-case for my problem is we have no user interface so we are using Text to Speech to prompt the user to speak each phrase.  We use the SpeechRecognizer to know when to capture audio and when not to.  If I could capture just the users speech portion each time then I could accurately fill 10 seconds with audio and create the wav file and play that into the Enrollment process.

[2021-05-24 20:12] glharper commented on #1096
@roninstar One approach could be to record 10 seconds of audio, then send that 10 second file multiple times until you receive a EnrolledVoiceProfile result. Another could be to prompt the user multiple times, as in [SpeakerVerificationWithMicrophone here](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/cpp/windows/console/samples/speaker_recognition_samples.cpp)

[2021-05-24 20:20] roninstar commented on #1096
That sounds promising! I will give these a try.

[2021-05-24 20:43] roninstar commented on #1096
This latest wav file passes Enrollment and it has no audio gaps and is just under 10 seconds.  but as soon as I go to verify my voice the RecognizeOnceAsync fails immediately.
[voicetraining_usersguid_audio.zip](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/6534887/voicetraining_usersguid_audio.zip)

[2021-05-24 20:57] glharper commented on #1096
@roninstar If you could zip and attach your solution files, I'll take a look. My best guess is that something about the profile isn't right (wrong type, wrong id). Looking on your end, I'd make sure in debug that the enrolled profile details when you get the EnrolledVoiceProfile match exactly the details of the profile given to SpeakerVerificationModel.FromProfile.

[2021-05-24 23:12] dargilco commented on #1095
@kokovoj The CRL location or download protocol is not determind by Speech SDK. It’s embedded in the certificate. There is no vulerablity in using HTTP to download the CLR (see [more info here](https://security.stackexchange.com/questions/72570/is-publishing-crls-over-http-a-potential-vulnerability) for example). If your environment won’t allow connections to the CRL download points, please see the

[2021-05-24 23:12] #1095 closed

[2021-05-24 23:42] roninstar commented on #1096
sure can I email you the two classes?  they are a part of a very large project so I can't send the whole thing.  The Audio is getting raised from the mic using the Android Minimum Buffer OnMarkerReached using an AudioRecord.

[2021-05-25 00:24] glharper commented on #1096
<my_username>(at)microsoft(dot)com

[2021-05-25 02:44] achen353 opened #1100 "Mock continuous speech recognition response with pytest"
Hello everyone,

I'm trying to create a test and mock the response of the continuous speech recognition (from file) with `pytest` runner. I read the [documentation](https://github.com/Azure/azure-sdk-for-python/blob/master/doc/dev/mgmt/tests.md). However, I'm still not sure how exactly I should implement the test. I'd really appreciate some help.

<pre><code>
def transcribe_azure_speech_file(speec

[2021-05-25 04:22] elibenis opened #1101 "Speech translation from BLOB"
I am following the tutorial "How to use the Speech Services Batch Transcription API from Python" (see: https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/batch/python).

When I run the code, a dialog box appears reading, 'How do you want to open this file' I chose Windows Media Player but it throws an error when selected...'Windows Media Player cannot play the file.

[2021-05-25 05:10] zhouwangzw commented on #1101
Which file did the dialog box ask you to open? The sample itself does not pop up any dialog box, so it must be something wrong with settings or configuration. Could you please check whether you have Python 3.7 installed and other settings?

[2021-05-25 13:49] roninstar commented on #1096
thanks, email is sent.

[2021-05-25 16:02] dargilco commented on #1100
Hi @achen353 it's not clear to me what you are trying to do. Can you give more information?
Darren

[2021-05-25 16:06] achen353 commented on #1100
Hi @dargilco! I'm trying to create a `pytest` case for speech recognition by mocking the events fired by `speech_recognizier`.

[2021-05-25 16:47] dargilco commented on #1097
@geniusrasaq If you need to transcribe a large set of WAV files, we recommend using [batch transcription](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/batch-transcription). You can find Python sample code [here](https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/batch/python). Speech SDK is best for streaming live audio to the cloud or fo

[2021-05-25 16:47] #1097 closed

[2021-05-25 18:37] dargilco commented on #1094
@johnpaulu Thank you for the logs. Looking at it now.

[2021-05-25 22:14] kokovoj commented on #1095
Thanks for the link!

1. Disabling CRL check altogether worked `speechConfig.setProperty("OPENSSL_DISABLE_CRL_CHECK", "true")`
2. Soft failing the CRL check and continuing `speechConfig.setProperty("OPENSSL_CONTINUE_ON_CRL_DOWNLOAD_FAILURE", "true")` doesn't work and still fails to open the ws connection (if port 80 outbound is closed)

[2021-05-26 08:18] webian opened #1102 "https://speech.microsoft.com/portal stuck on loading"
Hello,
I tried different browser and 2 different Microsoft account but the https://speech.microsoft.com/portal is stuck and won't finish loading (spinner in loop).

[2021-05-26 08:38] achen353 commented on #1100
@dargilco  This might help to clarify my question:

If I understand the API correctly,`speech_recognizier` is an instance of `SpeechRecognizer` and it fires a `SpeechRecognitionEventArgs` event when it completes transcribing a segment of the given speech file (with the transcription result contained in its `result` property).

I'd like to create a pytest to test `speech_recognizer` by mocking the

[2021-05-26 14:07] dsuarez993 opened #1103 "Not able to connect to Speech using VNET and custom subdomain from Python API"
Hi,

Begging for some help around here.

I've been trying for the whole day to use the Speech to Text feature of Cognitive Services with VNET integration using Python API, and no success.

If I use it without VNET and using Region and Token, it works perfectly fine, but once I set the VNET...

In Azure the Network Setup is as follows, allowing traffic from our public organization IP:
![image](http

[2021-05-26 15:21] dargilco commented on #1102
Hi @webian, I'm Darren from the Speech Services team. Roughly where are you located in the world? Which browser are you using? I have not heard of any outage in MS Account or the speech portal, and it works for me now from west coast USA. Have you tried clearing your browser cash (deleting all data and cookies)?

[2021-05-26 15:30] webian commented on #1102
Hi @dargilco,
I'm in Italy near Venice.
I tried to clear browser cache and also with a Chrome (v 90.0.4430.212) guest account so clean and no extension.

In the console see these errors: so I generated [this log](https://pastebin.com/bRpwAzza).

OS: Windows 10 Enterprise 20H2 19042.985

[2021-05-26 15:38] MikeMnD opened #1104 "How to use WordBoundary with stream or audio file output"
I'm using the microsoft-cognitiveservices-speech-sdk on Node.js

The only example i found is a JS browser based and I want to make the request, save the file and save the word timing info in complimentary file.
At the moment saving to file works as expected but no callbacks are called.
This is the code I'm using:

`synthesizeSpeechToStream(subscriptionKey: string, serviceRegion: string) {
    cons

[2021-05-26 15:47] dargilco commented on #1102
Thanks for the quick reply! I contacted the speech portal team and will follow up here when I have more information.

[2021-05-26 16:05] dargilco commented on #1104
Hi @MikeMnD, I'm Darren from the Speech Services team. Do you mind posting your question on the Speech SDK JS site, so other JS developers can benefit from our reply? Over here: https://github.com/microsoft/cognitive-services-speech-sdk-js/issues
Thanks,
Darren

[2021-05-26 16:21] dargilco commented on #1103
@dsuarez993 Are the instructions here not helpful? https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-service-vnet-service-endpoint

[2021-05-26 16:58] pmooij commented on #1103
thanks for getting into this @dargilco as I'm facing the same problem.

specifically this section https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-services-private-link?tabs=portal#speech-to-text-rest-api-v30 addresses this properly for the REST API, specifically v3.
so through the REST API the firewall and the service work as expected.

However, for the SpeechSDK I

[2021-05-26 19:12] pmooij commented on #1103
mea culpa @dargilco, missed a service endpoint on the particualar databricks subnet we're originating from

herewith I confirm that the following does work as expected, using a firewall restricted cognitive service

[code]

[2021-05-26 20:17] dargilco commented on #1103
Thank you for the update, and good luck with your project! Don't hesitate to open an issue here if you run into other problems.
Darren

[2021-05-26 20:17] #1103 closed

[2021-05-26 20:40] glharper commented on #1096
Resolved via email

[2021-05-26 20:40] #1096 closed

[2021-05-26 22:53] dargilco commented on #1094
@johnpaulu Can you please try the following? Set this string property on SpeechConfig to increase the client buffer size. Do a few runs and share new logs. If you see ServiceTimeout error, certainly share that log. But even if you don't see, please share a couple of logs from good runs:
   config.SetProperty("SPEECH-MaxBufferSizeMs", "90000");
Thanks,
Darren

[2021-05-27 07:19] MikeMnD commented on #1104
Hi, @dargilco I've done it. https://github.com/microsoft/cognitive-services-speech-sdk-js/issues/377

[2021-05-27 07:19] #1104 closed

[2021-05-27 07:36] aditya-protonn commented on #292
I'm still getting this error
"Unable to contact server. StatusCode: 1006, undefined Reason:  undefined"

Have put the correct subscription key and region. I'm using the quickstart browser sample app "quickstart/javascript/browser/from-microphone/index.html"

[2021-05-27 10:04] cl-6666 opened #1105 "We need to add ip to the whitelist"
Hello, we have a demand here. Our Internet has access requirements, and IP must be restricted. We are now using your Android speech recognition, synthesis, and translation services. Now we want to configure the IP or domain name to be accessed on our side. , I don’t know if it is convenient for you to provide it?

[2021-05-27 11:56] johnpaulu commented on #1094
please find below

[2021-05-27 11:58] johnpaulu commented on #1094
[sdk logs 1.zip](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/6553768/sdk.logs.1.zip)

[2021-05-27 11:59] johnpaulu commented on #1094
[sdk logs 2.zip](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/6553770/sdk.logs.2.zip)

[2021-05-27 11:59] johnpaulu commented on #1094
thanks

[2021-05-27 16:14] dargilco commented on #1105
You can configure your service to allow access to the IP addressed covered by the Azure Service Tag "CognitiveServicesManagement". See link here: https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview

Please follow these steps to add the IP Address ranges to an allow list:
* Download IP Ranges for all service tags: https://www.microsoft.com/download/details.aspx?id=56519
* S

[2021-05-27 16:14] #1105 closed

[2021-05-27 16:46] dargilco commented on #292
@aditya-protonn I see you already opened an issue for this in the JS SDK repo. We will follow up there.
https://github.com/microsoft/cognitive-services-speech-sdk-js/issues/296#issuecomment-849423282

[2021-05-27 17:14] dargilco commented on #1100
@achen353 So you are trying to write a substibute (a mock) for speech recognition results, in order to test your application (which consumes speech recogntion results). In order for your test to be deterministic and repeatable, you would like the mock to produce the same exact speech recogntion resutls on every run. Is that correct? There is an option of course to use Speech SDK with WAV file inpu

[2021-05-28 00:22] dargilco commented on #1102
@webian I talk to Richard from the speech portal team and he said that unfortunately there is not enough details in the log you provided. He asked that you follow the instructions in [the attached PDF](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/6557378/troubleshooting-speech-portal.pdf) and let us know the result. Thanks! Darren

[2021-05-28 00:31] dargilco commented on #1094
Thanks @johnpaulu, looking at the logs now

[2021-05-28 01:34] dargilco commented on #1094
@johnpaulu are you using Phrase List Grammar in your recognition sessions?
https://docs.microsoft.com/en-us/dotnet/api/microsoft.cognitiveservices.speech.phraselistgrammar?view=azure-dotnet

[2021-05-28 03:17] achen353 commented on #1100
@dargilco I see [here](https://github.com/Azure/azure-sdk-for-python/blob/master/doc/dev/mgmt/tests.md#providing-credentials-to-the-tests) that one could simulate authenticating with Azure with a fake credential file. And further down the same documentation, it mentions a "more sophisticated fake object" in [Example 2](https://github.com/Azure/azure-sdk-for-python/blob/master/doc/dev/mgmt/tests.md

[2021-05-28 04:24] johnpaulu commented on #1094
No, as indicated in my previous ticket, I am using continuousRecognitionWithFileAsync sample from https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/java/jre/console/src/com/microsoft/cognitiveservices/speech/samples/console/SpeechRecognitionSamples.java

[2021-05-28 05:21] amitguptampct12 commented on #525
Got issue in iOS:-
libc++abi.dylib: terminating with uncaught exception of type std::runtime_error: Exception with an error code: 0x13 (SPXERR_START_RECOGNIZING_INVALID_STATE_TRANSITION)

[2021-05-28 05:27] amitguptampct12 opened #1107 "SPXERR_START_RECOGNIZING_INVALID_STATE_TRANSITION in iOS"
**Describe the bug**
App is frequently crashing .

**To Reproduce**
Steps to reproduce the behavior:
1. Start session to getting voice stream by calling ListenOnceAsync().get();
2. Say "Wake word"
3. Again start session by calling ListenOnceAsync().get();
4. App crashed.

**Expected behavior**
There is something to exception handle.

**Version of the Cognitive Services Speech SDK**
'MicrosoftCogni

[2021-05-28 07:39] webian commented on #1102
@dargilco the root cause was that I was missing an Azure subscription even if I could login in Azure.
I then close this and thank you for your help!

[2021-05-28 07:39] #1102 closed

[2021-05-28 09:42] humak commented on #399
Hello, experiencing the same issue. I am using batch transcription with data from my azure blob, I tried both one file BLOB sas uri and multi file CONTAINER sas uri, both of them giving me the 'Transcription failed: The recordings URI contains invalid data.' error. And this is strange because I used exact same files several times before and got the transcription succesfully. Any ideas on why I am

[2021-05-28 10:45] amitguptampct12 opened #1108 "SPXERR_CHANGE_CONNECTION_STATUS_NOT_ALLOWED"
How to handle this kind of exception.

libc++abi.dylib: terminating with uncaught exception of type std::runtime_error: Exception with an error code: 0x1f (SPXERR_CHANGE_CONNECTION_STATUS_NOT_ALLOWED)
[CALL STACK BEGIN]

3   MicrosoftCognitiveServicesSpeech    0x000000010b3ea795 user_get_id + 153621
4   MicrosoftCognitiveServicesSpeech    0x000000010b4ea066 user_get_id + 1200358
5   MicrosoftCogni

[2021-05-28 12:07] humak opened #1109 "Transcription failed: The recordings URI contains invalid data."
Hello,
I am using Batch Transcription api with python and getting error 'Transcription failed: The recordings URI contains invalid data.'. My files are on wav format and it is strange that I am getting this error because I used these same files with this api before and it worked properly several times. Can you please help?
I have already read the releated closed issues but not helped. ( https://gi

[2021-05-28 12:10] zhouwangzw commented on #1109
Could you please share the transcription id of failed transcriptions and the approximate time and regions? Thanks!

[2021-05-28 12:17] humak commented on #1109
Thank you for your fast response. Here they are:

05/28/2021 03:00:26 PM Turkey Standard Time Starting transcription client...
05/28/2021 03:00:27 PM Turkey Standard Time Created new transcription with id 'e3fac6d4-5436-45ed-9e4e-5a6ceba00ac7' in region westeurope
05/28/2021 03:00:27 PM Turkey Standard Time Checking status.
05/28/2021 03:00:32 PM Turkey Standard Time Transcriptions status: Failed

[2021-05-28 12:27] zhouwangzw commented on #1109
It seems that your audio is stereo and you asked for diarization in the request. Diarization only works for mono audio, as described [here](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/batch-transcription#configuration-properties). It might have worked in the past due to a bug in our system which just ignores diarization for stereo audio. Now an explicit error is return

[2021-05-28 12:32] humak commented on #1109
Worked! Thank you so much for the explanation!

[2021-05-28 12:34] #1109 closed

[2021-05-28 13:51] Ablesius opened #1110 "Connection failed (no connection to the remote host). Internal error: 1. Error details: Code: 2543"
**Describe the bug**
I have followed the code example for transcribing an audio file, and I always get this error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a `speech_config.yml` containing this:

[code]
2. Run the code from here: https://paste.xinu.at/H6tO/

**Expected behavior**
I expected this output:
[code]

**Version of the Cognitive Services Speech SDK**
1.17.0

**

[2021-05-28 13:51] kleindev commented on #1051
@jhakulin was this reintroduced into South Central US just recently?  We are now seeing the same issue appear for custom pronunciations - this was transcribed yesterday (5/27/2021)

subacromial**fdfdaabcaeaedcbabf** decompression

[2021-05-28 13:58] zhouwangzw commented on #1051
Sorry, a new deployment overwrote the setting by accident. I will revert the change.

[2021-05-28 13:59] kleindev commented on #1051
@zhouwangzw thank you!

[2021-05-28 14:09] zhouwangzw commented on #1051
I reverted the change, and the custom prounciations should work now. Sorry for the mistake!

[2021-05-28 15:04] OD1995 opened #1111 "InvalidPayload when posting MP3 for transcription"
**Describe the bug**
Got an unexpected response of:
[code]

**To Reproduce**
Steps to reproduce the behavior:
Using https://uksouth.dev.cognitive.microsoft.com/docs/services/speech-to-text-api-v3-0/operations/CreateTranscription/console, I posted this:
[code]

[2021-05-28 15:21] dargilco commented on #1111
Hi @OD1995, thank you for posting this question. It seems to be about [Batch Transcription](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/batch-transcription). The issues we track in this GitHub repo are about Speech SDK. I will contact the appropriate team to try to get someone to answer your question here, but I will go ahead and close the issue. A better way to get he

[2021-05-28 15:27] OD1995 commented on #1111
Appreciate the fast response @dargilco and apologies for posting in the wrong place. I have now posted my question [here](https://stackoverflow.com/questions/67741659/invalidpayload-when-posting-mp3-for-transcription-when-using-azure-speech-to-tex)

[2021-05-28 15:30] dargilco commented on #1110
@Ablesius thanks for opening this issue. Can you please provide full Speech SDK Log, as per the instructions here? https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-use-logging
Thanks,
Darren

[2021-05-28 16:08] #1111 closed

[2021-05-28 16:14] dargilco commented on #1108
@amitguptampct12 What is the scenario you are running? what Speech SDK APIs are you using? give us some more info on your usage case. Also please [provide Speech SDK logs](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-use-logging). Reply here and drag the Speech SDK log file into your reply box to attach the log.
Thanks,
Darren

[2021-05-28 16:20] dargilco commented on #1107
@amitguptampct12 Please update to Speech SDK version 1.17, [enable logs](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-use-logging), and share the log by replying and dragging the log file to the reply box. Thanks! Darren

[2021-05-28 16:29] dargilco commented on #1100
@achen353 If I needed to test an app that uses Speech SDK for Speech Recognition, I would write a shim layer above the Speech SDK API calls. My application would interact with this shim layer, instead of Speech SDK directly. This shim layer will normally by a pass-through for API calls and events to Speech SDK (in normal usage), but under test usage, it will mock the Speech SDK APIs by accepting A

[2021-05-28 17:07] dargilco commented on #1102
@webian Glad to hear your issue was resolved. Good luck with your project!
Darren

[2021-05-28 17:16] dargilco commented on #1094
I've looked at the logs. I am following up with the speech service team so they can look at telemetry for your session IDs, to understand why the service slows down after about 10 minutes of recognition. I will give update here once I have more info. As a work around, we recommend using [Batch Transcription](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/batch-transcripti

[2021-05-28 17:24] amitkumarshukla commented on #1090
@ashwinkfmr We need to be able to repro the issue locally to give you a working solution. Will it be possible for you provide us a docker container with your sample code where we can repro the issue ?

[2021-05-28 18:26] zhouwangzw commented on #399
@humak  you can find detailed error messages from report.json file, which you can retrieve when using GET files. If the error message there is not clear enough, please post the transcription id, region and approximate time, and we will investigate further.

[2021-05-30 14:15] rseghier commented on #1051
Same here: Speaker diarization feature of Batch Transcription is not working
It only shows one speaker: "speaker: 1"
Not a single line is attributed to "speaker: 2"
I made sure my audio files are mono.
I tried with or without wordLevelTimestampsEnabled.

id '3ea88f70-aaaa-4bd9-99a9-93d23f17b462' in region eastus

[2021-05-30 20:35] zhouwangzw commented on #1051
@rseghier It seems your issue is different. You did get diarization result, but you think that the diarization result is not correct (only Speaker 1), so it is an accuracy issue. Would it be possible to share the audio? If you do not want to share audio here, you can open an Azure support ticket and we will investigate. Thanks!

[2021-05-31 02:37] rseghier commented on #1051
@zhouwangzw thanks, here is the audio file:
https://transcripttests.blob.core.windows.net/testfiles/pulpfiction.mp3

[2021-05-31 08:23] zhouwangzw commented on #1051
@rseghier  I can repro the issue on our side. I will ask our scientist team to take a closer look why only 1 speaker is recognized. Sorry for the inconvenience!

[2021-05-31 10:03] incomingflyingbrick opened #1112 "SPXERR_START_RECOGNIZING_INVALID_STATE_TRANSITION"
Hi , i am using android sdk to do speech to text.
There is bug like when using speech recogniztion.
I can't reproduce this, but I have the following error message/

SDK version is **Java,  1.16.0**

Canceled Event was called

RuntimeError
0x13 (SPXERR_START_RECOGNIZING_INVALID_STATE_TRANSITION)
[CALL STACK BEGIN]

  #0: 0x7a98d30b50  ???
  #1: 0x7a98d30434  ???
  #2: 0x7a98d3c20c  ???
  #3: 0x7a98

[2021-05-31 11:04] rseghier commented on #1051
@zhouwangzw sure! In the meanwhile is there any alternative solution to could allow me to test this diarization feature?

[2021-05-31 11:40] zhouwangzw commented on #1051
Diarization should work in general. The accuracy error is usually related to specific audios. If you failures or incorrect speakers recognized, please let us know, and we will investigate. Thanks!

[2021-05-31 13:20] rseghier commented on #1051
@zhouwangzw would you be able to provide me with a file for which diarization works so that I can test it  on my side?

[2021-05-31 13:35] zhouwangzw commented on #1051
We have some test audios we used for internal testing, but unfortunately we cannot share them externally due to potential copyright issues.

[2021-05-31 19:51] nachoalonsoportillo opened #1113 "/samples/csharp/dotnet-windows/console/samples/samples.csproj pointing to non-existing ..\..\..\sharedcontent\console\en-us_ja-jp.wav"
[PR 1092](https://github.com/Azure-Samples/cognitive-services-speech-sdk/pull/1092) broke build of **samples\csharp\dotnet-windows\console\samples\samples.csproj** because it has an incorrect reference to file https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/csharp/sharedcontent/console/en-us_zh-cn.wav as https://github.com/Azure-Samples/cognitive-services-speech-

[2021-06-01 00:56] cl-6666 commented on #1105
Hello, we tried according to the format you posted, and found that the number of IPs to be configured is too much. Is there a domain name format? In this case, we don't need to configure so many IPs.

[2021-06-01 07:16] amitguptampct12 commented on #1107
@dargilco While updating to version 1.17 project is not building.

[2021-06-01 09:05] Ablesius commented on #1110
Hi Darren,

here you go:
[speech-sdk-log.txt](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/6574965/speech-sdk-log.txt)

[2021-06-01 13:39] rseghier commented on #1051
@zhouwangzw your own sample file katiesteve.wav does not work either it seems https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/cpp/windows/console/samples

[2021-06-01 13:50] zhouwangzw commented on #1051
The file you referred to (Katiesteve.wav) is a 8-channel wav file, which is used as sample for Conversation Transcriber, so this cannot be used for batch transcription. Batch transcription only supports diarization for mono file.

 Input File     : 'samples\cpp\windows\console\samples\katiesteve.wav'
**Channels       : 8**
Sample Rate    : 16000
Precision      : 16-bit
Duration       : 00:00:19.18

[2021-06-01 15:55] jhakulin commented on #1107
@amitguptampct12 Please let us more information, what is the build issue you see with 1.17.0 ? Attach information/logs please.

[2021-06-01 15:56] jhakulin commented on #1112
@incomingflyingbrick 1.17.0 Speech SDK release contains fixes which impacts to this, could you please take that into use and let us know if you have any issues?

[2021-06-01 18:06] Bob-Thomas commented on #1110
Currently, undergoing the same issue.

I noticed this pattern "[507337]: 312ms SPX_TRACE_ERROR: AZ_LOG_ERROR:  tlsio_openssl.c:691 error:1416F086:SSL routines:tls_process_server_certificate:certificate verify failed"

My run situation is a bit special though since we are running with the golang SDK inside a docker from "SCRATCH" container

But def sounds like some certs are missing in my machine s

[2021-06-01 18:23] dargilco commented on #1105
Hi @cl-6666 yes, I see there are now 778 IP addresses listed under the CognitiveServicesManagement service tag. These are all the Microsoft AI services. Are you looking for only speech IP addresses and/or host names? I've contacted the Speech Service folks to get some guidance around this and will reply when I have more info.

[2021-06-01 18:52] dargilco commented on #1094
@johnpaulu I heard back from our Speech Service folks that there was a recent regression in speech recognition response time when your requests hits a new pod. If you transcribe long WAV file, there is a reconnection between the SpeechSDK client and the Service that happens every 10 minutes, and that may result in the request falling on a new pod of machines in the service. They are working hard t

[2021-06-01 21:09] #1100 closed

[2021-06-01 23:09] antonioalveslopes opened #1114 "Why it take so long between SESSION STARTED e SPEECH DETECTED events"
**Describe the bug**
I'm using the Java SDK for speech recognition, I noticed that when I send a audio stream, the session started events comes very fast, but the speech detected event delays almost 5s to start, even if my streaming has a recognizable voice. In the log it could verify that the first audio chunk is send at 2021-06-01T22:53:49.1855151Z, but the speech detected event only comes at 20

[2021-06-02 00:19] dargilco commented on #1110
@Bob-Thomas Regarding your issue, please open a new GitHub issue in the [Speech SDK GO repo](https://github.com/microsoft/cognitive-services-speech-sdk-go/issues) . We will try to help you there. Please provide full Speech SDK log. [This page](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-configure-openssl-linux?pivots=programming-language-more) may be relevant to

[2021-06-02 00:40] dargilco commented on #1110
@Ablesius thank you for the log. Please have a look at the ["Configure Open SSL for Linux"](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-configure-openssl-linux?pivots=programming-language-more) page and let me know if it helped.
Thanks,
Darren

[2021-06-02 06:34] Bob-Thomas commented on #1110
Thanks for the information, but I discovered soon after that the docker container from "SCRATCH" did not contain the openssl/ssl libraries.

After copying them over from my build stage it works like a charm

[2021-06-02 07:14] Ananya-96 opened #1116 "Custom Speech Endpoint for JS"
**Describe the bug**
Passing the endpointId, WebSocket connection to STT fails. If endpointId is not passed, the SDK works fine.

**To Reproduce**
Steps to reproduce the behavior:

	async sttFromMic() {
		  const tokenObj = await this.getTokenOrRefresh();
		  const speechConfig: SpeechConfig =
			speechsdk.SpeechConfig.fromAuthorizationToken(
			  tokenObj.authToken,
			  tokenObj.region
			);

[2021-06-02 08:21] aalonso-solusoft opened #1117 "InitialSilenceTimeoutMs ignored with DialogServiceConnector"
**Describe the bug**
InitialSilenceTimeoutMs is ignored when I use DialogServiceConnector. I always have a timeout of 5 seconds before the Speech Service stops recognizing speech even if I try to change this timeout using the setProperty method.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Version of the Cognitive Services Speech SDK**
Java SDK version - 1.17.0

**Platform, Operat

[2021-06-02 08:52] BrianMouncer commented on #1117
What specifically are you trying to change?
We have several silence timeouts, and I want to make sure you are using the correct one.

e.g we also have end silence timeouts and the Conversation_Initial_Silence_Timeout and SpeechServiceConnection_EndSilenceTimeoutMs.

Thanks.

[2021-06-02 10:21] ghpfxf opened #1118 "The online service failed to process the emoji expression"
**Additional context**
 ssml data

<speak version="1.0" xmlns="http://www.w3.org/2001/10/synthesis"
       xmlns:mstts="https://www.w3.org/2001/mstts" xml:lang="zh-CN">
    <voice name="zh-CN-XiaoxiaoNeural">
        <mstts:express-as style="assistant" styledegree="2">
            🤪🤩🤩你来电话了，要接听还是拒绝？
        </mstts:express-as>
    </voice>
</speak>

[2021-06-02 12:40] ajay960singh opened #1119 "Real-time Speaker Diarization and Transcription"
Hey guys,

We are building a real-time async pipeline for streaming audio from virtual web conferencing tools.

We are able to do Transcription using 'continuous recognition' but we also want to do Speaker Diarization (SD) to identify who's speaking at what time. We were not able to find documentation for SD. Is it possible share some resource (API, Python SDK, Tutorial) regrading the same?

Thank

[2021-06-02 12:44] aalonso-solusoft commented on #1117
I want to edit two timeouts. First, I want to give my user more than 5 seconds to say something before the bot assumes that it was an empty speech. I also want to give my users the oportunity to pause one or two seconds in the middle of a speech. For example "I have 5 liters of gasoil type a (pause of one or two seconds) and 10 liters of gasoil type b".

Quoting rhurey from issue #502:

"Initial S

[2021-06-03 09:59] jahnviss opened #1120 "Speech recognition not working with restart of continuousRecognitionAsync"
We are using Twilio JS SDK for audio video call web application.
For Speech to text we used Azure speech recognition service having latest version from https://csspeechstorage.blob.core.windows.net/drop/1.17.0/RawJavaScriptSDK/microsoft.cognitiveservices.speech.sdk.bundle.js

In our application we have more than one users connected so multiple media streams are there.
To get the speech to text res

[2021-06-03 13:33] amitguptampct12 commented on #1107
@jhakulin I updated to 1.17 and build.

Following same steps of crash reproduction. Now got different crash logs given below-

libc++abi.dylib: terminating with uncaught exception of type std::runtime_error: Exception with an error code: 0x21 (SPXERR_INVALID_HANDLE)
[CALL STACK BEGIN]
3   MicrosoftCognitiveServicesSpeech    0x000000010799e170 push_audio_input_stream_set_property_by_name + 10784
4

[2021-06-03 13:37] amitguptampct12 commented on #1107
@jhakulin Also for enable logging i created a file in document dir.
speechConfig?.setPropertyTo("SpeechLogs", by: SPXPropertyId(rawValue: 3202)!)
above used 'speechConfig' is type of SPXSpeechConfiguration. But no logs are written in file.

is there any thing i am missing. Latest crash logs is meaningful?

[2021-06-03 15:16] jhakulin commented on #1107
@amitguptampct12 Did you enable logs as instructed here https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-use-logging for iOS ?

In Objective-C:
[code]

Seems our documentation do not have specific instructions for Swift, see below:
[code]

[2021-06-03 20:07] dargilco commented on #1090
Hi @ashwinkfmr, I'm Darren from the Microsoft Speech SDK team. You mentioned "via a private endpoint". Have you followed all the instructions in the page [Use Speech service through a private endpoint](https://docs.microsoft.com/azure/cognitive-services/speech-service/speech-services-private-link)? You should be using a URL endpoint in the form:
```wss://my-private-link-speech.cognitiveservices.az

[2021-06-04 03:45] ashwinkfmr commented on #1090
Yes. Confirming that I am using the same endpoint.

[2021-06-04 15:46] #1110 closed

[2021-06-04 15:52] dargilco commented on #1090
Thank you for confirming! I now have direct contact with you. Let's continue discussing this off-line. I will close this GitHub issue for now.

[2021-06-04 15:52] #1090 closed

[2021-06-04 19:53] BrianMouncer commented on #1118
@ghpfxf

Thank you for reporting this.  I've asked on of our TTS team members to look into this.
reviewing the documentation of the express-as SSML extention, I see that the "assistant" speaking style is only supported with specific neural voices.

Can you provide some more information about what voice you are trying to speak this SSML with, and if you are speaking an entire SSML document, or just

[2021-06-04 22:06] BrianMouncer commented on #1114
Good after noon and thank you for reaching out to us,

Can you give me a little more detail about what you are seeing.
A code sample would be great, but if not what I an interested in is which event are you listening to that is taking this long.

e.g. if you are listening to ResultReason.RecognizedSpeech then that would sound about right, as this even will not fire until you stop speaking or the s

[2021-06-05 00:14] BrianMouncer commented on #1119
It sounds like you are asking about our "conversational transcription" project?
If so, here is an overview that also has a few links to more details.
This feature is currently in preview so we can get some feed back on design and usage.
Please let us know what you think.

https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/conversation-transcription

If you are asking about th

[2021-06-05 00:58] BrianMouncer commented on #1120
I'm not sure, but from what you describe, but since you descript the events firing twice and or for the wrong user stream, the first thing I would look at is if the event handlers are getting torn down and reconnected as you expect them to be when you lose and regain audio...

Next would see if the "partiId" and "localPartiIdentity" are correct during both connect  and reconnect scenarios.
Because

[2021-06-05 07:20] ajay960singh commented on #1119
Hey Brian,

A few questions abt 'conversational transcription'-

1. We want to analyse virtual calls on Zoom etc. (16k Hz) but it seems like it's build for physical meetings. Is that right?
2. Also from Documentation, it seems like conversational transcription SDK is in JS and C#. So can you pls refer us to the Python SDK or REST API  for using and testing this?
3. You mentioned you have stand alo

[2021-06-05 18:45] antonioalveslopes commented on #1114
Hi, I'm using that code bellow. The event that take too long to start is `speechStartDetected`. The event `sessionStarted` comes fast, but even with an audio with enough voice, the  `speechStartDetected` takes too long to start.

[code]

[2021-06-06 10:56] amitguptampct12 commented on #1107
@jhakulin Thanks for suggestion. Attaching log file.
[logfile.txt](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/6604063/logfile.txt)

[2021-06-07 02:48] yulin-li commented on #1118
Hi @ghpfxf , I checked the SSML with emoji and this issue only reproes on Java SDK.

We will fix this issue in next SDK update 1.18.

As a workaround before next release, you can filter out all surrogate characters (most of them are un-readable)

Refer this https://stackoverflow.com/questions/12867000/how-to-remove-surrogate-characters-in-java

[2021-06-07 07:05] jahnviss commented on #1120
[logs for speech recognition.txt](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/6606466/logs.for.speech.recognition.txt)

Please check attached logs.

First of all, I am not reconnecting Twilio participant, I am just disabling/enabling audio track. so remote user's audio track exist on my local machine, and those are attached. ..so I did not understood your point of _" first

[2021-06-07 09:06] Ablesius commented on #1110
@dargilco yes, it works, thank you! Funny, because I tried that before and then it didn't work. Must have been a glitch :) Cheers!

[2021-06-07 16:02] dargilco commented on #1110
@Ablesius, glad to hear that!

[2021-06-07 18:16] HeidiHanZhang commented on #1119
Some answers FYI:
1. Conversation transcription is designed for in-room meetings which need to diarize different participates' words thru one microphone device. For online meeting like Zoom, since each participate is in different separate channel, you may have easier and cheaper ways to separate them in client side.
2. current conversation transcription SDK does not support Python. It is in our ba

[2021-06-07 22:36] brandom-msft commented on #1107
Thanks for the log, @amitguptampct12. I'll work with the team on getting a look at what's happening.

[2021-06-08 13:33] jahnviss commented on #1120
Further I tried with work around , that instead of only using stopContinuousRecognitionAsync() and startContinuousRecognitionAsync(), I disposed and unset
speechSDK, speechConfig objects, i assigned undefined into those objects. but still when next time I start live caption feature with fresh initialization like,

if (!!window.SpeechSDK) {
    SpeechSDK = window.SpeechSDK;
}
speechConfig = SpeechS

[2021-06-08 13:40] Ananya-96 commented on #1116
@BrianMouncer  Is there any update on this issue?

[2021-06-09 00:44] dargilco commented on #1105
@cl-6666 Sorry for the late reply. Unfortunately CognitiveServicesManagement service tag is all we have now for you to use. We do not yet have a service tag specific to Speech Services (or Speech Services per Azure Region).  I believe what you can do to narrow the list is download the IP addresses in the CognitiveServicesManagement service tag, and then trim it down based on the Azure regions you

[2021-06-09 08:19] huijuanl opened #1121 "Word Granularity doesn't take effect in PronunciationAssessmentResult when using Java SDK and IOS SDK"
**Describe the bug**
Word Granularity doesn't take effect in PronunciationAssessmentResult when using Java SDK and IOS SDK

**To Reproduce**
Steps to reproduce the behavior:
1.Java SDK
We have no ios environment but reproduce the issue using java sdk.  We checked com.microsoft.cognitiveservices.speech.PronunciationAssessmentResult and find it has no propertiy related to "word":

Code to reproduce

[2021-06-09 11:57] markok20 opened #1122 "Speech recognition continues despite of music at the beginning"
Hi

I have a jupyter notebook code ready to convert audio to text and I have tried it and it works fine with wav-files in English and Finnish.

But when I have audio files with waiting music at the beginning for about 3-4 seconds, it gives me this:
No speech could be recognized: NoMatchDetails(reason=NoMatchReason.InitialSilenceTimeout)

So I think the reason why the code does not work is the musi

[2021-06-09 16:15] #1118 closed

[2021-06-10 08:05] lingllting opened #1123 "Unity editor gets frozen after calling the speech service and relaunching it."
**Describe the bug**
I updated the latest unity plugin and found the unity editor got frozen quite often. After investigation, I found unity got frozen when calling the speech SDK for the first time and relaunching the editor, it could be 100% reproduced on Windows.
For macOS, I also encountered this issue, but it did also happen during the compile process when I change some code and unity starts

[2021-06-10 09:01] adriensas commented on #1116
I have the exact same issue,
I'm almost certain it is a bug as I've used the same functions in python and got the expected result :
https://github.com/Azure-Samples/AzureSpeechReactSample/issues/2 (Sorry I've missplaced the issue).

[2021-06-10 09:20] jahnviss commented on #1120
[liveCaption.js.txt](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/6629970/liveCaption.js.txt)

I have used  speechConfig object as,
speechConfigRemote = SpeechSDKRemote.SpeechTranslationConfig.fromSubscription(subscriptionKey, serviceRegion);
and now recognizer is used as,
audioConfig  = SpeechSDKRemote.AudioConfig.fromStreamInput(remoteAudioStream);
_this.remoteRecognizer[

[2021-06-10 10:02] alondorn commented on #1123
Hi,
I'm experiencing the same issue.
I found out that if I'm saving the scene\project, quitting Unity, and running the project again, it doesn't happen again for this project.

[2021-06-10 10:37] lingllting commented on #1123
It's happening everytime to me, I ended up force quitting the unity editor often.

[2021-06-10 10:49] alondorn opened #1124 "Long response time when using Speech To Text with Phrase List Grammar in Unity."
**Describe the bug:**
We're using the Speech SDK for Unity for Speech-To-Text purposes.
As we need to recognize custom phrases, we're using the PhraseListGrammar feature but we're experiencing a much longer response time when using the Phrase List feature than without it.
Without PhraseList, the recognition time is about 2 seconds while with PhraseList, it's about 4.5 seconds.
We tried both the Re

[2021-06-10 11:01] manju605 opened #1125 "Voice is not Recognized on medium or lower frequency."
**I have implemented Speaker Independent-Identification but every 10/6 times only voice is recognized.**

I have recorded speech in WAV format & Enrolled a user, & Identification audio i am getting from URL & converting to Buffer & enrolling for identification, this works but if audio volume is bit low(moderate) or low, its not identifying the voice.

this happens both in profile enrolment audio(u

[2021-06-10 11:12] manju605 opened #1126 "Unable to access variables inside callback of SpeakerIdentification & SpeakerVerification"
I have implemented  Speaker Independent-Identification feature in node js, below is the code snippet of it. but we get identification response as a callback function, in that callback function i am unable to access variable outside of that call-back(result) function.

What is solution?

await client.createProfileAsync(
    sdk.VoiceProfileType.TextIndependentIdentification,
    locale,
    async (

[2021-06-10 15:16] glharper commented on #1120
@jahnviss I've updated some of your code, but am not sure if that will address your issue. Please let me see the console output when you try to reproduce with the code I've added.
[liveCaption_updated.js.txt](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/6632562/liveCaption_updated.js.txt)

[2021-06-10 15:53] jhakulin commented on #1123
@lingllting Was this with Unity Editor? The problem could happen if all Speech SDK objects are not disposed when you stop the Editor. Do you see the problem if you use some of our Unity samples? For example: https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/csharp/unity/from-microphone

[2021-06-10 16:16] glharper commented on #1126
@manju605 In the code you've listed, "var profile" is declared in the scope of the callback. What happens with the example below?

Also, is this for westus region? Currently Speaker Identification and Verificaition features are in preview, and only available for westus, as documented [here](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speaker-recognition-overview#common

[2021-06-10 16:20] glharper commented on #1125
@manju605 Could you upload an example of a WAV that works, and one that doesn't? This may be a service issue.

[2021-06-11 03:30] lingllting commented on #1123
Thanks for the great information! I found I didn't dispose the speech recognize the same as what it is done in the example. After I dispose the recognize manually, the problem doesn't seem to occur again.

[2021-06-11 04:02] noahsw opened #1127 "Invalid references to `reco` in JavaScript sample"
Shouldn't the three `reco` references in `applyCommonConfigurationTo` be `recognizer` instead? This just seems like a typo.

https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/c2e33ec4dcc3b02796e3b0485ad68a95e8f69a90/samples/js/browser/index.html#L743

[2021-06-11 04:26] jhakulin commented on #1123
Thanks for letting us know, closing the case.

[2021-06-11 04:26] #1123 closed

[2021-06-11 06:34] manju605 commented on #1125
https://drive.google.com/file/d/12Wpy3fU6HWmtK_jFYatSDNajOovYfOsD/view?usp=sharing
https://drive.google.com/file/d/1IE58rUTaW7S2OzM0RPjBFHxeHhuue3Wj/view?usp=sharing

These are two recording which failed.

[2021-06-11 09:31] markok20 commented on #1122
Many thanks!

[2021-06-11 16:09] jhakulin commented on #1122
Closing the issue, let us know if there is any other issues.

[2021-06-11 16:09] #1122 closed

[2021-06-11 18:14] glharper commented on #1125
@manju605 Thank you for the wav files. I actually don't know why they wouldn't be identified...I'm consistently getting a positive identification with a score of 0.74 using the attached code. Could you try this code on your side and let me know if you still get inconsistent results?

[independent-identification.js.1125.txt](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/66403

[2021-06-11 18:40] #1127 closed

[2021-06-11 20:00] noahsw opened #1130 "JavaScript sample passes string array to AddPhrase when SDK doc says it only takes string"
https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/c09ba521937e4dcc042a181d6595e39dd458753e/samples/js/browser/index.html#L744

According to https://docs.microsoft.com/en-us/dotnet/api/microsoft.cognitiveservices.speech.phraselistgrammar.addphrase?view=azure-dotnet, `addPhrase` only accepts a string. Therefore, shouldn't the sample script call `addPhrase` for each array element in

[2021-06-11 22:56] brandom-msft commented on #1124
Hi @alondorn, thanks for your inquiry. Your suspicions are correct in that this increase in latency is not expected - what you're seeing is a known issue and is in active investigation by the service team. We'll look to provide updates as they become available.

[2021-06-14 04:26] jahnviss commented on #1120
I have used your code, changes of variable declaration, callback functions and logs. I have commented xxxRecognizer.close() line inside stopContinuous call back function as it was throwing error,

13:17:09.241 liveCaption.js?b3.2:396 stopContinuous error for localRecognizer: TypeError: Cannot read property 'close' of undefined
(anonymous) @ liveCaption.js?b3.2:396
(anonymous) @ speech.js?b3.2:1922

[2021-06-14 11:41] manju605 opened #1131 "Error on deploying to AppService"
**I Have implemented Azure Speaker Recognition which works in local but gives error on deploying to azure**

I get below error when i deploy to my app service & it work fine in my local PC &  when i uninstall this package  'microsoft-cognitiveservices-speech-sdk',

![image](https://user-images.githubusercontent.com/60870713/121886859-99113500-cd33-11eb-91ce-a69c6ed8262c.png)

[2021-06-14 15:54] yveskaufmann opened #1132 "Some Digits were not recognized by a speech recognizer"
**Describe the bug**

Our use case is that we want to enable our users to tell us there identification number,
which is numeric with a specific length.  We are concatenating successful speech recognition
results until we have collected enough digits, so that they match the required digit count of our ids.
Note that we are using the recognizer in a phone-bot, but for sack of simplictily we are igno

[2021-06-14 16:32] glharper commented on #1120
@jahnviss Remove all your delete calls, such as `delete _this.remoteRecognizer[partiId];`.
What's happening is stopContinuousRecognitionAsync asynchronously tears down existing connections and tells the backend that the recognition session is ending. But because the deletes (lines 352 or 372) happen synchronously immediately after the stopContinuousRecognitionAsync(), the object is deleted before

[2021-06-14 17:15] glharper commented on #1130
@noahsw That link is to the C# documentation. The JS documentation can be found [here](https://docs.microsoft.com/en-us/javascript/api/microsoft-cognitiveservices-speech-sdk/phraselistgrammar?view=azure-node-latest).

Thanks for using Speech SDK!

[2021-06-14 18:00] #1130 closed

[2021-06-14 20:38] trrwilson commented on #1132
Thank you for reporting this issue! Your code looks very reasonable. From the behavior you're seeing with the digit missing, it seems like the end silence timeout is segmenting the digit sections with timing that degrades accuracy (e.g. *immediately* before the new section) -- that, or some of the audio is being dropped on a subsequent recognition.

A couple of followup questions:

- Does this rep

[2021-06-14 20:50] trrwilson commented on #1131
Hello!

The JS Speech SDK takes a dependency on `username-sync` but does not invoke this call stack directly. From a quick search, it appears this is typically related to an expected system path (such as `/etc/passwd`) not being accessible and is often resolved by fixing a file permissions issue or ensuring a location is appropriately mounted (if an image is involved). One of the responses here (n

[2021-06-15 11:28] incomingflyingbrick opened #1134 "SR and TTS connection bug"
platform android
java sdk versin 1.1.7
during 8 hours of none stop SR and TTS test
I found there is a high chance of getting connection error, like can't connect to server.

for TTS the error msg is like this:
**Error:Connection failed (no connection to the remote host). Internal error: 1. Error details: Code: 7. USP state: 2. Received audio size: 0 bytes. ErrorCode:ConnectionFailure**

for SR the

[2021-06-15 11:49] jahnviss commented on #1120
I have removed delete line and also put undefined line with timeout.
I checked that .close() runs first and then after a second it is changed to undefined like below,

_this.localRecognizer.stopContinuousRecognitionAsync(
                  function () {
                     console.error(`stopContinuous callback for localRecognizer`);
                      _this.localRecognizer.close();

[2021-06-15 12:04] yveskaufmann commented on #1132
Thank you for responding so fast!

I have experimented a bit with  _SpeechServiceConnection_EndSilenceTimeoutMs_ when set to ~0-5 the issue isn't anymore reproducible with our pre-recorded wave file, but not sure yet if this would fix the issue for other cases as well.

I experiment also with _SpeechServiceConnection_InitialSilenceTimeoutMs_ and notice no impacts on the digit recognition
It behave

[2021-06-15 14:45] manju605 commented on #1131
Hi,

on turning on npm_config_loglevel=verbose its not showing any further details still same.

![image](https://user-images.githubusercontent.com/60870713/122073935-6f7d0a00-ce16-11eb-84e7-de774d20eb28.png)

[2021-06-15 20:53] glharper commented on #1120
@jahnviss Conversation Transcription may indeed be a better fit for what you're attempting here, with the a server host (not sure if this would be Local in your case?) setting up the conversation itself, then joining, and then all client participants joining the conversation that the remote host has set up. There's a guide to setting this up in JS [here](https://docs.microsoft.com/en-us/azure/cogn

[2021-06-16 06:21] yulin-li commented on #1121
For Java and Objc, we do not parse the word level pronunciation result. You can get them from the json in recognition result.

e.g.
[code]

[2021-06-16 07:00] jahnviss commented on #1120
Thanks for your suggestion of Conversion Transcription. I will try that.

I have already tried with not using stop/start continuousRecognitionAsync when mic is turned mute/unmute. But in our application when call gets connected, there will be a button called Live Caption so clicking on it this feature will be turned on.
So now again user clicks on it, this feature will be turned OFF. so if not on

[2021-06-16 10:38] yanhuibin315 opened #1136 "Quickstart js speaker-recognition Unexpected token R in JSON at position 0"
**Describe the bug**
When I run ```node dependent-verification.js```, I got this ERROR: SyntaxError: Unexpected token R in JSON at position 0.

**To Reproduce**
Steps to reproduce the behavior:
1. clone the main code
2. cd quickstart/javascript/node/speaker-recognition/verification/
3. npm install
4. node dependent-verification.js

**Expected behavior**
Maybe I expected it will verification wav fi

[2021-06-16 15:48] glharper commented on #1136
@yanhuibin315 Thanks for using Speech SDK. Did you remember to add a subscription key and region to dependent-verification.js?

[2021-06-17 02:08] yanhuibin315 commented on #1136
yeah~ And I got speechConfig Succeed. I guess it's wrong when I use
[code]
And "I got result" not output on powershell.

[2021-06-17 03:47] huy-ffd opened #1137 "AudioConfig.FromMicrophoneInput on Unity Android cannot use Bluetooth Microphone"
### **Describe the bug**
I want to use the **from-microphone** example with a **Bluetooth microphone** for Unity Android ARM64, and I do not want to use the _Built-in Microphone_.

**To Reproduce**
I tried using a **custom AudioConfig** in order to use my **Bluetooth Microphone**.

**HelloWorld.cs** from the **from-microphone** example was the script that I tried to add to. Speech To Text. Unity.

[2021-06-17 04:23] jhakulin commented on #1137
@huy-ffd Thanks for the report. Currently Speech SDK audio device selection using microphone device name is not supported for Bluetooth mics on Android. Does Unity Microphone provide the access to Bluetooth mic devices on Android (https://docs.unity3d.com/ScriptReference/Microphone-devices.html) ? If yes, then you can use following sample
to stream audio to Speech SDK from Unity microphone.
https:

[2021-06-17 04:25] glharper commented on #1136
@yanhuibin315 That first parameter should be sdk.VoiceProfileType.TextDependentVerification in dependent-verification.js. Using a VoiceProfileType.TextIndependentIdentification voice profile in verification scenarios will not work. Are there modifications you made to dependent-verification.js, besides adding the subscription key and region? [This line](https://github.com/Azure-Samples/cognitive-se

[2021-06-17 14:22] MBelkhechine opened #1138 "SPXERR_GSTREAMER_NOT_FOUND_ERROR, Python under Windows 10"
**Describe the bug**
Hi,

I am unable to use codec compressed audio input with Python. I followed the instructions described under [this documentation](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-use-codec-compressed-audio-input-streams?tabs=debian&pivots=programming-language-python) to configure GStreamer 1.18.3. I have verified the installation by running the

[2021-06-17 18:49] huy-ffd commented on #1137
Thank you @jhakulin! It was delightful to see your helpful answer earlier in the morning for me.

Unity Microphone does allow access to Bluetooth Microphone (name and device) on Android, but for my current Android board, and experimenting with the Unity Microphone alone, my board does not place nicely with Unity Microphone in recording tests, and in the example above.

I'll try with my Samsung S21

[2021-06-17 19:56] huy-ffd commented on #1137
I have tested a Samsung S21 with the https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/unity/from-unitymicrophone

And a Bluetooth Microphone. When explicitly selecting the Bluetooth Microphone, I can confirm that this does work on the Samsung S21 with the above example.

My custom Android board does not work with the Unity Microphone recording, but that's my probl

[2021-06-17 19:56] #1137 closed

[2021-06-18 01:58] yanhuibin315 commented on #1136
Thanks for your reply @glharper . And I got my fault!! I use the wrong region. ```westuse``` is OK, but I used ```https://westus.api.cognitive.microsoft.com```. 🙏.

[2021-06-18 04:47] manju605 opened #1139 "Do we have container image for Speaker Recognition Service"
I have developed Speaker Recognition service in my node application, now i need to deploy that to AzureApp Service,
but due to this issue [uv_os_getpassword](https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1131), i am unable to the direct deployment to AppService, so for Containerising I dont see any Image mentioned in docs [here](https://docs.microsoft.com/en-us/azure/cognit

[2021-06-18 06:36] yanhuibin315 opened #1140 "Whitch sample or quickstart can I test Speaker Separation?"
When I learn speech service, I found **speaker separation** in doc https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/batch-transcription . But I don't know how can I use that. Can somebody give me some suggestions about more speaker separation detail or a sample to run it ? Thank you.

[2021-06-18 06:54] yanhuibin315 commented on #1140
And I tried send a request to "westus.api.cognitive.microsoft.com" and I got this response
[code]

Here is my request
[code]

[2021-06-18 06:55] #1126 closed

[2021-06-18 08:07] duydtdev opened #1141 "Got the errror when build on AppStore"
I got the below errors. I'm using version 1.17.0.

Dear Developer,

We identified one or more issues with a recent delivery for your app.  Please correct the following issues, then upload again.

ITMS-90562: Invalid Bundle - One or more dynamic libraries that are referenced by your app are not present in the dylib search path.

ITMS-90562: Invalid Bundle - There's an issue with the app's bitcode c

[2021-06-18 15:16] vinay047 opened #1143 "Getting "Undefined" text when Using the Azurer Cognitive Speech to Text Service"
Hi All,

I am trying the integrate the Speech to Text azure service in my node js code. While testing I am getting the following error,

**RECOGNIZED: Text=undefined**

please find below the code snippet, which will give you clear idea on how we are using the azure speech to text service. Search couple of blogs but couldn't able to find out the solution. if you guys point out in the right directio

[2021-06-18 16:37] do-web opened #1144 "PHP SDK"
Why there is no PHP SDK? PHP is the most used language on the web and there is no PHP SDK version.

[2021-06-18 16:52] antistic opened #1145 "TTS python quickstart does not work"
**Describe the bug**

I get the error message

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Download the python quickstart from here: https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/quickstart/python/text-to-speech/quickstart.py
2. Replace the `speech_key` and `service_region` (westeurope) with the the information found on the keys and endpoint page for m

[2021-06-18 17:26] kleindev opened #1146 "Batch: Punctuation - Automatic and Dictated vs Dictated Only - capitalization still applied?"
We've been trying to track down what appears to be random capitalization - but I think we've narrowed it down to punctuation modes.  If we do Dicated only it appears to leave capitalization where Automatic and Dictated would insert a period

Is it possible to control capitalization when _not_ using Automatic punctuation ?

I have yet to try no punctuation - I still want the benefit of transcribing

[2021-06-18 20:49] zhouwangzw commented on #1146
If I understand correctly, you are using batch transcription, right? In batch transcription, the punctuationMode property is used to configure different punctuation options, and you can find different forms of recognized phrases in the result file, like Display, Lexical, ITN, masked ITN, and etc. Please find [the link](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/batch-

[2021-06-18 21:41] kleindev commented on #1146
We are using the Display format.  The feedback we are getting from the editors is that basic words appear to be capitalized mid-sentence.  It is not apparent on why the word was capitalized - perhaps there was a pause in the audio or something random?  It would be nice to have an option to transcribe Dictated punctuation and reduce what looks to be over eager capitalization.

We may look into maki

[2021-06-19 07:12] zhouwangzw commented on #1146
Would it be possible to share the transcription results, probably also the expected ones, so that we can ask the science team to look into that? You can create a Azure support ticket if you want to send the data privately to us.

Thanks!