[2021-11-18 06:07] mrscarvalho opened #1318 "ModuleNotFoundError: No module named '_speech_py_impl' (again)"
Hi,

I'm testing Azure Cognitive Services Speech-to-text with Python following the "Get started" [HERE](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/get-started-speech-to-text?tabs=windowsinstall&pivots=programming-language-python).

The error happens at first line when trying to import the library: import azure.cognitiveservices.speech as speechsdk

I already installed

[2021-11-18 07:38] Bob-Pengcheng opened #1319 "JAVA SDK 1.18/1.19 issue: stopContinuousRecognitionAsync().get() costs 10 seconds"
Hello, we call "stopContinuousRecognitionAsync().get()" in session stopped listener.

For sdk 1.16, it works fine.

After we upgrade the sdk version to 1.19, "stopContinuousRecognitionAsync().get()"  always costs 10 seconds.

Now, we have to call "stopContinuousRecognitionAsync().get()" asynchronously to avoid the issue.

However, I still wonder what's the change in 1.19 causes this issue.

[code]

[2021-11-18 09:54] FanChen2016 opened #1320 "SDK 1.19 'MicrosoftCognitiveServicesSpeech/SPXSpeechApi.h' file not found build on build on Any iOS Device(arm 64)"
build on Any iOS Device(arm 64),
Showing All Messages
xxx/one-app/NativePluginProjects/iOS/NativeAudioPlugin/AudioPlugin/AudioPlugin/AudioRecorder.h:7:9: 'MicrosoftCognitiveServicesSpeech/SPXSpeechApi.h' file not found
build on simulator is OK

[2021-11-18 17:04] jhakulin commented on #1320
@FanChen2016 Thanks for the report, we will investigate. In 1.19.0 we have changed to xcframework. Are you using existing project with Speech SDK and when you moved to the latest Speech SDK, you are seeing this error ?

[2021-11-18 17:14] jhakulin commented on #1318
@mrscarvalho Speech SDK supports Windows10 or later OS versions. The problem might be due to Windows 7 version you are using. Do you have possibility to upgrade the OS ?

[2021-11-18 19:52] jhakulin commented on #1299
@harounshehata Audio samples (in audioSamples.zip) are 8kHz and in 14bit precision. LID service expects 16bit precision. After converting the files (using sox) to 16bit precision, LID produces correct results.
Related to your question if you have more than 4 languages, please see the documentation below, recommendation is to use continuous recognition in that case.
https://docs.microsoft.com/en-us

[2021-11-18 22:07] mrscarvalho commented on #1318
Hi @jhakulin, thank you for the reply!

I just tested on Windows 10 and it worked (although a very different environment than my developing machine). :-)

But it limits a bit. Although officially ended support by Microsoft Win 7 is still used around, especially in companies that have a longer time life for software. I'm also testing the ComputerVision SDK and it works well on Win 7.

I also tested

[2021-11-18 22:17] trydis opened #1321 "C# - Dispose duration"
`StopContinuousRecognitionAsync` takes around 10 seconds to complete (timeout AFAIK).

Is it then the expected behavior that disposing the recognizer takes around 10 seconds as well?

This line:
`this.recoHandle?.Dispose()`

Version of the Cognitive Services Speech SDK
1.19.0

OS: macOS/Linux
Hardware: x64
Programming language: C#

[2021-11-19 02:33] jhakulin commented on #1148
Closing as not reproduced, we can reopen if there is more information provided later

[2021-11-19 02:33] #1148 closed

[2021-11-19 02:52] FanChen2016 commented on #1320
Yes,  seeing this error when moved to the latest Speech SDK.

[2021-11-19 07:16] tscrtxdy opened #1322 "Java SDK 1.18.0 print error on centos7,but is ok on windows10"
Here is the log on centos7:

[741506]: 11ms SPX_DBG_TRACE_VERBOSE:  resource_manager.cpp:92 Created 'CSpxThreadService' as '303073113'
[741506]: 12ms SPX_DBG_TRACE_VERBOSE:  codec_adapter.cpp:28 CSpxCodecAdapter
[741506]: 12ms SPX_DBG_TRACE_VERBOSE:  resource_manager.cpp:92 Created 'CSpxCodecAdapter' as '199052375'
[741506]: 12ms SPX_DBG_TRACE_SCOPE_ENTER:  codec_adapter.cpp:43 Open
[741506]: 18ms

[2021-11-19 09:11] Bob-Pengcheng commented on #1319
Add some black-box test.

In 1.19, It seems  stopContinuousRecognitionAsync().get() is waiting eventListener to be finished.
`Session stopped event in.
Begin Time is Fri Nov 19 17:03:13 CST 2021
Session stopped event out.
time cost= 9998
End Time is Fri Nov 19 17:03:23 CST 2021
`

In 1.16. stopContinuousRecognitionAsync().get() finishes without waiting.
`Session stopped event in.
Begin Time is Fri

[2021-11-19 12:45] rayyan808 opened #1323 "Synthesizer Segmentation Error when Screen Off [ANDROID]"
**Describe the bug**

I'm making an Android Application, everything works fine until I tried to make the application available with the screen off. I acquire a `PARTIAL_WAKE_LOCK` aswell as a `WIFI_MODE_FULL_HIGH_PERF`. It seems that there is a SafeHandle being used that asserts the equality of two vars, which fails and causes an exception to be thrown. Taken from Azure:-

` public SpeechSynthesis

[2021-11-19 16:51] #1307 closed

[2021-11-19 17:54] glharper commented on #1319
@Bob-Pengcheng
There's a known usability challenge with synchronizing these stopContinuousRecognitionAsync() calls with stopping audio flow. We plan to improve this in an upcoming release, but we can share some information about the behavior and workarounds:

The problem: internally, the SpeechRecognizer processes input audio in chunks of 100ms (3200B for default 16khz16bit mono PCM). When stopCon

[2021-11-19 18:10] glharper commented on #1321
@trydis Thanks for using Speech SDK, and writing this issue up. This may be related to #1319...could you share some sample code to reproduce this?

[2021-11-19 21:20] glharper commented on #1322
@tscrtxdy Could you include sample code for reproducing this? Does this happen on CentOS 8 as well?

@rhurey This appears to be an issue opening the CRL on CentOS 7.

[2021-11-19 22:04] jhakulin commented on #1323
@yulin-li Could you please take a look as synthesizer related

[2021-11-19 23:12] MooonSwitch commented on #1316
Okay awesome, thank you! Next question, which is probably stated in the link you sent but I want to make sure, is this version of SDK on Ubuntu 20.04 only usable with C++, Java, and .NET Core? My original program was in Python so it would save some time if it's available in Python. I'm asking because I tried using "pip install azure-cognitiveservices-speech" and it didn't work immediately.

[2021-11-19 23:33] robch commented on #1298
@trydis: I've confirmed that our possible reason is likely the culprit. Under some circumstances, we had a thread that wasn't using appropriate synchronization mechanisms, and was effectively "spinning" while we were waiting for audio data to be decompressed via gstreamer. I verified that running 8 instances of mp3 decoding would peg my development machine to 100% CPU usage, whereas, after the fix

[2021-11-20 00:18] jhakulin commented on #1323
@rayyan808 Thanks for the report. The problem could be related to power management of the system shutting down speaker paths which would cause the failure to happen. SafeHandle contains handle to the native resources, which probably are not valid anymore after screen is shut down. Debug mode probably do not allow full sleep of the system and thus it works.
Could you please provide Speech SDK log b

[2021-11-20 00:24] jhakulin commented on #1322
@tscrtxdy You seem to have Speech SDK version 1.18.0. Could you please update to 1.19.0 version ?
In 1.19.0 version, SpeechSDK will use OpenSSL directly from inbox of your Linux system and not statically linking it to SDK anymore. We would like know if you are seeing the same issue with that version as well.

[2021-11-20 00:36] jhakulin commented on #1318
@mrscarvalho On Windows Server 2016, have you also installed  Microsoft Visual C++ Redistributable package ?
How about do you have several Python versions installed on the system ? Sometimes several Python versions have conflicted and caused failures like this. Please check the older closed items in this samples repo by searching closed items with ModuleNotFoundError, you will find issues like thi

[2021-11-20 00:42] jhakulin commented on #1299
Closing this issue as answered and solution given. @harounshehata Thanks a lot for the details, we will improve our documentation and LID service side to allow multiple formats.

[2021-11-20 00:42] #1299 closed

[2021-11-20 23:55] trydis commented on #1298
Thanks @robch 👍

[2021-11-21 19:37] harounshehata commented on #1299
You have stated earlier that the continuous recognition seems to have and issue, so I guess our choice is to wait till it's fixed right.
Anyways, thanks a lot for your support and the great insight into the service!

[2021-11-22 02:26] #1319 closed

[2021-11-22 05:29] leosam2048 opened #1324 "java.lang.UnsatisfiedLinkError: com.microsoft.cognitiveservices.speech.SpeechConfig.setTempDirectory(Ljava/lang/String;)V on docker CentOS-7"
**Describe the bug**
Encountering an error when java codebase is deployed on a linux server but works well when deployed  in a mac PC.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
Based on documentation. codebase should be compatible with CentOS 7 platform
see: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-devices-sdk-quickstar

[2021-11-22 18:12] BrianMouncer commented on #1324
Prior to the 1.19.0 release, we built on Ubuntu 16.04, which meant having to upgrade compilers, c runtimes, and several system runtimes to use speech SDK on CentOS7 or RHEL7. Ubuntu 16.04 hit End of Life earlier this year, and building on our new 18.04 build agents meant CentOS7 has some new "old" system libraries that could no longer be easily upgraded by the user to make 18.04 binaries run on th

[2021-11-22 19:26] dargilco opened #1325 "We are missing samples showing how to get detailed reco results, including word-level timing"
I will have a fix for this shortly

[2021-11-23 02:41] owenchu opened #1327 "High variance in latency in speech-to-text with recognizeOnceAsync + Pronunciation Assessment"
**Describe the bug**
We use the speech sdk in the browser to transcribe user-generated audio against reference text using the Pronunciation Assessment feature. For ~95% of the time, we are able to get a response in ~2 seconds, which is great. But for ~5% of the time, response time can be as long as ~20 seconds.

Extremely high response time seems to go away when Pronunciation Assessment is disable

[2021-11-23 13:12] nosalan opened #1329 "Confidence possible values"
I'm using .net core SDK for one shot language recognition from audio with `RecognizeOnceAsync` . After setting detailed output I see this:

[code]
The question is, what are the possible values of Confidence string? Can it be configured so that the confidence is a numerical value ranging from 0 to 1?

[2021-11-23 13:17] nosalan opened #1330 "Detecting multiple languages in one-shot mode"
I'm using .net core SDK for one shot language recognition from audio with `RecognizeOnceAsync` . After setting detailed output I see this:

[code]
Is it possible to see a list of languages detected and not only primary language? The audio I sent was in fact english-chinese.
Why is the DisplayText and NBest result returned? It always seems to be empty.

[2021-11-23 14:43] trydis commented on #1321
I'm working on something else this week, so i'll be unable to share something in the near future.

That being said, https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1319#issuecomment-974283960 makes a lot of sense.

I'm seeing all combinations:
- Sometimes `StopContinuousRecognitionAsync` takes 10 seconds, something it's quick
- Sometimes `SpeechRecognizer.Dispose()` takes 10

[2021-11-23 17:04] murilomendes opened #1331 "Problems with Diarization - Rest API"
Hello Guys!

I'm implementing Speech-to-text in an app. But I'm facing some problems with some audio files.

What I'm trying to do is create a transcription and get the Speech as Text, with the "speakers" differentiation.  But the response only appear "Speaker":  1. The audio file is a conversation between two people. Nothing extraordinary.

The file is: https://drive.google.com/file/d/15saVNxnlZ8

[2021-11-23 17:09] dargilco commented on #1330
Hi @nosalan, I'm not sure what you mean by "see a list of languages detected and not only primary language". Are you using the new SourceLanguageRecognizer object, as shown in this sample? https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/csharp/sharedcontent/console/standalone_language_detection_samples.cs#L16 . It seems so based on your detailed recognition outpu

[2021-11-23 17:22] dargilco commented on #1329
Hi @nosalan, I reached out to the language ID service folks to answer your question. I or they will reply soon.

[2021-11-23 17:29] shiwenmichael commented on #1329
The confidence can be High or Low, and it is not configurable.

[2021-11-23 17:59] #1325 closed

[2021-11-23 19:01] dargilco commented on #1330
Also @nosalan, do you need to detect the language once at the start, or do you need to detect it periodically since the language may change from English to Chinse (and vice versa)? If the language may change, be sure to use continuous language ID as pers this sample: https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/csharp/sharedcontent/console/standalone_language_

[2021-11-24 06:39] FanChen2016 commented on #1320
Yes, seeing this error when moved to the latest Speech SDK.

[2021-11-25 06:31] aidenkoh801 opened #1332 "Phoneme string result is always empty in C# (Unity)"
Hi guys!

I'm implementing pronunciation assessment in a Unity app, but I have been facing some problems getting phoneme results, in which the returned phoneme string result is always empty.

Here is a snippet of my code, which listens to the "recognized" events:
[code]

and here is my output (pronunciationString) when referenceText = "Testing":
[code]

Any help is appreciated, thanks so much!

[2021-11-25 06:42] yulin-li commented on #1332
@yinhew , could you help to take a look?

[2021-11-25 06:46] yulin-li commented on #1327
Thanks @owenchu for reporting this issue, @yinhew could you help to take a look?

[2021-11-25 06:49] yulin-li commented on #1323
@rayyan808 Thanks for reporting this issue. Could you share the SDK log as Jarno suggested in previous comments?

[2021-11-25 07:23] yinhew commented on #1332
@aidenkoh801 Does your scenario target en-US locale? If yes, can you try explicitly setting locale to "en-US" by below code?
speechConfig.speechRecognitionLanguage = "en-US";
And see if the phoneme names can appear?

[2021-11-25 07:33] aidenkoh801 commented on #1332
Thanks @yinhew! That did the trick! :)

I was using "en-sg" locale, was under the impression that if my custom speech model is hosted in Singapore, I would have to set the locale accordingly.

[2021-11-25 07:33] #1332 closed

[2021-11-25 09:38] sandrohanea opened #1333 "Add offset parameter to PushAudioInputStream.Write method"
**Is your feature request related to a problem? Please describe.**
Currently, PushAudioInputStream.Write have 2 overloads: one with the buffer, and one with both the buffer and a count(size).
We receive this buffer from another source and possibly it also has an offset where the data starts but in order to pass that to the pushAudioInputStream we need to copy the entire buffer. Also, Span<byte> su

[2021-11-26 14:07] aidenkoh801 opened #1334 "Pronunciation assessment results missing in Android build (C# Unity)"
Hi all!
I'm trying to implement pronunciation assessment in an Android Unity app, and have been unsuccessful in getting any pronunciation results from SpeechRecognitionEventArgs.

I was successful in getting pronunciation results when running on my Windows machine (within Unity Editor).

What could be causing this error?

Here is my RecognizedHandler code:

[code]

Any help will be much appreciate

[2021-11-26 17:25] mrscarvalho commented on #1277
Is there some way to define the exact time ContinuousRecognition should stop, and make it IGNORE silences (like all the other SDKs)? We have to extract text from audio FILES that may have silences (or "non transcrible" music or background sounds) and should not stop on them regardless in the beginning, middle or end - it should go to the end of file, and process all the file. And using recognize_o

[2021-11-26 18:18] mrscarvalho opened #1335 "How to fully process long files and ignore silences?"
I’m testing some speech-to-text SDKs, and Azure is providing the best results so far (our content is difficult because usually has background music, fast paced speech or even sung text).

But I’m not being able to process the whole files, that are provided in audio files between 30 seconds up to 3 minutes.

While recognize_once is limited to 15”, ContinuousRecognition is controlled by SILENCES, wh

[2021-11-29 04:37] mkb13 commented on #930
I know this is closed due to a workaround but I would love if it it were fixed (It doesn't appear to be yet -- just tried it).

[2021-11-29 06:36] yinhew commented on #1327
@owenchu Thanks for reporting this issue!
We've looked into this issue and partially understood the cause, but we still need more time to fully resolve it.
The issue only happened to Central US region per our investigation, you can switch to a different region like East US as a quick work around if it's doable for you.
We will update this thread if there is any progress.

[2021-11-29 08:57] owenchu commented on #1327
Thanks for the update!

I just switched to West US. I'll report back if it happens again.

[2021-11-29 12:35] nosalan commented on #1329
Thanks.

[2021-11-29 12:35] #1329 closed

[2021-11-29 12:41] nosalan commented on #1330
Hi @dargilco, I hoped for an array of languages returned that are present in the audio being submitted in one shot mode. It's nice that it is available in the continuous mode, however, this mode is slower even if I have the entire audio ready. I should choose something from those options, thanks.

[2021-11-29 18:46] #1330 closed

[2021-11-29 19:00] dargilco commented on #1333
Thank you for your good suggestion @sandrohanea! I've created a ticket in our internal work tracking system with all the details you provided. It will be reviewed in our next round of SDK release planning and prioritized with other feature requests. I will go ahead and close this issue as it will continue to be tracked internally.
Darren

[2021-11-29 19:00] #1333 closed

[2021-11-29 19:18] pankopon commented on #1316
Yes, as noted on https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-sdk?tabs=linux%2Cubuntu%2Cios-xcode%2Cmac-xcode%2Candroid-studio#get-the-speech-sdk Python is supported only on Linux x64 for now. There is a backlog item about ARM support but no ETA.

[2021-11-30 05:56] BrianMouncer commented on #1324
@leosam2048
Please let me know the results of above.

Thanks,

[2021-11-30 10:07] CarteKiwi opened #1337 ""Bad Conversion" - DialogServiceConnector with CustomCommandsConfig & AudioConfig"
Hi,

"bad conversion" exception thrown when using AudioConfig.FromMicrophoneInput("my selected microphone").
(When instanciate DialogServiceConnector without the AudioConfig parameter, everything is working fine)

![Capture](https://user-images.githubusercontent.com/12309245/144026994-87401f2d-3cc3-4a6f-b630-79b05bd6a1b3.PNG)

**To reproduce:**
Instanciate DialogServiceConnector using AudioConfig.

[2021-11-30 10:41] CarteKiwi opened #1338 "(SPXERR_MIC_ERROR) GetCallStack not implemented in WinRT - DialogServiceConnector"
Hi,

**Describe the bug**
(RuntimeError) : 0x15 (SPXERR_MIC_ERROR) GetCallStack not implemented in WinRT

**To Reproduce**
Code:
[code]

Steps to reproduce the behavior:
1. Instanciate CustomCommandsConfig
2. Instanciate AudioConfig using a specific microphone (in my case: "Microsoft LifeCam Cinema")
3. Instanciate DialogServiceConnector (using the CustomCommandsConfig instanciated in 1 and AudioC

[2021-11-30 11:39] eldakms commented on #1331
@murilomendes , we have a new set of diarization models that should address this issue (will be in public preview some time by February). Currently they are in private preview only, you can ping me directly at eldak at microsoft.com if you want to have early access. Thanks!

[2021-11-30 16:00] MooonSwitch commented on #1316
So I've followed your instructions, and my progress has come to another halt. While I've been using the Ubuntu 20.04 server, I am only able to download ARM versions of softwares. If there isn't ARM support yet, would using a different OS on my raspberry pi 4 help with this issue?

[2021-11-30 17:20] owenchu commented on #1327
This issue seems to also happen in westus.

What are the fields in [SpeechRecognitionResult](https://docs.microsoft.com/en-us/javascript/api/microsoft-cognitiveservices-speech-sdk/speechrecognitionresult?view=azure-node-latest) that I can log on my side to help you debug the issue?

[2021-11-30 17:55] rhurey commented on #1335
First, thanks for using the SDK and letting us know where you're having issues.

ContinuousRecognition should be the correct API to use to recognize a long file, regardless of the amount of silence in the file.

Is the SpeechRecognizer object raising a Canceled event during the file processing? If it is can you share the Reason and ErrorDetails properties from that event?

What I'd expect to see r

[2021-11-30 19:11] CarteKiwi commented on #1338
It's working on Raspberry Pi 3 with W10 Iot 17763.
Not working on Dragonboard 410C.
I tried this project: [https://github.com/microsoft/Windows-iotcore-samples/tree/develop/Samples/WebcamApp](url)
It's working well (no need to use the devcon remove cmd).

I think the problem is coming from `_dialogServiceConnector`.
It seems no able to use the microphone on Dragonboard, I don't know why.

The `Sta

[2021-12-01 01:54] yulin-li commented on #1334
Hi @aidenkoh801 , thx for using Speech SDK and reporting this issue. Could you pls share the [SDK log](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-use-logging) so we can investigate quickly?

[2021-12-01 18:38] owenchu commented on #1327
This somehow has worsened in our production environment. I've seen requests that took as long as 67 seconds.

[2021-12-01 23:47] yinhew commented on #1327
@owenchu this looks a different issue. How many times did you hit this for?
Can you follow below sample code to print the session id, which can help us debug?
https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/js/browser/index.html#L731

[2021-12-02 00:33] brandom-msft commented on #1337
Hi @CarteKiwi -

How are you enumerating your devices? I'm wondering if this is an issue with the device.

Also, how is your `commandsConfig` object being set up?

[2021-12-02 00:45] brandom-msft commented on #1338
Thanks for providing the log, from there it looks like the microphone isn't being enumerated. The "model" field is empty.

"audio":{"source":{"type":"Microphones",**"model":""**,"samplerate":"16000","bitspersample":"16","channelcount":"1"}}}}

You mentioned that you're not using the instructions  `devcon remove cmd` per the WebcamApp sample, maybe that or something following is missing in your set

[2021-12-02 16:42] CarteKiwi commented on #1337
Hi @brandom-msft,

Thanks you for your reply. Appreciate.

I finally gave up the idea to select the microphone.
I'm using `var config = AudioConfig.FromDefaultMicrophoneInput();`
But it's not a solution. By the way, I think that it's linked to [my other problem HERE](https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1338).

To answer your questions:
- Here is how I list devices

[2021-12-02 17:12] CarteKiwi commented on #1338
Hi again :)

I tried again using the `devcon remove ADCM\QCOM242E` and  `devcon remove AUDD\QCOM2451` as mentionned.

- using the `AudioConfig.FromMicrophoneInput(**)`:
 `StartKeywordRecognitionAsync()` not working: nothing append, microphone seems not to be used (the light on the cam don't turn on)

- using the `AudioConfig.FromDefaultMicrophoneInput()`:
 `StartKeywordRecognitionAsync()` is worki

[2021-12-02 21:13] owenchu commented on #1327
Here's some session ID / latency pairs:

973EF2551CFA494F9B7D3B27C379BF4C / 11,986 ms
56D8E35FB53A4A99B49E46326BA9A776 / 10,999 ms
929B7E3A15124368A549AF8571E24289 / 10,579 ms

[2021-12-03 00:10] brandom-msft commented on #1337
Can you provide a log capturing this behavior? I see the log you posted on the other issue (thank you!) but this scenario is different and the exception provided doesn't give a lot of immediate clues. Thanks!

[2021-12-03 05:37] yinhew commented on #1327
Thanks for these session IDs! They helped a lot to my debugging.
Per debugging, the above cases were due to network transition issue, the audio chunks were uploaded using nearly 10 seconds.
So it was a different issue.
Where was the client invoking our speech service? Was it far from West US (California)?

Can you share me some cases with more significant latency when you hit?

[2021-12-03 06:28] owenchu commented on #1327
Thanks for getting back to me, @yinhew!

The audio chunks were indeed sent from countries quite far from California. My use case involves directly streaming audio from the user's browser from all over the world. Is there a reliable way on the client side to find out the best endpoint to send audio over?

[2021-12-03 06:46] yulin-li commented on #1303
close as no activity

[2021-12-03 06:46] #1303 closed

[2021-12-03 06:58] yinhew commented on #1327
Here is our full region list:
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/regions#speech-to-text-text-to-speech-and-translation

If you have CDN and distributed deployments of your website on different countries, you can point to different regions for different deployments.

If you don't have your backend server, you can try to roughly detect the user location by IP or

[2021-12-03 07:03] owenchu commented on #1327
Thanks for the info! I'll give it a try.

[2021-12-03 08:47] CarteKiwi commented on #1337
No log in the file. It's empty.

![image](https://user-images.githubusercontent.com/12309245/144572708-3730041f-4a93-48cd-98de-493662521d0c.png)

![image](https://user-images.githubusercontent.com/12309245/144571359-1cb1b622-8930-4d11-a3a7-e63605054bb9.png)

StackTrace:
  at Microsoft.CognitiveServices.Speech.Internal.SpxExceptionThrower.ThrowIfFail(IntPtr hr)

I also tried passing `AudioProcessin

[2021-12-03 13:28] CarteKiwi commented on #1337
Just found something ! Don't use the Device NAME even if the variable name is called "deviceName" !!! **Use Device ID instead** ! :)
Everything is now working well. No need to use the devcon cmd.
Just have to specify the device ID in the AudioConfig method.
The Speech SDK should change the name of the variable to be more explicit :)
Thanks anyway, and great job for all the **Speech Studio** stuff,

[2021-12-03 13:28] #1337 closed

[2021-12-03 13:30] CarteKiwi commented on #1338
Fixed with the previous listed issue.
Use the AudioConfig.FromMicrophoneInput(deviceID) did the trick.
I can use the specified microphone, without removing default sound device of the Dragonboard 410C.

Thanks.

[2021-12-03 13:30] #1338 closed

[2021-12-03 14:20] mrscarvalho commented on #1318
Hello @jhakulin, thank you for the reply!

After spending a couple of hours fighting with Azure Speech installation not working on a Win 10 computer and still having the “ModuleNotFoundError: No module named '_speech_py_impl'” error, I realized that the MS Visual C++ 2015-2022 Redistributable should match PYTHON’s bits, not Windows bits...

So, after installing the x86 version of the C++ redistrib

[2021-12-03 19:54] pankopon commented on #1316
@MooonSwitch ARM is supported with C++, Java and .NET Core. Or do you mean you can only use Python in development? Unfortunately the Speech SDK has Python ARM packages only for macOS at the moment.

[2021-12-04 02:47] mrscarvalho commented on #1335
Hello @rhurey , thank you for your reply and detailed information about the events, that helped a lot to understand the way the continuous recognition works. Seeing the big picture of the continuous process I could see the great work your team has done providing almost real time continuous recognition, and providing many options for developers to work.

After several tests during this week I reali

[2021-12-04 17:17] gyuri-fluttech commented on #1320
You can try out adding the following in your `Podfile`. I had a similar issue.

[code]

[2021-12-05 17:18] vovanb opened #1340 "wrong error - batch transcription failed with The recordings URI contains invalid data."
**Describe the bug**
wrong error message - in case that original file is stereo and IsDiarizationEnabled = true batch transcription is failed with error
The recordings URI contains invalid data.

**To Reproduce**
Steps to reproduce the behavior:
1.using default example https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/31abbe1e4b6e3a0bc7d60a72fd3802cb928654dc/samples/batch/csharp

[2021-12-06 10:38] Tenzer opened #1341 "Python 3.10 and Linux arm64 support"
**Describe the bug**
The azure-cognitiveservices-speech package on PyPI is currently neither available for installation on Python 3.10 or the Linux arm64 architecture.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a virtual environment with Python 3.10 on any of the currently supported architectures or on a Linux arm64 architecture.
2. `pip install azure-cognitiveservices-speech`

*

[2021-12-07 02:24] aidenkoh801 commented on #1334
Hi @yulin-li, thanks for getting back,
Here is the SDK log, it seems that the pronunciation results does return, from 9956ms onwards.
[logFile.txt](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/7664992/logFile.txt)

Thank you!

[2021-12-08 08:25] gyuri-fluttech commented on #919
@jhakulin , I also have the same problem as @FanChen2016. Is there a way to fix this ? Based on the following comment https://github.com/flutter/flutter/issues/94719#issuecomment-988171832 it sounds that it would be fairly easy to add support in the SDK.

[2021-12-08 09:15] jhakulin commented on #919
@gyuri-fluttech Thanks for the information and apologies for the issue. In the meantime we are investigating a proper fix, could you let me know if importing the Speech SDK in your swift app code where you use Speech SDK APIs would help ?

[code]

If this does not help, could you try to add use_modular_headers! in your Podfile and see if that helps.

[code]

[2021-12-08 09:18] jhakulin commented on #1320
@FanChen2016 In the meantime we are investigating a proper fix, could you let me know if importing the Speech SDK in your swift app code where you use Speech SDK APIs would help to your issue ?

[code]

If this does not help, could you try to add use_modular_headers! in your Podfile and see if that helps.
[code]

[2021-12-08 09:33] gyuri-fluttech commented on #919
@jhakulin , yep, I have it but still fails.

[code]

[2021-12-08 09:36] jhakulin commented on #919
@gyuri-fluttech Thanks, do you also import the speech SDK as follows in your Swift code ?
[code]

[2021-12-08 10:39] gyuri-fluttech commented on #919
@jhakulin , sorry for my late reply. I just tried adding the import and still fails.

[2021-12-08 10:43] jhakulin commented on #919
@gyuri-fluttech Thanks, could you provide the exact error message you get from Xcode ? The problem might be also that currently Speech SDK does not support armv7 (32-bit arm) which you need to exclude on the build of generic iOS device.

[2021-12-08 11:28] gyuri-fluttech commented on #919
@jhakulin , sure. Here it is:

[code]

You can also find an example project here:

project path: `to_flutter_bug/example/ios/`
module path: `to_flutter_bug/ios/`

[to_flutter_bug.zip](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/7675658/to_flutter_bug.zip)

[2021-12-08 11:57] jhakulin commented on #919
@gyuri-fluttech Thanks, that is very helpful, I believe the issue is caused due to reason Xcode tries to find armv7 architecture, however that is not currently supported architecture for Speech SDK for iOS. Could you try to exclude the armv7 in Xcode settings, see comment on https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/969#issuecomment-785557900 ?

[2021-12-08 12:40] zhouwangzw commented on #1340
Thanks for reporting the issue. We will investigate.

[2021-12-08 12:56] zhouwangzw commented on #1340
I looked into the issue. Yes, the error message "The recordings URI contains invalid data" that is returned in the GET transcription response is not very clear for your case. Currently, as workaround, you can check the report.json file for detailed error messages for each audio in your request. You can get the location of report.json file via GET transcription files (https://eastus2.dev.cognitive.

[2021-12-08 13:56] jhakulin commented on #919
@gyuri-fluttech We need to update the SpeechSDK Cocoapod to exclude the armv7, that should resolve this issue.

As a workaround, you can exclude the armv7 from Any iOS Device by doing following
1. `pod install`, which will install MicrosoftCognitiveServicesSpeech-iOS (1.19.0)
2. Exclude armv7 architecture by adding line below into `MicrosoftCognitiveServicesSpeech-iOS.debug/release.xcconfig` files

[2021-12-08 13:57] jhakulin commented on #1320
@FanChen2016 We need to update the SpeechSDK Cocoapod to exclude the armv7, that should resolve this issue.

As a workaround, you can exclude the armv7 from Any iOS Device by doing following
1. `pod install`, which will install MicrosoftCognitiveServicesSpeech-iOS (1.19.0)
2. Exclude armv7 architecture by adding line below into `MicrosoftCognitiveServicesSpeech-iOS.debug/release.xcconfig` files un

[2021-12-08 14:28] gyuri-fluttech commented on #919
@jhakulin , that is quite cool ! Thank you a lot for your quick help. Looking forward for the new Pod. Will it be the same version ?

Finally, the changes from your last message worked. As you said, I added `EXCLUDED_ARCHS[sdk=iphoneos*] = armv7` to the specified `xconfig` files. 🤝

[2021-12-08 15:56] jhakulin commented on #919
@gyuri-fluttech Thanks for information! Hopefully no version change needed for the new Pod, the xcframework package stays the same, just requires change in the .podspec file (to exclude armv7) when updating the pod repo.

[2021-12-08 15:57] gyuri-fluttech commented on #919
Thanks. Could you give me a sign here when it is done so I can retest without those changes ?

[2021-12-09 06:18] jhakulin commented on #1317
@ykying This is probably the same problem as reported here https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1320. We are making an update to pod file

[2021-12-09 06:37] jhakulin commented on #1318
@mrscarvalho Thanks for this information, this is also something we want to update in our documentation to be more clear.

[2021-12-09 06:37] #1318 closed

[2021-12-09 10:01] jhakulin commented on #1341
@Tenzer Thanks for the report and sorry for the inconvenience as Speech SDK do not yet support for Python version 3.10. We will add the support for that in the next release (1.20.0). Note that currently Speech SDK do not support Python on Linux ARM architecture, that will be also supported in the future, however not yet in 1.20.0. Before the next release is out, could you please use earlier versio

[2021-12-09 10:07] zhouwangzw commented on #1340
I am closing the issue. Please raise a new one if you have any questions.

[2021-12-09 10:07] #1340 closed

[2021-12-09 10:11] Tenzer commented on #1341
Yes, we are currently using Python 3.9 but the lack of Python 3.10 support in this library is currently the only thing holding us from upgrading.

[2021-12-09 10:14] trydis commented on #1321
Here's the output from a profiling session, with 50 instances of the `SpeechRecognizer`.

`StopContinuousRecognitionAsync` and `Dispose` taking ~10 seconds each.

<img width="699" alt="Skjermbilde 2021-12-09 kl  11 10 47" src="https://user-images.githubusercontent.com/446036/145376928-748e9f10-054a-46cb-a384-89a969674c01.png">

[2021-12-09 11:18] jhoelzl commented on #1288
Hi @dargilco, any updates on this?

[2021-12-09 14:39] trydis commented on #1321
Option 2 from https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1319#issuecomment-974283960 works for stopping the recognizer, but disposing it still takes ~10 seconds. I guess having some sort of recognizer pool could circumvent the problem.

[2021-12-10 04:25] zhao520wei opened #1342 ""MicrosoftCognitiveServicesSpeech/SPXSpeechApi.h' file not found"
your project not work   /Users/mac_bigsur/Desktop/Demo/cognitive-services-speech-sdk-master 2/samples/objective-c/ios /speech-samples
not work

last download form github

Xcode 13.1

my Pod
 pod 'MicrosoftCognitiveServicesSpeech-iOS', '1.17.0'

when I run the demo app

dyld: Library not loaded: @rpath/MicrosoftCognitiveServicesSpeech.framework/MicrosoftCognitiveServicesSpeech
  Referenced from: /v

[2021-12-10 17:17] dargilco commented on #1288
@jhoelzl can you please e-mail me at dcohen@microsoft.com? Since I cannot get a local repo, I'd like to discuss sharing a private build of Speech SDK binaries with you, so you can give us a full call stack with variable values.  Thanks! Darren

[2021-12-10 19:56] pankopon commented on #1316
Closed as answered, please open a new item if you need more support.

[2021-12-10 19:56] #1316 closed

[2021-12-10 19:57] pankopon commented on #1314
Closed since no further details received, please open a new item if you need more support.

[2021-12-10 19:57] #1314 closed

[2021-12-13 03:35] FanChen2016 commented on #1320
thanks.

[2021-12-13 11:53] #1321 closed

[2021-12-13 16:12] jhakulin commented on #1342
@zhao520wei Thanks for the report, I believe this is known issue we are making update to Speech SDK pod. Please see workaround until we have new pod pushed to the Cocoapods repo.
https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1320#issuecomment-988836381

[2021-12-13 16:14] jhakulin commented on #1317
closing this as duplicate as informed earlier, please let us know if there is problems

[2021-12-13 16:14] #1317 closed

[2021-12-14 06:49] CheShengSu opened #1344 "Invalid Bundle in TestFlight"
**Describe the bug**
My App can run on simulator and My iPhone.
But when upload the archive to App Store Connect, I got the error: "invalid binary file".

**To Reproduce**
Steps to reproduce the behavior:
1.  Add the line to Podfile

[code]

2. Archive and upload to App Store Connect

**Expected behavior**
 upload to App Store Connect without error.

**Version of the Cognitive Services Speech SDK*

[2021-12-14 08:13] jhakulin commented on #1344
@CheShengSu Thanks for the report. We have fixed bitcode issue in 1.19.0 version of Speech SDK. Could you please upgrade to that ? NOTE: currently you need a workaround for 1.19.0 when building for generic iOS device, see this https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1320#issuecomment-988836381

[2021-12-14 08:15] jhakulin commented on #1324
@leosam2048 Could you please let us know if the instructions here: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-configure-rhel-centos-7 helped to your problem? Thank you.

[2021-12-14 08:54] CheShengSu commented on #1344
Thanks.  I have tried '1.19.0' before but got "module not found" error when archiving. I will report a new issue for '1.19.0'.

[2021-12-14 09:05] CheShengSu opened #1345 "framework not found MicrosoftCognitiveServicesSpeech 1.19.0"
**Describe the bug**
I can build App and run successfully. But when archiving, I get an error.

**To Reproduce**
Steps to reproduce the behavior:
1. set Podfile
[code]
2. Archive the project.

**Expected behavior**
Successfully archive.

**Version of the Cognitive Services Speech SDK**
MicrosoftCognitiveServicesSpeech-iOS, '1.19.0'

**Platform, Operating System, and Programming Language**
 - IDE:

[2021-12-14 09:21] jhakulin commented on #1345
@CheShengSu Did you apply the workaround for excluding armv7 architecture as described here: https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1320#issuecomment-988836381 ?

[2021-12-14 09:48] CheShengSu commented on #1345
@jhakulin After I add
`EXCLUDED_ARCHS[sdk=iphoneos*] = armv7`
to the file
`MicrosoftCognitiveServicesSpeech-iOS.debug/release.xcconfig`,
I can successfully archive. But when uploading to App Store Connect, I get the error same to
https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1344

[2021-12-14 09:51] CheShengSu commented on #1344
In MicrosoftCognitiveServicesSpeech-iOS 1.19.0, this issue also exists!!

[2021-12-14 10:03] jhakulin commented on #1345
closing this issue as based on my understanding we need to check only https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1344

[2021-12-14 10:03] #1345 closed

[2021-12-14 10:05] jhakulin commented on #1344
@tomasgreen In https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1209 you informed there was no bitcode issues anymore on 1.19.0, could you confirm this ? Any ideas what might be the reason here?

[2021-12-14 11:55] tomasgreen commented on #1344
Hi! No I haven't had any issues since the 1.19.0 release but then I'm using Swift Package Manager and not CocoaPods.

@CheShengSu try dropping CocoaPods and use SPM instead. You do this by creating a local swift package with a binary target and include the framework in your project. I'm attaching some quick and dirty code that should do the trick!

Once you've included the framework you can simply

[2021-12-14 12:08] trydis commented on #1321
Just to follow up, the solution seemed to be calling `Close` on the `PushAudioInputStream`, before disposing things.

Didn't see it mentioned in the quickstart:
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/get-started-speech-to-text?tabs=windowsinstall&pivots=programming-language-csharp

But discovered it in the samples.

[2021-12-14 17:25] J-Hardyy opened #1346 "Microphone not being found on Raspberry Pi 4"
Hi,

I have published and deployed a small .NET console app onto my Raspberry Pi 4. The microphone I am using on the Raspberry Pi is the Respeaker 4 mic array. Using arecord -l on the Pi I can see the Microphone is under Card 3, Device 0. The code below throws the error:
SPXERR_MIC_NOT_AVAILABLE when setting up an audio config for a Keyword Recognizer.

`using AudioConfig audioConfig = AudioConfig

[2021-12-15 01:04] dargilco opened #1347 "Update to latest bot-builder Java package to avoid CVE-2021-27568"
This Java sample code:
https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/java/jre/virtual-assistant
was recently flagged by Microsoft's Component Governance with a critical issue:

Governed repositories > azure-samples/cognitive-services-speech-sdk > master > CVE-2021-27568
- Description: An issue was discovered in netplex json-smart-v1 through 2015-10-23 and js

[2021-12-15 02:33] mkb13 opened #1349 "Missing "Microsoft.CognitiveServices.Speech.core.dll" in Blazor WASM project (same as #930)"
I am still experiencing issue #930 (reported in January 2021), with repro steps as outlined here: https://stackoverflow.com/questions/65761453/azure-speech-to-text-c-sdk-in-blazor-webasm-app-bug .

I am trying to use the Azure Cognitive Services - Text to Speech in a Blazor Webassembly app.  Here was the finding from trrwilson in response to #930:

"
Unfortunately, the core SDK (that .core.dll) is

[2021-12-15 02:50] mkb13 opened #1350 "TextToSpeech - JavaScript Samples - Include enumerating available languages/voices"
**Is your feature request related to a problem? Please describe.**
I am not finding a way to enumerate available languages/voices for speech synthesis with the JavaScript SDK, and it doesn't appear to be covered in the sample.  In C#, it's on the SpeechSynthesizer class ("GetVoicesAsync" -- https://docs.microsoft.com/en-us/dotnet/api/microsoft.cognitiveservices.speech.speechsynthesizer?view=azure-

[2021-12-15 03:15] mkb13 opened #1351 "TextToSpeech - JavaScript - QuickStart "Get result as an in-memory stream" section appears to be wrong"
**Describe the bug**
The JavaScript version of the QuickStart (https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/get-started-text-to-speech?tabs=script%2Cwindowsinstall&pivots=programming-language-browserjs) appears to be incomplete/wrong in the "Get result as an in-memory stream" section and this section is not covered in the sample.

**To Reproduce**
Steps to reproduce the

[2021-12-15 03:30] lst94 opened #1352 "java.lang.UnsatisfiedLinkError: com.microsoft.cognitiveservices.speech.SpeechConfig.setTempDirectory(Ljava/lang/String;)V"
**Describe the bug**
I'm using client-sdk-1.19.0.jar in my project,but it doesn't effect on Centos7.  I have set the environment variable according to this link "https://docs.microsoft.com/zh-cn/azure/cognitive-services/speech-service/how-to-configure-rhel-centos-7".
When I use TTS, it shows the following info:
java.lang.UnsatisfiedLinkError: com.microsoft.cognitiveservices.speech.SpeechConfig.set

[2021-12-15 03:48] lst94 commented on #1352
And another info shows:   java.lang.UnsatisfiedLinkError: com.microsoft.cognitiveservices.speech.SpeechConfig.setTempDirectory(Ljava/lang/String;)V
	org.springframework.web.servlet.DispatcherServlet.triggerAfterCompletionWithError(DispatcherServlet.java:1302)

[2021-12-15 06:46] lst94 commented on #1292
@carlossapnucivicom Have you upgrade the SDK version to 1.19.0? I have encountered the same error.

[2021-12-15 07:11] jhakulin commented on #1352
@lst94 Thanks for the report. We have changed the package configuration in 1.19.0 for CentOS7. Could you please let us know have you also done all the prerequisite steps like updated C/C++ compiler and runtime libraries as described in https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-configure-rhel-centos-7 ?

[2021-12-15 07:14] lst94 commented on #1352
@jhakulin Yes,I have done all steps before, but it still doesn't work.

使用内建 specs。
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/local/libexec/gcc/x86_64-pc-linux-gnu/7.5.0/lto-wrapper
目标：x86_64-pc-linux-gnu
配置为：../gcc-7.5.0/configure --enable-languages=c,c++ --disable-bootstrap --disable-multilib --prefix=/usr/local
线程模型：posix
gcc 版本 7.5.0 (GCC)

[2021-12-15 07:31] SyedHamza0196 commented on #442
Anyone found a solution for this?

[2021-12-15 08:30] SyedHamza0196 opened #1353 "RuntimeError: Exception with an error code: 0x8 (SPXERR_FILE_OPEN_FAILED)"
**Describe the bug**
I am trying to deploy a streamlit app using free azure cognitive services speech

It crashes on line: speech_recognizer = speechsdk.SpeechRecognizer(speech_config=speech_config, audio_config=audio_config)

File "/usr/local/lib/python3.7/dist-packages/azure/cognitiveservices/speech/speech.py", line 806, in __init__
File "/usr/local/lib/python3.7/dist-packages/azure/cognitiveser

[2021-12-15 09:10] jhakulin commented on #1352
@lst94 I checked the instructions using WSL version of CentOS7 and noticed there is an error in the `C/C++ compiler and runtime libraries` instructions download path, the correct one is:

`curl https://ftp.gnu.org/gnu/gcc/gcc-7.5.0/gcc-7.5.0.tar.gz -O`
`tar -xf gcc-7.5.0.tar.gz`

Did you notice the same and made the required changes?

After that runtime libraries gets installed in `/usr/local/lib/

[2021-12-15 09:20] lst94 commented on #1352
@I have noticed that error, so I change the link ".bz2" to ".gz". I have set the LD_LIBRARY_PATH. Here is my setting:
`echo $LD_LIBRARY_PATH`
`/usr/local/SpeechSDK-Linux-1.19.0/lib/x64:/usr/local/lib64:`
I haven't tried that sample,just test TTS in my project.

[2021-12-15 09:27] jhakulin commented on #1352
@lst94 For TTS, could you please run https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/java/jre/text-to-speech quickstart and let us know if you see the issue ?

Also could you please answer, what kind of application project you have ?

[2021-12-15 09:34] lst94 commented on #1352
@jhakulin I'll test tomorrow. JAVA WEB (SSM)

[2021-12-15 09:35] jhakulin commented on #1352
@lst94 For Java development, you do not need to set /usr/local/SpeechSDK-Linux-1.19.0/lib/x64 in your LD_LIBRARY_PATH, not sure if that would cause any issue, but please also try removing it.

[2021-12-15 09:39] lst94 commented on #1352
@jhakulin Still the same,I'll test that sample tomorrow.

[2021-12-15 10:10] jhakulin commented on #1344
@tomasgreen Thank you for the help! I have not yet exact plan to move to SPM, however that looks like a correct thing to do. Will let you know once we have more information. @CheShengSu Were you able to see the issue when using SPM as instructed above?

[2021-12-15 10:22] jhakulin commented on #1352
@lst94 Sure, thanks for the help!

[2021-12-15 10:25] jhakulin commented on #1324
Possible duplicate to https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1352

[2021-12-15 11:22] CheShengSu commented on #1344
@jhakulin and @tomasgreen , thank you a lot. But My Xcode seems to have bug that can't using SPM to add package. I will try the `SPMMicrosoftCognitiveServicesSpeech` method when I can use SPM.

[2021-12-15 11:44] trydis opened #1354 "Speech Recognizer - Concurrent Request limit"
How is `Concurrent Request limit` counted in relation to continuous recognition?

- Is it incremented when calling `StartContinuousRecognitionAsync` and decrement by calling `StopContinuousRecognitionAsync`?

- Or do we actually need to keep track of data written to the input stream and the `Recogniz*` events?

Ran a test with 300 concurrent sessions using 3 subscriptions and got some `Error code:

[2021-12-15 12:36] tomasgreen commented on #1344
@jhakulin sound good, although there is no need to "move" to anything. You might already be familiar with this but you can support both SPM, CocoaPods etc at the same time. You can create a separate repo or just add a Package.swift file to this repo.

The above instructions works just fine but I was a bit preoccupied yesterday and there's an even simpler syntax:

[code]

For each new version of fr

[2021-12-15 12:38] tomasgreen commented on #1344
@CheShengSu did you update to Xcode 13.2? If so you might want to follow this thread https://developer.apple.com/forums/thread/696504, there's a few (me including) outraged developers out there 🙂

I managed to get Xcode back on track this morning by downloading the app from the developer site, but as I understand it hans't worked for everyone. Downgrading to 13.1 is always an option.

[2021-12-15 13:35] CheShengSu commented on #1344
Yes, my Xcode version is 13.2, I will try downgrading to 13.1. Thank you!

[2021-12-15 15:47] tomasgreen commented on #1344
I hope it works out!

P.S It might be a good idea to look at the material in https://developer.apple.com/library/archive/technotes/tn2432/_index.html, it's actually quite helpful to rebuild the app from Bitcode locally (in case you haven't already tried it).

[2021-12-15 16:53] #1347 closed

[2021-12-15 22:57] rhurey commented on #1349
Thanks for checking in with us on this. I wish I had better news, but the end answer is still that we don't support it.

The more complete answer is also more nuanced. Over the last year we've been doing some work to separate out the non-portable pieces of the base C/C++ library, namely in the networking stack into something that could allow the emscripten websocket implementation to replace the e

[2021-12-15 23:04] rhurey commented on #1350
GetVoicesAsync is a gap between the C# and JS implementations. @glharper and I discussed this today and this is going to go into his backlog of tasks.

In the meantime, there is a REST API that will return the supported language list. It's documented [here](https://docs.microsoft.com/azure/cognitive-services/speech-service/rest-text-to-speech#get-a-list-of-voices).

[2021-12-16 01:31] rhurey commented on #1351
First, thanks for contacting us about this.

Bluntly, that example isn't right, and the document text needs some updates also.

The function should look like:
[code]
To have the synthesizer not speak, you can pass null for the 2nd parameter, as you found out. This will initialize it with no audio output source, and the result object given in the callback will have the synthized data in it.

But ra

[2021-12-16 01:39] pankopon commented on #1346
Hi, we don't have a mic array setup like yours so the following example is with a regular USB headset (Jabra UC VOICE 750). Please try the same with your USB microphone, replace the device parameter values with what you have.

Ensure that you are running a [supported Linux distribution](https://docs.microsoft.com/azure/cognitive-services/speech-service/speech-sdk?tabs=linux%2Cubuntu%2Cios-xcode%2C

[2021-12-16 01:40] rhurey commented on #1353
A quick thought, where is the file?  Local to the script, on a remote machine?

The SDK would need the file to be local.

[2021-12-16 01:47] rhurey commented on #1354
The limits are evaluated at connection time when a recognition request begins. You don't need to keep track of the events returned or the amount of data sent.

https://docs.microsoft.com/azure/cognitive-services/speech-service/speech-services-quotas-and-limits#detailed-description-quota-adjustment-and-best-practices has some more information and best practices on ramping up test loads.

[2021-12-16 02:14] lst94 commented on #1352
@jhakulin  It seems to be another question.
`Exception in thread "main" java.lang.NoClassDefFoundError: com/microsoft/cognitiveservices/speech/SpeechConfig
        at Main.main(Main.java:25)
Caused by: java.lang.ClassNotFoundException: com.microsoft.cognitiveservices.speech.SpeechConfig
        at java.net.URLClassLoader.findClass(URLClassLoader.java:387)
        at java.lang.ClassLoader.loadClass

[2021-12-16 06:06] jhakulin commented on #1352
@lst94 Please be a bit more specific on the steps you did ? Did you follow quickstart steps ?

[2021-12-16 06:13] lst94 commented on #1352
@jhakulin I have done all steps except Eclipse. Java8 and gcc7.5.0 and library path are all ready.

[2021-12-16 06:19] jhakulin commented on #1352
@lst94 Unfortunately I do not know what are the steps you have done. Regarding your original problem if you want to run Speech SDK on browser/web environment, we recommend you to use Speech SDK for Javascript. There can be limitations with speech SDK for Java when working with web apps. Have you used Speech SDK for Java earlier or is this first time use with 1.19.0 ?

[2021-12-16 06:23] lst94 commented on #1352
@jhakulin It's my first time to use the SDK 1.19.0, but it's successful on Windows 10.

[2021-12-16 07:21] jhakulin commented on #1352
@lst94 Running Speech SDK in browser/web app environment, I recommend you to take a look for Speech SDK for Javascript examples https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/get-started-text-to-speech?tabs=script%2Cwindowsinstall&pivots=programming-language-browserjs. Let us know if this would help you further.

[2021-12-16 07:23] lst94 commented on #1352
@jhakulin  OK,I'll have a try.Thanks.

[2021-12-16 08:31] lst94 commented on #1352
@jhakulin Speech SDK for Javascript is helpful on Centos7, thanks a lot!

[2021-12-16 09:25] trydis commented on #1354
Thanks, that's the answer i hoped for (and expected) 👍

Yes, i've read that info, thanks for mentioning it. The wording is a bit confusing, since it's focusing more on request/response workloads as opposed to continuous data streams.

[2021-12-16 09:25] #1354 closed

[2021-12-16 19:25] mkb13 commented on #1351
Thanks very much for the answer.  I don't particularly want it to be blocking -- I'm calling it from C# and ideally would like to have a way to call some function (a wrapper on synthesizeSpeech?) asynchronously and get back the bytes.  (This is in the context of a Blazor Webassembly.  I would prefer to use the C# API, but it doesn't work because something hasn't been compiled for the necessary tar

[2021-12-17 14:07] djimmo opened #1356 "VerificationEnroll function does not return phrasesList in NET 6.0"
**Describe the bug**
Hi,

I am enrolled in the Speaker Recognition capability and very eager to try out this functionality. However when I try to compile the example method VerificationEnroll I get the following error in Visual Studio for Mac 2022 Preview:

![Screenshot 2021-12-17 at 11 01 22](https://user-images.githubusercontent.com/5882470/146555971-c875a0d8-31e2-4ec9-95b2-45e282338111.png)

If

[2021-12-18 00:09] rhurey commented on #1356
Well, I'll have to apologize for the QuickStart doc being wrong. The VoiceProfilePhraseResult doesn't implement IDisposable and can't be in a using statement.

Past that, the retrieval request was canceled (Reason:1 where ResultReason.Canceled = 1)

You can get a more detailed reason for the cancelation with code like:
[code]
(From the VS immediate window)

Which leads to me a guess at why the req

[2021-12-18 04:29] CheShengSu commented on #1344
I downgraded my Xcode to 13.1, after add local SPM "MicrosoftCognitiveServicesSpeech", Xcode can't compile at the import:
`import MicrosoftCognitiveServicesSpeech`. The message is
"No such module 'MicrosoftCognitiveServicesSpeech'".
I don't know why.

[2021-12-18 06:44] tomasgreen commented on #1344
Did you add the framework to your targets "General"->"Frameworks, Libraries, and Embedded content"?

[2021-12-18 06:59] CheShengSu commented on #1344
I added from "project", "package Dependencies", "+", "Add Local...", the folder `MicrosoftCognitiveServicesSpeech` containing `Package.swift`.
In "targets", "General", "Frameworks, Libraries, and Embedded content", "+", I can't find `MicrosoftCognitiveServicesSpeech`.

[2021-12-18 08:21] tomasgreen commented on #1344
I actually haven't seen that button before, using it the way you described didn't work for me either for some reason. I guess it's another amazing Xcode bug 🙂

Instead of doing it that way just drag your local package folder over to the project root. Wait for it to resolve which might take some time and you might get failures in the meantime, but just hold on until it's completed, the errors will

[2021-12-18 09:13] CheShengSu commented on #1344
I still can't successfully add a local package to my project.
I got some other task to do that I prefer to wait for the pod version or official package of `MicrosoftCognitiveServicesSpeech`.
Thanks for your kindly help very much!

[2021-12-20 09:58] jian-sun opened #1357 "can not get VoiceSignature of ja-JP"
`async function createProfile(profile) {
    let form = new formData();
    form.append('file', fs.createReadStream(profile));
    let headers = form.getHeaders();
    headers['Ocp-Apim-Subscription-Key'] = subscriptionKey;
    headers['language'] = 'ja-jp';

    let url = "https://signature.eastasia.cts.speech.microsoft.com/api/v1/Signature/GenerateVoiceSignatureFromFormData?enableTranscription=t

[2021-12-20 23:28] J-Hardyy commented on #1346
I have gotten it to work with the Sample code using a USB microphone. From there I changed the CARD=USB to CARD=seeed4micvoicec and this worked! I'm pretty sure I tried this before, but it must have been ever so slightly different. Thank you for the help, I really appreciate it.

[2021-12-20 23:28] #1346 closed

[2021-12-21 14:15] samvanlier commented on #1244
Hello,
I'm trying to install azure-cognitiveservices-speech in a ARM64 docker but the `pip install` is still not working.
[Pypi](https://pypi.org/project/azure-cognitiveservices-speech/) gives the right version according to the release notes.
But when running `pip install azure-cognitiveservices-speech==1.19.0` gives the same error as before
[code]

[2021-12-21 14:42] Nolent opened #1359 "Resource warning with python swagger client"
I have a lot of ResourceWarning when i'm using th swagger client

[code]
Is there a way to close them properly ?

[2021-12-21 14:52] jhakulin commented on #1244
@samvanlier Thanks for the report. I just checked the functionality on my M1 mac by using https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/python/from-microphone
[code]
Here pip install was able to find and install the package correctly on Mac M1 ARM64 device.

No good ideas here, but I am wondering if `python3 -m pip install azure-cognitiveservices-speech` wou

[2021-12-22 09:30] AnatoliiOmelchenko opened #1360 "ApplicationException: Exception with an error code: 0x4 (SPXERR_NOT_FOUND) on Oculus Quest 2 for Unity App"
**Describe the bug**
I'm developing a speech recognition Unity App for Oculus Quest 2, implemented functionality was tested during Oculus Link, and the initialization IntentRecognizer is fine (in this case Oculus use Microphone from the laptop), but when we built apk file and install it to the device we've received ApplicationException - Exception with an error code: 0x4 (SPXERR_NOT_FOUND) .

**To

[2021-12-23 11:16] LolkeAB commented on #894
Any update on this? I also need this functionality.
My usecase is that I want to subtitle videos, so I need the timestamp for each word, but I need the 'display' version of the word instead of the Lexical version.

Now it seems I'll have to map the lexical words to the display words myself. Which is very error prone

[2021-12-23 12:28] AnatoliiOmelchenko commented on #1360
I've enabled logging for Speech SDK

[code]

[169744]: 8ms SPX_TRACE_WARNING: resource_manager.cpp:100 Failed to create 'CSpxLUEngineAdapter' as '309094303'. Are all required extension libraries loaded?
[169744]: 8ms SPX_THROW_HR_IF:  audio_stream_session.cpp:3220 (0x004) = 0x4
[169744]: 9ms SPX_TRACE_ERROR:  exception.cpp:118 About to throw Exception with an error code: 0x4 (SPXERR_NOT_FOUND)
[CA

[2021-12-23 14:22] jhakulin commented on #1360
@AnatoliiOmelchenko Thanks for the report. It looks that libMicrosoft.CognitiveServices.Speech.extension.lu.so is not loaded correctly, that may be due to incorrect Inspector settings. Please check that you have following settings in the inspector for that shared object file ?

<img width="1278" alt="image" src="https://user-images.githubusercontent.com/16473503/147252978-4bc4a1a5-d12e-41f3-a333-1

[2021-12-23 14:32] AnatoliiOmelchenko commented on #1360
@jhakulin Thanks a lot. It works now.

[2021-12-23 14:32] #1360 closed

[2021-12-27 05:15] fengmao31 commented on #1261
no python 2.7 api.

[2021-12-28 21:00] BrianMouncer commented on #1261
@fengmao31

We currently support python 3.6, 3.7, 3.8, 3.9.
I will be adding support for 3.10 as soon as I can get to that item in my backlog.
Python 3.7-8 are all in security fix only support by Python org, so using 3.9 would be the best choice, as it is the only branch getting new features.

https://devguide.python.org/

2.x are all End-of-life status, and Python 3.6 should have reached End-of-L

[2021-12-29 03:51] sprgchma opened #1362 "Azure text-to-speech is not accessable in Windows 2012 r2 (again !!!)"
1. The full description of bug is in [issue #811](https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/811)
2. It was reemerged after a year just before the holidays season
3. Also for other developers, just be prepared. If you choose Azure service - you will be that unlucky person who spend the Christmas implementing workaround for the bug from Microsoft.

[2021-12-29 11:01] AlexRen01 opened #1363 "Some interfaces are very slow"
StopContinuousRecognitionAsync、Recognized and EndpointId too slow

The following nodes take a particularly long time to execute
1、When I added EndPointId to my Speech, I sometimes found it took too long to trigger after the user had spoken the Speech command  Recognized event
2、When I try to _budBotService.SpeechRecognizer.StopContinuousRecognitionAsync().Wait();
This function takes about 5 second

[2021-12-29 17:41] fengmao31 commented on #1261
OK. thanks.
the nao robot only supports python2.7.  I decide to delete this function.

[2021-12-29 17:41] fengmao31 commented on #1261
thank you.

[2021-12-30 12:46] xianghongai opened #1364 "How Synthesize speech to a file when use SSML?"
[code]

[2021-12-31 07:01] #1364 closed

[2022-01-01 16:05] CheShengSu commented on #1344
Finally I successfully uploaded my app to TestFlight!
I just add local package `MicrosoftCognitiveServicesSpeech` 1.19.0 , add this package to my target, and archive and upload to TestFlight.
Thanks for your help!

[2022-01-01 16:06] #1344 closed

[2022-01-01 16:33] jhakulin commented on #1344
@CheShengSu Thanks for info. Did you use Swift package manager or Cocoapod? I am curious if there was some reason the upload did not work before ?

[2022-01-01 19:19] suppenburger commented on #1051
@aparnaji & @chlandsi & @zhouwangzw still diarization works with 2 speakers only, any info when the number will be increased?

[2022-01-01 21:36] zhouwangzw commented on #1051
@linaelf Could you please take a look at this issue?

[2022-01-02 02:00] CheShengSu commented on #1344
I mainly use Cocopod in my App for other libraries, but for `MicrosoftCognitiveServicesSpeech` library, I manually add local package.

[2022-01-03 08:19] chlandsi commented on #1359
Hi, the autogenerated swagger client uses `urllib3` under the hood and we are not aware of any related issues. This client doesn't use asyncio, so the problem might be related to the calling code. Maybe also check the issues for the client generator https://github.com/swagger-api/swagger-codegen?

[2022-01-03 21:58] glharper commented on #1357
@jian-sun Thank you for reporting this issue. There is a fix on the way, but to unblock you, setting "enableTranscription=False" should create a Japanese voice signature correctly.

[2022-01-04 13:12] pestevao commented on #1362
Same here!

[2022-01-04 17:20] gyuri-fluttech commented on #919
Happy New Year !  🥳
Any news about this ?

[2022-01-04 17:28] DavidWyand commented on #1245
Using the C++ SDK, I am experiencing the same issue.  Using the Speech SDK 1.19.0: 2021-Nov release, which is the most recent as of this message.  If it would be preferable for me to open a new issue, please let me know.  But this appears to be service wide rather than specific to a language SDK.

[2022-01-05 19:11] glecaros commented on #1363
Hi @AlexRen01,

Thank you for reaching out. Looking at your code the one thing that does stand up is the call to Wait inside the callback. We don't recommend running blocking operations inside callbacks as it will prevent you from receiving further events. Can you try calling it as fire and forget (`_ = reco.StopContinuousRecognitionAsync()`).

Thanks

[2022-01-05 19:12] MikeHannegan opened #1365 "Speech Recognizer - File Recordings with pauses are truncated at the First Pause."
**Describe the bug**
We have a voice processing platform and we want to be able to record responses in a .wav file and transcribe the response and store the text.  If there is silence of over 1 second in the .wav file, the recognizer stops the transcription.  I will attach 2 files - one that has long pauses and will not transcribe properly and a file with shorter pauses with the same verbiage that

[2022-01-05 19:22] trrwilson commented on #1363
Just to supplement the note from @glecaros : I reproduce the same blocking behavior (it's approximately ten seconds) using `.Wait()` inside of `Recognized`, but that problem goes away with either recommended approach:

- Fire and forget (`_ = reco.StopContinuousRecognitionAsync()`)
- Awaiting (`await reco.StopContinuousRecognitionAsync()`)

Fundamentally, the problem is that the SDK needs to synch

[2022-01-05 22:16] glecaros commented on #1365
Hi @MikeHannegan ,

Thanks for reaching out! RecognizeOnce is meant to segment after a pause in the input speech (around 500ms), to transcribe multi utterance files I would recommend using StartContinuousRecognition, otherwise you would need to call RecognizeOnce multiple times (until you hit EOF)

Thanks

[2022-01-06 03:37] AlexRen01 commented on #1363
Hi @glecaros
Thank you for your suggestion. I'll try it. However, in addition to stop continuous recognition async, I have another problem:

When I add endpoints to speech recognition, it often happens that the request takes too long.

For the same voice data, they are as follows:

With endpoints (100 tests):

Average time: more than 6000ms

Maximum request time: 40 seconds

Ten of these requests

[2022-01-06 05:06] AlexRen01 commented on #1363
Hi @trrwilson :
Thank you for your suggestion. I'll try it. However, in addition to stop continuous recognition async, I have another problem:
When I add endpoints to speech recognition, it often happens that the request takes too long.

For the same voice data, they are as follows:

With endpoints (100 tests):

Average time: more than 6000ms

Maximum request time: 40 seconds

Ten of these request

[2022-01-06 08:55] wukun2015 opened #1366 "Azure Speech-To-Text: How to remove filter words in recognized result text"
Hello,

People's speech sometime contain filter words like "uh", "um", etc. , but these words are not friendly in some use case like voice command, meeting transcription.

Is there any config to remove those filter words in recognized text ? Especially for zh-CN.

Thank you.

[2022-01-06 17:37] glecaros commented on #1363
Can you please share a log or a session id of a case when you hit the slowdown?

[2022-01-06 19:16] glecaros commented on #1322
hi @tscrtxdy , have you been able to try what @jhakulin suggested?

[2022-01-06 19:30] glecaros commented on #1335
Closing as it seems the issue was resolved. If you need further help, please open a new issue. Thanks!

[2022-01-06 19:30] #1335 closed

[2022-01-06 20:57] glecaros commented on #1350
hi @mkb13 , were you able to use the workaround suggested by @rhurey?. We have internally a work item to add this feature to JS so you should be able to see it in a later version.

[2022-01-06 21:08] glecaros commented on #1327
Hi @owenchu, were you able to resolve your issue using @yinhew's suggestion?

[2022-01-06 21:34] owenchu commented on #1327
The issue has been largely resolved, although I still see latency spikes at times. I'm not sure if it's because of slow network connections or code start issues of the API instances. That said, feel free to close the issue for now. :-)

[2022-01-07 02:56] AlexRen01 commented on #1363
This is the log of my request. In this request, after I finished speaking, the interface waited for about 5S before giving me feedback
[speechLog.txt](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/7826010/speechLog.txt)

[2022-01-07 12:48] hjain5164 opened #1367 "ModuleNotFoundError: No module named '_speech_py_impl'"
**Describe the bug**
I am trying to use the Speech SDK for Python but while import the package using the statement `import azure.cognitiveservices.speech as speechsdk`, I am getting error.

**Platform, Operating System, and Programming Language**
 - OS: Linux
 - Programming language: Python

**Additional context**
Below is the complete error trace that I am getting:
[code]

[2022-01-07 17:04] glharper commented on #1357
@jian-sun This API is now patched, and japanese signatures with enableTranscription=true should work. Thanks again, closing this issue.

[2022-01-07 17:04] #1357 closed

[2022-01-07 23:08] pankopon commented on #1367
@hjain5164 This is the reason:
[code]
Are you using a [supported Linux distribution](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-sdk?tabs=linux%2Cubuntu%2Cios-xcode%2Cmac-xcode%2Candroid-studio#get-the-speech-sdk)? E.g. on Ubuntu 18.04.5 LTS
[code]

[2022-01-08 01:01] glecaros commented on #1327
Glad it was solved. Please open a new issue if you run into other problems. Thanks!

[2022-01-08 01:01] #1327 closed

[2022-01-08 10:10] QLinkAll opened #1369 "Speaker capture exception"
When I use speech translation, I set up to capture sound from the speaker. The sound device uses fromdefaultspeakeroutput(). But what was captured was the sound of the microphone.

[2022-01-09 11:31] vovanb opened #1370 "files from local storage not pulled and not transcribed - error Timeout when downloading recordings URI."
**Describe the bug**
the local recording available to public internet using ngrok. Recently the files are not produced by Speech To Text API.
In ngrok we see subsequently HEAD queries:

[code]

 In API we see progress on recording , but after 20 min we receive  Timeout when downloading recordings URI.:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1.using default example https://gith

[2022-01-10 07:11] zhouwangzw commented on #1370
@vovanb Our service logs shows that after the transcription service requested HTTP Headers successfully, it tried to use HTTP GET to download audio from the audio source URL, but got the timeout error (no audio has been downloaded before timeout).  Multiple retries indicated the same error. The request failed after exceeding retry limit. And it seems that you deleted the request afterwards.

Have

[2022-01-10 08:28] #1366 closed

[2022-01-10 10:11] mkb13 commented on #1350
Thanks to both, yes, it worked.  Thanks for considering adding it to JS.

[2022-01-10 11:34] vovanb commented on #1370
@zhouwangzw thanks for prompt response. How I can access service logs? Note in our ngrok session there is no GET request at all and HEAD request we responded properly.
Yes using SAS sharing it is working fine.
I did test with our DMZ server (without ngrok) and it is also has problem:
Below recording file is available from internet:
https://ccsp.ei.eilabonline.biz/scshare/rcd_2b6297790426000d_220c1

[2022-01-10 11:42] zhouwangzw commented on #1370
For this request https://uksouth.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions/1251738d-48e0-4658-8eee-500c0a16215f, the transcription did succeeded at 2022-01-10T11:26:58.809Z UTC time, but our service received a delete request at 2022-01-10T11:27:19.972Z UTC, so that the request has been removed.

[2022-01-10 11:50] vovanb commented on #1370
the status is not returned neither for DMZ nor for SAS transcription. again I am using same tester API as before. If exist way to access transcription?

[2022-01-10 12:30] zhouwangzw commented on #1370
Did you make "DELETE" request to delete transcription request? We see the DELETE request in our logs, which then removes the complete transcription from our system, and you cannot access the transcription anymore. If the request has not been deleted, it should be always accessible.

[2022-01-10 13:10] vovanb commented on #1370
finally - we had two servers polling simultaneously. so now I got success for SAS and DMZ recording , only ngrok is failing.
Can you please provide details how access service logs? I think it will be useful for troubleshooting.

[2022-01-10 13:18] zhouwangzw commented on #1370
It is great that you found the issue. The service logs I mentioned are our internal logs for investigating issues of our service, so they are not accessible for customers. But for you case, our service is just calling HTTP GET to read audio stream, but got timeout without receiving any bytes, so there is not much we can provide. Have you ever tried to download the audio URL when ngrok is enabled,

[2022-01-10 14:00] vovanb commented on #1370
it is still available for download
https://efcf-77-137-66-120.ngrok.io/batchrecordings/rcd_2b6297790426000d_220c10de.tmp_stereo.wav
Using Browser it downloaded correct, but GET request is not coming, only HEAD :
`
HEAD /batchrecordings/rcd_2b6297790426000d_220c10de.tmp_stereo.wav 200 OK
HEAD /batchrecordings/rcd_2b6297790426000d_220c10de.tmp_stereo.wav 200 OK
HEAD /batchrecordings/rcd_2b6297790426

[2022-01-10 15:44] J-Hardyy opened #1372 "How do I use DialongServiceConnector.SendActivityAsync?"
Hi,

Apologies if there are examples demonstrating this. I was unable to find them.

What JSON does this method accept? It is just as simple as taking a text command e.g. "Turn off the TV". and using this serialized as the parameter for SendActivityAsync?

Many thanks.

[2022-01-10 16:38] glharper commented on #1353
Pending close for inactivity

[2022-01-10 16:44] glharper commented on #1369
@QLinkAll Thanks for using Speech SDK, and writing this issue up. Could you describe your scenario in more detail, and provide sample code?

[2022-01-10 21:41] glharper commented on #1372
@J-Hardyy Thanks for using Speech SDK. I'm seeing this example code:
[code]

[2022-01-10 21:46] J-Hardyy commented on #1372
I can't believe I didn't see that. Many thanks, I really do appreciate it.

[2022-01-10 21:46] #1372 closed

[2022-01-11 00:02] glharper commented on #1267
@DaddyWesker is this issue still happening for you with v1.19.0?

[2022-01-11 05:00] DaddyWesker commented on #1267
@glharper hello. Unfortunately i cannot check it since free membership is gone. Sorry. Issue can be closed i guess.

[2022-01-11 05:00] #1267 closed

[2022-01-11 06:31] younsunhwang opened #1373 "Is there any chance that I can get "libMicrosoft.CognitiveServices.Speech.core.so" file which runs in softfp environment?"
Hello. I've posted the request below about a month ago.

https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1314

My team and I have tested several STT APIs from different companies, and still interested in applying Azure's STT APIs even though "libMicrosoft.CognitiveServices.Speech.core.so" file is not compatible with our legacy software system. The problem is, as I've describe

[2022-01-11 07:00] zhouwangzw commented on #1370
Would it be possible to keep this link alive for some time? It is still unclear why our service cannot reach this audio. We are investigating.

[2022-01-11 07:31] JishanMeetingSelect opened #1374 "SpeechSynthesizer.speakTextAsync callback when it's finished"
**SpeechSynthesizer.speakTextAsync**

I'm facing the issue with the `Azure` `speakTextAsync` callback issue it's `azure SpeechSDK` support?

[code]

In this, I've tried two ways

1) `SpeechSDK.ResultReason.SynthesizingAudioCompleted`
2) `synthesizer.synthesisCompleted`

But both are called when the `speakTextAsync` method call.

[2022-01-11 07:35] jhakulin commented on #1352
Closing as answer/resolution provided

[2022-01-11 07:35] #1352 closed

[2022-01-11 07:42] jhakulin commented on #1295
@MohdAwamleh Support for Dialog Service Connector APIs for Python supporting BotFramework configuration will be released in the next 1.20.0 Speech SDK release (ETA beginning of Feb 2022).

[2022-01-11 07:43] yulin-li commented on #1334
Hi @aidenkoh801, sorry for the late reply. I am investigating the issue. Meanwhile, as a work around, you can parse the raw json string in your codes (using `result.Properties.GetProperty(PropertyId.SpeechServiceResponse_JsonResult);`)

[2022-01-11 08:15] vovanb commented on #1370
np at all. Keep in mind that problem reproduceable with any ngrok: you can create virtual folder and point ngrok to local iis using below command
ngrok http -host-header=rewrite localhost:80

[2022-01-11 08:32] yulin-li commented on #1374
Sorry, I don't quite understand your issue. Do you have a minimum repro that we can try?

[2022-01-11 09:49] JishanMeetingSelect commented on #1374
We can close this ticket it's working with this.
[code]

[2022-01-11 09:49] #1374 closed

[2022-01-11 11:13] suppenburger commented on #1051
@zhouwangzw @linaelf any update on this?

[2022-01-11 12:51] jhakulin commented on #1224
@davidjrh We have not been able to reproduce this issue, thus closing the issue. In case you have more information on how to reproduce the issue and you have sample code to share, we can reopen this.

[2022-01-11 12:51] #1224 closed

[2022-01-11 13:45] zhouwangzw commented on #1370
I cannot access the link anymore. Ngrok is essentially a tool that exposes your localhost at a certain port to the public network, it seems to me that something related to network configuration blocks the HTTP GET to return results. Is there anything that a  HTTP client need to be aware of when accessing a ngrok URL?

[2022-01-11 16:00] Nolent commented on #1359
These errors are coming from `azure-core` lib and not from here

[2022-01-11 16:00] #1359 closed

[2022-01-11 16:46] dargilco commented on #1288
Taking this offline directly with @hramoser. Closing this issue, but will update if there are any findings or a fix associated with this issue.

[2022-01-11 16:46] #1288 closed

[2022-01-11 20:10] glharper commented on #1373
@younsunhwang Could you send me an e-mail regarding this issue to <my_username>(at)microsoft(dot)com? Thanks.

[2022-01-12 06:24] yulin-li commented on #1374
Thx @JishanMeetingSelect, yes, the `synthesisCompleted` means the audio is synthesized by service and the SDK received all audio chunks. `player.onAudioEnd` indicates the playback is finished.

[2022-01-12 07:22] vovanb commented on #1370
Not that I am aware about something. Note that it reproducible with any ngrok  instance.
I created another session for you
https://e447-5-10-21-66.ngrok.io/scshare/rcd_2b6297790426000d_220c10de.tmp_stereo.wav

[2022-01-12 10:30] zhouwangzw commented on #1370
Thank for sharing the link! We are investigating.

[2022-01-12 13:18] pryannow1 opened #1375 "Continuous Speech not inserting blanks after "period" using sdk 1.19/1,9 C# VS 2019"
I am experimenting with voice to text using the microphone, it works well, with one exception for some reason I cannot figure out how to set/configure the voice to text to have a space(s) using en-us after a "period" Can someone point me to the documentation to set this

This is the actual text output :

Ricardo presented to my office on January 21st, 2020 for evaluation and treatment of injuries

[2022-01-12 17:34] glharper commented on #1375
@pryannow1 Thanks for using Speech SDK, and writing this issue up. Would the following code change format your text correctly?
[code]

[2022-01-12 19:21] XDavidT opened #1376 "Speech service return error 1006"
**Describe the bug**
Trying to use Speech for my first time, and no error print, but when debug the result I get:

wav file created but no sound

**To Reproduce**
Run this:
[code]

**Expected behavior**
No error :)

**Version of the Cognitive Services Speech SDK**
1.19.0

**Platform, Operating System, and Programming Language**
 - OS: macOs 12.1
 - Hardware - x64
 - Programming language: Nodejs

*

[2022-01-13 03:06] ram-msft commented on #1376
@XDavidT Thanks for the details. The format for the endpoint is {region}.tts.speech.microsoft.com. "en-us" is a locale, not a region. Please use the valid regions include westus, northeurope, etc.

[2022-01-13 09:10] aidenkoh801 commented on #1334
Hi @yulin-li , thanks for replying :)
Yes, parsing the raw json string works well
Upon further testing, I believe in the Android build we cannot access PronunciationResults from PronunciationAssessmentResult.FromResult(e.Result) as they do not exist

[2022-01-13 12:02] pryannow1 commented on #1375
Thanks for the reply.
I just tested using $"{e.Result.Text} "    worked
Interesting, continuous speech will return a sentence at a time, I assumed it would just return a random length.  Are there docs that explain this, as I missed it

Again thank you I really appreciate your reply  enjoy your day

[2022-01-13 12:02] #1375 closed

[2022-01-13 12:09] ablaziak opened #1377 "AttributeError: module 'swagger_client' has no attribute 'CustomSpeechTranscriptionsApi'"
I was trying to run speaker recognition from blob. When I tried to generate swagger_client package with URL provided in readme and "westeurope" region I got "No API definition provided." information on the page, and then when I downloaded and installed package (which was possible) I received error "AttributeError: module 'swagger_client' has no attribute 'CustomSpeechTranscriptionsApi'" while runn

[2022-01-13 16:06] ablaziak commented on #1377
@chlandsi Unfortunately I got same error after installing package from this link "AttributeError: module 'swagger_client' has no attribute 'CustomSpeechTranscriptionsApi'". I was referring to this one https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/python/from-blob

[2022-01-13 16:16] chlandsi commented on #1377
@ablaziak Please follow the sample I mentioned. The one you are referring to is outdated, we'll update it ASAP. Sorry for the inconvenience.

[2022-01-13 16:23] ablaziak commented on #1377
It worked for the sample you mentioned, thank you for your help!

[2022-01-13 16:23] #1377 closed

[2022-01-13 16:47] glharper commented on #1375
@pryannow1 Glad that worked for you. Continuous speech can return a sentence or two at a time for the recognized event for your speech scenario. There are some two sentence results in your original text above (like "Mid back pain low back pain and left shoulder pain immediately after the accident he was able to drive to the hospital. However, Ricardo was not concerned about his own injuries while

[2022-01-13 18:15] pryannow1 commented on #1375
Thank you

I will see how it works once I get the Dr. to use it

Paul

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

________________________________
From: Glenn Harper ***@***.***>
Sent: Thursday, January 13, 2022 11:47:15 AM
To: Azure-Samples/cognitive-services-speech-sdk ***@***.***>
Cc: pryannow1 ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure-Samples/cogni

[2022-01-13 19:57] XDavidT commented on #1376
Then I changed it to:
`const speechConfig = sdk.SpeechConfig.fromSubscription("<my-key>", "en-US/westus");`
But it still provides the same result.
Is there any region list I can use?
Or you can share examples of your speechconfig so I can test and see if that is the issue?

[2022-01-13 20:39] glharper commented on #1376
@XDavidT Use
`
const speechConfig = sdk.SpeechConfig.fromSubscription("<my-key>", "westus");`

for a westus key.

[2022-01-13 20:39] #1376 closed

[2022-01-13 21:15] XDavidT commented on #1376
Thx, but it's still not resolve me issue, it's just changed my error to this:

[2022-01-13 21:24] glharper commented on #1376
Which region is your key for? To get a free key, follow the steps here: What is the Speech service? - Azure Cognitive Services | Microsoft Docs<https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/overview#try-the-speech-service-for-free>

From: David Tayar ***@***.***>
Sent: Thursday, January 13, 2022 1:16 PM
To: Azure-Samples/cognitive-services-speech-sdk ***@***.***>
Cc: Gle

[2022-01-14 10:02] vovanb commented on #1370
Thanks for investigating, I can take it with ngrok support maybe. Can you please share your curl.

[2022-01-14 10:06] zhouwangzw commented on #1370
Sorry, forgot to attach the screenshot. I added them to the previous message now.

[2022-01-15 08:33] zhouwangzw commented on #1370
I am closing the issue. If you still have problem, please reopen it or create a new one. Thanks!

[2022-01-15 08:33] #1370 closed

[2022-01-18 01:47] rsarosh opened #1378 "Exception has occurred: AttributeError module 'swagger_client' has no attribute 'Transcription'"
**Describe the bug**
After installing swagger-client as described at  https://github.com/platformsh/platformsh-client-python

from admin console did the following:

 git clone https://github.com/platformsh/platformsh-client-python.git
 cd platformsh-client-python
 python setup.py install

added the references to the dir

sys.path.append ('platformsh-client-python/swagger-client')
import swagger_cl

[2022-01-18 09:02] chlandsi commented on #1378
Hi, please follow these [instructions](https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/batch/python) to install the python client for batch transcription. Thanks!

[2022-01-18 09:29] wing199901 opened #1380 "SpeechToText - Objective-C - Can I get the Word level pronunciation assessment result"
**Is your feature request related to a problem? Please describe.**
I am not finding a way to get word level pronunciation assessment result with the Objective-C SDK, and it doesn't appear to be covered in the sample.

[2022-01-18 16:00] BriceChivu commented on #962
Hello,
I faced the same issue and I solved it simply by converting my audio sample rate from 48kHz to 16kHz.
It worked well after that.

[2022-01-18 16:03] BriceChivu commented on #756
Hello,
I faced the same issue and I solved it simply by converting my audio sample rate from 48kHz to 16kHz.
It worked well after that.

[2022-01-18 17:10] DavidWyand commented on #1245
An update on my findings: If you enable viseme generation for a voice (I'm testing with US English) then the bookmark timings are correct.  Without generated viseme timings, the bookmark timings are incorrect.

[2022-01-18 17:30] rsarosh commented on #1378
@chlandsi  Thanks for the quick reply. Now I am getting 401 error. Access denied because of wrong API or invalid subscription key. I am certain my subscription is right, as it is a cut and paste. However, my API endpoint is as follows:

https://eastus.api.cognitive.microsoft.com/speechtotext/v3.0

My subscription is in "East US". Do you see any issue with the API endpoint?

I do have a cognitive s

[2022-01-18 18:48] chlandsi commented on #1378
Hi @rsarosh, the endpoint looks correct (Note that you only have to enter the region, `eastus`, in the sample code). Please make sure you are using the subscription key for your Cognitive Services or Speech resource, and not the subscription id. You can get the key from the "Keys and Endpoint" tab on your resource in the Azure Portal.

[2022-01-18 19:58] rsarosh commented on #1378
Thanks @chlandsi. There are small mistakes done by noobs like me... Will create a PR for your readme ...these small things will save a lot of time and issues for you. Appreciate your help.

[2022-01-18 19:58] #1378 closed

[2022-01-18 22:00] pankopon commented on #1380
Hi, please take a look at the [how to use pronunciation assessment](https://docs.microsoft.com/azure/cognitive-services/speech-service/how-to-pronunciation-assessment?pivots=programming-language-objectivec) page. Parameter `granularity:SPXPronunciationAssessmentGranularity_Phoneme` in the example should already produce scores on the word level, though you can also use `granularity:SPXPronunciation

[2022-01-18 22:05] pankopon commented on #1367
Closed as answered, please open a new issue if more support is needed.

[2022-01-18 22:05] #1367 closed

[2022-01-18 23:11] pankopon commented on #1369
@QLinkAll AudioConfig methods `From*Output` are used with speech synthesis (text to speech) to specify the output for synthesized audio (see https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/583).
In your use case you would need to get a handle/copy of the audio stream playing to the speaker and copy audio from that to the SDK input by using e.g. a push stream and `FromStreamIn

[2022-01-18 23:12] pankopon commented on #1369
Closed as answered, please open a new issue if more support is needed.

[2022-01-18 23:12] #1369 closed

[2022-01-18 23:17] pankopon commented on #1365
To add, there's a Windows C# example of continuous speech recognition from a file:

https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/02ecde7edddbd27514e8a8ef4d5c0dfdfbddd134/samples/csharp/sharedcontent/console/speech_recognition_samples.cs#L193

Closing the item as answered, please open a new issue if more support is needed.

[2022-01-18 23:17] #1365 closed

[2022-01-18 23:25] pankopon commented on #1356
Closing the item since the QuickStart doc has been corrected and no further details received. Please open a new issue if more support is needed.

[2022-01-18 23:25] #1356 closed

[2022-01-18 23:26] #1353 closed

[2022-01-18 23:29] pankopon commented on #1350
Closing the issue since GetVoicesAsync API has been added.

[2022-01-18 23:29] #1350 closed

[2022-01-18 23:42] pankopon commented on #1349
Closing the item as WASM is not a supported target and there is no plan to add support in the near future. Please raise new issues on JavaScript specific topics as appropriate.

[2022-01-18 23:42] #1349 closed

[2022-01-18 23:52] pankopon commented on #1341
Python 3.10 will be supported in the Speech SDK 1.20 release which is expected to be available late January / early February this year. No ETA for Linux arm64 support.

[2022-01-18 23:58] pankopon commented on #1324
Closed since no customer update, presumed solved. Please open a new issue if more support is needed.

[2022-01-18 23:58] #1324 closed

[2022-01-18 23:59] pankopon commented on #1323
Closed since no customer update, please open a new issue if more support is needed.

[2022-01-18 23:59] #1323 closed

[2022-01-19 00:00] pankopon commented on #1322
Closed since no customer update, please open a new issue if more support is needed.

[2022-01-19 00:00] #1322 closed

[2022-01-19 00:13] pankopon commented on #1271
@glharper Can you please update, was the issue reproduced or solved?

[2022-01-19 00:14] pankopon commented on #1270
@szhaomsft Has the issue been fixed? Please update.

[2022-01-19 00:17] pankopon commented on #1262
@zhouwangzw Are there any open items remaining? Please update.

[2022-01-19 00:21] pankopon commented on #1245
@yulin-li Is the service issue possibly still in effect? Can we assign this to someone in the service team?

[2022-01-19 00:29] pankopon commented on #1143
Closed as no customer update, please open a new issue if more support is needed.

[2022-01-19 00:29] #1143 closed

[2022-01-19 00:33] pankopon commented on #1152
Internal work item ref. 3622485.

[2022-01-19 00:36] pankopon commented on #1199
This will be fixed in the Speech SDK 1.20 release, expected late Jan / early Feb. Internal work item ref. 3712714.

[2022-01-19 00:44] pankopon commented on #1210
Internal work item ref. 3721132.

[2022-01-19 00:53] pankopon commented on #1298
Internal work item ref. 3914918.

[2022-01-19 01:03] pankopon commented on #1362
@yulin-li Are you aware of any service issues related to this?

[2022-01-19 01:28] pankopon commented on #1331
@murilomendes Did you try early access to new models and if yes, did they work better?
@eldakms Is the public preview of new models still due in Feb? Is there any work item or doc page that we could track for status?

[2022-01-19 02:10] pankopon commented on #1351
@mkb13 I found the following (test) examples on fromStreamOutput with push and pull streams:

synthesis to push audio output stream
https://github.com/microsoft/cognitive-services-speech-sdk-js/blob/bab74ae636157ba28b622ea8aa27fb6852641f22/tests/SpeechSynthesisTests.ts#L670

synthesis to pull audio output stream
https://github.com/microsoft/cognitive-services-speech-sdk-js/blob/bab74ae636157ba28b6

[2022-01-19 02:28] wing199901 commented on #1380
Thanks very much for the answer. I want to call the Word level pronunciation assessment result like this (https://docs.microsoft.com/en-us/dotnet/api/microsoft.cognitiveservices.speech.pronunciationassessment.pronunciationassessmentresult.words?view=azure-dotnet#microsoft-cognitiveservices-speech-pronunciationassessment-pronunciationassessmentresult-words).
How can I do this in Objective-C?

[2022-01-19 06:35] zhouwangzw commented on #1262
@pankopon I do not think there is open items for now. I am closing the issue. If you have new issues or questions, please re-open it or create a new one. Thanks!

[2022-01-19 06:35] #1262 closed

[2022-01-19 15:24] #1373 closed

[2022-01-19 19:08] pankopon commented on #1306
Internal work item ref. 2904427.

[2022-01-19 19:48] pankopon commented on #1380
Right - based on https://docs.microsoft.com/objectivec/cognitive-services/speech/spxpronunciationassessmentresult SPXPronunciationAssessmentResult seems to lack a property for words, while it exists in C#. So there's just the JSON result with word level scores.
@yulin-li Can you please confirm the above & is there a plan to add the Words property to SPXPronunciationAssessmentResult in Obj-C?

[2022-01-20 00:10] brandom-msft commented on #1255
@azdragon2 @JPM87 Is this issue still present for you? I was unable to repro the 400 error until I tried using a different Azure resource - the issue was that particular speech service resource did not complete channel registration for Direct Line Speech.

I'm wondering if this was the case in your situations?

The steps to set this up can be found here: https://docs.microsoft.com/en-us/azure/bot-

[2022-01-20 00:39] pankopon commented on #1380
@wing199901 Meanwhile, you may read the JSON result string like
[code]
The structure of the JSON result is as in the [sample response](https://docs.microsoft.com/azure/cognitive-services/speech-service/how-to-pronunciation-assessment?pivots=programming-language-objectivec#sample-responses).

[2022-01-20 01:15] pankopon commented on #1132
@yveskaufmann Sorry for the long delay in response. EndSilenceTimeout, in this context, modifies the processing of individual utterances/phrases within a long-running session, and in your case this appears to cause problems with some short utterances. I reproduced the original issue using your audio file, but after disabling EndSilenceTimeout by setting the value to 0, all the digits are recognize

[2022-01-20 02:34] pankopon commented on #1363
@AlexRen01 From the log - first there's a single-shot recognition session of 1.4 seconds, probably not a problem:
[code]
Then there's a session of continuous recognition. In more detail...
[code]
Connection to the service is established in less than 100ms:
[code]
Service starts processing:
[code]
Speech start is detected ~5.1 sec after processing started:
[code]
The first intermediate result (hypo

[2022-01-20 13:15] yulin-li commented on #1380
Hi @wing199901 thx for using Pronunciation Assessment and reaching out. Currently out objc SDK doesn't parse the json to object. I think you can parse it as @pankopon suggested.
We heard your requirement and added this work to backlog. I will let you know when it finished.

[2022-01-20 13:16] yulin-li commented on #1362
Sorry for the inconvenience, this is a service regression introduced recently. Service team is working on fixing. We will update here when it finished.

[2022-01-20 13:19] yulin-li commented on #1245
@pankopon as far as I know, this is in backlog, I will check status. I know who is the owner but I don't know his GitHub handle.

[2022-01-21 08:17] AnkurDahama opened #1384 "Diarization doesn't work for more than 2 speakers"
Hi folks,

I'm working on a project in which we're using Azure Speech-to-text to transcribe Swedish language meetings. (recorded from Zoom, Teams, Meets, etc. so they’re mono-channel).

The meetings have more than 2 speakers, but only 2 speakers are identified when we use REST API Batch transcription.

I've read in the documentation that Rest Batch API only supports 2 speakers. Will this be update

[2022-01-21 09:39] yulin-li commented on #1245
Assign to the owner @newhillchan

[2022-01-21 15:24] jhakulin commented on #1384
@AnkurDahama Thanks for the question, with conversation transcription you can differentiate speakers by using DifferentiateGuestSpeakers property as documented here https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/conversation-transcription
[code]

[2022-01-22 00:29] pankopon commented on #1270
@yulin-li Would you happen to know about the status since there is no update from szhaomsft?

[2022-01-22 07:08] zhouwangzw commented on #1384
@AnkurDahama  Batch transcription will support diarization >2 speakers in the next version, which will be probably released as preview in the next months. Thanks!

[2022-01-22 07:13] AnkurDahama commented on #1384
thanks!

[2022-01-22 07:13] #1384 closed

[2022-01-23 16:28] Jay-study-nildana opened #1386 "Only \"Standard\" subscriptions Error"
I am getting an error that is similar to the error discussed in this issue.

https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1307

I was indeed on the free tier. So, I switched to the paid tier. I am able to use other endpoints just fine.

1. https://eastus.tts.speech.microsoft.com/cognitiveservices/v1
2. https://eastus.customvoice.api.speech.microsoft.com/api/texttospeech/v3

[2022-01-23 17:45] Jay-study-nildana commented on #1386
Folks

I just realized that, for Long Audio, my azure subscription and the speech service need to be on the same region.

I have a different error now, but, it's no longer the region error.

[2022-01-23 17:45] #1386 closed

[2022-01-23 19:04] Jay-study-nildana opened #1387 "Long Audio - Python Sample to C Sharp Sample?"
I am trying to use the Long Audio API. For some reason, the sample in the documentation is for Python instead of C Sharp. There is a C Sharp sample linked, and I am unable to understand it.

Here is the Python code.

[code]

I dont quiet understand python, but, I recognize the code to some extent. I was able to use this, and refer the linked sample, and came up with the following.

C Sharp Samples

[2022-01-23 19:25] Jay-study-nildana commented on #1387
Update:

Decided to give the Python code a try. I was able to use the Python code within seconds and get the work done.

But, I really want to use this in C #. I hope someone can help.

[2022-01-24 04:53] yulin-li commented on #1270
Assign to dev owner @CrystalWLH

[2022-01-24 05:00] yulin-li commented on #1362
related https://github.com/Azure-Samples/Cognitive-Speech-TTS/issues/221

[2022-01-24 09:17] Ling-Cao commented on #1387
Acknowledged and investigating.
Thanks,
Ling

[2022-01-24 13:53] Jay-study-nildana commented on #1387
@Ling-Cao

Thank you so much.

As of now, I am able to get my work done with the Python code, but, as our software is C Sharp, .NET that would be most useful.

[2022-01-24 14:24] davehorton opened #1388 "I want to stop a continuous async recognition immediately"
I have a scenario where I am using `StartContinuousRecognitionAsync` to start a recognition.  Some time later I want to stop the recognition, but in this scenario I am not interested in final results and do not want to block my thread for the ~10 secs it is typically taking for `StopContinuousRecognitionAsync().get();` to complete (for some reason almost always I have to wait for a timeout on the

[2022-01-24 14:42] jhakulin commented on #1388
@davehorton Please check if this https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1363#issuecomment-1006011016 would provide improvement. We are working on improving the stop behavior of Speech SDK.

[2022-01-24 14:51] davehorton commented on #1388
I will try the "fire and forget" approach.  I believe I did try that earlier and somehow I still encountered a block when I destroyed the recognizer....will retry and report

[2022-01-24 18:09] davehorton commented on #1388
the "fire and forget" approach still blocks for me.  As far as I can tell, when I call `m_recognizer->StopContinuousRecognitionAsync()` it is returning a future which, regardless if I ignore it, when it goes out of scope and is destroyed causes the thread to block for 10 secs.

This is forcing me into writing much more complex (and brittle) code as compared to the integrations I've previously done

[2022-01-25 03:44] Ling-Cao commented on #1387
Hello @Jay-study-nildana, I tried it and found the script file prameter format is not expected, please try the C# code with making 2 changes as below, which works well for me:
1. Change voice name from "en - GB - LibbyNeural" to "en-GB-LibbyNeural"
2. Change the add file part from:
[code]
to (refer to [the sample code](https://github.com/Azure-Samples/Cognitive-Speech-TTS/blob/master/CustomVoice-A

[2022-01-25 05:30] Jay-study-nildana commented on #1387
@Ling-Cao

I will check this today and update with my results.

Once again, thank you so much. Our team were getting ready to move to Django/Python for this, but, now, hopefully, we don't have to.

[2022-01-25 22:58] trrwilson commented on #1388
@davehorton the gotcha is that there are a variety of possible "stop" behaviors (abort immediately, end audio immediately but wait for a result, wait for the next natural break and finish are common ones) and `StopContinuousRecognitionAsync` is closest to that last one: it dutifully attempts to finish the audio that's in the middle of being used and then waits for a result.

1.20 will include an i

[2022-01-26 08:23] Ling-Cao commented on #1387
@Jay-study-nildana

No problem, hope it works for you, please share me if you got the result. :)

Thanks,
Ling

[2022-01-26 09:46] jian-sun opened #1389 "can not to create new user signature using https://signature.centralus.cts.speech.microsoft.com/api/v1/Signature/GenerateVoiceSignatureFromByteArray"
i have one issue with a https://signature.centralus.cts.speech.microsoft.com/api/v1/Signature/GenerateVoiceSignatureFromByteArray service
request body is ArrayBuffer
this API result was :
[code]

but I saved the arraybuffer to wav file and call
https://signature.${regin}.cts.speech.microsoft.com/api/v1/Signature/GenerateVoiceSignatureFromFormData

I can get the signature
is there any mistake   set

[2022-01-26 14:12] davehorton commented on #1388
Thanks, this sounds good and really appreciate the update and insight!

[2022-01-26 16:28] Jay-study-nildana commented on #1387
@Ling-Cao

It worked like magic! I would not have been successfull without you pointing me in the right direction.

I have put the full code here if someone else comes here looking for this.

Note : This is NOT the most elegant piece of code, but putting here anyway :)

#### Placing A Request for Long Audio Service

[code]
#### Checking for status
[code]
#### Getting the Files
[code]

Again, not t

[2022-01-26 16:28] #1387 closed

[2022-01-27 01:34] J-Hardyy opened #1390 "How to log utterances on LUIS when using through custom commands."
Hi,

How do I log utterances on LUIS when consuming the service via custom commands using DialogServiceConnector?

I see the DialogServiceConnector takes a CustomCommadsConifg parameter which has a set property method.
What properties are able to be set via this method? Are they the same as the properties answered in Issue #1306 ?

Many thanks.

[2022-01-27 02:01] Ling-Cao commented on #1387
@Jay-study-nildana, Thank you for sharing, I believe it would be helpful too, BTW, maybe the add file part can be removed~
[code]
Thanks,
Ling

[2022-01-27 03:24] jian-sun commented on #1389
resolved
should add header
'Content-Type': 'application/octet-stream'

[2022-01-27 03:24] #1389 closed

[2022-01-27 17:55] adammpolak opened #1392 "Is there a way to get a "final result" of continuous recognition async?"
I am aware that continuous recognition async provides in-between results as the user is speaking.

Is there a way of getting a "final" output when stopping the recognition of everything that has been said?

(microphone client-side Javascript with sockets)

[2022-01-27 18:08] adammpolak commented on #1388
@trrwilson does the Stop response provide the full transcript of everything that has been said (since continuous async recognition began)?

[2022-01-27 19:13] dargilco commented on #1392
Hi @adammpolak, this is Darren from the Speech SDK team. Thank you for your question. If you stop recognition before the final results, you will not get the "final result" event (e.g. "Recognized" event in C#). You will need to store the latest intermediate result (e.g. from the "Recognizing" event in C#) and treat that as your final result.
Can you describe your scenario that requires you to supp

[2022-01-27 19:31] dargilco commented on #1390
Hi @J-Hardyy, this is Darren from the Speech SDK team. Thank you for your question. I am looking for the right person from CustomCommands to answer your first question.

Regarding your second question (about "what properties are able to be set"), is this directly related to your first question? if not, can you tell me what you are trying to do? what functionality is missing that you are looking fo

[2022-01-27 20:03] J-Hardyy commented on #1390
Hi Darren,

Thank you for your response. It is directly linked to my first question. However, it would be good to know what other functionality is available via this set property method.

Thanks

[2022-01-28 00:26] brandom-msft opened #1393 "Unity sample on iOS gives SPXERR_MIC_ERROR"
Going through the [sample for interacting with a bot in C# Unity](https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/csharp/unity/VirtualAssistantPreview), when I deploy to iPhone and try to run I get an immediate cancellation.

(XCode first showed an error that I must use NSMicrophoneUsageDescription for microphone access. I added that entry to info.plist and when

[2022-01-28 00:40] brandom-msft commented on #1393
In order to access the microphone, you need to enable this setting in Unity

Unity -> Build Settings -> Player Settings -> Player -> Other Settings -> Prepare iOS for Recording

![MicrosoftTeams-image](https://user-images.githubusercontent.com/42854725/151466773-e5588dc4-047c-418a-a82f-dc16bee66d35.png)

Then I build the app in XCode and deploy and it works!

[2022-01-28 00:41] #1393 closed

[2022-01-28 09:34] mudong0419 opened #1394 "How to get phoneme of TTS."
Hello, when I'am synthesizing a speech with a text, is it possible to get phonemes of the text? Thanks in advance.

[2022-01-28 11:23] Shubham7054 opened #1395 "Trying to run speaker recognition in C#"
Hi, I'm trying out [Speaker recognition](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/quickstart/csharp/dotnet/speaker-recognition/helloworld/Program.cs), but it's throwing an error. With the help of debugger I realized there is some error on line 143 (using (var audioInput = AudioConfig.FromWavFileInput(trainingFile)))

Error thrown -> "AudioProcessingOptions = 'audi

[2022-01-28 15:59] jhakulin commented on #1394
@yulin-li Could you please comment on this ?

[2022-01-28 16:33] dargilco commented on #1395
Hi @Shubham7054, this is Darren from the Speech SDK team. Thank you for posting this question. Which operating system are you using? What version of Speech SDK are you using? If possible, please use latest version (1.19) and also provide as with SDK logs ([see here](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-use-logging)).
Thanks, Darren

[2022-01-28 18:12] eric-urban commented on #1395
@Shubham7054 - If the WAV file is not present I can repro this issue. Please be sure to set paths to each audio file. You can use the WAV files in this directory of the samples repository: [sampledata/audiofiles](https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/sampledata/audiofiles). I hope this helps!

[2022-01-28 18:14] dargilco commented on #1395
Thank you @eric-urban for checking. I will close this issue, but @Shubham7054 feel free comment here if Eric's suggestion did not solve your problem. If that's the case I will re-open the issue.
Darren

[2022-01-28 18:49] Shubham7054 commented on #1395
Hi, thanks for replying. In [this code](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/quickstart/csharp/dotnet/speaker-recognition/helloworld/Program.cs) the wav files listed are myVoiceIsMyPassportVerifyMe01.wav, myVoiceIsMyPassportVerifyMe02.wav, myVoiceIsMyPassportVerifyMe03.wav (line 134-136) and if we look closely, program.cs file and these wav files are in same [

[2022-01-28 18:55] dargilco commented on #1394
@jhakulin let me try to answer, since I think @yulin-li is on vacation for the Chinese New Year. Yulin please correct me if I'm wrong.

@mudong0419 can you tell us about your scenario? Do you need phonetic transcription of the text-to-speech audio (phonemes and their start and stop time stamps?) What will these phonemes be used form? Also what is your programming language and operating system? I w

[2022-01-28 20:23] eric-urban commented on #1395
@Shubham7054 - Double checking, were you also granted access to the speaker recognition preview? https://docs.microsoft.com/en-us/legal/cognitive-services/speech-service/speaker-recognition/limited-access-speaker-recognition

[2022-01-28 21:08] Shubham7054 commented on #1395
@eric-urban I followed [these steps](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/overview#try-the-speech-service-for-free) to try the speech service and I didn't came across this documentation and the form in it. Am I supposed to fill this form as well? Was curious as I have subscription key and region and that's all required according to [this](https://github.com/Azur

[2022-01-28 21:36] eric-urban commented on #1395
@Shubham7054 - Yes applying for access is required currently, so we’ll need to update the sample instructions. Good catch! Thanks

[2022-01-29 01:47] Emma-ms commented on #1390
Hi @J-Hardyy, this is Emma from Custom Commands team. Thanks for reaching out. Could you help to clarify the expect result of "LUIS utterances", do you want the Speech recognized (SR) result or LUIS recognized result as well?
For example, SR -"turn on the light"; then LUIS get -  intent "<command Name> such as ConrolDevice", entity "<parameter Names> such as light and of/off".

For the full result

[2022-01-29 05:38] jian-sun opened #1396 "is there any to replace or boost a word in speech to text result"
I wanta  replace a word in one sentence from stt service
for example
stt result: XXXXXX too XXXXXXX
expected: XXXXXX two XXXXXX

is there any way to improve weight or priority of 【two】
like google
https://cloud.google.com/speech-to-text/docs/adaptation-model

[2022-01-30 03:44] yulin-li commented on #1394
Thanks @dargilco !! As Darren said, we don't have phoneme output in text-to-speech service. @mudong0419 could you explain more about your scenario? For lip sync or face animation, the [Viseme output](https://docs.microsoft.com/azure/cognitive-services/speech-service/how-to-speech-synthesis-viseme?pivots=programming-language-csharp) is the best choice.

[2022-01-30 17:16] J-Hardyy commented on #1390
Hi,

Thank you for your response. I wanted the LUIS result. If LUIS won't log the utterances made via Custom commands I'll probably go down the route of adding a response to each command as you have suggested in your examples.

Thank you.

[2022-01-31 06:40] ds-combine-ai opened #1397 "Connection failed (no connection to the remote host). Internal error: 1. Error details: Code: 10060"
**Describe the bug**
Hi, I'm having issue connecting to the service.  I'm running the sample c# quickstart code given here, which uses a wav file https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/get-started-speech-to-text?tabs=windowsinstall&pivots=programming-language-csharp#recognize-from-file.

Console output:
[code]

log snippet:
[code]

Seems to be an issue with the we

[2022-01-31 14:17] gsgou commented on #1232
@rhurey , @pankopon we are seeing the error appearing 7 times in 200 users. We can't promote yet the project as we could experience a lot of negative reviews. Also seen once in iOS. Our users tend not to send the logs collected and their mobile operators but it is the known 101.

Is it possible to extend in the meantime the Speech-to-text REST API for short audio to more then 60 sec:
https://docs.

[2022-01-31 18:34] dargilco commented on #1395
Closing this issue, as we have an internal work item for updating the sample code with the proper note as per the above. Thanks all!

[2022-01-31 18:34] #1395 closed

[2022-01-31 18:50] Emma-ms commented on #1390
Cool. Please try that and let us know if you have any other questions.

[2022-01-31 19:05] dargilco commented on #1396
Hi @jian-sun , this is Darren from the Speech SDK team. Thank you for your question. It would help us if you could give us a few examples of full sentences, so we see the context of the too/two recognition. Also, in order for me to point you to sample code, what is your programming language and operating system?
We do have PhraseListGrammar which you can use. See the "Improve recognition accuracy"

[2022-02-01 02:12] dargilco commented on #1397
@ds-combine-ai this is Darren from the Speech SDK team. Thank you for opening this issue and providing such detailed information, including the log file. That's very helpful. Let me look at the log and consult with my team before getting back to you.
Darren.

[2022-02-01 02:14] ds-combine-ai commented on #1397
Thanks @dargilco :)

[2022-02-01 03:04] dargilco commented on #1390
Closing the issue. @J-Hardyy please feel free to re-activate if you have more questions. Thanks!

[2022-02-01 03:04] #1390 closed

[2022-02-01 07:42] aalonso-solusoft opened #1398 "Avoiding sending empty recognition results to the API"
Hello, we are using the Cognitive Speech SDK for Android to develop a voice assistant. Are there any way to avoid sending empty strings to the API when the user does not speak anything?

**To Reproduce**
Steps to reproduce the behavior:

1. Configure the DialogServiceConnector and invoke the listenOnceAsync operation:
[code]
2. User tells nothing.
3. DialogServiceConnector recognizes and sends ""

[2022-02-01 17:05] dargilco commented on #1398
Hi @aalonso-solusoft, this is Darren from the Speech SDK team. Thank you for posting this question.

Can you please describe in more details what you are seeing now and what are changes you want to see for the case that nothing is spoken? I don't understand what "sending empty strings to the API" means. Is this about the "Recognized" event? Is this about what your bot gets? both?

Also, please rep

[2022-02-01 21:47] dargilco commented on #1232
Hi @gsgou, this is Darren from the Speech SDK team (@rhurey and @pankopon are my colleagues). I can reach out again to our sister team in Munich to ask if anyone is using Congstar on Telekom. If we have folks, will you be able to onboard them to your app preview program? It seems to me the only way to make progress is to have one of our engineers in Munich reproduce this first with your app, then

[2022-02-02 02:22] dargilco commented on #1397
@ds-combine-ai can you open this web site on your Windows Server to check if it supports web sockets? http://websocketstest.com/

Also, can you run the Java Script Speech SDK browser demo on your Windows Server and see if that works? https://azure.microsoft.com/services/cognitive-services/speech-to-text/#features

[2022-02-02 04:06] ds-combine-ai commented on #1397
Thanks @dargilco for getting back to me. I've just tried both those tests.  The first one worked ok...but the second one failed.  Here are the screenshots:
<img width="748" alt="Screenshot 2022-02-02 at 12 51 38" src="https://user-images.githubusercontent.com/73110276/152091417-0106eef3-b4a3-40c4-a625-a8fbdac277c4.png">

<img width="1333" alt="Screenshot 2022-02-02 at 13 00 57" src="https://user-i

[2022-02-02 07:17] dargilco commented on #1284
From the 1.20 release notes:
All programming languages: PronunciationAssessmentConfig now has properties to set the desired phoneme alphabet (IPA or SAPI) and N-Best Phoneme Count (avoiding the need to author a configuration JSON as per GitHub issue 1284). Also, syllable level output is now supported.

[2022-02-02 07:18] dargilco commented on #1350
From the [1.20 release notes](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/releasenotes?tabs=speech-sdk):
JavaScript: Added getVoicesAsync() API to SpeechSynthesizer to retrieve the list of supported synthesis voices (GitHub issue 1350)

[2022-02-02 07:21] dargilco commented on #1388
From the [1.20 release notes](https://docs.microsoft.com/azure/cognitive-services/speech-service/releasenotes?tabs=speech-sdk):
C++, C#, Java, JavaScript, Objective-C, and Swift: Fix to remove a 10-second delay while stopping a speech recognizer that uses a PushAudioInputStream. This is for the case where no new audio is pushed in after StopContinuousRecognition is called (GitHub issues 1318, 331)

[2022-02-02 07:22] dargilco commented on #331
From the [1.20 release notes](https://docs.microsoft.com/azure/cognitive-services/speech-service/releasenotes?tabs=speech-sdk):
C++, C#, Java, JavaScript, Objective-C, and Swift: Fix to remove a 10-second delay while stopping a speech recognizer that uses a PushAudioInputStream. This is for the case where no new audio is pushed in after StopContinuousRecognition is called (GitHub issues 1318, 331)

[2022-02-02 07:22] dargilco commented on #1360
From the [1.20 release notes](https://docs.microsoft.com/azure/cognitive-services/speech-service/releasenotes?tabs=speech-sdk):
Unity on Android and UWP: Unity meta files were fixed for UWP, Android ARM64, and Windows Subsystem for Android (WSA) ARM64 (GitHub issue 1360)

[2022-02-02 07:23] dargilco commented on #1320
From the [1.20 release notes](https://docs.microsoft.com/azure/cognitive-services/speech-service/releasenotes?tabs=speech-sdk):
iOS: Compiling your Speech SDK application on any iOS Device when using CocoaPods is now fixed (GitHub issue 1320)

[2022-02-02 07:57] aalonso-solusoft commented on #1398
Helo @dargilco , thanks for your answer.

Yes, it happens in both places really, in the client side we are getting the "" text in the recognized event and in the bot side we are getting an activity with null text and we are handling it as an unknown intent.

We only want to know if it is the default behaviour or if there is a property for maybe ignoring silences and not sending them to the bot

He

[2022-02-02 18:35] dargilco commented on #1306
We have an internal work item to document what properties are supported on each object. Therefore, I'm closing this issue.

[2022-02-02 18:35] #1306 closed

[2022-02-02 18:41] jhakulin commented on #1320
@gyuri-fluttech Unfortunately, there seems to be still a problem even with the fix made in 1.20.0. We made change in podspec to exclude armv7 and i386, but seems that does not work populate as excluded architectures atleast in all Xcode versions correctly. Based on the limited documentation what I can find, the correct fix for this would be to include armv7 flavor into xcframework package so that

[2022-02-03 00:13] dargilco commented on #1397
@ds-combine-ai thank you for the screen shots. It does look like something in your Server configuration. To check access via REST APis to our Speech Service, please go to this link https://eastus.stt.speech.microsoft.com/api/v1.0/languages/translation/from?format=detailed on the Service and let me know if you get a response (a long JSON string).

[2022-02-03 00:37] achandmsft commented on #1360
Hi @Anatolii,
Thanks for your feedback. I wanted to reach out to you to understand your requirements to see how we can support your scenario better. Please email me at achand at microsoft dot com to let me know your availability so I can setup a quick sync to chat. Looking forward to chatting with you.

Thanks,
Arun Chandrasekhar
Principal Program Manager (Azure AI SDKs)

[2022-02-03 06:44] ds-combine-ai commented on #1397
Thanks @dargilco - I got the same issue:
<img width="776" alt="Screenshot 2022-02-03 at 15 43 11" src="https://user-images.githubusercontent.com/73110276/152294009-6b00c337-ee77-4485-ab7a-3e296328a9e0.png">

I tried accessing the same link from my Mac and it worked, no problem - I got the long JSON string as you said.

[2022-02-03 07:36] aalonso-solusoft commented on #1398
Ok, I assumed this was necessary to deal with unanswered messages.

We, in our application have a buttom that when gets clicked opens a card and start listening to the user. In that card there is also a "quick actions menu" that, when you click one of them, send a message to the bot. So, in these situations there are two messages going to the bot, the first, the silence and the second the quick ac

[2022-02-03 15:15] dargilco commented on #1232
@gsgou we have a colleague in Munich who likely has mobile access to  Congstar & Telekom . Can you please e-mail me (dcohen at microsoft dot com) so we can loop him in to self-host your app?
Thanks,
Darren

[2022-02-03 15:25] fmegen commented on #1232
@gsgou would it be possible for you to lookup the IP addresses of your mobile while on the operator network and validate that it indeed a public ip address and not some private ip address that requires an operator proxy to reach the internet.

private ip address ranges:
10.0.0.0 - 10.255.255.255
172.16.0.0 - 172.31.255.255
192.168.0.0 - 192.168.255.255

thanks a lot!

[2022-02-03 15:46] gsgou commented on #1232
@fmegen it will take more then a month as i am in Spain now but i ll remember to do it and report.

[2022-02-03 16:11] gsgou commented on #1232
Email send. Thanks for allocating resources and time on this Darren.

[2022-02-03 18:04] gyuri-fluttech commented on #1320
@jhakulin , thanks for the update. I can confirm that it is still there in 1.20.0 .

[2022-02-03 19:18] dargilco commented on #1232
We are following up directly with @gsgou over e-mail. We'll update this GitHub issue if/when there is any resolution.

[2022-02-04 11:46] fmegen commented on #1232
@gsgou thank you for the information.

[2022-02-04 16:59] dargilco commented on #1398
@aalonso-solusoft Glad to hear you have found solution. Just out of curiosity, is the case where users click to open the card, but do not speak afterward, a common case? or is this small number of cases? If the former, it seems like it's wasteful to send audio with no speech to the service, as you are still being charged for it. Is there a way to update the UI such that you are more confident that

[2022-02-04 16:59] #1398 closed

[2022-02-04 17:06] dargilco commented on #1392
@adammpolak I'm closing the issue since it was answered and I have not heard back from you. Feel free however to reply anytime and tag me.
Darren

[2022-02-04 17:06] #1392 closed

[2022-02-04 17:38] dargilco commented on #1388
@adammpolak We always send a final result ("Recognized" event) based on whatever audio received by the time StopContinuousRecognitionAsync was called. So if you're in the middle of saying "this is a test" you may get "This is." as a final recognition result ("recognized" event) if you called Stop in the middle of the sentence.

The Recognized event will give you recognition results since the previ

[2022-02-04 17:44] dargilco commented on #1392
@adammpolak I'm correcting what I wrote above (now deleted). Per my reply in https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1388 :

We always send a final result ("Recognized" event) based on whatever audio received by the time StopContinuousRecognitionAsync was called. So if you're in the middle of saying "this is a test" you may get "This is." as a final recognition result

[2022-02-04 17:45] dargilco commented on #1388
Closing as it seems the question was answered. Feel free to tag me for follow up questions here, or open a new issue. Thanks!

[2022-02-04 17:45] #1388 closed

[2022-02-04 20:33] aalonso-solusoft commented on #1398
Now is not very common indeed. Thanks for your suggestion, you are right and we will speak with our design team.

Thank you very much.

[2022-02-06 23:41] Matt-Finlay opened #1401 "Microsoft cognitive Services package Seems to cause UnityEditor to hang when switching between projects."
**Describe the bug**
When i include the Microsoft cognitive Services package in my Project, and change application focus between unity and visual studio, when returning to unity, unity will just hang with spinning wheel, until i quit/relaunch it. if i take out cognitive services asset package, the same project works fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the a project with

[2022-02-08 03:23] CodingOctocat commented on #947
@jhakulin
I may have encountered the same problem, I used the version: **v1.20 + WPF + Net 6**.

Yesterday, my `BuildSrtAsync` worked fine and `SpeechEndDetected` could notify me that the task was completed, but today it doesn't

[code]

[2022-02-08 08:31] mudong0419 commented on #1394
Sorry for replying too late, since I was on vacation for the Chinese New Year. We are trying to synthesis a video give a text and an avatar, to make the face animation more nature, we wish to get the phonemes of text. Especially our texts are always Chinese-English code-switched, and if the English phoneme is [CMU phoneme set](http://www.speech.cs.cmu.edu/cgi-bin/cmudict?in=muesli&stress=-s) and C

[2022-02-08 08:38] yulin-li commented on #1394
@[mudong0419 Happy Chinese New Year! Unfortunately we cannot provide phonemes. But we do have visemes events both for en and zh. You can map our viseme ids to your animation in your system.
Meanwhile, we are dogfooding some new technology for 3D avatar and we have some nice demos. You can email to me (yulili@microsoft.com) and our PM Melinda <melindam@microsoft.com> for details if you are interest

[2022-02-08 08:48] mudong0419 commented on #1394
@yulin-li Thanks for your reply, and happy Chinese New Year! I'm very interested in your demos, and will send you an email.

[2022-02-08 09:57] #1394 closed

[2022-02-08 10:50] Vaaai opened #1402 "NameError: name 'SpeechSynthesisOutputFormat' is not defined"
**Describe the bug**
When following the Python tutorial and using the same code snippet as described in the Microsoft docs ([Link](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/get-started-text-to-speech?tabs=script%2Cwindowsinstall&pivots=programming-language-python)) to utilise Azure's Text-to-Speech services I get the following error message:

`NameError: name 'Speech

[2022-02-08 12:25] gsgou commented on #442
i see it also in Android logs, not in iOS sometimes sporadically. on v1.18, v1.19, v1.20.
I ll try the retry workaround. Maybe the lib could also add a single retry internal

[2022-02-08 19:30] BrianMouncer commented on #1401
@Matt-Finlay

I'll try to reproduce this with our public Unity samples.
What version of Unity are you using?
Also, is any use of our package, or is there a particular sample that you have seen this happen with?

Thanks,

[2022-02-08 20:55] BrianMouncer commented on #1402
@Vaaai can you try this instead, this is what we use in our [public samples](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/python/console/speech_synthesis_sample.py).

speech_config.set_speech_synthesis_output_format(speechsdk.SpeechSynthesisOutputFormat.Audio16Khz32KBitRateMonoMp3)

The above sample worked for me when I changed the format from 16khz to 48khz.

[2022-02-09 04:55] ds-combine-ai commented on #1397
Hey @dargilco, I've been wracking my brains and trying every kind of configuration options I can but still can't get any response for that link.  There isn't any chance it's being blocked on the MS end is there?  I've tried turning off my firewall completely, but still no luck:

<img width="701" alt="Screenshot 2022-02-08 at 12 41 12" src="https://user-images.githubusercontent.com/73110276/1531242

[2022-02-09 05:52] yulin-li commented on #1402
@Vaaai thx for reporting this. We believe it's a doc issue. Could you pls try our sample as Brian suggested?

[2022-02-09 06:34] hu1240050829 opened #1406 "text-to-speech Unable to use on the Centeros7"
develop on mac, everything is normal;
But Deploy to the Center os7, Application not responding;
I use java to develop, import Gradle; Has been run
`
sudo yum update
sudo yum groupinstall "Development tools"
sudo yum install alsa-lib openssl wget
`
I don't know what the problem is, is there any other action needed?

[2022-02-09 09:13] Vaaai commented on #1402
Thank you @BrianMouncer and @yulin-li . Brian's code worked! Thank you also for the public samples' link.

[2022-02-09 20:55] shashankkulshrestha-kiwi commented on #514
@oscholz Did you resolve the issue? I am facing this right after the app launch. Please update

[2022-02-10 06:03] BrianMouncer commented on #1406
CentOS7 will reach End Of Life soon.
In the past, you could get the speech sdk built on newer Ubuntu images to work on centos7 by [updating GCC, C runtimes, and some other packages by compiling them from source](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-configure-rhel-centos-7).

If this is for a new development project, I would highly suggest using CentOS8 or

[2022-02-10 06:44] shashankkulshrestha-kiwi commented on #514
@fsaar @oscholz  I am stuck in the issue, my client is not able to release the app. We've provided all the required microphone permission. This issue appears only after 1st installation and works fine after that. Can you please let us know the possible issue or solution?

[2022-02-10 07:10] indjec opened #1407 "What are the audio formats supported by Pronounciation Assessment?"
Can anyone list me the list of audio formats supported by Pronounciation Assessment Api? I have seen the support of .wav but could not find any documentation related to this.

[2022-02-10 07:44] hu1240050829 commented on #1406
I see “Environment settings” inside
“export LD_LIBRARY_PATH=/path/to/extracted/SpeechSDK-Linux-<version>/lib/x64:$LD_LIBRARY_PATH”
Excuse me, where can I download “SpeechSDK-Linux-<version>” ?

[2022-02-10 14:00] NiclasSchwalbe opened #1408 "StartContinuousRecognitionAsync() only understands first sentence"
[code]

The following code gets an .wav from http, saves it and then starts SpeechRecognition. The saved .wav file is uncorrupted.
Azure only recognizes the first sentence of all the .wav-files I put in.
Is this intended? If yes, how do you get everything until the end of the file?

[2022-02-10 16:12] jhakulin commented on #514
@shashankkulshrestha-kiwi Could you please report a new issue, including details on what is the programming language and platform where your app is running ? Thank you.

[2022-02-10 21:05] Jun711 opened #1409 "Is there a Rest API example for getting TTS Word Boundary?"
1)
I am using Python requests to get audio through the cognitoService speech REST API. Is there an example somewhere that I refer to so that I can save time figuring it out?

https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-text-to-speech
[code]

I don't need most of the functions from the sdk so I prefer not to install the sdk if possible to keep the cloud function li

[2022-02-11 22:30] josephsctan opened #1410 "Provide Server Timestamp so we can relate the Conversation Transcription Result 'offset' to a a real time"
With Conversation Transcription (or Speech Recognition), the result that we receive contains an 'offset' value.

e.g.
[code]

When using a 'live' audio stream , like fromDefaultMicrophoneInput(), it is not certain where the offset is calculated from.

I tried to capture the 'start' time when the session starts:

[code]
But that value is inaccurate, as is evident when I review the audio recording.

[2022-02-13 04:37] BrianMouncer commented on #1406
@hu1240050829

It is part of the nuget package,, but it can also be downloaded directly from https://aka.ms/csspeech/linuxbinary

[2022-02-13 05:28] #1401 closed

[2022-02-13 05:30] BrianMouncer commented on #1401
@Matt-Finlay

Thanks for telling us know you resolved the issue. What was the issue you fixed?
Was this related to disposing of objects correctly?
What could we document better, so you could have root caused this quicker?

Thanks,

[2022-02-13 09:44] CodingOctocat opened #1411 "Event SpeechEndDetected doesn't raise."
I have a simple text to SRT function(Text to speech, then speech to text), and I use `TaskCompletionSource` to notify the end of the task, but `SpeechEndDetected` doesn't seem to be triggered.

P.S: I used to save the synthesized speech as a wav file first and it worked fine. Now, I'm operating directly on the memory stream and I've found this problem.

[code]
[code]

[code]

Output:
[code]

[2022-02-13 10:08] CodingOctocat commented on #1411
Following the guidelines of this **Duplicate of #1277**, I added a line of code:

[code]
This did solve my problem, but I don't know if this is the right "pattern", so if anyone knows, please let me know so I can do it with confidence.

[2022-02-13 11:39] NiclasSchwalbe commented on #1408
You saved me a lot of time. Thank you ;)
Works now.

If you wish, I will make a push request with changes in the comments of the code, clarifying the "Recognized" and "Canceled"

[2022-02-13 11:39] #1408 closed

[2022-02-14 16:00] yulin-li commented on #1409
@Jun711, thank for reaching out but unfortunately out REST api doesn't support word boundary, nor other events such as viseme or bookmark.

We recommend you to use our SDK to get them.

[2022-02-15 17:33] BrianMouncer commented on #1408
If you prepare changes, just tag me so I can review.
What sample were you using as a starting point?

[2022-02-15 17:58] BrianMouncer commented on #1411
That is correct.

When reading from file, the sdk will automatically send zero bytes and endpoint when it hits end of file.
When you are sending audio via a buffer, you either have to return zero bytes on the stream read, so it know no more data will come, or you have to send enough silence that the service will endpoint for you.

Another experiment you could do is add the Break tag to your SSML t

[2022-02-15 18:28] BrianMouncer commented on #1410
I will open a work item to improve our documentation for our various "offset" properties.
In the meantime, see if this will help.

The "offset" is from the start of the current audio stream, more specifically the start of audio in the stream.
e.g. why using "session started", "audio started" would have a variable amount of drift because of startup delays and beginning silence that is skipped over.

[2022-02-15 18:45] BrianMouncer commented on #1341
@Tenzer

I added 3.10 wheels in our [1.20 release](https://pypi.org/project/azure-cognitiveservices-speech/1.20.0/#files).

[2022-02-15 19:35] brandom-msft commented on #1411
Thanks for using the Speech SDK! As you've already found, you do need to close the stream as otherwise there is no way to determine that the data is complete.

[2022-02-15 19:52] josephsctan commented on #1410
Hi There @BrianMouncer

Thanks for the information.

That would probably work, if we capture the browser  time when we receive the speechStartDetected event, and adjust by the browserOffsetMs.

Unfortunately, that event seems to be missing in the Conversation Transcriber (CT).
It does exist in the Speech Recognizer, though. Is there a equivalent for CT?

Thanks

[2022-02-15 23:20] Jun711 commented on #1409
@BrianMouncer @yulin-li Thank you.

It seems that it is using websocket to get word boundary. From the [example](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/python/console/speech_synthesis_sample.py#L432), it subscribes to `synthesis_word_boundary.connect` events to get word boundaries.

I have some questions
1) Are they guaranteed to come in the correct sequ

[2022-02-16 01:57] josephsctan commented on #1410
Hi There,

Some updates:
* The offset reported in the "speechStartDetected " is just the offset of the first snippet. But we can use it to work back to the start of the audio.

* When using Conversation Transcriber, it is possible to do this:
[code]
* Using Adjusted Offset, it will be possible to work out the 'real' time an event happened.
* If start/stop is used during the conversation, we also n

[2022-02-16 07:51] ds-combine-ai commented on #1397
Hi @dargilco.  I finally figured this out, so just letting you know what the problem was.  After much searching and reconfiguring, it turned out this was the thread that pointed me in the right direction https://docs.microsoft.com/en-us/answers/questions/452532/not-able-to-access-the-cognitive-service-urlfrom-i.html

I had tried a few times to create a Speech Service in my Azure, and I think durin

[2022-02-16 09:15] Shubham7054 opened #1412 "Continuous speaker recognition"
Hey, In the documentation there is [recognize once method](https://docs.microsoft.com/en-us/java/api/com.microsoft.cognitiveservices.speech.speechrecognizer.recognizeonceasync?view=azure-java-stable), but we need continuous recognition so that if there is a voice change it can detect. I was curious if it's possible or we have to call recognize once in an interval of 5-10 seconds.
Also our input wi

[2022-02-16 13:08] #1411 closed

[2022-02-16 17:39] brandom-msft commented on #1412
Hi @Shubham7054, we do support continuous recognition - you can find the [documentation here](https://docs.microsoft.com/java/api/com.microsoft.cognitiveservices.speech.speechrecognizer.startcontinuousrecognitionasync?view=azure-java-stable). If you haven't already, take a look at our [samples and quickstarts](https://docs.microsoft.com/azure/cognitive-services/speech-service/get-started-speech-to

[2022-02-16 18:10] kleindev opened #1417 "Turn around time for South Central US Changes?"
I believe we appear to be experiencing transcription times greater than 4 hours.  We'll create a SAS url for the audio to expire UTC + 4 hours.  However as of yesterday we're starting to receive failures because the Audio SAS url is no longer valid.

An example item here:

SouthCentralUs ->
https://southcentralus.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions/0f45c488-898d-4c74-85a5-

[2022-02-17 16:39] #1417 closed

[2022-02-17 19:38] BrianMouncer commented on #1410
@josephsctan

I'm talking with some team members about how to best do this, but there does not seem to be an easy way to do this.
Internally, we do keep a timestamp of when the first events came back from the service, and we use that the calculate some "user perceived latency" metrics around how long the caller had to wait from starting the recognition, to receiving the first results back from the

[2022-02-18 03:03] jzhw0130 commented on #945
@dargilco

Hi, do we support `bn-BD` now?
According to [Language and voice support for the Speech service](https://docs.microsoft.com/en-gb/azure/cognitive-services/speech-service/language-support#:~:text=Neural%20voices%20%20%20%20Language%20%20,%20ar-SA-HamedNeural%20New%20%2025%20more%20rows), seems not yet?

[2022-02-18 11:14] kamrapooja commented on #1051
Hi we are creating application in python for speech to text and we are using azure cognitive services for the same.
import azure.cognitiveservices.speech
speech_config = speechsdk.SpeechConfig(subscription=key, endpoint=endpoint)
speech_config.request_word_level_timestamps()
speech_config.diarizationEnabled(True)
speech_config.output_format=speechsdk.OutputFormat.Simple
speechsdk.audio.AudioConfig

[2022-02-18 11:19] zhouwangzw commented on #1051
@kamrapooja The code you are using is not for Batch transcription, but for realtime transcription. If this is what you intend for, please look at Speech SDK documentation for details: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-sdk?tabs=android%2Cubuntu%2Cios-xcode%2Cmac-xcode%2Candroid-studio. The python API reference is https://docs.microsoft.com/en-us/python/

[2022-02-18 11:34] kamrapooja commented on #1051
Thanks a lot.
One doubt, batch Transcription can be used with blob storage only or it can be used on local stored files as well?
Please respond

[2022-02-18 11:39] zhouwangzw commented on #1051
batch transcription works with blob storage, and other http downloadable sources. If you store files locally, you need to have a HTTP server to make these files be accessible.

[2022-02-18 12:38] kamrapooja opened #1419 "Need to understand Batch Transcription"
I want to implement Speaker Diarization with speech to text functionality. But this functionality is only availalabe in Batch transcription API. I have gone through sample code as well that is available here:
https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/batch/python
In the sample swagger_client has been used. I am not able to understand why we are using swagge

[2022-02-18 12:44] zhouwangzw commented on #1419
The azure.cognitiveservices.speech package is for real-time transcription only. Batch transcription is a REST API, which is not included in that packages. The sample you referred is using swagger generated REST client to call batch service, but you can also write your own REST client to call batch transcription. This is the batch documentation: https://docs.microsoft.com/en-us/azure/cognitive-serv

[2022-02-18 13:29] kamrapooja commented on #1419
Implemented. Thanks a lot. One question, is there any upper limitation on audio file size as well?

[2022-02-19 08:15] sandrohanea commented on #1280
Hello @dargilco ,
We started to get the same error when a wrong subscription region is provided.
Previously it failed with an meaningful exception.
We're using 1.18.0.

Sample code (ignore invalid wave data as it doesn't matter in this scope):
[code]

[2022-02-21 03:46] josephsctan commented on #1410
Hi There,

Thanks. I'm basically starting a recording and piping that audio stream through to Conversation transcriber using a push stream. My use case was to be able to relate  the offset recorded in the result to the start time of the recording, which, for various unavoidable reasons, can be 2-3 seconds before the start of the session.

With the workaround that I used above, I am able to derive

[2022-02-21 13:19] pmanvi opened #1420 "Not able run the SSML with background audio."
**Describe the bug**

The moment we include background audio
Ex:
val synthesizer = SpeechSynthesizer(speechConfig, null)
val result = synthesizer.SpeakSsml("""<speak version="1.0" xml:lang="en-US" xmlns:mstts="http://www.w3.org/2001/mstts">
   <mstts:backgroundaudio src="https://actions.google.com/sounds/v1/crowds/battle_crowd_celebration.ogg" volume="0.7" fadein="3000" fadeout="4000"/>
   <voice

[2022-02-21 13:21] Chris1234567899 commented on #301
@wolfma61
Sorry for coming back to this. I just wonder - it has been 2 years now - is there any progress on diarization with >2 speakers?

[2022-02-21 13:47] eldakms commented on #301
@Chris1234567899 , this feature is currently in the private preview. Tentative date for the public preview is April 2022. If you want to try early bits/private preview, please ping me directly at eldak at microsoft dot com. Thanks!

[2022-02-21 15:09] brknbyt opened #1421 "Last word from last speech recognition is leading next recognition with phrases added and EndSilenceTimeoutMs at 0"
**Describe the bug**

When adding phrases with dashes("-") to the speech recognizer and saying first the added phrase then anything else, the last word of the phrase is added to as the first recognized word in the next recognition. This problem only appears when the EndSilenceTimoutMs is set between 0-9 or larger than 2000. It does not appear when the value is set between including 1000 and 2000.

[2022-02-22 01:33] samjonescode opened #1422 "Cannot read property 'options' of undefined within Pronunciation Assessment library."
**Describe the bug**
Unable to use the Pronunciation Assessment JavaScript library. Encountering an error when using 'PronunciationAssessmentConfig.applyTo'. Source of the error is inside SpeechContext.js class, see screenshots at the bottom of the issue.

**To Reproduce**
1. npm install the microsoft speech services dependency (into an **Angular 13** app).
2. Paste in the boilerplate code provide

[2022-02-22 09:57] ilanh opened #1423 "Please add Arm64 version for linux"
If running python docker in an M1 machine getting:
ERROR: Could not find a version that satisfies the requirement azure-cognitiveservices-speech (from versions: none)
ERROR: No matching distribution found for azure-cognitiveservices-speech

steps to reproduce:
`docker run --rm python:3.9 pip install azure-cognitiveservices-speech`

verify arch:
`docker run --rm python:3.9 uname -a`
outputs
`Linux

[2022-02-22 13:57] kamrapooja commented on #1419
I have implemented the azure Batch Transcription REST API. In the document it is written that we can get capitalized and punctuated text in "Display" key. But in "Dispaly" it is also converting numeric data to number. e.g. 63 miles instead of sixty three miles.
Can we get data in words only"
Lexical is only raw data without punctuation.
We want data with punctuation only.
Please suggest for the sa

[2022-02-23 02:17] jhakulin commented on #1423
@ilanh We do have Python wheels for 3.9 and arm64 for M1, see https://pypi.org/project/azure-cognitiveservices-speech/#files
and there azure_cognitiveservices_speech-1.20.0-cp39-cp39-macosx_11_0_arm64.whl
However I am not sure how things should be configured on docker, wheel package we released has been verified on local machine using pip install. One option to try here is to download the wheel an

[2022-02-23 02:20] jhakulin commented on #1423
@ilanh Are you running Docker on Linux or Mac ? I was maybe confused with M1 referring to Mac

[2022-02-23 05:42] yulin-li commented on #1362
This bug were fixed and deployed.

[2022-02-23 05:42] #1362 closed

[2022-02-23 06:20] kamrapooja commented on #1419
Please respond

[2022-02-23 06:27] zhouwangzw commented on #1419
@kamrapooja it is currently not supported to have punctuation only without other post processing features.

[2022-02-23 08:25] kamrapooja commented on #1419
@zhouwangzw thanks for the response

[2022-02-23 08:25] #1419 closed

[2022-02-23 08:25] kamrapooja commented on #1419
Closed

[2022-02-23 16:09] kamrapooja commented on #1384
Any timeline by when this feature [diarization >2]  will be added

[2022-02-23 16:13] kamrapooja opened #1424 "Input URL for Batch Transcription API"
As per Batch Transcription document, Content url can be either Blob or Blob Container.
Will it not work if i give audio url that is there on one of our servers. e.g. audio resides in jboss server locally

[2022-02-25 08:18] leonardltk opened #1428 "error while loading shared libraries: libMicrosoft.CognitiveServices.Speech.core.so: cannot open shared object file: No such file or directory"
I am trying to run a tts like in https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/cpp/linux/text-to-speech

What i have done is follows:
1. install the sdk
2. updated my machine via
[code]
4. Compiled it using `make`, and outputs are like:
[code]
6. Run it like:
[code]

However i got the following error message
[code]

**Version of the Cognitive Services Speech

[2022-02-25 19:35] trrwilson commented on #1420
@yulin-li can you comment on the expected behavior with `<mstts:backgroundaudio/>`? I'd actually never seen this extension before!

[2022-02-25 23:30] trrwilson commented on #1421
Thank you for getting in touch, @brknbyt ! This is a *fantastic* level of detail for the issue report and I really appreciate the effort to get us all the information needed. It worked.

This appears to be an unintended interaction between setting "punctuation=none" and using dynamic grammar information (PhraseListGrammar) entries that contain punctuation. With your input file, I'm able to consist

[2022-02-25 23:35] trrwilson commented on #1423
@jhakulin got all the info but I'll just add the [documentation link](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-sdk?tabs=linux%2Cubuntu%2Cios-xcode%2Cmac-xcode%2Candroid-studio#tabpanel_1_linux) for reference.

Quoted from there:

[2022-02-25 23:47] #1412 closed

[2022-02-26 00:05] trrwilson commented on #1424
The swagger document might be a bit clearer on the inputs: https://westus.dev.cognitive.microsoft.com/docs/services/speech-to-text-api-v3-0/operations/CreateTranscription

`contentContainerUrl` will need to refer to an appropriate Azure item, but `contentUrls` can include any locations that are accessible for the request -- e.g. in the above the "contoso.com" URLs.

[2022-02-26 12:20] garamon commented on #1320
I add
[code]
to the Podfile. I can successfully archive it.

* MicrosoftCognitiveServicesSpeech-iOS (1.20.0)
* Xcode 13.2.1
* OS: macOS 12.2.1
* Hardware ARM (M1)

[2022-02-27 17:41] ilanh commented on #1423
Got it,
in that case, my request is that if it's possible,  add a wheel for ARM64 Debian/Ubuntu.

[2022-02-28 07:03] yulin-li commented on #1422
fixed with https://github.com/microsoft/cognitive-services-speech-sdk-js/pull/487. Thanks @samjonescode !

[2022-02-28 07:03] #1422 closed

[2022-02-28 07:57] yulin-li commented on #1420
Hi @pmanvi thanks for reaching out, I checked your SSML, looks it's incomplete.

You can follow the[doc](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-synthesis-markup?tabs=csharp#add-background-audio) to add `<speak>` tag.

I modified your SSML and the following works.

[code]

[2022-02-28 16:16] yulin-li commented on #1380
Hi @wing199901 We will implement this feature and release it with next version (1.21).

We tracked this internally (id 4094454), so I will close the issue here. Fell free to reopen it for any concerns

[2022-02-28 16:16] #1380 closed

[2022-02-28 16:25] sparshsinha123 commented on #1271
@DaddyWesker When I added the following lines to your code above to see the error message while enrolling
[code]
I get the following error
[code]

@glharper what is the activation phrase here?

[2022-02-28 17:21] glharper commented on #1271
@sparshsinha123 @DaddyWesker Currently for Independent scenarios, the activation phrase is "I'll talk for a few seconds so you can recognize my voice in the future."

There is a VoiceProfileClient::GetActivationPhrasesAsync(profileType, languageCode) API to retrieve the latest activation phrase, in the unlikely event the phrase changes in the future (more likely is that new phrases will be added s

[2022-03-01 05:16] yulin-li commented on #1409
yes

We don't, but you can detect if it's the last word by `textOffset`

Word boundary events are always sent before the corresponding audio

You don't need to care about the websocket connection. You can just use `SpeechSynthesizer` and SDK will handle the connection.

[2022-03-01 09:46] sparshsinha123 commented on #1271
Hey @glharper, thanks for pointing out.
So is the activation phrase required every time we enrol a speaker?

[2022-03-01 15:42] glharper commented on #1271
@sparshsinha123 Yes, the activation phrase is required at the start of the audio, for every voice profile you would like to enroll. After the activation phrase, you can use different phrases for independent scenarios. But the activation phrase must come first.

[2022-03-01 16:05] rhurey commented on #1428
Did you add the Speech SDK location to the library path?

https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/cpp/linux/text-to-speech#run-the-sample

[2022-03-01 17:11] kamrapooja commented on #1424
Ok thanks, will check it and will revert in case any problem.

[2022-03-01 17:11] kamrapooja commented on #1424
Closed

[2022-03-02 12:34] dortiboy commented on #502
Hello @rhurey thanks for the explanation on the different timeout parameters. We are currently analyzing the capabilities of STT providers and one point we want to examine is whether there is the possibility to adjust the silence period that marks the end of an utterance and beggining of the next, which I understand is the Segmentation Timeout paramenter. Is this parameter still not exposed throug

[2022-03-02 13:10] zhouwangzw commented on #1424
@kamrapooja Is this ip and port public accessible? Could you please share the transcription id that failed, and we can check why it failed.

[2022-03-02 14:37] bisquad opened #1429 "TypeError when calling AudioConfig.fromWavFileInput in the JS SDK."
In my index.html I have the following scripts which are largely taken from the JS browser sample.

[code]

I get the following error.

[code]

The line throwing the error is line 202 from FileAudioSource.ts: `processHeader(h.buffer.slice(h.byteOffset, h.byteOffset + h.byteLength));`

My package.json is as follows.

[code]

[2022-03-02 15:27] LedanDark commented on #502
Dear sender,

Please start a ticket in our support-system to receive an answer from our
engineering team.

Best,
Team Furhat

On Wed, Mar 2, 2022 at 1:34 PM dortiboy ***@***.***> wrote:

--

---

We're hiring - join our team! <https://www.furhatrobotics.com/careers/>

Team Furhat

***@***.***

www.furhatrobotics.com

[2022-03-02 23:08] Jun711 commented on #1409
@yulin-li Thank you!

[2022-03-02 23:08] #1409 closed

[2022-03-02 23:22] rhurey commented on #1429
From a browser you'll need to pass a File object and not a file name. The SDK won't try to read arbitrary files, and the support for file names is for use from NodeJS.

There should be a better error message for that scenario, thought.

[2022-03-03 01:09] jhakulin commented on #313
@jlchappell Here is the list of supported Linux distros. I believe you can use Ubuntu on RPi2
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-sdk?tabs=linux%2Cubuntu%2Cios-xcode%2Cmac-xcode%2Candroid-studio#get-the-speech-sdk

As this issue is closed, please create new issue for any further questions.

[2022-03-03 06:08] kamrapooja commented on #1424
Pleae help

[2022-03-03 06:27] zhouwangzw commented on #1424
The service log shows that the failure of the transcription with id "125598df-0963-4510-b819-0857cfa673fb" was due to using diarization with stereo audio. You can find error message in the report.json which is included when you GET transcription files. Currently, diarization only works with mono audio.
Thanks!

[2022-03-03 11:14] bisquad commented on #1429
Thanks, that was the problem.

[2022-03-03 11:14] #1429 closed

[2022-03-03 11:50] kamrapooja commented on #1424
@zhouwangzw - Thanks a lot. Able to get data after converting audio to mono type.

[2022-03-03 21:59] Nyankoo opened #1430 "Pronunciation assessment - Extra words issue"
**Describe the bug**
When using `PronunciationAssessmentConfig` with the `referenceText` "女は可愛いです" and then recoding "女**と男**は可愛いです" via microphone input, the recognized text in `e.Result.Text` is still "女は可愛いです", which makes it impossible to check if the recognized text matches the expected text.

**To Reproduce**
[code]

**Expected behavior**
A way to identify that the recorded input doesn't mat

[2022-03-04 03:59] yinhew commented on #1430
Hi, @Nyankoo

Our API currently has constraint which can only recognize the words that appear in reference text.
e.g. referenceText "女は可愛いです", recording "女は可愛いです可愛", then the second "可愛" will be recognized.

Thanks,
Yinhe

[2022-03-04 11:01] Nyankoo commented on #1430
Hi @yinhew
thank you for looking into this!

Is there any other way or a workaround to at least check if what the user recorded is different from what is expected?
Currently, a wrong but similar sentence like the example above will result in an ok-ish accuracy score, so it is hard to differentiate if the recording is simply pronounced wrong or actually something different.

[2022-03-04 12:35] alanj1998 opened #1431 "Is it possible to return words in canonical (formatted) form?"
Hi,

I am working with the ContinuousRecognitionAsync functionality with configuration which enables RequestWordLevelTimestamps.
When the word list is returned with the timestamps, the word property contains the detected word in its lexical form.
Is it possible to return these in their formatted structure? For example:

**Lexical text**: "hello my name is bob"
**Recognized text:** "Hello. My name

[2022-03-05 00:43] yinhew commented on #1430
@Nyankoo to work around, you can set reference text to empty when sending the request, and then use the recognized text to compare to the reference text.

[2022-03-05 12:01] amand26 opened #1432 "Error code: 1007. Error details: Unsupported audio format."
**Describe the bug**

Transcribing audios using Azure Speech To Text SDK in python. For one audio getting the transcription correctly, while for the other getting the error **Speech Recognition canceled: CancellationReason.Error Error details: Connection was closed by the remote host. Error code: 1007. Error details: Unsupported audio format.**

audio1.wav - Getting the correct transcription
audio

[2022-03-06 01:23] Nyankoo commented on #1430
@yinhew This doesn't seem to work, as `PronunciationAssessmentResult.FromResult(e.Result).Words` seems to only have the full sentence instead of each individual word.

I need the accuracy score of each individual work AND to be able to check if the recording of the user is correct.

[2022-03-07 12:29] TwinMist opened #1433 "Add silence"
Hi
When using cognitive-services-speech-sdk/samples/js/browser/synthesis.html
is it possible to add 1 second silence to start of the generated audio without using ssml option?
thanks

[2022-03-07 18:09] rhurey commented on #1431
Today word level timing is only available with the lexical form.

Speaker diarization is available from the ConversationTranscriber object.

[2022-03-08 03:10] Jun711 commented on #1409
@yulin-li How do I turn on error logging for this SDK? I notice that sometimes there is 502 error but there is no error logged.

[2022-03-08 03:13] yulin-li commented on #1409
see [here](https://docs.microsoft.com/azure/cognitive-services/speech-service/how-to-use-logging)

[2022-03-09 08:43] ralph-msft commented on #1432
Thanks for using the Cognitive Services Speech SDK.

Unfortunately audio2.wav doesn't have a valid WAVE file header which is why you are getting the cancellation event above. To be specific, the BlockAlign value is incorrectly set to 4 (it should be).

In audio1.wav the BlockAlign is correctly set to 2 in which is why it works.
The reason you are getting that cancellation event from the recognizer

[2022-03-09 20:24] amand26 commented on #1432
Hi @ralph-msft , Thanks for responding to this quickly. I am able to get the transcription now. One quick question, Shouldn't there be a functionality where, if the header is corrupt, it automatically figure out the required metadata from the audio itself?

[2022-03-09 23:04] ralph-msft commented on #1432
Automatically correcting for corrupted header is not possible. In WAVE files, the header itself is what contains the following information:
* Sampling rate
* bits per sample
* number of channels
* endianness of audio samples
* format of the audio samples

If the header is corrupt, there is no way to definitively know what information is correct. For example, in audio2.wave we could just have easil

[2022-03-09 23:04] #1432 closed

[2022-03-10 01:55] 7i77an opened #1434 "Crash sdk after cancel event fired"
**Describe the bug**

I have a windows service which uses StartContinuousRecognitionAsync.

The service processes N concurrent interactions.

At some point, the sdk generates a cancellation event on which when the reason for the cancellation is going to be logged, a crash is generated.

There are other times where the sdk generates that cancel event and it works fine.

After sdk fired canceled eve

[2022-03-11 12:56] Nolent opened #1436 "Bad email recognition in french"
**Describe the bug**
Sorry if this bug should not be reported here, i just don't know where to post it
In french, when an email is recognized, some words of the sentence are squashed in it.
I don't know if this problem occur in other languages.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Say a sentence containing a email address, in french
2. Launch recognition

**Expected behavio

[2022-03-14 12:51] martingholmes opened #1437 "Blazor Server Side Example"
Hi, I am new to web development and trying to get going with Blazor. Is there any one with an example Blazor Server Side example of speech to text using browsers microphone?

[2022-03-14 17:00] chschrae commented on #1437
Hi there!

Thanks for reaching out. Although we don't have a Blazor sample, it would seem that Blazor is able to run .NET assemblies and so I would imagine the .NET code would be the sample to try and follow. Have you tried that?

If you are having trouble with some code, could you share some of your code and describe where it doesn't work as expected?

[2022-03-14 20:57] chschrae commented on #1434
Hi there,

Thanks for reaching our. Are you able to provide any more of the code? We haven't been able to reproduce this yet.

Also is there a way you could run it with a log file set and then upload the log?

[2022-03-14 21:26] Nyankoo commented on #1430
@yinhew Any update on this?

[2022-03-15 04:19] fezuo commented on #1436
Thank you for reporting this issue, we will improve email address display format and fix this case.

[2022-03-15 07:15] yulin-li commented on #1430
@Nyankoo looks I cannot repro your issue. I got 4 words in `PronunciationAssessmentResult.FromResult(e.Result).Words`

![image](https://user-images.githubusercontent.com/12013783/158325725-97c08525-22d1-4e2f-8416-1b9eb1b2c6d7.png)

[2022-03-15 09:21] martingholmes commented on #1437
Hi, I have my code wortking in C# in both console and winforms. It's the bit around accessing microphone in Blazor and JSinterop im struggling with. Would like to use StartContinuousRecognitionAsync() so would need access to the buffer stream of the microphone

[2022-03-15 10:11] Nyankoo commented on #1430
@yulin-li Yes, that isn't the issue. The issue is that when using PronunciationAssessmentConfig, I can say something similar or with additional words, and the SDK will not recognize that.

For example:

"女は可愛いです" results in what you have on your screenshot and equals what we wanted the user to say.
"女と男は可愛いです" will also result in what you have in your screenshot, but with less AccuracyScore. The A

[2022-03-15 12:56] sibbl opened #1438 "C# SDK: add RequestWordLevelConfidence and expose word level confidence in WordLevelTimingResult"
It's currently already possible to request word level timings using

[code]

The results then are accessible in each `WordLevelTimingResult` of the enumerable `speechRecognitionResult.Best().FirstOrDefault().Words`.

On the same level, I'd appreciate if a `RequestWordLevelConfidence` method could be implemented.

I know that it's currently already possible to use

[code]
and then parse
[code]

int

[2022-03-15 17:17] chschrae commented on #1436
Closing the issue to keep the issues fresh.

[2022-03-15 17:17] #1436 closed

[2022-03-15 17:23] chschrae commented on #1437
Since I'm not that familiar with Blazor, I'm not 100% sure what you need. But if you need to work with a stream instead of a microphone there are pull and push stream samples that show how to do that. Have you tried those?

[2022-03-15 22:15] chschrae commented on #1434
I've been doing some testing around this and I think the issue may be related to your use of sstream within a callback and not flushing it.

What is happening is that sometimes the callback thread is freeing its variables before the stream is flushed. Then when the stream is attempting to add the args members, it throws an exception.

Can you try adding a flush to ssresponse before exiting the cal

[2022-03-16 02:51] 7i77an commented on #1434
If I clear the ssresponse variable before exiting I don't have the reason why it failed.
It is the purpose of the variable.

I'm going to add log to the library to see if it gives us any other clues.

Something strange that is happening to me is that with sdk 1.12, it crashed often but it correctly detected the intention in the NLU model.
I have continuous speech recognition associated with an NLU

[2022-03-16 04:33] yinhew commented on #1430
@Nyankoo  can you share your audio file for "女と男は可愛いです" ?

[2022-03-16 08:05] sibbl commented on #1438
Hi @trrwilson, thanks for the quick response!

Sounds like very good timing indeed!

To be honest I don't recall any specific documentation on `OutputFormat.Detailed` but would agree that it makes sense to include as much detail as possible with this setting by default. On the other hand, I also don't have any insight into what this does performance-wise and whether you'd get faster responses with

[2022-03-16 17:07] chschrae commented on #1434
@7i77an I wasn't suggesting that you clear the ssresponse variable, just to call .flush() on it so that all of the characters are written to the stream at that point and not delayed.

Streams are not by default synchronized with their output sequence and so flush must be called when using variables that may no longer be available when the synchronization occurs. https://www.cplusplus.com/reference

[2022-03-16 21:10] Nyankoo commented on #1430
@yulin-li @yinhew There is no audio file, only microphone input.

[2022-03-17 02:36] yulin-li commented on #1433
Hi @TwinMist , I think SSML is the only way to add silence.

[2022-03-17 06:58] TwinMist commented on #1433
Can you show me how to do this plz

[2022-03-17 21:51] mrx23dot commented on #233
There should be an older version that supports win7
this is from 2011 https://stackoverflow.com/questions/5813746/microsoft-speech-api-installation

[2022-03-17 23:34] mrx23dot commented on #233
This one works great, no dependency, only REST API:
https://github.com/mediatechlab/tts-wrapper

[2022-03-18 01:15] CodingOctocat commented on #1438
I implemented the speech to SRT function using the Recognizing and Recognized methods, and it is word level(Infinity Approach).
I haven't found an open source implementation of Azure's speech to SRT yet, so I'm going to put my method on Github in the next few days, and I'll let you know then.

[2022-03-18 06:10] yulin-li commented on #1430
Hi @Nyankoo as we are not Japanese speakers... would you like to share a audio that could repro this issue?

[2022-03-23 00:39] Nyankoo commented on #1430
@yulin-li We can't share an audio file right now, but this behavior should also be reproduceable with any other language, eg. English.

Simply test the following:
- `new PronunciationAssessmentConfig("The woman is beautiful", GradingSystem.HundredMark, Granularity.Word, true)`
- Audio input/recoding: "The woman and the man are beautiful".

This should result in a low Accuracy Score, but with no ac

[2022-03-23 01:19] yinhew commented on #1430
@Nyankoo looks you didn't follow my guidance above. The reference text need be set to empty.

[2022-03-23 01:33] Nyankoo commented on #1430
@yinhew maybe you didn't read my replies above, but setting the reference text to empty doesn't work. See the quote below.

[2022-03-23 02:28] yinhew commented on #1430
@Nyankoo I tried below config and can see the accuracy score on individual word:

- new PronunciationAssessmentConfig("", GradingSystem.HundredMark, Granularity.Word, true)

- Audio input/recording: "good morning"

Output:

![image](https://user-images.githubusercontent.com/46698869/159611884-7391bfe6-bf32-410b-a4a8-d9458f29166a.png)

[2022-03-23 10:19] balinttahi opened #1440 "Speech recognition canceled: SPXERR_START_RECOGNIZING_INVALID_STATE_TRANSITION"
**Describe the bug**
I am getting the following result status: Canceled, with these details:
[code]

**To Reproduce**
I can not reproduce it intentionally, this happened twice, nothing helped, just waiting for 8-10 hours ... and it was working again. I am using this code:

[code]

**Expected behavior**
I would expect a bit more details regarding the cancel reason, than a string above and I also ca

[2022-03-23 11:27] SGNjogu opened #1441 "Language Identification Continuous Recognition Sythesizing"
I have a scenario where I need audio returned after speech has been translated using continuous recognition. The rest of the events work just fine for me.

Are there plans to have this implemented, and if so is there an approximate ETA?

My current consideration is to use Recognized to return text, and then convert that text to speech, which isn't the most ideal scenario.

I could also be wrong an

[2022-03-23 14:05] gyuri-fluttech opened #1442 "Crash reported on iOS"
**Describe the bug**
A crash was reported on iOS but cannot reproduce it.

**To Reproduce**
Please check the attached crash log.

**Expected behavior**
The sdk works without unexpected crashes

**Version of the Cognitive Services Speech SDK**
1.19.0

**Platform, Operating System, and Programming Language**
 - OS: iOS
 - Hardware -ARM-64
 - Programming language: Swift

[crashlog.log](https://github

[2022-03-23 20:33] dargilco commented on #1441
What programming language are you using?

See an example of how to do this in C++:
https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/cpp/windows/console/samples/translation_samples.cpp#L82

From the TranslationSynthesisEventArgs you can get the TranslationSynthesisResult which includes an audio buffer of the synthesized audio in the target language:
https://docs.mi

[2022-03-23 20:35] Nyankoo commented on #1430
@yinhew I tested a little bit more, and it seems the issue is caused by using a phrase list and the fact that Japanese doesn't have spaces between words.

When adding spaces in between words, we can reliably get each word's accuracy score. Without the spaces, the SDK recognizes everything as one word. Saying the sentence very slowly fixes this issue, but is not really a solution.

Thank you for as

[2022-03-24 03:34] SGNjogu commented on #1441
I'm using C#.

For the examples given, synthesizing works just fine.

My scenario needs continuous language identification, as in this example:
https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/a3f9e4a63394acd8adc11252c6bcf7f247155b22/samples/csharp/sharedcontent/console/translation_samples.cs#L587

The synthesizing event for this is not in the documentation, and doesn't fire, bu

[2022-03-24 05:15] yinhew commented on #1430
@Nyankoo I tried below config and can see the accuracy score on individual word:

new PronunciationAssessmentConfig("", GradingSystem.HundredMark, Granularity.Word, true)

Audio input/recording (synthesized by our TTS API): "女と男は可愛いです"

![image](https://user-images.githubusercontent.com/46698869/159847090-d77dbd77-01b0-4409-955e-0fa4d804c93e.png)

[2022-03-24 05:38] dargilco commented on #1441
TranslationRecognizer in C# has a Synthesizing event with the audio buffer (https://docs.microsoft.com/en-us/dotnet/api/microsoft.cognitiveservices.speech.translation.translationrecognizer.synthesizing?view=azure-dotnet). You can use the TranslationRecognizer with or without Language ID (continuous or at-start) and for both cases the Synthesizing event should fire. Are you saying that this event i

[2022-03-24 06:04] SGNjogu commented on #1441
Yes, the event is defined in the recognizer, but for the specific recognizer in the example above, the Synthesizing event doesn't fire. My scenario requires two target languages, but even with one TargetLanguage, it still doesn't fire. It identifies the language the user is speaking and translates correctly, but I need this event to fire to get the translated audio.

[2022-03-24 08:45] Nyankoo commented on #1430
@yinhew Did you also use a phrase list with "女と可愛いです"?

[2022-03-24 08:46] yinhew commented on #1430
@Nyankoo no, I didn't use any phrase list.

[2022-03-24 08:51] Nyankoo commented on #1430
@yinhew Like I mentioned in my previous message, to reproduce this issue, you need to use a phrase list.

[2022-03-24 09:02] yinhew commented on #1430
@Nyankoo why you need set phrase list?
Phrase list is not recommended for pronunciation assessment API

[2022-03-24 09:09] Nyankoo commented on #1430
@yinhew Because we expect specific sentences and without a phrase list, recognition is not accurate enough. This is mostly a problem with names, as the API recognizes other words that are similar instead of the name.

[2022-03-24 10:02] thedoomx opened #1443 "Multi-device javascript example no longer working"
**Describe the bug**
Javascript multi-device sample stopped working, when trying to use microphone.

**To Reproduce**
Steps to reproduce the behavior:
1. download this example - https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/javascript/browser/multi-device-conversation
2. create conversation and start speaking

**Expected behavior**
A clear and concise descri

[2022-03-24 16:50] SGNjogu commented on #1441
I am implementing the method  [https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/a3f9e4a63394acd8adc11252c6bcf7f247155b22/samples/csharp/sharedcontent/console/translation_samples.cs#L587]  as is.

The only difference is that instead of using a pre-recorded file as in

I am using input from a microphone as

I have tried using a pre-recorded file as well, but Synthesizing still did

[2022-03-24 21:25] brandom-msft commented on #1443
@thedoomx Thanks for raising the issue, a [fix](https://github.com/microsoft/cognitive-services-speech-sdk-js/pull/507) has been merged and will be part of our upcoming release.

[2022-03-24 21:55] dargilco commented on #1441
Thank you for the additional information. Can you please try to do recognition with language id, and see if you get the synthesizing events? I know this is not your scenario, but I want to make sure you get those events in your code, when not using LID. This will tell me there is something about LID feature that causes events to to be fired.

Also, for the failing case, can you please provide Spee

[2022-03-25 05:14] ajeet95charan commented on #1051
@zhouwangzw we have been trying to use batch transcription to detect whether the audio has more than one speaker but diarization is not working. every time it is giving speaker 1 only

we are running speech service in south central US also set diarization enabled with wordLevelTimestampsEnabled

not getting a single line for speaker 2

please respond

[2022-03-25 15:40] Remmy27 opened #1445 "The main.py code for transcription using the Python SDK does not work"
**Describe the bug**
I have followed the steps to run the main.py speech transcription here: https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/batch/python

I have generated the client library and have used pip to install it. I've then set my keys and regions and other variables in the code and when I have run it I get the following error.

'swagger_client' has no

[2022-03-25 15:53] chlandsi commented on #1445
Hi @Remmy27, please try this url for generating the swagger: https://westus.dev.cognitive.microsoft.com/docs/services/speech-to-text-api-v3-0/export?DocumentFormat=Swagger&ApiName=Speech%20to%20Text%20API%20v3.0 while we investigate. Thanks!

[2022-03-25 23:43] jhakulin commented on #1320
@gyuri-fluttech Just for your information, we will add armv7 support in 1.21.0 release which should fix the issue also. ETA mid April.

[2022-03-26 23:24] heeyounglee opened #1446 "How to run speech to text on a folder in blob container"
I'm using this sample: https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/batch/python/python-client/main.py

If I use URIs for a single file (RECORDINGS_BLOB_URI) or a container (RECORDINGS_CONTAINER_URI), the script works.
But if I set the URI of a folder, I get this error:

`Transcription failed: The recordings URI is invalid.`

How can i run it on a folder?

[2022-03-27 16:32] sibbl commented on #1438
@CodingOctocat just to make sure that you've not replied to the wrong issue or got us wrong: this issue is about the confidence values not being part of the word level entities provided by the SDK.

While it's in the JSON delivered from the MS server to our client (as can be seen in the JsonResult string), it's currently not parsed and not accessible on an SDK level.

I'm not sure how your project

[2022-03-28 05:33] ScholesMoneybrain opened #1447 "android java sdk repeat problem."
**Describe the bug**
The continuous recognize function only work first time.

**To Reproduce**
Steps to reproduce the behavior:
Using sample app,
1. Build and run the app.
2. On the main activity, click 'recognize continuously' and check it works.
3. Finish the main activity, re-start the main activity and click 'recognize continuously'. See the STT not work.

It doesn't work even in case of press

[2022-03-28 09:05] SGNjogu commented on #1441
I have tried both with and without language id. The Synthesizing event still doesn't fire. I have had to go around and use SpeechSynthesizer to convert text from the Recognized event to speech.

These are the logs with the Synthesizing event subscribed.

[AzureSpeechLogFile.txt](https://github.com/Azure-Samples/cognitive-services-speech-sdk/files/8361235/AzureSpeechLogFile.txt)

[2022-03-28 16:00] yulin-li commented on #1441
Hi @SGNjogu , from your log file, I found that the target languages are `fr-FR` and `en-GB`, as the doc says, the synthesizing event is fired only when there is single target languages

[2022-03-28 16:54] dargilco commented on #1441
Adding link to doc: https://docs.microsoft.com/azure/cognitive-services/speech-service/get-started-speech-translation?tabs=script%2Cwindowsinstall&pivots=programming-language-csharp#synthesize-translations

[2022-03-28 18:13] chlandsi commented on #1446
Hi @heeyounglee, this is currently not supported. You would need to enumerate the blobs with the prefix you want on your client side and use the API for multiple urls to transcribe them (up to 1000 urls are supported per request).

[2022-03-28 18:14] chlandsi commented on #1445
This will be fixed shortly with #1448.

[2022-03-29 03:19] mudssrali opened #1450 "Compatibility issue with generated speech audio in WAV format"
We're going to heavily rely on azure cognitive text-to-speech API to convert textual information to speech. Further we're passing generated speech audio (WAV) to an IVR service which says audio file must have following codec configuration:

[code]
To make sure we're aligned with this configuration we used:
[code]
We can double-check generated speech audio file has configuration as same as required

[2022-03-29 05:22] SGNjogu commented on #1441
Thanks @yulin-li @dargilco.

The event firing with only one language makes sense to me. Would be pretty nice as an added feature though, firing the event depending on the results from the recognized event. That way, you get translated text, the language ids, and the translated audio.

[2022-03-29 05:22] #1441 closed

[2022-03-30 06:47] GRPDAN01 opened #1451 "ClickOnce deployment --> missing dlls"
**Describe the bug**
When deploying a C# application using the Microsoft.CognitiveServices.Speech NuGet, only the Microsoft.CognitiveServices.Speech.csharp.dll is sent to the output

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new C# console (.NET Framework) project
2. Add Microsoft.CognitiveServices.Speech NuGet to the project
3. Build
4. Check the output directory --> All refer

[2022-03-30 20:50] ralph-msft commented on #1451
Thanks for trying the Microsoft Cognitive Services Speech SDK. Including native dependencies from Nuget packages when using ClickOnce to publish an application seems to be a general pain point.

The workaround is to explicitly add the native dependencies to your project as "Content", at which point the publish step will pick up those file. Specifically, open up your project file (```.csrpoj```) in

[2022-03-31 10:08] GRPDAN01 commented on #1451
Thanks a lot @ralph-msft . Your suggestion resolved this issue. 👍

[2022-03-31 10:08] #1451 closed

[2022-03-31 17:10] #1434 closed

[2022-03-31 17:10] #1437 closed

[2022-03-31 17:33] jhakulin commented on #1442
@gyuri-fluttech Thanks for the report, from the crashlog it is hard to identify the crash reason. Do you happen to have managed repro this problem? Would it be possible to share the app code how Speech SDK APIs are used ? Thanks!

[2022-04-01 07:46] yulin-li commented on #1450
duplicated of https://github.com/microsoft/cognitive-services-speech-sdk-js/issues/513, close here

[2022-04-01 07:46] #1450 closed

[2022-04-02 23:42] 6lv1-blr commented on #1445
In French because it's link to a french setting :
For others locales than west-us I suppose you have to use a similar swagger download modification

Bonjour, pour la france j'ai eu besoin d'utiliser le fichier json suivant au lieu du fichier du Readme.md de l'exemple dans swagger
sinon j'obtenais l'erreur 'swagger_client' has no attribute 'DefaultApi'

https://francecentral.dev.cognitive.microsoft

[2022-04-03 10:05] marcelgerber commented on #490
I also was facing this issue and had a really hard time figuring it out.
I'm running the `spx` cli through docker, and was getting this error _almost every time_.

In the end, I realized that it was caused by slow upload speeds, stemming from other devices in my WiFi uploading big files at the same time as `spx` is running. Pausing these uploads did resolve the issue.

I hope this is helpful to so

[2022-04-04 05:47] chlandsi commented on #1445
The sample is fixed. Thanks for notifying us, and sorry for the inconvenience!

[2022-04-04 05:47] #1445 closed

[2022-04-04 05:47] #1446 closed

[2022-04-04 15:03] ylz201 commented on #433
Not working yet if one audio tag and sdk version is 1.19.0

[2022-04-05 05:25] vijayprakash1 opened #1453 "method to stop the audio recognition StopAudioRecognText"
Hi Everyone

We are trying to implement infinite streaming speech-to-text transcription. To make the transcription infinite we are using the startContinuousReconition method so now there are two methods we are using 

1). AddRecogniningEventHandler gives Interim results
2). AddRecognizedEventhandler  gives the final recognition result

But there is no method to stop the audio recognition StopAudio

[2022-04-05 16:00] dargilco commented on #1453
Hi @vijayprakash1, I'm Darren from the Speech SDK team. I have a few questions:
What programming language are you using?
What operating system? (I assume iOS or MacOS based on the apple name space).
This is real-time recognition from microphone input, correct?

Objective-C has startContinousRecognition and stopContinuousRecognition methods:
https://docs.microsoft.com/objectivec/cognitive-services/

[2022-04-05 16:22] dargilco commented on #1440
Hi @balinttahi, this is Darren from the Speech SDK team. Thank you for reporting this issue. We will need an SDK log taken while this error occurred to investigate this issue. See here for instructions on how to take logs: https://docs.microsoft.com/azure/cognitive-services/speech-service/how-to-use-logging . However, I understand this may be very difficult as you don't have a consistent repro of

[2022-04-05 16:44] #1431 closed

[2022-04-05 16:45] #1428 closed

[2022-04-05 16:47] #1424 closed

[2022-04-05 16:55] dargilco commented on #1423
I opened an internal work item for consideration to support Python on arm64. Closing this issue.

[2022-04-05 16:55] #1423 closed

[2022-04-05 16:56] #1402 closed

[2022-04-05 16:59] dargilco commented on #1397
Thank you for the update. Glad it is working for you. I will close this issue.

[2022-04-05 16:59] #1397 closed

[2022-04-05 16:59] #1396 closed

[2022-04-05 18:23] dargilco commented on #1447
@ScholesMoneybrain this is Darren from the Speech SDK team. Thank you for posting this. I will try later today to run this on my Android phone to confirm your observation. I'll post an update after I do that.

[2022-04-05 23:07] Jun711 opened #1455 "Is there an API health check dashboard or notify developer tool?"
`westus2 fr-CA-SylvieNeural` has been down for quite some time

[2022-04-06 01:16] ScholesMoneybrain commented on #1447
@dargilco Thanks for the response. I found that "microphoneStream.close()" made it work again when I finish using it.

[2022-04-06 02:57] dargilco commented on #1447
@ScholesMoneybrain That's good news. If you have a fix for this sample, can you please create a pull request for this fix? I will test it and approve the fix.

[2022-04-06 02:59] dargilco commented on #1455
@yulin-li are you aware of any issues with the above region/voice-name?

[2022-04-06 03:05] yulin-li commented on #1455
@Jun711 , sorry for this. I believe it's a service issue. Could you use other regions first? I will check with service guys and let you know when it recovers.

[2022-04-06 17:19] Jun711 commented on #1455
@yulin-li yea, I changed the region to `westus` for `fr-CA-SylvieNeural` and it was ok. btw, other voices that I use are working normally using `westus2` endpoint

[2022-04-06 22:53] dargilco commented on #1447
@ScholesMoneybrain I run the sample app as-is on my Samsung Galaxy S10 phone running Android version 12. I'm able to do repeated continuous recognition sessions, so it seems to be work on my phone: I press "Recognize continuously", say a few utterances, then press "Stop". Then press "Recognize continuously" again, say a few utterances, then press "Stop" (repeat that a few times). In all cases I ge

[2022-04-07 01:02] ScholesMoneybrain commented on #1447
"Recognize continuously" again, say a few utterances, then press "Stop" => This scenario also works for me.
"Close the app by pressing back button and restart app and try again" => didn't work for me.
Maybe it is audio api issue. And I just have a device running android 9.

[2022-04-07 07:34] ylz201 opened #1456 "[express-as] element is not allowed."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. client-sdk version 1.19.0
2.
3. invoke method: synthesizer.StartSpeakingSsml(text)

**Expected behavior**

**Version of the Cognitive Services Speech SDK**
1.19.0

**Platform, Operating System, and Programming Language**
 - OS: Mac
 -JDK 1.8
 - Programming language: Java

[2022-04-07 14:44] xtianus79 commented on #743
This is still breaking in version 1.20

[2022-04-07 14:44] xtianus79 commented on #743
@lisaweixu this is still breaking in version 1.20

[2022-04-07 17:15] xtianus79 commented on #743
@lisaweixu sorry 1 thing to note is that the error is only coming when using mono/mac versus windows/VS.

[2022-04-07 18:28] dargilco commented on #1447
Thanks for the clarification @ScholesMoneybrain . I start "Recognize continuously", it recognized my voice, then I press the Phone's back button, then I re-launch the app. I see that it continues to recognize my voice (I do not need to press anything). So it seems to be working for me.
If you show me where you added the call to "microphoneStream.close()", or send a PR yourself, I will consider add

[2022-04-07 23:49] pasha-o opened #1457 "CognitiveServices.Speech.core.so assembly can't be loaded - xamarin Android 12 Emulator x86_64 - API 31"
**Describe the bug**
@glharper , @jgardner04 Targeting new android API 31 on a fresh emulator on Pixel 5, API 31 with X86-64 processor, the DLL won't load.
libMicrosoft.CognitiveServices.Speech.core.so assembly:<unknown assembly> type:<unknown type> member:(null)

**Expected behavior**
dll should load

**Version of the Cognitive Services Speech SDK**
Microsoft.CognitiveServices.Speech Version 1.20

[2022-04-08 01:00] ScholesMoneybrain commented on #1447
I called 'microphoneStream.close()' on 'onDestroy'. You can close this. Thanks!

[2022-04-08 05:11] yulin-li commented on #1456
Hi @ylz201 could share the SSML you use?

[2022-04-08 05:31] softrime commented on #1455
@Jun711 the issue was fixed. fr-CA-SylvieNeural is back in westus2. Please have a check.

[2022-04-08 05:32] #1455 closed

[2022-04-08 11:31] asciiman opened #1459 "No audio output with SpeechSynthesizer in React Native"
**Describe the bug**
I am trying to get SpeechSynthesizer working in React Native. I set up code as outlined in [this example](https://github.com/microsoft/cognitive-services-sdk-react-native-example). It looks like the audio is running. I get a log message after a moment from the `player.onAudioEnd` callback. However, I hear no sound. I tried this on the simulator and a real device and of course

[2022-04-08 12:39] Farhad-Heybati opened #1460 "Wrong error message during the usage of Custom speech for Fr"
**Describe the bug**
A clear and concise description of what the bug is.
I get an error:
Number of success: 0
Number of failure: 1
Error message: [
  {
    filename: audio.wav
    inputText: Cliquez sur le nom du test pour afficher la pag...
    message:  Error: normalized text is empty.
    status: Failed
  }
]
But the test file is not empty.
**To Reproduce**
Steps to reproduce the behavior:
1. U

[2022-04-08 18:28] glharper commented on #1459
@asciiman Thanks for using Speech SDK, and writing this issue up. While we don't officially support React Native with the JS SDK, we do provide the sample integration repo as a starting point for the intrepid developer. I haven't looked at the audio playback use case specifically. What happens when you use the following result callback?
[code]

Are you getting actual audio data back?

[2022-04-08 19:55] dargilco commented on #1457
Adding @jhakulin

[2022-04-08 20:59] adbds commented on #1460
When uploading a data set with transcription, the first step consists in normalizing the text. It seems in the present case that the single line couldn't be normalized. This could happen for multiple reasons. Could you please share the transcription?

[2022-04-09 09:46] floringolintchi opened #1461 "java.lang.UnsatisfiedLinkError: 'void com.microsoft.cognitiveservices.speech.SpeechConfig.setTempDirectory(java.lang.String)' - Java CentOS 7"
Hello,

My application is a spring boot java project connecting to the azure services for converting speech to text, analyzing sentiment and translating. I am trying to deploy my application to a centos 7 VM, but I get the error in the title when calling the my application endpoint converting speech to text. I have no problem running the application from my local windows 10 machine. Here are my lo

[2022-04-09 14:06] asciiman commented on #1459
Thanks for your response, @glharper

I got an ArrayBuffer back:

`audio data: [object ArrayBuffer]`

When I stringify the audioData I get an empty object:
`console.log(`audio data: ${JSON.stringify(result.audioData)}`);` --> `audio data: {}`

Does that mean that no audio data is coming back?

[2022-04-11 16:55] glharper commented on #1459
@asciiman If the result.audioData.byteLength is zero, then you're getting no audio back from the result. What's the result.reason that you're getting back? I'd something like SynthesizingAudio or SynthesizingAudioCompleted (9 or 10).

For this use case, you may need to add callback to the synthesizer.Synthesizing event, as demonstrated [here](https://github.com/Azure-Samples/cognitive-services-spe

[2022-04-11 18:12] jhakulin commented on #1461
@floringolintchi Thanks for the report. java.lang.UnsatisfiedLinkError: 'void com.microsoft.cognitiveservices.speech.SpeechConfig.setTempDirectory, is probably due to libMicrosoft.CognitiveServices.Speech.java.bindings.so does not get loaded for some reason.
Are you using Windows Subsystem for Linux (WSL) for CentOS7 ?

@BrianMouncer Would you take a look at this ?

[2022-04-11 18:14] jhakulin commented on #1457
@pasha-o Thanks for the report. We will investigate and let you know what we can find out.

[2022-04-11 18:18] jhakulin commented on #1442
@gyuri-fluttech Unfortunately we cannot proceed the issue without local repro or more information. Set pending close.

[2022-04-11 18:21] jhakulin commented on #1407
@yulin-li @yinhew Could you please comment and link to documentation which audio formats supported by Pronounciation Assessment Api?

[2022-04-11 18:23] #1406 closed

[2022-04-11 18:26] jhakulin commented on #1295
Closing as support for this has been released in 1.20.0 Speech SDK release. Please let us know if there are any issues.

[2022-04-11 18:26] #1295 closed

[2022-04-11 18:27] jhakulin commented on #1271
Closing the issue as answered. Please let us know if there is more information needed for anything else.

[2022-04-11 18:27] #1271 closed

[2022-04-11 18:30] jhakulin commented on #1342
There will be a fix for https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1320 in 1.21.0 Speech SDK release. Setting pending close.

[2022-04-12 00:01] jhakulin commented on #1457
@pasha-o The problem is that currently Speech SDK NuGet for Xamarin do not contain x86_64 binary for Android, but only x86. If Android Studio do not support x86 emulation for API 31 (Android 12) and onwards, this is a gap, which we can fix in the future releases. For now, are you able to test your app using earlier Android API version and x86 emulator?

Alternatively if you want to do some tailori

[2022-04-12 04:42] jhakulin commented on #1457
Internal task 4179271

[2022-04-12 06:56] floringolintchi commented on #1461
No, just a regular machine I ssh into.

I've set a System.out.println(System.getProperty("java.library.path")); inside my endpoint to see if the program loads the libraries and you are right: /usr/local/lib64 is not set. I have tried setting it with -Djava.library.path, but it still doesn't seem to use them. Here is how the final command I've run looks like:

`sudo java -agentlib:jdwp=transport=dt

[2022-04-12 14:40] jhakulin commented on #1453
@vijayprakash1 Thanks for the report. The first problem you mentioned seems to be coming from AVAudioEngine

** Terminating app due to uncaught exception 'com.apple.coreaudio.avfaudio', reason: 'required condition is false: nullptr == Tap()

However not sure if that is still an issue (?) as based on your second message "current problem is that Microsoft Azure is not working efficiently in lower ve

[2022-04-12 16:21] vijayprakash1 commented on #1453
Thanks for the response @jhakulin,

Regarding the Could you please clarify more with examples what "Microsoft Azure is not working efficiently" means?

When I run the app on the latest iOS version like iPhone 12, it is working fine. I am getting the transcription data accurately in form of interim and final. But in the lower iOS version like I mentioned above, transcription is not working at all,

[2022-04-12 18:21] pasha-o commented on #1457
hi, @jhakulin thanks for the note. according to android [link](https://developer.android.com/games/optimize/64-bit), the apps must support the 64-bit architecture. Do you happen to know when you'd have support for the x86_64 binary as I feel android will move away from 32-bit.

[2022-04-12 19:27] jhakulin commented on #1457
@pasha-o Thanks, we do support 64-bit ARM architecture in the NuGet. We will add x86_64 support for Android NuGet for Xamarin as well in the next release (currently x86_64 is available in .aar package). Are you targeting x86_64 Xamarin to emulator only or to actual Android device which is using Intel's x64?

Below quick instructions on how to build Xamarin project with x86_64 architecture included

[2022-04-13 15:03] #1298 closed

[2022-04-13 15:03] #1255 closed

[2022-04-13 15:04] #1132 closed

[2022-04-13 17:41] pankopon commented on #1461
@floringolintchi Please follow all the instructions in https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-configure-rhel-centos-7. You need to set **`LD_LIBRARY_PATH`** (or alternatively modify `/etc/ld.so.conf`) to point to `/usr/local/lib64` (or whereever the updated C++ runtime libraries are installed). This must be in effect either in the same console where the Jav

[2022-04-13 20:38] davehorton opened #1463 "I seem to be receiving spurious transcripts -- how best to debug this"
**Describe the bug**
I am doing some testing where I mute my phone in order to send a silence stream to Azure, but I am finding that frequently after anywhere from 5 to 20 seconds it will send me back a transcript, usually a single word often "yes", or even a single letter "i".  I have made recordings of the audio streams that I am sending to verify they are nothing but silence packets.

Here is a

[2022-04-14 05:07] kamrapooja opened #1464 "Not able to delete audio file in Speech service"
**Describe the bug**
I am using speechSDK in python. Using FFMPEG i am getting audio from video that i have and then using that audio in speech sdk. And when speech to text is done,i am trying to delete this audio file in session_stopped event. But i am not able to delete it.

**To Reproduce**
Steps to reproduce the behavior:

1.  import azure.cognitiveservices.speech as speechsdk
2. speech_config